<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAliskuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAlisku">
    <id column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="SPUID" jdbcType="VARCHAR" property="spuid" />
    <result column="SELLERID" jdbcType="VARCHAR" property="sellerid" />
    <result column="MABANGSKU" jdbcType="VARCHAR" property="mabangsku" />
    <result column="IMGURL" jdbcType="VARCHAR" property="imgurl" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALISKU" jdbcType="VARCHAR" property="alisku" />
    <result column="PRODUCTLINK" jdbcType="VARCHAR" property="productlink" />
    <result column="SKUINFO" jdbcType="VARCHAR" property="skuinfo" />
    <result column="SINGLE" jdbcType="DECIMAL" property="single" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SKUID, SPUID, SELLERID, MABANGSKU, IMGURL, NAME, ALISKU, PRODUCTLINK, SKUINFO, 
    SINGLE
    from DB_ALISKU
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SKUID, SPUID, SELLERID, MABANGSKU, IMGURL, NAME, ALISKU, PRODUCTLINK, SKUINFO, 
    SINGLE
    from DB_ALISKU
  </select>
  <sql id="TableName">
    DB_ALISKU
  </sql>
  <sql id="Values">
     #{skuid,jdbcType=VARCHAR} , 
     #{spuid,jdbcType=VARCHAR} , 
     #{sellerid,jdbcType=VARCHAR} , 
     #{mabangsku,jdbcType=VARCHAR} , 
     #{imgurl,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{alisku,jdbcType=VARCHAR} , 
     #{productlink,jdbcType=VARCHAR} , 
     #{skuinfo,jdbcType=VARCHAR} , 
     #{single,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SKUID , 
    SPUID , 
    SELLERID , 
    MABANGSKU , 
    IMGURL , 
    NAME , 
    ALISKU , 
    PRODUCTLINK , 
    SKUINFO , 
    SINGLE , 
  </sql>
  <sql id="Criteria">
    <if test="skuid != null">
      skuid = #{skuid,jdbcType=VARCHAR} and 
    </if>
    <if test="spuid != null">
      spuid = #{spuid,jdbcType=VARCHAR} and 
    </if>
    <if test="sellerid != null">
      sellerid = #{sellerid,jdbcType=VARCHAR} and 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} and 
    </if>
    <if test="imgurl != null">
      imgurl = #{imgurl,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="alisku != null">
      alisku = #{alisku,jdbcType=VARCHAR} and 
    </if>
    <if test="productlink != null">
      productlink = #{productlink,jdbcType=VARCHAR} and 
    </if>
    <if test="skuinfo != null">
      skuinfo = #{skuinfo,jdbcType=VARCHAR} and 
    </if>
    <if test="single != null">
      single = #{single,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="skuid != null">
      skuid = #{skuid,jdbcType=VARCHAR} , 
    </if>
    <if test="spuid != null">
      spuid = #{spuid,jdbcType=VARCHAR} , 
    </if>
    <if test="sellerid != null">
      sellerid = #{sellerid,jdbcType=VARCHAR} , 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} , 
    </if>
    <if test="imgurl != null">
      imgurl = #{imgurl,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="alisku != null">
      alisku = #{alisku,jdbcType=VARCHAR} , 
    </if>
    <if test="productlink != null">
      productlink = #{productlink,jdbcType=VARCHAR} , 
    </if>
    <if test="skuinfo != null">
      skuinfo = #{skuinfo,jdbcType=VARCHAR} , 
    </if>
    <if test="single != null">
      single = #{single,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbAlisku" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SKUID=#{SKUID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbAlisku">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbAlisku">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbAlisku">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>