<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAlibbporderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAlibbporder">
    <id column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="PURCHASE" jdbcType="VARCHAR" property="purchase" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="LOGISTICSID" jdbcType="VARCHAR" property="logisticsid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="SUPPORTPRINT" jdbcType="VARCHAR" property="supportprint" />
    <result column="COMPANYPHONE" jdbcType="VARCHAR" property="companyphone" />
    <result column="COMPANYNO" jdbcType="VARCHAR" property="companyno" />
    <result column="COMPANYNAME" jdbcType="VARCHAR" property="companyname" />
    <result column="COMPANYID" jdbcType="VARCHAR" property="companyid" />
    <result column="CONTET" jdbcType="VARCHAR" property="contet" />
    <result column="ALISHOPID" jdbcType="VARCHAR" property="alishopid" />
    <result column="LOGISTICSORDERNO" jdbcType="VARCHAR" property="logisticsorderno" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="LOGISTICSTRACE" jdbcType="VARCHAR" property="logisticstrace" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ORDERID, REMARKS, PURCHASE, OPERTIME, CREATETIME, MODIFYTIME, LOGISTICSID, 
    FLAG, SUPPORTPRINT, COMPANYPHONE, COMPANYNO, COMPANYNAME, COMPANYID, CONTET, ALISHOPID, 
    LOGISTICSORDERNO, STATUS, LOGISTICSTRACE
    from DB_ALIBBPORDER
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORDERID, REMARKS, PURCHASE, OPERTIME, CREATETIME, MODIFYTIME, LOGISTICSID, 
    FLAG, SUPPORTPRINT, COMPANYPHONE, COMPANYNO, COMPANYNAME, COMPANYID, CONTET, ALISHOPID, 
    LOGISTICSORDERNO, STATUS, LOGISTICSTRACE
    from DB_ALIBBPORDER
  </select>
  <sql id="TableName">
    DB_ALIBBPORDER
  </sql>
  <sql id="Values">
     #{orderid,jdbcType=VARCHAR} , 
     #{remarks,jdbcType=VARCHAR} , 
     #{purchase,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{modifytime,jdbcType=TIMESTAMP} , 
     #{logisticsid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{supportprint,jdbcType=VARCHAR} , 
     #{companyphone,jdbcType=VARCHAR} , 
     #{companyno,jdbcType=VARCHAR} , 
     #{companyname,jdbcType=VARCHAR} , 
     #{companyid,jdbcType=VARCHAR} , 
     #{contet,jdbcType=VARCHAR} , 
     #{alishopid,jdbcType=VARCHAR} , 
     #{logisticsorderno,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{logisticstrace,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ORDERID , 
    REMARKS , 
    PURCHASE , 
    OPERTIME , 
    CREATETIME , 
    MODIFYTIME , 
    LOGISTICSID , 
    FLAG , 
    SUPPORTPRINT , 
    COMPANYPHONE , 
    COMPANYNO , 
    COMPANYNAME , 
    COMPANYID , 
    CONTET , 
    ALISHOPID , 
    LOGISTICSORDERNO , 
    STATUS , 
    LOGISTICSTRACE , 
  </sql>
  <sql id="Criteria">
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="remarks != null">
      remarks = #{remarks,jdbcType=VARCHAR} and 
    </if>
    <if test="purchase != null">
      purchase = #{purchase,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="modifytime != null">
      modifytime = #{modifytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="logisticsid != null">
      logisticsid = #{logisticsid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="supportprint != null">
      supportprint = #{supportprint,jdbcType=VARCHAR} and 
    </if>
    <if test="companyphone != null">
      companyphone = #{companyphone,jdbcType=VARCHAR} and 
    </if>
    <if test="companyno != null">
      companyno = #{companyno,jdbcType=VARCHAR} and 
    </if>
    <if test="companyname != null">
      companyname = #{companyname,jdbcType=VARCHAR} and 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=VARCHAR} and 
    </if>
    <if test="contet != null">
      contet = #{contet,jdbcType=VARCHAR} and 
    </if>
    <if test="alishopid != null">
      alishopid = #{alishopid,jdbcType=VARCHAR} and 
    </if>
    <if test="logisticsorderno != null">
      logisticsorderno = #{logisticsorderno,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="logisticstrace != null">
      logisticstrace = #{logisticstrace,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="remarks != null">
      remarks = #{remarks,jdbcType=VARCHAR} , 
    </if>
    <if test="purchase != null">
      purchase = #{purchase,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="modifytime != null">
      modifytime = #{modifytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="logisticsid != null">
      logisticsid = #{logisticsid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="supportprint != null">
      supportprint = #{supportprint,jdbcType=VARCHAR} , 
    </if>
    <if test="companyphone != null">
      companyphone = #{companyphone,jdbcType=VARCHAR} , 
    </if>
    <if test="companyno != null">
      companyno = #{companyno,jdbcType=VARCHAR} , 
    </if>
    <if test="companyname != null">
      companyname = #{companyname,jdbcType=VARCHAR} , 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=VARCHAR} , 
    </if>
    <if test="contet != null">
      contet = #{contet,jdbcType=VARCHAR} , 
    </if>
    <if test="alishopid != null">
      alishopid = #{alishopid,jdbcType=VARCHAR} , 
    </if>
    <if test="logisticsorderno != null">
      logisticsorderno = #{logisticsorderno,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="logisticstrace != null">
      logisticstrace = #{logisticstrace,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbAlibbporder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where ORDERID=#{ORDERID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbAlibbporder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbAlibbporder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbAlibbporder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>