<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAmazonorderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAmazonorder">
    <id column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="CUSTOMERTEL1" jdbcType="VARCHAR" property="customertel1" />
    <result column="CUSTOMERTEL2" jdbcType="VARCHAR" property="customertel2" />
    <result column="CUSTOMEREMAIL" jdbcType="VARCHAR" property="customeremail" />
    <result column="CUSTOMERQQ" jdbcType="VARCHAR" property="customerqq" />
    <result column="CUSTOMERMSN" jdbcType="VARCHAR" property="customermsn" />
    <result column="CUSTOMERZIPCODE" jdbcType="VARCHAR" property="customerzipcode" />
    <result column="CUSTOMERFAX" jdbcType="VARCHAR" property="customerfax" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="SALESOURCE" jdbcType="VARCHAR" property="salesource" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="MONEYORIGIN" jdbcType="DECIMAL" property="moneyorigin" />
    <result column="ORIGINMONEYTOTAL" jdbcType="DECIMAL" property="originmoneytotal" />
    <result column="MONEYTOTAL" jdbcType="DECIMAL" property="moneytotal" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="UPLOADTIME" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="PAYTIME" jdbcType="TIMESTAMP" property="paytime" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="MONEYEXPRESS" jdbcType="DECIMAL" property="moneyexpress" />
    <result column="ORIGINMONEYEXPRE" jdbcType="DECIMAL" property="originmoneyexpre" />
    <result column="EXPRESSMONEYTYPE" jdbcType="VARCHAR" property="expressmoneytype" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORIGINFINALVALUEFEE" jdbcType="DECIMAL" property="originfinalvaluefee" />
    <result column="FINALVALUEFEE" jdbcType="DECIMAL" property="finalvaluefee" />
    <result column="FINALVALUEFEEMONEYTYPE" jdbcType="VARCHAR" property="finalvaluefeemoneytype" />
    <result column="LATESTSHIPDATE" jdbcType="TIMESTAMP" property="latestshipdate" />
    <result column="CUSTOMERID" jdbcType="LONGVARCHAR" property="customerid" />
    <result column="CUSTOMERNAME" jdbcType="LONGVARCHAR" property="customername" />
    <result column="CUSTOMERCOUNTRY" jdbcType="LONGVARCHAR" property="customercountry" />
    <result column="CUSTOMERPROVINCE" jdbcType="LONGVARCHAR" property="customerprovince" />
    <result column="CUSTOMERCITY" jdbcType="LONGVARCHAR" property="customercity" />
    <result column="CUSTOMERADDRESS" jdbcType="LONGVARCHAR" property="customeraddress" />
    <result column="CUSTOMERADDRESS1" jdbcType="LONGVARCHAR" property="customeraddress1" />
    <result column="CUSTOMERADDRESS2" jdbcType="LONGVARCHAR" property="customeraddress2" />
    <result column="CUSTOMERADDRESS3" jdbcType="LONGVARCHAR" property="customeraddress3" />
    <result column="CUSTOMERADDRESSALL" jdbcType="LONGVARCHAR" property="customeraddressall" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ORDERID, CORPID, GROUPID, CUSTOMERTEL1, CUSTOMERTEL2, CUSTOMEREMAIL, CUSTOMERQQ, 
    CUSTOMERMSN, CUSTOMERZIPCODE, CUSTOMERFAX, SHOPTYPEID, SHOPTYPE, SALESOURCE, MONEYTYPE, 
    MONEYORIGIN, ORIGINMONEYTOTAL, MONEYTOTAL, ORDERNUM, ORDERTIME, UPLOADTIME, PAYTIME, 
    EXPRESSTYPE, TRANSACTIONID, MONEYEXPRESS, ORIGINMONEYEXPRE, EXPRESSMONEYTYPE, STATUS, 
    ORIGINFINALVALUEFEE, FINALVALUEFEE, FINALVALUEFEEMONEYTYPE, LATESTSHIPDATE, CUSTOMERID, 
    CUSTOMERNAME, CUSTOMERCOUNTRY, CUSTOMERPROVINCE, CUSTOMERCITY, CUSTOMERADDRESS, CUSTOMERADDRESS1, 
    CUSTOMERADDRESS2, CUSTOMERADDRESS3, CUSTOMERADDRESSALL
    from db_amazonorder
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORDERID, CORPID, GROUPID, CUSTOMERTEL1, CUSTOMERTEL2, CUSTOMEREMAIL, CUSTOMERQQ, 
    CUSTOMERMSN, CUSTOMERZIPCODE, CUSTOMERFAX, SHOPTYPEID, SHOPTYPE, SALESOURCE, MONEYTYPE, 
    MONEYORIGIN, ORIGINMONEYTOTAL, MONEYTOTAL, ORDERNUM, ORDERTIME, UPLOADTIME, PAYTIME, 
    EXPRESSTYPE, TRANSACTIONID, MONEYEXPRESS, ORIGINMONEYEXPRE, EXPRESSMONEYTYPE, STATUS, 
    ORIGINFINALVALUEFEE, FINALVALUEFEE, FINALVALUEFEEMONEYTYPE, LATESTSHIPDATE, CUSTOMERID, 
    CUSTOMERNAME, CUSTOMERCOUNTRY, CUSTOMERPROVINCE, CUSTOMERCITY, CUSTOMERADDRESS, CUSTOMERADDRESS1, 
    CUSTOMERADDRESS2, CUSTOMERADDRESS3, CUSTOMERADDRESSALL
    from db_amazonorder
  </select>
  <sql id="TableName">
    db_amazonorder
  </sql>
  <sql id="Values">
     #{orderid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{customertel1,jdbcType=VARCHAR} , 
     #{customertel2,jdbcType=VARCHAR} , 
     #{customeremail,jdbcType=VARCHAR} , 
     #{customerqq,jdbcType=VARCHAR} , 
     #{customermsn,jdbcType=VARCHAR} , 
     #{customerzipcode,jdbcType=VARCHAR} , 
     #{customerfax,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{salesource,jdbcType=VARCHAR} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{moneyorigin,jdbcType=DECIMAL} , 
     #{originmoneytotal,jdbcType=DECIMAL} , 
     #{moneytotal,jdbcType=DECIMAL} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{uploadtime,jdbcType=TIMESTAMP} , 
     #{paytime,jdbcType=TIMESTAMP} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{transactionid,jdbcType=VARCHAR} , 
     #{moneyexpress,jdbcType=DECIMAL} , 
     #{originmoneyexpre,jdbcType=DECIMAL} , 
     #{expressmoneytype,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{originfinalvaluefee,jdbcType=DECIMAL} , 
     #{finalvaluefee,jdbcType=DECIMAL} , 
     #{finalvaluefeemoneytype,jdbcType=VARCHAR} , 
     #{latestshipdate,jdbcType=TIMESTAMP} , 
     #{customerid,jdbcType=LONGVARCHAR} , 
     #{customername,jdbcType=LONGVARCHAR} , 
     #{customercountry,jdbcType=LONGVARCHAR} , 
     #{customerprovince,jdbcType=LONGVARCHAR} , 
     #{customercity,jdbcType=LONGVARCHAR} , 
     #{customeraddress,jdbcType=LONGVARCHAR} , 
     #{customeraddress1,jdbcType=LONGVARCHAR} , 
     #{customeraddress2,jdbcType=LONGVARCHAR} , 
     #{customeraddress3,jdbcType=LONGVARCHAR} , 
     #{customeraddressall,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    ORDERID , 
    CORPID , 
    GROUPID , 
    CUSTOMERTEL1 , 
    CUSTOMERTEL2 , 
    CUSTOMEREMAIL , 
    CUSTOMERQQ , 
    CUSTOMERMSN , 
    CUSTOMERZIPCODE , 
    CUSTOMERFAX , 
    SHOPTYPEID , 
    SHOPTYPE , 
    SALESOURCE , 
    MONEYTYPE , 
    MONEYORIGIN , 
    ORIGINMONEYTOTAL , 
    MONEYTOTAL , 
    ORDERNUM , 
    ORDERTIME , 
    UPLOADTIME , 
    PAYTIME , 
    EXPRESSTYPE , 
    TRANSACTIONID , 
    MONEYEXPRESS , 
    ORIGINMONEYEXPRE , 
    EXPRESSMONEYTYPE , 
    STATUS , 
    ORIGINFINALVALUEFEE , 
    FINALVALUEFEE , 
    FINALVALUEFEEMONEYTYPE , 
    LATESTSHIPDATE , 
    CUSTOMERID , 
    CUSTOMERNAME , 
    CUSTOMERCOUNTRY , 
    CUSTOMERPROVINCE , 
    CUSTOMERCITY , 
    CUSTOMERADDRESS , 
    CUSTOMERADDRESS1 , 
    CUSTOMERADDRESS2 , 
    CUSTOMERADDRESS3 , 
    CUSTOMERADDRESSALL
  </sql>
  <sql id="Criteria">
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="customertel1 != null">
      CUSTOMERTEL1 = #{customertel1,jdbcType=VARCHAR} and 
    </if>
    <if test="customertel2 != null">
      CUSTOMERTEL2 = #{customertel2,jdbcType=VARCHAR} and 
    </if>
    <if test="customeremail != null">
      CUSTOMEREMAIL = #{customeremail,jdbcType=VARCHAR} and 
    </if>
    <if test="customerqq != null">
      CUSTOMERQQ = #{customerqq,jdbcType=VARCHAR} and 
    </if>
    <if test="customermsn != null">
      CUSTOMERMSN = #{customermsn,jdbcType=VARCHAR} and 
    </if>
    <if test="customerzipcode != null">
      CUSTOMERZIPCODE = #{customerzipcode,jdbcType=VARCHAR} and 
    </if>
    <if test="customerfax != null">
      CUSTOMERFAX = #{customerfax,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="salesource != null">
      SALESOURCE = #{salesource,jdbcType=VARCHAR} and 
    </if>
    <if test="moneytype != null">
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyorigin != null">
      MONEYORIGIN = #{moneyorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="originmoneytotal != null">
      ORIGINMONEYTOTAL = #{originmoneytotal,jdbcType=DECIMAL} and 
    </if>
    <if test="moneytotal != null">
      MONEYTOTAL = #{moneytotal,jdbcType=DECIMAL} and 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="ordertime != null">
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="uploadtime != null">
      UPLOADTIME = #{uploadtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="paytime != null">
      PAYTIME = #{paytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="transactionid != null">
      TRANSACTIONID = #{transactionid,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyexpress != null">
      MONEYEXPRESS = #{moneyexpress,jdbcType=DECIMAL} and 
    </if>
    <if test="originmoneyexpre != null">
      ORIGINMONEYEXPRE = #{originmoneyexpre,jdbcType=DECIMAL} and 
    </if>
    <if test="expressmoneytype != null">
      EXPRESSMONEYTYPE = #{expressmoneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="originfinalvaluefee != null">
      ORIGINFINALVALUEFEE = #{originfinalvaluefee,jdbcType=DECIMAL} and 
    </if>
    <if test="finalvaluefee != null">
      FINALVALUEFEE = #{finalvaluefee,jdbcType=DECIMAL} and 
    </if>
    <if test="finalvaluefeemoneytype != null">
      FINALVALUEFEEMONEYTYPE = #{finalvaluefeemoneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="latestshipdate != null">
      LATESTSHIPDATE = #{latestshipdate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="customerid != null">
      CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customername != null">
      CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customercountry != null">
      CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customerprovince != null">
      CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customercity != null">
      CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customeraddress != null">
      CUSTOMERADDRESS = #{customeraddress,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customeraddress1 != null">
      CUSTOMERADDRESS1 = #{customeraddress1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customeraddress2 != null">
      CUSTOMERADDRESS2 = #{customeraddress2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customeraddress3 != null">
      CUSTOMERADDRESS3 = #{customeraddress3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customeraddressall != null">
      CUSTOMERADDRESSALL = #{customeraddressall,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="customertel1 != null">
      CUSTOMERTEL1 = #{customertel1,jdbcType=VARCHAR} , 
    </if>
    <if test="customertel2 != null">
      CUSTOMERTEL2 = #{customertel2,jdbcType=VARCHAR} , 
    </if>
    <if test="customeremail != null">
      CUSTOMEREMAIL = #{customeremail,jdbcType=VARCHAR} , 
    </if>
    <if test="customerqq != null">
      CUSTOMERQQ = #{customerqq,jdbcType=VARCHAR} , 
    </if>
    <if test="customermsn != null">
      CUSTOMERMSN = #{customermsn,jdbcType=VARCHAR} , 
    </if>
    <if test="customerzipcode != null">
      CUSTOMERZIPCODE = #{customerzipcode,jdbcType=VARCHAR} , 
    </if>
    <if test="customerfax != null">
      CUSTOMERFAX = #{customerfax,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="salesource != null">
      SALESOURCE = #{salesource,jdbcType=VARCHAR} , 
    </if>
    <if test="moneytype != null">
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyorigin != null">
      MONEYORIGIN = #{moneyorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="originmoneytotal != null">
      ORIGINMONEYTOTAL = #{originmoneytotal,jdbcType=DECIMAL} , 
    </if>
    <if test="moneytotal != null">
      MONEYTOTAL = #{moneytotal,jdbcType=DECIMAL} , 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="ordertime != null">
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="uploadtime != null">
      UPLOADTIME = #{uploadtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="paytime != null">
      PAYTIME = #{paytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="transactionid != null">
      TRANSACTIONID = #{transactionid,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyexpress != null">
      MONEYEXPRESS = #{moneyexpress,jdbcType=DECIMAL} , 
    </if>
    <if test="originmoneyexpre != null">
      ORIGINMONEYEXPRE = #{originmoneyexpre,jdbcType=DECIMAL} , 
    </if>
    <if test="expressmoneytype != null">
      EXPRESSMONEYTYPE = #{expressmoneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="originfinalvaluefee != null">
      ORIGINFINALVALUEFEE = #{originfinalvaluefee,jdbcType=DECIMAL} , 
    </if>
    <if test="finalvaluefee != null">
      FINALVALUEFEE = #{finalvaluefee,jdbcType=DECIMAL} , 
    </if>
    <if test="finalvaluefeemoneytype != null">
      FINALVALUEFEEMONEYTYPE = #{finalvaluefeemoneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="latestshipdate != null">
      LATESTSHIPDATE = #{latestshipdate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="customerid != null">
      CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customername != null">
      CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customercountry != null">
      CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customerprovince != null">
      CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customercity != null">
      CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customeraddress != null">
      CUSTOMERADDRESS = #{customeraddress,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customeraddress1 != null">
      CUSTOMERADDRESS1 = #{customeraddress1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customeraddress2 != null">
      CUSTOMERADDRESS2 = #{customeraddress2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customeraddress3 != null">
      CUSTOMERADDRESS3 = #{customeraddress3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customeraddressall != null">
      CUSTOMERADDRESSALL = #{customeraddressall,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbAmazonorder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where ORDERID=#{ORDERID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbAmazonorder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbAmazonorder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbAmazonorder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>