<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAywarehouseMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAywarehouse">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAMECN" jdbcType="VARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="VARCHAR" property="nameen" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="ORDERTYPE" jdbcType="VARCHAR" property="ordertype" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, CODE, NAMECN, NAMEEN, OPER, OPERTIME, OPENFLAG, ORDERTYPE
    from DB_AYWAREHOUSE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, CODE, NAMECN, NAMEEN, OPER, OPERTIME, OPENFLAG, ORDERTYPE
    from DB_AYWAREHOUSE
  </select>
  <sql id="TableName">
    DB_AYWAREHOUSE
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{code,jdbcType=VARCHAR} , 
     #{namecn,jdbcType=VARCHAR} , 
     #{nameen,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{ordertype,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    CODE , 
    NAMECN , 
    NAMEEN , 
    OPER , 
    OPERTIME , 
    OPENFLAG , 
    ORDERTYPE , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} and 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} and 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertype != null">
      ordertype = #{ordertype,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} , 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} , 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertype != null">
      ordertype = #{ordertype,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbAywarehouse" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbAywarehouse">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbAywarehouse">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbAywarehouse">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>