<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBackMoneyMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBackMoney">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SUPPLIERID" jdbcType="VARCHAR" property="supplierid" />
    <result column="SUPPLIERNAME" jdbcType="VARCHAR" property="suppliername" />
    <result column="BACKMONEY" jdbcType="DECIMAL" property="backmoney" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPERFLAG" jdbcType="VARCHAR" property="operflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select SEQUENCEID, SUPPLIERID, SUPPLIERNAME, BACKMONEY, OPER, OPERTIME, PRODUCTID, 
    CREATETIME, OPERFLAG, CORPID, CREATEOPER
    from db_back_money
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SUPPLIERID, SUPPLIERNAME, BACKMONEY, OPER, OPERTIME, PRODUCTID, 
    CREATETIME, OPERFLAG, CORPID, CREATEOPER
    from db_back_money
  </select>
  <sql id="TableName">
    db_back_money
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{supplierid,jdbcType=VARCHAR} , 
     #{suppliername,jdbcType=VARCHAR} , 
     #{backmoney,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{productid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{operflag,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SUPPLIERID , 
    SUPPLIERNAME , 
    BACKMONEY , 
    OPER , 
    OPERTIME , 
    PRODUCTID , 
    CREATETIME , 
    OPERFLAG , 
    CORPID , 
    CREATEOPER
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="supplierid != null">
      SUPPLIERID = #{supplierid,jdbcType=VARCHAR} and 
    </if>
    <if test="suppliername != null">
      SUPPLIERNAME = #{suppliername,jdbcType=VARCHAR} and 
    </if>
    <if test="backmoney != null">
      BACKMONEY = #{backmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="operflag != null">
      OPERFLAG = #{operflag,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="supplierid != null">
      SUPPLIERID = #{supplierid,jdbcType=VARCHAR} , 
    </if>
    <if test="suppliername != null">
      SUPPLIERNAME = #{suppliername,jdbcType=VARCHAR} , 
    </if>
    <if test="backmoney != null">
      BACKMONEY = #{backmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="operflag != null">
      OPERFLAG = #{operflag,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBackMoney" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBackMoney">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBackMoney">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBackMoney">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>