<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBanproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBanproduct">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="COPERID" jdbcType="VARCHAR" property="coperid" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FILED7" jdbcType="DECIMAL" property="filed7" />
    <result column="FILED8" jdbcType="DECIMAL" property="filed8" />
    <result column="FILED9" jdbcType="DECIMAL" property="filed9" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="LONGVARCHAR" property="oper" />
    <result column="FILED1" jdbcType="LONGVARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="LONGVARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="LONGVARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="LONGVARCHAR" property="filed4" />
    <result column="FILED5" jdbcType="LONGVARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="LONGVARCHAR" property="filed6" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, PRODUCTID, SHOPID, COPERID, OPERTIME, FILED7, FILED8, FILED9, OPENFLAG, 
    OPER, FILED1, FILED2, FILED3, FILED4, FILED5, FILED6
    from db_banproduct
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, PRODUCTID, SHOPID, COPERID, OPERTIME, FILED7, FILED8, FILED9, OPENFLAG, 
    OPER, FILED1, FILED2, FILED3, FILED4, FILED5, FILED6
    from db_banproduct
  </select>
  <sql id="TableName">
    db_banproduct
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{coperid,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{filed7,jdbcType=DECIMAL} , 
     #{filed8,jdbcType=DECIMAL} , 
     #{filed9,jdbcType=DECIMAL} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=LONGVARCHAR} , 
     #{filed1,jdbcType=LONGVARCHAR} , 
     #{filed2,jdbcType=LONGVARCHAR} , 
     #{filed3,jdbcType=LONGVARCHAR} , 
     #{filed4,jdbcType=LONGVARCHAR} , 
     #{filed5,jdbcType=LONGVARCHAR} , 
     #{filed6,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    PRODUCTID , 
    SHOPID , 
    COPERID , 
    OPERTIME , 
    FILED7 , 
    FILED8 , 
    FILED9 , 
    OPENFLAG , 
    OPER , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    FILED6
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="coperid != null">
      COPERID = #{coperid,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=DECIMAL} and 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=DECIMAL} and 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=DECIMAL} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="coperid != null">
      COPERID = #{coperid,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=DECIMAL} , 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=DECIMAL} , 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=DECIMAL} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBanproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBanproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBanproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBanproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>