<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBiaojuuserMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBiaojuuser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="BIAOJUTOKEN" jdbcType="VARCHAR" property="biaojutoken" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, BIAOJUTOKEN
    from DB_BIAOJUUSER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, BIAOJUTOKEN
    from DB_BIAOJUUSER
  </select>
  <sql id="TableName">
    DB_BIAOJUUSER
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{biaojutoken,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    BIAOJUTOKEN , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="biaojutoken != null">
      biaojutoken = #{biaojutoken,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="biaojutoken != null">
      biaojutoken = #{biaojutoken,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBiaojuuser" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBiaojuuser">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBiaojuuser">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBiaojuuser">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>