<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBirdexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBirdexpresstype">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SPECIALTYPE" jdbcType="VARCHAR" property="specialtype" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, NAME, SPECIALTYPE, OPERTIME
    from DB_BIRDEXPRESSTYPE
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, SPECIALTYPE, OPERTIME
    from DB_BIRDEXPRESSTYPE
  </select>
  <sql id="TableName">
    DB_BIRDEXPRESSTYPE
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{specialtype,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    SPECIALTYPE , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="specialtype != null">
      specialtype = #{specialtype,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="specialtype != null">
      specialtype = #{specialtype,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBirdexpresstype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBirdexpresstype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBirdexpresstype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBirdexpresstype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>