<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBullettypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBullettype">
    <id column="BULLETTYPE" jdbcType="DECIMAL" property="bullettype" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select BULLETTYPE, DESCR
    from DB_BULLETTYPE
    where BULLETTYPE = #{bullettype,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select BULLETTYPE, DESCR
    from DB_BULLETTYPE
  </select>
  <sql id="TableName">
    DB_BULLETTYPE
  </sql>
  <sql id="Values">
     #{bullettype,jdbcType=DECIMAL} , 
     #{descr,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    BULLETTYPE , 
    DESCR , 
  </sql>
  <sql id="Criteria">
    <if test="bullettype != null">
      bullettype = #{bullettype,jdbcType=DECIMAL} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="bullettype != null">
      bullettype = #{bullettype,jdbcType=DECIMAL} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBullettype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where BULLETTYPE=#{BULLETTYPE}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBullettype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBullettype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBullettype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>