<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCalAmongMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCalAmong">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="EXCHANGERATE" jdbcType="DECIMAL" property="exchangerate" />
    <result column="DEFAULTRATE" jdbcType="DECIMAL" property="defaultrate" />
    <result column="PAYPALCOST" jdbcType="DECIMAL" property="paypalcost" />
    <result column="PAGECHARGE" jdbcType="DECIMAL" property="pagecharge" />
    <result column="FIXEDCHARGE" jdbcType="DECIMAL" property="fixedcharge" />
    <result column="EXPRESSTYPEFEEID" jdbcType="VARCHAR" property="expresstypefeeid" />
    <result column="EXPRESSTYPEFILED8" jdbcType="DECIMAL" property="expresstypefiled8" />
    <result column="PACKWEIGHT" jdbcType="DECIMAL" property="packweight" />
    <result column="PACKCOST" jdbcType="DECIMAL" property="packcost" />
    <result column="MAOLI" jdbcType="DECIMAL" property="maoli" />
    <result column="TOCOUNTRY" jdbcType="VARCHAR" property="tocountry" />
    <result column="CID" jdbcType="DECIMAL" property="cid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FREIGHT" jdbcType="DECIMAL" property="freight" />
    <result column="TOTALPRICE" jdbcType="DECIMAL" property="totalprice" />
    <result column="BASEMONEY" jdbcType="DECIMAL" property="basemoney" />
    <result column="BASEWEIGHT" jdbcType="DECIMAL" property="baseweight" />
    <result column="UNITMONEY" jdbcType="DECIMAL" property="unitmoney" />
    <result column="UNITWEIGHT" jdbcType="DECIMAL" property="unitweight" />
    <result column="FIXEDMONEY1" jdbcType="DECIMAL" property="fixedmoney1" />
    <result column="FIXEDMONEY2" jdbcType="DECIMAL" property="fixedmoney2" />
    <result column="XBRESERVE8" jdbcType="DECIMAL" property="xbreserve8" />
    <result column="XBRESERVE7" jdbcType="DECIMAL" property="xbreserve7" />
    <result column="CALCULATEFLAG" jdbcType="VARCHAR" property="calculateflag" />
    <result column="SLRESERVE7" jdbcType="DECIMAL" property="slreserve7" />
    <result column="EBAYFEE" jdbcType="DECIMAL" property="ebayfee" />
    <result column="PAYPALFEE" jdbcType="DECIMAL" property="paypalfee" />
    <result column="FINALCOST" jdbcType="DECIMAL" property="finalcost" />
    <result column="FINALCOSTRMB" jdbcType="DECIMAL" property="finalcostrmb" />
    <result column="COSTFILED8" jdbcType="DECIMAL" property="costfiled8" />
    <result column="COSTFILED9" jdbcType="DECIMAL" property="costfiled9" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, SID, WEIGHT, COSTPRICE, CURRENCY, EXCHANGERATE, DEFAULTRATE, PAYPALCOST, 
    PAGECHARGE, FIXEDCHARGE, EXPRESSTYPEFEEID, EXPRESSTYPEFILED8, PACKWEIGHT, PACKCOST, 
    MAOLI, TOCOUNTRY, CID, NAME, FREIGHT, TOTALPRICE, BASEMONEY, BASEWEIGHT, UNITMONEY, 
    UNITWEIGHT, FIXEDMONEY1, FIXEDMONEY2, XBRESERVE8, XBRESERVE7, CALCULATEFLAG, SLRESERVE7, 
    EBAYFEE, PAYPALFEE, FINALCOST, FINALCOSTRMB, COSTFILED8, COSTFILED9
    from db_cal_among
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SID, WEIGHT, COSTPRICE, CURRENCY, EXCHANGERATE, DEFAULTRATE, PAYPALCOST, 
    PAGECHARGE, FIXEDCHARGE, EXPRESSTYPEFEEID, EXPRESSTYPEFILED8, PACKWEIGHT, PACKCOST, 
    MAOLI, TOCOUNTRY, CID, NAME, FREIGHT, TOTALPRICE, BASEMONEY, BASEWEIGHT, UNITMONEY, 
    UNITWEIGHT, FIXEDMONEY1, FIXEDMONEY2, XBRESERVE8, XBRESERVE7, CALCULATEFLAG, SLRESERVE7, 
    EBAYFEE, PAYPALFEE, FINALCOST, FINALCOSTRMB, COSTFILED8, COSTFILED9
    from db_cal_among
  </select>
  <sql id="TableName">
    db_cal_among
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{sid,jdbcType=VARCHAR} , 
     #{weight,jdbcType=DECIMAL} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{currency,jdbcType=VARCHAR} , 
     #{exchangerate,jdbcType=DECIMAL} , 
     #{defaultrate,jdbcType=DECIMAL} , 
     #{paypalcost,jdbcType=DECIMAL} , 
     #{pagecharge,jdbcType=DECIMAL} , 
     #{fixedcharge,jdbcType=DECIMAL} , 
     #{expresstypefeeid,jdbcType=VARCHAR} , 
     #{expresstypefiled8,jdbcType=DECIMAL} , 
     #{packweight,jdbcType=DECIMAL} , 
     #{packcost,jdbcType=DECIMAL} , 
     #{maoli,jdbcType=DECIMAL} , 
     #{tocountry,jdbcType=VARCHAR} , 
     #{cid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{freight,jdbcType=DECIMAL} , 
     #{totalprice,jdbcType=DECIMAL} , 
     #{basemoney,jdbcType=DECIMAL} , 
     #{baseweight,jdbcType=DECIMAL} , 
     #{unitmoney,jdbcType=DECIMAL} , 
     #{unitweight,jdbcType=DECIMAL} , 
     #{fixedmoney1,jdbcType=DECIMAL} , 
     #{fixedmoney2,jdbcType=DECIMAL} , 
     #{xbreserve8,jdbcType=DECIMAL} , 
     #{xbreserve7,jdbcType=DECIMAL} , 
     #{calculateflag,jdbcType=VARCHAR} , 
     #{slreserve7,jdbcType=DECIMAL} , 
     #{ebayfee,jdbcType=DECIMAL} , 
     #{paypalfee,jdbcType=DECIMAL} , 
     #{finalcost,jdbcType=DECIMAL} , 
     #{finalcostrmb,jdbcType=DECIMAL} , 
     #{costfiled8,jdbcType=DECIMAL} , 
     #{costfiled9,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SID , 
    WEIGHT , 
    COSTPRICE , 
    CURRENCY , 
    EXCHANGERATE , 
    DEFAULTRATE , 
    PAYPALCOST , 
    PAGECHARGE , 
    FIXEDCHARGE , 
    EXPRESSTYPEFEEID , 
    EXPRESSTYPEFILED8 , 
    PACKWEIGHT , 
    PACKCOST , 
    MAOLI , 
    TOCOUNTRY , 
    CID , 
    NAME , 
    FREIGHT , 
    TOTALPRICE , 
    BASEMONEY , 
    BASEWEIGHT , 
    UNITMONEY , 
    UNITWEIGHT , 
    FIXEDMONEY1 , 
    FIXEDMONEY2 , 
    XBRESERVE8 , 
    XBRESERVE7 , 
    CALCULATEFLAG , 
    SLRESERVE7 , 
    EBAYFEE , 
    PAYPALFEE , 
    FINALCOST , 
    FINALCOSTRMB , 
    COSTFILED8 , 
    COSTFILED9
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="weight != null">
      WEIGHT = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="costprice != null">
      COSTPRICE = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="currency != null">
      CURRENCY = #{currency,jdbcType=VARCHAR} and 
    </if>
    <if test="exchangerate != null">
      EXCHANGERATE = #{exchangerate,jdbcType=DECIMAL} and 
    </if>
    <if test="defaultrate != null">
      DEFAULTRATE = #{defaultrate,jdbcType=DECIMAL} and 
    </if>
    <if test="paypalcost != null">
      PAYPALCOST = #{paypalcost,jdbcType=DECIMAL} and 
    </if>
    <if test="pagecharge != null">
      PAGECHARGE = #{pagecharge,jdbcType=DECIMAL} and 
    </if>
    <if test="fixedcharge != null">
      FIXEDCHARGE = #{fixedcharge,jdbcType=DECIMAL} and 
    </if>
    <if test="expresstypefeeid != null">
      EXPRESSTYPEFEEID = #{expresstypefeeid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstypefiled8 != null">
      EXPRESSTYPEFILED8 = #{expresstypefiled8,jdbcType=DECIMAL} and 
    </if>
    <if test="packweight != null">
      PACKWEIGHT = #{packweight,jdbcType=DECIMAL} and 
    </if>
    <if test="packcost != null">
      PACKCOST = #{packcost,jdbcType=DECIMAL} and 
    </if>
    <if test="maoli != null">
      MAOLI = #{maoli,jdbcType=DECIMAL} and 
    </if>
    <if test="tocountry != null">
      TOCOUNTRY = #{tocountry,jdbcType=VARCHAR} and 
    </if>
    <if test="cid != null">
      CID = #{cid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="freight != null">
      FREIGHT = #{freight,jdbcType=DECIMAL} and 
    </if>
    <if test="totalprice != null">
      TOTALPRICE = #{totalprice,jdbcType=DECIMAL} and 
    </if>
    <if test="basemoney != null">
      BASEMONEY = #{basemoney,jdbcType=DECIMAL} and 
    </if>
    <if test="baseweight != null">
      BASEWEIGHT = #{baseweight,jdbcType=DECIMAL} and 
    </if>
    <if test="unitmoney != null">
      UNITMONEY = #{unitmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="unitweight != null">
      UNITWEIGHT = #{unitweight,jdbcType=DECIMAL} and 
    </if>
    <if test="fixedmoney1 != null">
      FIXEDMONEY1 = #{fixedmoney1,jdbcType=DECIMAL} and 
    </if>
    <if test="fixedmoney2 != null">
      FIXEDMONEY2 = #{fixedmoney2,jdbcType=DECIMAL} and 
    </if>
    <if test="xbreserve8 != null">
      XBRESERVE8 = #{xbreserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="xbreserve7 != null">
      XBRESERVE7 = #{xbreserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="calculateflag != null">
      CALCULATEFLAG = #{calculateflag,jdbcType=VARCHAR} and 
    </if>
    <if test="slreserve7 != null">
      SLRESERVE7 = #{slreserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayfee != null">
      EBAYFEE = #{ebayfee,jdbcType=DECIMAL} and 
    </if>
    <if test="paypalfee != null">
      PAYPALFEE = #{paypalfee,jdbcType=DECIMAL} and 
    </if>
    <if test="finalcost != null">
      FINALCOST = #{finalcost,jdbcType=DECIMAL} and 
    </if>
    <if test="finalcostrmb != null">
      FINALCOSTRMB = #{finalcostrmb,jdbcType=DECIMAL} and 
    </if>
    <if test="costfiled8 != null">
      COSTFILED8 = #{costfiled8,jdbcType=DECIMAL} and 
    </if>
    <if test="costfiled9 != null">
      COSTFILED9 = #{costfiled9,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="weight != null">
      WEIGHT = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="costprice != null">
      COSTPRICE = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="currency != null">
      CURRENCY = #{currency,jdbcType=VARCHAR} , 
    </if>
    <if test="exchangerate != null">
      EXCHANGERATE = #{exchangerate,jdbcType=DECIMAL} , 
    </if>
    <if test="defaultrate != null">
      DEFAULTRATE = #{defaultrate,jdbcType=DECIMAL} , 
    </if>
    <if test="paypalcost != null">
      PAYPALCOST = #{paypalcost,jdbcType=DECIMAL} , 
    </if>
    <if test="pagecharge != null">
      PAGECHARGE = #{pagecharge,jdbcType=DECIMAL} , 
    </if>
    <if test="fixedcharge != null">
      FIXEDCHARGE = #{fixedcharge,jdbcType=DECIMAL} , 
    </if>
    <if test="expresstypefeeid != null">
      EXPRESSTYPEFEEID = #{expresstypefeeid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstypefiled8 != null">
      EXPRESSTYPEFILED8 = #{expresstypefiled8,jdbcType=DECIMAL} , 
    </if>
    <if test="packweight != null">
      PACKWEIGHT = #{packweight,jdbcType=DECIMAL} , 
    </if>
    <if test="packcost != null">
      PACKCOST = #{packcost,jdbcType=DECIMAL} , 
    </if>
    <if test="maoli != null">
      MAOLI = #{maoli,jdbcType=DECIMAL} , 
    </if>
    <if test="tocountry != null">
      TOCOUNTRY = #{tocountry,jdbcType=VARCHAR} , 
    </if>
    <if test="cid != null">
      CID = #{cid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="freight != null">
      FREIGHT = #{freight,jdbcType=DECIMAL} , 
    </if>
    <if test="totalprice != null">
      TOTALPRICE = #{totalprice,jdbcType=DECIMAL} , 
    </if>
    <if test="basemoney != null">
      BASEMONEY = #{basemoney,jdbcType=DECIMAL} , 
    </if>
    <if test="baseweight != null">
      BASEWEIGHT = #{baseweight,jdbcType=DECIMAL} , 
    </if>
    <if test="unitmoney != null">
      UNITMONEY = #{unitmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="unitweight != null">
      UNITWEIGHT = #{unitweight,jdbcType=DECIMAL} , 
    </if>
    <if test="fixedmoney1 != null">
      FIXEDMONEY1 = #{fixedmoney1,jdbcType=DECIMAL} , 
    </if>
    <if test="fixedmoney2 != null">
      FIXEDMONEY2 = #{fixedmoney2,jdbcType=DECIMAL} , 
    </if>
    <if test="xbreserve8 != null">
      XBRESERVE8 = #{xbreserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="xbreserve7 != null">
      XBRESERVE7 = #{xbreserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="calculateflag != null">
      CALCULATEFLAG = #{calculateflag,jdbcType=VARCHAR} , 
    </if>
    <if test="slreserve7 != null">
      SLRESERVE7 = #{slreserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayfee != null">
      EBAYFEE = #{ebayfee,jdbcType=DECIMAL} , 
    </if>
    <if test="paypalfee != null">
      PAYPALFEE = #{paypalfee,jdbcType=DECIMAL} , 
    </if>
    <if test="finalcost != null">
      FINALCOST = #{finalcost,jdbcType=DECIMAL} , 
    </if>
    <if test="finalcostrmb != null">
      FINALCOSTRMB = #{finalcostrmb,jdbcType=DECIMAL} , 
    </if>
    <if test="costfiled8 != null">
      COSTFILED8 = #{costfiled8,jdbcType=DECIMAL} , 
    </if>
    <if test="costfiled9 != null">
      COSTFILED9 = #{costfiled9,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCalAmong" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCalAmong">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCalAmong">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCalAmong">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>