<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCaiwulogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCaiwulog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="SOURCEID" jdbcType="VARCHAR" property="sourceid" />
    <result column="MONEYRATE" jdbcType="VARCHAR" property="moneyrate" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, SOURCE, SOURCEID, MONEYRATE, MONEY, GROUPID, REMARK, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, CORPID, OPENFLAG, STATUS, DESCR, OPER, OPERTIME
    from DB_CAIWULOG
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SOURCE, SOURCEID, MONEYRATE, MONEY, GROUPID, REMARK, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, CORPID, OPENFLAG, STATUS, DESCR, OPER, OPERTIME
    from DB_CAIWULOG
  </select>
  <sql id="TableName">
    DB_CAIWULOG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{source,jdbcType=VARCHAR} , 
     #{sourceid,jdbcType=VARCHAR} , 
     #{moneyrate,jdbcType=VARCHAR} , 
     #{money,jdbcType=DECIMAL} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{remark,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SOURCE , 
    SOURCEID , 
    MONEYRATE , 
    MONEY , 
    GROUPID , 
    REMARK , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    CORPID , 
    OPENFLAG , 
    STATUS , 
    DESCR , 
    OPER , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} and 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=VARCHAR} and 
    </if>
    <if test="money != null">
      money = #{money,jdbcType=DECIMAL} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="remark != null">
      remark = #{remark,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} , 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=VARCHAR} , 
    </if>
    <if test="money != null">
      money = #{money,jdbcType=DECIMAL} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="remark != null">
      remark = #{remark,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCaiwulog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCaiwulog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCaiwulog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCaiwulog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>