<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCaiwuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCaiwu">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="SOURCEID" jdbcType="VARCHAR" property="sourceid" />
    <result column="MONEYRATE" jdbcType="VARCHAR" property="moneyrate" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="PONUMBER" jdbcType="VARCHAR" property="ponumber" />
    <result column="MENUFUNCTER" jdbcType="VARCHAR" property="menufuncter" />
    <result column="MENUFUNCTERID" jdbcType="VARCHAR" property="menufuncterid" />
    <result column="PAYMENTTYPE" jdbcType="VARCHAR" property="paymenttype" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="TOPORTTIME" jdbcType="TIMESTAMP" property="toporttime" />
    <result column="DEPOSITSTIME" jdbcType="TIMESTAMP" property="depositstime" />
    <result column="SENDPAYTIME" jdbcType="TIMESTAMP" property="sendpaytime" />
    <result column="TOPORTPAYTIME" jdbcType="TIMESTAMP" property="toportpaytime" />
    <result column="FINALPAYTIME" jdbcType="TIMESTAMP" property="finalpaytime" />
    <result column="AMOUNTRMB" jdbcType="DECIMAL" property="amountrmb" />
    <result column="AMOUNTUSD" jdbcType="DECIMAL" property="amountusd" />
    <result column="DEPOSITS" jdbcType="DECIMAL" property="deposits" />
    <result column="PAYMENTMONEY" jdbcType="DECIMAL" property="paymentmoney" />
    <result column="NOPAYMENYMONEY" jdbcType="DECIMAL" property="nopaymenymoney" />
    <result column="SENDMONEY" jdbcType="DECIMAL" property="sendmoney" />
    <result column="TOPORTMONEY" jdbcType="DECIMAL" property="toportmoney" />
    <result column="FINALMONEY" jdbcType="DECIMAL" property="finalmoney" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="AMOUNTRMBFLAG" jdbcType="DECIMAL" property="amountrmbflag" />
    <result column="DEPOSITSFLAG" jdbcType="DECIMAL" property="depositsflag" />
    <result column="SENDMONEYFLAG" jdbcType="DECIMAL" property="sendmoneyflag" />
    <result column="TOPORTMONEYFLAG" jdbcType="DECIMAL" property="toportmoneyflag" />
    <result column="FINALMONEYFLAG" jdbcType="DECIMAL" property="finalmoneyflag" />
    <result column="ACCOUNTMONEY" jdbcType="DECIMAL" property="accountmoney" />
    <result column="NONPAYMENTMONEY" jdbcType="DECIMAL" property="nonpaymentmoney" />
    <result column="SENDMONEYTIME" jdbcType="TIMESTAMP" property="sendmoneytime" />
    <result column="TOPORTMONEYTIME" jdbcType="TIMESTAMP" property="toportmoneytime" />
    <result column="FINALMONEYTIME" jdbcType="TIMESTAMP" property="finalmoneytime" />
    <result column="DEPOSITSSTIME" jdbcType="TIMESTAMP" property="depositsstime" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, SOURCE, SOURCEID, MONEYRATE, MONEY, GROUPID, REMARK, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, CORPID, OPENFLAG, STATUS, OPER, OPERTIME, 
    CREATEOPER, CREATETIME, OPER1, FLAG, COUNTRY, PONUMBER, MENUFUNCTER, MENUFUNCTERID, 
    PAYMENTTYPE, SENDTIME, TOPORTTIME, DEPOSITSTIME, SENDPAYTIME, TOPORTPAYTIME, FINALPAYTIME, 
    AMOUNTRMB, AMOUNTUSD, DEPOSITS, PAYMENTMONEY, NOPAYMENYMONEY, SENDMONEY, TOPORTMONEY, 
    FINALMONEY, PRODUCTID, AMOUNTRMBFLAG, DEPOSITSFLAG, SENDMONEYFLAG, TOPORTMONEYFLAG, 
    FINALMONEYFLAG, ACCOUNTMONEY, NONPAYMENTMONEY, SENDMONEYTIME, TOPORTMONEYTIME, FINALMONEYTIME, 
    DEPOSITSSTIME, DESCR
    from DB_CAIWU
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SOURCE, SOURCEID, MONEYRATE, MONEY, GROUPID, REMARK, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, CORPID, OPENFLAG, STATUS, OPER, OPERTIME, 
    CREATEOPER, CREATETIME, OPER1, FLAG, COUNTRY, PONUMBER, MENUFUNCTER, MENUFUNCTERID, 
    PAYMENTTYPE, SENDTIME, TOPORTTIME, DEPOSITSTIME, SENDPAYTIME, TOPORTPAYTIME, FINALPAYTIME, 
    AMOUNTRMB, AMOUNTUSD, DEPOSITS, PAYMENTMONEY, NOPAYMENYMONEY, SENDMONEY, TOPORTMONEY, 
    FINALMONEY, PRODUCTID, AMOUNTRMBFLAG, DEPOSITSFLAG, SENDMONEYFLAG, TOPORTMONEYFLAG, 
    FINALMONEYFLAG, ACCOUNTMONEY, NONPAYMENTMONEY, SENDMONEYTIME, TOPORTMONEYTIME, FINALMONEYTIME, 
    DEPOSITSSTIME, DESCR
    from DB_CAIWU
  </select>
  <sql id="TableName">
    DB_CAIWU
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{source,jdbcType=VARCHAR} , 
     #{sourceid,jdbcType=VARCHAR} , 
     #{moneyrate,jdbcType=VARCHAR} , 
     #{money,jdbcType=DECIMAL} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{remark,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{oper1,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{country,jdbcType=VARCHAR} , 
     #{ponumber,jdbcType=VARCHAR} , 
     #{menufuncter,jdbcType=VARCHAR} , 
     #{menufuncterid,jdbcType=VARCHAR} , 
     #{paymenttype,jdbcType=VARCHAR} , 
     #{sendtime,jdbcType=TIMESTAMP} , 
     #{toporttime,jdbcType=TIMESTAMP} , 
     #{depositstime,jdbcType=TIMESTAMP} , 
     #{sendpaytime,jdbcType=TIMESTAMP} , 
     #{toportpaytime,jdbcType=TIMESTAMP} , 
     #{finalpaytime,jdbcType=TIMESTAMP} , 
     #{amountrmb,jdbcType=DECIMAL} , 
     #{amountusd,jdbcType=DECIMAL} , 
     #{deposits,jdbcType=DECIMAL} , 
     #{paymentmoney,jdbcType=DECIMAL} , 
     #{nopaymenymoney,jdbcType=DECIMAL} , 
     #{sendmoney,jdbcType=DECIMAL} , 
     #{toportmoney,jdbcType=DECIMAL} , 
     #{finalmoney,jdbcType=DECIMAL} , 
     #{productid,jdbcType=VARCHAR} , 
     #{amountrmbflag,jdbcType=DECIMAL} , 
     #{depositsflag,jdbcType=DECIMAL} , 
     #{sendmoneyflag,jdbcType=DECIMAL} , 
     #{toportmoneyflag,jdbcType=DECIMAL} , 
     #{finalmoneyflag,jdbcType=DECIMAL} , 
     #{accountmoney,jdbcType=DECIMAL} , 
     #{nonpaymentmoney,jdbcType=DECIMAL} , 
     #{sendmoneytime,jdbcType=TIMESTAMP} , 
     #{toportmoneytime,jdbcType=TIMESTAMP} , 
     #{finalmoneytime,jdbcType=TIMESTAMP} , 
     #{depositsstime,jdbcType=TIMESTAMP} , 
     #{descr,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SOURCE , 
    SOURCEID , 
    MONEYRATE , 
    MONEY , 
    GROUPID , 
    REMARK , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    CORPID , 
    OPENFLAG , 
    STATUS , 
    OPER , 
    OPERTIME , 
    CREATEOPER , 
    CREATETIME , 
    OPER1 , 
    FLAG , 
    COUNTRY , 
    PONUMBER , 
    MENUFUNCTER , 
    MENUFUNCTERID , 
    PAYMENTTYPE , 
    SENDTIME , 
    TOPORTTIME , 
    DEPOSITSTIME , 
    SENDPAYTIME , 
    TOPORTPAYTIME , 
    FINALPAYTIME , 
    AMOUNTRMB , 
    AMOUNTUSD , 
    DEPOSITS , 
    PAYMENTMONEY , 
    NOPAYMENYMONEY , 
    SENDMONEY , 
    TOPORTMONEY , 
    FINALMONEY , 
    PRODUCTID , 
    AMOUNTRMBFLAG , 
    DEPOSITSFLAG , 
    SENDMONEYFLAG , 
    TOPORTMONEYFLAG , 
    FINALMONEYFLAG , 
    ACCOUNTMONEY , 
    NONPAYMENTMONEY , 
    SENDMONEYTIME , 
    TOPORTMONEYTIME , 
    FINALMONEYTIME , 
    DEPOSITSSTIME , 
    DESCR , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} and 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=VARCHAR} and 
    </if>
    <if test="money != null">
      money = #{money,jdbcType=DECIMAL} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="remark != null">
      remark = #{remark,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="ponumber != null">
      ponumber = #{ponumber,jdbcType=VARCHAR} and 
    </if>
    <if test="menufuncter != null">
      menufuncter = #{menufuncter,jdbcType=VARCHAR} and 
    </if>
    <if test="menufuncterid != null">
      menufuncterid = #{menufuncterid,jdbcType=VARCHAR} and 
    </if>
    <if test="paymenttype != null">
      paymenttype = #{paymenttype,jdbcType=VARCHAR} and 
    </if>
    <if test="sendtime != null">
      sendtime = #{sendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="toporttime != null">
      toporttime = #{toporttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="depositstime != null">
      depositstime = #{depositstime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sendpaytime != null">
      sendpaytime = #{sendpaytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="toportpaytime != null">
      toportpaytime = #{toportpaytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="finalpaytime != null">
      finalpaytime = #{finalpaytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="amountrmb != null">
      amountrmb = #{amountrmb,jdbcType=DECIMAL} and 
    </if>
    <if test="amountusd != null">
      amountusd = #{amountusd,jdbcType=DECIMAL} and 
    </if>
    <if test="deposits != null">
      deposits = #{deposits,jdbcType=DECIMAL} and 
    </if>
    <if test="paymentmoney != null">
      paymentmoney = #{paymentmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="nopaymenymoney != null">
      nopaymenymoney = #{nopaymenymoney,jdbcType=DECIMAL} and 
    </if>
    <if test="sendmoney != null">
      sendmoney = #{sendmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="toportmoney != null">
      toportmoney = #{toportmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="finalmoney != null">
      finalmoney = #{finalmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="amountrmbflag != null">
      amountrmbflag = #{amountrmbflag,jdbcType=DECIMAL} and 
    </if>
    <if test="depositsflag != null">
      depositsflag = #{depositsflag,jdbcType=DECIMAL} and 
    </if>
    <if test="sendmoneyflag != null">
      sendmoneyflag = #{sendmoneyflag,jdbcType=DECIMAL} and 
    </if>
    <if test="toportmoneyflag != null">
      toportmoneyflag = #{toportmoneyflag,jdbcType=DECIMAL} and 
    </if>
    <if test="finalmoneyflag != null">
      finalmoneyflag = #{finalmoneyflag,jdbcType=DECIMAL} and 
    </if>
    <if test="accountmoney != null">
      accountmoney = #{accountmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="nonpaymentmoney != null">
      nonpaymentmoney = #{nonpaymentmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="sendmoneytime != null">
      sendmoneytime = #{sendmoneytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="toportmoneytime != null">
      toportmoneytime = #{toportmoneytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="finalmoneytime != null">
      finalmoneytime = #{finalmoneytime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="depositsstime != null">
      depositsstime = #{depositsstime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} , 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=VARCHAR} , 
    </if>
    <if test="money != null">
      money = #{money,jdbcType=DECIMAL} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="remark != null">
      remark = #{remark,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="ponumber != null">
      ponumber = #{ponumber,jdbcType=VARCHAR} , 
    </if>
    <if test="menufuncter != null">
      menufuncter = #{menufuncter,jdbcType=VARCHAR} , 
    </if>
    <if test="menufuncterid != null">
      menufuncterid = #{menufuncterid,jdbcType=VARCHAR} , 
    </if>
    <if test="paymenttype != null">
      paymenttype = #{paymenttype,jdbcType=VARCHAR} , 
    </if>
    <if test="sendtime != null">
      sendtime = #{sendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="toporttime != null">
      toporttime = #{toporttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="depositstime != null">
      depositstime = #{depositstime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sendpaytime != null">
      sendpaytime = #{sendpaytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="toportpaytime != null">
      toportpaytime = #{toportpaytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="finalpaytime != null">
      finalpaytime = #{finalpaytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="amountrmb != null">
      amountrmb = #{amountrmb,jdbcType=DECIMAL} , 
    </if>
    <if test="amountusd != null">
      amountusd = #{amountusd,jdbcType=DECIMAL} , 
    </if>
    <if test="deposits != null">
      deposits = #{deposits,jdbcType=DECIMAL} , 
    </if>
    <if test="paymentmoney != null">
      paymentmoney = #{paymentmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="nopaymenymoney != null">
      nopaymenymoney = #{nopaymenymoney,jdbcType=DECIMAL} , 
    </if>
    <if test="sendmoney != null">
      sendmoney = #{sendmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="toportmoney != null">
      toportmoney = #{toportmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="finalmoney != null">
      finalmoney = #{finalmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="amountrmbflag != null">
      amountrmbflag = #{amountrmbflag,jdbcType=DECIMAL} , 
    </if>
    <if test="depositsflag != null">
      depositsflag = #{depositsflag,jdbcType=DECIMAL} , 
    </if>
    <if test="sendmoneyflag != null">
      sendmoneyflag = #{sendmoneyflag,jdbcType=DECIMAL} , 
    </if>
    <if test="toportmoneyflag != null">
      toportmoneyflag = #{toportmoneyflag,jdbcType=DECIMAL} , 
    </if>
    <if test="finalmoneyflag != null">
      finalmoneyflag = #{finalmoneyflag,jdbcType=DECIMAL} , 
    </if>
    <if test="accountmoney != null">
      accountmoney = #{accountmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="nonpaymentmoney != null">
      nonpaymentmoney = #{nonpaymentmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="sendmoneytime != null">
      sendmoneytime = #{sendmoneytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="toportmoneytime != null">
      toportmoneytime = #{toportmoneytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="finalmoneytime != null">
      finalmoneytime = #{finalmoneytime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="depositsstime != null">
      depositsstime = #{depositsstime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCaiwu" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCaiwu">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCaiwu">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCaiwu">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>