<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbChildskuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbChildsku">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="ITEMID" jdbcType="DECIMAL" property="itemid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SID, ITEMID, SKU, FLAG
    from db_childsku
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, ITEMID, SKU, FLAG
    from db_childsku
  </select>
  <sql id="TableName">
    db_childsku
  </sql>
  <sql id="Values">
     #{sid,jdbcType=DECIMAL} , 
     #{itemid,jdbcType=DECIMAL} , 
     #{sku,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    SID , 
    ITEMID , 
    SKU , 
    FLAG
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=DECIMAL} and 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=DECIMAL} and 
    </if>
    <if test="sku != null">
      SKU = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=DECIMAL} , 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=DECIMAL} , 
    </if>
    <if test="sku != null">
      SKU = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbChildsku" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbChildsku">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbChildsku">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbChildsku">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>