<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCompetitorsearchMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCompetitorsearch">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SQLFILTER" jdbcType="VARCHAR" property="sqlfilter" />
    <result column="DAYSELLNUM" jdbcType="DECIMAL" property="daysellnum" />
    <result column="TRANSLATRATE" jdbcType="DECIMAL" property="translatrate" />
    <result column="PUBLISHTIME" jdbcType="TIMESTAMP" property="publishtime" />
    <result column="SELLPRICESTART" jdbcType="DECIMAL" property="sellpricestart" />
    <result column="SELLPRICEEND" jdbcType="DECIMAL" property="sellpriceend" />
    <result column="ROVERLAPENUM" jdbcType="DECIMAL" property="roverlapenum" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CORPID" jdbcType="DECIMAL" property="corpid" />
    <result column="DAYSELLNUM2" jdbcType="DECIMAL" property="daysellnum2" />
    <result column="TRANSLATRATE2" jdbcType="DECIMAL" property="translatrate2" />
    <result column="PUBLISHTIME2" jdbcType="TIMESTAMP" property="publishtime2" />
    <result column="ROVERLAPENUM2" jdbcType="DECIMAL" property="roverlapenum2" />
    <result column="JSONSTR" jdbcType="VARCHAR" property="jsonstr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, DESCR, OPER, OPERTIME, SQLFILTER, DAYSELLNUM, TRANSLATRATE, 
    PUBLISHTIME, SELLPRICESTART, SELLPRICEEND, ROVERLAPENUM, OPENFLAG, CORPID, DAYSELLNUM2, 
    TRANSLATRATE2, PUBLISHTIME2, ROVERLAPENUM2, JSONSTR
    from DB_COMPETITORSEARCH
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, DESCR, OPER, OPERTIME, SQLFILTER, DAYSELLNUM, TRANSLATRATE, 
    PUBLISHTIME, SELLPRICESTART, SELLPRICEEND, ROVERLAPENUM, OPENFLAG, CORPID, DAYSELLNUM2, 
    TRANSLATRATE2, PUBLISHTIME2, ROVERLAPENUM2, JSONSTR
    from DB_COMPETITORSEARCH
  </select>
  <sql id="TableName">
    DB_COMPETITORSEARCH
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{sqlfilter,jdbcType=VARCHAR} , 
     #{daysellnum,jdbcType=DECIMAL} , 
     #{translatrate,jdbcType=DECIMAL} , 
     #{publishtime,jdbcType=TIMESTAMP} , 
     #{sellpricestart,jdbcType=DECIMAL} , 
     #{sellpriceend,jdbcType=DECIMAL} , 
     #{roverlapenum,jdbcType=DECIMAL} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=DECIMAL} , 
     #{daysellnum2,jdbcType=DECIMAL} , 
     #{translatrate2,jdbcType=DECIMAL} , 
     #{publishtime2,jdbcType=TIMESTAMP} , 
     #{roverlapenum2,jdbcType=DECIMAL} , 
     #{jsonstr,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    DESCR , 
    OPER , 
    OPERTIME , 
    SQLFILTER , 
    DAYSELLNUM , 
    TRANSLATRATE , 
    PUBLISHTIME , 
    SELLPRICESTART , 
    SELLPRICEEND , 
    ROVERLAPENUM , 
    OPENFLAG , 
    CORPID , 
    DAYSELLNUM2 , 
    TRANSLATRATE2 , 
    PUBLISHTIME2 , 
    ROVERLAPENUM2 , 
    JSONSTR , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sqlfilter != null">
      sqlfilter = #{sqlfilter,jdbcType=VARCHAR} and 
    </if>
    <if test="daysellnum != null">
      daysellnum = #{daysellnum,jdbcType=DECIMAL} and 
    </if>
    <if test="translatrate != null">
      translatrate = #{translatrate,jdbcType=DECIMAL} and 
    </if>
    <if test="publishtime != null">
      publishtime = #{publishtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sellpricestart != null">
      sellpricestart = #{sellpricestart,jdbcType=DECIMAL} and 
    </if>
    <if test="sellpriceend != null">
      sellpriceend = #{sellpriceend,jdbcType=DECIMAL} and 
    </if>
    <if test="roverlapenum != null">
      roverlapenum = #{roverlapenum,jdbcType=DECIMAL} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=DECIMAL} and 
    </if>
    <if test="daysellnum2 != null">
      daysellnum2 = #{daysellnum2,jdbcType=DECIMAL} and 
    </if>
    <if test="translatrate2 != null">
      translatrate2 = #{translatrate2,jdbcType=DECIMAL} and 
    </if>
    <if test="publishtime2 != null">
      publishtime2 = #{publishtime2,jdbcType=TIMESTAMP} and 
    </if>
    <if test="roverlapenum2 != null">
      roverlapenum2 = #{roverlapenum2,jdbcType=DECIMAL} and 
    </if>
    <if test="jsonstr != null">
      jsonstr = #{jsonstr,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sqlfilter != null">
      sqlfilter = #{sqlfilter,jdbcType=VARCHAR} , 
    </if>
    <if test="daysellnum != null">
      daysellnum = #{daysellnum,jdbcType=DECIMAL} , 
    </if>
    <if test="translatrate != null">
      translatrate = #{translatrate,jdbcType=DECIMAL} , 
    </if>
    <if test="publishtime != null">
      publishtime = #{publishtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sellpricestart != null">
      sellpricestart = #{sellpricestart,jdbcType=DECIMAL} , 
    </if>
    <if test="sellpriceend != null">
      sellpriceend = #{sellpriceend,jdbcType=DECIMAL} , 
    </if>
    <if test="roverlapenum != null">
      roverlapenum = #{roverlapenum,jdbcType=DECIMAL} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=DECIMAL} , 
    </if>
    <if test="daysellnum2 != null">
      daysellnum2 = #{daysellnum2,jdbcType=DECIMAL} , 
    </if>
    <if test="translatrate2 != null">
      translatrate2 = #{translatrate2,jdbcType=DECIMAL} , 
    </if>
    <if test="publishtime2 != null">
      publishtime2 = #{publishtime2,jdbcType=TIMESTAMP} , 
    </if>
    <if test="roverlapenum2 != null">
      roverlapenum2 = #{roverlapenum2,jdbcType=DECIMAL} , 
    </if>
    <if test="jsonstr != null">
      jsonstr = #{jsonstr,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCompetitorsearch" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCompetitorsearch">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCompetitorsearch">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCompetitorsearch">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>