<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCountryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCountry">
    <id column="COUNTRYID" jdbcType="VARCHAR" property="countryid" />
    <result column="COUNTRYNAME" jdbcType="VARCHAR" property="countryname" />
    <result column="COUNTRYNAMEEN" jdbcType="VARCHAR" property="countrynameen" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select COUNTRYID, COUNTRYNAME, COUNTRYNAMEEN, RESERVE1, RESERVE2, RESERVE3
    from db_country
    where COUNTRYID = #{countryid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select COUNTRYID, COUNTRYNAME, COUNTRYNAMEEN, RESERVE1, RESERVE2, RESERVE3
    from db_country
  </select>
  <sql id="TableName">
    db_country
  </sql>
  <sql id="Values">
     #{countryid,jdbcType=VARCHAR} , 
     #{countryname,jdbcType=VARCHAR} , 
     #{countrynameen,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    COUNTRYID , 
    COUNTRYNAME , 
    COUNTRYNAMEEN , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3
  </sql>
  <sql id="Criteria">
    <if test="countryid != null">
      COUNTRYID = #{countryid,jdbcType=VARCHAR} and 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=VARCHAR} and 
    </if>
    <if test="countrynameen != null">
      COUNTRYNAMEEN = #{countrynameen,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="countryid != null">
      COUNTRYID = #{countryid,jdbcType=VARCHAR} , 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=VARCHAR} , 
    </if>
    <if test="countrynameen != null">
      COUNTRYNAMEEN = #{countrynameen,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCountry" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where COUNTRYID=#{COUNTRYID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCountry">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCountry">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCountry">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>