<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbDeveloperaccountMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbDeveloperaccount">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CLENTID" jdbcType="VARCHAR" property="clentid" />
    <result column="APPSECRETKEY" jdbcType="VARCHAR" property="appsecretkey" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="SHOPIDS" jdbcType="VARCHAR" property="shopids" />
    <result column="PLATFROM" jdbcType="VARCHAR" property="platfrom" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, NAME, CLENTID, APPSECRETKEY, OPENFLAG, SHOPIDS, PLATFROM, URL, CREATETIME, 
    UPDATETIME
    from DB_DEVELOPERACCOUNT
  </select>
  <sql id="TableName">
    DB_DEVELOPERACCOUNT
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{clentid,jdbcType=VARCHAR} , 
     #{appsecretkey,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{shopids,jdbcType=VARCHAR} , 
     #{platfrom,jdbcType=VARCHAR} , 
     #{url,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    ID , 
    NAME , 
    CLENTID , 
    APPSECRETKEY , 
    OPENFLAG , 
    SHOPIDS , 
    PLATFROM , 
    URL , 
    CREATETIME , 
    UPDATETIME , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="clentid != null">
      clentid = #{clentid,jdbcType=VARCHAR} and 
    </if>
    <if test="appsecretkey != null">
      appsecretkey = #{appsecretkey,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="shopids != null">
      shopids = #{shopids,jdbcType=VARCHAR} and 
    </if>
    <if test="platfrom != null">
      platfrom = #{platfrom,jdbcType=VARCHAR} and 
    </if>
    <if test="url != null">
      url = #{url,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="clentid != null">
      clentid = #{clentid,jdbcType=VARCHAR} , 
    </if>
    <if test="appsecretkey != null">
      appsecretkey = #{appsecretkey,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="shopids != null">
      shopids = #{shopids,jdbcType=VARCHAR} , 
    </if>
    <if test="platfrom != null">
      platfrom = #{platfrom,jdbcType=VARCHAR} , 
    </if>
    <if test="url != null">
      url = #{url,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbDeveloperaccount" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Short">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbDeveloperaccount">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbDeveloperaccount">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbDeveloperaccount">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>