<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayexpresstype">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SID, NAME, OPER, OPERTIME, OPENFLAG, RESERVE1, RESERVE2
    from DB_EBAYEXPRESSTYPE
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, OPER, OPERTIME, OPENFLAG, RESERVE1, RESERVE2
    from DB_EBAYEXPRESSTYPE
  </select>
  <sql id="TableName">
    DB_EBAYEXPRESSTYPE
  </sql>
  <sql id="Values">
     #{sid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    OPER , 
    OPERTIME , 
    OPENFLAG , 
    RESERVE1 , 
    RESERVE2 , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbayexpresstype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbayexpresstype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbayexpresstype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbayexpresstype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>