<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbaybbeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbaybbe">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="EBAYIDMANAGEID" jdbcType="DECIMAL" property="ebayidmanageid" />
    <result column="BBENUM" jdbcType="VARCHAR" property="bbenum" />
    <result column="BBEPERCENT" jdbcType="VARCHAR" property="bbepercent" />
    <result column="BBE2" jdbcType="VARCHAR" property="bbe2" />
    <result column="BBE3" jdbcType="VARCHAR" property="bbe3" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYIDMANAGEID, BBENUM, BBEPERCENT, BBE2, BBE3, CORPID, OPENFLAG, 
    OPER, OPERTIME
    from db_ebaybbe
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYIDMANAGEID, BBENUM, BBEPERCENT, BBE2, BBE3, CORPID, OPENFLAG, 
    OPER, OPERTIME
    from db_ebaybbe
  </select>
  <sql id="TableName">
    db_ebaybbe
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{ebayidmanageid,jdbcType=DECIMAL} , 
     #{bbenum,jdbcType=VARCHAR} , 
     #{bbepercent,jdbcType=VARCHAR} , 
     #{bbe2,jdbcType=VARCHAR} , 
     #{bbe3,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    EBAYIDMANAGEID , 
    BBENUM , 
    BBEPERCENT , 
    BBE2 , 
    BBE3 , 
    CORPID , 
    OPENFLAG , 
    OPER , 
    OPERTIME
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayidmanageid != null">
      EBAYIDMANAGEID = #{ebayidmanageid,jdbcType=DECIMAL} and 
    </if>
    <if test="bbenum != null">
      BBENUM = #{bbenum,jdbcType=VARCHAR} and 
    </if>
    <if test="bbepercent != null">
      BBEPERCENT = #{bbepercent,jdbcType=VARCHAR} and 
    </if>
    <if test="bbe2 != null">
      BBE2 = #{bbe2,jdbcType=VARCHAR} and 
    </if>
    <if test="bbe3 != null">
      BBE3 = #{bbe3,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayidmanageid != null">
      EBAYIDMANAGEID = #{ebayidmanageid,jdbcType=DECIMAL} , 
    </if>
    <if test="bbenum != null">
      BBENUM = #{bbenum,jdbcType=VARCHAR} , 
    </if>
    <if test="bbepercent != null">
      BBEPERCENT = #{bbepercent,jdbcType=VARCHAR} , 
    </if>
    <if test="bbe2 != null">
      BBE2 = #{bbe2,jdbcType=VARCHAR} , 
    </if>
    <if test="bbe3 != null">
      BBE3 = #{bbe3,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbaybbe" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbaybbe">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbaybbe">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbaybbe">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>