<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbaymessageTempMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbaymessageTemp">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="MESSAGEID" jdbcType="VARCHAR" property="messageid" />
    <result column="SENDER" jdbcType="VARCHAR" property="sender" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="FLAGED" jdbcType="VARCHAR" property="flaged" />
    <result column="IFREAD" jdbcType="VARCHAR" property="ifread" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="RECEIVEDATE" jdbcType="TIMESTAMP" property="receivedate" />
    <result column="SENDTONAME" jdbcType="VARCHAR" property="sendtoname" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="STYPE" jdbcType="VARCHAR" property="stype" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPENAME" jdbcType="VARCHAR" property="shoptypename" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="FOLDERID" jdbcType="VARCHAR" property="folderid" />
    <result column="FOLDERNAME" jdbcType="VARCHAR" property="foldername" />
    <result column="APPLYOPER" jdbcType="VARCHAR" property="applyoper" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="ASSIGNOPER" jdbcType="VARCHAR" property="assignoper" />
    <result column="ASSIGNOPERTIME" jdbcType="TIMESTAMP" property="assignopertime" />
    <result column="UPDATEFLAG" jdbcType="VARCHAR" property="updateflag" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="TYPEID" jdbcType="VARCHAR" property="typeid" />
    <result column="TYPENAME" jdbcType="VARCHAR" property="typename" />
    <result column="TYPECOLOR" jdbcType="VARCHAR" property="typecolor" />
    <result column="ERRORCOUNT" jdbcType="DECIMAL" property="errorcount" />
    <result column="PARENTMESSAGEID" jdbcType="VARCHAR" property="parentmessageid" />
    <result column="SUBJECT" jdbcType="LONGVARCHAR" property="subject" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="ANSWER" jdbcType="LONGVARCHAR" property="answer" />
    <result column="RESERVE9" jdbcType="LONGVARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="LONGVARCHAR" property="reserve10" />
    <result column="ERRORDESCR" jdbcType="LONGVARCHAR" property="errordescr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, MESSAGEID, SENDER, ITEMID, FLAGED, IFREAD, CREATEDATE, RECEIVEDATE, 
    SENDTONAME, PRODUCTID, STYPE, SHOPTYPEID, SHOPTYPENAME, CATEGORYID, CATEGORYNAME, 
    ORDERID, STATUS, FOLDERID, FOLDERNAME, APPLYOPER, OPER, OPERTIME, ASSIGNOPER, ASSIGNOPERTIME, 
    UPDATEFLAG, OPENFLAG, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, TYPEID, TYPENAME, TYPECOLOR, ERRORCOUNT, PARENTMESSAGEID, SUBJECT, 
    CONTENT, DESCR, PRODUCTNAME, ANSWER, RESERVE9, RESERVE10, ERRORDESCR
    from db_ebaymessage_temp
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, MESSAGEID, SENDER, ITEMID, FLAGED, IFREAD, CREATEDATE, RECEIVEDATE, 
    SENDTONAME, PRODUCTID, STYPE, SHOPTYPEID, SHOPTYPENAME, CATEGORYID, CATEGORYNAME, 
    ORDERID, STATUS, FOLDERID, FOLDERNAME, APPLYOPER, OPER, OPERTIME, ASSIGNOPER, ASSIGNOPERTIME, 
    UPDATEFLAG, OPENFLAG, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, TYPEID, TYPENAME, TYPECOLOR, ERRORCOUNT, PARENTMESSAGEID, SUBJECT, 
    CONTENT, DESCR, PRODUCTNAME, ANSWER, RESERVE9, RESERVE10, ERRORDESCR
    from db_ebaymessage_temp
  </select>
  <sql id="TableName">
    db_ebaymessage_temp
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{messageid,jdbcType=VARCHAR} , 
     #{sender,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{flaged,jdbcType=VARCHAR} , 
     #{ifread,jdbcType=VARCHAR} , 
     #{createdate,jdbcType=TIMESTAMP} , 
     #{receivedate,jdbcType=TIMESTAMP} , 
     #{sendtoname,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{stype,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{shoptypename,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{folderid,jdbcType=VARCHAR} , 
     #{foldername,jdbcType=VARCHAR} , 
     #{applyoper,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{assignoper,jdbcType=VARCHAR} , 
     #{assignopertime,jdbcType=TIMESTAMP} , 
     #{updateflag,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{typeid,jdbcType=VARCHAR} , 
     #{typename,jdbcType=VARCHAR} , 
     #{typecolor,jdbcType=VARCHAR} , 
     #{errorcount,jdbcType=DECIMAL} , 
     #{parentmessageid,jdbcType=VARCHAR} , 
     #{subject,jdbcType=LONGVARCHAR} , 
     #{content,jdbcType=LONGVARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{productname,jdbcType=LONGVARCHAR} , 
     #{answer,jdbcType=LONGVARCHAR} , 
     #{reserve9,jdbcType=LONGVARCHAR} , 
     #{reserve10,jdbcType=LONGVARCHAR} , 
     #{errordescr,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    MESSAGEID , 
    SENDER , 
    ITEMID , 
    FLAGED , 
    IFREAD , 
    CREATEDATE , 
    RECEIVEDATE , 
    SENDTONAME , 
    PRODUCTID , 
    STYPE , 
    SHOPTYPEID , 
    SHOPTYPENAME , 
    CATEGORYID , 
    CATEGORYNAME , 
    ORDERID , 
    STATUS , 
    FOLDERID , 
    FOLDERNAME , 
    APPLYOPER , 
    OPER , 
    OPERTIME , 
    ASSIGNOPER , 
    ASSIGNOPERTIME , 
    UPDATEFLAG , 
    OPENFLAG , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    TYPEID , 
    TYPENAME , 
    TYPECOLOR , 
    ERRORCOUNT , 
    PARENTMESSAGEID , 
    SUBJECT , 
    CONTENT , 
    DESCR , 
    PRODUCTNAME , 
    ANSWER , 
    RESERVE9 , 
    RESERVE10 , 
    ERRORDESCR
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="messageid != null">
      MESSAGEID = #{messageid,jdbcType=VARCHAR} and 
    </if>
    <if test="sender != null">
      SENDER = #{sender,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="flaged != null">
      FLAGED = #{flaged,jdbcType=VARCHAR} and 
    </if>
    <if test="ifread != null">
      IFREAD = #{ifread,jdbcType=VARCHAR} and 
    </if>
    <if test="createdate != null">
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="receivedate != null">
      RECEIVEDATE = #{receivedate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sendtoname != null">
      SENDTONAME = #{sendtoname,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="stype != null">
      STYPE = #{stype,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypename != null">
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="folderid != null">
      FOLDERID = #{folderid,jdbcType=VARCHAR} and 
    </if>
    <if test="foldername != null">
      FOLDERNAME = #{foldername,jdbcType=VARCHAR} and 
    </if>
    <if test="applyoper != null">
      APPLYOPER = #{applyoper,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="assignoper != null">
      ASSIGNOPER = #{assignoper,jdbcType=VARCHAR} and 
    </if>
    <if test="assignopertime != null">
      ASSIGNOPERTIME = #{assignopertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="updateflag != null">
      UPDATEFLAG = #{updateflag,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="typeid != null">
      TYPEID = #{typeid,jdbcType=VARCHAR} and 
    </if>
    <if test="typename != null">
      TYPENAME = #{typename,jdbcType=VARCHAR} and 
    </if>
    <if test="typecolor != null">
      TYPECOLOR = #{typecolor,jdbcType=VARCHAR} and 
    </if>
    <if test="errorcount != null">
      ERRORCOUNT = #{errorcount,jdbcType=DECIMAL} and 
    </if>
    <if test="parentmessageid != null">
      PARENTMESSAGEID = #{parentmessageid,jdbcType=VARCHAR} and 
    </if>
    <if test="subject != null">
      SUBJECT = #{subject,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="answer != null">
      ANSWER = #{answer,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="errordescr != null">
      ERRORDESCR = #{errordescr,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="messageid != null">
      MESSAGEID = #{messageid,jdbcType=VARCHAR} , 
    </if>
    <if test="sender != null">
      SENDER = #{sender,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="flaged != null">
      FLAGED = #{flaged,jdbcType=VARCHAR} , 
    </if>
    <if test="ifread != null">
      IFREAD = #{ifread,jdbcType=VARCHAR} , 
    </if>
    <if test="createdate != null">
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="receivedate != null">
      RECEIVEDATE = #{receivedate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sendtoname != null">
      SENDTONAME = #{sendtoname,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="stype != null">
      STYPE = #{stype,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypename != null">
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="folderid != null">
      FOLDERID = #{folderid,jdbcType=VARCHAR} , 
    </if>
    <if test="foldername != null">
      FOLDERNAME = #{foldername,jdbcType=VARCHAR} , 
    </if>
    <if test="applyoper != null">
      APPLYOPER = #{applyoper,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="assignoper != null">
      ASSIGNOPER = #{assignoper,jdbcType=VARCHAR} , 
    </if>
    <if test="assignopertime != null">
      ASSIGNOPERTIME = #{assignopertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="updateflag != null">
      UPDATEFLAG = #{updateflag,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="typeid != null">
      TYPEID = #{typeid,jdbcType=VARCHAR} , 
    </if>
    <if test="typename != null">
      TYPENAME = #{typename,jdbcType=VARCHAR} , 
    </if>
    <if test="typecolor != null">
      TYPECOLOR = #{typecolor,jdbcType=VARCHAR} , 
    </if>
    <if test="errorcount != null">
      ERRORCOUNT = #{errorcount,jdbcType=DECIMAL} , 
    </if>
    <if test="parentmessageid != null">
      PARENTMESSAGEID = #{parentmessageid,jdbcType=VARCHAR} , 
    </if>
    <if test="subject != null">
      SUBJECT = #{subject,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="answer != null">
      ANSWER = #{answer,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="errordescr != null">
      ERRORDESCR = #{errordescr,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbaymessageTemp" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbaymessageTemp">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbaymessageTemp">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbaymessageTemp">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>