<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbaydsrMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbaydsr">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="EBAYMANAGEID" jdbcType="DECIMAL" property="ebaymanageid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="MONTH3NUM" jdbcType="VARCHAR" property="month3num" />
    <result column="MONTH3PROPORTION" jdbcType="VARCHAR" property="month3proportion" />
    <result column="MONTH12NUM" jdbcType="VARCHAR" property="month12num" />
    <result column="MONTH12PROPORTION" jdbcType="VARCHAR" property="month12proportion" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CORPID" jdbcType="DECIMAL" property="corpid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYMANAGEID, NAME, CONTENT, MONTH3NUM, MONTH3PROPORTION, MONTH12NUM, 
    MONTH12PROPORTION, OPERTIME, OPENFLAG, OPER, CORPID
    from db_ebaydsr
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYMANAGEID, NAME, CONTENT, MONTH3NUM, MONTH3PROPORTION, MONTH12NUM, 
    MONTH12PROPORTION, OPERTIME, OPENFLAG, OPER, CORPID
    from db_ebaydsr
  </select>
  <sql id="TableName">
    db_ebaydsr
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{ebaymanageid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{month3num,jdbcType=VARCHAR} , 
     #{month3proportion,jdbcType=VARCHAR} , 
     #{month12num,jdbcType=VARCHAR} , 
     #{month12proportion,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    EBAYMANAGEID , 
    NAME , 
    CONTENT , 
    MONTH3NUM , 
    MONTH3PROPORTION , 
    MONTH12NUM , 
    MONTH12PROPORTION , 
    OPERTIME , 
    OPENFLAG , 
    OPER , 
    CORPID
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaymanageid != null">
      EBAYMANAGEID = #{ebaymanageid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="month3num != null">
      MONTH3NUM = #{month3num,jdbcType=VARCHAR} and 
    </if>
    <if test="month3proportion != null">
      MONTH3PROPORTION = #{month3proportion,jdbcType=VARCHAR} and 
    </if>
    <if test="month12num != null">
      MONTH12NUM = #{month12num,jdbcType=VARCHAR} and 
    </if>
    <if test="month12proportion != null">
      MONTH12PROPORTION = #{month12proportion,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaymanageid != null">
      EBAYMANAGEID = #{ebaymanageid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="month3num != null">
      MONTH3NUM = #{month3num,jdbcType=VARCHAR} , 
    </if>
    <if test="month3proportion != null">
      MONTH3PROPORTION = #{month3proportion,jdbcType=VARCHAR} , 
    </if>
    <if test="month12num != null">
      MONTH12NUM = #{month12num,jdbcType=VARCHAR} , 
    </if>
    <if test="month12proportion != null">
      MONTH12PROPORTION = #{month12proportion,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbaydsr" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbaydsr">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbaydsr">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbaydsr">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>