<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbaytokenMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbaytoken">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RUNAME" jdbcType="LONGVARCHAR" property="runame" />
    <result column="SESSIONID" jdbcType="LONGVARCHAR" property="sessionid" />
    <result column="TOKEN" jdbcType="LONGVARCHAR" property="token" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, SHOPTYPEID, SHOPNAME, STATUS, OPER, OPERTIME, RESERVE1, RESERVE2, 
    RESERVE3, RUNAME, SESSIONID, TOKEN
    from db_ebaytoken
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SHOPTYPEID, SHOPNAME, STATUS, OPER, OPERTIME, RESERVE1, RESERVE2, 
    RESERVE3, RUNAME, SESSIONID, TOKEN
    from db_ebaytoken
  </select>
  <sql id="TableName">
    db_ebaytoken
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{runame,jdbcType=LONGVARCHAR} , 
     #{sessionid,jdbcType=LONGVARCHAR} , 
     #{token,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SHOPTYPEID , 
    SHOPNAME , 
    STATUS , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RUNAME , 
    SESSIONID , 
    TOKEN
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      SHOPNAME = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="runame != null">
      RUNAME = #{runame,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="sessionid != null">
      SESSIONID = #{sessionid,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="token != null">
      TOKEN = #{token,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      SHOPNAME = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="runame != null">
      RUNAME = #{runame,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="sessionid != null">
      SESSIONID = #{sessionid,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="token != null">
      TOKEN = #{token,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbaytoken" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbaytoken">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbaytoken">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbaytoken">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>