<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayExpresspublishedMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayExpresspublished">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SHOPPINGSERVICEID" jdbcType="VARCHAR" property="shoppingserviceid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="SHOPPINGTIMEMIN" jdbcType="VARCHAR" property="shoppingtimemin" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="SHOPPINGTIMEMAX" jdbcType="VARCHAR" property="shoppingtimemax" />
    <result column="SHOPPINGSERVICE" jdbcType="VARCHAR" property="shoppingservice" />
    <result column="INTERNATIONALSERVICE" jdbcType="VARCHAR" property="internationalservice" />
    <result column="WEIGHTREQUIRED" jdbcType="VARCHAR" property="weightrequired" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, SHOPPINGSERVICEID, OPER, SHOPPINGTIMEMIN, OPENFLAG, EXPRESSTYPE, 
    OPERTIME, SITE, SHOPPINGTIMEMAX, SHOPPINGSERVICE, INTERNATIONALSERVICE, WEIGHTREQUIRED
    from db_ebay_expresspublished
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SHOPPINGSERVICEID, OPER, SHOPPINGTIMEMIN, OPENFLAG, EXPRESSTYPE, 
    OPERTIME, SITE, SHOPPINGTIMEMAX, SHOPPINGSERVICE, INTERNATIONALSERVICE, WEIGHTREQUIRED
    from db_ebay_expresspublished
  </select>
  <sql id="TableName">
    db_ebay_expresspublished
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{shoppingserviceid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{shoppingtimemin,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{site,jdbcType=VARCHAR} , 
     #{shoppingtimemax,jdbcType=VARCHAR} , 
     #{shoppingservice,jdbcType=VARCHAR} , 
     #{internationalservice,jdbcType=VARCHAR} , 
     #{weightrequired,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SHOPPINGSERVICEID , 
    OPER , 
    SHOPPINGTIMEMIN , 
    OPENFLAG , 
    EXPRESSTYPE , 
    OPERTIME , 
    SITE , 
    SHOPPINGTIMEMAX , 
    SHOPPINGSERVICE , 
    INTERNATIONALSERVICE , 
    WEIGHTREQUIRED
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="shoppingserviceid != null">
      SHOPPINGSERVICEID = #{shoppingserviceid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="shoppingtimemin != null">
      SHOPPINGTIMEMIN = #{shoppingtimemin,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="site != null">
      SITE = #{site,jdbcType=VARCHAR} and 
    </if>
    <if test="shoppingtimemax != null">
      SHOPPINGTIMEMAX = #{shoppingtimemax,jdbcType=VARCHAR} and 
    </if>
    <if test="shoppingservice != null">
      SHOPPINGSERVICE = #{shoppingservice,jdbcType=VARCHAR} and 
    </if>
    <if test="internationalservice != null">
      INTERNATIONALSERVICE = #{internationalservice,jdbcType=VARCHAR} and 
    </if>
    <if test="weightrequired != null">
      WEIGHTREQUIRED = #{weightrequired,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="shoppingserviceid != null">
      SHOPPINGSERVICEID = #{shoppingserviceid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="shoppingtimemin != null">
      SHOPPINGTIMEMIN = #{shoppingtimemin,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="site != null">
      SITE = #{site,jdbcType=VARCHAR} , 
    </if>
    <if test="shoppingtimemax != null">
      SHOPPINGTIMEMAX = #{shoppingtimemax,jdbcType=VARCHAR} , 
    </if>
    <if test="shoppingservice != null">
      SHOPPINGSERVICE = #{shoppingservice,jdbcType=VARCHAR} , 
    </if>
    <if test="internationalservice != null">
      INTERNATIONALSERVICE = #{internationalservice,jdbcType=VARCHAR} , 
    </if>
    <if test="weightrequired != null">
      WEIGHTREQUIRED = #{weightrequired,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbayExpresspublished" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbayExpresspublished">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbayExpresspublished">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbayExpresspublished">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>