<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayidmanageMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayidmanage">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CORPID" jdbcType="DECIMAL" property="corpid" />
    <result column="ACTUALSHOPNAME" jdbcType="VARCHAR" property="actualshopname" />
    <result column="ACTUALSHOPID" jdbcType="VARCHAR" property="actualshopid" />
    <result column="BBEREALITY" jdbcType="VARCHAR" property="bbereality" />
    <result column="BBEREALITY1" jdbcType="VARCHAR" property="bbereality1" />
    <result column="BBEREALITY2" jdbcType="VARCHAR" property="bbereality2" />
    <result column="BBENUM" jdbcType="VARCHAR" property="bbenum" />
    <result column="BBENUM1" jdbcType="VARCHAR" property="bbenum1" />
    <result column="BBENUM2" jdbcType="VARCHAR" property="bbenum2" />
    <result column="BBEBB" jdbcType="VARCHAR" property="bbebb" />
    <result column="BBEBB1" jdbcType="VARCHAR" property="bbebb1" />
    <result column="BBEBB2" jdbcType="VARCHAR" property="bbebb2" />
    <result column="BBENUMB" jdbcType="DECIMAL" property="bbenumb" />
    <result column="BBENUMB1" jdbcType="DECIMAL" property="bbenumb1" />
    <result column="BBENUMB2" jdbcType="DECIMAL" property="bbenumb2" />
    <result column="CHAE" jdbcType="DECIMAL" property="chae" />
    <result column="CHAE1" jdbcType="DECIMAL" property="chae1" />
    <result column="CHAE2" jdbcType="DECIMAL" property="chae2" />
    <result column="BBESNUM" jdbcType="DECIMAL" property="bbesnum" />
    <result column="BBESNUM1" jdbcType="DECIMAL" property="bbesnum1" />
    <result column="BBESNUM2" jdbcType="DECIMAL" property="bbesnum2" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, SHOPTYPEID, OPERTIME, OPENFLAG, OPER, CORPID, ACTUALSHOPNAME, 
    ACTUALSHOPID, BBEREALITY, BBEREALITY1, BBEREALITY2, BBENUM, BBENUM1, BBENUM2, BBEBB, 
    BBEBB1, BBEBB2, BBENUMB, BBENUMB1, BBENUMB2, CHAE, CHAE1, CHAE2, BBESNUM, BBESNUM1, 
    BBESNUM2
    from db_ebayidmanage
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, SHOPTYPEID, OPERTIME, OPENFLAG, OPER, CORPID, ACTUALSHOPNAME, 
    ACTUALSHOPID, BBEREALITY, BBEREALITY1, BBEREALITY2, BBENUM, BBENUM1, BBENUM2, BBEBB, 
    BBEBB1, BBEBB2, BBENUMB, BBENUMB1, BBENUMB2, CHAE, CHAE1, CHAE2, BBESNUM, BBESNUM1, 
    BBESNUM2
    from db_ebayidmanage
  </select>
  <sql id="TableName">
    db_ebayidmanage
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=DECIMAL} , 
     #{actualshopname,jdbcType=VARCHAR} , 
     #{actualshopid,jdbcType=VARCHAR} , 
     #{bbereality,jdbcType=VARCHAR} , 
     #{bbereality1,jdbcType=VARCHAR} , 
     #{bbereality2,jdbcType=VARCHAR} , 
     #{bbenum,jdbcType=VARCHAR} , 
     #{bbenum1,jdbcType=VARCHAR} , 
     #{bbenum2,jdbcType=VARCHAR} , 
     #{bbebb,jdbcType=VARCHAR} , 
     #{bbebb1,jdbcType=VARCHAR} , 
     #{bbebb2,jdbcType=VARCHAR} , 
     #{bbenumb,jdbcType=DECIMAL} , 
     #{bbenumb1,jdbcType=DECIMAL} , 
     #{bbenumb2,jdbcType=DECIMAL} , 
     #{chae,jdbcType=DECIMAL} , 
     #{chae1,jdbcType=DECIMAL} , 
     #{chae2,jdbcType=DECIMAL} , 
     #{bbesnum,jdbcType=DECIMAL} , 
     #{bbesnum1,jdbcType=DECIMAL} , 
     #{bbesnum2,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    SHOPTYPEID , 
    OPERTIME , 
    OPENFLAG , 
    OPER , 
    CORPID , 
    ACTUALSHOPNAME , 
    ACTUALSHOPID , 
    BBEREALITY , 
    BBEREALITY1 , 
    BBEREALITY2 , 
    BBENUM , 
    BBENUM1 , 
    BBENUM2 , 
    BBEBB , 
    BBEBB1 , 
    BBEBB2 , 
    BBENUMB , 
    BBENUMB1 , 
    BBENUMB2 , 
    CHAE , 
    CHAE1 , 
    CHAE2 , 
    BBESNUM , 
    BBESNUM1 , 
    BBESNUM2
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=DECIMAL} and 
    </if>
    <if test="actualshopname != null">
      ACTUALSHOPNAME = #{actualshopname,jdbcType=VARCHAR} and 
    </if>
    <if test="actualshopid != null">
      ACTUALSHOPID = #{actualshopid,jdbcType=VARCHAR} and 
    </if>
    <if test="bbereality != null">
      BBEREALITY = #{bbereality,jdbcType=VARCHAR} and 
    </if>
    <if test="bbereality1 != null">
      BBEREALITY1 = #{bbereality1,jdbcType=VARCHAR} and 
    </if>
    <if test="bbereality2 != null">
      BBEREALITY2 = #{bbereality2,jdbcType=VARCHAR} and 
    </if>
    <if test="bbenum != null">
      BBENUM = #{bbenum,jdbcType=VARCHAR} and 
    </if>
    <if test="bbenum1 != null">
      BBENUM1 = #{bbenum1,jdbcType=VARCHAR} and 
    </if>
    <if test="bbenum2 != null">
      BBENUM2 = #{bbenum2,jdbcType=VARCHAR} and 
    </if>
    <if test="bbebb != null">
      BBEBB = #{bbebb,jdbcType=VARCHAR} and 
    </if>
    <if test="bbebb1 != null">
      BBEBB1 = #{bbebb1,jdbcType=VARCHAR} and 
    </if>
    <if test="bbebb2 != null">
      BBEBB2 = #{bbebb2,jdbcType=VARCHAR} and 
    </if>
    <if test="bbenumb != null">
      BBENUMB = #{bbenumb,jdbcType=DECIMAL} and 
    </if>
    <if test="bbenumb1 != null">
      BBENUMB1 = #{bbenumb1,jdbcType=DECIMAL} and 
    </if>
    <if test="bbenumb2 != null">
      BBENUMB2 = #{bbenumb2,jdbcType=DECIMAL} and 
    </if>
    <if test="chae != null">
      CHAE = #{chae,jdbcType=DECIMAL} and 
    </if>
    <if test="chae1 != null">
      CHAE1 = #{chae1,jdbcType=DECIMAL} and 
    </if>
    <if test="chae2 != null">
      CHAE2 = #{chae2,jdbcType=DECIMAL} and 
    </if>
    <if test="bbesnum != null">
      BBESNUM = #{bbesnum,jdbcType=DECIMAL} and 
    </if>
    <if test="bbesnum1 != null">
      BBESNUM1 = #{bbesnum1,jdbcType=DECIMAL} and 
    </if>
    <if test="bbesnum2 != null">
      BBESNUM2 = #{bbesnum2,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=DECIMAL} , 
    </if>
    <if test="actualshopname != null">
      ACTUALSHOPNAME = #{actualshopname,jdbcType=VARCHAR} , 
    </if>
    <if test="actualshopid != null">
      ACTUALSHOPID = #{actualshopid,jdbcType=VARCHAR} , 
    </if>
    <if test="bbereality != null">
      BBEREALITY = #{bbereality,jdbcType=VARCHAR} , 
    </if>
    <if test="bbereality1 != null">
      BBEREALITY1 = #{bbereality1,jdbcType=VARCHAR} , 
    </if>
    <if test="bbereality2 != null">
      BBEREALITY2 = #{bbereality2,jdbcType=VARCHAR} , 
    </if>
    <if test="bbenum != null">
      BBENUM = #{bbenum,jdbcType=VARCHAR} , 
    </if>
    <if test="bbenum1 != null">
      BBENUM1 = #{bbenum1,jdbcType=VARCHAR} , 
    </if>
    <if test="bbenum2 != null">
      BBENUM2 = #{bbenum2,jdbcType=VARCHAR} , 
    </if>
    <if test="bbebb != null">
      BBEBB = #{bbebb,jdbcType=VARCHAR} , 
    </if>
    <if test="bbebb1 != null">
      BBEBB1 = #{bbebb1,jdbcType=VARCHAR} , 
    </if>
    <if test="bbebb2 != null">
      BBEBB2 = #{bbebb2,jdbcType=VARCHAR} , 
    </if>
    <if test="bbenumb != null">
      BBENUMB = #{bbenumb,jdbcType=DECIMAL} , 
    </if>
    <if test="bbenumb1 != null">
      BBENUMB1 = #{bbenumb1,jdbcType=DECIMAL} , 
    </if>
    <if test="bbenumb2 != null">
      BBENUMB2 = #{bbenumb2,jdbcType=DECIMAL} , 
    </if>
    <if test="chae != null">
      CHAE = #{chae,jdbcType=DECIMAL} , 
    </if>
    <if test="chae1 != null">
      CHAE1 = #{chae1,jdbcType=DECIMAL} , 
    </if>
    <if test="chae2 != null">
      CHAE2 = #{chae2,jdbcType=DECIMAL} , 
    </if>
    <if test="bbesnum != null">
      BBESNUM = #{bbesnum,jdbcType=DECIMAL} , 
    </if>
    <if test="bbesnum1 != null">
      BBESNUM1 = #{bbesnum1,jdbcType=DECIMAL} , 
    </if>
    <if test="bbesnum2 != null">
      BBESNUM2 = #{bbesnum2,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbayidmanage" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbayidmanage">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbayidmanage">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbayidmanage">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>