<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEdisaddressMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEdisaddress">
    <id column="ADDRESSID" jdbcType="VARCHAR" property="addressid" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="COUNTRYCODE" jdbcType="VARCHAR" property="countrycode" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="STREET1" jdbcType="VARCHAR" property="street1" />
    <result column="STREET2" jdbcType="VARCHAR" property="street2" />
    <result column="STREET3" jdbcType="VARCHAR" property="street3" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ADDRESSID, CITY, COMPANY, CONTACT, COUNTRYCODE, DISTRICT, MOBILE, NAME, POSTCODE, 
    PROVINCE, STREET1, STREET2, STREET3, TYPE
    from db_edisaddress
    where ADDRESSID = #{addressid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ADDRESSID, CITY, COMPANY, CONTACT, COUNTRYCODE, DISTRICT, MOBILE, NAME, POSTCODE, 
    PROVINCE, STREET1, STREET2, STREET3, TYPE
    from db_edisaddress
  </select>
  <sql id="TableName">
    db_edisaddress
  </sql>
  <sql id="Values">
     #{addressid,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{company,jdbcType=VARCHAR} , 
     #{contact,jdbcType=VARCHAR} , 
     #{countrycode,jdbcType=VARCHAR} , 
     #{district,jdbcType=VARCHAR} , 
     #{mobile,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{postcode,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{street1,jdbcType=VARCHAR} , 
     #{street2,jdbcType=VARCHAR} , 
     #{street3,jdbcType=VARCHAR} , 
     #{type,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    ADDRESSID , 
    CITY , 
    COMPANY , 
    CONTACT , 
    COUNTRYCODE , 
    DISTRICT , 
    MOBILE , 
    NAME , 
    POSTCODE , 
    PROVINCE , 
    STREET1 , 
    STREET2 , 
    STREET3 , 
    TYPE
  </sql>
  <sql id="Criteria">
    <if test="addressid != null">
      ADDRESSID = #{addressid,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      CITY = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="company != null">
      COMPANY = #{company,jdbcType=VARCHAR} and 
    </if>
    <if test="contact != null">
      CONTACT = #{contact,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycode != null">
      COUNTRYCODE = #{countrycode,jdbcType=VARCHAR} and 
    </if>
    <if test="district != null">
      DISTRICT = #{district,jdbcType=VARCHAR} and 
    </if>
    <if test="mobile != null">
      MOBILE = #{mobile,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="postcode != null">
      POSTCODE = #{postcode,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      PROVINCE = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="street1 != null">
      STREET1 = #{street1,jdbcType=VARCHAR} and 
    </if>
    <if test="street2 != null">
      STREET2 = #{street2,jdbcType=VARCHAR} and 
    </if>
    <if test="street3 != null">
      STREET3 = #{street3,jdbcType=VARCHAR} and 
    </if>
    <if test="type != null">
      TYPE = #{type,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="addressid != null">
      ADDRESSID = #{addressid,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      CITY = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="company != null">
      COMPANY = #{company,jdbcType=VARCHAR} , 
    </if>
    <if test="contact != null">
      CONTACT = #{contact,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycode != null">
      COUNTRYCODE = #{countrycode,jdbcType=VARCHAR} , 
    </if>
    <if test="district != null">
      DISTRICT = #{district,jdbcType=VARCHAR} , 
    </if>
    <if test="mobile != null">
      MOBILE = #{mobile,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="postcode != null">
      POSTCODE = #{postcode,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      PROVINCE = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="street1 != null">
      STREET1 = #{street1,jdbcType=VARCHAR} , 
    </if>
    <if test="street2 != null">
      STREET2 = #{street2,jdbcType=VARCHAR} , 
    </if>
    <if test="street3 != null">
      STREET3 = #{street3,jdbcType=VARCHAR} , 
    </if>
    <if test="type != null">
      TYPE = #{type,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEdisaddress" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where ADDRESSID=#{ADDRESSID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEdisaddress">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEdisaddress">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEdisaddress">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>