<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEdisexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEdisexpresstype">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAMECN" jdbcType="VARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="VARCHAR" property="nameen" />
    <result column="MAXWEIGHT" jdbcType="DECIMAL" property="maxweight" />
    <result column="MAXTOTALLENGTH" jdbcType="DECIMAL" property="maxtotallength" />
    <result column="MAXLENGTH" jdbcType="DECIMAL" property="maxlength" />
    <result column="SUPPORTELEC" jdbcType="DECIMAL" property="supportelec" />
    <result column="INCOTERMS" jdbcType="DECIMAL" property="incoterms" />
    <result column="DIRECTIONS" jdbcType="VARCHAR" property="directions" />
    <result column="DESCRIPTIONCN" jdbcType="VARCHAR" property="descriptioncn" />
    <result column="DESCRIPTIONEN" jdbcType="VARCHAR" property="descriptionen" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, NAMECN, NAMEEN, MAXWEIGHT, MAXTOTALLENGTH, MAXLENGTH, SUPPORTELEC, INCOTERMS, 
    DIRECTIONS, DESCRIPTIONCN, DESCRIPTIONEN
    from DB_EDISEXPRESSTYPE
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAMECN, NAMEEN, MAXWEIGHT, MAXTOTALLENGTH, MAXLENGTH, SUPPORTELEC, INCOTERMS, 
    DIRECTIONS, DESCRIPTIONCN, DESCRIPTIONEN
    from DB_EDISEXPRESSTYPE
  </select>
  <sql id="TableName">
    DB_EDISEXPRESSTYPE
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{namecn,jdbcType=VARCHAR} , 
     #{nameen,jdbcType=VARCHAR} , 
     #{maxweight,jdbcType=DECIMAL} , 
     #{maxtotallength,jdbcType=DECIMAL} , 
     #{maxlength,jdbcType=DECIMAL} , 
     #{supportelec,jdbcType=DECIMAL} , 
     #{incoterms,jdbcType=DECIMAL} , 
     #{directions,jdbcType=VARCHAR} , 
     #{descriptioncn,jdbcType=VARCHAR} , 
     #{descriptionen,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAMECN , 
    NAMEEN , 
    MAXWEIGHT , 
    MAXTOTALLENGTH , 
    MAXLENGTH , 
    SUPPORTELEC , 
    INCOTERMS , 
    DIRECTIONS , 
    DESCRIPTIONCN , 
    DESCRIPTIONEN , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} and 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} and 
    </if>
    <if test="maxweight != null">
      maxweight = #{maxweight,jdbcType=DECIMAL} and 
    </if>
    <if test="maxtotallength != null">
      maxtotallength = #{maxtotallength,jdbcType=DECIMAL} and 
    </if>
    <if test="maxlength != null">
      maxlength = #{maxlength,jdbcType=DECIMAL} and 
    </if>
    <if test="supportelec != null">
      supportelec = #{supportelec,jdbcType=DECIMAL} and 
    </if>
    <if test="incoterms != null">
      incoterms = #{incoterms,jdbcType=DECIMAL} and 
    </if>
    <if test="directions != null">
      directions = #{directions,jdbcType=VARCHAR} and 
    </if>
    <if test="descriptioncn != null">
      descriptioncn = #{descriptioncn,jdbcType=VARCHAR} and 
    </if>
    <if test="descriptionen != null">
      descriptionen = #{descriptionen,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} , 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} , 
    </if>
    <if test="maxweight != null">
      maxweight = #{maxweight,jdbcType=DECIMAL} , 
    </if>
    <if test="maxtotallength != null">
      maxtotallength = #{maxtotallength,jdbcType=DECIMAL} , 
    </if>
    <if test="maxlength != null">
      maxlength = #{maxlength,jdbcType=DECIMAL} , 
    </if>
    <if test="supportelec != null">
      supportelec = #{supportelec,jdbcType=DECIMAL} , 
    </if>
    <if test="incoterms != null">
      incoterms = #{incoterms,jdbcType=DECIMAL} , 
    </if>
    <if test="directions != null">
      directions = #{directions,jdbcType=VARCHAR} , 
    </if>
    <if test="descriptioncn != null">
      descriptioncn = #{descriptioncn,jdbcType=VARCHAR} , 
    </if>
    <if test="descriptionen != null">
      descriptionen = #{descriptionen,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEdisexpresstype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEdisexpresstype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEdisexpresstype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEdisexpresstype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>