<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEdispreferenceMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEdispreference">
    <id column="CONSIGNPREFERENCEID" jdbcType="VARCHAR" property="consignpreferenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="PICKUPTIME" jdbcType="DECIMAL" property="pickuptime" />
    <result column="DROPOFFSITEID" jdbcType="VARCHAR" property="dropoffsiteid" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="COUNTRYCODE" jdbcType="VARCHAR" property="countrycode" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="STREET1" jdbcType="VARCHAR" property="street1" />
    <result column="STREET2" jdbcType="VARCHAR" property="street2" />
    <result column="STREET3" jdbcType="VARCHAR" property="street3" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select CONSIGNPREFERENCEID, NAME, TYPE, PICKUPTIME, DROPOFFSITEID, CONTACT, COMPANY, 
    COUNTRYCODE, PROVINCE, CITY, DISTRICT, STREET1, STREET2, STREET3, POSTCODE, MOBILE
    from DB_EDISPREFERENCE
    where CONSIGNPREFERENCEID = #{consignpreferenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CONSIGNPREFERENCEID, NAME, TYPE, PICKUPTIME, DROPOFFSITEID, CONTACT, COMPANY, 
    COUNTRYCODE, PROVINCE, CITY, DISTRICT, STREET1, STREET2, STREET3, POSTCODE, MOBILE
    from DB_EDISPREFERENCE
  </select>
  <sql id="TableName">
    DB_EDISPREFERENCE
  </sql>
  <sql id="Values">
     #{consignpreferenceid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{type,jdbcType=DECIMAL} , 
     #{pickuptime,jdbcType=DECIMAL} , 
     #{dropoffsiteid,jdbcType=VARCHAR} , 
     #{contact,jdbcType=VARCHAR} , 
     #{company,jdbcType=VARCHAR} , 
     #{countrycode,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{district,jdbcType=VARCHAR} , 
     #{street1,jdbcType=VARCHAR} , 
     #{street2,jdbcType=VARCHAR} , 
     #{street3,jdbcType=VARCHAR} , 
     #{postcode,jdbcType=VARCHAR} , 
     #{mobile,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    CONSIGNPREFERENCEID , 
    NAME , 
    TYPE , 
    PICKUPTIME , 
    DROPOFFSITEID , 
    CONTACT , 
    COMPANY , 
    COUNTRYCODE , 
    PROVINCE , 
    CITY , 
    DISTRICT , 
    STREET1 , 
    STREET2 , 
    STREET3 , 
    POSTCODE , 
    MOBILE , 
  </sql>
  <sql id="Criteria">
    <if test="consignpreferenceid != null">
      consignpreferenceid = #{consignpreferenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="pickuptime != null">
      pickuptime = #{pickuptime,jdbcType=DECIMAL} and 
    </if>
    <if test="dropoffsiteid != null">
      dropoffsiteid = #{dropoffsiteid,jdbcType=VARCHAR} and 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} and 
    </if>
    <if test="company != null">
      company = #{company,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} and 
    </if>
    <if test="street1 != null">
      street1 = #{street1,jdbcType=VARCHAR} and 
    </if>
    <if test="street2 != null">
      street2 = #{street2,jdbcType=VARCHAR} and 
    </if>
    <if test="street3 != null">
      street3 = #{street3,jdbcType=VARCHAR} and 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} and 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="consignpreferenceid != null">
      consignpreferenceid = #{consignpreferenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="pickuptime != null">
      pickuptime = #{pickuptime,jdbcType=DECIMAL} , 
    </if>
    <if test="dropoffsiteid != null">
      dropoffsiteid = #{dropoffsiteid,jdbcType=VARCHAR} , 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} , 
    </if>
    <if test="company != null">
      company = #{company,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} , 
    </if>
    <if test="street1 != null">
      street1 = #{street1,jdbcType=VARCHAR} , 
    </if>
    <if test="street2 != null">
      street2 = #{street2,jdbcType=VARCHAR} , 
    </if>
    <if test="street3 != null">
      street3 = #{street3,jdbcType=VARCHAR} , 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} , 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEdispreference" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where CONSIGNPREFERENCEID=#{CONSIGNPREFERENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEdispreference">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEdispreference">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEdispreference">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>