<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEndproductOnlineMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEndproductOnline">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PRODUCTONLINEID" jdbcType="VARCHAR" property="productonlineid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="EBAYSKU" jdbcType="VARCHAR" property="ebaysku" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="PRODUCTTYPE" jdbcType="VARCHAR" property="producttype" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="PRICE1" jdbcType="DECIMAL" property="price1" />
    <result column="PRICE2" jdbcType="DECIMAL" property="price2" />
    <result column="PRICE3" jdbcType="DECIMAL" property="price3" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="NUMBER1" jdbcType="DECIMAL" property="number1" />
    <result column="NUMBER2" jdbcType="DECIMAL" property="number2" />
    <result column="NUMBER3" jdbcType="DECIMAL" property="number3" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="PRODUCTNAMEENGLISH" jdbcType="VARCHAR" property="productnameenglish" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="PIC1" jdbcType="VARCHAR" property="pic1" />
    <result column="PIC2" jdbcType="VARCHAR" property="pic2" />
    <result column="PIC3" jdbcType="VARCHAR" property="pic3" />
    <result column="PIC4" jdbcType="VARCHAR" property="pic4" />
    <result column="PIC5" jdbcType="VARCHAR" property="pic5" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="SELLNUM1" jdbcType="DECIMAL" property="sellnum1" />
    <result column="SELLNUM2" jdbcType="DECIMAL" property="sellnum2" />
    <result column="SELLNUM3" jdbcType="DECIMAL" property="sellnum3" />
    <result column="SELLNUM4" jdbcType="DECIMAL" property="sellnum4" />
    <result column="SELLNUM5" jdbcType="DECIMAL" property="sellnum5" />
    <result column="SELLNUM6" jdbcType="DECIMAL" property="sellnum6" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="FLAG1" jdbcType="VARCHAR" property="flag1" />
    <result column="FLAG2" jdbcType="VARCHAR" property="flag2" />
    <result column="FLAG3" jdbcType="VARCHAR" property="flag3" />
    <result column="FLAG4" jdbcType="VARCHAR" property="flag4" />
    <result column="FLAG5" jdbcType="VARCHAR" property="flag5" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTONLINEID, CORPID, SHOPID, SHOPNAME, EBAYSKU, EBAYITEMID, 
    PRODUCTID, PRODUCTNAME, PRODUCTTYPE, UPDATETIME, PRICE1, PRICE2, PRICE3, MONEYTYPE, 
    NUMBER1, NUMBER2, NUMBER3, RESERVE1, RESERVE2, RESERVE3, PRODUCTNAMEENGLISH, RESERVE4, 
    PIC1, PIC2, PIC3, PIC4, PIC5, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, SELLNUM1, 
    SELLNUM2, SELLNUM3, SELLNUM4, SELLNUM5, SELLNUM6, FLAG, DESCR, FLAG1, FLAG2, FLAG3, 
    FLAG4, FLAG5
    from DB_ENDPRODUCT_ONLINE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTONLINEID, CORPID, SHOPID, SHOPNAME, EBAYSKU, EBAYITEMID, 
    PRODUCTID, PRODUCTNAME, PRODUCTTYPE, UPDATETIME, PRICE1, PRICE2, PRICE3, MONEYTYPE, 
    NUMBER1, NUMBER2, NUMBER3, RESERVE1, RESERVE2, RESERVE3, PRODUCTNAMEENGLISH, RESERVE4, 
    PIC1, PIC2, PIC3, PIC4, PIC5, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, SELLNUM1, 
    SELLNUM2, SELLNUM3, SELLNUM4, SELLNUM5, SELLNUM6, FLAG, DESCR, FLAG1, FLAG2, FLAG3, 
    FLAG4, FLAG5
    from DB_ENDPRODUCT_ONLINE
  </select>
  <sql id="TableName">
    DB_ENDPRODUCT_ONLINE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{productonlineid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{ebaysku,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{producttype,jdbcType=VARCHAR} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{price1,jdbcType=DECIMAL} , 
     #{price2,jdbcType=DECIMAL} , 
     #{price3,jdbcType=DECIMAL} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{number1,jdbcType=DECIMAL} , 
     #{number2,jdbcType=DECIMAL} , 
     #{number3,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{productnameenglish,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{pic1,jdbcType=VARCHAR} , 
     #{pic2,jdbcType=VARCHAR} , 
     #{pic3,jdbcType=VARCHAR} , 
     #{pic4,jdbcType=VARCHAR} , 
     #{pic5,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{sellnum1,jdbcType=DECIMAL} , 
     #{sellnum2,jdbcType=DECIMAL} , 
     #{sellnum3,jdbcType=DECIMAL} , 
     #{sellnum4,jdbcType=DECIMAL} , 
     #{sellnum5,jdbcType=DECIMAL} , 
     #{sellnum6,jdbcType=DECIMAL} , 
     #{flag,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{flag1,jdbcType=VARCHAR} , 
     #{flag2,jdbcType=VARCHAR} , 
     #{flag3,jdbcType=VARCHAR} , 
     #{flag4,jdbcType=VARCHAR} , 
     #{flag5,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTONLINEID , 
    CORPID , 
    SHOPID , 
    SHOPNAME , 
    EBAYSKU , 
    EBAYITEMID , 
    PRODUCTID , 
    PRODUCTNAME , 
    PRODUCTTYPE , 
    UPDATETIME , 
    PRICE1 , 
    PRICE2 , 
    PRICE3 , 
    MONEYTYPE , 
    NUMBER1 , 
    NUMBER2 , 
    NUMBER3 , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    PRODUCTNAMEENGLISH , 
    RESERVE4 , 
    PIC1 , 
    PIC2 , 
    PIC3 , 
    PIC4 , 
    PIC5 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    SELLNUM1 , 
    SELLNUM2 , 
    SELLNUM3 , 
    SELLNUM4 , 
    SELLNUM5 , 
    SELLNUM6 , 
    FLAG , 
    DESCR , 
    FLAG1 , 
    FLAG2 , 
    FLAG3 , 
    FLAG4 , 
    FLAG5 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productonlineid != null">
      productonlineid = #{productonlineid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="producttype != null">
      producttype = #{producttype,jdbcType=VARCHAR} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="price1 != null">
      price1 = #{price1,jdbcType=DECIMAL} and 
    </if>
    <if test="price2 != null">
      price2 = #{price2,jdbcType=DECIMAL} and 
    </if>
    <if test="price3 != null">
      price3 = #{price3,jdbcType=DECIMAL} and 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="number1 != null">
      number1 = #{number1,jdbcType=DECIMAL} and 
    </if>
    <if test="number2 != null">
      number2 = #{number2,jdbcType=DECIMAL} and 
    </if>
    <if test="number3 != null">
      number3 = #{number3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="productnameenglish != null">
      productnameenglish = #{productnameenglish,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="pic1 != null">
      pic1 = #{pic1,jdbcType=VARCHAR} and 
    </if>
    <if test="pic2 != null">
      pic2 = #{pic2,jdbcType=VARCHAR} and 
    </if>
    <if test="pic3 != null">
      pic3 = #{pic3,jdbcType=VARCHAR} and 
    </if>
    <if test="pic4 != null">
      pic4 = #{pic4,jdbcType=VARCHAR} and 
    </if>
    <if test="pic5 != null">
      pic5 = #{pic5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="sellnum1 != null">
      sellnum1 = #{sellnum1,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum2 != null">
      sellnum2 = #{sellnum2,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum3 != null">
      sellnum3 = #{sellnum3,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum4 != null">
      sellnum4 = #{sellnum4,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum5 != null">
      sellnum5 = #{sellnum5,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum6 != null">
      sellnum6 = #{sellnum6,jdbcType=DECIMAL} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="flag1 != null">
      flag1 = #{flag1,jdbcType=VARCHAR} and 
    </if>
    <if test="flag2 != null">
      flag2 = #{flag2,jdbcType=VARCHAR} and 
    </if>
    <if test="flag3 != null">
      flag3 = #{flag3,jdbcType=VARCHAR} and 
    </if>
    <if test="flag4 != null">
      flag4 = #{flag4,jdbcType=VARCHAR} and 
    </if>
    <if test="flag5 != null">
      flag5 = #{flag5,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productonlineid != null">
      productonlineid = #{productonlineid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="producttype != null">
      producttype = #{producttype,jdbcType=VARCHAR} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="price1 != null">
      price1 = #{price1,jdbcType=DECIMAL} , 
    </if>
    <if test="price2 != null">
      price2 = #{price2,jdbcType=DECIMAL} , 
    </if>
    <if test="price3 != null">
      price3 = #{price3,jdbcType=DECIMAL} , 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="number1 != null">
      number1 = #{number1,jdbcType=DECIMAL} , 
    </if>
    <if test="number2 != null">
      number2 = #{number2,jdbcType=DECIMAL} , 
    </if>
    <if test="number3 != null">
      number3 = #{number3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="productnameenglish != null">
      productnameenglish = #{productnameenglish,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="pic1 != null">
      pic1 = #{pic1,jdbcType=VARCHAR} , 
    </if>
    <if test="pic2 != null">
      pic2 = #{pic2,jdbcType=VARCHAR} , 
    </if>
    <if test="pic3 != null">
      pic3 = #{pic3,jdbcType=VARCHAR} , 
    </if>
    <if test="pic4 != null">
      pic4 = #{pic4,jdbcType=VARCHAR} , 
    </if>
    <if test="pic5 != null">
      pic5 = #{pic5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="sellnum1 != null">
      sellnum1 = #{sellnum1,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum2 != null">
      sellnum2 = #{sellnum2,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum3 != null">
      sellnum3 = #{sellnum3,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum4 != null">
      sellnum4 = #{sellnum4,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum5 != null">
      sellnum5 = #{sellnum5,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum6 != null">
      sellnum6 = #{sellnum6,jdbcType=DECIMAL} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="flag1 != null">
      flag1 = #{flag1,jdbcType=VARCHAR} , 
    </if>
    <if test="flag2 != null">
      flag2 = #{flag2,jdbcType=VARCHAR} , 
    </if>
    <if test="flag3 != null">
      flag3 = #{flag3,jdbcType=VARCHAR} , 
    </if>
    <if test="flag4 != null">
      flag4 = #{flag4,jdbcType=VARCHAR} , 
    </if>
    <if test="flag5 != null">
      flag5 = #{flag5,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEndproductOnline" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEndproductOnline">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEndproductOnline">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEndproductOnline">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>