<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEubcityMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEubcity">
    <id column="CITYID" jdbcType="VARCHAR" property="cityid" />
    <result column="CITYNAME" jdbcType="VARCHAR" property="cityname" />
    <result column="PROVINCEID" jdbcType="VARCHAR" property="provinceid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CITYEN" jdbcType="VARCHAR" property="cityen" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select CITYID, CITYNAME, PROVINCEID, CORPID, OPENFLAG, CITYEN
    from db_eubcity
    where CITYID = #{cityid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CITYID, CITYNAME, PROVINCEID, CORPID, OPENFLAG, CITYEN
    from db_eubcity
  </select>
  <sql id="TableName">
    db_eubcity
  </sql>
  <sql id="Values">
     #{cityid,jdbcType=VARCHAR} , 
     #{cityname,jdbcType=VARCHAR} , 
     #{provinceid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{cityen,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    CITYID , 
    CITYNAME , 
    PROVINCEID , 
    CORPID , 
    OPENFLAG , 
    CITYEN
  </sql>
  <sql id="Criteria">
    <if test="cityid != null">
      CITYID = #{cityid,jdbcType=VARCHAR} and 
    </if>
    <if test="cityname != null">
      CITYNAME = #{cityname,jdbcType=VARCHAR} and 
    </if>
    <if test="provinceid != null">
      PROVINCEID = #{provinceid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="cityen != null">
      CITYEN = #{cityen,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="cityid != null">
      CITYID = #{cityid,jdbcType=VARCHAR} , 
    </if>
    <if test="cityname != null">
      CITYNAME = #{cityname,jdbcType=VARCHAR} , 
    </if>
    <if test="provinceid != null">
      PROVINCEID = #{provinceid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="cityen != null">
      CITYEN = #{cityen,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEubcity" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where CITYID=#{CITYID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEubcity">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEubcity">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEubcity">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>