<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEubprovinceMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEubprovince">
    <id column="PROVINCEID" jdbcType="VARCHAR" property="provinceid" />
    <result column="PROVINCENAME" jdbcType="VARCHAR" property="provincename" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="PROVINCEEN" jdbcType="VARCHAR" property="provinceen" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PROVINCEID, PROVINCENAME, CORPID, OPENFLAG, PROVINCEEN
    from db_eubprovince
    where PROVINCEID = #{provinceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PROVINCEID, PROVINCENAME, CORPID, OPENFLAG, PROVINCEEN
    from db_eubprovince
  </select>
  <sql id="TableName">
    db_eubprovince
  </sql>
  <sql id="Values">
     #{provinceid,jdbcType=VARCHAR} , 
     #{provincename,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{provinceen,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    PROVINCEID , 
    PROVINCENAME , 
    CORPID , 
    OPENFLAG , 
    PROVINCEEN
  </sql>
  <sql id="Criteria">
    <if test="provinceid != null">
      PROVINCEID = #{provinceid,jdbcType=VARCHAR} and 
    </if>
    <if test="provincename != null">
      PROVINCENAME = #{provincename,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="provinceen != null">
      PROVINCEEN = #{provinceen,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="provinceid != null">
      PROVINCEID = #{provinceid,jdbcType=VARCHAR} , 
    </if>
    <if test="provincename != null">
      PROVINCENAME = #{provincename,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="provinceen != null">
      PROVINCEEN = #{provinceen,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEubprovince" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where PROVINCEID=#{PROVINCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEubprovince">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEubprovince">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEubprovince">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>