<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbExpresscountryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbExpresscountry">
    <result column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="COUNTRYID" jdbcType="VARCHAR" property="countryid" />
    <result column="COUNTRYNAME" jdbcType="LONGVARCHAR" property="countryname" />
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, EXPRESSID, COUNTRYID, COUNTRYNAME, NAME
    from db_expresscountry
  </select>
  <sql id="TableName">
    db_expresscountry
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{expressid,jdbcType=VARCHAR} , 
     #{countryid,jdbcType=VARCHAR} , 
     #{countryname,jdbcType=LONGVARCHAR} , 
     #{name,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    EXPRESSID , 
    COUNTRYID , 
    COUNTRYNAME , 
    NAME
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="countryid != null">
      COUNTRYID = #{countryid,jdbcType=VARCHAR} and 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="countryid != null">
      COUNTRYID = #{countryid,jdbcType=VARCHAR} , 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbExpresscountry" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbExpresscountry">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbExpresscountry">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbExpresscountry">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>