<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbFpxcountryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbFpxcountry">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="COUNTRYCN" jdbcType="VARCHAR" property="countrycn" />
    <result column="COUNTRYEN" jdbcType="VARCHAR" property="countryen" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, COUNTRYCN, COUNTRYEN, OPENFLAG
    from db_fpxcountry
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, COUNTRYCN, COUNTRYEN, OPENFLAG
    from db_fpxcountry
  </select>
  <sql id="TableName">
    db_fpxcountry
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{countrycn,jdbcType=VARCHAR} , 
     #{countryen,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    COUNTRYCN , 
    COUNTRYEN , 
    OPENFLAG
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycn != null">
      COUNTRYCN = #{countrycn,jdbcType=VARCHAR} and 
    </if>
    <if test="countryen != null">
      COUNTRYEN = #{countryen,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycn != null">
      COUNTRYCN = #{countrycn,jdbcType=VARCHAR} , 
    </if>
    <if test="countryen != null">
      COUNTRYEN = #{countryen,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbFpxcountry" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbFpxcountry">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbFpxcountry">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbFpxcountry">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>