<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbIndividualexpressiddataMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbIndividualexpressiddata">
    <id column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="EXPRESSTYPEID" jdbcType="LONGVARCHAR" property="expresstypeid" />
    <result column="TARGETORDEIRID" jdbcType="LONGVARCHAR" property="targetordeirid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select EXPRESSID, EXPRESSTYPE, CORPID, OPENFLAG, OPER, OPERTIME, CREATEOPER, CREATETIME, 
    VERSION, EXPRESSTYPEID, TARGETORDEIRID
    from db_individualexpressiddata
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EXPRESSID, EXPRESSTYPE, CORPID, OPENFLAG, OPER, OPERTIME, CREATEOPER, CREATETIME, 
    VERSION, EXPRESSTYPEID, TARGETORDEIRID
    from db_individualexpressiddata
  </select>
  <sql id="TableName">
    db_individualexpressiddata
  </sql>
  <sql id="Values">
     #{expressid,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{version,jdbcType=DECIMAL} , 
     #{expresstypeid,jdbcType=LONGVARCHAR} , 
     #{targetordeirid,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    EXPRESSID , 
    EXPRESSTYPE , 
    CORPID , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
    CREATEOPER , 
    CREATETIME , 
    VERSION , 
    EXPRESSTYPEID , 
    TARGETORDEIRID
  </sql>
  <sql id="Criteria">
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="version != null">
      VERSION = #{version,jdbcType=DECIMAL} and 
    </if>
    <if test="expresstypeid != null">
      EXPRESSTYPEID = #{expresstypeid,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="targetordeirid != null">
      TARGETORDEIRID = #{targetordeirid,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="version != null">
      VERSION = #{version,jdbcType=DECIMAL} , 
    </if>
    <if test="expresstypeid != null">
      EXPRESSTYPEID = #{expresstypeid,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="targetordeirid != null">
      TARGETORDEIRID = #{targetordeirid,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbIndividualexpressiddata" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where EXPRESSID=#{EXPRESSID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbIndividualexpressiddata">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbIndividualexpressiddata">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbIndividualexpressiddata">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>