<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbInrcaseMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbInrcase">
    <id column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYITEMNAME" jdbcType="VARCHAR" property="ebayitemname" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="PRECASETIME" jdbcType="TIMESTAMP" property="precasetime" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="ANSWER" jdbcType="VARCHAR" property="answer" />
    <result column="UPDATEFLAG" jdbcType="DECIMAL" property="updateflag" />
    <result column="UPDATEDESCR" jdbcType="VARCHAR" property="updatedescr" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SELLUSERID" jdbcType="VARCHAR" property="selluserid" />
    <result column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="TRACKURL" jdbcType="VARCHAR" property="trackurl" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="CHECKINFO" jdbcType="VARCHAR" property="checkinfo" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="UPDATETIME" jdbcType="DECIMAL" property="updatetime" />
    <result column="OPER" jdbcType="DECIMAL" property="oper" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select TRANSACTIONID, ORDERID, CUSTOMERID, EBAYITEMID, EBAYITEMNAME, STARTTIME, ENDTIME, 
    PRECASETIME, OPERTIME, ANSWER, UPDATEFLAG, UPDATEDESCR, SHOPTYPE, SHOPTYPEID, SELLUSERID, 
    EXPRESSID, EXPRESSTYPE, TRACKURL, GROUPID, CHECKINFO, CHECKFLAG, UPDATETIME, OPER
    from DB_INRCASE
    where TRANSACTIONID = #{transactionid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select TRANSACTIONID, ORDERID, CUSTOMERID, EBAYITEMID, EBAYITEMNAME, STARTTIME, ENDTIME, 
    PRECASETIME, OPERTIME, ANSWER, UPDATEFLAG, UPDATEDESCR, SHOPTYPE, SHOPTYPEID, SELLUSERID, 
    EXPRESSID, EXPRESSTYPE, TRACKURL, GROUPID, CHECKINFO, CHECKFLAG, UPDATETIME, OPER
    from DB_INRCASE
  </select>
  <sql id="TableName">
    DB_INRCASE
  </sql>
  <sql id="Values">
     #{transactionid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{customerid,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{ebayitemname,jdbcType=VARCHAR} , 
     #{starttime,jdbcType=TIMESTAMP} , 
     #{endtime,jdbcType=TIMESTAMP} , 
     #{precasetime,jdbcType=TIMESTAMP} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{answer,jdbcType=VARCHAR} , 
     #{updateflag,jdbcType=DECIMAL} , 
     #{updatedescr,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{selluserid,jdbcType=VARCHAR} , 
     #{expressid,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{trackurl,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{checkinfo,jdbcType=VARCHAR} , 
     #{checkflag,jdbcType=DECIMAL} , 
     #{updatetime,jdbcType=DECIMAL} , 
     #{oper,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    TRANSACTIONID , 
    ORDERID , 
    CUSTOMERID , 
    EBAYITEMID , 
    EBAYITEMNAME , 
    STARTTIME , 
    ENDTIME , 
    PRECASETIME , 
    OPERTIME , 
    ANSWER , 
    UPDATEFLAG , 
    UPDATEDESCR , 
    SHOPTYPE , 
    SHOPTYPEID , 
    SELLUSERID , 
    EXPRESSID , 
    EXPRESSTYPE , 
    TRACKURL , 
    GROUPID , 
    CHECKINFO , 
    CHECKFLAG , 
    UPDATETIME , 
    OPER , 
  </sql>
  <sql id="Criteria">
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemname != null">
      ebayitemname = #{ebayitemname,jdbcType=VARCHAR} and 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="precasetime != null">
      precasetime = #{precasetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="answer != null">
      answer = #{answer,jdbcType=VARCHAR} and 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=DECIMAL} and 
    </if>
    <if test="updatedescr != null">
      updatedescr = #{updatedescr,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="selluserid != null">
      selluserid = #{selluserid,jdbcType=VARCHAR} and 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="trackurl != null">
      trackurl = #{trackurl,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="checkinfo != null">
      checkinfo = #{checkinfo,jdbcType=VARCHAR} and 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemname != null">
      ebayitemname = #{ebayitemname,jdbcType=VARCHAR} , 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="precasetime != null">
      precasetime = #{precasetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="answer != null">
      answer = #{answer,jdbcType=VARCHAR} , 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=DECIMAL} , 
    </if>
    <if test="updatedescr != null">
      updatedescr = #{updatedescr,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="selluserid != null">
      selluserid = #{selluserid,jdbcType=VARCHAR} , 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="trackurl != null">
      trackurl = #{trackurl,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="checkinfo != null">
      checkinfo = #{checkinfo,jdbcType=VARCHAR} , 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbInrcase" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where TRANSACTIONID=#{TRANSACTIONID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbInrcase">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbInrcase">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbInrcase">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>