<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbItemspeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbItemspe">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="EBAYITEMSPE" jdbcType="LONGVARCHAR" property="ebayitemspe" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, EBAYITEMID, FLAG, EBAYITEMSPE
    from db_itemspe
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, EBAYITEMID, FLAG, EBAYITEMSPE
    from db_itemspe
  </select>
  <sql id="TableName">
    db_itemspe
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=VARCHAR} , 
     #{ebayitemspe,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    EBAYITEMID , 
    FLAG , 
    EBAYITEMSPE
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemspe != null">
      EBAYITEMSPE = #{ebayitemspe,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemspe != null">
      EBAYITEMSPE = #{ebayitemspe,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbItemspe" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbItemspe">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbItemspe">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbItemspe">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>