<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbLazadasellerMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbLazadaseller">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="STREET" jdbcType="VARCHAR" property="street" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SGTYPE" jdbcType="VARCHAR" property="sgtype" />
    <result column="THTYPE" jdbcType="VARCHAR" property="thtype" />
    <result column="MYTYPE" jdbcType="VARCHAR" property="mytype" />
    <result column="IDTYPE" jdbcType="VARCHAR" property="idtype" />
    <result column="PHTYPE" jdbcType="VARCHAR" property="phtype" />
    <result column="VNTYPE" jdbcType="VARCHAR" property="vntype" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, NAME, COMPANY, CONTACT, STREET, PROVINCE, CITY, DISTRICT, COUNTRY, POSTCODE, 
    MOBILE, PHONE, EMAIL, OPENFLAG, OPER, OPERTIME, SGTYPE, THTYPE, MYTYPE, IDTYPE, PHTYPE, 
    VNTYPE, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_LAZADASELLER
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, COMPANY, CONTACT, STREET, PROVINCE, CITY, DISTRICT, COUNTRY, POSTCODE, 
    MOBILE, PHONE, EMAIL, OPENFLAG, OPER, OPERTIME, SGTYPE, THTYPE, MYTYPE, IDTYPE, PHTYPE, 
    VNTYPE, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_LAZADASELLER
  </select>
  <sql id="TableName">
    DB_LAZADASELLER
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{company,jdbcType=VARCHAR} , 
     #{contact,jdbcType=VARCHAR} , 
     #{street,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{district,jdbcType=VARCHAR} , 
     #{country,jdbcType=VARCHAR} , 
     #{postcode,jdbcType=VARCHAR} , 
     #{mobile,jdbcType=VARCHAR} , 
     #{phone,jdbcType=VARCHAR} , 
     #{email,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{sgtype,jdbcType=VARCHAR} , 
     #{thtype,jdbcType=VARCHAR} , 
     #{mytype,jdbcType=VARCHAR} , 
     #{idtype,jdbcType=VARCHAR} , 
     #{phtype,jdbcType=VARCHAR} , 
     #{vntype,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    COMPANY , 
    CONTACT , 
    STREET , 
    PROVINCE , 
    CITY , 
    DISTRICT , 
    COUNTRY , 
    POSTCODE , 
    MOBILE , 
    PHONE , 
    EMAIL , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
    SGTYPE , 
    THTYPE , 
    MYTYPE , 
    IDTYPE , 
    PHTYPE , 
    VNTYPE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="company != null">
      company = #{company,jdbcType=VARCHAR} and 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} and 
    </if>
    <if test="street != null">
      street = #{street,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} and 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} and 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} and 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} and 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sgtype != null">
      sgtype = #{sgtype,jdbcType=VARCHAR} and 
    </if>
    <if test="thtype != null">
      thtype = #{thtype,jdbcType=VARCHAR} and 
    </if>
    <if test="mytype != null">
      mytype = #{mytype,jdbcType=VARCHAR} and 
    </if>
    <if test="idtype != null">
      idtype = #{idtype,jdbcType=VARCHAR} and 
    </if>
    <if test="phtype != null">
      phtype = #{phtype,jdbcType=VARCHAR} and 
    </if>
    <if test="vntype != null">
      vntype = #{vntype,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="company != null">
      company = #{company,jdbcType=VARCHAR} , 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} , 
    </if>
    <if test="street != null">
      street = #{street,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} , 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} , 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} , 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} , 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sgtype != null">
      sgtype = #{sgtype,jdbcType=VARCHAR} , 
    </if>
    <if test="thtype != null">
      thtype = #{thtype,jdbcType=VARCHAR} , 
    </if>
    <if test="mytype != null">
      mytype = #{mytype,jdbcType=VARCHAR} , 
    </if>
    <if test="idtype != null">
      idtype = #{idtype,jdbcType=VARCHAR} , 
    </if>
    <if test="phtype != null">
      phtype = #{phtype,jdbcType=VARCHAR} , 
    </if>
    <if test="vntype != null">
      vntype = #{vntype,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbLazadaseller" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbLazadaseller">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbLazadaseller">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbLazadaseller">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>