<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbLcllogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbLcllog">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="CONTAINERNUMBER" jdbcType="VARCHAR" property="containernumber" />
    <result column="FTCBM" jdbcType="DECIMAL" property="ftcbm" />
    <result column="ARRIVALPERIOD" jdbcType="DECIMAL" property="arrivalperiod" />
    <result column="LCLTIME" jdbcType="TIMESTAMP" property="lcltime" />
    <result column="OUTPORTTIME" jdbcType="TIMESTAMP" property="outporttime" />
    <result column="TOWAREHOUSETIME" jdbcType="TIMESTAMP" property="towarehousetime" />
    <result column="INWAREHOUSETIME" jdbcType="TIMESTAMP" property="inwarehousetime" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="PACKAGEINGLIST" jdbcType="VARCHAR" property="packageinglist" />
    <result column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="TOPURPOSEPORTTIME" jdbcType="TIMESTAMP" property="topurposeporttime" />
    <result column="RECEIPT" jdbcType="VARCHAR" property="receipt" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="TRANSPORTFARE" jdbcType="DECIMAL" property="transportfare" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="OPERTYPE" jdbcType="DECIMAL" property="opertype" />
    <result column="CONTAINERINFO" jdbcType="LONGVARCHAR" property="containerinfo" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, CONTAINERNUMBER, FTCBM, ARRIVALPERIOD, LCLTIME, OUTPORTTIME, TOWAREHOUSETIME, 
    INWAREHOUSETIME, CREATEDATE, CREATEOPER, OPERTIME, OPER, PACKAGEINGLIST, EXPRESSID, 
    CHECKTIME, TOPURPOSEPORTTIME, RECEIPT, EXPRESSTYPE, TRANSPORTFARE, POSITION, CONTENT, 
    OPERTYPE, CONTAINERINFO
    from db_lcllog
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, CONTAINERNUMBER, FTCBM, ARRIVALPERIOD, LCLTIME, OUTPORTTIME, TOWAREHOUSETIME, 
    INWAREHOUSETIME, CREATEDATE, CREATEOPER, OPERTIME, OPER, PACKAGEINGLIST, EXPRESSID, 
    CHECKTIME, TOPURPOSEPORTTIME, RECEIPT, EXPRESSTYPE, TRANSPORTFARE, POSITION, CONTENT, 
    OPERTYPE, CONTAINERINFO
    from db_lcllog
  </select>
  <sql id="TableName">
    db_lcllog
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{containernumber,jdbcType=VARCHAR} , 
     #{ftcbm,jdbcType=DECIMAL} , 
     #{arrivalperiod,jdbcType=DECIMAL} , 
     #{lcltime,jdbcType=TIMESTAMP} , 
     #{outporttime,jdbcType=TIMESTAMP} , 
     #{towarehousetime,jdbcType=TIMESTAMP} , 
     #{inwarehousetime,jdbcType=TIMESTAMP} , 
     #{createdate,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{packageinglist,jdbcType=VARCHAR} , 
     #{expressid,jdbcType=VARCHAR} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{topurposeporttime,jdbcType=TIMESTAMP} , 
     #{receipt,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{transportfare,jdbcType=DECIMAL} , 
     #{position,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{opertype,jdbcType=DECIMAL} , 
     #{containerinfo,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    CONTAINERNUMBER , 
    FTCBM , 
    ARRIVALPERIOD , 
    LCLTIME , 
    OUTPORTTIME , 
    TOWAREHOUSETIME , 
    INWAREHOUSETIME , 
    CREATEDATE , 
    CREATEOPER , 
    OPERTIME , 
    OPER , 
    PACKAGEINGLIST , 
    EXPRESSID , 
    CHECKTIME , 
    TOPURPOSEPORTTIME , 
    RECEIPT , 
    EXPRESSTYPE , 
    TRANSPORTFARE , 
    POSITION , 
    CONTENT , 
    OPERTYPE , 
    CONTAINERINFO
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="containernumber != null">
      CONTAINERNUMBER = #{containernumber,jdbcType=VARCHAR} and 
    </if>
    <if test="ftcbm != null">
      FTCBM = #{ftcbm,jdbcType=DECIMAL} and 
    </if>
    <if test="arrivalperiod != null">
      ARRIVALPERIOD = #{arrivalperiod,jdbcType=DECIMAL} and 
    </if>
    <if test="lcltime != null">
      LCLTIME = #{lcltime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="outporttime != null">
      OUTPORTTIME = #{outporttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="towarehousetime != null">
      TOWAREHOUSETIME = #{towarehousetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="inwarehousetime != null">
      INWAREHOUSETIME = #{inwarehousetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createdate != null">
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="packageinglist != null">
      PACKAGEINGLIST = #{packageinglist,jdbcType=VARCHAR} and 
    </if>
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="topurposeporttime != null">
      TOPURPOSEPORTTIME = #{topurposeporttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="receipt != null">
      RECEIPT = #{receipt,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="transportfare != null">
      TRANSPORTFARE = #{transportfare,jdbcType=DECIMAL} and 
    </if>
    <if test="position != null">
      POSITION = #{position,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="opertype != null">
      OPERTYPE = #{opertype,jdbcType=DECIMAL} and 
    </if>
    <if test="containerinfo != null">
      CONTAINERINFO = #{containerinfo,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="containernumber != null">
      CONTAINERNUMBER = #{containernumber,jdbcType=VARCHAR} , 
    </if>
    <if test="ftcbm != null">
      FTCBM = #{ftcbm,jdbcType=DECIMAL} , 
    </if>
    <if test="arrivalperiod != null">
      ARRIVALPERIOD = #{arrivalperiod,jdbcType=DECIMAL} , 
    </if>
    <if test="lcltime != null">
      LCLTIME = #{lcltime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="outporttime != null">
      OUTPORTTIME = #{outporttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="towarehousetime != null">
      TOWAREHOUSETIME = #{towarehousetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="inwarehousetime != null">
      INWAREHOUSETIME = #{inwarehousetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createdate != null">
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="packageinglist != null">
      PACKAGEINGLIST = #{packageinglist,jdbcType=VARCHAR} , 
    </if>
    <if test="expressid != null">
      EXPRESSID = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="topurposeporttime != null">
      TOPURPOSEPORTTIME = #{topurposeporttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="receipt != null">
      RECEIPT = #{receipt,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="transportfare != null">
      TRANSPORTFARE = #{transportfare,jdbcType=DECIMAL} , 
    </if>
    <if test="position != null">
      POSITION = #{position,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="opertype != null">
      OPERTYPE = #{opertype,jdbcType=DECIMAL} , 
    </if>
    <if test="containerinfo != null">
      CONTAINERINFO = #{containerinfo,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbLcllog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbLcllog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbLcllog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbLcllog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>