<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbManystoragebinMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbManystoragebin">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STORAGEBINFLAG" jdbcType="VARCHAR" property="storagebinflag" />
    <result column="MAINSKU" jdbcType="VARCHAR" property="mainsku" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="STORAGENAME" jdbcType="LONGVARCHAR" property="storagename" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, STORAGEID, CREATETIME, CREATEOPER, OPERTIME, OPER, 
    OPENFLAG, CORPID, NAME, STORAGEBINFLAG, MAINSKU, PRODUCTNAME, STORAGENAME, DESCR
    from db_manystoragebin
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, STORAGEID, CREATETIME, CREATEOPER, OPERTIME, OPER, 
    OPENFLAG, CORPID, NAME, STORAGEBINFLAG, MAINSKU, PRODUCTNAME, STORAGENAME, DESCR
    from db_manystoragebin
  </select>
  <sql id="TableName">
    db_manystoragebin
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{storagebinflag,jdbcType=VARCHAR} , 
     #{mainsku,jdbcType=VARCHAR} , 
     #{productname,jdbcType=LONGVARCHAR} , 
     #{storagename,jdbcType=LONGVARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTID , 
    STORAGEID , 
    CREATETIME , 
    CREATEOPER , 
    OPERTIME , 
    OPER , 
    OPENFLAG , 
    CORPID , 
    NAME , 
    STORAGEBINFLAG , 
    MAINSKU , 
    PRODUCTNAME , 
    STORAGENAME , 
    DESCR
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      STORAGEID = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="storagebinflag != null">
      STORAGEBINFLAG = #{storagebinflag,jdbcType=VARCHAR} and 
    </if>
    <if test="mainsku != null">
      MAINSKU = #{mainsku,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="storagename != null">
      STORAGENAME = #{storagename,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      STORAGEID = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="storagebinflag != null">
      STORAGEBINFLAG = #{storagebinflag,jdbcType=VARCHAR} , 
    </if>
    <if test="mainsku != null">
      MAINSKU = #{mainsku,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="storagename != null">
      STORAGENAME = #{storagename,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbManystoragebin" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbManystoragebin">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbManystoragebin">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbManystoragebin">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>