<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMultiWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMultiWarehouse">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="MAINSKU" jdbcType="VARCHAR" property="mainsku" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="COUNTRYJC" jdbcType="VARCHAR" property="countryjc" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="DEFAULTFLAG" jdbcType="VARCHAR" property="defaultflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, MAINSKU, PRODUCTID, STORAGEID, STORAGENAME, COUNTRYJC, OPENFLAG, 
    DEFAULTFLAG, OPER, OPERTIME, RESERVE1, RESERVE2
    from DB_MULTI_WAREHOUSE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, MAINSKU, PRODUCTID, STORAGEID, STORAGENAME, COUNTRYJC, OPENFLAG, 
    DEFAULTFLAG, OPER, OPERTIME, RESERVE1, RESERVE2
    from DB_MULTI_WAREHOUSE
  </select>
  <sql id="TableName">
    DB_MULTI_WAREHOUSE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{mainsku,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storagename,jdbcType=VARCHAR} , 
     #{countryjc,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{defaultflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    MAINSKU , 
    PRODUCTID , 
    STORAGEID , 
    STORAGENAME , 
    COUNTRYJC , 
    OPENFLAG , 
    DEFAULTFLAG , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="mainsku != null">
      mainsku = #{mainsku,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} and 
    </if>
    <if test="countryjc != null">
      countryjc = #{countryjc,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="defaultflag != null">
      defaultflag = #{defaultflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="mainsku != null">
      mainsku = #{mainsku,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} , 
    </if>
    <if test="countryjc != null">
      countryjc = #{countryjc,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="defaultflag != null">
      defaultflag = #{defaultflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbMultiWarehouse" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbMultiWarehouse">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbMultiWarehouse">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbMultiWarehouse">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>