<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMxprinttypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMxprinttype">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="FORMATID" jdbcType="VARCHAR" property="formatid" />
    <result column="FORMATPATH" jdbcType="VARCHAR" property="formatpath" />
    <result column="PRINTTYPE" jdbcType="VARCHAR" property="printtype" />
    <result column="FORMATNAME" jdbcType="VARCHAR" property="formatname" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, FORMATID, FORMATPATH, PRINTTYPE, FORMATNAME
    from db_mxprinttype
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, FORMATID, FORMATPATH, PRINTTYPE, FORMATNAME
    from db_mxprinttype
  </select>
  <sql id="TableName">
    db_mxprinttype
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{formatid,jdbcType=VARCHAR} , 
     #{formatpath,jdbcType=VARCHAR} , 
     #{printtype,jdbcType=VARCHAR} , 
     #{formatname,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    ID , 
    FORMATID , 
    FORMATPATH , 
    PRINTTYPE , 
    FORMATNAME
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      ID = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="formatid != null">
      FORMATID = #{formatid,jdbcType=VARCHAR} and 
    </if>
    <if test="formatpath != null">
      FORMATPATH = #{formatpath,jdbcType=VARCHAR} and 
    </if>
    <if test="printtype != null">
      PRINTTYPE = #{printtype,jdbcType=VARCHAR} and 
    </if>
    <if test="formatname != null">
      FORMATNAME = #{formatname,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      ID = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="formatid != null">
      FORMATID = #{formatid,jdbcType=VARCHAR} , 
    </if>
    <if test="formatpath != null">
      FORMATPATH = #{formatpath,jdbcType=VARCHAR} , 
    </if>
    <if test="printtype != null">
      PRINTTYPE = #{printtype,jdbcType=VARCHAR} , 
    </if>
    <if test="formatname != null">
      FORMATNAME = #{formatname,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbMxprinttype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbMxprinttype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbMxprinttype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbMxprinttype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>