<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMytoolMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMytool">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="IFNUM" jdbcType="VARCHAR" property="ifnum" />
    <result column="PAYMENT" jdbcType="VARCHAR" property="payment" />
    <result column="ENDTIME" jdbcType="VARCHAR" property="endtime" />
    <result column="NUM" jdbcType="DECIMAL" property="num" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="EPASSWD" jdbcType="LONGVARCHAR" property="epasswd" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, IFNUM, PAYMENT, ENDTIME, NUM, NAME, RESERVE1, RESERVE2, CREATETIME, 
    EPASSWD
    from db_mytool
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, IFNUM, PAYMENT, ENDTIME, NUM, NAME, RESERVE1, RESERVE2, CREATETIME, 
    EPASSWD
    from db_mytool
  </select>
  <sql id="TableName">
    db_mytool
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{ifnum,jdbcType=VARCHAR} , 
     #{payment,jdbcType=VARCHAR} , 
     #{endtime,jdbcType=VARCHAR} , 
     #{num,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{epasswd,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    IFNUM , 
    PAYMENT , 
    ENDTIME , 
    NUM , 
    NAME , 
    RESERVE1 , 
    RESERVE2 , 
    CREATETIME , 
    EPASSWD
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="ifnum != null">
      IFNUM = #{ifnum,jdbcType=VARCHAR} and 
    </if>
    <if test="payment != null">
      PAYMENT = #{payment,jdbcType=VARCHAR} and 
    </if>
    <if test="endtime != null">
      ENDTIME = #{endtime,jdbcType=VARCHAR} and 
    </if>
    <if test="num != null">
      NUM = #{num,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="epasswd != null">
      EPASSWD = #{epasswd,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="ifnum != null">
      IFNUM = #{ifnum,jdbcType=VARCHAR} , 
    </if>
    <if test="payment != null">
      PAYMENT = #{payment,jdbcType=VARCHAR} , 
    </if>
    <if test="endtime != null">
      ENDTIME = #{endtime,jdbcType=VARCHAR} , 
    </if>
    <if test="num != null">
      NUM = #{num,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="epasswd != null">
      EPASSWD = #{epasswd,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbMytool" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbMytool">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbMytool">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbMytool">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>