<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOnlinebanproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOnlinebanproduct">
    <id column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="SHOPFLAG" jdbcType="VARCHAR" property="shopflag" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ITEMID, SHOPFLAG, CREATETIME
    from db_onlinebanproduct
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ITEMID, SHOPFLAG, CREATETIME
    from db_onlinebanproduct
  </select>
  <sql id="TableName">
    db_onlinebanproduct
  </sql>
  <sql id="Values">
     #{itemid,jdbcType=VARCHAR} , 
     #{shopflag,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP}
  </sql>
  <sql id="Columns">
    ITEMID , 
    SHOPFLAG , 
    CREATETIME
  </sql>
  <sql id="Criteria">
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopflag != null">
      SHOPFLAG = #{shopflag,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopflag != null">
      SHOPFLAG = #{shopflag,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOnlinebanproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where ITEMID=#{ITEMID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOnlinebanproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOnlinebanproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOnlinebanproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>