<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOpermenuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOpermenu">
    <id column="OPER" jdbcType="VARCHAR" property="oper" />
    <id column="MENUID" jdbcType="VARCHAR" property="menuid" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select OPER, MENUID
    from db_opermenu
  </select>
  <sql id="TableName">
    db_opermenu
  </sql>
  <sql id="Values">
     #{oper,jdbcType=VARCHAR} , 
     #{menuid,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    OPER , 
    MENUID
  </sql>
  <sql id="Criteria">
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="menuid != null">
      MENUID = #{menuid,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="menuid != null">
      MENUID = #{menuid,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOpermenu" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where OPER=#{OPER}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOpermenu">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOpermenu">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOpermenu">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>