<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOrdersearchMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOrdersearch">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FLAG1" jdbcType="VARCHAR" property="flag1" />
    <result column="FLAG2" jdbcType="VARCHAR" property="flag2" />
    <result column="FLAG3" jdbcType="VARCHAR" property="flag3" />
    <result column="FLAG4" jdbcType="VARCHAR" property="flag4" />
    <result column="FLAG5" jdbcType="VARCHAR" property="flag5" />
    <result column="FLAG6" jdbcType="VARCHAR" property="flag6" />
    <result column="FLAG7" jdbcType="VARCHAR" property="flag7" />
    <result column="FLAG8" jdbcType="VARCHAR" property="flag8" />
    <result column="FLAG9" jdbcType="VARCHAR" property="flag9" />
    <result column="FLAG10" jdbcType="VARCHAR" property="flag10" />
    <result column="FLAG11" jdbcType="VARCHAR" property="flag11" />
    <result column="FLAG12" jdbcType="VARCHAR" property="flag12" />
    <result column="FLAG13" jdbcType="VARCHAR" property="flag13" />
    <result column="FLAG14" jdbcType="VARCHAR" property="flag14" />
    <result column="FLAG15" jdbcType="VARCHAR" property="flag15" />
    <result column="FLAG16" jdbcType="VARCHAR" property="flag16" />
    <result column="FLAG17" jdbcType="VARCHAR" property="flag17" />
    <result column="FLAG18" jdbcType="VARCHAR" property="flag18" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="FLAG19" jdbcType="VARCHAR" property="flag19" />
    <result column="FLAG20" jdbcType="VARCHAR" property="flag20" />
    <result column="ORDERMONEY1" jdbcType="VARCHAR" property="ordermoney1" />
    <result column="ORDERMONEY2" jdbcType="VARCHAR" property="ordermoney2" />
    <result column="ORDERMONEYFLAG" jdbcType="VARCHAR" property="ordermoneyflag" />
    <result column="STORAGEFLAG" jdbcType="VARCHAR" property="storageflag" />
    <result column="ORIGINORDERMONEY1" jdbcType="VARCHAR" property="originordermoney1" />
    <result column="ORIGINORDERMONEY2" jdbcType="VARCHAR" property="originordermoney2" />
    <result column="ORIGINORDERMONEYFLAG" jdbcType="VARCHAR" property="originordermoneyflag" />
    <result column="FLAG21" jdbcType="VARCHAR" property="flag21" />
    <result column="PAYPALID" jdbcType="VARCHAR" property="paypalid" />
    <result column="FLAG22" jdbcType="VARCHAR" property="flag22" />
    <result column="FLAG23" jdbcType="VARCHAR" property="flag23" />
    <result column="FLAG24" jdbcType="VARCHAR" property="flag24" />
    <result column="FLAG25" jdbcType="VARCHAR" property="flag25" />
    <result column="FLAG26" jdbcType="VARCHAR" property="flag26" />
    <result column="FLAG27" jdbcType="VARCHAR" property="flag27" />
    <result column="FLAG28" jdbcType="VARCHAR" property="flag28" />
    <result column="FLAG29" jdbcType="VARCHAR" property="flag29" />
    <result column="PAYPALDISPUTE" jdbcType="VARCHAR" property="paypaldispute" />
    <result column="EBAYDISPUTE" jdbcType="VARCHAR" property="ebaydispute" />
    <result column="BANSEND" jdbcType="VARCHAR" property="bansend" />
    <result column="PAYPALDISPUTEFLAG" jdbcType="VARCHAR" property="paypaldisputeflag" />
    <result column="EBAYDISPUTEFLAG" jdbcType="VARCHAR" property="ebaydisputeflag" />
    <result column="BANSENDFLAG" jdbcType="VARCHAR" property="bansendflag" />
    <result column="FLAG31" jdbcType="VARCHAR" property="flag31" />
    <result column="FILED39" jdbcType="VARCHAR" property="filed39" />
    <result column="FLAG35" jdbcType="VARCHAR" property="flag35" />
    <result column="FLAG33" jdbcType="VARCHAR" property="flag33" />
    <result column="FILED35" jdbcType="VARCHAR" property="filed35" />
    <result column="FILED40" jdbcType="VARCHAR" property="filed40" />
    <result column="FLAG34" jdbcType="VARCHAR" property="flag34" />
    <result column="FILED37" jdbcType="VARCHAR" property="filed37" />
    <result column="FLAG38" jdbcType="VARCHAR" property="flag38" />
    <result column="FILED32" jdbcType="VARCHAR" property="filed32" />
    <result column="FLAG36" jdbcType="VARCHAR" property="flag36" />
    <result column="FILED34" jdbcType="VARCHAR" property="filed34" />
    <result column="FLAG37" jdbcType="VARCHAR" property="flag37" />
    <result column="FLAG40" jdbcType="VARCHAR" property="flag40" />
    <result column="FILED33" jdbcType="VARCHAR" property="filed33" />
    <result column="FLAG39" jdbcType="VARCHAR" property="flag39" />
    <result column="FILED36" jdbcType="VARCHAR" property="filed36" />
    <result column="FILED38" jdbcType="VARCHAR" property="filed38" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="SQLFILTER" jdbcType="LONGVARCHAR" property="sqlfilter" />
    <result column="FILED1" jdbcType="LONGVARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="LONGVARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="LONGVARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="LONGVARCHAR" property="filed4" />
    <result column="FILED5" jdbcType="LONGVARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="LONGVARCHAR" property="filed6" />
    <result column="FILED7" jdbcType="LONGVARCHAR" property="filed7" />
    <result column="FILED8" jdbcType="LONGVARCHAR" property="filed8" />
    <result column="FILED9" jdbcType="LONGVARCHAR" property="filed9" />
    <result column="FILED10" jdbcType="LONGVARCHAR" property="filed10" />
    <result column="FILED11" jdbcType="LONGVARCHAR" property="filed11" />
    <result column="FILED12" jdbcType="LONGVARCHAR" property="filed12" />
    <result column="FILED13" jdbcType="LONGVARCHAR" property="filed13" />
    <result column="FILED14" jdbcType="LONGVARCHAR" property="filed14" />
    <result column="FILED15" jdbcType="LONGVARCHAR" property="filed15" />
    <result column="FILED16" jdbcType="LONGVARCHAR" property="filed16" />
    <result column="FILED17" jdbcType="LONGVARCHAR" property="filed17" />
    <result column="FILED18" jdbcType="LONGVARCHAR" property="filed18" />
    <result column="FILED19" jdbcType="LONGVARCHAR" property="filed19" />
    <result column="FILED20" jdbcType="LONGVARCHAR" property="filed20" />
    <result column="STORAGE" jdbcType="LONGVARCHAR" property="storage" />
    <result column="FILED21" jdbcType="LONGVARCHAR" property="filed21" />
    <result column="CUSTOMERID" jdbcType="LONGVARCHAR" property="customerid" />
    <result column="FILED22" jdbcType="LONGVARCHAR" property="filed22" />
    <result column="FILED23" jdbcType="LONGVARCHAR" property="filed23" />
    <result column="FILED24" jdbcType="LONGVARCHAR" property="filed24" />
    <result column="FILED25" jdbcType="LONGVARCHAR" property="filed25" />
    <result column="FILED26" jdbcType="LONGVARCHAR" property="filed26" />
    <result column="FILED27" jdbcType="LONGVARCHAR" property="filed27" />
    <result column="FILED28" jdbcType="LONGVARCHAR" property="filed28" />
    <result column="FILED29" jdbcType="LONGVARCHAR" property="filed29" />
    <result column="FILED30" jdbcType="LONGVARCHAR" property="filed30" />
    <result column="FLAG30" jdbcType="LONGVARCHAR" property="flag30" />
    <result column="FILED31" jdbcType="LONGVARCHAR" property="filed31" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, FLAG1, FLAG2, FLAG3, FLAG4, FLAG5, FLAG6, 
    FLAG7, FLAG8, FLAG9, FLAG10, FLAG11, FLAG12, FLAG13, FLAG14, FLAG15, FLAG16, FLAG17, 
    FLAG18, OPENFLAG, FLAG19, FLAG20, ORDERMONEY1, ORDERMONEY2, ORDERMONEYFLAG, STORAGEFLAG, 
    ORIGINORDERMONEY1, ORIGINORDERMONEY2, ORIGINORDERMONEYFLAG, FLAG21, PAYPALID, FLAG22, 
    FLAG23, FLAG24, FLAG25, FLAG26, FLAG27, FLAG28, FLAG29, PAYPALDISPUTE, EBAYDISPUTE, 
    BANSEND, PAYPALDISPUTEFLAG, EBAYDISPUTEFLAG, BANSENDFLAG, FLAG31, FILED39, FLAG35, 
    FLAG33, FILED35, FILED40, FLAG34, FILED37, FLAG38, FILED32, FLAG36, FILED34, FLAG37, 
    FLAG40, FILED33, FLAG39, FILED36, FILED38, DESCR, SQLFILTER, FILED1, FILED2, FILED3, 
    FILED4, FILED5, FILED6, FILED7, FILED8, FILED9, FILED10, FILED11, FILED12, FILED13, 
    FILED14, FILED15, FILED16, FILED17, FILED18, FILED19, FILED20, STORAGE, FILED21, 
    CUSTOMERID, FILED22, FILED23, FILED24, FILED25, FILED26, FILED27, FILED28, FILED29, 
    FILED30, FLAG30, FILED31
    from db_ordersearch
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, FLAG1, FLAG2, FLAG3, FLAG4, FLAG5, FLAG6, 
    FLAG7, FLAG8, FLAG9, FLAG10, FLAG11, FLAG12, FLAG13, FLAG14, FLAG15, FLAG16, FLAG17, 
    FLAG18, OPENFLAG, FLAG19, FLAG20, ORDERMONEY1, ORDERMONEY2, ORDERMONEYFLAG, STORAGEFLAG, 
    ORIGINORDERMONEY1, ORIGINORDERMONEY2, ORIGINORDERMONEYFLAG, FLAG21, PAYPALID, FLAG22, 
    FLAG23, FLAG24, FLAG25, FLAG26, FLAG27, FLAG28, FLAG29, PAYPALDISPUTE, EBAYDISPUTE, 
    BANSEND, PAYPALDISPUTEFLAG, EBAYDISPUTEFLAG, BANSENDFLAG, FLAG31, FILED39, FLAG35, 
    FLAG33, FILED35, FILED40, FLAG34, FILED37, FLAG38, FILED32, FLAG36, FILED34, FLAG37, 
    FLAG40, FILED33, FLAG39, FILED36, FILED38, DESCR, SQLFILTER, FILED1, FILED2, FILED3, 
    FILED4, FILED5, FILED6, FILED7, FILED8, FILED9, FILED10, FILED11, FILED12, FILED13, 
    FILED14, FILED15, FILED16, FILED17, FILED18, FILED19, FILED20, STORAGE, FILED21, 
    CUSTOMERID, FILED22, FILED23, FILED24, FILED25, FILED26, FILED27, FILED28, FILED29, 
    FILED30, FLAG30, FILED31
    from db_ordersearch
  </select>
  <sql id="TableName">
    db_ordersearch
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{flag1,jdbcType=VARCHAR} , 
     #{flag2,jdbcType=VARCHAR} , 
     #{flag3,jdbcType=VARCHAR} , 
     #{flag4,jdbcType=VARCHAR} , 
     #{flag5,jdbcType=VARCHAR} , 
     #{flag6,jdbcType=VARCHAR} , 
     #{flag7,jdbcType=VARCHAR} , 
     #{flag8,jdbcType=VARCHAR} , 
     #{flag9,jdbcType=VARCHAR} , 
     #{flag10,jdbcType=VARCHAR} , 
     #{flag11,jdbcType=VARCHAR} , 
     #{flag12,jdbcType=VARCHAR} , 
     #{flag13,jdbcType=VARCHAR} , 
     #{flag14,jdbcType=VARCHAR} , 
     #{flag15,jdbcType=VARCHAR} , 
     #{flag16,jdbcType=VARCHAR} , 
     #{flag17,jdbcType=VARCHAR} , 
     #{flag18,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{flag19,jdbcType=VARCHAR} , 
     #{flag20,jdbcType=VARCHAR} , 
     #{ordermoney1,jdbcType=VARCHAR} , 
     #{ordermoney2,jdbcType=VARCHAR} , 
     #{ordermoneyflag,jdbcType=VARCHAR} , 
     #{storageflag,jdbcType=VARCHAR} , 
     #{originordermoney1,jdbcType=VARCHAR} , 
     #{originordermoney2,jdbcType=VARCHAR} , 
     #{originordermoneyflag,jdbcType=VARCHAR} , 
     #{flag21,jdbcType=VARCHAR} , 
     #{paypalid,jdbcType=VARCHAR} , 
     #{flag22,jdbcType=VARCHAR} , 
     #{flag23,jdbcType=VARCHAR} , 
     #{flag24,jdbcType=VARCHAR} , 
     #{flag25,jdbcType=VARCHAR} , 
     #{flag26,jdbcType=VARCHAR} , 
     #{flag27,jdbcType=VARCHAR} , 
     #{flag28,jdbcType=VARCHAR} , 
     #{flag29,jdbcType=VARCHAR} , 
     #{paypaldispute,jdbcType=VARCHAR} , 
     #{ebaydispute,jdbcType=VARCHAR} , 
     #{bansend,jdbcType=VARCHAR} , 
     #{paypaldisputeflag,jdbcType=VARCHAR} , 
     #{ebaydisputeflag,jdbcType=VARCHAR} , 
     #{bansendflag,jdbcType=VARCHAR} , 
     #{flag31,jdbcType=VARCHAR} , 
     #{filed39,jdbcType=VARCHAR} , 
     #{flag35,jdbcType=VARCHAR} , 
     #{flag33,jdbcType=VARCHAR} , 
     #{filed35,jdbcType=VARCHAR} , 
     #{filed40,jdbcType=VARCHAR} , 
     #{flag34,jdbcType=VARCHAR} , 
     #{filed37,jdbcType=VARCHAR} , 
     #{flag38,jdbcType=VARCHAR} , 
     #{filed32,jdbcType=VARCHAR} , 
     #{flag36,jdbcType=VARCHAR} , 
     #{filed34,jdbcType=VARCHAR} , 
     #{flag37,jdbcType=VARCHAR} , 
     #{flag40,jdbcType=VARCHAR} , 
     #{filed33,jdbcType=VARCHAR} , 
     #{flag39,jdbcType=VARCHAR} , 
     #{filed36,jdbcType=VARCHAR} , 
     #{filed38,jdbcType=VARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{sqlfilter,jdbcType=LONGVARCHAR} , 
     #{filed1,jdbcType=LONGVARCHAR} , 
     #{filed2,jdbcType=LONGVARCHAR} , 
     #{filed3,jdbcType=LONGVARCHAR} , 
     #{filed4,jdbcType=LONGVARCHAR} , 
     #{filed5,jdbcType=LONGVARCHAR} , 
     #{filed6,jdbcType=LONGVARCHAR} , 
     #{filed7,jdbcType=LONGVARCHAR} , 
     #{filed8,jdbcType=LONGVARCHAR} , 
     #{filed9,jdbcType=LONGVARCHAR} , 
     #{filed10,jdbcType=LONGVARCHAR} , 
     #{filed11,jdbcType=LONGVARCHAR} , 
     #{filed12,jdbcType=LONGVARCHAR} , 
     #{filed13,jdbcType=LONGVARCHAR} , 
     #{filed14,jdbcType=LONGVARCHAR} , 
     #{filed15,jdbcType=LONGVARCHAR} , 
     #{filed16,jdbcType=LONGVARCHAR} , 
     #{filed17,jdbcType=LONGVARCHAR} , 
     #{filed18,jdbcType=LONGVARCHAR} , 
     #{filed19,jdbcType=LONGVARCHAR} , 
     #{filed20,jdbcType=LONGVARCHAR} , 
     #{storage,jdbcType=LONGVARCHAR} , 
     #{filed21,jdbcType=LONGVARCHAR} , 
     #{customerid,jdbcType=LONGVARCHAR} , 
     #{filed22,jdbcType=LONGVARCHAR} , 
     #{filed23,jdbcType=LONGVARCHAR} , 
     #{filed24,jdbcType=LONGVARCHAR} , 
     #{filed25,jdbcType=LONGVARCHAR} , 
     #{filed26,jdbcType=LONGVARCHAR} , 
     #{filed27,jdbcType=LONGVARCHAR} , 
     #{filed28,jdbcType=LONGVARCHAR} , 
     #{filed29,jdbcType=LONGVARCHAR} , 
     #{filed30,jdbcType=LONGVARCHAR} , 
     #{flag30,jdbcType=LONGVARCHAR} , 
     #{filed31,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    OPER , 
    OPERTIME , 
    FLAG1 , 
    FLAG2 , 
    FLAG3 , 
    FLAG4 , 
    FLAG5 , 
    FLAG6 , 
    FLAG7 , 
    FLAG8 , 
    FLAG9 , 
    FLAG10 , 
    FLAG11 , 
    FLAG12 , 
    FLAG13 , 
    FLAG14 , 
    FLAG15 , 
    FLAG16 , 
    FLAG17 , 
    FLAG18 , 
    OPENFLAG , 
    FLAG19 , 
    FLAG20 , 
    ORDERMONEY1 , 
    ORDERMONEY2 , 
    ORDERMONEYFLAG , 
    STORAGEFLAG , 
    ORIGINORDERMONEY1 , 
    ORIGINORDERMONEY2 , 
    ORIGINORDERMONEYFLAG , 
    FLAG21 , 
    PAYPALID , 
    FLAG22 , 
    FLAG23 , 
    FLAG24 , 
    FLAG25 , 
    FLAG26 , 
    FLAG27 , 
    FLAG28 , 
    FLAG29 , 
    PAYPALDISPUTE , 
    EBAYDISPUTE , 
    BANSEND , 
    PAYPALDISPUTEFLAG , 
    EBAYDISPUTEFLAG , 
    BANSENDFLAG , 
    FLAG31 , 
    FILED39 , 
    FLAG35 , 
    FLAG33 , 
    FILED35 , 
    FILED40 , 
    FLAG34 , 
    FILED37 , 
    FLAG38 , 
    FILED32 , 
    FLAG36 , 
    FILED34 , 
    FLAG37 , 
    FLAG40 , 
    FILED33 , 
    FLAG39 , 
    FILED36 , 
    FILED38 , 
    DESCR , 
    SQLFILTER , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    FILED6 , 
    FILED7 , 
    FILED8 , 
    FILED9 , 
    FILED10 , 
    FILED11 , 
    FILED12 , 
    FILED13 , 
    FILED14 , 
    FILED15 , 
    FILED16 , 
    FILED17 , 
    FILED18 , 
    FILED19 , 
    FILED20 , 
    STORAGE , 
    FILED21 , 
    CUSTOMERID , 
    FILED22 , 
    FILED23 , 
    FILED24 , 
    FILED25 , 
    FILED26 , 
    FILED27 , 
    FILED28 , 
    FILED29 , 
    FILED30 , 
    FLAG30 , 
    FILED31
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flag1 != null">
      FLAG1 = #{flag1,jdbcType=VARCHAR} and 
    </if>
    <if test="flag2 != null">
      FLAG2 = #{flag2,jdbcType=VARCHAR} and 
    </if>
    <if test="flag3 != null">
      FLAG3 = #{flag3,jdbcType=VARCHAR} and 
    </if>
    <if test="flag4 != null">
      FLAG4 = #{flag4,jdbcType=VARCHAR} and 
    </if>
    <if test="flag5 != null">
      FLAG5 = #{flag5,jdbcType=VARCHAR} and 
    </if>
    <if test="flag6 != null">
      FLAG6 = #{flag6,jdbcType=VARCHAR} and 
    </if>
    <if test="flag7 != null">
      FLAG7 = #{flag7,jdbcType=VARCHAR} and 
    </if>
    <if test="flag8 != null">
      FLAG8 = #{flag8,jdbcType=VARCHAR} and 
    </if>
    <if test="flag9 != null">
      FLAG9 = #{flag9,jdbcType=VARCHAR} and 
    </if>
    <if test="flag10 != null">
      FLAG10 = #{flag10,jdbcType=VARCHAR} and 
    </if>
    <if test="flag11 != null">
      FLAG11 = #{flag11,jdbcType=VARCHAR} and 
    </if>
    <if test="flag12 != null">
      FLAG12 = #{flag12,jdbcType=VARCHAR} and 
    </if>
    <if test="flag13 != null">
      FLAG13 = #{flag13,jdbcType=VARCHAR} and 
    </if>
    <if test="flag14 != null">
      FLAG14 = #{flag14,jdbcType=VARCHAR} and 
    </if>
    <if test="flag15 != null">
      FLAG15 = #{flag15,jdbcType=VARCHAR} and 
    </if>
    <if test="flag16 != null">
      FLAG16 = #{flag16,jdbcType=VARCHAR} and 
    </if>
    <if test="flag17 != null">
      FLAG17 = #{flag17,jdbcType=VARCHAR} and 
    </if>
    <if test="flag18 != null">
      FLAG18 = #{flag18,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="flag19 != null">
      FLAG19 = #{flag19,jdbcType=VARCHAR} and 
    </if>
    <if test="flag20 != null">
      FLAG20 = #{flag20,jdbcType=VARCHAR} and 
    </if>
    <if test="ordermoney1 != null">
      ORDERMONEY1 = #{ordermoney1,jdbcType=VARCHAR} and 
    </if>
    <if test="ordermoney2 != null">
      ORDERMONEY2 = #{ordermoney2,jdbcType=VARCHAR} and 
    </if>
    <if test="ordermoneyflag != null">
      ORDERMONEYFLAG = #{ordermoneyflag,jdbcType=VARCHAR} and 
    </if>
    <if test="storageflag != null">
      STORAGEFLAG = #{storageflag,jdbcType=VARCHAR} and 
    </if>
    <if test="originordermoney1 != null">
      ORIGINORDERMONEY1 = #{originordermoney1,jdbcType=VARCHAR} and 
    </if>
    <if test="originordermoney2 != null">
      ORIGINORDERMONEY2 = #{originordermoney2,jdbcType=VARCHAR} and 
    </if>
    <if test="originordermoneyflag != null">
      ORIGINORDERMONEYFLAG = #{originordermoneyflag,jdbcType=VARCHAR} and 
    </if>
    <if test="flag21 != null">
      FLAG21 = #{flag21,jdbcType=VARCHAR} and 
    </if>
    <if test="paypalid != null">
      PAYPALID = #{paypalid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag22 != null">
      FLAG22 = #{flag22,jdbcType=VARCHAR} and 
    </if>
    <if test="flag23 != null">
      FLAG23 = #{flag23,jdbcType=VARCHAR} and 
    </if>
    <if test="flag24 != null">
      FLAG24 = #{flag24,jdbcType=VARCHAR} and 
    </if>
    <if test="flag25 != null">
      FLAG25 = #{flag25,jdbcType=VARCHAR} and 
    </if>
    <if test="flag26 != null">
      FLAG26 = #{flag26,jdbcType=VARCHAR} and 
    </if>
    <if test="flag27 != null">
      FLAG27 = #{flag27,jdbcType=VARCHAR} and 
    </if>
    <if test="flag28 != null">
      FLAG28 = #{flag28,jdbcType=VARCHAR} and 
    </if>
    <if test="flag29 != null">
      FLAG29 = #{flag29,jdbcType=VARCHAR} and 
    </if>
    <if test="paypaldispute != null">
      PAYPALDISPUTE = #{paypaldispute,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaydispute != null">
      EBAYDISPUTE = #{ebaydispute,jdbcType=VARCHAR} and 
    </if>
    <if test="bansend != null">
      BANSEND = #{bansend,jdbcType=VARCHAR} and 
    </if>
    <if test="paypaldisputeflag != null">
      PAYPALDISPUTEFLAG = #{paypaldisputeflag,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaydisputeflag != null">
      EBAYDISPUTEFLAG = #{ebaydisputeflag,jdbcType=VARCHAR} and 
    </if>
    <if test="bansendflag != null">
      BANSENDFLAG = #{bansendflag,jdbcType=VARCHAR} and 
    </if>
    <if test="flag31 != null">
      FLAG31 = #{flag31,jdbcType=VARCHAR} and 
    </if>
    <if test="filed39 != null">
      FILED39 = #{filed39,jdbcType=VARCHAR} and 
    </if>
    <if test="flag35 != null">
      FLAG35 = #{flag35,jdbcType=VARCHAR} and 
    </if>
    <if test="flag33 != null">
      FLAG33 = #{flag33,jdbcType=VARCHAR} and 
    </if>
    <if test="filed35 != null">
      FILED35 = #{filed35,jdbcType=VARCHAR} and 
    </if>
    <if test="filed40 != null">
      FILED40 = #{filed40,jdbcType=VARCHAR} and 
    </if>
    <if test="flag34 != null">
      FLAG34 = #{flag34,jdbcType=VARCHAR} and 
    </if>
    <if test="filed37 != null">
      FILED37 = #{filed37,jdbcType=VARCHAR} and 
    </if>
    <if test="flag38 != null">
      FLAG38 = #{flag38,jdbcType=VARCHAR} and 
    </if>
    <if test="filed32 != null">
      FILED32 = #{filed32,jdbcType=VARCHAR} and 
    </if>
    <if test="flag36 != null">
      FLAG36 = #{flag36,jdbcType=VARCHAR} and 
    </if>
    <if test="filed34 != null">
      FILED34 = #{filed34,jdbcType=VARCHAR} and 
    </if>
    <if test="flag37 != null">
      FLAG37 = #{flag37,jdbcType=VARCHAR} and 
    </if>
    <if test="flag40 != null">
      FLAG40 = #{flag40,jdbcType=VARCHAR} and 
    </if>
    <if test="filed33 != null">
      FILED33 = #{filed33,jdbcType=VARCHAR} and 
    </if>
    <if test="flag39 != null">
      FLAG39 = #{flag39,jdbcType=VARCHAR} and 
    </if>
    <if test="filed36 != null">
      FILED36 = #{filed36,jdbcType=VARCHAR} and 
    </if>
    <if test="filed38 != null">
      FILED38 = #{filed38,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="sqlfilter != null">
      SQLFILTER = #{sqlfilter,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed11 != null">
      FILED11 = #{filed11,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed12 != null">
      FILED12 = #{filed12,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed13 != null">
      FILED13 = #{filed13,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed14 != null">
      FILED14 = #{filed14,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed15 != null">
      FILED15 = #{filed15,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed16 != null">
      FILED16 = #{filed16,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed17 != null">
      FILED17 = #{filed17,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed18 != null">
      FILED18 = #{filed18,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed19 != null">
      FILED19 = #{filed19,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed20 != null">
      FILED20 = #{filed20,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="storage != null">
      STORAGE = #{storage,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed21 != null">
      FILED21 = #{filed21,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="customerid != null">
      CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed22 != null">
      FILED22 = #{filed22,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed23 != null">
      FILED23 = #{filed23,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed24 != null">
      FILED24 = #{filed24,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed25 != null">
      FILED25 = #{filed25,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed26 != null">
      FILED26 = #{filed26,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed27 != null">
      FILED27 = #{filed27,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed28 != null">
      FILED28 = #{filed28,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed29 != null">
      FILED29 = #{filed29,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed30 != null">
      FILED30 = #{filed30,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="flag30 != null">
      FLAG30 = #{flag30,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed31 != null">
      FILED31 = #{filed31,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flag1 != null">
      FLAG1 = #{flag1,jdbcType=VARCHAR} , 
    </if>
    <if test="flag2 != null">
      FLAG2 = #{flag2,jdbcType=VARCHAR} , 
    </if>
    <if test="flag3 != null">
      FLAG3 = #{flag3,jdbcType=VARCHAR} , 
    </if>
    <if test="flag4 != null">
      FLAG4 = #{flag4,jdbcType=VARCHAR} , 
    </if>
    <if test="flag5 != null">
      FLAG5 = #{flag5,jdbcType=VARCHAR} , 
    </if>
    <if test="flag6 != null">
      FLAG6 = #{flag6,jdbcType=VARCHAR} , 
    </if>
    <if test="flag7 != null">
      FLAG7 = #{flag7,jdbcType=VARCHAR} , 
    </if>
    <if test="flag8 != null">
      FLAG8 = #{flag8,jdbcType=VARCHAR} , 
    </if>
    <if test="flag9 != null">
      FLAG9 = #{flag9,jdbcType=VARCHAR} , 
    </if>
    <if test="flag10 != null">
      FLAG10 = #{flag10,jdbcType=VARCHAR} , 
    </if>
    <if test="flag11 != null">
      FLAG11 = #{flag11,jdbcType=VARCHAR} , 
    </if>
    <if test="flag12 != null">
      FLAG12 = #{flag12,jdbcType=VARCHAR} , 
    </if>
    <if test="flag13 != null">
      FLAG13 = #{flag13,jdbcType=VARCHAR} , 
    </if>
    <if test="flag14 != null">
      FLAG14 = #{flag14,jdbcType=VARCHAR} , 
    </if>
    <if test="flag15 != null">
      FLAG15 = #{flag15,jdbcType=VARCHAR} , 
    </if>
    <if test="flag16 != null">
      FLAG16 = #{flag16,jdbcType=VARCHAR} , 
    </if>
    <if test="flag17 != null">
      FLAG17 = #{flag17,jdbcType=VARCHAR} , 
    </if>
    <if test="flag18 != null">
      FLAG18 = #{flag18,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="flag19 != null">
      FLAG19 = #{flag19,jdbcType=VARCHAR} , 
    </if>
    <if test="flag20 != null">
      FLAG20 = #{flag20,jdbcType=VARCHAR} , 
    </if>
    <if test="ordermoney1 != null">
      ORDERMONEY1 = #{ordermoney1,jdbcType=VARCHAR} , 
    </if>
    <if test="ordermoney2 != null">
      ORDERMONEY2 = #{ordermoney2,jdbcType=VARCHAR} , 
    </if>
    <if test="ordermoneyflag != null">
      ORDERMONEYFLAG = #{ordermoneyflag,jdbcType=VARCHAR} , 
    </if>
    <if test="storageflag != null">
      STORAGEFLAG = #{storageflag,jdbcType=VARCHAR} , 
    </if>
    <if test="originordermoney1 != null">
      ORIGINORDERMONEY1 = #{originordermoney1,jdbcType=VARCHAR} , 
    </if>
    <if test="originordermoney2 != null">
      ORIGINORDERMONEY2 = #{originordermoney2,jdbcType=VARCHAR} , 
    </if>
    <if test="originordermoneyflag != null">
      ORIGINORDERMONEYFLAG = #{originordermoneyflag,jdbcType=VARCHAR} , 
    </if>
    <if test="flag21 != null">
      FLAG21 = #{flag21,jdbcType=VARCHAR} , 
    </if>
    <if test="paypalid != null">
      PAYPALID = #{paypalid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag22 != null">
      FLAG22 = #{flag22,jdbcType=VARCHAR} , 
    </if>
    <if test="flag23 != null">
      FLAG23 = #{flag23,jdbcType=VARCHAR} , 
    </if>
    <if test="flag24 != null">
      FLAG24 = #{flag24,jdbcType=VARCHAR} , 
    </if>
    <if test="flag25 != null">
      FLAG25 = #{flag25,jdbcType=VARCHAR} , 
    </if>
    <if test="flag26 != null">
      FLAG26 = #{flag26,jdbcType=VARCHAR} , 
    </if>
    <if test="flag27 != null">
      FLAG27 = #{flag27,jdbcType=VARCHAR} , 
    </if>
    <if test="flag28 != null">
      FLAG28 = #{flag28,jdbcType=VARCHAR} , 
    </if>
    <if test="flag29 != null">
      FLAG29 = #{flag29,jdbcType=VARCHAR} , 
    </if>
    <if test="paypaldispute != null">
      PAYPALDISPUTE = #{paypaldispute,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaydispute != null">
      EBAYDISPUTE = #{ebaydispute,jdbcType=VARCHAR} , 
    </if>
    <if test="bansend != null">
      BANSEND = #{bansend,jdbcType=VARCHAR} , 
    </if>
    <if test="paypaldisputeflag != null">
      PAYPALDISPUTEFLAG = #{paypaldisputeflag,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaydisputeflag != null">
      EBAYDISPUTEFLAG = #{ebaydisputeflag,jdbcType=VARCHAR} , 
    </if>
    <if test="bansendflag != null">
      BANSENDFLAG = #{bansendflag,jdbcType=VARCHAR} , 
    </if>
    <if test="flag31 != null">
      FLAG31 = #{flag31,jdbcType=VARCHAR} , 
    </if>
    <if test="filed39 != null">
      FILED39 = #{filed39,jdbcType=VARCHAR} , 
    </if>
    <if test="flag35 != null">
      FLAG35 = #{flag35,jdbcType=VARCHAR} , 
    </if>
    <if test="flag33 != null">
      FLAG33 = #{flag33,jdbcType=VARCHAR} , 
    </if>
    <if test="filed35 != null">
      FILED35 = #{filed35,jdbcType=VARCHAR} , 
    </if>
    <if test="filed40 != null">
      FILED40 = #{filed40,jdbcType=VARCHAR} , 
    </if>
    <if test="flag34 != null">
      FLAG34 = #{flag34,jdbcType=VARCHAR} , 
    </if>
    <if test="filed37 != null">
      FILED37 = #{filed37,jdbcType=VARCHAR} , 
    </if>
    <if test="flag38 != null">
      FLAG38 = #{flag38,jdbcType=VARCHAR} , 
    </if>
    <if test="filed32 != null">
      FILED32 = #{filed32,jdbcType=VARCHAR} , 
    </if>
    <if test="flag36 != null">
      FLAG36 = #{flag36,jdbcType=VARCHAR} , 
    </if>
    <if test="filed34 != null">
      FILED34 = #{filed34,jdbcType=VARCHAR} , 
    </if>
    <if test="flag37 != null">
      FLAG37 = #{flag37,jdbcType=VARCHAR} , 
    </if>
    <if test="flag40 != null">
      FLAG40 = #{flag40,jdbcType=VARCHAR} , 
    </if>
    <if test="filed33 != null">
      FILED33 = #{filed33,jdbcType=VARCHAR} , 
    </if>
    <if test="flag39 != null">
      FLAG39 = #{flag39,jdbcType=VARCHAR} , 
    </if>
    <if test="filed36 != null">
      FILED36 = #{filed36,jdbcType=VARCHAR} , 
    </if>
    <if test="filed38 != null">
      FILED38 = #{filed38,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="sqlfilter != null">
      SQLFILTER = #{sqlfilter,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed11 != null">
      FILED11 = #{filed11,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed12 != null">
      FILED12 = #{filed12,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed13 != null">
      FILED13 = #{filed13,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed14 != null">
      FILED14 = #{filed14,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed15 != null">
      FILED15 = #{filed15,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed16 != null">
      FILED16 = #{filed16,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed17 != null">
      FILED17 = #{filed17,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed18 != null">
      FILED18 = #{filed18,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed19 != null">
      FILED19 = #{filed19,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed20 != null">
      FILED20 = #{filed20,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="storage != null">
      STORAGE = #{storage,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed21 != null">
      FILED21 = #{filed21,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="customerid != null">
      CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed22 != null">
      FILED22 = #{filed22,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed23 != null">
      FILED23 = #{filed23,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed24 != null">
      FILED24 = #{filed24,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed25 != null">
      FILED25 = #{filed25,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed26 != null">
      FILED26 = #{filed26,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed27 != null">
      FILED27 = #{filed27,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed28 != null">
      FILED28 = #{filed28,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed29 != null">
      FILED29 = #{filed29,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed30 != null">
      FILED30 = #{filed30,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="flag30 != null">
      FLAG30 = #{flag30,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed31 != null">
      FILED31 = #{filed31,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOrdersearch" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOrdersearch">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOrdersearch">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOrdersearch">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>