<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOutcategoryorderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOutcategoryorder">
    <id column="EBAYORDERID" jdbcType="VARCHAR" property="ebayorderid" />
    <result column="DELIVERYWAYID" jdbcType="VARCHAR" property="deliverywayid" />
    <result column="DELIVERYINSURANCETYPEID" jdbcType="VARCHAR" property="deliveryinsurancetypeid" />
    <result column="WAREHOUSEID" jdbcType="VARCHAR" property="warehouseid" />
    <result column="SELLERORDERNO" jdbcType="VARCHAR" property="sellerorderno" />
    <result column="RECORDID" jdbcType="VARCHAR" property="recordid" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="POSTAL" jdbcType="VARCHAR" property="postal" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="COUNTRYNAME" jdbcType="VARCHAR" property="countryname" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="TRACKINGNUM" jdbcType="VARCHAR" property="trackingnum" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="REGIONNAME" jdbcType="LONGVARCHAR" property="regionname" />
    <result column="ADDRESS1" jdbcType="LONGVARCHAR" property="address1" />
    <result column="ADDRESS2" jdbcType="LONGVARCHAR" property="address2" />
    <result column="CITY" jdbcType="LONGVARCHAR" property="city" />
    <result column="ERROR" jdbcType="LONGVARCHAR" property="error" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select EBAYORDERID, DELIVERYWAYID, DELIVERYINSURANCETYPEID, WAREHOUSEID, SELLERORDERNO, 
    RECORDID, PHONE, POSTAL, EMAIL, COUNTRYNAME, FLAG, TRACKINGNUM, CREATETIME, OPERTIME, 
    OPER, UPDATETIME, NAME, REGIONNAME, ADDRESS1, ADDRESS2, CITY, ERROR
    from db_outcategoryorder
    where EBAYORDERID = #{ebayorderid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EBAYORDERID, DELIVERYWAYID, DELIVERYINSURANCETYPEID, WAREHOUSEID, SELLERORDERNO, 
    RECORDID, PHONE, POSTAL, EMAIL, COUNTRYNAME, FLAG, TRACKINGNUM, CREATETIME, OPERTIME, 
    OPER, UPDATETIME, NAME, REGIONNAME, ADDRESS1, ADDRESS2, CITY, ERROR
    from db_outcategoryorder
  </select>
  <sql id="TableName">
    db_outcategoryorder
  </sql>
  <sql id="Values">
     #{ebayorderid,jdbcType=VARCHAR} , 
     #{deliverywayid,jdbcType=VARCHAR} , 
     #{deliveryinsurancetypeid,jdbcType=VARCHAR} , 
     #{warehouseid,jdbcType=VARCHAR} , 
     #{sellerorderno,jdbcType=VARCHAR} , 
     #{recordid,jdbcType=VARCHAR} , 
     #{phone,jdbcType=VARCHAR} , 
     #{postal,jdbcType=VARCHAR} , 
     #{email,jdbcType=VARCHAR} , 
     #{countryname,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{trackingnum,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{name,jdbcType=LONGVARCHAR} , 
     #{regionname,jdbcType=LONGVARCHAR} , 
     #{address1,jdbcType=LONGVARCHAR} , 
     #{address2,jdbcType=LONGVARCHAR} , 
     #{city,jdbcType=LONGVARCHAR} , 
     #{error,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    EBAYORDERID , 
    DELIVERYWAYID , 
    DELIVERYINSURANCETYPEID , 
    WAREHOUSEID , 
    SELLERORDERNO , 
    RECORDID , 
    PHONE , 
    POSTAL , 
    EMAIL , 
    COUNTRYNAME , 
    FLAG , 
    TRACKINGNUM , 
    CREATETIME , 
    OPERTIME , 
    OPER , 
    UPDATETIME , 
    NAME , 
    REGIONNAME , 
    ADDRESS1 , 
    ADDRESS2 , 
    CITY , 
    ERROR
  </sql>
  <sql id="Criteria">
    <if test="ebayorderid != null">
      EBAYORDERID = #{ebayorderid,jdbcType=VARCHAR} and 
    </if>
    <if test="deliverywayid != null">
      DELIVERYWAYID = #{deliverywayid,jdbcType=VARCHAR} and 
    </if>
    <if test="deliveryinsurancetypeid != null">
      DELIVERYINSURANCETYPEID = #{deliveryinsurancetypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="warehouseid != null">
      WAREHOUSEID = #{warehouseid,jdbcType=VARCHAR} and 
    </if>
    <if test="sellerorderno != null">
      SELLERORDERNO = #{sellerorderno,jdbcType=VARCHAR} and 
    </if>
    <if test="recordid != null">
      RECORDID = #{recordid,jdbcType=VARCHAR} and 
    </if>
    <if test="phone != null">
      PHONE = #{phone,jdbcType=VARCHAR} and 
    </if>
    <if test="postal != null">
      POSTAL = #{postal,jdbcType=VARCHAR} and 
    </if>
    <if test="email != null">
      EMAIL = #{email,jdbcType=VARCHAR} and 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="trackingnum != null">
      TRACKINGNUM = #{trackingnum,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="updatetime != null">
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="regionname != null">
      REGIONNAME = #{regionname,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="address1 != null">
      ADDRESS1 = #{address1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="address2 != null">
      ADDRESS2 = #{address2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="city != null">
      CITY = #{city,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="error != null">
      ERROR = #{error,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="ebayorderid != null">
      EBAYORDERID = #{ebayorderid,jdbcType=VARCHAR} , 
    </if>
    <if test="deliverywayid != null">
      DELIVERYWAYID = #{deliverywayid,jdbcType=VARCHAR} , 
    </if>
    <if test="deliveryinsurancetypeid != null">
      DELIVERYINSURANCETYPEID = #{deliveryinsurancetypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="warehouseid != null">
      WAREHOUSEID = #{warehouseid,jdbcType=VARCHAR} , 
    </if>
    <if test="sellerorderno != null">
      SELLERORDERNO = #{sellerorderno,jdbcType=VARCHAR} , 
    </if>
    <if test="recordid != null">
      RECORDID = #{recordid,jdbcType=VARCHAR} , 
    </if>
    <if test="phone != null">
      PHONE = #{phone,jdbcType=VARCHAR} , 
    </if>
    <if test="postal != null">
      POSTAL = #{postal,jdbcType=VARCHAR} , 
    </if>
    <if test="email != null">
      EMAIL = #{email,jdbcType=VARCHAR} , 
    </if>
    <if test="countryname != null">
      COUNTRYNAME = #{countryname,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="trackingnum != null">
      TRACKINGNUM = #{trackingnum,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="updatetime != null">
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="regionname != null">
      REGIONNAME = #{regionname,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="address1 != null">
      ADDRESS1 = #{address1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="address2 != null">
      ADDRESS2 = #{address2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="city != null">
      CITY = #{city,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="error != null">
      ERROR = #{error,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOutcategoryorder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where EBAYORDERID=#{EBAYORDERID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>