<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPostdetailMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPostdetail">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="TASKSID" jdbcType="VARCHAR" property="tasksid" />
    <result column="PROPERTYID" jdbcType="VARCHAR" property="propertyid" />
    <result column="PROPERTYVALUE" jdbcType="VARCHAR" property="propertyvalue" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, TASKSID, PROPERTYID, PROPERTYVALUE, TYPE, VALUE
    from DB_POSTDETAIL
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, TASKSID, PROPERTYID, PROPERTYVALUE, TYPE, VALUE
    from DB_POSTDETAIL
  </select>
  <sql id="TableName">
    DB_POSTDETAIL
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{tasksid,jdbcType=VARCHAR} , 
     #{propertyid,jdbcType=VARCHAR} , 
     #{propertyvalue,jdbcType=VARCHAR} , 
     #{type,jdbcType=DECIMAL} , 
     #{value,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    TASKSID , 
    PROPERTYID , 
    PROPERTYVALUE , 
    TYPE , 
    VALUE , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="tasksid != null">
      tasksid = #{tasksid,jdbcType=VARCHAR} and 
    </if>
    <if test="propertyid != null">
      propertyid = #{propertyid,jdbcType=VARCHAR} and 
    </if>
    <if test="propertyvalue != null">
      propertyvalue = #{propertyvalue,jdbcType=VARCHAR} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="value != null">
      value = #{value,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="tasksid != null">
      tasksid = #{tasksid,jdbcType=VARCHAR} , 
    </if>
    <if test="propertyid != null">
      propertyid = #{propertyid,jdbcType=VARCHAR} , 
    </if>
    <if test="propertyvalue != null">
      propertyvalue = #{propertyvalue,jdbcType=VARCHAR} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="value != null">
      value = #{value,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbPostdetail" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbPostdetail">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbPostdetail">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbPostdetail">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>