<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPropertyMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProperty">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PROPERTYVALUE" jdbcType="VARCHAR" property="propertyvalue" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, PROPERTYVALUE, TYPE, VALUE
    from DB_PROPERTY
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, PROPERTYVALUE, TYPE, VALUE
    from DB_PROPERTY
  </select>
  <sql id="TableName">
    DB_PROPERTY
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{propertyvalue,jdbcType=VARCHAR} , 
     #{type,jdbcType=DECIMAL} , 
     #{value,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    PROPERTYVALUE , 
    TYPE , 
    VALUE , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="propertyvalue != null">
      propertyvalue = #{propertyvalue,jdbcType=VARCHAR} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="value != null">
      value = #{value,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="propertyvalue != null">
      propertyvalue = #{propertyvalue,jdbcType=VARCHAR} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="value != null">
      value = #{value,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProperty" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProperty">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProperty">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProperty">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>