<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductinfoMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductinfo">
    <id column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="SONSKU" jdbcType="VARCHAR" property="sonsku" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="PRODUCTTYPE" jdbcType="VARCHAR" property="producttype" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="ATTRIBUTEID" jdbcType="VARCHAR" property="attributeid" />
    <result column="ATTRIBUTENAME" jdbcType="VARCHAR" property="attributename" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODEFIEDTIME" jdbcType="TIMESTAMP" property="modefiedtime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SKUID, ITEMID, SKU, SONSKU, CATEGORYID, PRODUCTTYPE, WEIGHT, ATTRIBUTEID, 
    ATTRIBUTENAME, CREATETIME, MODEFIEDTIME
    from DB_PRODUCTINFO
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SKUID, ITEMID, SKU, SONSKU, CATEGORYID, PRODUCTTYPE, WEIGHT, ATTRIBUTEID, 
    ATTRIBUTENAME, CREATETIME, MODEFIEDTIME
    from DB_PRODUCTINFO
  </select>
  <sql id="TableName">
    DB_PRODUCTINFO
  </sql>
  <sql id="Values">
     #{skuid,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
     #{sonsku,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{producttype,jdbcType=VARCHAR} , 
     #{weight,jdbcType=DECIMAL} , 
     #{attributeid,jdbcType=VARCHAR} , 
     #{attributename,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{modefiedtime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SKUID , 
    ITEMID , 
    SKU , 
    SONSKU , 
    CATEGORYID , 
    PRODUCTTYPE , 
    WEIGHT , 
    ATTRIBUTEID , 
    ATTRIBUTENAME , 
    CREATETIME , 
    MODEFIEDTIME , 
  </sql>
  <sql id="Criteria">
    <if test="skuid != null">
      skuid = #{skuid,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="sonsku != null">
      sonsku = #{sonsku,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="producttype != null">
      producttype = #{producttype,jdbcType=VARCHAR} and 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="attributeid != null">
      attributeid = #{attributeid,jdbcType=VARCHAR} and 
    </if>
    <if test="attributename != null">
      attributename = #{attributename,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="modefiedtime != null">
      modefiedtime = #{modefiedtime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="skuid != null">
      skuid = #{skuid,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="sonsku != null">
      sonsku = #{sonsku,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="producttype != null">
      producttype = #{producttype,jdbcType=VARCHAR} , 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="attributeid != null">
      attributeid = #{attributeid,jdbcType=VARCHAR} , 
    </if>
    <if test="attributename != null">
      attributename = #{attributename,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="modefiedtime != null">
      modefiedtime = #{modefiedtime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductinfo" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SKUID=#{SKUID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductinfo">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductinfo">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductinfo">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>