<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductnumMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductnum">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="STOCKSKU" jdbcType="VARCHAR" property="stocksku" />
    <result column="PRODUCTNUM" jdbcType="DECIMAL" property="productnum" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="SOURCE" jdbcType="DECIMAL" property="source" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="ERROR" jdbcType="VARCHAR" property="error" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, STOCKSKU, PRODUCTNUM, TYPE, SOURCE, FLAG, ERROR, CREATETIME, OPERTIME, 
    OPER
    from DB_PRODUCTNUM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, STOCKSKU, PRODUCTNUM, TYPE, SOURCE, FLAG, ERROR, CREATETIME, OPERTIME, 
    OPER
    from DB_PRODUCTNUM
  </select>
  <sql id="TableName">
    DB_PRODUCTNUM
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{stocksku,jdbcType=VARCHAR} , 
     #{productnum,jdbcType=DECIMAL} , 
     #{type,jdbcType=DECIMAL} , 
     #{source,jdbcType=DECIMAL} , 
     #{flag,jdbcType=DECIMAL} , 
     #{error,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    STOCKSKU , 
    PRODUCTNUM , 
    TYPE , 
    SOURCE , 
    FLAG , 
    ERROR , 
    CREATETIME , 
    OPERTIME , 
    OPER , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="stocksku != null">
      stocksku = #{stocksku,jdbcType=VARCHAR} and 
    </if>
    <if test="productnum != null">
      productnum = #{productnum,jdbcType=DECIMAL} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=DECIMAL} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="stocksku != null">
      stocksku = #{stocksku,jdbcType=VARCHAR} , 
    </if>
    <if test="productnum != null">
      productnum = #{productnum,jdbcType=DECIMAL} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=DECIMAL} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductnum" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductnum">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductnum">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductnum">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>