<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProduceNewMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProduceNew">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="GSTPRICE" jdbcType="DECIMAL" property="gstprice" />
    <result column="OCEANSHIPPRICE" jdbcType="DECIMAL" property="oceanshipprice" />
    <result column="EXPRESSPRICE" jdbcType="DECIMAL" property="expressprice" />
    <result column="PROFIT" jdbcType="DECIMAL" property="profit" />
    <result column="STORERENT" jdbcType="DECIMAL" property="storerent" />
    <result column="DHNUMBER" jdbcType="DECIMAL" property="dhnumber" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="RATE" jdbcType="DECIMAL" property="rate" />
    <result column="NEWPRODUCTID" jdbcType="VARCHAR" property="newproductid" />
    <result column="EXPRESSFEE" jdbcType="DECIMAL" property="expressfee" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="GENERALDELIVERY" jdbcType="VARCHAR" property="generaldelivery" />
    <result column="GENERALDELIVERYFEE" jdbcType="DECIMAL" property="generaldeliveryfee" />
    <result column="EXPEDITEDCOURIER" jdbcType="VARCHAR" property="expeditedcourier" />
    <result column="EXPEDITEDCOURIERFEE" jdbcType="DECIMAL" property="expeditedcourierfee" />
    <result column="WAREHOUSERENTAL" jdbcType="DECIMAL" property="warehouserental" />
    <result column="HANDLINGCHARGES" jdbcType="DECIMAL" property="handlingcharges" />
    <result column="QUALITYRATING" jdbcType="VARCHAR" property="qualityrating" />
    <result column="SELLSTATUS" jdbcType="DECIMAL" property="sellstatus" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, GSTPRICE, OCEANSHIPPRICE, EXPRESSPRICE, PROFIT, STORERENT, 
    DHNUMBER, COUNTRY, RATE, NEWPRODUCTID, EXPRESSFEE, STATUS, GENERALDELIVERY, GENERALDELIVERYFEE, 
    EXPEDITEDCOURIER, EXPEDITEDCOURIERFEE, WAREHOUSERENTAL, HANDLINGCHARGES, QUALITYRATING, 
    SELLSTATUS
    from DB_PRODUCE_NEW
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, GSTPRICE, OCEANSHIPPRICE, EXPRESSPRICE, PROFIT, STORERENT, 
    DHNUMBER, COUNTRY, RATE, NEWPRODUCTID, EXPRESSFEE, STATUS, GENERALDELIVERY, GENERALDELIVERYFEE, 
    EXPEDITEDCOURIER, EXPEDITEDCOURIERFEE, WAREHOUSERENTAL, HANDLINGCHARGES, QUALITYRATING, 
    SELLSTATUS
    from DB_PRODUCE_NEW
  </select>
  <sql id="TableName">
    DB_PRODUCE_NEW
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{gstprice,jdbcType=DECIMAL} , 
     #{oceanshipprice,jdbcType=DECIMAL} , 
     #{expressprice,jdbcType=DECIMAL} , 
     #{profit,jdbcType=DECIMAL} , 
     #{storerent,jdbcType=DECIMAL} , 
     #{dhnumber,jdbcType=DECIMAL} , 
     #{country,jdbcType=VARCHAR} , 
     #{rate,jdbcType=DECIMAL} , 
     #{newproductid,jdbcType=VARCHAR} , 
     #{expressfee,jdbcType=DECIMAL} , 
     #{status,jdbcType=DECIMAL} , 
     #{generaldelivery,jdbcType=VARCHAR} , 
     #{generaldeliveryfee,jdbcType=DECIMAL} , 
     #{expeditedcourier,jdbcType=VARCHAR} , 
     #{expeditedcourierfee,jdbcType=DECIMAL} , 
     #{warehouserental,jdbcType=DECIMAL} , 
     #{handlingcharges,jdbcType=DECIMAL} , 
     #{qualityrating,jdbcType=VARCHAR} , 
     #{sellstatus,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTID , 
    GSTPRICE , 
    OCEANSHIPPRICE , 
    EXPRESSPRICE , 
    PROFIT , 
    STORERENT , 
    DHNUMBER , 
    COUNTRY , 
    RATE , 
    NEWPRODUCTID , 
    EXPRESSFEE , 
    STATUS , 
    GENERALDELIVERY , 
    GENERALDELIVERYFEE , 
    EXPEDITEDCOURIER , 
    EXPEDITEDCOURIERFEE , 
    WAREHOUSERENTAL , 
    HANDLINGCHARGES , 
    QUALITYRATING , 
    SELLSTATUS , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="gstprice != null">
      gstprice = #{gstprice,jdbcType=DECIMAL} and 
    </if>
    <if test="oceanshipprice != null">
      oceanshipprice = #{oceanshipprice,jdbcType=DECIMAL} and 
    </if>
    <if test="expressprice != null">
      expressprice = #{expressprice,jdbcType=DECIMAL} and 
    </if>
    <if test="profit != null">
      profit = #{profit,jdbcType=DECIMAL} and 
    </if>
    <if test="storerent != null">
      storerent = #{storerent,jdbcType=DECIMAL} and 
    </if>
    <if test="dhnumber != null">
      dhnumber = #{dhnumber,jdbcType=DECIMAL} and 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="rate != null">
      rate = #{rate,jdbcType=DECIMAL} and 
    </if>
    <if test="newproductid != null">
      newproductid = #{newproductid,jdbcType=VARCHAR} and 
    </if>
    <if test="expressfee != null">
      expressfee = #{expressfee,jdbcType=DECIMAL} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
    <if test="generaldelivery != null">
      generaldelivery = #{generaldelivery,jdbcType=VARCHAR} and 
    </if>
    <if test="generaldeliveryfee != null">
      generaldeliveryfee = #{generaldeliveryfee,jdbcType=DECIMAL} and 
    </if>
    <if test="expeditedcourier != null">
      expeditedcourier = #{expeditedcourier,jdbcType=VARCHAR} and 
    </if>
    <if test="expeditedcourierfee != null">
      expeditedcourierfee = #{expeditedcourierfee,jdbcType=DECIMAL} and 
    </if>
    <if test="warehouserental != null">
      warehouserental = #{warehouserental,jdbcType=DECIMAL} and 
    </if>
    <if test="handlingcharges != null">
      handlingcharges = #{handlingcharges,jdbcType=DECIMAL} and 
    </if>
    <if test="qualityrating != null">
      qualityrating = #{qualityrating,jdbcType=VARCHAR} and 
    </if>
    <if test="sellstatus != null">
      sellstatus = #{sellstatus,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="gstprice != null">
      gstprice = #{gstprice,jdbcType=DECIMAL} , 
    </if>
    <if test="oceanshipprice != null">
      oceanshipprice = #{oceanshipprice,jdbcType=DECIMAL} , 
    </if>
    <if test="expressprice != null">
      expressprice = #{expressprice,jdbcType=DECIMAL} , 
    </if>
    <if test="profit != null">
      profit = #{profit,jdbcType=DECIMAL} , 
    </if>
    <if test="storerent != null">
      storerent = #{storerent,jdbcType=DECIMAL} , 
    </if>
    <if test="dhnumber != null">
      dhnumber = #{dhnumber,jdbcType=DECIMAL} , 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="rate != null">
      rate = #{rate,jdbcType=DECIMAL} , 
    </if>
    <if test="newproductid != null">
      newproductid = #{newproductid,jdbcType=VARCHAR} , 
    </if>
    <if test="expressfee != null">
      expressfee = #{expressfee,jdbcType=DECIMAL} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
    <if test="generaldelivery != null">
      generaldelivery = #{generaldelivery,jdbcType=VARCHAR} , 
    </if>
    <if test="generaldeliveryfee != null">
      generaldeliveryfee = #{generaldeliveryfee,jdbcType=DECIMAL} , 
    </if>
    <if test="expeditedcourier != null">
      expeditedcourier = #{expeditedcourier,jdbcType=VARCHAR} , 
    </if>
    <if test="expeditedcourierfee != null">
      expeditedcourierfee = #{expeditedcourierfee,jdbcType=DECIMAL} , 
    </if>
    <if test="warehouserental != null">
      warehouserental = #{warehouserental,jdbcType=DECIMAL} , 
    </if>
    <if test="handlingcharges != null">
      handlingcharges = #{handlingcharges,jdbcType=DECIMAL} , 
    </if>
    <if test="qualityrating != null">
      qualityrating = #{qualityrating,jdbcType=VARCHAR} , 
    </if>
    <if test="sellstatus != null">
      sellstatus = #{sellstatus,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProduceNew" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProduceNew">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProduceNew">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProduceNew">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>