<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductfortempletMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductfortemplet">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="DSECR" jdbcType="VARCHAR" property="dsecr" />
    <result column="RESERVE1" jdbcType="DECIMAL" property="reserve1" />
    <result column="RESERVE2" jdbcType="DECIMAL" property="reserve2" />
    <result column="RESERVE4" jdbcType="TIMESTAMP" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, CORPID, OPER, OPERTIME, CREATETIME, LANGUAGE, CATEGORYID, CATEGORYNAME, 
    DSECR, RESERVE1, RESERVE2, RESERVE4, RESERVE5, RESERVE6, RESERVE3, NOTE
    from db_productfortemplet
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, CORPID, OPER, OPERTIME, CREATETIME, LANGUAGE, CATEGORYID, CATEGORYNAME, 
    DSECR, RESERVE1, RESERVE2, RESERVE4, RESERVE5, RESERVE6, RESERVE3, NOTE
    from db_productfortemplet
  </select>
  <sql id="TableName">
    db_productfortemplet
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{language,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{dsecr,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=DECIMAL} , 
     #{reserve2,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=TIMESTAMP} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve3,jdbcType=LONGVARCHAR} , 
     #{note,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    CORPID , 
    OPER , 
    OPERTIME , 
    CREATETIME , 
    LANGUAGE , 
    CATEGORYID , 
    CATEGORYNAME , 
    DSECR , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE3 , 
    NOTE
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="language != null">
      LANGUAGE = #{language,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="dsecr != null">
      DSECR = #{dsecr,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="language != null">
      LANGUAGE = #{language,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="dsecr != null">
      DSECR = #{dsecr,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductfortemplet" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductfortemplet">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductfortemplet">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductfortemplet">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>