<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProject">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="SALESOURCE" jdbcType="VARCHAR" property="salesource" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="TRANSLATEGROUP" jdbcType="VARCHAR" property="translategroup" />
    <result column="PRICEGROUP" jdbcType="VARCHAR" property="pricegroup" />
    <result column="CONTENTGROUP" jdbcType="VARCHAR" property="contentgroup" />
    <result column="PICGROUP" jdbcType="VARCHAR" property="picgroup" />
    <result column="DESIGNGROUP" jdbcType="VARCHAR" property="designgroup" />
    <result column="CHECKGROUP" jdbcType="VARCHAR" property="checkgroup" />
    <result column="PUBLICGROUP" jdbcType="VARCHAR" property="publicgroup" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="DATEDIFF" jdbcType="DECIMAL" property="datediff" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="PRODUCTSKU" jdbcType="CLOB" property="productsku" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, NAME, DESCR, SHOPTYPE, SALESOURCE, PRODUCTID, FLAG, OPER, OPERTIME, TRANSLATEGROUP, 
    PRICEGROUP, CONTENTGROUP, PICGROUP, DESIGNGROUP, CHECKGROUP, PUBLICGROUP, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, ENDTIME, DATEDIFF, CORPID, PRODUCTSKU
    from DB_PROJECT
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, DESCR, SHOPTYPE, SALESOURCE, PRODUCTID, FLAG, OPER, OPERTIME, TRANSLATEGROUP, 
    PRICEGROUP, CONTENTGROUP, PICGROUP, DESIGNGROUP, CHECKGROUP, PUBLICGROUP, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, ENDTIME, DATEDIFF, CORPID, PRODUCTSKU
    from DB_PROJECT
  </select>
  <sql id="TableName">
    DB_PROJECT
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{salesource,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{translategroup,jdbcType=VARCHAR} , 
     #{pricegroup,jdbcType=VARCHAR} , 
     #{contentgroup,jdbcType=VARCHAR} , 
     #{picgroup,jdbcType=VARCHAR} , 
     #{designgroup,jdbcType=VARCHAR} , 
     #{checkgroup,jdbcType=VARCHAR} , 
     #{publicgroup,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{endtime,jdbcType=TIMESTAMP} , 
     #{datediff,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{productsku,jdbcType=CLOB} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    DESCR , 
    SHOPTYPE , 
    SALESOURCE , 
    PRODUCTID , 
    FLAG , 
    OPER , 
    OPERTIME , 
    TRANSLATEGROUP , 
    PRICEGROUP , 
    CONTENTGROUP , 
    PICGROUP , 
    DESIGNGROUP , 
    CHECKGROUP , 
    PUBLICGROUP , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    ENDTIME , 
    DATEDIFF , 
    CORPID , 
    PRODUCTSKU , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="salesource != null">
      salesource = #{salesource,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="translategroup != null">
      translategroup = #{translategroup,jdbcType=VARCHAR} and 
    </if>
    <if test="pricegroup != null">
      pricegroup = #{pricegroup,jdbcType=VARCHAR} and 
    </if>
    <if test="contentgroup != null">
      contentgroup = #{contentgroup,jdbcType=VARCHAR} and 
    </if>
    <if test="picgroup != null">
      picgroup = #{picgroup,jdbcType=VARCHAR} and 
    </if>
    <if test="designgroup != null">
      designgroup = #{designgroup,jdbcType=VARCHAR} and 
    </if>
    <if test="checkgroup != null">
      checkgroup = #{checkgroup,jdbcType=VARCHAR} and 
    </if>
    <if test="publicgroup != null">
      publicgroup = #{publicgroup,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="datediff != null">
      datediff = #{datediff,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="productsku != null">
      productsku = #{productsku,jdbcType=CLOB} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="salesource != null">
      salesource = #{salesource,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="translategroup != null">
      translategroup = #{translategroup,jdbcType=VARCHAR} , 
    </if>
    <if test="pricegroup != null">
      pricegroup = #{pricegroup,jdbcType=VARCHAR} , 
    </if>
    <if test="contentgroup != null">
      contentgroup = #{contentgroup,jdbcType=VARCHAR} , 
    </if>
    <if test="picgroup != null">
      picgroup = #{picgroup,jdbcType=VARCHAR} , 
    </if>
    <if test="designgroup != null">
      designgroup = #{designgroup,jdbcType=VARCHAR} , 
    </if>
    <if test="checkgroup != null">
      checkgroup = #{checkgroup,jdbcType=VARCHAR} , 
    </if>
    <if test="publicgroup != null">
      publicgroup = #{publicgroup,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="datediff != null">
      datediff = #{datediff,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="productsku != null">
      productsku = #{productsku,jdbcType=CLOB} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProject" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProject">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProject">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProject">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>