<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductfordescrMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductfordescr">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="RESERVE2" jdbcType="DECIMAL" property="reserve2" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="TIMESTAMP" property="reserve4" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="DESCR2" jdbcType="LONGVARCHAR" property="descr2" />
    <result column="DESCR3" jdbcType="LONGVARCHAR" property="descr3" />
    <result column="DESCR4" jdbcType="LONGVARCHAR" property="descr4" />
    <result column="DESCR5" jdbcType="LONGVARCHAR" property="descr5" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, OPER, OPERTIME, CORPID, CREATETIME, SELLSKU, LANGUAGE, RESERVE2, 
    RESERVE3, RESERVE4, DESCR, RESERVE1, DESCR2, DESCR3, DESCR4, DESCR5
    from db_productfordescr
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, OPER, OPERTIME, CORPID, CREATETIME, SELLSKU, LANGUAGE, RESERVE2, 
    RESERVE3, RESERVE4, DESCR, RESERVE1, DESCR2, DESCR3, DESCR4, DESCR5
    from db_productfordescr
  </select>
  <sql id="TableName">
    db_productfordescr
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{sellsku,jdbcType=VARCHAR} , 
     #{language,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=DECIMAL} , 
     #{reserve3,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=TIMESTAMP} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{reserve1,jdbcType=LONGVARCHAR} , 
     #{descr2,jdbcType=LONGVARCHAR} , 
     #{descr3,jdbcType=LONGVARCHAR} , 
     #{descr4,jdbcType=LONGVARCHAR} , 
     #{descr5,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    OPER , 
    OPERTIME , 
    CORPID , 
    CREATETIME , 
    SELLSKU , 
    LANGUAGE , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    DESCR , 
    RESERVE1 , 
    DESCR2 , 
    DESCR3 , 
    DESCR4 , 
    DESCR5
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sellsku != null">
      SELLSKU = #{sellsku,jdbcType=VARCHAR} and 
    </if>
    <if test="language != null">
      LANGUAGE = #{language,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=TIMESTAMP} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr2 != null">
      DESCR2 = #{descr2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr3 != null">
      DESCR3 = #{descr3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr4 != null">
      DESCR4 = #{descr4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr5 != null">
      DESCR5 = #{descr5,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sellsku != null">
      SELLSKU = #{sellsku,jdbcType=VARCHAR} , 
    </if>
    <if test="language != null">
      LANGUAGE = #{language,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=TIMESTAMP} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr2 != null">
      DESCR2 = #{descr2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr3 != null">
      DESCR3 = #{descr3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr4 != null">
      DESCR4 = #{descr4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr5 != null">
      DESCR5 = #{descr5,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductfordescr" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductfordescr">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductfordescr">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductfordescr">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>