<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectbbsMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProjectbbs">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="PROJECTNAME" jdbcType="VARCHAR" property="projectname" />
    <result column="LIMITTIME" jdbcType="DECIMAL" property="limittime" />
    <result column="PRINCIPALOPER" jdbcType="VARCHAR" property="principaloper" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERNFLAG" jdbcType="VARCHAR" property="opernflag" />
    <result column="PERCENTAGE" jdbcType="DECIMAL" property="percentage" />
    <result column="CLIPARTFLAG" jdbcType="DECIMAL" property="clipartflag" />
    <result column="SALESFLAG" jdbcType="DECIMAL" property="salesflag" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="ESTIMATEDSTARTTIME" jdbcType="TIMESTAMP" property="estimatedstarttime" />
    <result column="ESTIMATEDENDTIME" jdbcType="TIMESTAMP" property="estimatedendtime" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTNAME, LIMITTIME, PRINCIPALOPER, OPER, OPERTIME, CREATEOPER, 
    CREATETIME, CORPID, OPERNFLAG, PERCENTAGE, CLIPARTFLAG, SALESFLAG, CHECKFLAG, ESTIMATEDSTARTTIME, 
    ESTIMATEDENDTIME, STARTTIME, ENDTIME, STATUS
    from DB_PROJECTBBS
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTNAME, LIMITTIME, PRINCIPALOPER, OPER, OPERTIME, CREATEOPER, 
    CREATETIME, CORPID, OPERNFLAG, PERCENTAGE, CLIPARTFLAG, SALESFLAG, CHECKFLAG, ESTIMATEDSTARTTIME, 
    ESTIMATEDENDTIME, STARTTIME, ENDTIME, STATUS
    from DB_PROJECTBBS
  </select>
  <sql id="TableName">
    DB_PROJECTBBS
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{projectname,jdbcType=VARCHAR} , 
     #{limittime,jdbcType=DECIMAL} , 
     #{principaloper,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{opernflag,jdbcType=VARCHAR} , 
     #{percentage,jdbcType=DECIMAL} , 
     #{clipartflag,jdbcType=DECIMAL} , 
     #{salesflag,jdbcType=DECIMAL} , 
     #{checkflag,jdbcType=DECIMAL} , 
     #{estimatedstarttime,jdbcType=TIMESTAMP} , 
     #{estimatedendtime,jdbcType=TIMESTAMP} , 
     #{starttime,jdbcType=TIMESTAMP} , 
     #{endtime,jdbcType=TIMESTAMP} , 
     #{status,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PROJECTNAME , 
    LIMITTIME , 
    PRINCIPALOPER , 
    OPER , 
    OPERTIME , 
    CREATEOPER , 
    CREATETIME , 
    CORPID , 
    OPERNFLAG , 
    PERCENTAGE , 
    CLIPARTFLAG , 
    SALESFLAG , 
    CHECKFLAG , 
    ESTIMATEDSTARTTIME , 
    ESTIMATEDENDTIME , 
    STARTTIME , 
    ENDTIME , 
    STATUS , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="projectname != null">
      projectname = #{projectname,jdbcType=VARCHAR} and 
    </if>
    <if test="limittime != null">
      limittime = #{limittime,jdbcType=DECIMAL} and 
    </if>
    <if test="principaloper != null">
      principaloper = #{principaloper,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="opernflag != null">
      opernflag = #{opernflag,jdbcType=VARCHAR} and 
    </if>
    <if test="percentage != null">
      percentage = #{percentage,jdbcType=DECIMAL} and 
    </if>
    <if test="clipartflag != null">
      clipartflag = #{clipartflag,jdbcType=DECIMAL} and 
    </if>
    <if test="salesflag != null">
      salesflag = #{salesflag,jdbcType=DECIMAL} and 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} and 
    </if>
    <if test="estimatedstarttime != null">
      estimatedstarttime = #{estimatedstarttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="estimatedendtime != null">
      estimatedendtime = #{estimatedendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="projectname != null">
      projectname = #{projectname,jdbcType=VARCHAR} , 
    </if>
    <if test="limittime != null">
      limittime = #{limittime,jdbcType=DECIMAL} , 
    </if>
    <if test="principaloper != null">
      principaloper = #{principaloper,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="opernflag != null">
      opernflag = #{opernflag,jdbcType=VARCHAR} , 
    </if>
    <if test="percentage != null">
      percentage = #{percentage,jdbcType=DECIMAL} , 
    </if>
    <if test="clipartflag != null">
      clipartflag = #{clipartflag,jdbcType=DECIMAL} , 
    </if>
    <if test="salesflag != null">
      salesflag = #{salesflag,jdbcType=DECIMAL} , 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} , 
    </if>
    <if test="estimatedstarttime != null">
      estimatedstarttime = #{estimatedstarttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="estimatedendtime != null">
      estimatedendtime = #{estimatedendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProjectbbs" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProjectbbs">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProjectbbs">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProjectbbs">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>