<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductsearchMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductsearch">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="FILED1" jdbcType="DECIMAL" property="filed1" />
    <result column="FILED2" jdbcType="DECIMAL" property="filed2" />
    <result column="FLAG1" jdbcType="VARCHAR" property="flag1" />
    <result column="FLAG2" jdbcType="VARCHAR" property="flag2" />
    <result column="FLAG3" jdbcType="VARCHAR" property="flag3" />
    <result column="FLAG4" jdbcType="VARCHAR" property="flag4" />
    <result column="FLAG5" jdbcType="VARCHAR" property="flag5" />
    <result column="FLAG6" jdbcType="VARCHAR" property="flag6" />
    <result column="FLAG7" jdbcType="VARCHAR" property="flag7" />
    <result column="FLAG8" jdbcType="VARCHAR" property="flag8" />
    <result column="FLAG9" jdbcType="VARCHAR" property="flag9" />
    <result column="FLAG10" jdbcType="VARCHAR" property="flag10" />
    <result column="FLAG11" jdbcType="VARCHAR" property="flag11" />
    <result column="FLAG12" jdbcType="VARCHAR" property="flag12" />
    <result column="FLAG13" jdbcType="VARCHAR" property="flag13" />
    <result column="FLAG14" jdbcType="VARCHAR" property="flag14" />
    <result column="FLAG15" jdbcType="VARCHAR" property="flag15" />
    <result column="FLAG16" jdbcType="VARCHAR" property="flag16" />
    <result column="FLAG17" jdbcType="VARCHAR" property="flag17" />
    <result column="FLAG18" jdbcType="VARCHAR" property="flag18" />
    <result column="FLAG19" jdbcType="VARCHAR" property="flag19" />
    <result column="FLAG20" jdbcType="VARCHAR" property="flag20" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="SQLFILTER1" jdbcType="LONGVARCHAR" property="sqlfilter1" />
    <result column="SQLFILTER2" jdbcType="LONGVARCHAR" property="sqlfilter2" />
    <result column="FILED3" jdbcType="LONGVARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="LONGVARCHAR" property="filed4" />
    <result column="FILED5" jdbcType="LONGVARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="LONGVARCHAR" property="filed6" />
    <result column="FILED7" jdbcType="LONGVARCHAR" property="filed7" />
    <result column="FILED8" jdbcType="LONGVARCHAR" property="filed8" />
    <result column="FILED9" jdbcType="LONGVARCHAR" property="filed9" />
    <result column="FILED10" jdbcType="LONGVARCHAR" property="filed10" />
    <result column="FILED11" jdbcType="LONGVARCHAR" property="filed11" />
    <result column="FILED12" jdbcType="LONGVARCHAR" property="filed12" />
    <result column="FILED13" jdbcType="LONGVARCHAR" property="filed13" />
    <result column="FILED14" jdbcType="LONGVARCHAR" property="filed14" />
    <result column="FILED15" jdbcType="LONGVARCHAR" property="filed15" />
    <result column="FILED16" jdbcType="LONGVARCHAR" property="filed16" />
    <result column="FILED17" jdbcType="LONGVARCHAR" property="filed17" />
    <result column="FILED18" jdbcType="LONGVARCHAR" property="filed18" />
    <result column="FILED19" jdbcType="LONGVARCHAR" property="filed19" />
    <result column="FILED20" jdbcType="LONGVARCHAR" property="filed20" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, OPENFLAG, FILED1, FILED2, FLAG1, FLAG2, 
    FLAG3, FLAG4, FLAG5, FLAG6, FLAG7, FLAG8, FLAG9, FLAG10, FLAG11, FLAG12, FLAG13, 
    FLAG14, FLAG15, FLAG16, FLAG17, FLAG18, FLAG19, FLAG20, DESCR, SQLFILTER1, SQLFILTER2, 
    FILED3, FILED4, FILED5, FILED6, FILED7, FILED8, FILED9, FILED10, FILED11, FILED12, 
    FILED13, FILED14, FILED15, FILED16, FILED17, FILED18, FILED19, FILED20
    from db_productsearch
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, OPENFLAG, FILED1, FILED2, FLAG1, FLAG2, 
    FLAG3, FLAG4, FLAG5, FLAG6, FLAG7, FLAG8, FLAG9, FLAG10, FLAG11, FLAG12, FLAG13, 
    FLAG14, FLAG15, FLAG16, FLAG17, FLAG18, FLAG19, FLAG20, DESCR, SQLFILTER1, SQLFILTER2, 
    FILED3, FILED4, FILED5, FILED6, FILED7, FILED8, FILED9, FILED10, FILED11, FILED12, 
    FILED13, FILED14, FILED15, FILED16, FILED17, FILED18, FILED19, FILED20
    from db_productsearch
  </select>
  <sql id="TableName">
    db_productsearch
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{filed1,jdbcType=DECIMAL} , 
     #{filed2,jdbcType=DECIMAL} , 
     #{flag1,jdbcType=VARCHAR} , 
     #{flag2,jdbcType=VARCHAR} , 
     #{flag3,jdbcType=VARCHAR} , 
     #{flag4,jdbcType=VARCHAR} , 
     #{flag5,jdbcType=VARCHAR} , 
     #{flag6,jdbcType=VARCHAR} , 
     #{flag7,jdbcType=VARCHAR} , 
     #{flag8,jdbcType=VARCHAR} , 
     #{flag9,jdbcType=VARCHAR} , 
     #{flag10,jdbcType=VARCHAR} , 
     #{flag11,jdbcType=VARCHAR} , 
     #{flag12,jdbcType=VARCHAR} , 
     #{flag13,jdbcType=VARCHAR} , 
     #{flag14,jdbcType=VARCHAR} , 
     #{flag15,jdbcType=VARCHAR} , 
     #{flag16,jdbcType=VARCHAR} , 
     #{flag17,jdbcType=VARCHAR} , 
     #{flag18,jdbcType=VARCHAR} , 
     #{flag19,jdbcType=VARCHAR} , 
     #{flag20,jdbcType=VARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{sqlfilter1,jdbcType=LONGVARCHAR} , 
     #{sqlfilter2,jdbcType=LONGVARCHAR} , 
     #{filed3,jdbcType=LONGVARCHAR} , 
     #{filed4,jdbcType=LONGVARCHAR} , 
     #{filed5,jdbcType=LONGVARCHAR} , 
     #{filed6,jdbcType=LONGVARCHAR} , 
     #{filed7,jdbcType=LONGVARCHAR} , 
     #{filed8,jdbcType=LONGVARCHAR} , 
     #{filed9,jdbcType=LONGVARCHAR} , 
     #{filed10,jdbcType=LONGVARCHAR} , 
     #{filed11,jdbcType=LONGVARCHAR} , 
     #{filed12,jdbcType=LONGVARCHAR} , 
     #{filed13,jdbcType=LONGVARCHAR} , 
     #{filed14,jdbcType=LONGVARCHAR} , 
     #{filed15,jdbcType=LONGVARCHAR} , 
     #{filed16,jdbcType=LONGVARCHAR} , 
     #{filed17,jdbcType=LONGVARCHAR} , 
     #{filed18,jdbcType=LONGVARCHAR} , 
     #{filed19,jdbcType=LONGVARCHAR} , 
     #{filed20,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    OPER , 
    OPERTIME , 
    OPENFLAG , 
    FILED1 , 
    FILED2 , 
    FLAG1 , 
    FLAG2 , 
    FLAG3 , 
    FLAG4 , 
    FLAG5 , 
    FLAG6 , 
    FLAG7 , 
    FLAG8 , 
    FLAG9 , 
    FLAG10 , 
    FLAG11 , 
    FLAG12 , 
    FLAG13 , 
    FLAG14 , 
    FLAG15 , 
    FLAG16 , 
    FLAG17 , 
    FLAG18 , 
    FLAG19 , 
    FLAG20 , 
    DESCR , 
    SQLFILTER1 , 
    SQLFILTER2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    FILED6 , 
    FILED7 , 
    FILED8 , 
    FILED9 , 
    FILED10 , 
    FILED11 , 
    FILED12 , 
    FILED13 , 
    FILED14 , 
    FILED15 , 
    FILED16 , 
    FILED17 , 
    FILED18 , 
    FILED19 , 
    FILED20
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=DECIMAL} and 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=DECIMAL} and 
    </if>
    <if test="flag1 != null">
      FLAG1 = #{flag1,jdbcType=VARCHAR} and 
    </if>
    <if test="flag2 != null">
      FLAG2 = #{flag2,jdbcType=VARCHAR} and 
    </if>
    <if test="flag3 != null">
      FLAG3 = #{flag3,jdbcType=VARCHAR} and 
    </if>
    <if test="flag4 != null">
      FLAG4 = #{flag4,jdbcType=VARCHAR} and 
    </if>
    <if test="flag5 != null">
      FLAG5 = #{flag5,jdbcType=VARCHAR} and 
    </if>
    <if test="flag6 != null">
      FLAG6 = #{flag6,jdbcType=VARCHAR} and 
    </if>
    <if test="flag7 != null">
      FLAG7 = #{flag7,jdbcType=VARCHAR} and 
    </if>
    <if test="flag8 != null">
      FLAG8 = #{flag8,jdbcType=VARCHAR} and 
    </if>
    <if test="flag9 != null">
      FLAG9 = #{flag9,jdbcType=VARCHAR} and 
    </if>
    <if test="flag10 != null">
      FLAG10 = #{flag10,jdbcType=VARCHAR} and 
    </if>
    <if test="flag11 != null">
      FLAG11 = #{flag11,jdbcType=VARCHAR} and 
    </if>
    <if test="flag12 != null">
      FLAG12 = #{flag12,jdbcType=VARCHAR} and 
    </if>
    <if test="flag13 != null">
      FLAG13 = #{flag13,jdbcType=VARCHAR} and 
    </if>
    <if test="flag14 != null">
      FLAG14 = #{flag14,jdbcType=VARCHAR} and 
    </if>
    <if test="flag15 != null">
      FLAG15 = #{flag15,jdbcType=VARCHAR} and 
    </if>
    <if test="flag16 != null">
      FLAG16 = #{flag16,jdbcType=VARCHAR} and 
    </if>
    <if test="flag17 != null">
      FLAG17 = #{flag17,jdbcType=VARCHAR} and 
    </if>
    <if test="flag18 != null">
      FLAG18 = #{flag18,jdbcType=VARCHAR} and 
    </if>
    <if test="flag19 != null">
      FLAG19 = #{flag19,jdbcType=VARCHAR} and 
    </if>
    <if test="flag20 != null">
      FLAG20 = #{flag20,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="sqlfilter1 != null">
      SQLFILTER1 = #{sqlfilter1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="sqlfilter2 != null">
      SQLFILTER2 = #{sqlfilter2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed11 != null">
      FILED11 = #{filed11,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed12 != null">
      FILED12 = #{filed12,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed13 != null">
      FILED13 = #{filed13,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed14 != null">
      FILED14 = #{filed14,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed15 != null">
      FILED15 = #{filed15,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed16 != null">
      FILED16 = #{filed16,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed17 != null">
      FILED17 = #{filed17,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed18 != null">
      FILED18 = #{filed18,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed19 != null">
      FILED19 = #{filed19,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed20 != null">
      FILED20 = #{filed20,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=DECIMAL} , 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=DECIMAL} , 
    </if>
    <if test="flag1 != null">
      FLAG1 = #{flag1,jdbcType=VARCHAR} , 
    </if>
    <if test="flag2 != null">
      FLAG2 = #{flag2,jdbcType=VARCHAR} , 
    </if>
    <if test="flag3 != null">
      FLAG3 = #{flag3,jdbcType=VARCHAR} , 
    </if>
    <if test="flag4 != null">
      FLAG4 = #{flag4,jdbcType=VARCHAR} , 
    </if>
    <if test="flag5 != null">
      FLAG5 = #{flag5,jdbcType=VARCHAR} , 
    </if>
    <if test="flag6 != null">
      FLAG6 = #{flag6,jdbcType=VARCHAR} , 
    </if>
    <if test="flag7 != null">
      FLAG7 = #{flag7,jdbcType=VARCHAR} , 
    </if>
    <if test="flag8 != null">
      FLAG8 = #{flag8,jdbcType=VARCHAR} , 
    </if>
    <if test="flag9 != null">
      FLAG9 = #{flag9,jdbcType=VARCHAR} , 
    </if>
    <if test="flag10 != null">
      FLAG10 = #{flag10,jdbcType=VARCHAR} , 
    </if>
    <if test="flag11 != null">
      FLAG11 = #{flag11,jdbcType=VARCHAR} , 
    </if>
    <if test="flag12 != null">
      FLAG12 = #{flag12,jdbcType=VARCHAR} , 
    </if>
    <if test="flag13 != null">
      FLAG13 = #{flag13,jdbcType=VARCHAR} , 
    </if>
    <if test="flag14 != null">
      FLAG14 = #{flag14,jdbcType=VARCHAR} , 
    </if>
    <if test="flag15 != null">
      FLAG15 = #{flag15,jdbcType=VARCHAR} , 
    </if>
    <if test="flag16 != null">
      FLAG16 = #{flag16,jdbcType=VARCHAR} , 
    </if>
    <if test="flag17 != null">
      FLAG17 = #{flag17,jdbcType=VARCHAR} , 
    </if>
    <if test="flag18 != null">
      FLAG18 = #{flag18,jdbcType=VARCHAR} , 
    </if>
    <if test="flag19 != null">
      FLAG19 = #{flag19,jdbcType=VARCHAR} , 
    </if>
    <if test="flag20 != null">
      FLAG20 = #{flag20,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="sqlfilter1 != null">
      SQLFILTER1 = #{sqlfilter1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="sqlfilter2 != null">
      SQLFILTER2 = #{sqlfilter2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed11 != null">
      FILED11 = #{filed11,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed12 != null">
      FILED12 = #{filed12,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed13 != null">
      FILED13 = #{filed13,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed14 != null">
      FILED14 = #{filed14,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed15 != null">
      FILED15 = #{filed15,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed16 != null">
      FILED16 = #{filed16,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed17 != null">
      FILED17 = #{filed17,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed18 != null">
      FILED18 = #{filed18,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed19 != null">
      FILED19 = #{filed19,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed20 != null">
      FILED20 = #{filed20,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductsearch" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductsearch">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductsearch">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductsearch">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>