<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPricelistMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPricelist">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="EXPRESSFEE" jdbcType="DECIMAL" property="expressfee" />
    <result column="ITEMNO" jdbcType="VARCHAR" property="itemno" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, PRODUCTID, SHOPTYPEID, SELLPRICE, EXPRESSFEE, ITEMNO, OPER, OPERTIME, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, CORPID
    from db_pricelist
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, PRODUCTID, SHOPTYPEID, SELLPRICE, EXPRESSFEE, ITEMNO, OPER, OPERTIME, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, CORPID
    from db_pricelist
  </select>
  <sql id="TableName">
    db_pricelist
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{expressfee,jdbcType=DECIMAL} , 
     #{itemno,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    PRODUCTID , 
    SHOPTYPEID , 
    SELLPRICE , 
    EXPRESSFEE , 
    ITEMNO , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    CORPID
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="sellprice != null">
      SELLPRICE = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="expressfee != null">
      EXPRESSFEE = #{expressfee,jdbcType=DECIMAL} and 
    </if>
    <if test="itemno != null">
      ITEMNO = #{itemno,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="sellprice != null">
      SELLPRICE = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="expressfee != null">
      EXPRESSFEE = #{expressfee,jdbcType=DECIMAL} , 
    </if>
    <if test="itemno != null">
      ITEMNO = #{itemno,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbPricelist" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbPricelist">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbPricelist">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbPricelist">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>