<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductandmanufactureMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductandmanufacture">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="INDEXID" jdbcType="VARCHAR" property="indexid" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="MANUFACTURENAME" jdbcType="VARCHAR" property="manufacturename" />
    <result column="QUOTE" jdbcType="DECIMAL" property="quote" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="WANGWANG" jdbcType="VARCHAR" property="wangwang" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="MINNUM" jdbcType="DECIMAL" property="minnum" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="INFORMATION" jdbcType="VARCHAR" property="information" />
    <result column="STYLE" jdbcType="VARCHAR" property="style" />
    <result column="REPAIRRATE" jdbcType="VARCHAR" property="repairrate" />
    <result column="ATTESTATION" jdbcType="VARCHAR" property="attestation" />
    <result column="PACKAGING" jdbcType="VARCHAR" property="packaging" />
    <result column="IMPORTRIGHT" jdbcType="VARCHAR" property="importright" />
    <result column="SERVE" jdbcType="VARCHAR" property="serve" />
    <result column="EVALUATION" jdbcType="VARCHAR" property="evaluation" />
    <result column="MANAGEPRODUCT" jdbcType="VARCHAR" property="manageproduct" />
    <result column="LINKMAN" jdbcType="VARCHAR" property="linkman" />
    <result column="SURVEYTABLE" jdbcType="VARCHAR" property="surveytable" />
    <result column="PERSONNUM" jdbcType="DECIMAL" property="personnum" />
    <result column="MAINMARKET" jdbcType="VARCHAR" property="mainmarket" />
    <result column="PROFESSIONAL" jdbcType="VARCHAR" property="professional" />
    <result column="PRICEFIXING" jdbcType="VARCHAR" property="pricefixing" />
    <result column="RESTS" jdbcType="VARCHAR" property="rests" />
    <result column="MANUFACTUREURL" jdbcType="VARCHAR" property="manufactureurl" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, INDEXID, MANUFACTUREID, MANUFACTURENAME, QUOTE, OPER, CORPID, 
    OPERTIME, OPENFLAG, ADDRESS, TEL, RESERVE1, RESERVE2, RESERVE3, RESERVE4, WANGWANG, 
    QQ, CREATETIME, TYPE, PRODUCTID, MINNUM, NOTE, INFORMATION, STYLE, REPAIRRATE, ATTESTATION, 
    PACKAGING, IMPORTRIGHT, SERVE, EVALUATION, MANAGEPRODUCT, LINKMAN, SURVEYTABLE, PERSONNUM, 
    MAINMARKET, PROFESSIONAL, PRICEFIXING, RESTS, MANUFACTUREURL, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8
    from DB_PRODUCTANDMANUFACTURE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, INDEXID, MANUFACTUREID, MANUFACTURENAME, QUOTE, OPER, CORPID, 
    OPERTIME, OPENFLAG, ADDRESS, TEL, RESERVE1, RESERVE2, RESERVE3, RESERVE4, WANGWANG, 
    QQ, CREATETIME, TYPE, PRODUCTID, MINNUM, NOTE, INFORMATION, STYLE, REPAIRRATE, ATTESTATION, 
    PACKAGING, IMPORTRIGHT, SERVE, EVALUATION, MANAGEPRODUCT, LINKMAN, SURVEYTABLE, PERSONNUM, 
    MAINMARKET, PROFESSIONAL, PRICEFIXING, RESTS, MANUFACTUREURL, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8
    from DB_PRODUCTANDMANUFACTURE
  </select>
  <sql id="TableName">
    DB_PRODUCTANDMANUFACTURE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{indexid,jdbcType=VARCHAR} , 
     #{manufactureid,jdbcType=VARCHAR} , 
     #{manufacturename,jdbcType=VARCHAR} , 
     #{quote,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{address,jdbcType=VARCHAR} , 
     #{tel,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{wangwang,jdbcType=VARCHAR} , 
     #{qq,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{type,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{minnum,jdbcType=DECIMAL} , 
     #{note,jdbcType=VARCHAR} , 
     #{information,jdbcType=VARCHAR} , 
     #{style,jdbcType=VARCHAR} , 
     #{repairrate,jdbcType=VARCHAR} , 
     #{attestation,jdbcType=VARCHAR} , 
     #{packaging,jdbcType=VARCHAR} , 
     #{importright,jdbcType=VARCHAR} , 
     #{serve,jdbcType=VARCHAR} , 
     #{evaluation,jdbcType=VARCHAR} , 
     #{manageproduct,jdbcType=VARCHAR} , 
     #{linkman,jdbcType=VARCHAR} , 
     #{surveytable,jdbcType=VARCHAR} , 
     #{personnum,jdbcType=DECIMAL} , 
     #{mainmarket,jdbcType=VARCHAR} , 
     #{professional,jdbcType=VARCHAR} , 
     #{pricefixing,jdbcType=VARCHAR} , 
     #{rests,jdbcType=VARCHAR} , 
     #{manufactureurl,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    INDEXID , 
    MANUFACTUREID , 
    MANUFACTURENAME , 
    QUOTE , 
    OPER , 
    CORPID , 
    OPERTIME , 
    OPENFLAG , 
    ADDRESS , 
    TEL , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    WANGWANG , 
    QQ , 
    CREATETIME , 
    TYPE , 
    PRODUCTID , 
    MINNUM , 
    NOTE , 
    INFORMATION , 
    STYLE , 
    REPAIRRATE , 
    ATTESTATION , 
    PACKAGING , 
    IMPORTRIGHT , 
    SERVE , 
    EVALUATION , 
    MANAGEPRODUCT , 
    LINKMAN , 
    SURVEYTABLE , 
    PERSONNUM , 
    MAINMARKET , 
    PROFESSIONAL , 
    PRICEFIXING , 
    RESTS , 
    MANUFACTUREURL , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="indexid != null">
      indexid = #{indexid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactureid != null">
      manufactureid = #{manufactureid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacturename != null">
      manufacturename = #{manufacturename,jdbcType=VARCHAR} and 
    </if>
    <if test="quote != null">
      quote = #{quote,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="address != null">
      address = #{address,jdbcType=VARCHAR} and 
    </if>
    <if test="tel != null">
      tel = #{tel,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="wangwang != null">
      wangwang = #{wangwang,jdbcType=VARCHAR} and 
    </if>
    <if test="qq != null">
      qq = #{qq,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="minnum != null">
      minnum = #{minnum,jdbcType=DECIMAL} and 
    </if>
    <if test="note != null">
      note = #{note,jdbcType=VARCHAR} and 
    </if>
    <if test="information != null">
      information = #{information,jdbcType=VARCHAR} and 
    </if>
    <if test="style != null">
      style = #{style,jdbcType=VARCHAR} and 
    </if>
    <if test="repairrate != null">
      repairrate = #{repairrate,jdbcType=VARCHAR} and 
    </if>
    <if test="attestation != null">
      attestation = #{attestation,jdbcType=VARCHAR} and 
    </if>
    <if test="packaging != null">
      packaging = #{packaging,jdbcType=VARCHAR} and 
    </if>
    <if test="importright != null">
      importright = #{importright,jdbcType=VARCHAR} and 
    </if>
    <if test="serve != null">
      serve = #{serve,jdbcType=VARCHAR} and 
    </if>
    <if test="evaluation != null">
      evaluation = #{evaluation,jdbcType=VARCHAR} and 
    </if>
    <if test="manageproduct != null">
      manageproduct = #{manageproduct,jdbcType=VARCHAR} and 
    </if>
    <if test="linkman != null">
      linkman = #{linkman,jdbcType=VARCHAR} and 
    </if>
    <if test="surveytable != null">
      surveytable = #{surveytable,jdbcType=VARCHAR} and 
    </if>
    <if test="personnum != null">
      personnum = #{personnum,jdbcType=DECIMAL} and 
    </if>
    <if test="mainmarket != null">
      mainmarket = #{mainmarket,jdbcType=VARCHAR} and 
    </if>
    <if test="professional != null">
      professional = #{professional,jdbcType=VARCHAR} and 
    </if>
    <if test="pricefixing != null">
      pricefixing = #{pricefixing,jdbcType=VARCHAR} and 
    </if>
    <if test="rests != null">
      rests = #{rests,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactureurl != null">
      manufactureurl = #{manufactureurl,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="indexid != null">
      indexid = #{indexid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactureid != null">
      manufactureid = #{manufactureid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacturename != null">
      manufacturename = #{manufacturename,jdbcType=VARCHAR} , 
    </if>
    <if test="quote != null">
      quote = #{quote,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="address != null">
      address = #{address,jdbcType=VARCHAR} , 
    </if>
    <if test="tel != null">
      tel = #{tel,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="wangwang != null">
      wangwang = #{wangwang,jdbcType=VARCHAR} , 
    </if>
    <if test="qq != null">
      qq = #{qq,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="minnum != null">
      minnum = #{minnum,jdbcType=DECIMAL} , 
    </if>
    <if test="note != null">
      note = #{note,jdbcType=VARCHAR} , 
    </if>
    <if test="information != null">
      information = #{information,jdbcType=VARCHAR} , 
    </if>
    <if test="style != null">
      style = #{style,jdbcType=VARCHAR} , 
    </if>
    <if test="repairrate != null">
      repairrate = #{repairrate,jdbcType=VARCHAR} , 
    </if>
    <if test="attestation != null">
      attestation = #{attestation,jdbcType=VARCHAR} , 
    </if>
    <if test="packaging != null">
      packaging = #{packaging,jdbcType=VARCHAR} , 
    </if>
    <if test="importright != null">
      importright = #{importright,jdbcType=VARCHAR} , 
    </if>
    <if test="serve != null">
      serve = #{serve,jdbcType=VARCHAR} , 
    </if>
    <if test="evaluation != null">
      evaluation = #{evaluation,jdbcType=VARCHAR} , 
    </if>
    <if test="manageproduct != null">
      manageproduct = #{manageproduct,jdbcType=VARCHAR} , 
    </if>
    <if test="linkman != null">
      linkman = #{linkman,jdbcType=VARCHAR} , 
    </if>
    <if test="surveytable != null">
      surveytable = #{surveytable,jdbcType=VARCHAR} , 
    </if>
    <if test="personnum != null">
      personnum = #{personnum,jdbcType=DECIMAL} , 
    </if>
    <if test="mainmarket != null">
      mainmarket = #{mainmarket,jdbcType=VARCHAR} , 
    </if>
    <if test="professional != null">
      professional = #{professional,jdbcType=VARCHAR} , 
    </if>
    <if test="pricefixing != null">
      pricefixing = #{pricefixing,jdbcType=VARCHAR} , 
    </if>
    <if test="rests != null">
      rests = #{rests,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactureurl != null">
      manufactureurl = #{manufactureurl,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductandmanufacture" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductandmanufacture">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductandmanufacture">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductandmanufacture">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>