<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductclassMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductclass">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="CLASSNAME" jdbcType="VARCHAR" property="classname" />
    <result column="AVGSELLNUM1" jdbcType="DECIMAL" property="avgsellnum1" />
    <result column="AVGSELLNUM2" jdbcType="DECIMAL" property="avgsellnum2" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, CLASSNAME, AVGSELLNUM1, AVGSELLNUM2, OPER, OPERTIME, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5
    from DB_PRODUCTCLASS
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, CLASSNAME, AVGSELLNUM1, AVGSELLNUM2, OPER, OPERTIME, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5
    from DB_PRODUCTCLASS
  </select>
  <sql id="TableName">
    DB_PRODUCTCLASS
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{classname,jdbcType=VARCHAR} , 
     #{avgsellnum1,jdbcType=DECIMAL} , 
     #{avgsellnum2,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    CLASSNAME , 
    AVGSELLNUM1 , 
    AVGSELLNUM2 , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="classname != null">
      classname = #{classname,jdbcType=VARCHAR} and 
    </if>
    <if test="avgsellnum1 != null">
      avgsellnum1 = #{avgsellnum1,jdbcType=DECIMAL} and 
    </if>
    <if test="avgsellnum2 != null">
      avgsellnum2 = #{avgsellnum2,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="classname != null">
      classname = #{classname,jdbcType=VARCHAR} , 
    </if>
    <if test="avgsellnum1 != null">
      avgsellnum1 = #{avgsellnum1,jdbcType=DECIMAL} , 
    </if>
    <if test="avgsellnum2 != null">
      avgsellnum2 = #{avgsellnum2,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductclass" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductclass">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductclass">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductclass">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>