<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductdevelopMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductdevelop">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTTITLE" jdbcType="VARCHAR" property="producttitle" />
    <result column="NAMECHN" jdbcType="VARCHAR" property="namechn" />
    <result column="GOALSELL" jdbcType="DECIMAL" property="goalsell" />
    <result column="EXPRESSTYPE" jdbcType="DECIMAL" property="expresstype" />
    <result column="ESTIMATEWEIGHT" jdbcType="DECIMAL" property="estimateweight" />
    <result column="ANTISTOP" jdbcType="VARCHAR" property="antistop" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATECHECKOPER" jdbcType="VARCHAR" property="createcheckoper" />
    <result column="CREATECHECKTIME" jdbcType="TIMESTAMP" property="createchecktime" />
    <result column="MARKETOPER" jdbcType="VARCHAR" property="marketoper" />
    <result column="FORECASTGROSS" jdbcType="VARCHAR" property="forecastgross" />
    <result column="FORECASTSELLNUM" jdbcType="DECIMAL" property="forecastsellnum" />
    <result column="QUALITY" jdbcType="VARCHAR" property="quality" />
    <result column="SECULAR" jdbcType="VARCHAR" property="secular" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="IFOLDSKU" jdbcType="VARCHAR" property="ifoldsku" />
    <result column="URGENT" jdbcType="VARCHAR" property="urgent" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="PRODUCTNUM" jdbcType="DECIMAL" property="productnum" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PURCHASEFLOWOPER" jdbcType="VARCHAR" property="purchaseflowoper" />
    <result column="FINISHTIME" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="TIMESTAMP" property="reserve6" />
    <result column="RESERVE11" jdbcType="VARCHAR" property="reserve11" />
    <result column="RESERVE12" jdbcType="VARCHAR" property="reserve12" />
    <result column="RESERVE13" jdbcType="VARCHAR" property="reserve13" />
    <result column="RESERVE14" jdbcType="VARCHAR" property="reserve14" />
    <result column="RESERVE15" jdbcType="VARCHAR" property="reserve15" />
    <result column="RESERVE16" jdbcType="VARCHAR" property="reserve16" />
    <result column="RESERVE17" jdbcType="VARCHAR" property="reserve17" />
    <result column="RESERVE18" jdbcType="VARCHAR" property="reserve18" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="LENGTHNUM" jdbcType="DECIMAL" property="lengthnum" />
    <result column="WIDTHNUM" jdbcType="DECIMAL" property="widthnum" />
    <result column="HEIGHTNUM" jdbcType="DECIMAL" property="heightnum" />
    <result column="DELIVERYTIME" jdbcType="VARCHAR" property="deliverytime" />
    <result column="TOTALASSESS" jdbcType="DECIMAL" property="totalassess" />
    <result column="YIELDLY" jdbcType="VARCHAR" property="yieldly" />
    <result column="FINIDHTIME" jdbcType="TIMESTAMP" property="finidhtime" />
    <result column="CHECKSIMPLETIME" jdbcType="TIMESTAMP" property="checksimpletime" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKPURCHASETIME" jdbcType="TIMESTAMP" property="checkpurchasetime" />
    <result column="PRODUCTSOURCE" jdbcType="LONGVARCHAR" property="productsource" />
    <result column="GOALACCOUNT" jdbcType="LONGVARCHAR" property="goalaccount" />
    <result column="PHOTOURL" jdbcType="LONGVARCHAR" property="photourl" />
    <result column="URL" jdbcType="LONGVARCHAR" property="url" />
    <result column="GOALADRESS" jdbcType="LONGVARCHAR" property="goaladress" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
    <result column="PICTURE" jdbcType="LONGVARCHAR" property="picture" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
    <result column="PRODUCTNOTE" jdbcType="LONGVARCHAR" property="productnote" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, PRODUCTTITLE, NAMECHN, GOALSELL, EXPRESSTYPE, ESTIMATEWEIGHT, 
    ANTISTOP, CREATEOPER, CREATETIME, CREATECHECKOPER, CREATECHECKTIME, MARKETOPER, FORECASTGROSS, 
    FORECASTSELLNUM, QUALITY, SECULAR, COUNTRY, IFOLDSKU, URGENT, OPER, OPERTIME, OPENFLAG, 
    CORPID, PRODUCTNUM, STATUS, PURCHASEFLOWOPER, FINISHTIME, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, 
    RESERVE16, RESERVE17, RESERVE18, RESERVE7, RESERVE8, RESERVE9, RESERVE10, CATEGORYID, 
    CATEGORYNAME, LENGTHNUM, WIDTHNUM, HEIGHTNUM, DELIVERYTIME, TOTALASSESS, YIELDLY, 
    FINIDHTIME, CHECKSIMPLETIME, CHECKOPER, CHECKPURCHASETIME, PRODUCTSOURCE, GOALACCOUNT, 
    PHOTOURL, URL, GOALADRESS, NOTE, PICTURE, CONTENT, PRODUCTNOTE
    from db_productdevelop
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, PRODUCTTITLE, NAMECHN, GOALSELL, EXPRESSTYPE, ESTIMATEWEIGHT, 
    ANTISTOP, CREATEOPER, CREATETIME, CREATECHECKOPER, CREATECHECKTIME, MARKETOPER, FORECASTGROSS, 
    FORECASTSELLNUM, QUALITY, SECULAR, COUNTRY, IFOLDSKU, URGENT, OPER, OPERTIME, OPENFLAG, 
    CORPID, PRODUCTNUM, STATUS, PURCHASEFLOWOPER, FINISHTIME, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, 
    RESERVE16, RESERVE17, RESERVE18, RESERVE7, RESERVE8, RESERVE9, RESERVE10, CATEGORYID, 
    CATEGORYNAME, LENGTHNUM, WIDTHNUM, HEIGHTNUM, DELIVERYTIME, TOTALASSESS, YIELDLY, 
    FINIDHTIME, CHECKSIMPLETIME, CHECKOPER, CHECKPURCHASETIME, PRODUCTSOURCE, GOALACCOUNT, 
    PHOTOURL, URL, GOALADRESS, NOTE, PICTURE, CONTENT, PRODUCTNOTE
    from db_productdevelop
  </select>
  <sql id="TableName">
    db_productdevelop
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{producttitle,jdbcType=VARCHAR} , 
     #{namechn,jdbcType=VARCHAR} , 
     #{goalsell,jdbcType=DECIMAL} , 
     #{expresstype,jdbcType=DECIMAL} , 
     #{estimateweight,jdbcType=DECIMAL} , 
     #{antistop,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{createcheckoper,jdbcType=VARCHAR} , 
     #{createchecktime,jdbcType=TIMESTAMP} , 
     #{marketoper,jdbcType=VARCHAR} , 
     #{forecastgross,jdbcType=VARCHAR} , 
     #{forecastsellnum,jdbcType=DECIMAL} , 
     #{quality,jdbcType=VARCHAR} , 
     #{secular,jdbcType=VARCHAR} , 
     #{country,jdbcType=VARCHAR} , 
     #{ifoldsku,jdbcType=VARCHAR} , 
     #{urgent,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{productnum,jdbcType=DECIMAL} , 
     #{status,jdbcType=VARCHAR} , 
     #{purchaseflowoper,jdbcType=VARCHAR} , 
     #{finishtime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=TIMESTAMP} , 
     #{reserve11,jdbcType=VARCHAR} , 
     #{reserve12,jdbcType=VARCHAR} , 
     #{reserve13,jdbcType=VARCHAR} , 
     #{reserve14,jdbcType=VARCHAR} , 
     #{reserve15,jdbcType=VARCHAR} , 
     #{reserve16,jdbcType=VARCHAR} , 
     #{reserve17,jdbcType=VARCHAR} , 
     #{reserve18,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{lengthnum,jdbcType=DECIMAL} , 
     #{widthnum,jdbcType=DECIMAL} , 
     #{heightnum,jdbcType=DECIMAL} , 
     #{deliverytime,jdbcType=VARCHAR} , 
     #{totalassess,jdbcType=DECIMAL} , 
     #{yieldly,jdbcType=VARCHAR} , 
     #{finidhtime,jdbcType=TIMESTAMP} , 
     #{checksimpletime,jdbcType=TIMESTAMP} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checkpurchasetime,jdbcType=TIMESTAMP} , 
     #{productsource,jdbcType=LONGVARCHAR} , 
     #{goalaccount,jdbcType=LONGVARCHAR} , 
     #{photourl,jdbcType=LONGVARCHAR} , 
     #{url,jdbcType=LONGVARCHAR} , 
     #{goaladress,jdbcType=LONGVARCHAR} , 
     #{note,jdbcType=LONGVARCHAR} , 
     #{picture,jdbcType=LONGVARCHAR} , 
     #{content,jdbcType=LONGVARCHAR} , 
     #{productnote,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTID , 
    PRODUCTTITLE , 
    NAMECHN , 
    GOALSELL , 
    EXPRESSTYPE , 
    ESTIMATEWEIGHT , 
    ANTISTOP , 
    CREATEOPER , 
    CREATETIME , 
    CREATECHECKOPER , 
    CREATECHECKTIME , 
    MARKETOPER , 
    FORECASTGROSS , 
    FORECASTSELLNUM , 
    QUALITY , 
    SECULAR , 
    COUNTRY , 
    IFOLDSKU , 
    URGENT , 
    OPER , 
    OPERTIME , 
    OPENFLAG , 
    CORPID , 
    PRODUCTNUM , 
    STATUS , 
    PURCHASEFLOWOPER , 
    FINISHTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    RESERVE17 , 
    RESERVE18 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    CATEGORYID , 
    CATEGORYNAME , 
    LENGTHNUM , 
    WIDTHNUM , 
    HEIGHTNUM , 
    DELIVERYTIME , 
    TOTALASSESS , 
    YIELDLY , 
    FINIDHTIME , 
    CHECKSIMPLETIME , 
    CHECKOPER , 
    CHECKPURCHASETIME , 
    PRODUCTSOURCE , 
    GOALACCOUNT , 
    PHOTOURL , 
    URL , 
    GOALADRESS , 
    NOTE , 
    PICTURE , 
    CONTENT , 
    PRODUCTNOTE
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="producttitle != null">
      PRODUCTTITLE = #{producttitle,jdbcType=VARCHAR} and 
    </if>
    <if test="namechn != null">
      NAMECHN = #{namechn,jdbcType=VARCHAR} and 
    </if>
    <if test="goalsell != null">
      GOALSELL = #{goalsell,jdbcType=DECIMAL} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=DECIMAL} and 
    </if>
    <if test="estimateweight != null">
      ESTIMATEWEIGHT = #{estimateweight,jdbcType=DECIMAL} and 
    </if>
    <if test="antistop != null">
      ANTISTOP = #{antistop,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createcheckoper != null">
      CREATECHECKOPER = #{createcheckoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createchecktime != null">
      CREATECHECKTIME = #{createchecktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="marketoper != null">
      MARKETOPER = #{marketoper,jdbcType=VARCHAR} and 
    </if>
    <if test="forecastgross != null">
      FORECASTGROSS = #{forecastgross,jdbcType=VARCHAR} and 
    </if>
    <if test="forecastsellnum != null">
      FORECASTSELLNUM = #{forecastsellnum,jdbcType=DECIMAL} and 
    </if>
    <if test="quality != null">
      QUALITY = #{quality,jdbcType=VARCHAR} and 
    </if>
    <if test="secular != null">
      SECULAR = #{secular,jdbcType=VARCHAR} and 
    </if>
    <if test="country != null">
      COUNTRY = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="ifoldsku != null">
      IFOLDSKU = #{ifoldsku,jdbcType=VARCHAR} and 
    </if>
    <if test="urgent != null">
      URGENT = #{urgent,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="productnum != null">
      PRODUCTNUM = #{productnum,jdbcType=DECIMAL} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseflowoper != null">
      PURCHASEFLOWOPER = #{purchaseflowoper,jdbcType=VARCHAR} and 
    </if>
    <if test="finishtime != null">
      FINISHTIME = #{finishtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve11 != null">
      RESERVE11 = #{reserve11,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve12 != null">
      RESERVE12 = #{reserve12,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve13 != null">
      RESERVE13 = #{reserve13,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve14 != null">
      RESERVE14 = #{reserve14,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve15 != null">
      RESERVE15 = #{reserve15,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve16 != null">
      RESERVE16 = #{reserve16,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve17 != null">
      RESERVE17 = #{reserve17,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve18 != null">
      RESERVE18 = #{reserve18,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="lengthnum != null">
      LENGTHNUM = #{lengthnum,jdbcType=DECIMAL} and 
    </if>
    <if test="widthnum != null">
      WIDTHNUM = #{widthnum,jdbcType=DECIMAL} and 
    </if>
    <if test="heightnum != null">
      HEIGHTNUM = #{heightnum,jdbcType=DECIMAL} and 
    </if>
    <if test="deliverytime != null">
      DELIVERYTIME = #{deliverytime,jdbcType=VARCHAR} and 
    </if>
    <if test="totalassess != null">
      TOTALASSESS = #{totalassess,jdbcType=DECIMAL} and 
    </if>
    <if test="yieldly != null">
      YIELDLY = #{yieldly,jdbcType=VARCHAR} and 
    </if>
    <if test="finidhtime != null">
      FINIDHTIME = #{finidhtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checksimpletime != null">
      CHECKSIMPLETIME = #{checksimpletime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checkpurchasetime != null">
      CHECKPURCHASETIME = #{checkpurchasetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="productsource != null">
      PRODUCTSOURCE = #{productsource,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="goalaccount != null">
      GOALACCOUNT = #{goalaccount,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="photourl != null">
      PHOTOURL = #{photourl,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="url != null">
      URL = #{url,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="goaladress != null">
      GOALADRESS = #{goaladress,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="picture != null">
      PICTURE = #{picture,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="productnote != null">
      PRODUCTNOTE = #{productnote,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="producttitle != null">
      PRODUCTTITLE = #{producttitle,jdbcType=VARCHAR} , 
    </if>
    <if test="namechn != null">
      NAMECHN = #{namechn,jdbcType=VARCHAR} , 
    </if>
    <if test="goalsell != null">
      GOALSELL = #{goalsell,jdbcType=DECIMAL} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=DECIMAL} , 
    </if>
    <if test="estimateweight != null">
      ESTIMATEWEIGHT = #{estimateweight,jdbcType=DECIMAL} , 
    </if>
    <if test="antistop != null">
      ANTISTOP = #{antistop,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createcheckoper != null">
      CREATECHECKOPER = #{createcheckoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createchecktime != null">
      CREATECHECKTIME = #{createchecktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="marketoper != null">
      MARKETOPER = #{marketoper,jdbcType=VARCHAR} , 
    </if>
    <if test="forecastgross != null">
      FORECASTGROSS = #{forecastgross,jdbcType=VARCHAR} , 
    </if>
    <if test="forecastsellnum != null">
      FORECASTSELLNUM = #{forecastsellnum,jdbcType=DECIMAL} , 
    </if>
    <if test="quality != null">
      QUALITY = #{quality,jdbcType=VARCHAR} , 
    </if>
    <if test="secular != null">
      SECULAR = #{secular,jdbcType=VARCHAR} , 
    </if>
    <if test="country != null">
      COUNTRY = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="ifoldsku != null">
      IFOLDSKU = #{ifoldsku,jdbcType=VARCHAR} , 
    </if>
    <if test="urgent != null">
      URGENT = #{urgent,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="productnum != null">
      PRODUCTNUM = #{productnum,jdbcType=DECIMAL} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseflowoper != null">
      PURCHASEFLOWOPER = #{purchaseflowoper,jdbcType=VARCHAR} , 
    </if>
    <if test="finishtime != null">
      FINISHTIME = #{finishtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve11 != null">
      RESERVE11 = #{reserve11,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve12 != null">
      RESERVE12 = #{reserve12,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve13 != null">
      RESERVE13 = #{reserve13,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve14 != null">
      RESERVE14 = #{reserve14,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve15 != null">
      RESERVE15 = #{reserve15,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve16 != null">
      RESERVE16 = #{reserve16,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve17 != null">
      RESERVE17 = #{reserve17,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve18 != null">
      RESERVE18 = #{reserve18,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="lengthnum != null">
      LENGTHNUM = #{lengthnum,jdbcType=DECIMAL} , 
    </if>
    <if test="widthnum != null">
      WIDTHNUM = #{widthnum,jdbcType=DECIMAL} , 
    </if>
    <if test="heightnum != null">
      HEIGHTNUM = #{heightnum,jdbcType=DECIMAL} , 
    </if>
    <if test="deliverytime != null">
      DELIVERYTIME = #{deliverytime,jdbcType=VARCHAR} , 
    </if>
    <if test="totalassess != null">
      TOTALASSESS = #{totalassess,jdbcType=DECIMAL} , 
    </if>
    <if test="yieldly != null">
      YIELDLY = #{yieldly,jdbcType=VARCHAR} , 
    </if>
    <if test="finidhtime != null">
      FINIDHTIME = #{finidhtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checksimpletime != null">
      CHECKSIMPLETIME = #{checksimpletime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checkpurchasetime != null">
      CHECKPURCHASETIME = #{checkpurchasetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="productsource != null">
      PRODUCTSOURCE = #{productsource,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="goalaccount != null">
      GOALACCOUNT = #{goalaccount,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="photourl != null">
      PHOTOURL = #{photourl,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="url != null">
      URL = #{url,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="goaladress != null">
      GOALADRESS = #{goaladress,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="picture != null">
      PICTURE = #{picture,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="productnote != null">
      PRODUCTNOTE = #{productnote,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductdevelop" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductdevelop">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductdevelop">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductdevelop">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>