<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPurchaselogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPurchaselog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="MANUFACTURE" jdbcType="VARCHAR" property="manufacture" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="INPORTPRICE" jdbcType="DECIMAL" property="inportprice" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="INPORTTIME" jdbcType="TIMESTAMP" property="inporttime" />
    <result column="ACTUALNUM" jdbcType="DECIMAL" property="actualnum" />
    <result column="ACTUALPRICE" jdbcType="DECIMAL" property="actualprice" />
    <result column="ACTUALAMOUNT" jdbcType="DECIMAL" property="actualamount" />
    <result column="STOCKOPER" jdbcType="VARCHAR" property="stockoper" />
    <result column="STOCKTIME" jdbcType="TIMESTAMP" property="stocktime" />
    <result column="SLEVEL" jdbcType="VARCHAR" property="slevel" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="RECEIVENUM" jdbcType="DECIMAL" property="receivenum" />
    <result column="RETURNNUM" jdbcType="DECIMAL" property="returnnum" />
    <result column="OPERTYPE" jdbcType="VARCHAR" property="opertype" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="REMARKS" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, SID, PRODUCTID, MANUFACTURE, ORDERNUM, INPORTPRICE, AMOUNT, INPORTTIME, 
    ACTUALNUM, ACTUALPRICE, ACTUALAMOUNT, STOCKOPER, STOCKTIME, SLEVEL, STATUS, OPER, 
    OPERTIME, RESERVE1, RESERVE2, RESERVE4, RESERVE5, SAVENUM, CORPID, OPENFLAG, MANUFACTUREID, 
    GROUPID, RECEIVENUM, RETURNNUM, OPERTYPE, RESERVE6, DESCR, RESERVE3, NAME, REMARKS, 
    CONTENT
    from db_purchaselog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SID, PRODUCTID, MANUFACTURE, ORDERNUM, INPORTPRICE, AMOUNT, INPORTTIME, 
    ACTUALNUM, ACTUALPRICE, ACTUALAMOUNT, STOCKOPER, STOCKTIME, SLEVEL, STATUS, OPER, 
    OPERTIME, RESERVE1, RESERVE2, RESERVE4, RESERVE5, SAVENUM, CORPID, OPENFLAG, MANUFACTUREID, 
    GROUPID, RECEIVENUM, RETURNNUM, OPERTYPE, RESERVE6, DESCR, RESERVE3, NAME, REMARKS, 
    CONTENT
    from db_purchaselog
  </select>
  <sql id="TableName">
    db_purchaselog
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{sid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{manufacture,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{inportprice,jdbcType=DECIMAL} , 
     #{amount,jdbcType=DECIMAL} , 
     #{inporttime,jdbcType=TIMESTAMP} , 
     #{actualnum,jdbcType=DECIMAL} , 
     #{actualprice,jdbcType=DECIMAL} , 
     #{actualamount,jdbcType=DECIMAL} , 
     #{stockoper,jdbcType=VARCHAR} , 
     #{stocktime,jdbcType=TIMESTAMP} , 
     #{slevel,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{savenum,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{manufactureid,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{receivenum,jdbcType=DECIMAL} , 
     #{returnnum,jdbcType=DECIMAL} , 
     #{opertype,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{reserve3,jdbcType=LONGVARCHAR} , 
     #{name,jdbcType=LONGVARCHAR} , 
     #{remarks,jdbcType=LONGVARCHAR} , 
     #{content,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SID , 
    PRODUCTID , 
    MANUFACTURE , 
    ORDERNUM , 
    INPORTPRICE , 
    AMOUNT , 
    INPORTTIME , 
    ACTUALNUM , 
    ACTUALPRICE , 
    ACTUALAMOUNT , 
    STOCKOPER , 
    STOCKTIME , 
    SLEVEL , 
    STATUS , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE4 , 
    RESERVE5 , 
    SAVENUM , 
    CORPID , 
    OPENFLAG , 
    MANUFACTUREID , 
    GROUPID , 
    RECEIVENUM , 
    RETURNNUM , 
    OPERTYPE , 
    RESERVE6 , 
    DESCR , 
    RESERVE3 , 
    NAME , 
    REMARKS , 
    CONTENT
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="inportprice != null">
      INPORTPRICE = #{inportprice,jdbcType=DECIMAL} and 
    </if>
    <if test="amount != null">
      AMOUNT = #{amount,jdbcType=DECIMAL} and 
    </if>
    <if test="inporttime != null">
      INPORTTIME = #{inporttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="actualnum != null">
      ACTUALNUM = #{actualnum,jdbcType=DECIMAL} and 
    </if>
    <if test="actualprice != null">
      ACTUALPRICE = #{actualprice,jdbcType=DECIMAL} and 
    </if>
    <if test="actualamount != null">
      ACTUALAMOUNT = #{actualamount,jdbcType=DECIMAL} and 
    </if>
    <if test="stockoper != null">
      STOCKOPER = #{stockoper,jdbcType=VARCHAR} and 
    </if>
    <if test="stocktime != null">
      STOCKTIME = #{stocktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="slevel != null">
      SLEVEL = #{slevel,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="savenum != null">
      SAVENUM = #{savenum,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="receivenum != null">
      RECEIVENUM = #{receivenum,jdbcType=DECIMAL} and 
    </if>
    <if test="returnnum != null">
      RETURNNUM = #{returnnum,jdbcType=DECIMAL} and 
    </if>
    <if test="opertype != null">
      OPERTYPE = #{opertype,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="remarks != null">
      REMARKS = #{remarks,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="inportprice != null">
      INPORTPRICE = #{inportprice,jdbcType=DECIMAL} , 
    </if>
    <if test="amount != null">
      AMOUNT = #{amount,jdbcType=DECIMAL} , 
    </if>
    <if test="inporttime != null">
      INPORTTIME = #{inporttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="actualnum != null">
      ACTUALNUM = #{actualnum,jdbcType=DECIMAL} , 
    </if>
    <if test="actualprice != null">
      ACTUALPRICE = #{actualprice,jdbcType=DECIMAL} , 
    </if>
    <if test="actualamount != null">
      ACTUALAMOUNT = #{actualamount,jdbcType=DECIMAL} , 
    </if>
    <if test="stockoper != null">
      STOCKOPER = #{stockoper,jdbcType=VARCHAR} , 
    </if>
    <if test="stocktime != null">
      STOCKTIME = #{stocktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="slevel != null">
      SLEVEL = #{slevel,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="savenum != null">
      SAVENUM = #{savenum,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="receivenum != null">
      RECEIVENUM = #{receivenum,jdbcType=DECIMAL} , 
    </if>
    <if test="returnnum != null">
      RETURNNUM = #{returnnum,jdbcType=DECIMAL} , 
    </if>
    <if test="opertype != null">
      OPERTYPE = #{opertype,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="remarks != null">
      REMARKS = #{remarks,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="content != null">
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbPurchaselog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbPurchaselog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbPurchaselog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbPurchaselog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>