<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPurchaseOrder">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="MANUFACTORYID" jdbcType="VARCHAR" property="manufactoryid" />
    <result column="MANUFACTORYNAME" jdbcType="VARCHAR" property="manufactoryname" />
    <result column="PRODUCTNUM" jdbcType="DECIMAL" property="productnum" />
    <result column="PRODUCTMONEY" jdbcType="DECIMAL" property="productmoney" />
    <result column="EXPRESSMONEY" jdbcType="DECIMAL" property="expressmoney" />
    <result column="TOTALMONEY" jdbcType="DECIMAL" property="totalmoney" />
    <result column="PAYMETHOD" jdbcType="DECIMAL" property="paymethod" />
    <result column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="EXPECTARRIVETIME" jdbcType="TIMESTAMP" property="expectarrivetime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="TRACEOPER" jdbcType="VARCHAR" property="traceoper" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, GROUPID, MANUFACTORYID, MANUFACTORYNAME, PRODUCTNUM, PRODUCTMONEY, EXPRESSMONEY, 
    TOTALMONEY, PAYMETHOD, EXPRESSID, EXPECTARRIVETIME, STATUS, PURCHASEOPER, STORAGEID, 
    STORAGENAME, CONTENT, CREATEOPER, CREATETIME, CHECKOPER, CHECKTIME, TRACEOPER, OPER, 
    OPERTIME
    from DB_PURCHASE_ORDER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, GROUPID, MANUFACTORYID, MANUFACTORYNAME, PRODUCTNUM, PRODUCTMONEY, EXPRESSMONEY, 
    TOTALMONEY, PAYMETHOD, EXPRESSID, EXPECTARRIVETIME, STATUS, PURCHASEOPER, STORAGEID, 
    STORAGENAME, CONTENT, CREATEOPER, CREATETIME, CHECKOPER, CHECKTIME, TRACEOPER, OPER, 
    OPERTIME
    from DB_PURCHASE_ORDER
  </select>
  <sql id="TableName">
    DB_PURCHASE_ORDER
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{manufactoryid,jdbcType=VARCHAR} , 
     #{manufactoryname,jdbcType=VARCHAR} , 
     #{productnum,jdbcType=DECIMAL} , 
     #{productmoney,jdbcType=DECIMAL} , 
     #{expressmoney,jdbcType=DECIMAL} , 
     #{totalmoney,jdbcType=DECIMAL} , 
     #{paymethod,jdbcType=DECIMAL} , 
     #{expressid,jdbcType=VARCHAR} , 
     #{expectarrivetime,jdbcType=TIMESTAMP} , 
     #{status,jdbcType=DECIMAL} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storagename,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{traceoper,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    ID , 
    GROUPID , 
    MANUFACTORYID , 
    MANUFACTORYNAME , 
    PRODUCTNUM , 
    PRODUCTMONEY , 
    EXPRESSMONEY , 
    TOTALMONEY , 
    PAYMETHOD , 
    EXPRESSID , 
    EXPECTARRIVETIME , 
    STATUS , 
    PURCHASEOPER , 
    STORAGEID , 
    STORAGENAME , 
    CONTENT , 
    CREATEOPER , 
    CREATETIME , 
    CHECKOPER , 
    CHECKTIME , 
    TRACEOPER , 
    OPER , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactoryid != null">
      manufactoryid = #{manufactoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactoryname != null">
      manufactoryname = #{manufactoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="productnum != null">
      productnum = #{productnum,jdbcType=DECIMAL} and 
    </if>
    <if test="productmoney != null">
      productmoney = #{productmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="expressmoney != null">
      expressmoney = #{expressmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="totalmoney != null">
      totalmoney = #{totalmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="paymethod != null">
      paymethod = #{paymethod,jdbcType=DECIMAL} and 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="expectarrivetime != null">
      expectarrivetime = #{expectarrivetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="traceoper != null">
      traceoper = #{traceoper,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactoryid != null">
      manufactoryid = #{manufactoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactoryname != null">
      manufactoryname = #{manufactoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="productnum != null">
      productnum = #{productnum,jdbcType=DECIMAL} , 
    </if>
    <if test="productmoney != null">
      productmoney = #{productmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="expressmoney != null">
      expressmoney = #{expressmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="totalmoney != null">
      totalmoney = #{totalmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="paymethod != null">
      paymethod = #{paymethod,jdbcType=DECIMAL} , 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="expectarrivetime != null">
      expectarrivetime = #{expectarrivetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="traceoper != null">
      traceoper = #{traceoper,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbPurchaseOrder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbPurchaseOrder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbPurchaseOrder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbPurchaseOrder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>