<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbRefundpaypalMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbRefundpaypal">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="PAYPALID" jdbcType="VARCHAR" property="paypalid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="REFUNDTYPE" jdbcType="VARCHAR" property="refundtype" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="REFUNDMONEY" jdbcType="DECIMAL" property="refundmoney" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="CHECKTIME1" jdbcType="TIMESTAMP" property="checktime1" />
    <result column="REFUNDTIME" jdbcType="TIMESTAMP" property="refundtime" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="REFUNDRESULT" jdbcType="VARCHAR" property="refundresult" />
    <result column="MONEYRATE" jdbcType="DECIMAL" property="moneyrate" />
    <result column="REMONEY" jdbcType="DECIMAL" property="remoney" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKOPER1" jdbcType="VARCHAR" property="checkoper1" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="RESERVE21" jdbcType="DECIMAL" property="reserve21" />
    <result column="RESERVE22" jdbcType="DECIMAL" property="reserve22" />
    <result column="RESERVE23" jdbcType="DECIMAL" property="reserve23" />
    <result column="PAYPALTOKEN" jdbcType="LONGVARCHAR" property="paypaltoken" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
    <result column="ERRORREASON" jdbcType="LONGVARCHAR" property="errorreason" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="LONGVARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="LONGVARCHAR" property="reserve6" />
    <result column="RESERVE11" jdbcType="LONGVARCHAR" property="reserve11" />
    <result column="RESERVE12" jdbcType="LONGVARCHAR" property="reserve12" />
    <result column="RESERVE13" jdbcType="LONGVARCHAR" property="reserve13" />
    <result column="RESERVE14" jdbcType="LONGVARCHAR" property="reserve14" />
    <result column="RESERVE15" jdbcType="LONGVARCHAR" property="reserve15" />
    <result column="RESERVE16" jdbcType="LONGVARCHAR" property="reserve16" />
    <result column="RESERVE17" jdbcType="LONGVARCHAR" property="reserve17" />
    <result column="RESERVE18" jdbcType="LONGVARCHAR" property="reserve18" />
    <result column="RESERVE19" jdbcType="LONGVARCHAR" property="reserve19" />
    <result column="RESERVE20" jdbcType="LONGVARCHAR" property="reserve20" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, PAYPALID, USERNAME, PASSWORD, REFUNDTYPE, MONEYTYPE, 
    REFUNDMONEY, CREATETIME, CHECKTIME, CHECKTIME1, REFUNDTIME, OPERTIME, REFUNDRESULT, 
    MONEYRATE, REMONEY, OPER, CREATEOPER, CHECKOPER, CHECKOPER1, CORPID, FLAG, OPENFLAG, 
    RESERVE7, RESERVE8, RESERVE9, RESERVE10, PRODUCTID, ORDERTIME, PURCHASEOPER, EXPRESSTYPE, 
    RESERVE21, RESERVE22, RESERVE23, PAYPALTOKEN, NOTE, ERRORREASON, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE11, RESERVE12, RESERVE13, RESERVE14, 
    RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, RESERVE20
    from db_refundpaypal
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, PAYPALID, USERNAME, PASSWORD, REFUNDTYPE, MONEYTYPE, 
    REFUNDMONEY, CREATETIME, CHECKTIME, CHECKTIME1, REFUNDTIME, OPERTIME, REFUNDRESULT, 
    MONEYRATE, REMONEY, OPER, CREATEOPER, CHECKOPER, CHECKOPER1, CORPID, FLAG, OPENFLAG, 
    RESERVE7, RESERVE8, RESERVE9, RESERVE10, PRODUCTID, ORDERTIME, PURCHASEOPER, EXPRESSTYPE, 
    RESERVE21, RESERVE22, RESERVE23, PAYPALTOKEN, NOTE, ERRORREASON, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE11, RESERVE12, RESERVE13, RESERVE14, 
    RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, RESERVE20
    from db_refundpaypal
  </select>
  <sql id="TableName">
    db_refundpaypal
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{paypalid,jdbcType=VARCHAR} , 
     #{username,jdbcType=VARCHAR} , 
     #{password,jdbcType=VARCHAR} , 
     #{refundtype,jdbcType=VARCHAR} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{refundmoney,jdbcType=DECIMAL} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{checktime1,jdbcType=TIMESTAMP} , 
     #{refundtime,jdbcType=TIMESTAMP} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{refundresult,jdbcType=VARCHAR} , 
     #{moneyrate,jdbcType=DECIMAL} , 
     #{remoney,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checkoper1,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{productid,jdbcType=VARCHAR} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{reserve21,jdbcType=DECIMAL} , 
     #{reserve22,jdbcType=DECIMAL} , 
     #{reserve23,jdbcType=DECIMAL} , 
     #{paypaltoken,jdbcType=LONGVARCHAR} , 
     #{note,jdbcType=LONGVARCHAR} , 
     #{errorreason,jdbcType=LONGVARCHAR} , 
     #{reserve1,jdbcType=LONGVARCHAR} , 
     #{reserve2,jdbcType=LONGVARCHAR} , 
     #{reserve3,jdbcType=LONGVARCHAR} , 
     #{reserve4,jdbcType=LONGVARCHAR} , 
     #{reserve5,jdbcType=LONGVARCHAR} , 
     #{reserve6,jdbcType=LONGVARCHAR} , 
     #{reserve11,jdbcType=LONGVARCHAR} , 
     #{reserve12,jdbcType=LONGVARCHAR} , 
     #{reserve13,jdbcType=LONGVARCHAR} , 
     #{reserve14,jdbcType=LONGVARCHAR} , 
     #{reserve15,jdbcType=LONGVARCHAR} , 
     #{reserve16,jdbcType=LONGVARCHAR} , 
     #{reserve17,jdbcType=LONGVARCHAR} , 
     #{reserve18,jdbcType=LONGVARCHAR} , 
     #{reserve19,jdbcType=LONGVARCHAR} , 
     #{reserve20,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ORDERID , 
    PAYPALID , 
    USERNAME , 
    PASSWORD , 
    REFUNDTYPE , 
    MONEYTYPE , 
    REFUNDMONEY , 
    CREATETIME , 
    CHECKTIME , 
    CHECKTIME1 , 
    REFUNDTIME , 
    OPERTIME , 
    REFUNDRESULT , 
    MONEYRATE , 
    REMONEY , 
    OPER , 
    CREATEOPER , 
    CHECKOPER , 
    CHECKOPER1 , 
    CORPID , 
    FLAG , 
    OPENFLAG , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    PRODUCTID , 
    ORDERTIME , 
    PURCHASEOPER , 
    EXPRESSTYPE , 
    RESERVE21 , 
    RESERVE22 , 
    RESERVE23 , 
    PAYPALTOKEN , 
    NOTE , 
    ERRORREASON , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    RESERVE17 , 
    RESERVE18 , 
    RESERVE19 , 
    RESERVE20
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="paypalid != null">
      PAYPALID = #{paypalid,jdbcType=VARCHAR} and 
    </if>
    <if test="username != null">
      USERNAME = #{username,jdbcType=VARCHAR} and 
    </if>
    <if test="password != null">
      PASSWORD = #{password,jdbcType=VARCHAR} and 
    </if>
    <if test="refundtype != null">
      REFUNDTYPE = #{refundtype,jdbcType=VARCHAR} and 
    </if>
    <if test="moneytype != null">
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="refundmoney != null">
      REFUNDMONEY = #{refundmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checktime1 != null">
      CHECKTIME1 = #{checktime1,jdbcType=TIMESTAMP} and 
    </if>
    <if test="refundtime != null">
      REFUNDTIME = #{refundtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="refundresult != null">
      REFUNDRESULT = #{refundresult,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyrate != null">
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL} and 
    </if>
    <if test="remoney != null">
      REMONEY = #{remoney,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checkoper1 != null">
      CHECKOPER1 = #{checkoper1,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertime != null">
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve21 != null">
      RESERVE21 = #{reserve21,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve22 != null">
      RESERVE22 = #{reserve22,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve23 != null">
      RESERVE23 = #{reserve23,jdbcType=DECIMAL} and 
    </if>
    <if test="paypaltoken != null">
      PAYPALTOKEN = #{paypaltoken,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="errorreason != null">
      ERRORREASON = #{errorreason,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve11 != null">
      RESERVE11 = #{reserve11,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve12 != null">
      RESERVE12 = #{reserve12,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve13 != null">
      RESERVE13 = #{reserve13,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve14 != null">
      RESERVE14 = #{reserve14,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve15 != null">
      RESERVE15 = #{reserve15,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve16 != null">
      RESERVE16 = #{reserve16,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve17 != null">
      RESERVE17 = #{reserve17,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve18 != null">
      RESERVE18 = #{reserve18,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve19 != null">
      RESERVE19 = #{reserve19,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve20 != null">
      RESERVE20 = #{reserve20,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="paypalid != null">
      PAYPALID = #{paypalid,jdbcType=VARCHAR} , 
    </if>
    <if test="username != null">
      USERNAME = #{username,jdbcType=VARCHAR} , 
    </if>
    <if test="password != null">
      PASSWORD = #{password,jdbcType=VARCHAR} , 
    </if>
    <if test="refundtype != null">
      REFUNDTYPE = #{refundtype,jdbcType=VARCHAR} , 
    </if>
    <if test="moneytype != null">
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="refundmoney != null">
      REFUNDMONEY = #{refundmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checktime1 != null">
      CHECKTIME1 = #{checktime1,jdbcType=TIMESTAMP} , 
    </if>
    <if test="refundtime != null">
      REFUNDTIME = #{refundtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="refundresult != null">
      REFUNDRESULT = #{refundresult,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyrate != null">
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL} , 
    </if>
    <if test="remoney != null">
      REMONEY = #{remoney,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checkoper1 != null">
      CHECKOPER1 = #{checkoper1,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertime != null">
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve21 != null">
      RESERVE21 = #{reserve21,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve22 != null">
      RESERVE22 = #{reserve22,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve23 != null">
      RESERVE23 = #{reserve23,jdbcType=DECIMAL} , 
    </if>
    <if test="paypaltoken != null">
      PAYPALTOKEN = #{paypaltoken,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="note != null">
      NOTE = #{note,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="errorreason != null">
      ERRORREASON = #{errorreason,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve11 != null">
      RESERVE11 = #{reserve11,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve12 != null">
      RESERVE12 = #{reserve12,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve13 != null">
      RESERVE13 = #{reserve13,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve14 != null">
      RESERVE14 = #{reserve14,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve15 != null">
      RESERVE15 = #{reserve15,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve16 != null">
      RESERVE16 = #{reserve16,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve17 != null">
      RESERVE17 = #{reserve17,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve18 != null">
      RESERVE18 = #{reserve18,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve19 != null">
      RESERVE19 = #{reserve19,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve20 != null">
      RESERVE20 = #{reserve20,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbRefundpaypal" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbRefundpaypal">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbRefundpaypal">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbRefundpaypal">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>