<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbReturnInstorageMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbReturnInstorage">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="RETURNSID" jdbcType="DECIMAL" property="returnsid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="RETURNNUM" jdbcType="DECIMAL" property="returnnum" />
    <result column="INNUM" jdbcType="DECIMAL" property="innum" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="FLAGDESCR" jdbcType="VARCHAR" property="flagdescr" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="MANUFACTURE" jdbcType="VARCHAR" property="manufacture" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, RETURNSID, ORDERID, PRODUCTID, ORDERNUM, RETURNNUM, INNUM, OPER, 
    OPERTIME, FLAG, FLAGDESCR, COSTPRICE, AMOUNT, MANUFACTUREID, MANUFACTURE, PRODUCTNAME, 
    DESCR
    from db_return_instorage
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, RETURNSID, ORDERID, PRODUCTID, ORDERNUM, RETURNNUM, INNUM, OPER, 
    OPERTIME, FLAG, FLAGDESCR, COSTPRICE, AMOUNT, MANUFACTUREID, MANUFACTURE, PRODUCTNAME, 
    DESCR
    from db_return_instorage
  </select>
  <sql id="TableName">
    db_return_instorage
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{returnsid,jdbcType=DECIMAL} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{returnnum,jdbcType=DECIMAL} , 
     #{innum,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{flag,jdbcType=VARCHAR} , 
     #{flagdescr,jdbcType=VARCHAR} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{amount,jdbcType=DECIMAL} , 
     #{manufactureid,jdbcType=VARCHAR} , 
     #{manufacture,jdbcType=VARCHAR} , 
     #{productname,jdbcType=LONGVARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    RETURNSID , 
    ORDERID , 
    PRODUCTID , 
    ORDERNUM , 
    RETURNNUM , 
    INNUM , 
    OPER , 
    OPERTIME , 
    FLAG , 
    FLAGDESCR , 
    COSTPRICE , 
    AMOUNT , 
    MANUFACTUREID , 
    MANUFACTURE , 
    PRODUCTNAME , 
    DESCR
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="returnsid != null">
      RETURNSID = #{returnsid,jdbcType=DECIMAL} and 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="returnnum != null">
      RETURNNUM = #{returnnum,jdbcType=DECIMAL} and 
    </if>
    <if test="innum != null">
      INNUM = #{innum,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="flagdescr != null">
      FLAGDESCR = #{flagdescr,jdbcType=VARCHAR} and 
    </if>
    <if test="costprice != null">
      COSTPRICE = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="amount != null">
      AMOUNT = #{amount,jdbcType=DECIMAL} and 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="returnsid != null">
      RETURNSID = #{returnsid,jdbcType=DECIMAL} , 
    </if>
    <if test="orderid != null">
      ORDERID = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="returnnum != null">
      RETURNNUM = #{returnnum,jdbcType=DECIMAL} , 
    </if>
    <if test="innum != null">
      INNUM = #{innum,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="flagdescr != null">
      FLAGDESCR = #{flagdescr,jdbcType=VARCHAR} , 
    </if>
    <if test="costprice != null">
      COSTPRICE = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="amount != null">
      AMOUNT = #{amount,jdbcType=DECIMAL} , 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbReturnInstorage" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbReturnInstorage">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbReturnInstorage">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbReturnInstorage">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>