<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbResultdetailMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbResultdetail">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="KEYWORDID" jdbcType="VARCHAR" property="keywordid" />
    <result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="EBAYSORT" jdbcType="DECIMAL" property="ebaysort" />
    <result column="KEYWORDFLAG" jdbcType="DECIMAL" property="keywordflag" />
    <result column="CATEGORYFLAG" jdbcType="DECIMAL" property="categoryflag" />
    <result column="SHOPFLAG" jdbcType="DECIMAL" property="shopflag" />
    <result column="KEYWORDTOTAL" jdbcType="DECIMAL" property="keywordtotal" />
    <result column="CATEGORYTOTAL" jdbcType="DECIMAL" property="categorytotal" />
    <result column="SHOPTOTAL" jdbcType="DECIMAL" property="shoptotal" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="FIRSTDOWNTIME" jdbcType="TIMESTAMP" property="firstdowntime" />
    <result column="ITEMFLAG" jdbcType="DECIMAL" property="itemflag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, CATEGORYID, CATEGORY, KEYWORDID, KEYWORD, SHOPID, SHOPNAME, EBAYITEMID, 
    UPDATETIME, CREATETIME, EBAYSORT, KEYWORDFLAG, CATEGORYFLAG, SHOPFLAG, KEYWORDTOTAL, 
    CATEGORYTOTAL, SHOPTOTAL, FLAG, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, 
    RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, FIRSTDOWNTIME, ITEMFLAG
    from DB_RESULTDETAIL
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, CATEGORYID, CATEGORY, KEYWORDID, KEYWORD, SHOPID, SHOPNAME, EBAYITEMID, 
    UPDATETIME, CREATETIME, EBAYSORT, KEYWORDFLAG, CATEGORYFLAG, SHOPFLAG, KEYWORDTOTAL, 
    CATEGORYTOTAL, SHOPTOTAL, FLAG, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, 
    RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, FIRSTDOWNTIME, ITEMFLAG
    from DB_RESULTDETAIL
  </select>
  <sql id="TableName">
    DB_RESULTDETAIL
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{category,jdbcType=VARCHAR} , 
     #{keywordid,jdbcType=VARCHAR} , 
     #{keyword,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{ebaysort,jdbcType=DECIMAL} , 
     #{keywordflag,jdbcType=DECIMAL} , 
     #{categoryflag,jdbcType=DECIMAL} , 
     #{shopflag,jdbcType=DECIMAL} , 
     #{keywordtotal,jdbcType=DECIMAL} , 
     #{categorytotal,jdbcType=DECIMAL} , 
     #{shoptotal,jdbcType=DECIMAL} , 
     #{flag,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{firstdowntime,jdbcType=TIMESTAMP} , 
     #{itemflag,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SID , 
    CATEGORYID , 
    CATEGORY , 
    KEYWORDID , 
    KEYWORD , 
    SHOPID , 
    SHOPNAME , 
    EBAYITEMID , 
    UPDATETIME , 
    CREATETIME , 
    EBAYSORT , 
    KEYWORDFLAG , 
    CATEGORYFLAG , 
    SHOPFLAG , 
    KEYWORDTOTAL , 
    CATEGORYTOTAL , 
    SHOPTOTAL , 
    FLAG , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    FIRSTDOWNTIME , 
    ITEMFLAG , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} and 
    </if>
    <if test="keywordid != null">
      keywordid = #{keywordid,jdbcType=VARCHAR} and 
    </if>
    <if test="keyword != null">
      keyword = #{keyword,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="ebaysort != null">
      ebaysort = #{ebaysort,jdbcType=DECIMAL} and 
    </if>
    <if test="keywordflag != null">
      keywordflag = #{keywordflag,jdbcType=DECIMAL} and 
    </if>
    <if test="categoryflag != null">
      categoryflag = #{categoryflag,jdbcType=DECIMAL} and 
    </if>
    <if test="shopflag != null">
      shopflag = #{shopflag,jdbcType=DECIMAL} and 
    </if>
    <if test="keywordtotal != null">
      keywordtotal = #{keywordtotal,jdbcType=DECIMAL} and 
    </if>
    <if test="categorytotal != null">
      categorytotal = #{categorytotal,jdbcType=DECIMAL} and 
    </if>
    <if test="shoptotal != null">
      shoptotal = #{shoptotal,jdbcType=DECIMAL} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="firstdowntime != null">
      firstdowntime = #{firstdowntime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="itemflag != null">
      itemflag = #{itemflag,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} , 
    </if>
    <if test="keywordid != null">
      keywordid = #{keywordid,jdbcType=VARCHAR} , 
    </if>
    <if test="keyword != null">
      keyword = #{keyword,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="ebaysort != null">
      ebaysort = #{ebaysort,jdbcType=DECIMAL} , 
    </if>
    <if test="keywordflag != null">
      keywordflag = #{keywordflag,jdbcType=DECIMAL} , 
    </if>
    <if test="categoryflag != null">
      categoryflag = #{categoryflag,jdbcType=DECIMAL} , 
    </if>
    <if test="shopflag != null">
      shopflag = #{shopflag,jdbcType=DECIMAL} , 
    </if>
    <if test="keywordtotal != null">
      keywordtotal = #{keywordtotal,jdbcType=DECIMAL} , 
    </if>
    <if test="categorytotal != null">
      categorytotal = #{categorytotal,jdbcType=DECIMAL} , 
    </if>
    <if test="shoptotal != null">
      shoptotal = #{shoptotal,jdbcType=DECIMAL} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="firstdowntime != null">
      firstdowntime = #{firstdowntime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="itemflag != null">
      itemflag = #{itemflag,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbResultdetail" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbResultdetail">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbResultdetail">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbResultdetail">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>