<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSavenumMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSavenum">
    <id column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="MONTH1" jdbcType="DECIMAL" property="month1" />
    <result column="MONEY1" jdbcType="DECIMAL" property="money1" />
    <result column="PURCHARSE1" jdbcType="DECIMAL" property="purcharse1" />
    <result column="PURCHARSEMONEY1" jdbcType="DECIMAL" property="purcharsemoney1" />
    <result column="MONTH2" jdbcType="DECIMAL" property="month2" />
    <result column="MONEY2" jdbcType="DECIMAL" property="money2" />
    <result column="PURCHARSE2" jdbcType="DECIMAL" property="purcharse2" />
    <result column="PURCHARSEMONEY2" jdbcType="DECIMAL" property="purcharsemoney2" />
    <result column="MONTH3" jdbcType="DECIMAL" property="month3" />
    <result column="MONEY3" jdbcType="DECIMAL" property="money3" />
    <result column="PURCHARSE3" jdbcType="DECIMAL" property="purcharse3" />
    <result column="PURCHARSEMONEY3" jdbcType="DECIMAL" property="purcharsemoney3" />
    <result column="MONTH4" jdbcType="DECIMAL" property="month4" />
    <result column="MONEY4" jdbcType="DECIMAL" property="money4" />
    <result column="PURCHARSE4" jdbcType="DECIMAL" property="purcharse4" />
    <result column="PURCHARSEMONEY4" jdbcType="DECIMAL" property="purcharsemoney4" />
    <result column="MONTH5" jdbcType="DECIMAL" property="month5" />
    <result column="MONEY5" jdbcType="DECIMAL" property="money5" />
    <result column="PURCHARSE5" jdbcType="DECIMAL" property="purcharse5" />
    <result column="PURCHARSEMONEY5" jdbcType="DECIMAL" property="purcharsemoney5" />
    <result column="MONTH6" jdbcType="DECIMAL" property="month6" />
    <result column="MONEY6" jdbcType="DECIMAL" property="money6" />
    <result column="PURCHARSE6" jdbcType="DECIMAL" property="purcharse6" />
    <result column="PURCHARSEMONEY6" jdbcType="DECIMAL" property="purcharsemoney6" />
    <result column="MONTH7" jdbcType="DECIMAL" property="month7" />
    <result column="MONEY7" jdbcType="DECIMAL" property="money7" />
    <result column="PURCHARSE7" jdbcType="DECIMAL" property="purcharse7" />
    <result column="PURCHARSEMONEY7" jdbcType="DECIMAL" property="purcharsemoney7" />
    <result column="MONTH8" jdbcType="DECIMAL" property="month8" />
    <result column="MONEY8" jdbcType="DECIMAL" property="money8" />
    <result column="PURCHARSE8" jdbcType="DECIMAL" property="purcharse8" />
    <result column="PURCHARSEMONEY8" jdbcType="DECIMAL" property="purcharsemoney8" />
    <result column="MONTH9" jdbcType="DECIMAL" property="month9" />
    <result column="MONEY9" jdbcType="DECIMAL" property="money9" />
    <result column="PURCHARSE9" jdbcType="DECIMAL" property="purcharse9" />
    <result column="PURCHARSEMONEY9" jdbcType="DECIMAL" property="purcharsemoney9" />
    <result column="MONTH10" jdbcType="DECIMAL" property="month10" />
    <result column="MONEY10" jdbcType="DECIMAL" property="money10" />
    <result column="PURCHARSE10" jdbcType="DECIMAL" property="purcharse10" />
    <result column="PURCHARSEMONEY10" jdbcType="DECIMAL" property="purcharsemoney10" />
    <result column="MONTH11" jdbcType="DECIMAL" property="month11" />
    <result column="MONEY11" jdbcType="DECIMAL" property="money11" />
    <result column="PURCHARSE11" jdbcType="DECIMAL" property="purcharse11" />
    <result column="PURCHARSEMONEY11" jdbcType="DECIMAL" property="purcharsemoney11" />
    <result column="MONTH12" jdbcType="DECIMAL" property="month12" />
    <result column="MONEY12" jdbcType="DECIMAL" property="money12" />
    <result column="PURCHARSE12" jdbcType="DECIMAL" property="purcharse12" />
    <result column="PURCHARSEMONEY12" jdbcType="DECIMAL" property="purcharsemoney12" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="MANUFACTURE" jdbcType="VARCHAR" property="manufacture" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGE" jdbcType="VARCHAR" property="storage" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CHECKSTOCKOPER" jdbcType="VARCHAR" property="checkstockoper" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="SELLCOST1" jdbcType="DECIMAL" property="sellcost1" />
    <result column="SELLCOST2" jdbcType="DECIMAL" property="sellcost2" />
    <result column="SELLCOST3" jdbcType="DECIMAL" property="sellcost3" />
    <result column="SELLCOST4" jdbcType="DECIMAL" property="sellcost4" />
    <result column="SELLCOST5" jdbcType="DECIMAL" property="sellcost5" />
    <result column="SELLCOST6" jdbcType="DECIMAL" property="sellcost6" />
    <result column="SELLCOST7" jdbcType="DECIMAL" property="sellcost7" />
    <result column="SELLCOST8" jdbcType="DECIMAL" property="sellcost8" />
    <result column="SELLCOST9" jdbcType="DECIMAL" property="sellcost9" />
    <result column="SELLCOST10" jdbcType="DECIMAL" property="sellcost10" />
    <result column="SELLCOST11" jdbcType="DECIMAL" property="sellcost11" />
    <result column="SELLCOST12" jdbcType="DECIMAL" property="sellcost12" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SKU, MONTH1, MONEY1, PURCHARSE1, PURCHARSEMONEY1, MONTH2, MONEY2, PURCHARSE2, 
    PURCHARSEMONEY2, MONTH3, MONEY3, PURCHARSE3, PURCHARSEMONEY3, MONTH4, MONEY4, PURCHARSE4, 
    PURCHARSEMONEY4, MONTH5, MONEY5, PURCHARSE5, PURCHARSEMONEY5, MONTH6, MONEY6, PURCHARSE6, 
    PURCHARSEMONEY6, MONTH7, MONEY7, PURCHARSE7, PURCHARSEMONEY7, MONTH8, MONEY8, PURCHARSE8, 
    PURCHARSEMONEY8, MONTH9, MONEY9, PURCHARSE9, PURCHARSEMONEY9, MONTH10, MONEY10, PURCHARSE10, 
    PURCHARSEMONEY10, MONTH11, MONEY11, PURCHARSE11, PURCHARSEMONEY11, MONTH12, MONEY12, 
    PURCHARSE12, PURCHARSEMONEY12, PURCHASEOPER, SELLOPER, CATEGORY, MANUFACTUREID, MANUFACTURE, 
    STORAGEID, STORAGE, LOCATIONID, LOCATION, OPENFLAG, CHECKSTOCKOPER, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, 
    SELLCOST1, SELLCOST2, SELLCOST3, SELLCOST4, SELLCOST5, SELLCOST6, SELLCOST7, SELLCOST8, 
    SELLCOST9, SELLCOST10, SELLCOST11, SELLCOST12
    from db_savenum
    where SKU = #{sku,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SKU, MONTH1, MONEY1, PURCHARSE1, PURCHARSEMONEY1, MONTH2, MONEY2, PURCHARSE2, 
    PURCHARSEMONEY2, MONTH3, MONEY3, PURCHARSE3, PURCHARSEMONEY3, MONTH4, MONEY4, PURCHARSE4, 
    PURCHARSEMONEY4, MONTH5, MONEY5, PURCHARSE5, PURCHARSEMONEY5, MONTH6, MONEY6, PURCHARSE6, 
    PURCHARSEMONEY6, MONTH7, MONEY7, PURCHARSE7, PURCHARSEMONEY7, MONTH8, MONEY8, PURCHARSE8, 
    PURCHARSEMONEY8, MONTH9, MONEY9, PURCHARSE9, PURCHARSEMONEY9, MONTH10, MONEY10, PURCHARSE10, 
    PURCHARSEMONEY10, MONTH11, MONEY11, PURCHARSE11, PURCHARSEMONEY11, MONTH12, MONEY12, 
    PURCHARSE12, PURCHARSEMONEY12, PURCHASEOPER, SELLOPER, CATEGORY, MANUFACTUREID, MANUFACTURE, 
    STORAGEID, STORAGE, LOCATIONID, LOCATION, OPENFLAG, CHECKSTOCKOPER, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, 
    SELLCOST1, SELLCOST2, SELLCOST3, SELLCOST4, SELLCOST5, SELLCOST6, SELLCOST7, SELLCOST8, 
    SELLCOST9, SELLCOST10, SELLCOST11, SELLCOST12
    from db_savenum
  </select>
  <sql id="TableName">
    db_savenum
  </sql>
  <sql id="Values">
     #{sku,jdbcType=VARCHAR} , 
     #{month1,jdbcType=DECIMAL} , 
     #{money1,jdbcType=DECIMAL} , 
     #{purcharse1,jdbcType=DECIMAL} , 
     #{purcharsemoney1,jdbcType=DECIMAL} , 
     #{month2,jdbcType=DECIMAL} , 
     #{money2,jdbcType=DECIMAL} , 
     #{purcharse2,jdbcType=DECIMAL} , 
     #{purcharsemoney2,jdbcType=DECIMAL} , 
     #{month3,jdbcType=DECIMAL} , 
     #{money3,jdbcType=DECIMAL} , 
     #{purcharse3,jdbcType=DECIMAL} , 
     #{purcharsemoney3,jdbcType=DECIMAL} , 
     #{month4,jdbcType=DECIMAL} , 
     #{money4,jdbcType=DECIMAL} , 
     #{purcharse4,jdbcType=DECIMAL} , 
     #{purcharsemoney4,jdbcType=DECIMAL} , 
     #{month5,jdbcType=DECIMAL} , 
     #{money5,jdbcType=DECIMAL} , 
     #{purcharse5,jdbcType=DECIMAL} , 
     #{purcharsemoney5,jdbcType=DECIMAL} , 
     #{month6,jdbcType=DECIMAL} , 
     #{money6,jdbcType=DECIMAL} , 
     #{purcharse6,jdbcType=DECIMAL} , 
     #{purcharsemoney6,jdbcType=DECIMAL} , 
     #{month7,jdbcType=DECIMAL} , 
     #{money7,jdbcType=DECIMAL} , 
     #{purcharse7,jdbcType=DECIMAL} , 
     #{purcharsemoney7,jdbcType=DECIMAL} , 
     #{month8,jdbcType=DECIMAL} , 
     #{money8,jdbcType=DECIMAL} , 
     #{purcharse8,jdbcType=DECIMAL} , 
     #{purcharsemoney8,jdbcType=DECIMAL} , 
     #{month9,jdbcType=DECIMAL} , 
     #{money9,jdbcType=DECIMAL} , 
     #{purcharse9,jdbcType=DECIMAL} , 
     #{purcharsemoney9,jdbcType=DECIMAL} , 
     #{month10,jdbcType=DECIMAL} , 
     #{money10,jdbcType=DECIMAL} , 
     #{purcharse10,jdbcType=DECIMAL} , 
     #{purcharsemoney10,jdbcType=DECIMAL} , 
     #{month11,jdbcType=DECIMAL} , 
     #{money11,jdbcType=DECIMAL} , 
     #{purcharse11,jdbcType=DECIMAL} , 
     #{purcharsemoney11,jdbcType=DECIMAL} , 
     #{month12,jdbcType=DECIMAL} , 
     #{money12,jdbcType=DECIMAL} , 
     #{purcharse12,jdbcType=DECIMAL} , 
     #{purcharsemoney12,jdbcType=DECIMAL} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{selloper,jdbcType=VARCHAR} , 
     #{category,jdbcType=VARCHAR} , 
     #{manufactureid,jdbcType=VARCHAR} , 
     #{manufacture,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storage,jdbcType=VARCHAR} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{location,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{checkstockoper,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{sellcost1,jdbcType=DECIMAL} , 
     #{sellcost2,jdbcType=DECIMAL} , 
     #{sellcost3,jdbcType=DECIMAL} , 
     #{sellcost4,jdbcType=DECIMAL} , 
     #{sellcost5,jdbcType=DECIMAL} , 
     #{sellcost6,jdbcType=DECIMAL} , 
     #{sellcost7,jdbcType=DECIMAL} , 
     #{sellcost8,jdbcType=DECIMAL} , 
     #{sellcost9,jdbcType=DECIMAL} , 
     #{sellcost10,jdbcType=DECIMAL} , 
     #{sellcost11,jdbcType=DECIMAL} , 
     #{sellcost12,jdbcType=DECIMAL}
  </sql>
  <sql id="Columns">
    SKU , 
    MONTH1 , 
    MONEY1 , 
    PURCHARSE1 , 
    PURCHARSEMONEY1 , 
    MONTH2 , 
    MONEY2 , 
    PURCHARSE2 , 
    PURCHARSEMONEY2 , 
    MONTH3 , 
    MONEY3 , 
    PURCHARSE3 , 
    PURCHARSEMONEY3 , 
    MONTH4 , 
    MONEY4 , 
    PURCHARSE4 , 
    PURCHARSEMONEY4 , 
    MONTH5 , 
    MONEY5 , 
    PURCHARSE5 , 
    PURCHARSEMONEY5 , 
    MONTH6 , 
    MONEY6 , 
    PURCHARSE6 , 
    PURCHARSEMONEY6 , 
    MONTH7 , 
    MONEY7 , 
    PURCHARSE7 , 
    PURCHARSEMONEY7 , 
    MONTH8 , 
    MONEY8 , 
    PURCHARSE8 , 
    PURCHARSEMONEY8 , 
    MONTH9 , 
    MONEY9 , 
    PURCHARSE9 , 
    PURCHARSEMONEY9 , 
    MONTH10 , 
    MONEY10 , 
    PURCHARSE10 , 
    PURCHARSEMONEY10 , 
    MONTH11 , 
    MONEY11 , 
    PURCHARSE11 , 
    PURCHARSEMONEY11 , 
    MONTH12 , 
    MONEY12 , 
    PURCHARSE12 , 
    PURCHARSEMONEY12 , 
    PURCHASEOPER , 
    SELLOPER , 
    CATEGORY , 
    MANUFACTUREID , 
    MANUFACTURE , 
    STORAGEID , 
    STORAGE , 
    LOCATIONID , 
    LOCATION , 
    OPENFLAG , 
    CHECKSTOCKOPER , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    SELLCOST1 , 
    SELLCOST2 , 
    SELLCOST3 , 
    SELLCOST4 , 
    SELLCOST5 , 
    SELLCOST6 , 
    SELLCOST7 , 
    SELLCOST8 , 
    SELLCOST9 , 
    SELLCOST10 , 
    SELLCOST11 , 
    SELLCOST12
  </sql>
  <sql id="Criteria">
    <if test="sku != null">
      SKU = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="month1 != null">
      MONTH1 = #{month1,jdbcType=DECIMAL} and 
    </if>
    <if test="money1 != null">
      MONEY1 = #{money1,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse1 != null">
      PURCHARSE1 = #{purcharse1,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney1 != null">
      PURCHARSEMONEY1 = #{purcharsemoney1,jdbcType=DECIMAL} and 
    </if>
    <if test="month2 != null">
      MONTH2 = #{month2,jdbcType=DECIMAL} and 
    </if>
    <if test="money2 != null">
      MONEY2 = #{money2,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse2 != null">
      PURCHARSE2 = #{purcharse2,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney2 != null">
      PURCHARSEMONEY2 = #{purcharsemoney2,jdbcType=DECIMAL} and 
    </if>
    <if test="month3 != null">
      MONTH3 = #{month3,jdbcType=DECIMAL} and 
    </if>
    <if test="money3 != null">
      MONEY3 = #{money3,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse3 != null">
      PURCHARSE3 = #{purcharse3,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney3 != null">
      PURCHARSEMONEY3 = #{purcharsemoney3,jdbcType=DECIMAL} and 
    </if>
    <if test="month4 != null">
      MONTH4 = #{month4,jdbcType=DECIMAL} and 
    </if>
    <if test="money4 != null">
      MONEY4 = #{money4,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse4 != null">
      PURCHARSE4 = #{purcharse4,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney4 != null">
      PURCHARSEMONEY4 = #{purcharsemoney4,jdbcType=DECIMAL} and 
    </if>
    <if test="month5 != null">
      MONTH5 = #{month5,jdbcType=DECIMAL} and 
    </if>
    <if test="money5 != null">
      MONEY5 = #{money5,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse5 != null">
      PURCHARSE5 = #{purcharse5,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney5 != null">
      PURCHARSEMONEY5 = #{purcharsemoney5,jdbcType=DECIMAL} and 
    </if>
    <if test="month6 != null">
      MONTH6 = #{month6,jdbcType=DECIMAL} and 
    </if>
    <if test="money6 != null">
      MONEY6 = #{money6,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse6 != null">
      PURCHARSE6 = #{purcharse6,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney6 != null">
      PURCHARSEMONEY6 = #{purcharsemoney6,jdbcType=DECIMAL} and 
    </if>
    <if test="month7 != null">
      MONTH7 = #{month7,jdbcType=DECIMAL} and 
    </if>
    <if test="money7 != null">
      MONEY7 = #{money7,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse7 != null">
      PURCHARSE7 = #{purcharse7,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney7 != null">
      PURCHARSEMONEY7 = #{purcharsemoney7,jdbcType=DECIMAL} and 
    </if>
    <if test="month8 != null">
      MONTH8 = #{month8,jdbcType=DECIMAL} and 
    </if>
    <if test="money8 != null">
      MONEY8 = #{money8,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse8 != null">
      PURCHARSE8 = #{purcharse8,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney8 != null">
      PURCHARSEMONEY8 = #{purcharsemoney8,jdbcType=DECIMAL} and 
    </if>
    <if test="month9 != null">
      MONTH9 = #{month9,jdbcType=DECIMAL} and 
    </if>
    <if test="money9 != null">
      MONEY9 = #{money9,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse9 != null">
      PURCHARSE9 = #{purcharse9,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney9 != null">
      PURCHARSEMONEY9 = #{purcharsemoney9,jdbcType=DECIMAL} and 
    </if>
    <if test="month10 != null">
      MONTH10 = #{month10,jdbcType=DECIMAL} and 
    </if>
    <if test="money10 != null">
      MONEY10 = #{money10,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse10 != null">
      PURCHARSE10 = #{purcharse10,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney10 != null">
      PURCHARSEMONEY10 = #{purcharsemoney10,jdbcType=DECIMAL} and 
    </if>
    <if test="month11 != null">
      MONTH11 = #{month11,jdbcType=DECIMAL} and 
    </if>
    <if test="money11 != null">
      MONEY11 = #{money11,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse11 != null">
      PURCHARSE11 = #{purcharse11,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney11 != null">
      PURCHARSEMONEY11 = #{purcharsemoney11,jdbcType=DECIMAL} and 
    </if>
    <if test="month12 != null">
      MONTH12 = #{month12,jdbcType=DECIMAL} and 
    </if>
    <if test="money12 != null">
      MONEY12 = #{money12,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharse12 != null">
      PURCHARSE12 = #{purcharse12,jdbcType=DECIMAL} and 
    </if>
    <if test="purcharsemoney12 != null">
      PURCHARSEMONEY12 = #{purcharsemoney12,jdbcType=DECIMAL} and 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="selloper != null">
      SELLOPER = #{selloper,jdbcType=VARCHAR} and 
    </if>
    <if test="category != null">
      CATEGORY = #{category,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      STORAGEID = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storage != null">
      STORAGE = #{storage,jdbcType=VARCHAR} and 
    </if>
    <if test="locationid != null">
      LOCATIONID = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="location != null">
      LOCATION = #{location,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="checkstockoper != null">
      CHECKSTOCKOPER = #{checkstockoper,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost1 != null">
      SELLCOST1 = #{sellcost1,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost2 != null">
      SELLCOST2 = #{sellcost2,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost3 != null">
      SELLCOST3 = #{sellcost3,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost4 != null">
      SELLCOST4 = #{sellcost4,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost5 != null">
      SELLCOST5 = #{sellcost5,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost6 != null">
      SELLCOST6 = #{sellcost6,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost7 != null">
      SELLCOST7 = #{sellcost7,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost8 != null">
      SELLCOST8 = #{sellcost8,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost9 != null">
      SELLCOST9 = #{sellcost9,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost10 != null">
      SELLCOST10 = #{sellcost10,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost11 != null">
      SELLCOST11 = #{sellcost11,jdbcType=DECIMAL} and 
    </if>
    <if test="sellcost12 != null">
      SELLCOST12 = #{sellcost12,jdbcType=DECIMAL}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sku != null">
      SKU = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="month1 != null">
      MONTH1 = #{month1,jdbcType=DECIMAL} , 
    </if>
    <if test="money1 != null">
      MONEY1 = #{money1,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse1 != null">
      PURCHARSE1 = #{purcharse1,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney1 != null">
      PURCHARSEMONEY1 = #{purcharsemoney1,jdbcType=DECIMAL} , 
    </if>
    <if test="month2 != null">
      MONTH2 = #{month2,jdbcType=DECIMAL} , 
    </if>
    <if test="money2 != null">
      MONEY2 = #{money2,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse2 != null">
      PURCHARSE2 = #{purcharse2,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney2 != null">
      PURCHARSEMONEY2 = #{purcharsemoney2,jdbcType=DECIMAL} , 
    </if>
    <if test="month3 != null">
      MONTH3 = #{month3,jdbcType=DECIMAL} , 
    </if>
    <if test="money3 != null">
      MONEY3 = #{money3,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse3 != null">
      PURCHARSE3 = #{purcharse3,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney3 != null">
      PURCHARSEMONEY3 = #{purcharsemoney3,jdbcType=DECIMAL} , 
    </if>
    <if test="month4 != null">
      MONTH4 = #{month4,jdbcType=DECIMAL} , 
    </if>
    <if test="money4 != null">
      MONEY4 = #{money4,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse4 != null">
      PURCHARSE4 = #{purcharse4,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney4 != null">
      PURCHARSEMONEY4 = #{purcharsemoney4,jdbcType=DECIMAL} , 
    </if>
    <if test="month5 != null">
      MONTH5 = #{month5,jdbcType=DECIMAL} , 
    </if>
    <if test="money5 != null">
      MONEY5 = #{money5,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse5 != null">
      PURCHARSE5 = #{purcharse5,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney5 != null">
      PURCHARSEMONEY5 = #{purcharsemoney5,jdbcType=DECIMAL} , 
    </if>
    <if test="month6 != null">
      MONTH6 = #{month6,jdbcType=DECIMAL} , 
    </if>
    <if test="money6 != null">
      MONEY6 = #{money6,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse6 != null">
      PURCHARSE6 = #{purcharse6,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney6 != null">
      PURCHARSEMONEY6 = #{purcharsemoney6,jdbcType=DECIMAL} , 
    </if>
    <if test="month7 != null">
      MONTH7 = #{month7,jdbcType=DECIMAL} , 
    </if>
    <if test="money7 != null">
      MONEY7 = #{money7,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse7 != null">
      PURCHARSE7 = #{purcharse7,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney7 != null">
      PURCHARSEMONEY7 = #{purcharsemoney7,jdbcType=DECIMAL} , 
    </if>
    <if test="month8 != null">
      MONTH8 = #{month8,jdbcType=DECIMAL} , 
    </if>
    <if test="money8 != null">
      MONEY8 = #{money8,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse8 != null">
      PURCHARSE8 = #{purcharse8,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney8 != null">
      PURCHARSEMONEY8 = #{purcharsemoney8,jdbcType=DECIMAL} , 
    </if>
    <if test="month9 != null">
      MONTH9 = #{month9,jdbcType=DECIMAL} , 
    </if>
    <if test="money9 != null">
      MONEY9 = #{money9,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse9 != null">
      PURCHARSE9 = #{purcharse9,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney9 != null">
      PURCHARSEMONEY9 = #{purcharsemoney9,jdbcType=DECIMAL} , 
    </if>
    <if test="month10 != null">
      MONTH10 = #{month10,jdbcType=DECIMAL} , 
    </if>
    <if test="money10 != null">
      MONEY10 = #{money10,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse10 != null">
      PURCHARSE10 = #{purcharse10,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney10 != null">
      PURCHARSEMONEY10 = #{purcharsemoney10,jdbcType=DECIMAL} , 
    </if>
    <if test="month11 != null">
      MONTH11 = #{month11,jdbcType=DECIMAL} , 
    </if>
    <if test="money11 != null">
      MONEY11 = #{money11,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse11 != null">
      PURCHARSE11 = #{purcharse11,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney11 != null">
      PURCHARSEMONEY11 = #{purcharsemoney11,jdbcType=DECIMAL} , 
    </if>
    <if test="month12 != null">
      MONTH12 = #{month12,jdbcType=DECIMAL} , 
    </if>
    <if test="money12 != null">
      MONEY12 = #{money12,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharse12 != null">
      PURCHARSE12 = #{purcharse12,jdbcType=DECIMAL} , 
    </if>
    <if test="purcharsemoney12 != null">
      PURCHARSEMONEY12 = #{purcharsemoney12,jdbcType=DECIMAL} , 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="selloper != null">
      SELLOPER = #{selloper,jdbcType=VARCHAR} , 
    </if>
    <if test="category != null">
      CATEGORY = #{category,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactureid != null">
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacture != null">
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      STORAGEID = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storage != null">
      STORAGE = #{storage,jdbcType=VARCHAR} , 
    </if>
    <if test="locationid != null">
      LOCATIONID = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="location != null">
      LOCATION = #{location,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="checkstockoper != null">
      CHECKSTOCKOPER = #{checkstockoper,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost1 != null">
      SELLCOST1 = #{sellcost1,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost2 != null">
      SELLCOST2 = #{sellcost2,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost3 != null">
      SELLCOST3 = #{sellcost3,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost4 != null">
      SELLCOST4 = #{sellcost4,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost5 != null">
      SELLCOST5 = #{sellcost5,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost6 != null">
      SELLCOST6 = #{sellcost6,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost7 != null">
      SELLCOST7 = #{sellcost7,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost8 != null">
      SELLCOST8 = #{sellcost8,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost9 != null">
      SELLCOST9 = #{sellcost9,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost10 != null">
      SELLCOST10 = #{sellcost10,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost11 != null">
      SELLCOST11 = #{sellcost11,jdbcType=DECIMAL} , 
    </if>
    <if test="sellcost12 != null">
      SELLCOST12 = #{sellcost12,jdbcType=DECIMAL}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSavenum" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SKU=#{SKU}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSavenum">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSavenum">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSavenum">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>