<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSavenumtasklogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSavenumtasklog">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TASKID" jdbcType="DECIMAL" property="taskid" />
    <result column="SOURCEID" jdbcType="VARCHAR" property="sourceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="ORIGINDESCR" jdbcType="VARCHAR" property="origindescr" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CHANGE" jdbcType="DECIMAL" property="change" />
    <result column="RELATIONID" jdbcType="VARCHAR" property="relationid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ID, TASKID, SOURCEID, PRODUCTID, QUANTITY, DESCR, ORIGINDESCR, COSTPRICE, 
    TYPE, OPER, OPERTIME, CHANGE, RELATIONID
    from DB_SAVENUMTASKLOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TASKID, SOURCEID, PRODUCTID, QUANTITY, DESCR, ORIGINDESCR, COSTPRICE, 
    TYPE, OPER, OPERTIME, CHANGE, RELATIONID
    from DB_SAVENUMTASKLOG
  </select>
  <sql id="TableName">
    DB_SAVENUMTASKLOG
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{taskid,jdbcType=DECIMAL} , 
     #{sourceid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{quantity,jdbcType=DECIMAL} , 
     #{descr,jdbcType=VARCHAR} , 
     #{origindescr,jdbcType=VARCHAR} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{type,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{change,jdbcType=DECIMAL} , 
     #{relationid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    TASKID , 
    SOURCEID , 
    PRODUCTID , 
    QUANTITY , 
    DESCR , 
    ORIGINDESCR , 
    COSTPRICE , 
    TYPE , 
    OPER , 
    OPERTIME , 
    CHANGE , 
    RELATIONID , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="taskid != null">
      taskid = #{taskid,jdbcType=DECIMAL} and 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="quantity != null">
      quantity = #{quantity,jdbcType=DECIMAL} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="origindescr != null">
      origindescr = #{origindescr,jdbcType=VARCHAR} and 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="change != null">
      change = #{change,jdbcType=DECIMAL} and 
    </if>
    <if test="relationid != null">
      relationid = #{relationid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="taskid != null">
      taskid = #{taskid,jdbcType=DECIMAL} , 
    </if>
    <if test="sourceid != null">
      sourceid = #{sourceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="quantity != null">
      quantity = #{quantity,jdbcType=DECIMAL} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="origindescr != null">
      origindescr = #{origindescr,jdbcType=VARCHAR} , 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="change != null">
      change = #{change,jdbcType=DECIMAL} , 
    </if>
    <if test="relationid != null">
      relationid = #{relationid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSavenumtasklog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSavenumtasklog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSavenumtasklog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSavenumtasklog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>