<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSalescoefficientlogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSalescoefficientlog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="RANK" jdbcType="VARCHAR" property="rank" />
    <result column="RANGE1" jdbcType="DECIMAL" property="range1" />
    <result column="RANGE2" jdbcType="DECIMAL" property="range2" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERTYPE" jdbcType="VARCHAR" property="opertype" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="FILED1" jdbcType="VARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="VARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="DECIMAL" property="filed3" />
    <result column="FILED4" jdbcType="DECIMAL" property="filed4" />
    <result column="FILED5" jdbcType="DECIMAL" property="filed5" />
    <result column="ALERTNUM" jdbcType="DECIMAL" property="alertnum" />
    <result column="PURCHASENUM" jdbcType="DECIMAL" property="purchasenum" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, RANK, RANGE1, RANGE2, OPER, OPERTIME, OPENFLAG, CORPID, OPERTYPE, 
    CONTENT, FILED1, FILED2, FILED3, FILED4, FILED5, ALERTNUM, PURCHASENUM, SORT
    from DB_SALESCOEFFICIENTLOG
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, RANK, RANGE1, RANGE2, OPER, OPERTIME, OPENFLAG, CORPID, OPERTYPE, 
    CONTENT, FILED1, FILED2, FILED3, FILED4, FILED5, ALERTNUM, PURCHASENUM, SORT
    from DB_SALESCOEFFICIENTLOG
  </select>
  <sql id="TableName">
    DB_SALESCOEFFICIENTLOG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{rank,jdbcType=VARCHAR} , 
     #{range1,jdbcType=DECIMAL} , 
     #{range2,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{opertype,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{filed1,jdbcType=VARCHAR} , 
     #{filed2,jdbcType=VARCHAR} , 
     #{filed3,jdbcType=DECIMAL} , 
     #{filed4,jdbcType=DECIMAL} , 
     #{filed5,jdbcType=DECIMAL} , 
     #{alertnum,jdbcType=DECIMAL} , 
     #{purchasenum,jdbcType=DECIMAL} , 
     #{sort,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    RANK , 
    RANGE1 , 
    RANGE2 , 
    OPER , 
    OPERTIME , 
    OPENFLAG , 
    CORPID , 
    OPERTYPE , 
    CONTENT , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    ALERTNUM , 
    PURCHASENUM , 
    SORT , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="rank != null">
      rank = #{rank,jdbcType=VARCHAR} and 
    </if>
    <if test="range1 != null">
      range1 = #{range1,jdbcType=DECIMAL} and 
    </if>
    <if test="range2 != null">
      range2 = #{range2,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="opertype != null">
      opertype = #{opertype,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} and 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} and 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=DECIMAL} and 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=DECIMAL} and 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=DECIMAL} and 
    </if>
    <if test="alertnum != null">
      alertnum = #{alertnum,jdbcType=DECIMAL} and 
    </if>
    <if test="purchasenum != null">
      purchasenum = #{purchasenum,jdbcType=DECIMAL} and 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="rank != null">
      rank = #{rank,jdbcType=VARCHAR} , 
    </if>
    <if test="range1 != null">
      range1 = #{range1,jdbcType=DECIMAL} , 
    </if>
    <if test="range2 != null">
      range2 = #{range2,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="opertype != null">
      opertype = #{opertype,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} , 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} , 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=DECIMAL} , 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=DECIMAL} , 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=DECIMAL} , 
    </if>
    <if test="alertnum != null">
      alertnum = #{alertnum,jdbcType=DECIMAL} , 
    </if>
    <if test="purchasenum != null">
      purchasenum = #{purchasenum,jdbcType=DECIMAL} , 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSalescoefficientlog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSalescoefficientlog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSalescoefficientlog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSalescoefficientlog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>