<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSellskuforshopMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSellskuforshop">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="SHOPUSERID" jdbcType="VARCHAR" property="shopuserid" />
    <result column="NUMFORUS" jdbcType="DECIMAL" property="numforus" />
    <result column="NUMFORAU" jdbcType="DECIMAL" property="numforau" />
    <result column="NUMFORUK" jdbcType="DECIMAL" property="numforuk" />
    <result column="NUMFORCA" jdbcType="DECIMAL" property="numforca" />
    <result column="NUMFORDE" jdbcType="DECIMAL" property="numforde" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPERIME" jdbcType="TIMESTAMP" property="operime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="FLAGUS" jdbcType="DECIMAL" property="flagus" />
    <result column="FLAGAU" jdbcType="DECIMAL" property="flagau" />
    <result column="FLAGUK" jdbcType="DECIMAL" property="flaguk" />
    <result column="FLAGCA" jdbcType="DECIMAL" property="flagca" />
    <result column="FLAGDE" jdbcType="DECIMAL" property="flagde" />
    <result column="TEMPORARY" jdbcType="LONGVARCHAR" property="temporary" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, SHOPID, SHOPNAME, SHOPUSERID, NUMFORUS, NUMFORAU, NUMFORUK, 
    NUMFORCA, NUMFORDE, TOTAL, RESERVE1, RESERVE3, RESERVE4, RESERVE5, CORPID, OPER, 
    OPENFLAG, OPERIME, CREATETIME, FLAGUS, FLAGAU, FLAGUK, FLAGCA, FLAGDE, TEMPORARY, 
    RESERVE2
    from db_sellskuforshop
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, SHOPID, SHOPNAME, SHOPUSERID, NUMFORUS, NUMFORAU, NUMFORUK, 
    NUMFORCA, NUMFORDE, TOTAL, RESERVE1, RESERVE3, RESERVE4, RESERVE5, CORPID, OPER, 
    OPENFLAG, OPERIME, CREATETIME, FLAGUS, FLAGAU, FLAGUK, FLAGCA, FLAGDE, TEMPORARY, 
    RESERVE2
    from db_sellskuforshop
  </select>
  <sql id="TableName">
    db_sellskuforshop
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{sellsku,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{shopuserid,jdbcType=VARCHAR} , 
     #{numforus,jdbcType=DECIMAL} , 
     #{numforau,jdbcType=DECIMAL} , 
     #{numforuk,jdbcType=DECIMAL} , 
     #{numforca,jdbcType=DECIMAL} , 
     #{numforde,jdbcType=DECIMAL} , 
     #{total,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{operime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{flagus,jdbcType=DECIMAL} , 
     #{flagau,jdbcType=DECIMAL} , 
     #{flaguk,jdbcType=DECIMAL} , 
     #{flagca,jdbcType=DECIMAL} , 
     #{flagde,jdbcType=DECIMAL} , 
     #{temporary,jdbcType=LONGVARCHAR} , 
     #{reserve2,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SELLSKU , 
    SHOPID , 
    SHOPNAME , 
    SHOPUSERID , 
    NUMFORUS , 
    NUMFORAU , 
    NUMFORUK , 
    NUMFORCA , 
    NUMFORDE , 
    TOTAL , 
    RESERVE1 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    CORPID , 
    OPER , 
    OPENFLAG , 
    OPERIME , 
    CREATETIME , 
    FLAGUS , 
    FLAGAU , 
    FLAGUK , 
    FLAGCA , 
    FLAGDE , 
    TEMPORARY , 
    RESERVE2
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="sellsku != null">
      SELLSKU = #{sellsku,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      SHOPNAME = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="shopuserid != null">
      SHOPUSERID = #{shopuserid,jdbcType=VARCHAR} and 
    </if>
    <if test="numforus != null">
      NUMFORUS = #{numforus,jdbcType=DECIMAL} and 
    </if>
    <if test="numforau != null">
      NUMFORAU = #{numforau,jdbcType=DECIMAL} and 
    </if>
    <if test="numforuk != null">
      NUMFORUK = #{numforuk,jdbcType=DECIMAL} and 
    </if>
    <if test="numforca != null">
      NUMFORCA = #{numforca,jdbcType=DECIMAL} and 
    </if>
    <if test="numforde != null">
      NUMFORDE = #{numforde,jdbcType=DECIMAL} and 
    </if>
    <if test="total != null">
      TOTAL = #{total,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="operime != null">
      OPERIME = #{operime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flagus != null">
      FLAGUS = #{flagus,jdbcType=DECIMAL} and 
    </if>
    <if test="flagau != null">
      FLAGAU = #{flagau,jdbcType=DECIMAL} and 
    </if>
    <if test="flaguk != null">
      FLAGUK = #{flaguk,jdbcType=DECIMAL} and 
    </if>
    <if test="flagca != null">
      FLAGCA = #{flagca,jdbcType=DECIMAL} and 
    </if>
    <if test="flagde != null">
      FLAGDE = #{flagde,jdbcType=DECIMAL} and 
    </if>
    <if test="temporary != null">
      TEMPORARY = #{temporary,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="sellsku != null">
      SELLSKU = #{sellsku,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      SHOPNAME = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="shopuserid != null">
      SHOPUSERID = #{shopuserid,jdbcType=VARCHAR} , 
    </if>
    <if test="numforus != null">
      NUMFORUS = #{numforus,jdbcType=DECIMAL} , 
    </if>
    <if test="numforau != null">
      NUMFORAU = #{numforau,jdbcType=DECIMAL} , 
    </if>
    <if test="numforuk != null">
      NUMFORUK = #{numforuk,jdbcType=DECIMAL} , 
    </if>
    <if test="numforca != null">
      NUMFORCA = #{numforca,jdbcType=DECIMAL} , 
    </if>
    <if test="numforde != null">
      NUMFORDE = #{numforde,jdbcType=DECIMAL} , 
    </if>
    <if test="total != null">
      TOTAL = #{total,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="operime != null">
      OPERIME = #{operime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flagus != null">
      FLAGUS = #{flagus,jdbcType=DECIMAL} , 
    </if>
    <if test="flagau != null">
      FLAGAU = #{flagau,jdbcType=DECIMAL} , 
    </if>
    <if test="flaguk != null">
      FLAGUK = #{flaguk,jdbcType=DECIMAL} , 
    </if>
    <if test="flagca != null">
      FLAGCA = #{flagca,jdbcType=DECIMAL} , 
    </if>
    <if test="flagde != null">
      FLAGDE = #{flagde,jdbcType=DECIMAL} , 
    </if>
    <if test="temporary != null">
      TEMPORARY = #{temporary,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSellskuforshop" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSellskuforshop">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSellskuforshop">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSellskuforshop">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>