<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSendmessageMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSendmessage">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="RECORDENUM" jdbcType="DECIMAL" property="recordenum" />
    <result column="SUCCESSNUM" jdbcType="DECIMAL" property="successnum" />
    <result column="ERRORNUM" jdbcType="DECIMAL" property="errornum" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RETURNID" jdbcType="DECIMAL" property="returnid" />
    <result column="TITLE" jdbcType="LONGVARCHAR" property="title" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, GROUPID, CREATETIME, CREATEOPER, STATUS, CHECKOPER, CHECKTIME, 
    RECORDENUM, SUCCESSNUM, ERRORNUM, SENDTIME, RESERVE1, RESERVE2, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, RETURNID, TITLE, RESERVE3, RESERVE4
    from db_sendmessage
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, GROUPID, CREATETIME, CREATEOPER, STATUS, CHECKOPER, CHECKTIME, 
    RECORDENUM, SUCCESSNUM, ERRORNUM, SENDTIME, RESERVE1, RESERVE2, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, RETURNID, TITLE, RESERVE3, RESERVE4
    from db_sendmessage
  </select>
  <sql id="TableName">
    db_sendmessage
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{recordenum,jdbcType=DECIMAL} , 
     #{successnum,jdbcType=DECIMAL} , 
     #{errornum,jdbcType=DECIMAL} , 
     #{sendtime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{returnid,jdbcType=DECIMAL} , 
     #{title,jdbcType=LONGVARCHAR} , 
     #{reserve3,jdbcType=LONGVARCHAR} , 
     #{reserve4,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    GROUPID , 
    CREATETIME , 
    CREATEOPER , 
    STATUS , 
    CHECKOPER , 
    CHECKTIME , 
    RECORDENUM , 
    SUCCESSNUM , 
    ERRORNUM , 
    SENDTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RETURNID , 
    TITLE , 
    RESERVE3 , 
    RESERVE4
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="recordenum != null">
      RECORDENUM = #{recordenum,jdbcType=DECIMAL} and 
    </if>
    <if test="successnum != null">
      SUCCESSNUM = #{successnum,jdbcType=DECIMAL} and 
    </if>
    <if test="errornum != null">
      ERRORNUM = #{errornum,jdbcType=DECIMAL} and 
    </if>
    <if test="sendtime != null">
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="returnid != null">
      RETURNID = #{returnid,jdbcType=DECIMAL} and 
    </if>
    <if test="title != null">
      TITLE = #{title,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      GROUPID = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      STATUS = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checktime != null">
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="recordenum != null">
      RECORDENUM = #{recordenum,jdbcType=DECIMAL} , 
    </if>
    <if test="successnum != null">
      SUCCESSNUM = #{successnum,jdbcType=DECIMAL} , 
    </if>
    <if test="errornum != null">
      ERRORNUM = #{errornum,jdbcType=DECIMAL} , 
    </if>
    <if test="sendtime != null">
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="returnid != null">
      RETURNID = #{returnid,jdbcType=DECIMAL} , 
    </if>
    <if test="title != null">
      TITLE = #{title,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSendmessage" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSendmessage">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSendmessage">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSendmessage">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>