<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSfcexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSfcexpresstype">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ENNAME" jdbcType="VARCHAR" property="enname" />
    <result column="CNNAME" jdbcType="VARCHAR" property="cnname" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select CODE, ENNAME, CNNAME
    from DB_SFCEXPRESSTYPE
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CODE, ENNAME, CNNAME
    from DB_SFCEXPRESSTYPE
  </select>
  <sql id="TableName">
    DB_SFCEXPRESSTYPE
  </sql>
  <sql id="Values">
     #{code,jdbcType=VARCHAR} , 
     #{enname,jdbcType=VARCHAR} , 
     #{cnname,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    CODE , 
    ENNAME , 
    CNNAME , 
  </sql>
  <sql id="Criteria">
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} and 
    </if>
    <if test="enname != null">
      enname = #{enname,jdbcType=VARCHAR} and 
    </if>
    <if test="cnname != null">
      cnname = #{cnname,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} , 
    </if>
    <if test="enname != null">
      enname = #{enname,jdbcType=VARCHAR} , 
    </if>
    <if test="cnname != null">
      cnname = #{cnname,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSfcexpresstype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where CODE=#{CODE}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSfcexpresstype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSfcexpresstype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSfcexpresstype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>