<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShiptolocationMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShiptolocation">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYSHIPTO" jdbcType="VARCHAR" property="ebayshipto" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, EBAYITEMID, EBAYSHIPTO, FLAG
    from DB_SHIPTOLOCATION
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, EBAYITEMID, EBAYSHIPTO, FLAG
    from DB_SHIPTOLOCATION
  </select>
  <sql id="TableName">
    DB_SHIPTOLOCATION
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{ebayshipto,jdbcType=VARCHAR} , 
     #{flag,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    EBAYITEMID , 
    EBAYSHIPTO , 
    FLAG , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshipto != null">
      ebayshipto = #{ebayshipto,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshipto != null">
      ebayshipto = #{ebayshipto,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbShiptolocation" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbShiptolocation">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbShiptolocation">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbShiptolocation">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>