<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShiptaskItemHistoryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShiptaskItemHistory">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TASKID" jdbcType="DECIMAL" property="taskid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATIONNAME" jdbcType="VARCHAR" property="locationname" />
    <result column="BASKET" jdbcType="VARCHAR" property="basket" />
    <result column="RESOLVEBASKET" jdbcType="VARCHAR" property="resolvebasket" />
    <result column="SHIPBASKETHEAD" jdbcType="VARCHAR" property="shipbaskethead" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="DETAILNUM" jdbcType="DECIMAL" property="detailnum" />
    <result column="PICKEDNUM" jdbcType="DECIMAL" property="pickednum" />
    <result column="RESOLVENUM" jdbcType="DECIMAL" property="resolvenum" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="PICKOPER" jdbcType="VARCHAR" property="pickoper" />
    <result column="PICKTIME" jdbcType="TIMESTAMP" property="picktime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, TASKID, GROUPID, STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, BASKET, 
    RESOLVEBASKET, SHIPBASKETHEAD, ORDERID, ITEMID, PRODUCTID, ORDERNUM, DETAILNUM, PICKEDNUM, 
    RESOLVENUM, TYPE, FLAG, CONTENT, ORDERTIME, PICKOPER, PICKTIME, CREATEOPER, CREATETIME, 
    OPER, OPERTIME
    from DB_SHIPTASK_ITEM_HISTORY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TASKID, GROUPID, STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, BASKET, 
    RESOLVEBASKET, SHIPBASKETHEAD, ORDERID, ITEMID, PRODUCTID, ORDERNUM, DETAILNUM, PICKEDNUM, 
    RESOLVENUM, TYPE, FLAG, CONTENT, ORDERTIME, PICKOPER, PICKTIME, CREATEOPER, CREATETIME, 
    OPER, OPERTIME
    from DB_SHIPTASK_ITEM_HISTORY
  </select>
  <sql id="TableName">
    DB_SHIPTASK_ITEM_HISTORY
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{taskid,jdbcType=DECIMAL} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storagename,jdbcType=VARCHAR} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{locationname,jdbcType=VARCHAR} , 
     #{basket,jdbcType=VARCHAR} , 
     #{resolvebasket,jdbcType=VARCHAR} , 
     #{shipbaskethead,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{detailnum,jdbcType=DECIMAL} , 
     #{pickednum,jdbcType=DECIMAL} , 
     #{resolvenum,jdbcType=DECIMAL} , 
     #{type,jdbcType=DECIMAL} , 
     #{flag,jdbcType=DECIMAL} , 
     #{content,jdbcType=VARCHAR} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{pickoper,jdbcType=VARCHAR} , 
     #{picktime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    ID , 
    TASKID , 
    GROUPID , 
    STORAGEID , 
    STORAGENAME , 
    LOCATIONID , 
    LOCATIONNAME , 
    BASKET , 
    RESOLVEBASKET , 
    SHIPBASKETHEAD , 
    ORDERID , 
    ITEMID , 
    PRODUCTID , 
    ORDERNUM , 
    DETAILNUM , 
    PICKEDNUM , 
    RESOLVENUM , 
    TYPE , 
    FLAG , 
    CONTENT , 
    ORDERTIME , 
    PICKOPER , 
    PICKTIME , 
    CREATEOPER , 
    CREATETIME , 
    OPER , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="taskid != null">
      taskid = #{taskid,jdbcType=DECIMAL} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} and 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} and 
    </if>
    <if test="basket != null">
      basket = #{basket,jdbcType=VARCHAR} and 
    </if>
    <if test="resolvebasket != null">
      resolvebasket = #{resolvebasket,jdbcType=VARCHAR} and 
    </if>
    <if test="shipbaskethead != null">
      shipbaskethead = #{shipbaskethead,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="detailnum != null">
      detailnum = #{detailnum,jdbcType=DECIMAL} and 
    </if>
    <if test="pickednum != null">
      pickednum = #{pickednum,jdbcType=DECIMAL} and 
    </if>
    <if test="resolvenum != null">
      resolvenum = #{resolvenum,jdbcType=DECIMAL} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="pickoper != null">
      pickoper = #{pickoper,jdbcType=VARCHAR} and 
    </if>
    <if test="picktime != null">
      picktime = #{picktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="taskid != null">
      taskid = #{taskid,jdbcType=DECIMAL} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} , 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} , 
    </if>
    <if test="basket != null">
      basket = #{basket,jdbcType=VARCHAR} , 
    </if>
    <if test="resolvebasket != null">
      resolvebasket = #{resolvebasket,jdbcType=VARCHAR} , 
    </if>
    <if test="shipbaskethead != null">
      shipbaskethead = #{shipbaskethead,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="detailnum != null">
      detailnum = #{detailnum,jdbcType=DECIMAL} , 
    </if>
    <if test="pickednum != null">
      pickednum = #{pickednum,jdbcType=DECIMAL} , 
    </if>
    <if test="resolvenum != null">
      resolvenum = #{resolvenum,jdbcType=DECIMAL} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="pickoper != null">
      pickoper = #{pickoper,jdbcType=VARCHAR} , 
    </if>
    <if test="picktime != null">
      picktime = #{picktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbShiptaskItemHistory" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbShiptaskItemHistory">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbShiptaskItemHistory">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbShiptaskItemHistory">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>