<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShoppingitemdevelopMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShoppingitemdevelop">
    <id column="ITEMID" jdbcType="DECIMAL" property="itemid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ITEMID, SKU
    from DB_SHOPPINGITEMDEVELOP
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ITEMID, SKU
    from DB_SHOPPINGITEMDEVELOP
  </select>
  <sql id="TableName">
    DB_SHOPPINGITEMDEVELOP
  </sql>
  <sql id="Values">
     #{itemid,jdbcType=DECIMAL} , 
     #{sku,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ITEMID , 
    SKU , 
  </sql>
  <sql id="Criteria">
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=DECIMAL} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=DECIMAL} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbShoppingitemdevelop" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where ITEMID=#{ITEMID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbShoppingitemdevelop">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbShoppingitemdevelop">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbShoppingitemdevelop">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>