<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSpecialservicecodeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSpecialservicecode">
    <id column="SERVICECODE" jdbcType="VARCHAR" property="servicecode" />
    <result column="SERVICEGROUPCODE" jdbcType="VARCHAR" property="servicegroupcode" />
    <result column="SERVICENAME" jdbcType="VARCHAR" property="servicename" />
    <result column="CHARGECODETYPECODE" jdbcType="VARCHAR" property="chargecodetypecode" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SERVICECODE, SERVICEGROUPCODE, SERVICENAME, CHARGECODETYPECODE
    from DB_SPECIALSERVICECODE
    where SERVICECODE = #{servicecode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SERVICECODE, SERVICEGROUPCODE, SERVICENAME, CHARGECODETYPECODE
    from DB_SPECIALSERVICECODE
  </select>
  <sql id="TableName">
    DB_SPECIALSERVICECODE
  </sql>
  <sql id="Values">
     #{servicecode,jdbcType=VARCHAR} , 
     #{servicegroupcode,jdbcType=VARCHAR} , 
     #{servicename,jdbcType=VARCHAR} , 
     #{chargecodetypecode,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SERVICECODE , 
    SERVICEGROUPCODE , 
    SERVICENAME , 
    CHARGECODETYPECODE , 
  </sql>
  <sql id="Criteria">
    <if test="servicecode != null">
      servicecode = #{servicecode,jdbcType=VARCHAR} and 
    </if>
    <if test="servicegroupcode != null">
      servicegroupcode = #{servicegroupcode,jdbcType=VARCHAR} and 
    </if>
    <if test="servicename != null">
      servicename = #{servicename,jdbcType=VARCHAR} and 
    </if>
    <if test="chargecodetypecode != null">
      chargecodetypecode = #{chargecodetypecode,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="servicecode != null">
      servicecode = #{servicecode,jdbcType=VARCHAR} , 
    </if>
    <if test="servicegroupcode != null">
      servicegroupcode = #{servicegroupcode,jdbcType=VARCHAR} , 
    </if>
    <if test="servicename != null">
      servicename = #{servicename,jdbcType=VARCHAR} , 
    </if>
    <if test="chargecodetypecode != null">
      chargecodetypecode = #{chargecodetypecode,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSpecialservicecode" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SERVICECODE=#{SERVICECODE}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSpecialservicecode">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSpecialservicecode">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSpecialservicecode">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>