<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSystemMenuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSystemMenu">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />
    <result column="FIRSTID" jdbcType="DECIMAL" property="firstid" />
    <result column="MENUNAME" jdbcType="VARCHAR" property="menuname" />
    <result column="PARENTNAME" jdbcType="VARCHAR" property="parentname" />
    <result column="PAGEURL" jdbcType="VARCHAR" property="pageurl" />
    <result column="MENULEVEL" jdbcType="DECIMAL" property="menulevel" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="CFIRSTPAGE" jdbcType="DECIMAL" property="cfirstpage" />
    <result column="NUMFLAG" jdbcType="DECIMAL" property="numflag" />
    <result column="ICO" jdbcType="VARCHAR" property="ico" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, PARENTID, FIRSTID, MENUNAME, PARENTNAME, PAGEURL, MENULEVEL, SORT, CFIRSTPAGE, 
    NUMFLAG, ICO, STATUS
    from DB_SYSTEM_MENU
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, PARENTID, FIRSTID, MENUNAME, PARENTNAME, PAGEURL, MENULEVEL, SORT, CFIRSTPAGE, 
    NUMFLAG, ICO, STATUS
    from DB_SYSTEM_MENU
  </select>
  <sql id="TableName">
    DB_SYSTEM_MENU
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{parentid,jdbcType=DECIMAL} , 
     #{firstid,jdbcType=DECIMAL} , 
     #{menuname,jdbcType=VARCHAR} , 
     #{parentname,jdbcType=VARCHAR} , 
     #{pageurl,jdbcType=VARCHAR} , 
     #{menulevel,jdbcType=DECIMAL} , 
     #{sort,jdbcType=DECIMAL} , 
     #{cfirstpage,jdbcType=DECIMAL} , 
     #{numflag,jdbcType=DECIMAL} , 
     #{ico,jdbcType=VARCHAR} , 
     #{status,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    ID , 
    PARENTID , 
    FIRSTID , 
    MENUNAME , 
    PARENTNAME , 
    PAGEURL , 
    MENULEVEL , 
    SORT , 
    CFIRSTPAGE , 
    NUMFLAG , 
    ICO , 
    STATUS , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=DECIMAL} and 
    </if>
    <if test="firstid != null">
      firstid = #{firstid,jdbcType=DECIMAL} and 
    </if>
    <if test="menuname != null">
      menuname = #{menuname,jdbcType=VARCHAR} and 
    </if>
    <if test="parentname != null">
      parentname = #{parentname,jdbcType=VARCHAR} and 
    </if>
    <if test="pageurl != null">
      pageurl = #{pageurl,jdbcType=VARCHAR} and 
    </if>
    <if test="menulevel != null">
      menulevel = #{menulevel,jdbcType=DECIMAL} and 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} and 
    </if>
    <if test="cfirstpage != null">
      cfirstpage = #{cfirstpage,jdbcType=DECIMAL} and 
    </if>
    <if test="numflag != null">
      numflag = #{numflag,jdbcType=DECIMAL} and 
    </if>
    <if test="ico != null">
      ico = #{ico,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=DECIMAL} , 
    </if>
    <if test="firstid != null">
      firstid = #{firstid,jdbcType=DECIMAL} , 
    </if>
    <if test="menuname != null">
      menuname = #{menuname,jdbcType=VARCHAR} , 
    </if>
    <if test="parentname != null">
      parentname = #{parentname,jdbcType=VARCHAR} , 
    </if>
    <if test="pageurl != null">
      pageurl = #{pageurl,jdbcType=VARCHAR} , 
    </if>
    <if test="menulevel != null">
      menulevel = #{menulevel,jdbcType=DECIMAL} , 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} , 
    </if>
    <if test="cfirstpage != null">
      cfirstpage = #{cfirstpage,jdbcType=DECIMAL} , 
    </if>
    <if test="numflag != null">
      numflag = #{numflag,jdbcType=DECIMAL} , 
    </if>
    <if test="ico != null">
      ico = #{ico,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSystemMenu" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSystemMenu">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSystemMenu">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSystemMenu">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>