<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTaskbasketMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTaskbasket">
    <id column="BASKET" jdbcType="VARCHAR" property="basket" />
    <result column="SHIPOPER" jdbcType="VARCHAR" property="shipoper" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="RESOLVEOPER" jdbcType="VARCHAR" property="resolveoper" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="TIMEL" jdbcType="DECIMAL" property="timel" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select BASKET, SHIPOPER, STORAGEID, RESOLVEOPER, TYPE, FLAG, TIMEL
    from DB_TASKBASKET
    where BASKET = #{basket,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select BASKET, SHIPOPER, STORAGEID, RESOLVEOPER, TYPE, FLAG, TIMEL
    from DB_TASKBASKET
  </select>
  <sql id="TableName">
    DB_TASKBASKET
  </sql>
  <sql id="Values">
     #{basket,jdbcType=VARCHAR} , 
     #{shipoper,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{resolveoper,jdbcType=VARCHAR} , 
     #{type,jdbcType=DECIMAL} , 
     #{flag,jdbcType=DECIMAL} , 
     #{timel,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    BASKET , 
    SHIPOPER , 
    STORAGEID , 
    RESOLVEOPER , 
    TYPE , 
    FLAG , 
    TIMEL , 
  </sql>
  <sql id="Criteria">
    <if test="basket != null">
      basket = #{basket,jdbcType=VARCHAR} and 
    </if>
    <if test="shipoper != null">
      shipoper = #{shipoper,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="resolveoper != null">
      resolveoper = #{resolveoper,jdbcType=VARCHAR} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="timel != null">
      timel = #{timel,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="basket != null">
      basket = #{basket,jdbcType=VARCHAR} , 
    </if>
    <if test="shipoper != null">
      shipoper = #{shipoper,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="resolveoper != null">
      resolveoper = #{resolveoper,jdbcType=VARCHAR} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="timel != null">
      timel = #{timel,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbTaskbasket" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where BASKET=#{BASKET}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbTaskbasket">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbTaskbasket">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbTaskbasket">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>