<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTaskstatusMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTaskstatus">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FILED8" jdbcType="DECIMAL" property="filed8" />
    <result column="FILED9" jdbcType="DECIMAL" property="filed9" />
    <result column="FILED10" jdbcType="DECIMAL" property="filed10" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="STYPE" jdbcType="VARCHAR" property="stype" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="FILED1" jdbcType="LONGVARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="LONGVARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="LONGVARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="LONGVARCHAR" property="filed4" />
    <result column="FILED5" jdbcType="LONGVARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="LONGVARCHAR" property="filed6" />
    <result column="FILED7" jdbcType="LONGVARCHAR" property="filed7" />
    <result column="MEMBER" jdbcType="LONGVARCHAR" property="member" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, FILED8, FILED9, FILED10, CORPID, OPENFLAG, 
    STYPE, DESCR, FILED1, FILED2, FILED3, FILED4, FILED5, FILED6, FILED7, MEMBER
    from db_taskstatus
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, OPER, OPERTIME, FILED8, FILED9, FILED10, CORPID, OPENFLAG, 
    STYPE, DESCR, FILED1, FILED2, FILED3, FILED4, FILED5, FILED6, FILED7, MEMBER
    from db_taskstatus
  </select>
  <sql id="TableName">
    db_taskstatus
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{filed8,jdbcType=DECIMAL} , 
     #{filed9,jdbcType=DECIMAL} , 
     #{filed10,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{stype,jdbcType=VARCHAR} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{filed1,jdbcType=LONGVARCHAR} , 
     #{filed2,jdbcType=LONGVARCHAR} , 
     #{filed3,jdbcType=LONGVARCHAR} , 
     #{filed4,jdbcType=LONGVARCHAR} , 
     #{filed5,jdbcType=LONGVARCHAR} , 
     #{filed6,jdbcType=LONGVARCHAR} , 
     #{filed7,jdbcType=LONGVARCHAR} , 
     #{member,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    OPER , 
    OPERTIME , 
    FILED8 , 
    FILED9 , 
    FILED10 , 
    CORPID , 
    OPENFLAG , 
    STYPE , 
    DESCR , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    FILED6 , 
    FILED7 , 
    MEMBER
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=DECIMAL} and 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=DECIMAL} and 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="stype != null">
      STYPE = #{stype,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="member != null">
      MEMBER = #{member,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      NAME = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="filed8 != null">
      FILED8 = #{filed8,jdbcType=DECIMAL} , 
    </if>
    <if test="filed9 != null">
      FILED9 = #{filed9,jdbcType=DECIMAL} , 
    </if>
    <if test="filed10 != null">
      FILED10 = #{filed10,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="stype != null">
      STYPE = #{stype,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed1 != null">
      FILED1 = #{filed1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed2 != null">
      FILED2 = #{filed2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed3 != null">
      FILED3 = #{filed3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed4 != null">
      FILED4 = #{filed4,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed5 != null">
      FILED5 = #{filed5,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed6 != null">
      FILED6 = #{filed6,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="filed7 != null">
      FILED7 = #{filed7,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="member != null">
      MEMBER = #{member,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbTaskstatus" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbTaskstatus">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbTaskstatus">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbTaskstatus">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>