<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTaskcategoryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTaskcategory">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, CATEGORYID, CATEGORY, FLAG, OPENFLAG, OPER, OPERTIME, CREATETIME, CORPID, 
    RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4
    from db_taskcategory
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, CATEGORYID, CATEGORY, FLAG, OPENFLAG, OPER, OPERTIME, CREATETIME, CORPID, 
    RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4
    from db_taskcategory
  </select>
  <sql id="TableName">
    db_taskcategory
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{category,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=LONGVARCHAR} , 
     #{reserve2,jdbcType=LONGVARCHAR} , 
     #{reserve3,jdbcType=LONGVARCHAR} , 
     #{reserve4,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    CATEGORYID , 
    CATEGORY , 
    FLAG , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
    CREATETIME , 
    CORPID , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="category != null">
      CATEGORY = #{category,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="category != null">
      CATEGORY = #{category,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="openflag != null">
      OPENFLAG = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      CREATETIME = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      CORPID = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      RESERVE5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      RESERVE6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      RESERVE7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      RESERVE8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      RESERVE9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      RESERVE10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbTaskcategory" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbTaskcategory">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbTaskcategory">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbTaskcategory">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>