<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTempsavenumMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTempsavenum">
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="NEXTDESCR" jdbcType="VARCHAR" property="nextdescr" />
    <result column="PURCHASEDESCR" jdbcType="VARCHAR" property="purchasedescr" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="NEXTOPER" jdbcType="VARCHAR" property="nextoper" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="PURCHASENUM" jdbcType="DECIMAL" property="purchasenum" />
    <result column="NEXTNUM" jdbcType="VARCHAR" property="nextnum" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="NEXTOPERTIME" jdbcType="TIMESTAMP" property="nextopertime" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="PURCHSEOPERTIME" jdbcType="TIMESTAMP" property="purchseopertime" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="CHECKNUM" jdbcType="DECIMAL" property="checknum" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select PRODUCTID, OPER, NEXTDESCR, PURCHASEDESCR, PURCHASEOPER, NEXTOPER, SAVENUM, 
    PURCHASENUM, NEXTNUM, OPERTIME, NEXTOPERTIME, PRODUCTNAME, DESCR, PURCHSEOPERTIME, 
    FLAG, CHECKNUM
    from DB_TEMPSAVENUM
  </select>
  <sql id="TableName">
    DB_TEMPSAVENUM
  </sql>
  <sql id="Values">
     #{productid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{nextdescr,jdbcType=VARCHAR} , 
     #{purchasedescr,jdbcType=VARCHAR} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{nextoper,jdbcType=VARCHAR} , 
     #{savenum,jdbcType=DECIMAL} , 
     #{purchasenum,jdbcType=DECIMAL} , 
     #{nextnum,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{nextopertime,jdbcType=TIMESTAMP} , 
     #{productname,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{purchseopertime,jdbcType=TIMESTAMP} , 
     #{flag,jdbcType=VARCHAR} , 
     #{checknum,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    PRODUCTID , 
    OPER , 
    NEXTDESCR , 
    PURCHASEDESCR , 
    PURCHASEOPER , 
    NEXTOPER , 
    SAVENUM , 
    PURCHASENUM , 
    NEXTNUM , 
    OPERTIME , 
    NEXTOPERTIME , 
    PRODUCTNAME , 
    DESCR , 
    PURCHSEOPERTIME , 
    FLAG , 
    CHECKNUM , 
  </sql>
  <sql id="Criteria">
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="nextdescr != null">
      nextdescr = #{nextdescr,jdbcType=VARCHAR} and 
    </if>
    <if test="purchasedescr != null">
      purchasedescr = #{purchasedescr,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="nextoper != null">
      nextoper = #{nextoper,jdbcType=VARCHAR} and 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} and 
    </if>
    <if test="purchasenum != null">
      purchasenum = #{purchasenum,jdbcType=DECIMAL} and 
    </if>
    <if test="nextnum != null">
      nextnum = #{nextnum,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="nextopertime != null">
      nextopertime = #{nextopertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="purchseopertime != null">
      purchseopertime = #{purchseopertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="checknum != null">
      checknum = #{checknum,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="nextdescr != null">
      nextdescr = #{nextdescr,jdbcType=VARCHAR} , 
    </if>
    <if test="purchasedescr != null">
      purchasedescr = #{purchasedescr,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="nextoper != null">
      nextoper = #{nextoper,jdbcType=VARCHAR} , 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} , 
    </if>
    <if test="purchasenum != null">
      purchasenum = #{purchasenum,jdbcType=DECIMAL} , 
    </if>
    <if test="nextnum != null">
      nextnum = #{nextnum,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="nextopertime != null">
      nextopertime = #{nextopertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="purchseopertime != null">
      purchseopertime = #{purchseopertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="checknum != null">
      checknum = #{checknum,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbTempsavenum" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where PRODUCTID=#{PRODUCTID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbTempsavenum">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbTempsavenum">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbTempsavenum">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>