<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbUnionlogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbUnionlog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="UNIONORDERID" jdbcType="VARCHAR" property="unionorderid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SOURCEORDERID" jdbcType="VARCHAR" property="sourceorderid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="SOURCESELLID" jdbcType="LONGVARCHAR" property="sourcesellid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, UNIONORDERID, OPER, RESERVE1, OPERTIME, SOURCEORDERID, FLAG, SOURCESELLID
    from db_unionlog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, UNIONORDERID, OPER, RESERVE1, OPERTIME, SOURCEORDERID, FLAG, SOURCESELLID
    from db_unionlog
  </select>
  <sql id="TableName">
    db_unionlog
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{unionorderid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{sourceorderid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{sourcesellid,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    UNIONORDERID , 
    OPER , 
    RESERVE1 , 
    OPERTIME , 
    SOURCEORDERID , 
    FLAG , 
    SOURCESELLID
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="unionorderid != null">
      UNIONORDERID = #{unionorderid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="sourceorderid != null">
      SOURCEORDERID = #{sourceorderid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="sourcesellid != null">
      SOURCESELLID = #{sourcesellid,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      SEQUENCEID = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="unionorderid != null">
      UNIONORDERID = #{unionorderid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      OPER = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="sourceorderid != null">
      SOURCEORDERID = #{sourceorderid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="sourcesellid != null">
      SOURCESELLID = #{sourcesellid,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbUnionlog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbUnionlog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbUnionlog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbUnionlog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>