<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbUpdatedescripationMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbUpdatedescripation">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKOPERTIME" jdbcType="TIMESTAMP" property="checkopertime" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="ERRORDESCR" jdbcType="LONGVARCHAR" property="errordescr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SID, SHOPID, ITEMID, FLAG, SITE, CREATEOPER, OPERTIME, UPDATETIME, CHECKFLAG, 
    CHECKOPER, CHECKOPERTIME, DESCR, ERRORDESCR
    from db_updatedescripation
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, SHOPID, ITEMID, FLAG, SITE, CREATEOPER, OPERTIME, UPDATETIME, CHECKFLAG, 
    CHECKOPER, CHECKOPERTIME, DESCR, ERRORDESCR
    from db_updatedescripation
  </select>
  <sql id="TableName">
    db_updatedescripation
  </sql>
  <sql id="Values">
     #{sid,jdbcType=DECIMAL} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{site,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{checkflag,jdbcType=DECIMAL} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checkopertime,jdbcType=TIMESTAMP} , 
     #{descr,jdbcType=LONGVARCHAR} , 
     #{errordescr,jdbcType=LONGVARCHAR}
  </sql>
  <sql id="Columns">
    SID , 
    SHOPID , 
    ITEMID , 
    FLAG , 
    SITE , 
    CREATEOPER , 
    OPERTIME , 
    UPDATETIME , 
    CHECKFLAG , 
    CHECKOPER , 
    CHECKOPERTIME , 
    DESCR , 
    ERRORDESCR
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=DECIMAL} and 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="site != null">
      SITE = #{site,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="updatetime != null">
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checkflag != null">
      CHECKFLAG = #{checkflag,jdbcType=DECIMAL} and 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checkopertime != null">
      CHECKOPERTIME = #{checkopertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} and 
    </if>
    <if test="errordescr != null">
      ERRORDESCR = #{errordescr,jdbcType=LONGVARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      SID = #{sid,jdbcType=DECIMAL} , 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      FLAG = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="site != null">
      SITE = #{site,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      CREATEOPER = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      OPERTIME = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="updatetime != null">
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checkflag != null">
      CHECKFLAG = #{checkflag,jdbcType=DECIMAL} , 
    </if>
    <if test="checkoper != null">
      CHECKOPER = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checkopertime != null">
      CHECKOPERTIME = #{checkopertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="descr != null">
      DESCR = #{descr,jdbcType=LONGVARCHAR} , 
    </if>
    <if test="errordescr != null">
      ERRORDESCR = #{errordescr,jdbcType=LONGVARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbUpdatedescripation" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbUpdatedescripation">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbUpdatedescripation">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbUpdatedescripation">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>