<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbWorkreportMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbWorkreport">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="WORKATTRIBUTEID" jdbcType="DECIMAL" property="workattributeid" />
    <result column="WORKMOULDID" jdbcType="DECIMAL" property="workmouldid" />
    <result column="WORKMOULD" jdbcType="VARCHAR" property="workmould" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="WORK1" jdbcType="VARCHAR" property="work1" />
    <result column="WORK2" jdbcType="VARCHAR" property="work2" />
    <result column="WORK3" jdbcType="VARCHAR" property="work3" />
    <result column="WORK4" jdbcType="VARCHAR" property="work4" />
    <result column="WORK5" jdbcType="VARCHAR" property="work5" />
    <result column="WORK6" jdbcType="VARCHAR" property="work6" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="WARMOPER" jdbcType="VARCHAR" property="warmoper" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PROTOCOLTIME1" jdbcType="VARCHAR" property="protocoltime1" />
    <result column="PROTOCOLTIME2" jdbcType="VARCHAR" property="protocoltime2" />
    <result column="UPDATEFLAG" jdbcType="VARCHAR" property="updateflag" />
    <result column="ALERTFLAG" jdbcType="DECIMAL" property="alertflag" />
    <result column="FILEURL" jdbcType="VARCHAR" property="fileurl" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, WORKATTRIBUTEID, WORKMOULDID, WORKMOULD, CREATEOPER, CREATETIME, 
    WORK1, WORK2, WORK3, WORK4, WORK5, WORK6, OPERTIME, WARMOPER, FLAG, CORPID, OPENFLAG, 
    OPER, CONTENT, STATUS, PROTOCOLTIME1, PROTOCOLTIME2, UPDATEFLAG, ALERTFLAG, FILEURL
    from DB_WORKREPORT
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, WORKATTRIBUTEID, WORKMOULDID, WORKMOULD, CREATEOPER, CREATETIME, 
    WORK1, WORK2, WORK3, WORK4, WORK5, WORK6, OPERTIME, WARMOPER, FLAG, CORPID, OPENFLAG, 
    OPER, CONTENT, STATUS, PROTOCOLTIME1, PROTOCOLTIME2, UPDATEFLAG, ALERTFLAG, FILEURL
    from DB_WORKREPORT
  </select>
  <sql id="TableName">
    DB_WORKREPORT
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{title,jdbcType=VARCHAR} , 
     #{workattributeid,jdbcType=DECIMAL} , 
     #{workmouldid,jdbcType=DECIMAL} , 
     #{workmould,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{work1,jdbcType=VARCHAR} , 
     #{work2,jdbcType=VARCHAR} , 
     #{work3,jdbcType=VARCHAR} , 
     #{work4,jdbcType=VARCHAR} , 
     #{work5,jdbcType=VARCHAR} , 
     #{work6,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{warmoper,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{status,jdbcType=DECIMAL} , 
     #{protocoltime1,jdbcType=VARCHAR} , 
     #{protocoltime2,jdbcType=VARCHAR} , 
     #{updateflag,jdbcType=VARCHAR} , 
     #{alertflag,jdbcType=DECIMAL} , 
     #{fileurl,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    TITLE , 
    WORKATTRIBUTEID , 
    WORKMOULDID , 
    WORKMOULD , 
    CREATEOPER , 
    CREATETIME , 
    WORK1 , 
    WORK2 , 
    WORK3 , 
    WORK4 , 
    WORK5 , 
    WORK6 , 
    OPERTIME , 
    WARMOPER , 
    FLAG , 
    CORPID , 
    OPENFLAG , 
    OPER , 
    CONTENT , 
    STATUS , 
    PROTOCOLTIME1 , 
    PROTOCOLTIME2 , 
    UPDATEFLAG , 
    ALERTFLAG , 
    FILEURL , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="workattributeid != null">
      workattributeid = #{workattributeid,jdbcType=DECIMAL} and 
    </if>
    <if test="workmouldid != null">
      workmouldid = #{workmouldid,jdbcType=DECIMAL} and 
    </if>
    <if test="workmould != null">
      workmould = #{workmould,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="work1 != null">
      work1 = #{work1,jdbcType=VARCHAR} and 
    </if>
    <if test="work2 != null">
      work2 = #{work2,jdbcType=VARCHAR} and 
    </if>
    <if test="work3 != null">
      work3 = #{work3,jdbcType=VARCHAR} and 
    </if>
    <if test="work4 != null">
      work4 = #{work4,jdbcType=VARCHAR} and 
    </if>
    <if test="work5 != null">
      work5 = #{work5,jdbcType=VARCHAR} and 
    </if>
    <if test="work6 != null">
      work6 = #{work6,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="warmoper != null">
      warmoper = #{warmoper,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
    <if test="protocoltime1 != null">
      protocoltime1 = #{protocoltime1,jdbcType=VARCHAR} and 
    </if>
    <if test="protocoltime2 != null">
      protocoltime2 = #{protocoltime2,jdbcType=VARCHAR} and 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=VARCHAR} and 
    </if>
    <if test="alertflag != null">
      alertflag = #{alertflag,jdbcType=DECIMAL} and 
    </if>
    <if test="fileurl != null">
      fileurl = #{fileurl,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="workattributeid != null">
      workattributeid = #{workattributeid,jdbcType=DECIMAL} , 
    </if>
    <if test="workmouldid != null">
      workmouldid = #{workmouldid,jdbcType=DECIMAL} , 
    </if>
    <if test="workmould != null">
      workmould = #{workmould,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="work1 != null">
      work1 = #{work1,jdbcType=VARCHAR} , 
    </if>
    <if test="work2 != null">
      work2 = #{work2,jdbcType=VARCHAR} , 
    </if>
    <if test="work3 != null">
      work3 = #{work3,jdbcType=VARCHAR} , 
    </if>
    <if test="work4 != null">
      work4 = #{work4,jdbcType=VARCHAR} , 
    </if>
    <if test="work5 != null">
      work5 = #{work5,jdbcType=VARCHAR} , 
    </if>
    <if test="work6 != null">
      work6 = #{work6,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="warmoper != null">
      warmoper = #{warmoper,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
    <if test="protocoltime1 != null">
      protocoltime1 = #{protocoltime1,jdbcType=VARCHAR} , 
    </if>
    <if test="protocoltime2 != null">
      protocoltime2 = #{protocoltime2,jdbcType=VARCHAR} , 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=VARCHAR} , 
    </if>
    <if test="alertflag != null">
      alertflag = #{alertflag,jdbcType=DECIMAL} , 
    </if>
    <if test="fileurl != null">
      fileurl = #{fileurl,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbWorkreport" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbWorkreport">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbWorkreport">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbWorkreport">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>