<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.StatHotproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.StatHotproduct">
    <id column="YYYYMMDD" jdbcType="VARCHAR" property="yyyymmdd" />
    <id column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <id column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="SHOPTYPENAME" jdbcType="VARCHAR" property="shoptypename" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="RESERVE1" jdbcType="DECIMAL" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select YYYYMMDD, SHOPTYPEID, PRODUCTID, SHOPTYPENAME, PRODUCTNAME, ORDERNUM, CATEGORYID, 
    CATEGORYNAME, SELLOPER, PURCHASEOPER, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from stat_hotproduct
    where YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR}
      and SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR}
      and PRODUCTID = #{productid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select YYYYMMDD, SHOPTYPEID, PRODUCTID, SHOPTYPENAME, PRODUCTNAME, ORDERNUM, CATEGORYID, 
    CATEGORYNAME, SELLOPER, PURCHASEOPER, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from stat_hotproduct
  </select>
  <sql id="TableName">
    stat_hotproduct
  </sql>
  <sql id="Values">
     #{yyyymmdd,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{shoptypename,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{selloper,jdbcType=VARCHAR} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=DECIMAL} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    YYYYMMDD , 
    SHOPTYPEID , 
    PRODUCTID , 
    SHOPTYPENAME , 
    PRODUCTNAME , 
    ORDERNUM , 
    CATEGORYID , 
    CATEGORYNAME , 
    SELLOPER , 
    PURCHASEOPER , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4
  </sql>
  <sql id="Criteria">
    <if test="yyyymmdd != null">
      YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypename != null">
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="selloper != null">
      SELLOPER = #{selloper,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="yyyymmdd != null">
      YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      PRODUCTID = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypename != null">
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      PRODUCTNAME = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ORDERNUM = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="categoryid != null">
      CATEGORYID = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="selloper != null">
      SELLOPER = #{selloper,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseoper != null">
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      RESERVE1 = #{reserve1,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve2 != null">
      RESERVE2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      RESERVE3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      RESERVE4 = #{reserve4,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.StatHotproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where YYYYMMDD=#{YYYYMMDD}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.StatHotproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.StatHotproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.StatHotproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>