<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="stockid" jdbcType="INTEGER" property="stockid" />
    <result column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="itemid" jdbcType="VARCHAR" property="itemid" />
    <result column="platformId" jdbcType="INTEGER" property="platformid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, shopid, stockid, companyid, itemid, platformId
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, shopid, stockid, companyid, itemid, platformId
    from task
  </select>
  <sql id="TableName">
    task
  </sql>
  <sql id="Values">
     #{id,jdbcType=INTEGER} , 
     #{shopid,jdbcType=INTEGER} , 
     #{stockid,jdbcType=INTEGER} , 
     #{companyid,jdbcType=INTEGER} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{platformid,jdbcType=INTEGER}
  </sql>
  <sql id="Columns">
    ID , 
    SHOPID , 
    STOCKID , 
    COMPANYID , 
    ITEMID , 
    PLATFORMID
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      ID = #{id,jdbcType=INTEGER} and 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=INTEGER} and 
    </if>
    <if test="stockid != null">
      STOCKID = #{stockid,jdbcType=INTEGER} and 
    </if>
    <if test="companyid != null">
      COMPANYID = #{companyid,jdbcType=INTEGER} and 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="platformid != null">
      PLATFORMID = #{platformid,jdbcType=INTEGER}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      ID = #{id,jdbcType=INTEGER} , 
    </if>
    <if test="shopid != null">
      SHOPID = #{shopid,jdbcType=INTEGER} , 
    </if>
    <if test="stockid != null">
      STOCKID = #{stockid,jdbcType=INTEGER} , 
    </if>
    <if test="companyid != null">
      COMPANYID = #{companyid,jdbcType=INTEGER} , 
    </if>
    <if test="itemid != null">
      ITEMID = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="platformid != null">
      PLATFORMID = #{platformid,jdbcType=INTEGER}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.Task" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from <include refid="TableName"/> where id=#{id}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.Task">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.Task">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.Task">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>