<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.TtMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.Tt">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="t1" jdbcType="VARCHAR" property="t1" />
    <result column="t2" jdbcType="VARCHAR" property="t2" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select id, t1, t2
    from tt
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, t1, t2
    from tt
  </select>
  <sql id="TableName">
    tt
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{t1,jdbcType=VARCHAR} , 
     #{t2,jdbcType=VARCHAR}
  </sql>
  <sql id="Columns">
    ID , 
    T1 , 
    T2
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      ID = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="t1 != null">
      T1 = #{t1,jdbcType=VARCHAR} and 
    </if>
    <if test="t2 != null">
      T2 = #{t2,jdbcType=VARCHAR}
    </if>
     and 1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      ID = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="t1 != null">
      T1 = #{t1,jdbcType=VARCHAR} , 
    </if>
    <if test="t2 != null">
      T2 = #{t2,jdbcType=VARCHAR}
    </if>
     , 1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.Tt" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where id=#{id}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.Tt">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.Tt">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.Tt">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>