<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbArea1Mapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbArea1">
    <id column="AREA" jdbcType="VARCHAR" property="area" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    AREA, CITY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_area1
    where AREA = #{area,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_area1
    where AREA = #{area,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbArea1">
    insert into db_area1 (AREA, CITY)
    values (#{area,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbArea1">
    insert into db_area1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="area != null">
        AREA,
      </if>
      <if test="city != null">
        CITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbArea1">
    update db_area1
    <set>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where AREA = #{area,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbArea1">
    update db_area1
    set CITY = #{city,jdbcType=VARCHAR}
    where AREA = #{area,jdbcType=VARCHAR}
  </update>
</mapper>