<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAutoaddsalenumMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAutoaddsalenum">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="STARTSALENUM" jdbcType="DECIMAL" property="startsalenum" />
    <result column="ENDSALENUM" jdbcType="DECIMAL" property="endsalenum" />
    <result column="ALERTNUM" jdbcType="DECIMAL" property="alertnum" />
    <result column="PURCHASENUM" jdbcType="DECIMAL" property="purchasenum" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, STARTSALENUM, ENDSALENUM, ALERTNUM, PURCHASENUM, OPER, OPERTIME, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_autoaddsalenum
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_autoaddsalenum
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbAutoaddsalenum">
    insert into db_autoaddsalenum (SEQUENCEID, STARTSALENUM, ENDSALENUM, 
      ALERTNUM, PURCHASENUM, OPER, 
      OPERTIME, RESERVE1, RESERVE2, 
      RESERVE3, RESERVE4, RESERVE5, 
      RESERVE6)
    values (#{sequenceid,jdbcType=VARCHAR}, #{startsalenum,jdbcType=DECIMAL}, #{endsalenum,jdbcType=DECIMAL}, 
      #{alertnum,jdbcType=DECIMAL}, #{purchasenum,jdbcType=DECIMAL}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=DECIMAL}, #{reserve5,jdbcType=DECIMAL}, 
      #{reserve6,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbAutoaddsalenum">
    insert into db_autoaddsalenum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="startsalenum != null">
        STARTSALENUM,
      </if>
      <if test="endsalenum != null">
        ENDSALENUM,
      </if>
      <if test="alertnum != null">
        ALERTNUM,
      </if>
      <if test="purchasenum != null">
        PURCHASENUM,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="startsalenum != null">
        #{startsalenum,jdbcType=DECIMAL},
      </if>
      <if test="endsalenum != null">
        #{endsalenum,jdbcType=DECIMAL},
      </if>
      <if test="alertnum != null">
        #{alertnum,jdbcType=DECIMAL},
      </if>
      <if test="purchasenum != null">
        #{purchasenum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbAutoaddsalenum">
    update db_autoaddsalenum
    <set>
      <if test="startsalenum != null">
        STARTSALENUM = #{startsalenum,jdbcType=DECIMAL},
      </if>
      <if test="endsalenum != null">
        ENDSALENUM = #{endsalenum,jdbcType=DECIMAL},
      </if>
      <if test="alertnum != null">
        ALERTNUM = #{alertnum,jdbcType=DECIMAL},
      </if>
      <if test="purchasenum != null">
        PURCHASENUM = #{purchasenum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbAutoaddsalenum">
    update db_autoaddsalenum
    set STARTSALENUM = #{startsalenum,jdbcType=DECIMAL},
      ENDSALENUM = #{endsalenum,jdbcType=DECIMAL},
      ALERTNUM = #{alertnum,jdbcType=DECIMAL},
      PURCHASENUM = #{purchasenum,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>