<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBiaojuuserMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBiaojuuser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="BIAOJUTOKEN" jdbcType="VARCHAR" property="biaojutoken" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BIAOJUTOKEN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_biaojuuser
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_biaojuuser
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbBiaojuuser">
    insert into db_biaojuuser (ID, BIAOJUTOKEN)
    values (#{id,jdbcType=DECIMAL}, #{biaojutoken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbBiaojuuser">
    insert into db_biaojuuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="biaojutoken != null">
        BIAOJUTOKEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="biaojutoken != null">
        #{biaojutoken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbBiaojuuser">
    update db_biaojuuser
    <set>
      <if test="biaojutoken != null">
        BIAOJUTOKEN = #{biaojutoken,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbBiaojuuser">
    update db_biaojuuser
    set BIAOJUTOKEN = #{biaojutoken,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>