<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbConfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbConfig">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbConfig">
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="DESC" jdbcType="LONGVARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, 'NAME', OPER, RESERVE3, RESERVE4, OPERTIME
  </sql>
  <sql id="Blob_Column_List">
    RESERVE1, RESERVE2, 'DESC'
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_config
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_config
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbConfig">
    insert into db_config (SID, 'NAME', OPER, 
      RESERVE3, RESERVE4, OPERTIME, 
      RESERVE1, RESERVE2, 'DESC'
      )
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=DECIMAL}, #{reserve4,jdbcType=DECIMAL}, #{opertime,jdbcType=TIMESTAMP}, 
      #{reserve1,jdbcType=LONGVARCHAR}, #{reserve2,jdbcType=LONGVARCHAR}, #{desc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbConfig">
    insert into db_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="desc != null">
        'DESC',
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbConfig">
    update db_config
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc != null">
        'DESC' = #{desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbConfig">
    update db_config
    set 'NAME' = #{name,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      'DESC' = #{desc,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbConfig">
    update db_config
    set 'NAME' = #{name,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>