<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCreatetableMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCreatetable">
    <id column="LASTRUNTIME" jdbcType="DECIMAL" property="lastruntime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_createtable
    where LASTRUNTIME = #{lastruntime,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbCreatetable">
    insert into db_createtable (LASTRUNTIME)
    values (#{lastruntime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbCreatetable">
    insert into db_createtable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lastruntime != null">
        LASTRUNTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lastruntime != null">
        #{lastruntime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>