<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbDescriptionMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbDescription">
    <id column="ITEMID" jdbcType="DECIMAL" property="itemid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbDescription">
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Base_Column_List">
    ITEMID, FLAG
  </sql>
  <sql id="Blob_Column_List">
    DESCR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_description
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_description
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbDescription">
    insert into db_description (ITEMID, FLAG, DESCR
      )
    values (#{itemid,jdbcType=DECIMAL}, #{flag,jdbcType=DECIMAL}, #{descr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbDescription">
    insert into db_description
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        ITEMID,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=DECIMAL},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=DECIMAL},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbDescription">
    update db_description
    <set>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=DECIMAL},
      </if>
      <if test="descr != null">
        DESCR = #{descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbDescription">
    update db_description
    set FLAG = #{flag,jdbcType=DECIMAL},
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbDescription">
    update db_description
    set FLAG = #{flag,jdbcType=DECIMAL}
    where ITEMID = #{itemid,jdbcType=DECIMAL}
  </update>
</mapper>