<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayforexpressMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayforexpress">
    <result column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="EBAYEXPRESSTYPE" jdbcType="VARCHAR" property="ebayexpresstype" />
    <result column="EBAYEXPRESSID" jdbcType="VARCHAR" property="ebayexpressid" />
    <result column="MABANGEXPRESSID" jdbcType="VARCHAR" property="mabangexpressid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="MABANGEXPRESSTYPE" jdbcType="VARCHAR" property="mabangexpresstype" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="SITEFLAG" jdbcType="VARCHAR" property="siteflag" />
  </resultMap>
  <insert id="insert" parameterType="com.bean.model.DbEbayforexpress">
    insert into db_ebayforexpress (SEQUENCEID, OPER, EBAYEXPRESSTYPE, 
      EBAYEXPRESSID, MABANGEXPRESSID, OPENFLAG, 
      OPERTIME, MABANGEXPRESSTYPE, SITE, 
      SITEFLAG)
    values (#{sequenceid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{ebayexpresstype,jdbcType=VARCHAR}, 
      #{ebayexpressid,jdbcType=VARCHAR}, #{mabangexpressid,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{mabangexpresstype,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, 
      #{siteflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEbayforexpress">
    insert into db_ebayforexpress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="ebayexpresstype != null">
        EBAYEXPRESSTYPE,
      </if>
      <if test="ebayexpressid != null">
        EBAYEXPRESSID,
      </if>
      <if test="mabangexpressid != null">
        MABANGEXPRESSID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="mabangexpresstype != null">
        MABANGEXPRESSTYPE,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="siteflag != null">
        SITEFLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="ebayexpresstype != null">
        #{ebayexpresstype,jdbcType=VARCHAR},
      </if>
      <if test="ebayexpressid != null">
        #{ebayexpressid,jdbcType=VARCHAR},
      </if>
      <if test="mabangexpressid != null">
        #{mabangexpressid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="mabangexpresstype != null">
        #{mabangexpresstype,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="siteflag != null">
        #{siteflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>