<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEdisexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEdisexpresstype">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAMECN" jdbcType="VARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="VARCHAR" property="nameen" />
    <result column="MAXWEIGHT" jdbcType="DECIMAL" property="maxweight" />
    <result column="MAXTOTALLENGTH" jdbcType="DECIMAL" property="maxtotallength" />
    <result column="MAXLENGTH" jdbcType="DECIMAL" property="maxlength" />
    <result column="SUPPORTELEC" jdbcType="DECIMAL" property="supportelec" />
    <result column="INCOTERMS" jdbcType="DECIMAL" property="incoterms" />
    <result column="DIRECTIONS" jdbcType="VARCHAR" property="directions" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbEdisexpresstype">
    <result column="DESCRIPTIONCN" jdbcType="LONGVARCHAR" property="descriptioncn" />
    <result column="DESCRIPTIONEN" jdbcType="LONGVARCHAR" property="descriptionen" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, NAMECN, NAMEEN, MAXWEIGHT, MAXTOTALLENGTH, MAXLENGTH, SUPPORTELEC, INCOTERMS, 
    DIRECTIONS
  </sql>
  <sql id="Blob_Column_List">
    DESCRIPTIONCN, DESCRIPTIONEN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_edisexpresstype
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_edisexpresstype
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEdisexpresstype">
    insert into db_edisexpresstype (SID, NAMECN, NAMEEN, 
      MAXWEIGHT, MAXTOTALLENGTH, MAXLENGTH, 
      SUPPORTELEC, INCOTERMS, DIRECTIONS, 
      DESCRIPTIONCN, DESCRIPTIONEN)
    values (#{sid,jdbcType=VARCHAR}, #{namecn,jdbcType=VARCHAR}, #{nameen,jdbcType=VARCHAR}, 
      #{maxweight,jdbcType=DECIMAL}, #{maxtotallength,jdbcType=DECIMAL}, #{maxlength,jdbcType=DECIMAL}, 
      #{supportelec,jdbcType=DECIMAL}, #{incoterms,jdbcType=DECIMAL}, #{directions,jdbcType=VARCHAR}, 
      #{descriptioncn,jdbcType=LONGVARCHAR}, #{descriptionen,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEdisexpresstype">
    insert into db_edisexpresstype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="namecn != null">
        NAMECN,
      </if>
      <if test="nameen != null">
        NAMEEN,
      </if>
      <if test="maxweight != null">
        MAXWEIGHT,
      </if>
      <if test="maxtotallength != null">
        MAXTOTALLENGTH,
      </if>
      <if test="maxlength != null">
        MAXLENGTH,
      </if>
      <if test="supportelec != null">
        SUPPORTELEC,
      </if>
      <if test="incoterms != null">
        INCOTERMS,
      </if>
      <if test="directions != null">
        DIRECTIONS,
      </if>
      <if test="descriptioncn != null">
        DESCRIPTIONCN,
      </if>
      <if test="descriptionen != null">
        DESCRIPTIONEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="namecn != null">
        #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null">
        #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="maxweight != null">
        #{maxweight,jdbcType=DECIMAL},
      </if>
      <if test="maxtotallength != null">
        #{maxtotallength,jdbcType=DECIMAL},
      </if>
      <if test="maxlength != null">
        #{maxlength,jdbcType=DECIMAL},
      </if>
      <if test="supportelec != null">
        #{supportelec,jdbcType=DECIMAL},
      </if>
      <if test="incoterms != null">
        #{incoterms,jdbcType=DECIMAL},
      </if>
      <if test="directions != null">
        #{directions,jdbcType=VARCHAR},
      </if>
      <if test="descriptioncn != null">
        #{descriptioncn,jdbcType=LONGVARCHAR},
      </if>
      <if test="descriptionen != null">
        #{descriptionen,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbEdisexpresstype">
    update db_edisexpresstype
    <set>
      <if test="namecn != null">
        NAMECN = #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null">
        NAMEEN = #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="maxweight != null">
        MAXWEIGHT = #{maxweight,jdbcType=DECIMAL},
      </if>
      <if test="maxtotallength != null">
        MAXTOTALLENGTH = #{maxtotallength,jdbcType=DECIMAL},
      </if>
      <if test="maxlength != null">
        MAXLENGTH = #{maxlength,jdbcType=DECIMAL},
      </if>
      <if test="supportelec != null">
        SUPPORTELEC = #{supportelec,jdbcType=DECIMAL},
      </if>
      <if test="incoterms != null">
        INCOTERMS = #{incoterms,jdbcType=DECIMAL},
      </if>
      <if test="directions != null">
        DIRECTIONS = #{directions,jdbcType=VARCHAR},
      </if>
      <if test="descriptioncn != null">
        DESCRIPTIONCN = #{descriptioncn,jdbcType=LONGVARCHAR},
      </if>
      <if test="descriptionen != null">
        DESCRIPTIONEN = #{descriptionen,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
<delete id="deleteAll">
  delete from db_edisexpresstype
</delete>
</mapper>