<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEndiciamailclassMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEndiciamailclass">
    <id column="DBCLASS" jdbcType="VARCHAR" property="dbclass" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_endiciamailclass
    where DBCLASS = #{dbclass,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEndiciamailclass">
    insert into db_endiciamailclass (DBCLASS)
    values (#{dbclass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEndiciamailclass">
    insert into db_endiciamailclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbclass != null">
        DBCLASS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbclass != null">
        #{dbclass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>