<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEubdistrictMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEubdistrict">
    <id column="DITID" jdbcType="VARCHAR" property="ditid" />
    <result column="DITNAME" jdbcType="VARCHAR" property="ditname" />
    <result column="CITID" jdbcType="VARCHAR" property="citid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="DITEN" jdbcType="VARCHAR" property="diten" />
  </resultMap>
  <sql id="Base_Column_List">
    DITID, DITNAME, CITID, CORPID, OPENFLAG, DITEN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_eubdistrict
    where DITID = #{ditid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_eubdistrict
    where DITID = #{ditid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEubdistrict">
    insert into db_eubdistrict (DITID, DITNAME, CITID, 
      CORPID, OPENFLAG, DITEN
      )
    values (#{ditid,jdbcType=VARCHAR}, #{ditname,jdbcType=VARCHAR}, #{citid,jdbcType=VARCHAR}, 
      #{corpid,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, #{diten,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEubdistrict">
    insert into db_eubdistrict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ditid != null">
        DITID,
      </if>
      <if test="ditname != null">
        DITNAME,
      </if>
      <if test="citid != null">
        CITID,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="diten != null">
        DITEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ditid != null">
        #{ditid,jdbcType=VARCHAR},
      </if>
      <if test="ditname != null">
        #{ditname,jdbcType=VARCHAR},
      </if>
      <if test="citid != null">
        #{citid,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="diten != null">
        #{diten,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbEubdistrict">
    update db_eubdistrict
    <set>
      <if test="ditname != null">
        DITNAME = #{ditname,jdbcType=VARCHAR},
      </if>
      <if test="citid != null">
        CITID = #{citid,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="diten != null">
        DITEN = #{diten,jdbcType=VARCHAR},
      </if>
    </set>
    where DITID = #{ditid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbEubdistrict">
    update db_eubdistrict
    set DITNAME = #{ditname,jdbcType=VARCHAR},
      CITID = #{citid,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      DITEN = #{diten,jdbcType=VARCHAR}
    where DITID = #{ditid,jdbcType=VARCHAR}
  </update>
</mapper>