<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbItemspeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbItemspe">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbItemspe">
    <result column="EBAYITEMSPE" jdbcType="LONGVARCHAR" property="ebayitemspe" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, EBAYITEMID, FLAG
  </sql>
  <sql id="Blob_Column_List">
    EBAYITEMSPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_itemspe
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_itemspe
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbItemspe">
    insert into db_itemspe (SID, EBAYITEMID, FLAG, 
      EBAYITEMSPE)
    values (#{sid,jdbcType=VARCHAR}, #{ebayitemid,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{ebayitemspe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbItemspe">
    insert into db_itemspe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="ebayitemid != null">
        EBAYITEMID,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="ebayitemspe != null">
        EBAYITEMSPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemid != null">
        #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemspe != null">
        #{ebayitemspe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbItemspe">
    update db_itemspe
    <set>
      <if test="ebayitemid != null">
        EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemspe != null">
        EBAYITEMSPE = #{ebayitemspe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbItemspe">
    update db_itemspe
    set EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      EBAYITEMSPE = #{ebayitemspe,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbItemspe">
    update db_itemspe
    set EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>