<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOnlinebanproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOnlinebanproduct">
    <id column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="SHOPFLAG" jdbcType="VARCHAR" property="shopflag" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ITEMID, SHOPFLAG, CREATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_onlinebanproduct
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_onlinebanproduct
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbOnlinebanproduct">
    insert into db_onlinebanproduct (ITEMID, SHOPFLAG, CREATETIME
      )
    values (#{itemid,jdbcType=VARCHAR}, #{shopflag,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbOnlinebanproduct">
    insert into db_onlinebanproduct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        ITEMID,
      </if>
      <if test="shopflag != null">
        SHOPFLAG,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="shopflag != null">
        #{shopflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbOnlinebanproduct">
    update db_onlinebanproduct
    <set>
      <if test="shopflag != null">
        SHOPFLAG = #{shopflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbOnlinebanproduct">
    update db_onlinebanproduct
    set SHOPFLAG = #{shopflag,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </update>
</mapper>