<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOrderExpressMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOrderExpress">
    <id column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="ORDERWEIGHT" jdbcType="DECIMAL" property="orderweight" />
    <result column="EXPRESSID1" jdbcType="DECIMAL" property="expressid1" />
    <result column="EXPRESSID2" jdbcType="DECIMAL" property="expressid2" />
    <result column="EXPRESSID4" jdbcType="DECIMAL" property="expressid4" />
    <result column="EXPRESSID3" jdbcType="DECIMAL" property="expressid3" />
    <result column="EXPRESSID5" jdbcType="DECIMAL" property="expressid5" />
    <result column="EXPRESSID6" jdbcType="DECIMAL" property="expressid6" />
    <result column="EXPRESSID7" jdbcType="DECIMAL" property="expressid7" />
    <result column="EXPRESSID8" jdbcType="DECIMAL" property="expressid8" />
    <result column="EXPRESSID9" jdbcType="DECIMAL" property="expressid9" />
    <result column="EXPRESSID10" jdbcType="DECIMAL" property="expressid10" />
    <result column="EXPRESSID11" jdbcType="DECIMAL" property="expressid11" />
    <result column="EXPRESSID12" jdbcType="DECIMAL" property="expressid12" />
    <result column="EXPRESSID13" jdbcType="DECIMAL" property="expressid13" />
    <result column="EXPRESSID14" jdbcType="DECIMAL" property="expressid14" />
    <result column="EXPRESSID15" jdbcType="DECIMAL" property="expressid15" />
    <result column="EXPRESSID16" jdbcType="DECIMAL" property="expressid16" />
    <result column="EXPRESSID17" jdbcType="DECIMAL" property="expressid17" />
    <result column="EXPRESSID18" jdbcType="DECIMAL" property="expressid18" />
    <result column="EXPRESSID19" jdbcType="DECIMAL" property="expressid19" />
    <result column="EXPRESSID20" jdbcType="DECIMAL" property="expressid20" />
    <result column="MINEXPRESS" jdbcType="DECIMAL" property="minexpress" />
    <result column="EXPRESSTYPEID" jdbcType="VARCHAR" property="expresstypeid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="RESERVE1" jdbcType="DECIMAL" property="reserve1" />
    <result column="RESERVE2" jdbcType="DECIMAL" property="reserve2" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="CHINAEXPRESS" jdbcType="DECIMAL" property="chinaexpress" />
    <result column="CHINAEXPRESSCOUNTRY" jdbcType="VARCHAR" property="chinaexpresscountry" />
    <result column="CHINAEXPRESSAREA" jdbcType="VARCHAR" property="chinaexpressarea" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDERID, TRADEID, ORDERWEIGHT, EXPRESSID1, EXPRESSID2, EXPRESSID4, EXPRESSID3, EXPRESSID5, 
    EXPRESSID6, EXPRESSID7, EXPRESSID8, EXPRESSID9, EXPRESSID10, EXPRESSID11, EXPRESSID12, 
    EXPRESSID13, EXPRESSID14, EXPRESSID15, EXPRESSID16, EXPRESSID17, EXPRESSID18, EXPRESSID19, 
    EXPRESSID20, MINEXPRESS, EXPRESSTYPEID, EXPRESSTYPE, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, CHINAEXPRESS, CHINAEXPRESSCOUNTRY, CHINAEXPRESSAREA
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_order_express
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_order_express
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbOrderExpress">
    insert into db_order_express (ORDERID, TRADEID, ORDERWEIGHT, 
      EXPRESSID1, EXPRESSID2, EXPRESSID4, 
      EXPRESSID3, EXPRESSID5, EXPRESSID6, 
      EXPRESSID7, EXPRESSID8, EXPRESSID9, 
      EXPRESSID10, EXPRESSID11, EXPRESSID12, 
      EXPRESSID13, EXPRESSID14, EXPRESSID15, 
      EXPRESSID16, EXPRESSID17, EXPRESSID18, 
      EXPRESSID19, EXPRESSID20, MINEXPRESS, 
      EXPRESSTYPEID, EXPRESSTYPE, RESERVE1, 
      RESERVE2, RESERVE3, RESERVE4, 
      CHINAEXPRESS, CHINAEXPRESSCOUNTRY, CHINAEXPRESSAREA
      )
    values (#{orderid,jdbcType=VARCHAR}, #{tradeid,jdbcType=VARCHAR}, #{orderweight,jdbcType=DECIMAL}, 
      #{expressid1,jdbcType=DECIMAL}, #{expressid2,jdbcType=DECIMAL}, #{expressid4,jdbcType=DECIMAL}, 
      #{expressid3,jdbcType=DECIMAL}, #{expressid5,jdbcType=DECIMAL}, #{expressid6,jdbcType=DECIMAL}, 
      #{expressid7,jdbcType=DECIMAL}, #{expressid8,jdbcType=DECIMAL}, #{expressid9,jdbcType=DECIMAL}, 
      #{expressid10,jdbcType=DECIMAL}, #{expressid11,jdbcType=DECIMAL}, #{expressid12,jdbcType=DECIMAL}, 
      #{expressid13,jdbcType=DECIMAL}, #{expressid14,jdbcType=DECIMAL}, #{expressid15,jdbcType=DECIMAL}, 
      #{expressid16,jdbcType=DECIMAL}, #{expressid17,jdbcType=DECIMAL}, #{expressid18,jdbcType=DECIMAL}, 
      #{expressid19,jdbcType=DECIMAL}, #{expressid20,jdbcType=DECIMAL}, #{minexpress,jdbcType=DECIMAL}, 
      #{expresstypeid,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, #{reserve1,jdbcType=DECIMAL}, 
      #{reserve2,jdbcType=DECIMAL}, #{reserve3,jdbcType=DECIMAL}, #{reserve4,jdbcType=DECIMAL}, 
      #{chinaexpress,jdbcType=DECIMAL}, #{chinaexpresscountry,jdbcType=VARCHAR}, #{chinaexpressarea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbOrderExpress">
    insert into db_order_express
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="tradeid != null">
        TRADEID,
      </if>
      <if test="orderweight != null">
        ORDERWEIGHT,
      </if>
      <if test="expressid1 != null">
        EXPRESSID1,
      </if>
      <if test="expressid2 != null">
        EXPRESSID2,
      </if>
      <if test="expressid4 != null">
        EXPRESSID4,
      </if>
      <if test="expressid3 != null">
        EXPRESSID3,
      </if>
      <if test="expressid5 != null">
        EXPRESSID5,
      </if>
      <if test="expressid6 != null">
        EXPRESSID6,
      </if>
      <if test="expressid7 != null">
        EXPRESSID7,
      </if>
      <if test="expressid8 != null">
        EXPRESSID8,
      </if>
      <if test="expressid9 != null">
        EXPRESSID9,
      </if>
      <if test="expressid10 != null">
        EXPRESSID10,
      </if>
      <if test="expressid11 != null">
        EXPRESSID11,
      </if>
      <if test="expressid12 != null">
        EXPRESSID12,
      </if>
      <if test="expressid13 != null">
        EXPRESSID13,
      </if>
      <if test="expressid14 != null">
        EXPRESSID14,
      </if>
      <if test="expressid15 != null">
        EXPRESSID15,
      </if>
      <if test="expressid16 != null">
        EXPRESSID16,
      </if>
      <if test="expressid17 != null">
        EXPRESSID17,
      </if>
      <if test="expressid18 != null">
        EXPRESSID18,
      </if>
      <if test="expressid19 != null">
        EXPRESSID19,
      </if>
      <if test="expressid20 != null">
        EXPRESSID20,
      </if>
      <if test="minexpress != null">
        MINEXPRESS,
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="chinaexpress != null">
        CHINAEXPRESS,
      </if>
      <if test="chinaexpresscountry != null">
        CHINAEXPRESSCOUNTRY,
      </if>
      <if test="chinaexpressarea != null">
        CHINAEXPRESSAREA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        #{tradeid,jdbcType=VARCHAR},
      </if>
      <if test="orderweight != null">
        #{orderweight,jdbcType=DECIMAL},
      </if>
      <if test="expressid1 != null">
        #{expressid1,jdbcType=DECIMAL},
      </if>
      <if test="expressid2 != null">
        #{expressid2,jdbcType=DECIMAL},
      </if>
      <if test="expressid4 != null">
        #{expressid4,jdbcType=DECIMAL},
      </if>
      <if test="expressid3 != null">
        #{expressid3,jdbcType=DECIMAL},
      </if>
      <if test="expressid5 != null">
        #{expressid5,jdbcType=DECIMAL},
      </if>
      <if test="expressid6 != null">
        #{expressid6,jdbcType=DECIMAL},
      </if>
      <if test="expressid7 != null">
        #{expressid7,jdbcType=DECIMAL},
      </if>
      <if test="expressid8 != null">
        #{expressid8,jdbcType=DECIMAL},
      </if>
      <if test="expressid9 != null">
        #{expressid9,jdbcType=DECIMAL},
      </if>
      <if test="expressid10 != null">
        #{expressid10,jdbcType=DECIMAL},
      </if>
      <if test="expressid11 != null">
        #{expressid11,jdbcType=DECIMAL},
      </if>
      <if test="expressid12 != null">
        #{expressid12,jdbcType=DECIMAL},
      </if>
      <if test="expressid13 != null">
        #{expressid13,jdbcType=DECIMAL},
      </if>
      <if test="expressid14 != null">
        #{expressid14,jdbcType=DECIMAL},
      </if>
      <if test="expressid15 != null">
        #{expressid15,jdbcType=DECIMAL},
      </if>
      <if test="expressid16 != null">
        #{expressid16,jdbcType=DECIMAL},
      </if>
      <if test="expressid17 != null">
        #{expressid17,jdbcType=DECIMAL},
      </if>
      <if test="expressid18 != null">
        #{expressid18,jdbcType=DECIMAL},
      </if>
      <if test="expressid19 != null">
        #{expressid19,jdbcType=DECIMAL},
      </if>
      <if test="expressid20 != null">
        #{expressid20,jdbcType=DECIMAL},
      </if>
      <if test="minexpress != null">
        #{minexpress,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        #{expresstypeid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=DECIMAL},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=DECIMAL},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="chinaexpress != null">
        #{chinaexpress,jdbcType=DECIMAL},
      </if>
      <if test="chinaexpresscountry != null">
        #{chinaexpresscountry,jdbcType=VARCHAR},
      </if>
      <if test="chinaexpressarea != null">
        #{chinaexpressarea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbOrderExpress">
    update db_order_express
    <set>
      <if test="tradeid != null">
        TRADEID = #{tradeid,jdbcType=VARCHAR},
      </if>
      <if test="orderweight != null">
        ORDERWEIGHT = #{orderweight,jdbcType=DECIMAL},
      </if>
      <if test="expressid1 != null">
        EXPRESSID1 = #{expressid1,jdbcType=DECIMAL},
      </if>
      <if test="expressid2 != null">
        EXPRESSID2 = #{expressid2,jdbcType=DECIMAL},
      </if>
      <if test="expressid4 != null">
        EXPRESSID4 = #{expressid4,jdbcType=DECIMAL},
      </if>
      <if test="expressid3 != null">
        EXPRESSID3 = #{expressid3,jdbcType=DECIMAL},
      </if>
      <if test="expressid5 != null">
        EXPRESSID5 = #{expressid5,jdbcType=DECIMAL},
      </if>
      <if test="expressid6 != null">
        EXPRESSID6 = #{expressid6,jdbcType=DECIMAL},
      </if>
      <if test="expressid7 != null">
        EXPRESSID7 = #{expressid7,jdbcType=DECIMAL},
      </if>
      <if test="expressid8 != null">
        EXPRESSID8 = #{expressid8,jdbcType=DECIMAL},
      </if>
      <if test="expressid9 != null">
        EXPRESSID9 = #{expressid9,jdbcType=DECIMAL},
      </if>
      <if test="expressid10 != null">
        EXPRESSID10 = #{expressid10,jdbcType=DECIMAL},
      </if>
      <if test="expressid11 != null">
        EXPRESSID11 = #{expressid11,jdbcType=DECIMAL},
      </if>
      <if test="expressid12 != null">
        EXPRESSID12 = #{expressid12,jdbcType=DECIMAL},
      </if>
      <if test="expressid13 != null">
        EXPRESSID13 = #{expressid13,jdbcType=DECIMAL},
      </if>
      <if test="expressid14 != null">
        EXPRESSID14 = #{expressid14,jdbcType=DECIMAL},
      </if>
      <if test="expressid15 != null">
        EXPRESSID15 = #{expressid15,jdbcType=DECIMAL},
      </if>
      <if test="expressid16 != null">
        EXPRESSID16 = #{expressid16,jdbcType=DECIMAL},
      </if>
      <if test="expressid17 != null">
        EXPRESSID17 = #{expressid17,jdbcType=DECIMAL},
      </if>
      <if test="expressid18 != null">
        EXPRESSID18 = #{expressid18,jdbcType=DECIMAL},
      </if>
      <if test="expressid19 != null">
        EXPRESSID19 = #{expressid19,jdbcType=DECIMAL},
      </if>
      <if test="expressid20 != null">
        EXPRESSID20 = #{expressid20,jdbcType=DECIMAL},
      </if>
      <if test="minexpress != null">
        MINEXPRESS = #{minexpress,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID = #{expresstypeid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=DECIMAL},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=DECIMAL},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="chinaexpress != null">
        CHINAEXPRESS = #{chinaexpress,jdbcType=DECIMAL},
      </if>
      <if test="chinaexpresscountry != null">
        CHINAEXPRESSCOUNTRY = #{chinaexpresscountry,jdbcType=VARCHAR},
      </if>
      <if test="chinaexpressarea != null">
        CHINAEXPRESSAREA = #{chinaexpressarea,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbOrderExpress">
    update db_order_express
    set TRADEID = #{tradeid,jdbcType=VARCHAR},
      ORDERWEIGHT = #{orderweight,jdbcType=DECIMAL},
      EXPRESSID1 = #{expressid1,jdbcType=DECIMAL},
      EXPRESSID2 = #{expressid2,jdbcType=DECIMAL},
      EXPRESSID4 = #{expressid4,jdbcType=DECIMAL},
      EXPRESSID3 = #{expressid3,jdbcType=DECIMAL},
      EXPRESSID5 = #{expressid5,jdbcType=DECIMAL},
      EXPRESSID6 = #{expressid6,jdbcType=DECIMAL},
      EXPRESSID7 = #{expressid7,jdbcType=DECIMAL},
      EXPRESSID8 = #{expressid8,jdbcType=DECIMAL},
      EXPRESSID9 = #{expressid9,jdbcType=DECIMAL},
      EXPRESSID10 = #{expressid10,jdbcType=DECIMAL},
      EXPRESSID11 = #{expressid11,jdbcType=DECIMAL},
      EXPRESSID12 = #{expressid12,jdbcType=DECIMAL},
      EXPRESSID13 = #{expressid13,jdbcType=DECIMAL},
      EXPRESSID14 = #{expressid14,jdbcType=DECIMAL},
      EXPRESSID15 = #{expressid15,jdbcType=DECIMAL},
      EXPRESSID16 = #{expressid16,jdbcType=DECIMAL},
      EXPRESSID17 = #{expressid17,jdbcType=DECIMAL},
      EXPRESSID18 = #{expressid18,jdbcType=DECIMAL},
      EXPRESSID19 = #{expressid19,jdbcType=DECIMAL},
      EXPRESSID20 = #{expressid20,jdbcType=DECIMAL},
      MINEXPRESS = #{minexpress,jdbcType=DECIMAL},
      EXPRESSTYPEID = #{expresstypeid,jdbcType=VARCHAR},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=DECIMAL},
      RESERVE2 = #{reserve2,jdbcType=DECIMAL},
      RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      CHINAEXPRESS = #{chinaexpress,jdbcType=DECIMAL},
      CHINAEXPRESSCOUNTRY = #{chinaexpresscountry,jdbcType=VARCHAR},
      CHINAEXPRESSAREA = #{chinaexpressarea,jdbcType=VARCHAR}
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>