<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOrderTempMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOrderTemp">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="RECORDNUM" jdbcType="DECIMAL" property="recordnum" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="SHOPITEMID" jdbcType="VARCHAR" property="shopitemid" />
    <result column="CHECKFLAG" jdbcType="VARCHAR" property="checkflag" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="MONEYRATE" jdbcType="DECIMAL" property="moneyrate" />
    <result column="ORIGINSELLPRICE" jdbcType="DECIMAL" property="originsellprice" />
    <result column="RMBSELLPRICE" jdbcType="DECIMAL" property="rmbsellprice" />
    <result column="RMBAMOUNT" jdbcType="DECIMAL" property="rmbamount" />
    <result column="ORIGINEXPRESS" jdbcType="DECIMAL" property="originexpress" />
    <result column="RMBEXPRESSMONEY" jdbcType="DECIMAL" property="rmbexpressmoney" />
    <result column="INSURANCEMONEY" jdbcType="DECIMAL" property="insurancemoney" />
    <result column="RMBINSURANCEMONEY" jdbcType="DECIMAL" property="rmbinsurancemoney" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbOrderTemp">
    <result column="TRADEID" jdbcType="LONGVARCHAR" property="tradeid" />
    <result column="CUSTOMERID" jdbcType="LONGVARCHAR" property="customerid" />
    <result column="CUSTOMERNAME" jdbcType="LONGVARCHAR" property="customername" />
    <result column="CUSTOMERTEL" jdbcType="LONGVARCHAR" property="customertel" />
    <result column="CUSTOMEREMAIL" jdbcType="LONGVARCHAR" property="customeremail" />
    <result column="CUSTOMERADDRESS1" jdbcType="LONGVARCHAR" property="customeraddress1" />
    <result column="CUSTOMERADDRESS2" jdbcType="LONGVARCHAR" property="customeraddress2" />
    <result column="CUSTOMERCITY" jdbcType="LONGVARCHAR" property="customercity" />
    <result column="CUSTOMERPROVINCE" jdbcType="LONGVARCHAR" property="customerprovince" />
    <result column="CUSTOMERZIPCODE" jdbcType="LONGVARCHAR" property="customerzipcode" />
    <result column="CUSTOMERCOUNTRY" jdbcType="LONGVARCHAR" property="customercountry" />
    <result column="PRODUCTID" jdbcType="LONGVARCHAR" property="productid" />
    <result column="ORDERNUM" jdbcType="LONGVARCHAR" property="ordernum" />
    <result column="SELLPRICESTR" jdbcType="LONGVARCHAR" property="sellpricestr" />
    <result column="EXPRESSSTR" jdbcType="LONGVARCHAR" property="expressstr" />
    <result column="PAYPALID" jdbcType="LONGVARCHAR" property="paypalid" />
    <result column="TRANSACTIONID" jdbcType="LONGVARCHAR" property="transactionid" />
    <result column="VARIATIONDETAILS" jdbcType="LONGVARCHAR" property="variationdetails" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="ITEMID" jdbcType="LONGVARCHAR" property="itemid" />
    <result column="INSURANCE" jdbcType="LONGVARCHAR" property="insurance" />
    <result column="POSTAGESERVICE" jdbcType="LONGVARCHAR" property="postageservice" />
    <result column="FIELD23" jdbcType="LONGVARCHAR" property="field23" />
    <result column="FIELD24" jdbcType="LONGVARCHAR" property="field24" />
    <result column="FIELD25" jdbcType="LONGVARCHAR" property="field25" />
    <result column="FIELD26" jdbcType="LONGVARCHAR" property="field26" />
    <result column="FIELD27" jdbcType="LONGVARCHAR" property="field27" />
    <result column="FIELD28" jdbcType="LONGVARCHAR" property="field28" />
    <result column="FIELD29" jdbcType="LONGVARCHAR" property="field29" />
    <result column="FIELD30" jdbcType="LONGVARCHAR" property="field30" />
    <result column="SLINE" jdbcType="LONGVARCHAR" property="sline" />
    <result column="ERRORINFO" jdbcType="LONGVARCHAR" property="errorinfo" />
    <result column="EBAYCUSTOMERADDRESS" jdbcType="LONGVARCHAR" property="ebaycustomeraddress" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, GROUPID, RECORDNUM, OPER, OPERTIME, SHOPID, SHOPNAME, SHOPITEMID, CHECKFLAG, 
    MONEYTYPE, MONEYRATE, ORIGINSELLPRICE, RMBSELLPRICE, RMBAMOUNT, ORIGINEXPRESS, RMBEXPRESSMONEY, 
    INSURANCEMONEY, RMBINSURANCEMONEY, CORPID
  </sql>
  <sql id="Blob_Column_List">
    TRADEID, CUSTOMERID, CUSTOMERNAME, CUSTOMERTEL, CUSTOMEREMAIL, CUSTOMERADDRESS1, 
    CUSTOMERADDRESS2, CUSTOMERCITY, CUSTOMERPROVINCE, CUSTOMERZIPCODE, CUSTOMERCOUNTRY, 
    PRODUCTID, ORDERNUM, SELLPRICESTR, EXPRESSSTR, PAYPALID, TRANSACTIONID, VARIATIONDETAILS, 
    PRODUCTNAME, ITEMID, INSURANCE, POSTAGESERVICE, FIELD23, FIELD24, FIELD25, FIELD26, 
    FIELD27, FIELD28, FIELD29, FIELD30, SLINE, ERRORINFO, EBAYCUSTOMERADDRESS, CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_order_temp
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_order_temp
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbOrderTemp">
    insert into db_order_temp (SEQUENCEID, GROUPID, RECORDNUM, 
      OPER, OPERTIME, SHOPID, 
      SHOPNAME, SHOPITEMID, CHECKFLAG, 
      MONEYTYPE, MONEYRATE, ORIGINSELLPRICE, 
      RMBSELLPRICE, RMBAMOUNT, ORIGINEXPRESS, 
      RMBEXPRESSMONEY, INSURANCEMONEY, RMBINSURANCEMONEY, 
      CORPID, TRADEID, CUSTOMERID, 
      CUSTOMERNAME, CUSTOMERTEL, CUSTOMEREMAIL, 
      CUSTOMERADDRESS1, CUSTOMERADDRESS2, 
      CUSTOMERCITY, CUSTOMERPROVINCE, 
      CUSTOMERZIPCODE, CUSTOMERCOUNTRY, 
      PRODUCTID, ORDERNUM, SELLPRICESTR, 
      EXPRESSSTR, PAYPALID, TRANSACTIONID, 
      VARIATIONDETAILS, PRODUCTNAME, 
      ITEMID, INSURANCE, POSTAGESERVICE, 
      FIELD23, FIELD24, FIELD25, 
      FIELD26, FIELD27, FIELD28, 
      FIELD29, FIELD30, SLINE, 
      ERRORINFO, EBAYCUSTOMERADDRESS, 
      CONTENT)
    values (#{sequenceid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{recordnum,jdbcType=DECIMAL}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{shopid,jdbcType=VARCHAR}, 
      #{shopname,jdbcType=VARCHAR}, #{shopitemid,jdbcType=VARCHAR}, #{checkflag,jdbcType=VARCHAR}, 
      #{moneytype,jdbcType=VARCHAR}, #{moneyrate,jdbcType=DECIMAL}, #{originsellprice,jdbcType=DECIMAL}, 
      #{rmbsellprice,jdbcType=DECIMAL}, #{rmbamount,jdbcType=DECIMAL}, #{originexpress,jdbcType=DECIMAL}, 
      #{rmbexpressmoney,jdbcType=DECIMAL}, #{insurancemoney,jdbcType=DECIMAL}, #{rmbinsurancemoney,jdbcType=DECIMAL}, 
      #{corpid,jdbcType=VARCHAR}, #{tradeid,jdbcType=LONGVARCHAR}, #{customerid,jdbcType=LONGVARCHAR}, 
      #{customername,jdbcType=LONGVARCHAR}, #{customertel,jdbcType=LONGVARCHAR}, #{customeremail,jdbcType=LONGVARCHAR}, 
      #{customeraddress1,jdbcType=LONGVARCHAR}, #{customeraddress2,jdbcType=LONGVARCHAR}, 
      #{customercity,jdbcType=LONGVARCHAR}, #{customerprovince,jdbcType=LONGVARCHAR}, 
      #{customerzipcode,jdbcType=LONGVARCHAR}, #{customercountry,jdbcType=LONGVARCHAR}, 
      #{productid,jdbcType=LONGVARCHAR}, #{ordernum,jdbcType=LONGVARCHAR}, #{sellpricestr,jdbcType=LONGVARCHAR}, 
      #{expressstr,jdbcType=LONGVARCHAR}, #{paypalid,jdbcType=LONGVARCHAR}, #{transactionid,jdbcType=LONGVARCHAR}, 
      #{variationdetails,jdbcType=LONGVARCHAR}, #{productname,jdbcType=LONGVARCHAR}, 
      #{itemid,jdbcType=LONGVARCHAR}, #{insurance,jdbcType=LONGVARCHAR}, #{postageservice,jdbcType=LONGVARCHAR}, 
      #{field23,jdbcType=LONGVARCHAR}, #{field24,jdbcType=LONGVARCHAR}, #{field25,jdbcType=LONGVARCHAR}, 
      #{field26,jdbcType=LONGVARCHAR}, #{field27,jdbcType=LONGVARCHAR}, #{field28,jdbcType=LONGVARCHAR}, 
      #{field29,jdbcType=LONGVARCHAR}, #{field30,jdbcType=LONGVARCHAR}, #{sline,jdbcType=LONGVARCHAR}, 
      #{errorinfo,jdbcType=LONGVARCHAR}, #{ebaycustomeraddress,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbOrderTemp">
    insert into db_order_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="groupid != null">
        GROUPID,
      </if>
      <if test="recordnum != null">
        RECORDNUM,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="shopid != null">
        SHOPID,
      </if>
      <if test="shopname != null">
        SHOPNAME,
      </if>
      <if test="shopitemid != null">
        SHOPITEMID,
      </if>
      <if test="checkflag != null">
        CHECKFLAG,
      </if>
      <if test="moneytype != null">
        MONEYTYPE,
      </if>
      <if test="moneyrate != null">
        MONEYRATE,
      </if>
      <if test="originsellprice != null">
        ORIGINSELLPRICE,
      </if>
      <if test="rmbsellprice != null">
        RMBSELLPRICE,
      </if>
      <if test="rmbamount != null">
        RMBAMOUNT,
      </if>
      <if test="originexpress != null">
        ORIGINEXPRESS,
      </if>
      <if test="rmbexpressmoney != null">
        RMBEXPRESSMONEY,
      </if>
      <if test="insurancemoney != null">
        INSURANCEMONEY,
      </if>
      <if test="rmbinsurancemoney != null">
        RMBINSURANCEMONEY,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="tradeid != null">
        TRADEID,
      </if>
      <if test="customerid != null">
        CUSTOMERID,
      </if>
      <if test="customername != null">
        CUSTOMERNAME,
      </if>
      <if test="customertel != null">
        CUSTOMERTEL,
      </if>
      <if test="customeremail != null">
        CUSTOMEREMAIL,
      </if>
      <if test="customeraddress1 != null">
        CUSTOMERADDRESS1,
      </if>
      <if test="customeraddress2 != null">
        CUSTOMERADDRESS2,
      </if>
      <if test="customercity != null">
        CUSTOMERCITY,
      </if>
      <if test="customerprovince != null">
        CUSTOMERPROVINCE,
      </if>
      <if test="customerzipcode != null">
        CUSTOMERZIPCODE,
      </if>
      <if test="customercountry != null">
        CUSTOMERCOUNTRY,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="sellpricestr != null">
        SELLPRICESTR,
      </if>
      <if test="expressstr != null">
        EXPRESSSTR,
      </if>
      <if test="paypalid != null">
        PAYPALID,
      </if>
      <if test="transactionid != null">
        TRANSACTIONID,
      </if>
      <if test="variationdetails != null">
        VARIATIONDETAILS,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="itemid != null">
        ITEMID,
      </if>
      <if test="insurance != null">
        INSURANCE,
      </if>
      <if test="postageservice != null">
        POSTAGESERVICE,
      </if>
      <if test="field23 != null">
        FIELD23,
      </if>
      <if test="field24 != null">
        FIELD24,
      </if>
      <if test="field25 != null">
        FIELD25,
      </if>
      <if test="field26 != null">
        FIELD26,
      </if>
      <if test="field27 != null">
        FIELD27,
      </if>
      <if test="field28 != null">
        FIELD28,
      </if>
      <if test="field29 != null">
        FIELD29,
      </if>
      <if test="field30 != null">
        FIELD30,
      </if>
      <if test="sline != null">
        SLINE,
      </if>
      <if test="errorinfo != null">
        ERRORINFO,
      </if>
      <if test="ebaycustomeraddress != null">
        EBAYCUSTOMERADDRESS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="recordnum != null">
        #{recordnum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopitemid != null">
        #{shopitemid,jdbcType=VARCHAR},
      </if>
      <if test="checkflag != null">
        #{checkflag,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="moneyrate != null">
        #{moneyrate,jdbcType=DECIMAL},
      </if>
      <if test="originsellprice != null">
        #{originsellprice,jdbcType=DECIMAL},
      </if>
      <if test="rmbsellprice != null">
        #{rmbsellprice,jdbcType=DECIMAL},
      </if>
      <if test="rmbamount != null">
        #{rmbamount,jdbcType=DECIMAL},
      </if>
      <if test="originexpress != null">
        #{originexpress,jdbcType=DECIMAL},
      </if>
      <if test="rmbexpressmoney != null">
        #{rmbexpressmoney,jdbcType=DECIMAL},
      </if>
      <if test="insurancemoney != null">
        #{insurancemoney,jdbcType=DECIMAL},
      </if>
      <if test="rmbinsurancemoney != null">
        #{rmbinsurancemoney,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        #{tradeid,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=LONGVARCHAR},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=LONGVARCHAR},
      </if>
      <if test="customertel != null">
        #{customertel,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeremail != null">
        #{customeremail,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeraddress1 != null">
        #{customeraddress1,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeraddress2 != null">
        #{customeraddress2,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercity != null">
        #{customercity,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerprovince != null">
        #{customerprovince,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerzipcode != null">
        #{customerzipcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercountry != null">
        #{customercountry,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=LONGVARCHAR},
      </if>
      <if test="sellpricestr != null">
        #{sellpricestr,jdbcType=LONGVARCHAR},
      </if>
      <if test="expressstr != null">
        #{expressstr,jdbcType=LONGVARCHAR},
      </if>
      <if test="paypalid != null">
        #{paypalid,jdbcType=LONGVARCHAR},
      </if>
      <if test="transactionid != null">
        #{transactionid,jdbcType=LONGVARCHAR},
      </if>
      <if test="variationdetails != null">
        #{variationdetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=LONGVARCHAR},
      </if>
      <if test="insurance != null">
        #{insurance,jdbcType=LONGVARCHAR},
      </if>
      <if test="postageservice != null">
        #{postageservice,jdbcType=LONGVARCHAR},
      </if>
      <if test="field23 != null">
        #{field23,jdbcType=LONGVARCHAR},
      </if>
      <if test="field24 != null">
        #{field24,jdbcType=LONGVARCHAR},
      </if>
      <if test="field25 != null">
        #{field25,jdbcType=LONGVARCHAR},
      </if>
      <if test="field26 != null">
        #{field26,jdbcType=LONGVARCHAR},
      </if>
      <if test="field27 != null">
        #{field27,jdbcType=LONGVARCHAR},
      </if>
      <if test="field28 != null">
        #{field28,jdbcType=LONGVARCHAR},
      </if>
      <if test="field29 != null">
        #{field29,jdbcType=LONGVARCHAR},
      </if>
      <if test="field30 != null">
        #{field30,jdbcType=LONGVARCHAR},
      </if>
      <if test="sline != null">
        #{sline,jdbcType=LONGVARCHAR},
      </if>
      <if test="errorinfo != null">
        #{errorinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaycustomeraddress != null">
        #{ebaycustomeraddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbOrderTemp">
    update db_order_temp
    <set>
      <if test="groupid != null">
        GROUPID = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="recordnum != null">
        RECORDNUM = #{recordnum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopid != null">
        SHOPID = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        SHOPNAME = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopitemid != null">
        SHOPITEMID = #{shopitemid,jdbcType=VARCHAR},
      </if>
      <if test="checkflag != null">
        CHECKFLAG = #{checkflag,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="moneyrate != null">
        MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      </if>
      <if test="originsellprice != null">
        ORIGINSELLPRICE = #{originsellprice,jdbcType=DECIMAL},
      </if>
      <if test="rmbsellprice != null">
        RMBSELLPRICE = #{rmbsellprice,jdbcType=DECIMAL},
      </if>
      <if test="rmbamount != null">
        RMBAMOUNT = #{rmbamount,jdbcType=DECIMAL},
      </if>
      <if test="originexpress != null">
        ORIGINEXPRESS = #{originexpress,jdbcType=DECIMAL},
      </if>
      <if test="rmbexpressmoney != null">
        RMBEXPRESSMONEY = #{rmbexpressmoney,jdbcType=DECIMAL},
      </if>
      <if test="insurancemoney != null">
        INSURANCEMONEY = #{insurancemoney,jdbcType=DECIMAL},
      </if>
      <if test="rmbinsurancemoney != null">
        RMBINSURANCEMONEY = #{rmbinsurancemoney,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        TRADEID = #{tradeid,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerid != null">
        CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR},
      </if>
      <if test="customername != null">
        CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR},
      </if>
      <if test="customertel != null">
        CUSTOMERTEL = #{customertel,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeremail != null">
        CUSTOMEREMAIL = #{customeremail,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeraddress1 != null">
        CUSTOMERADDRESS1 = #{customeraddress1,jdbcType=LONGVARCHAR},
      </if>
      <if test="customeraddress2 != null">
        CUSTOMERADDRESS2 = #{customeraddress2,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercity != null">
        CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerprovince != null">
        CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerzipcode != null">
        CUSTOMERZIPCODE = #{customerzipcode,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercountry != null">
        CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=LONGVARCHAR},
      </if>
      <if test="sellpricestr != null">
        SELLPRICESTR = #{sellpricestr,jdbcType=LONGVARCHAR},
      </if>
      <if test="expressstr != null">
        EXPRESSSTR = #{expressstr,jdbcType=LONGVARCHAR},
      </if>
      <if test="paypalid != null">
        PAYPALID = #{paypalid,jdbcType=LONGVARCHAR},
      </if>
      <if test="transactionid != null">
        TRANSACTIONID = #{transactionid,jdbcType=LONGVARCHAR},
      </if>
      <if test="variationdetails != null">
        VARIATIONDETAILS = #{variationdetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="itemid != null">
        ITEMID = #{itemid,jdbcType=LONGVARCHAR},
      </if>
      <if test="insurance != null">
        INSURANCE = #{insurance,jdbcType=LONGVARCHAR},
      </if>
      <if test="postageservice != null">
        POSTAGESERVICE = #{postageservice,jdbcType=LONGVARCHAR},
      </if>
      <if test="field23 != null">
        FIELD23 = #{field23,jdbcType=LONGVARCHAR},
      </if>
      <if test="field24 != null">
        FIELD24 = #{field24,jdbcType=LONGVARCHAR},
      </if>
      <if test="field25 != null">
        FIELD25 = #{field25,jdbcType=LONGVARCHAR},
      </if>
      <if test="field26 != null">
        FIELD26 = #{field26,jdbcType=LONGVARCHAR},
      </if>
      <if test="field27 != null">
        FIELD27 = #{field27,jdbcType=LONGVARCHAR},
      </if>
      <if test="field28 != null">
        FIELD28 = #{field28,jdbcType=LONGVARCHAR},
      </if>
      <if test="field29 != null">
        FIELD29 = #{field29,jdbcType=LONGVARCHAR},
      </if>
      <if test="field30 != null">
        FIELD30 = #{field30,jdbcType=LONGVARCHAR},
      </if>
      <if test="sline != null">
        SLINE = #{sline,jdbcType=LONGVARCHAR},
      </if>
      <if test="errorinfo != null">
        ERRORINFO = #{errorinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaycustomeraddress != null">
        EBAYCUSTOMERADDRESS = #{ebaycustomeraddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbOrderTemp">
    update db_order_temp
    set GROUPID = #{groupid,jdbcType=VARCHAR},
      RECORDNUM = #{recordnum,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      SHOPID = #{shopid,jdbcType=VARCHAR},
      SHOPNAME = #{shopname,jdbcType=VARCHAR},
      SHOPITEMID = #{shopitemid,jdbcType=VARCHAR},
      CHECKFLAG = #{checkflag,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      ORIGINSELLPRICE = #{originsellprice,jdbcType=DECIMAL},
      RMBSELLPRICE = #{rmbsellprice,jdbcType=DECIMAL},
      RMBAMOUNT = #{rmbamount,jdbcType=DECIMAL},
      ORIGINEXPRESS = #{originexpress,jdbcType=DECIMAL},
      RMBEXPRESSMONEY = #{rmbexpressmoney,jdbcType=DECIMAL},
      INSURANCEMONEY = #{insurancemoney,jdbcType=DECIMAL},
      RMBINSURANCEMONEY = #{rmbinsurancemoney,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      TRADEID = #{tradeid,jdbcType=LONGVARCHAR},
      CUSTOMERID = #{customerid,jdbcType=LONGVARCHAR},
      CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR},
      CUSTOMERTEL = #{customertel,jdbcType=LONGVARCHAR},
      CUSTOMEREMAIL = #{customeremail,jdbcType=LONGVARCHAR},
      CUSTOMERADDRESS1 = #{customeraddress1,jdbcType=LONGVARCHAR},
      CUSTOMERADDRESS2 = #{customeraddress2,jdbcType=LONGVARCHAR},
      CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR},
      CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR},
      CUSTOMERZIPCODE = #{customerzipcode,jdbcType=LONGVARCHAR},
      CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR},
      PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      ORDERNUM = #{ordernum,jdbcType=LONGVARCHAR},
      SELLPRICESTR = #{sellpricestr,jdbcType=LONGVARCHAR},
      EXPRESSSTR = #{expressstr,jdbcType=LONGVARCHAR},
      PAYPALID = #{paypalid,jdbcType=LONGVARCHAR},
      TRANSACTIONID = #{transactionid,jdbcType=LONGVARCHAR},
      VARIATIONDETAILS = #{variationdetails,jdbcType=LONGVARCHAR},
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      ITEMID = #{itemid,jdbcType=LONGVARCHAR},
      INSURANCE = #{insurance,jdbcType=LONGVARCHAR},
      POSTAGESERVICE = #{postageservice,jdbcType=LONGVARCHAR},
      FIELD23 = #{field23,jdbcType=LONGVARCHAR},
      FIELD24 = #{field24,jdbcType=LONGVARCHAR},
      FIELD25 = #{field25,jdbcType=LONGVARCHAR},
      FIELD26 = #{field26,jdbcType=LONGVARCHAR},
      FIELD27 = #{field27,jdbcType=LONGVARCHAR},
      FIELD28 = #{field28,jdbcType=LONGVARCHAR},
      FIELD29 = #{field29,jdbcType=LONGVARCHAR},
      FIELD30 = #{field30,jdbcType=LONGVARCHAR},
      SLINE = #{sline,jdbcType=LONGVARCHAR},
      ERRORINFO = #{errorinfo,jdbcType=LONGVARCHAR},
      EBAYCUSTOMERADDRESS = #{ebaycustomeraddress,jdbcType=LONGVARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbOrderTemp">
    update db_order_temp
    set GROUPID = #{groupid,jdbcType=VARCHAR},
      RECORDNUM = #{recordnum,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      SHOPID = #{shopid,jdbcType=VARCHAR},
      SHOPNAME = #{shopname,jdbcType=VARCHAR},
      SHOPITEMID = #{shopitemid,jdbcType=VARCHAR},
      CHECKFLAG = #{checkflag,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      ORIGINSELLPRICE = #{originsellprice,jdbcType=DECIMAL},
      RMBSELLPRICE = #{rmbsellprice,jdbcType=DECIMAL},
      RMBAMOUNT = #{rmbamount,jdbcType=DECIMAL},
      ORIGINEXPRESS = #{originexpress,jdbcType=DECIMAL},
      RMBEXPRESSMONEY = #{rmbexpressmoney,jdbcType=DECIMAL},
      INSURANCEMONEY = #{insurancemoney,jdbcType=DECIMAL},
      RMBINSURANCEMONEY = #{rmbinsurancemoney,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>