<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPaypalMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPaypal">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FEEAMOUNT" jdbcType="DECIMAL" property="feeamount" />
    <result column="GROSSAMOUNT" jdbcType="DECIMAL" property="grossamount" />
    <result column="NETAMOUNT" jdbcType="DECIMAL" property="netamount" />
    <result column="PAYTIME" jdbcType="TIMESTAMP" property="paytime" />
    <result column="FILED3" jdbcType="DECIMAL" property="filed3" />
    <result column="FILED4" jdbcType="DECIMAL" property="filed4" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="FILED11" jdbcType="DECIMAL" property="filed11" />
    <result column="FILED12" jdbcType="DECIMAL" property="filed12" />
    <result column="FILED13" jdbcType="DECIMAL" property="filed13" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPaypal">
    <result column="ADDRESS" jdbcType="LONGVARCHAR" property="address" />
    <result column="EMAILADDRESS" jdbcType="LONGVARCHAR" property="emailaddress" />
    <result column="STATUS" jdbcType="LONGVARCHAR" property="status" />
    <result column="FILED1" jdbcType="LONGVARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="LONGVARCHAR" property="filed2" />
    <result column="CUSTOMERPROVINCE" jdbcType="LONGVARCHAR" property="customerprovince" />
    <result column="CUSTOMERCITY" jdbcType="LONGVARCHAR" property="customercity" />
    <result column="CUSTOMERCOUNTRY" jdbcType="LONGVARCHAR" property="customercountry" />
    <result column="CUSTOMERSTREET" jdbcType="LONGVARCHAR" property="customerstreet" />
    <result column="APIUSER" jdbcType="LONGVARCHAR" property="apiuser" />
    <result column="APIPASSWORD" jdbcType="LONGVARCHAR" property="apipassword" />
    <result column="APITOKEN" jdbcType="LONGVARCHAR" property="apitoken" />
    <result column="FILED5" jdbcType="LONGVARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="LONGVARCHAR" property="filed6" />
    <result column="FILED7" jdbcType="LONGVARCHAR" property="filed7" />
    <result column="FILED8" jdbcType="LONGVARCHAR" property="filed8" />
    <result column="FILED9" jdbcType="LONGVARCHAR" property="filed9" />
    <result column="FILED10" jdbcType="LONGVARCHAR" property="filed10" />
    <result column="PAYPALCUSTOMERADDRESS" jdbcType="LONGVARCHAR" property="paypalcustomeraddress" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, TRANSACTIONID, OPER, OPERTIME, FEEAMOUNT, GROSSAMOUNT, NETAMOUNT, PAYTIME, 
    FILED3, FILED4, CORPID, OPENFLAG, FILED11, FILED12, FILED13
  </sql>
  <sql id="Blob_Column_List">
    ADDRESS, EMAILADDRESS, 'STATUS', FILED1, FILED2, CUSTOMERPROVINCE, CUSTOMERCITY, 
    CUSTOMERCOUNTRY, CUSTOMERSTREET, APIUSER, APIPASSWORD, APITOKEN, FILED5, FILED6, 
    FILED7, FILED8, FILED9, FILED10, PAYPALCUSTOMERADDRESS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_paypal
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_paypal
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbPaypal">
    insert into db_paypal (SEQUENCEID, TRANSACTIONID, OPER, 
      OPERTIME, FEEAMOUNT, GROSSAMOUNT, 
      NETAMOUNT, PAYTIME, FILED3, 
      FILED4, CORPID, OPENFLAG, 
      FILED11, FILED12, FILED13, 
      ADDRESS, EMAILADDRESS, 'STATUS', 
      FILED1, FILED2, CUSTOMERPROVINCE, 
      CUSTOMERCITY, CUSTOMERCOUNTRY, 
      CUSTOMERSTREET, APIUSER, APIPASSWORD, 
      APITOKEN, FILED5, FILED6, 
      FILED7, FILED8, FILED9, 
      FILED10, PAYPALCUSTOMERADDRESS)
    values (#{sequenceid,jdbcType=VARCHAR}, #{transactionid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{feeamount,jdbcType=DECIMAL}, #{grossamount,jdbcType=DECIMAL}, 
      #{netamount,jdbcType=DECIMAL}, #{paytime,jdbcType=TIMESTAMP}, #{filed3,jdbcType=DECIMAL}, 
      #{filed4,jdbcType=DECIMAL}, #{corpid,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, 
      #{filed11,jdbcType=DECIMAL}, #{filed12,jdbcType=DECIMAL}, #{filed13,jdbcType=DECIMAL}, 
      #{address,jdbcType=LONGVARCHAR}, #{emailaddress,jdbcType=LONGVARCHAR}, #{status,jdbcType=LONGVARCHAR}, 
      #{filed1,jdbcType=LONGVARCHAR}, #{filed2,jdbcType=LONGVARCHAR}, #{customerprovince,jdbcType=LONGVARCHAR}, 
      #{customercity,jdbcType=LONGVARCHAR}, #{customercountry,jdbcType=LONGVARCHAR}, 
      #{customerstreet,jdbcType=LONGVARCHAR}, #{apiuser,jdbcType=LONGVARCHAR}, #{apipassword,jdbcType=LONGVARCHAR}, 
      #{apitoken,jdbcType=LONGVARCHAR}, #{filed5,jdbcType=LONGVARCHAR}, #{filed6,jdbcType=LONGVARCHAR}, 
      #{filed7,jdbcType=LONGVARCHAR}, #{filed8,jdbcType=LONGVARCHAR}, #{filed9,jdbcType=LONGVARCHAR}, 
      #{filed10,jdbcType=LONGVARCHAR}, #{paypalcustomeraddress,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPaypal">
    insert into db_paypal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="transactionid != null">
        TRANSACTIONID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="feeamount != null">
        FEEAMOUNT,
      </if>
      <if test="grossamount != null">
        GROSSAMOUNT,
      </if>
      <if test="netamount != null">
        NETAMOUNT,
      </if>
      <if test="paytime != null">
        PAYTIME,
      </if>
      <if test="filed3 != null">
        FILED3,
      </if>
      <if test="filed4 != null">
        FILED4,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="filed11 != null">
        FILED11,
      </if>
      <if test="filed12 != null">
        FILED12,
      </if>
      <if test="filed13 != null">
        FILED13,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="emailaddress != null">
        EMAILADDRESS,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="filed1 != null">
        FILED1,
      </if>
      <if test="filed2 != null">
        FILED2,
      </if>
      <if test="customerprovince != null">
        CUSTOMERPROVINCE,
      </if>
      <if test="customercity != null">
        CUSTOMERCITY,
      </if>
      <if test="customercountry != null">
        CUSTOMERCOUNTRY,
      </if>
      <if test="customerstreet != null">
        CUSTOMERSTREET,
      </if>
      <if test="apiuser != null">
        APIUSER,
      </if>
      <if test="apipassword != null">
        APIPASSWORD,
      </if>
      <if test="apitoken != null">
        APITOKEN,
      </if>
      <if test="filed5 != null">
        FILED5,
      </if>
      <if test="filed6 != null">
        FILED6,
      </if>
      <if test="filed7 != null">
        FILED7,
      </if>
      <if test="filed8 != null">
        FILED8,
      </if>
      <if test="filed9 != null">
        FILED9,
      </if>
      <if test="filed10 != null">
        FILED10,
      </if>
      <if test="paypalcustomeraddress != null">
        PAYPALCUSTOMERADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="transactionid != null">
        #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeamount != null">
        #{feeamount,jdbcType=DECIMAL},
      </if>
      <if test="grossamount != null">
        #{grossamount,jdbcType=DECIMAL},
      </if>
      <if test="netamount != null">
        #{netamount,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="filed3 != null">
        #{filed3,jdbcType=DECIMAL},
      </if>
      <if test="filed4 != null">
        #{filed4,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="filed11 != null">
        #{filed11,jdbcType=DECIMAL},
      </if>
      <if test="filed12 != null">
        #{filed12,jdbcType=DECIMAL},
      </if>
      <if test="filed13 != null">
        #{filed13,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="emailaddress != null">
        #{emailaddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed1 != null">
        #{filed1,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed2 != null">
        #{filed2,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerprovince != null">
        #{customerprovince,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercity != null">
        #{customercity,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercountry != null">
        #{customercountry,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerstreet != null">
        #{customerstreet,jdbcType=LONGVARCHAR},
      </if>
      <if test="apiuser != null">
        #{apiuser,jdbcType=LONGVARCHAR},
      </if>
      <if test="apipassword != null">
        #{apipassword,jdbcType=LONGVARCHAR},
      </if>
      <if test="apitoken != null">
        #{apitoken,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed5 != null">
        #{filed5,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed6 != null">
        #{filed6,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed7 != null">
        #{filed7,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed8 != null">
        #{filed8,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed9 != null">
        #{filed9,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed10 != null">
        #{filed10,jdbcType=LONGVARCHAR},
      </if>
      <if test="paypalcustomeraddress != null">
        #{paypalcustomeraddress,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbPaypal">
    update db_paypal
    <set>
      <if test="transactionid != null">
        TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="feeamount != null">
        FEEAMOUNT = #{feeamount,jdbcType=DECIMAL},
      </if>
      <if test="grossamount != null">
        GROSSAMOUNT = #{grossamount,jdbcType=DECIMAL},
      </if>
      <if test="netamount != null">
        NETAMOUNT = #{netamount,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null">
        PAYTIME = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="filed3 != null">
        FILED3 = #{filed3,jdbcType=DECIMAL},
      </if>
      <if test="filed4 != null">
        FILED4 = #{filed4,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="filed11 != null">
        FILED11 = #{filed11,jdbcType=DECIMAL},
      </if>
      <if test="filed12 != null">
        FILED12 = #{filed12,jdbcType=DECIMAL},
      </if>
      <if test="filed13 != null">
        FILED13 = #{filed13,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="emailaddress != null">
        EMAILADDRESS = #{emailaddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed1 != null">
        FILED1 = #{filed1,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed2 != null">
        FILED2 = #{filed2,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerprovince != null">
        CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercity != null">
        CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR},
      </if>
      <if test="customercountry != null">
        CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR},
      </if>
      <if test="customerstreet != null">
        CUSTOMERSTREET = #{customerstreet,jdbcType=LONGVARCHAR},
      </if>
      <if test="apiuser != null">
        APIUSER = #{apiuser,jdbcType=LONGVARCHAR},
      </if>
      <if test="apipassword != null">
        APIPASSWORD = #{apipassword,jdbcType=LONGVARCHAR},
      </if>
      <if test="apitoken != null">
        APITOKEN = #{apitoken,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed5 != null">
        FILED5 = #{filed5,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed6 != null">
        FILED6 = #{filed6,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed7 != null">
        FILED7 = #{filed7,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed8 != null">
        FILED8 = #{filed8,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed9 != null">
        FILED9 = #{filed9,jdbcType=LONGVARCHAR},
      </if>
      <if test="filed10 != null">
        FILED10 = #{filed10,jdbcType=LONGVARCHAR},
      </if>
      <if test="paypalcustomeraddress != null">
        PAYPALCUSTOMERADDRESS = #{paypalcustomeraddress,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbPaypal">
    update db_paypal
    set TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      FEEAMOUNT = #{feeamount,jdbcType=DECIMAL},
      GROSSAMOUNT = #{grossamount,jdbcType=DECIMAL},
      NETAMOUNT = #{netamount,jdbcType=DECIMAL},
      PAYTIME = #{paytime,jdbcType=TIMESTAMP},
      FILED3 = #{filed3,jdbcType=DECIMAL},
      FILED4 = #{filed4,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      FILED11 = #{filed11,jdbcType=DECIMAL},
      FILED12 = #{filed12,jdbcType=DECIMAL},
      FILED13 = #{filed13,jdbcType=DECIMAL},
      ADDRESS = #{address,jdbcType=LONGVARCHAR},
      EMAILADDRESS = #{emailaddress,jdbcType=LONGVARCHAR},
      'STATUS' = #{status,jdbcType=LONGVARCHAR},
      FILED1 = #{filed1,jdbcType=LONGVARCHAR},
      FILED2 = #{filed2,jdbcType=LONGVARCHAR},
      CUSTOMERPROVINCE = #{customerprovince,jdbcType=LONGVARCHAR},
      CUSTOMERCITY = #{customercity,jdbcType=LONGVARCHAR},
      CUSTOMERCOUNTRY = #{customercountry,jdbcType=LONGVARCHAR},
      CUSTOMERSTREET = #{customerstreet,jdbcType=LONGVARCHAR},
      APIUSER = #{apiuser,jdbcType=LONGVARCHAR},
      APIPASSWORD = #{apipassword,jdbcType=LONGVARCHAR},
      APITOKEN = #{apitoken,jdbcType=LONGVARCHAR},
      FILED5 = #{filed5,jdbcType=LONGVARCHAR},
      FILED6 = #{filed6,jdbcType=LONGVARCHAR},
      FILED7 = #{filed7,jdbcType=LONGVARCHAR},
      FILED8 = #{filed8,jdbcType=LONGVARCHAR},
      FILED9 = #{filed9,jdbcType=LONGVARCHAR},
      FILED10 = #{filed10,jdbcType=LONGVARCHAR},
      PAYPALCUSTOMERADDRESS = #{paypalcustomeraddress,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbPaypal">
    update db_paypal
    set TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      FEEAMOUNT = #{feeamount,jdbcType=DECIMAL},
      GROSSAMOUNT = #{grossamount,jdbcType=DECIMAL},
      NETAMOUNT = #{netamount,jdbcType=DECIMAL},
      PAYTIME = #{paytime,jdbcType=TIMESTAMP},
      FILED3 = #{filed3,jdbcType=DECIMAL},
      FILED4 = #{filed4,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      FILED11 = #{filed11,jdbcType=DECIMAL},
      FILED12 = #{filed12,jdbcType=DECIMAL},
      FILED13 = #{filed13,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>