<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPrintorderbyskuconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPrintorderbyskuconfig">
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPrintorderbyskuconfig">
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Blob_Column_List">
    'NAME', DESCR
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbPrintorderbyskuconfig">
    insert into db_printorderbyskuconfig (SID, OPER, CORPID, 
      OPENFLAG, OPERTIME, 'NAME', 
      DESCR)
    values (#{sid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, 
      #{openflag,jdbcType=DECIMAL}, #{opertime,jdbcType=TIMESTAMP}, #{name,jdbcType=LONGVARCHAR}, 
      #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPrintorderbyskuconfig">
    insert into db_printorderbyskuconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=DECIMAL},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>