<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductfortitleMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductfortitle">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="ONLINENUM" jdbcType="DECIMAL" property="onlinenum" />
    <result column="SELLNUM" jdbcType="DECIMAL" property="sellnum" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERFLAG" jdbcType="VARCHAR" property="operflag" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProductfortitle">
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, SELLSKU, 'LANGUAGE', ONLINENUM, SELLNUM, OPER, OPERTIME, CREATETIME, 
    CORPID, OPERFLAG, TITLE, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, 
    RESERVE8, RESERVE9
  </sql>
  <sql id="Blob_Column_List">
    RESERVE1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_productfortitle
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_productfortitle
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductfortitle">
    insert into db_productfortitle (SEQUENCEID, SELLSKU, 'LANGUAGE', 
      ONLINENUM, SELLNUM, OPER, 
      OPERTIME, CREATETIME, CORPID, 
      OPERFLAG, TITLE, RESERVE2, 
      RESERVE3, RESERVE4, RESERVE5, 
      RESERVE6, RESERVE7, RESERVE8, 
      RESERVE9, RESERVE1)
    values (#{sequenceid,jdbcType=DECIMAL}, #{sellsku,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{onlinenum,jdbcType=DECIMAL}, #{sellnum,jdbcType=DECIMAL}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, 
      #{operflag,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, #{reserve5,jdbcType=DECIMAL}, 
      #{reserve6,jdbcType=DECIMAL}, #{reserve7,jdbcType=DECIMAL}, #{reserve8,jdbcType=DECIMAL}, 
      #{reserve9,jdbcType=DECIMAL}, #{reserve1,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductfortitle">
    insert into db_productfortitle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="sellsku != null">
        SELLSKU,
      </if>
      <if test="language != null">
        'LANGUAGE',
      </if>
      <if test="onlinenum != null">
        ONLINENUM,
      </if>
      <if test="sellnum != null">
        SELLNUM,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="operflag != null">
        OPERFLAG,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
      <if test="reserve7 != null">
        RESERVE7,
      </if>
      <if test="reserve8 != null">
        RESERVE8,
      </if>
      <if test="reserve9 != null">
        RESERVE9,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=DECIMAL},
      </if>
      <if test="sellsku != null">
        #{sellsku,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="onlinenum != null">
        #{onlinenum,jdbcType=DECIMAL},
      </if>
      <if test="sellnum != null">
        #{sellnum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="operflag != null">
        #{operflag,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        #{reserve8,jdbcType=DECIMAL},
      </if>
      <if test="reserve9 != null">
        #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductfortitle">
    update db_productfortitle
    <set>
      <if test="sellsku != null">
        SELLSKU = #{sellsku,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        'LANGUAGE' = #{language,jdbcType=VARCHAR},
      </if>
      <if test="onlinenum != null">
        ONLINENUM = #{onlinenum,jdbcType=DECIMAL},
      </if>
      <if test="sellnum != null">
        SELLNUM = #{sellnum,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="operflag != null">
        OPERFLAG = #{operflag,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      </if>
      <if test="reserve9 != null">
        RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProductfortitle">
    update db_productfortitle
    set SELLSKU = #{sellsku,jdbcType=VARCHAR},
      'LANGUAGE' = #{language,jdbcType=VARCHAR},
      ONLINENUM = #{onlinenum,jdbcType=DECIMAL},
      SELLNUM = #{sellnum,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPERFLAG = #{operflag,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductfortitle">
    update db_productfortitle
    set SELLSKU = #{sellsku,jdbcType=VARCHAR},
      'LANGUAGE' = #{language,jdbcType=VARCHAR},
      ONLINENUM = #{onlinenum,jdbcType=DECIMAL},
      SELLNUM = #{sellnum,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPERFLAG = #{operflag,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
</mapper>