<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectbbsMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProjectbbs">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="LIMITTIME" jdbcType="DECIMAL" property="limittime" />
    <result column="PRINCIPALOPER" jdbcType="VARCHAR" property="principaloper" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERNFLAG" jdbcType="VARCHAR" property="opernflag" />
    <result column="PERCENTAGE" jdbcType="DECIMAL" property="percentage" />
    <result column="CLIPARTFLAG" jdbcType="DECIMAL" property="clipartflag" />
    <result column="SALESFLAG" jdbcType="DECIMAL" property="salesflag" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="ESTIMATEDSTARTTIME" jdbcType="TIMESTAMP" property="estimatedstarttime" />
    <result column="ESTIMATEDENDTIME" jdbcType="TIMESTAMP" property="estimatedendtime" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProjectbbs">
    <result column="PROJECTNAME" jdbcType="LONGVARCHAR" property="projectname" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, LIMITTIME, PRINCIPALOPER, OPER, OPERTIME, CREATEOPER, CREATETIME, CORPID, 
    OPERNFLAG, PERCENTAGE, CLIPARTFLAG, SALESFLAG, CHECKFLAG, ESTIMATEDSTARTTIME, ESTIMATEDENDTIME, 
    STARTTIME, ENDTIME, 'STATUS'
  </sql>
  <sql id="Blob_Column_List">
    PROJECTNAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_projectbbs
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_projectbbs
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProjectbbs">
    insert into db_projectbbs (SEQUENCEID, LIMITTIME, PRINCIPALOPER, 
      OPER, OPERTIME, CREATEOPER, 
      CREATETIME, CORPID, OPERNFLAG, 
      PERCENTAGE, CLIPARTFLAG, SALESFLAG, 
      CHECKFLAG, ESTIMATEDSTARTTIME, ESTIMATEDENDTIME, 
      STARTTIME, ENDTIME, 'STATUS', 
      PROJECTNAME)
    values (#{sequenceid,jdbcType=DECIMAL}, #{limittime,jdbcType=DECIMAL}, #{principaloper,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{createoper,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, #{opernflag,jdbcType=VARCHAR}, 
      #{percentage,jdbcType=DECIMAL}, #{clipartflag,jdbcType=DECIMAL}, #{salesflag,jdbcType=DECIMAL}, 
      #{checkflag,jdbcType=DECIMAL}, #{estimatedstarttime,jdbcType=TIMESTAMP}, #{estimatedendtime,jdbcType=TIMESTAMP}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, 
      #{projectname,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProjectbbs">
    insert into db_projectbbs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="limittime != null">
        LIMITTIME,
      </if>
      <if test="principaloper != null">
        PRINCIPALOPER,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="createoper != null">
        CREATEOPER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="opernflag != null">
        OPERNFLAG,
      </if>
      <if test="percentage != null">
        PERCENTAGE,
      </if>
      <if test="clipartflag != null">
        CLIPARTFLAG,
      </if>
      <if test="salesflag != null">
        SALESFLAG,
      </if>
      <if test="checkflag != null">
        CHECKFLAG,
      </if>
      <if test="estimatedstarttime != null">
        ESTIMATEDSTARTTIME,
      </if>
      <if test="estimatedendtime != null">
        ESTIMATEDENDTIME,
      </if>
      <if test="starttime != null">
        STARTTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="projectname != null">
        PROJECTNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=DECIMAL},
      </if>
      <if test="limittime != null">
        #{limittime,jdbcType=DECIMAL},
      </if>
      <if test="principaloper != null">
        #{principaloper,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoper != null">
        #{createoper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="opernflag != null">
        #{opernflag,jdbcType=VARCHAR},
      </if>
      <if test="percentage != null">
        #{percentage,jdbcType=DECIMAL},
      </if>
      <if test="clipartflag != null">
        #{clipartflag,jdbcType=DECIMAL},
      </if>
      <if test="salesflag != null">
        #{salesflag,jdbcType=DECIMAL},
      </if>
      <if test="checkflag != null">
        #{checkflag,jdbcType=DECIMAL},
      </if>
      <if test="estimatedstarttime != null">
        #{estimatedstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimatedendtime != null">
        #{estimatedendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="projectname != null">
        #{projectname,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProjectbbs">
    update db_projectbbs
    <set>
      <if test="limittime != null">
        LIMITTIME = #{limittime,jdbcType=DECIMAL},
      </if>
      <if test="principaloper != null">
        PRINCIPALOPER = #{principaloper,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoper != null">
        CREATEOPER = #{createoper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="opernflag != null">
        OPERNFLAG = #{opernflag,jdbcType=VARCHAR},
      </if>
      <if test="percentage != null">
        PERCENTAGE = #{percentage,jdbcType=DECIMAL},
      </if>
      <if test="clipartflag != null">
        CLIPARTFLAG = #{clipartflag,jdbcType=DECIMAL},
      </if>
      <if test="salesflag != null">
        SALESFLAG = #{salesflag,jdbcType=DECIMAL},
      </if>
      <if test="checkflag != null">
        CHECKFLAG = #{checkflag,jdbcType=DECIMAL},
      </if>
      <if test="estimatedstarttime != null">
        ESTIMATEDSTARTTIME = #{estimatedstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimatedendtime != null">
        ESTIMATEDENDTIME = #{estimatedendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=DECIMAL},
      </if>
      <if test="projectname != null">
        PROJECTNAME = #{projectname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProjectbbs">
    update db_projectbbs
    set LIMITTIME = #{limittime,jdbcType=DECIMAL},
      PRINCIPALOPER = #{principaloper,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATEOPER = #{createoper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPERNFLAG = #{opernflag,jdbcType=VARCHAR},
      PERCENTAGE = #{percentage,jdbcType=DECIMAL},
      CLIPARTFLAG = #{clipartflag,jdbcType=DECIMAL},
      SALESFLAG = #{salesflag,jdbcType=DECIMAL},
      CHECKFLAG = #{checkflag,jdbcType=DECIMAL},
      ESTIMATEDSTARTTIME = #{estimatedstarttime,jdbcType=TIMESTAMP},
      ESTIMATEDENDTIME = #{estimatedendtime,jdbcType=TIMESTAMP},
      STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      'STATUS' = #{status,jdbcType=DECIMAL},
      PROJECTNAME = #{projectname,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProjectbbs">
    update db_projectbbs
    set LIMITTIME = #{limittime,jdbcType=DECIMAL},
      PRINCIPALOPER = #{principaloper,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATEOPER = #{createoper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPERNFLAG = #{opernflag,jdbcType=VARCHAR},
      PERCENTAGE = #{percentage,jdbcType=DECIMAL},
      CLIPARTFLAG = #{clipartflag,jdbcType=DECIMAL},
      SALESFLAG = #{salesflag,jdbcType=DECIMAL},
      CHECKFLAG = #{checkflag,jdbcType=DECIMAL},
      ESTIMATEDSTARTTIME = #{estimatedstarttime,jdbcType=TIMESTAMP},
      ESTIMATEDENDTIME = #{estimatedendtime,jdbcType=TIMESTAMP},
      STARTTIME = #{starttime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      'STATUS' = #{status,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
</mapper>