<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPurchasetoallotMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPurchasetoallot">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="RECEIVEOPER" jdbcType="VARCHAR" property="receiveoper" />
    <result column="PURCHASEINDEXID" jdbcType="DECIMAL" property="purchaseindexid" />
    <result column="HAVEPAYED" jdbcType="DECIMAL" property="havepayed" />
    <result column="PURCHASEFLAG" jdbcType="DECIMAL" property="purchaseflag" />
    <result column="PAYMENTID" jdbcType="DECIMAL" property="paymentid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="INPORTTIME" jdbcType="TIMESTAMP" property="inporttime" />
    <result column="SHIPNUM" jdbcType="VARCHAR" property="shipnum" />
    <result column="CREATOPER" jdbcType="VARCHAR" property="creatoper" />
    <result column="THREENUM" jdbcType="DECIMAL" property="threenum" />
    <result column="ACTUALNUM" jdbcType="DECIMAL" property="actualnum" />
    <result column="STOCKOPER" jdbcType="VARCHAR" property="stockoper" />
    <result column="DISCOUNT4" jdbcType="DECIMAL" property="discount4" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="DISCOUNT1" jdbcType="DECIMAL" property="discount1" />
    <result column="SLEVEL" jdbcType="VARCHAR" property="slevel" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="DISCOUNT2" jdbcType="DECIMAL" property="discount2" />
    <result column="INPORTPRICE" jdbcType="DECIMAL" property="inportprice" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="PAYFLAG" jdbcType="VARCHAR" property="payflag" />
    <result column="DISCOUNT3" jdbcType="DECIMAL" property="discount3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="ACTUALPRICE" jdbcType="DECIMAL" property="actualprice" />
    <result column="MANUFACTURE" jdbcType="VARCHAR" property="manufacture" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="RETURNNUM" jdbcType="DECIMAL" property="returnnum" />
    <result column="STOCKTIME" jdbcType="TIMESTAMP" property="stocktime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="NOTPAYED" jdbcType="DECIMAL" property="notpayed" />
    <result column="RECEIVENUM" jdbcType="DECIMAL" property="receivenum" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="UNITEFLAG" jdbcType="VARCHAR" property="uniteflag" />
    <result column="RECEIVETIME" jdbcType="TIMESTAMP" property="receivetime" />
    <result column="GIFTNUM" jdbcType="DECIMAL" property="giftnum" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="CREATDATE" jdbcType="TIMESTAMP" property="creatdate" />
    <result column="SEVENNUM" jdbcType="DECIMAL" property="sevennum" />
    <result column="PAYMENTTYPE" jdbcType="VARCHAR" property="paymenttype" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE14" jdbcType="DECIMAL" property="reserve14" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="NINENUM" jdbcType="DECIMAL" property="ninenum" />
    <result column="ACTUALAMOUNT" jdbcType="DECIMAL" property="actualamount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPurchasetoallot">
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="REMARKS" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
    <result column="RESERVE11" jdbcType="LONGVARCHAR" property="reserve11" />
    <result column="RESERVE13" jdbcType="LONGVARCHAR" property="reserve13" />
    <result column="RESERVE12" jdbcType="LONGVARCHAR" property="reserve12" />
    <result column="RESERVE15" jdbcType="LONGVARCHAR" property="reserve15" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, OPER, RECEIVEOPER, PURCHASEINDEXID, HAVEPAYED, PURCHASEFLAG, PAYMENTID, 
    GROUPID, RESERVE8, ORDERNUM, RESERVE10, RESERVE9, INPORTTIME, SHIPNUM, CREATOPER, 
    THREENUM, ACTUALNUM, STOCKOPER, DISCOUNT4, RESERVE6, DISCOUNT1, SLEVEL, SID, DISCOUNT2, 
    INPORTPRICE, SAVENUM, PAYFLAG, DISCOUNT3, RESERVE4, OPERTIME, ACTUALPRICE, MANUFACTURE, 
    'STATUS', SENDTIME, RETURNNUM, STOCKTIME, OPENFLAG, NOTPAYED, RECEIVENUM, RESERVE2, 
    PRODUCTID, UNITEFLAG, RECEIVETIME, GIFTNUM, RESERVE5, CORPID, CREATDATE, SEVENNUM, 
    PAYMENTTYPE, RESERVE7, RESERVE14, MANUFACTUREID, RESERVE1, AMOUNT, NINENUM, ACTUALAMOUNT
  </sql>
  <sql id="Blob_Column_List">
    RESERVE3, 'NAME', PRODUCTNAME, REMARKS, DESCR, RESERVE11, RESERVE13, RESERVE12, RESERVE15
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_purchasetoallot
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_purchasetoallot
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbPurchasetoallot">
    insert into db_purchasetoallot (SEQUENCEID, OPER, RECEIVEOPER, 
      PURCHASEINDEXID, HAVEPAYED, PURCHASEFLAG, 
      PAYMENTID, GROUPID, RESERVE8, 
      ORDERNUM, RESERVE10, RESERVE9, 
      INPORTTIME, SHIPNUM, CREATOPER, 
      THREENUM, ACTUALNUM, STOCKOPER, 
      DISCOUNT4, RESERVE6, DISCOUNT1, 
      SLEVEL, SID, DISCOUNT2, 
      INPORTPRICE, SAVENUM, PAYFLAG, 
      DISCOUNT3, RESERVE4, OPERTIME, 
      ACTUALPRICE, MANUFACTURE, 'STATUS', 
      SENDTIME, RETURNNUM, STOCKTIME, 
      OPENFLAG, NOTPAYED, RECEIVENUM, 
      RESERVE2, PRODUCTID, UNITEFLAG, 
      RECEIVETIME, GIFTNUM, RESERVE5, 
      CORPID, CREATDATE, SEVENNUM, 
      PAYMENTTYPE, RESERVE7, RESERVE14, 
      MANUFACTUREID, RESERVE1, AMOUNT, 
      NINENUM, ACTUALAMOUNT, RESERVE3, 
      'NAME', PRODUCTNAME, REMARKS, 
      DESCR, RESERVE11, RESERVE13, 
      RESERVE12, RESERVE15)
    values (#{sequenceid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{receiveoper,jdbcType=VARCHAR}, 
      #{purchaseindexid,jdbcType=DECIMAL}, #{havepayed,jdbcType=DECIMAL}, #{purchaseflag,jdbcType=DECIMAL}, 
      #{paymentid,jdbcType=DECIMAL}, #{groupid,jdbcType=VARCHAR}, #{reserve8,jdbcType=DECIMAL}, 
      #{ordernum,jdbcType=DECIMAL}, #{reserve10,jdbcType=VARCHAR}, #{reserve9,jdbcType=DECIMAL}, 
      #{inporttime,jdbcType=TIMESTAMP}, #{shipnum,jdbcType=VARCHAR}, #{creatoper,jdbcType=VARCHAR}, 
      #{threenum,jdbcType=DECIMAL}, #{actualnum,jdbcType=DECIMAL}, #{stockoper,jdbcType=VARCHAR}, 
      #{discount4,jdbcType=DECIMAL}, #{reserve6,jdbcType=DECIMAL}, #{discount1,jdbcType=DECIMAL}, 
      #{slevel,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{discount2,jdbcType=DECIMAL}, 
      #{inportprice,jdbcType=DECIMAL}, #{savenum,jdbcType=DECIMAL}, #{payflag,jdbcType=VARCHAR}, 
      #{discount3,jdbcType=DECIMAL}, #{reserve4,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{actualprice,jdbcType=DECIMAL}, #{manufacture,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{sendtime,jdbcType=TIMESTAMP}, #{returnnum,jdbcType=DECIMAL}, #{stocktime,jdbcType=TIMESTAMP}, 
      #{openflag,jdbcType=VARCHAR}, #{notpayed,jdbcType=DECIMAL}, #{receivenum,jdbcType=DECIMAL}, 
      #{reserve2,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, #{uniteflag,jdbcType=VARCHAR}, 
      #{receivetime,jdbcType=TIMESTAMP}, #{giftnum,jdbcType=DECIMAL}, #{reserve5,jdbcType=VARCHAR}, 
      #{corpid,jdbcType=VARCHAR}, #{creatdate,jdbcType=TIMESTAMP}, #{sevennum,jdbcType=DECIMAL}, 
      #{paymenttype,jdbcType=VARCHAR}, #{reserve7,jdbcType=DECIMAL}, #{reserve14,jdbcType=DECIMAL}, 
      #{manufactureid,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{ninenum,jdbcType=DECIMAL}, #{actualamount,jdbcType=DECIMAL}, #{reserve3,jdbcType=LONGVARCHAR}, 
      #{name,jdbcType=LONGVARCHAR}, #{productname,jdbcType=LONGVARCHAR}, #{remarks,jdbcType=LONGVARCHAR}, 
      #{descr,jdbcType=LONGVARCHAR}, #{reserve11,jdbcType=LONGVARCHAR}, #{reserve13,jdbcType=LONGVARCHAR}, 
      #{reserve12,jdbcType=LONGVARCHAR}, #{reserve15,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPurchasetoallot">
    insert into db_purchasetoallot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="receiveoper != null">
        RECEIVEOPER,
      </if>
      <if test="purchaseindexid != null">
        PURCHASEINDEXID,
      </if>
      <if test="havepayed != null">
        HAVEPAYED,
      </if>
      <if test="purchaseflag != null">
        PURCHASEFLAG,
      </if>
      <if test="paymentid != null">
        PAYMENTID,
      </if>
      <if test="groupid != null">
        GROUPID,
      </if>
      <if test="reserve8 != null">
        RESERVE8,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="reserve10 != null">
        RESERVE10,
      </if>
      <if test="reserve9 != null">
        RESERVE9,
      </if>
      <if test="inporttime != null">
        INPORTTIME,
      </if>
      <if test="shipnum != null">
        SHIPNUM,
      </if>
      <if test="creatoper != null">
        CREATOPER,
      </if>
      <if test="threenum != null">
        THREENUM,
      </if>
      <if test="actualnum != null">
        ACTUALNUM,
      </if>
      <if test="stockoper != null">
        STOCKOPER,
      </if>
      <if test="discount4 != null">
        DISCOUNT4,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
      <if test="discount1 != null">
        DISCOUNT1,
      </if>
      <if test="slevel != null">
        SLEVEL,
      </if>
      <if test="sid != null">
        SID,
      </if>
      <if test="discount2 != null">
        DISCOUNT2,
      </if>
      <if test="inportprice != null">
        INPORTPRICE,
      </if>
      <if test="savenum != null">
        SAVENUM,
      </if>
      <if test="payflag != null">
        PAYFLAG,
      </if>
      <if test="discount3 != null">
        DISCOUNT3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="actualprice != null">
        ACTUALPRICE,
      </if>
      <if test="manufacture != null">
        MANUFACTURE,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="sendtime != null">
        SENDTIME,
      </if>
      <if test="returnnum != null">
        RETURNNUM,
      </if>
      <if test="stocktime != null">
        STOCKTIME,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="notpayed != null">
        NOTPAYED,
      </if>
      <if test="receivenum != null">
        RECEIVENUM,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="uniteflag != null">
        UNITEFLAG,
      </if>
      <if test="receivetime != null">
        RECEIVETIME,
      </if>
      <if test="giftnum != null">
        GIFTNUM,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="creatdate != null">
        CREATDATE,
      </if>
      <if test="sevennum != null">
        SEVENNUM,
      </if>
      <if test="paymenttype != null">
        PAYMENTTYPE,
      </if>
      <if test="reserve7 != null">
        RESERVE7,
      </if>
      <if test="reserve14 != null">
        RESERVE14,
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="ninenum != null">
        NINENUM,
      </if>
      <if test="actualamount != null">
        ACTUALAMOUNT,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
      <if test="reserve11 != null">
        RESERVE11,
      </if>
      <if test="reserve13 != null">
        RESERVE13,
      </if>
      <if test="reserve12 != null">
        RESERVE12,
      </if>
      <if test="reserve15 != null">
        RESERVE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="receiveoper != null">
        #{receiveoper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseindexid != null">
        #{purchaseindexid,jdbcType=DECIMAL},
      </if>
      <if test="havepayed != null">
        #{havepayed,jdbcType=DECIMAL},
      </if>
      <if test="purchaseflag != null">
        #{purchaseflag,jdbcType=DECIMAL},
      </if>
      <if test="paymentid != null">
        #{paymentid,jdbcType=DECIMAL},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null">
        #{reserve8,jdbcType=DECIMAL},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="reserve10 != null">
        #{reserve10,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null">
        #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="inporttime != null">
        #{inporttime,jdbcType=TIMESTAMP},
      </if>
      <if test="shipnum != null">
        #{shipnum,jdbcType=VARCHAR},
      </if>
      <if test="creatoper != null">
        #{creatoper,jdbcType=VARCHAR},
      </if>
      <if test="threenum != null">
        #{threenum,jdbcType=DECIMAL},
      </if>
      <if test="actualnum != null">
        #{actualnum,jdbcType=DECIMAL},
      </if>
      <if test="stockoper != null">
        #{stockoper,jdbcType=VARCHAR},
      </if>
      <if test="discount4 != null">
        #{discount4,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="discount1 != null">
        #{discount1,jdbcType=DECIMAL},
      </if>
      <if test="slevel != null">
        #{slevel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="discount2 != null">
        #{discount2,jdbcType=DECIMAL},
      </if>
      <if test="inportprice != null">
        #{inportprice,jdbcType=DECIMAL},
      </if>
      <if test="savenum != null">
        #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="payflag != null">
        #{payflag,jdbcType=VARCHAR},
      </if>
      <if test="discount3 != null">
        #{discount3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualprice != null">
        #{actualprice,jdbcType=DECIMAL},
      </if>
      <if test="manufacture != null">
        #{manufacture,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnnum != null">
        #{returnnum,jdbcType=DECIMAL},
      </if>
      <if test="stocktime != null">
        #{stocktime,jdbcType=TIMESTAMP},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="notpayed != null">
        #{notpayed,jdbcType=DECIMAL},
      </if>
      <if test="receivenum != null">
        #{receivenum,jdbcType=DECIMAL},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="uniteflag != null">
        #{uniteflag,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null">
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftnum != null">
        #{giftnum,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null">
        #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sevennum != null">
        #{sevennum,jdbcType=DECIMAL},
      </if>
      <if test="paymenttype != null">
        #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null">
        #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve14 != null">
        #{reserve14,jdbcType=DECIMAL},
      </if>
      <if test="manufactureid != null">
        #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="ninenum != null">
        #{ninenum,jdbcType=DECIMAL},
      </if>
      <if test="actualamount != null">
        #{actualamount,jdbcType=DECIMAL},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve11 != null">
        #{reserve11,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve13 != null">
        #{reserve13,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve12 != null">
        #{reserve12,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve15 != null">
        #{reserve15,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbPurchasetoallot">
    update db_purchasetoallot
    <set>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="receiveoper != null">
        RECEIVEOPER = #{receiveoper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseindexid != null">
        PURCHASEINDEXID = #{purchaseindexid,jdbcType=DECIMAL},
      </if>
      <if test="havepayed != null">
        HAVEPAYED = #{havepayed,jdbcType=DECIMAL},
      </if>
      <if test="purchaseflag != null">
        PURCHASEFLAG = #{purchaseflag,jdbcType=DECIMAL},
      </if>
      <if test="paymentid != null">
        PAYMENTID = #{paymentid,jdbcType=DECIMAL},
      </if>
      <if test="groupid != null">
        GROUPID = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null">
        RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="reserve10 != null">
        RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null">
        RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="inporttime != null">
        INPORTTIME = #{inporttime,jdbcType=TIMESTAMP},
      </if>
      <if test="shipnum != null">
        SHIPNUM = #{shipnum,jdbcType=VARCHAR},
      </if>
      <if test="creatoper != null">
        CREATOPER = #{creatoper,jdbcType=VARCHAR},
      </if>
      <if test="threenum != null">
        THREENUM = #{threenum,jdbcType=DECIMAL},
      </if>
      <if test="actualnum != null">
        ACTUALNUM = #{actualnum,jdbcType=DECIMAL},
      </if>
      <if test="stockoper != null">
        STOCKOPER = #{stockoper,jdbcType=VARCHAR},
      </if>
      <if test="discount4 != null">
        DISCOUNT4 = #{discount4,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="discount1 != null">
        DISCOUNT1 = #{discount1,jdbcType=DECIMAL},
      </if>
      <if test="slevel != null">
        SLEVEL = #{slevel,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="discount2 != null">
        DISCOUNT2 = #{discount2,jdbcType=DECIMAL},
      </if>
      <if test="inportprice != null">
        INPORTPRICE = #{inportprice,jdbcType=DECIMAL},
      </if>
      <if test="savenum != null">
        SAVENUM = #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="payflag != null">
        PAYFLAG = #{payflag,jdbcType=VARCHAR},
      </if>
      <if test="discount3 != null">
        DISCOUNT3 = #{discount3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualprice != null">
        ACTUALPRICE = #{actualprice,jdbcType=DECIMAL},
      </if>
      <if test="manufacture != null">
        MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnnum != null">
        RETURNNUM = #{returnnum,jdbcType=DECIMAL},
      </if>
      <if test="stocktime != null">
        STOCKTIME = #{stocktime,jdbcType=TIMESTAMP},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="notpayed != null">
        NOTPAYED = #{notpayed,jdbcType=DECIMAL},
      </if>
      <if test="receivenum != null">
        RECEIVENUM = #{receivenum,jdbcType=DECIMAL},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="uniteflag != null">
        UNITEFLAG = #{uniteflag,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null">
        RECEIVETIME = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="giftnum != null">
        GIFTNUM = #{giftnum,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null">
        CREATDATE = #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sevennum != null">
        SEVENNUM = #{sevennum,jdbcType=DECIMAL},
      </if>
      <if test="paymenttype != null">
        PAYMENTTYPE = #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null">
        RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve14 != null">
        RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="ninenum != null">
        NINENUM = #{ninenum,jdbcType=DECIMAL},
      </if>
      <if test="actualamount != null">
        ACTUALAMOUNT = #{actualamount,jdbcType=DECIMAL},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        DESCR = #{descr,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve11 != null">
        RESERVE11 = #{reserve11,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve13 != null">
        RESERVE13 = #{reserve13,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve12 != null">
        RESERVE12 = #{reserve12,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve15 != null">
        RESERVE15 = #{reserve15,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbPurchasetoallot">
    update db_purchasetoallot
    set OPER = #{oper,jdbcType=VARCHAR},
      RECEIVEOPER = #{receiveoper,jdbcType=VARCHAR},
      PURCHASEINDEXID = #{purchaseindexid,jdbcType=DECIMAL},
      HAVEPAYED = #{havepayed,jdbcType=DECIMAL},
      PURCHASEFLAG = #{purchaseflag,jdbcType=DECIMAL},
      PAYMENTID = #{paymentid,jdbcType=DECIMAL},
      GROUPID = #{groupid,jdbcType=VARCHAR},
      RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      INPORTTIME = #{inporttime,jdbcType=TIMESTAMP},
      SHIPNUM = #{shipnum,jdbcType=VARCHAR},
      CREATOPER = #{creatoper,jdbcType=VARCHAR},
      THREENUM = #{threenum,jdbcType=DECIMAL},
      ACTUALNUM = #{actualnum,jdbcType=DECIMAL},
      STOCKOPER = #{stockoper,jdbcType=VARCHAR},
      DISCOUNT4 = #{discount4,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      DISCOUNT1 = #{discount1,jdbcType=DECIMAL},
      SLEVEL = #{slevel,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      DISCOUNT2 = #{discount2,jdbcType=DECIMAL},
      INPORTPRICE = #{inportprice,jdbcType=DECIMAL},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      PAYFLAG = #{payflag,jdbcType=VARCHAR},
      DISCOUNT3 = #{discount3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      ACTUALPRICE = #{actualprice,jdbcType=DECIMAL},
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      'STATUS' = #{status,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      RETURNNUM = #{returnnum,jdbcType=DECIMAL},
      STOCKTIME = #{stocktime,jdbcType=TIMESTAMP},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      NOTPAYED = #{notpayed,jdbcType=DECIMAL},
      RECEIVENUM = #{receivenum,jdbcType=DECIMAL},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      UNITEFLAG = #{uniteflag,jdbcType=VARCHAR},
      RECEIVETIME = #{receivetime,jdbcType=TIMESTAMP},
      GIFTNUM = #{giftnum,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      CREATDATE = #{creatdate,jdbcType=TIMESTAMP},
      SEVENNUM = #{sevennum,jdbcType=DECIMAL},
      PAYMENTTYPE = #{paymenttype,jdbcType=VARCHAR},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      NINENUM = #{ninenum,jdbcType=DECIMAL},
      ACTUALAMOUNT = #{actualamount,jdbcType=DECIMAL},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      'NAME' = #{name,jdbcType=LONGVARCHAR},
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      REMARKS = #{remarks,jdbcType=LONGVARCHAR},
      DESCR = #{descr,jdbcType=LONGVARCHAR},
      RESERVE11 = #{reserve11,jdbcType=LONGVARCHAR},
      RESERVE13 = #{reserve13,jdbcType=LONGVARCHAR},
      RESERVE12 = #{reserve12,jdbcType=LONGVARCHAR},
      RESERVE15 = #{reserve15,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbPurchasetoallot">
    update db_purchasetoallot
    set OPER = #{oper,jdbcType=VARCHAR},
      RECEIVEOPER = #{receiveoper,jdbcType=VARCHAR},
      PURCHASEINDEXID = #{purchaseindexid,jdbcType=DECIMAL},
      HAVEPAYED = #{havepayed,jdbcType=DECIMAL},
      PURCHASEFLAG = #{purchaseflag,jdbcType=DECIMAL},
      PAYMENTID = #{paymentid,jdbcType=DECIMAL},
      GROUPID = #{groupid,jdbcType=VARCHAR},
      RESERVE8 = #{reserve8,jdbcType=DECIMAL},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      INPORTTIME = #{inporttime,jdbcType=TIMESTAMP},
      SHIPNUM = #{shipnum,jdbcType=VARCHAR},
      CREATOPER = #{creatoper,jdbcType=VARCHAR},
      THREENUM = #{threenum,jdbcType=DECIMAL},
      ACTUALNUM = #{actualnum,jdbcType=DECIMAL},
      STOCKOPER = #{stockoper,jdbcType=VARCHAR},
      DISCOUNT4 = #{discount4,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      DISCOUNT1 = #{discount1,jdbcType=DECIMAL},
      SLEVEL = #{slevel,jdbcType=VARCHAR},
      SID = #{sid,jdbcType=VARCHAR},
      DISCOUNT2 = #{discount2,jdbcType=DECIMAL},
      INPORTPRICE = #{inportprice,jdbcType=DECIMAL},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      PAYFLAG = #{payflag,jdbcType=VARCHAR},
      DISCOUNT3 = #{discount3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      ACTUALPRICE = #{actualprice,jdbcType=DECIMAL},
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      'STATUS' = #{status,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      RETURNNUM = #{returnnum,jdbcType=DECIMAL},
      STOCKTIME = #{stocktime,jdbcType=TIMESTAMP},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      NOTPAYED = #{notpayed,jdbcType=DECIMAL},
      RECEIVENUM = #{receivenum,jdbcType=DECIMAL},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      UNITEFLAG = #{uniteflag,jdbcType=VARCHAR},
      RECEIVETIME = #{receivetime,jdbcType=TIMESTAMP},
      GIFTNUM = #{giftnum,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      CREATDATE = #{creatdate,jdbcType=TIMESTAMP},
      SEVENNUM = #{sevennum,jdbcType=DECIMAL},
      PAYMENTTYPE = #{paymenttype,jdbcType=VARCHAR},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      NINENUM = #{ninenum,jdbcType=DECIMAL},
      ACTUALAMOUNT = #{actualamount,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>