<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSalesdataMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSalesdata">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYSKU" jdbcType="VARCHAR" property="ebaysku" />
    <result column="EBAYCATEGORYID" jdbcType="VARCHAR" property="ebaycategoryid" />
    <result column="EBAYCATEGORYNAME" jdbcType="VARCHAR" property="ebaycategoryname" />
    <result column="EBAYUSERID" jdbcType="VARCHAR" property="ebayuserid" />
    <result column="EBAYSHOPID" jdbcType="VARCHAR" property="ebayshopid" />
    <result column="HITCOUNT" jdbcType="DECIMAL" property="hitcount" />
    <result column="EBAYSTARTTIMESTR" jdbcType="VARCHAR" property="ebaystarttimestr" />
    <result column="NUMODA" jdbcType="VARCHAR" property="numoda" />
    <result column="EBAYMONEYTYPE" jdbcType="VARCHAR" property="ebaymoneytype" />
    <result column="EBAYBUYITNEWPRICE" jdbcType="DECIMAL" property="ebaybuyitnewprice" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="QUANTITYSOLD1" jdbcType="DECIMAL" property="quantitysold1" />
    <result column="QUANTITYSOLD7" jdbcType="DECIMAL" property="quantitysold7" />
    <result column="QUANTITYSOLD14" jdbcType="DECIMAL" property="quantitysold14" />
    <result column="QUANTITYSOLD21" jdbcType="DECIMAL" property="quantitysold21" />
    <result column="QUANTITYSOLD28" jdbcType="DECIMAL" property="quantitysold28" />
    <result column="QUANTITYSOLD56" jdbcType="DECIMAL" property="quantitysold56" />
    <result column="QUANTITYSOLD" jdbcType="DECIMAL" property="quantitysold" />
    <result column="QUANTITYSOLDAVG" jdbcType="DECIMAL" property="quantitysoldavg" />
    <result column="HITCOUNT1" jdbcType="DECIMAL" property="hitcount1" />
    <result column="HITCOUNT7" jdbcType="DECIMAL" property="hitcount7" />
    <result column="HITCOUNT14" jdbcType="DECIMAL" property="hitcount14" />
    <result column="HITCOUNT21" jdbcType="DECIMAL" property="hitcount21" />
    <result column="HITCOUNT28" jdbcType="DECIMAL" property="hitcount28" />
    <result column="HITCOUNT56" jdbcType="DECIMAL" property="hitcount56" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbSalesdata">
    <result column="EBAYTITLE" jdbcType="LONGVARCHAR" property="ebaytitle" />
    <result column="EBAYSHOPNAME" jdbcType="LONGVARCHAR" property="ebayshopname" />
    <result column="EBAYLOCATION" jdbcType="LONGVARCHAR" property="ebaylocation" />
    <result column="EBAYGALLERYURL" jdbcType="LONGVARCHAR" property="ebaygalleryurl" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, EBAYITEMID, EBAYSKU, EBAYCATEGORYID, EBAYCATEGORYNAME, EBAYUSERID, EBAYSHOPID, 
    HITCOUNT, EBAYSTARTTIMESTR, NUMODA, EBAYMONEYTYPE, EBAYBUYITNEWPRICE, SELLOPER, QUANTITYSOLD1, 
    QUANTITYSOLD7, QUANTITYSOLD14, QUANTITYSOLD21, QUANTITYSOLD28, QUANTITYSOLD56, QUANTITYSOLD, 
    QUANTITYSOLDAVG, HITCOUNT1, HITCOUNT7, HITCOUNT14, HITCOUNT21, HITCOUNT28, HITCOUNT56, 
    CORPID, OPER, OPERTIME, CREATETIME, FLAG
  </sql>
  <sql id="Blob_Column_List">
    EBAYTITLE, EBAYSHOPNAME, EBAYLOCATION, EBAYGALLERYURL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_salesdata
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_salesdata
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbSalesdata">
    insert into db_salesdata (SID, EBAYITEMID, EBAYSKU, 
      EBAYCATEGORYID, EBAYCATEGORYNAME, EBAYUSERID, 
      EBAYSHOPID, HITCOUNT, EBAYSTARTTIMESTR, 
      NUMODA, EBAYMONEYTYPE, EBAYBUYITNEWPRICE, 
      SELLOPER, QUANTITYSOLD1, QUANTITYSOLD7, 
      QUANTITYSOLD14, QUANTITYSOLD21, QUANTITYSOLD28, 
      QUANTITYSOLD56, QUANTITYSOLD, QUANTITYSOLDAVG, 
      HITCOUNT1, HITCOUNT7, HITCOUNT14, 
      HITCOUNT21, HITCOUNT28, HITCOUNT56, 
      CORPID, OPER, OPERTIME, 
      CREATETIME, FLAG, EBAYTITLE, 
      EBAYSHOPNAME, EBAYLOCATION, EBAYGALLERYURL
      )
    values (#{sid,jdbcType=DECIMAL}, #{ebayitemid,jdbcType=VARCHAR}, #{ebaysku,jdbcType=VARCHAR}, 
      #{ebaycategoryid,jdbcType=VARCHAR}, #{ebaycategoryname,jdbcType=VARCHAR}, #{ebayuserid,jdbcType=VARCHAR}, 
      #{ebayshopid,jdbcType=VARCHAR}, #{hitcount,jdbcType=DECIMAL}, #{ebaystarttimestr,jdbcType=VARCHAR}, 
      #{numoda,jdbcType=VARCHAR}, #{ebaymoneytype,jdbcType=VARCHAR}, #{ebaybuyitnewprice,jdbcType=DECIMAL}, 
      #{selloper,jdbcType=VARCHAR}, #{quantitysold1,jdbcType=DECIMAL}, #{quantitysold7,jdbcType=DECIMAL}, 
      #{quantitysold14,jdbcType=DECIMAL}, #{quantitysold21,jdbcType=DECIMAL}, #{quantitysold28,jdbcType=DECIMAL}, 
      #{quantitysold56,jdbcType=DECIMAL}, #{quantitysold,jdbcType=DECIMAL}, #{quantitysoldavg,jdbcType=DECIMAL}, 
      #{hitcount1,jdbcType=DECIMAL}, #{hitcount7,jdbcType=DECIMAL}, #{hitcount14,jdbcType=DECIMAL}, 
      #{hitcount21,jdbcType=DECIMAL}, #{hitcount28,jdbcType=DECIMAL}, #{hitcount56,jdbcType=DECIMAL}, 
      #{corpid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{flag,jdbcType=DECIMAL}, #{ebaytitle,jdbcType=LONGVARCHAR}, 
      #{ebayshopname,jdbcType=LONGVARCHAR}, #{ebaylocation,jdbcType=LONGVARCHAR}, #{ebaygalleryurl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbSalesdata">
    insert into db_salesdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="ebayitemid != null">
        EBAYITEMID,
      </if>
      <if test="ebaysku != null">
        EBAYSKU,
      </if>
      <if test="ebaycategoryid != null">
        EBAYCATEGORYID,
      </if>
      <if test="ebaycategoryname != null">
        EBAYCATEGORYNAME,
      </if>
      <if test="ebayuserid != null">
        EBAYUSERID,
      </if>
      <if test="ebayshopid != null">
        EBAYSHOPID,
      </if>
      <if test="hitcount != null">
        HITCOUNT,
      </if>
      <if test="ebaystarttimestr != null">
        EBAYSTARTTIMESTR,
      </if>
      <if test="numoda != null">
        NUMODA,
      </if>
      <if test="ebaymoneytype != null">
        EBAYMONEYTYPE,
      </if>
      <if test="ebaybuyitnewprice != null">
        EBAYBUYITNEWPRICE,
      </if>
      <if test="selloper != null">
        SELLOPER,
      </if>
      <if test="quantitysold1 != null">
        QUANTITYSOLD1,
      </if>
      <if test="quantitysold7 != null">
        QUANTITYSOLD7,
      </if>
      <if test="quantitysold14 != null">
        QUANTITYSOLD14,
      </if>
      <if test="quantitysold21 != null">
        QUANTITYSOLD21,
      </if>
      <if test="quantitysold28 != null">
        QUANTITYSOLD28,
      </if>
      <if test="quantitysold56 != null">
        QUANTITYSOLD56,
      </if>
      <if test="quantitysold != null">
        QUANTITYSOLD,
      </if>
      <if test="quantitysoldavg != null">
        QUANTITYSOLDAVG,
      </if>
      <if test="hitcount1 != null">
        HITCOUNT1,
      </if>
      <if test="hitcount7 != null">
        HITCOUNT7,
      </if>
      <if test="hitcount14 != null">
        HITCOUNT14,
      </if>
      <if test="hitcount21 != null">
        HITCOUNT21,
      </if>
      <if test="hitcount28 != null">
        HITCOUNT28,
      </if>
      <if test="hitcount56 != null">
        HITCOUNT56,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="ebaytitle != null">
        EBAYTITLE,
      </if>
      <if test="ebayshopname != null">
        EBAYSHOPNAME,
      </if>
      <if test="ebaylocation != null">
        EBAYLOCATION,
      </if>
      <if test="ebaygalleryurl != null">
        EBAYGALLERYURL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="ebayitemid != null">
        #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="ebaysku != null">
        #{ebaysku,jdbcType=VARCHAR},
      </if>
      <if test="ebaycategoryid != null">
        #{ebaycategoryid,jdbcType=VARCHAR},
      </if>
      <if test="ebaycategoryname != null">
        #{ebaycategoryname,jdbcType=VARCHAR},
      </if>
      <if test="ebayuserid != null">
        #{ebayuserid,jdbcType=VARCHAR},
      </if>
      <if test="ebayshopid != null">
        #{ebayshopid,jdbcType=VARCHAR},
      </if>
      <if test="hitcount != null">
        #{hitcount,jdbcType=DECIMAL},
      </if>
      <if test="ebaystarttimestr != null">
        #{ebaystarttimestr,jdbcType=VARCHAR},
      </if>
      <if test="numoda != null">
        #{numoda,jdbcType=VARCHAR},
      </if>
      <if test="ebaymoneytype != null">
        #{ebaymoneytype,jdbcType=VARCHAR},
      </if>
      <if test="ebaybuyitnewprice != null">
        #{ebaybuyitnewprice,jdbcType=DECIMAL},
      </if>
      <if test="selloper != null">
        #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="quantitysold1 != null">
        #{quantitysold1,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold7 != null">
        #{quantitysold7,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold14 != null">
        #{quantitysold14,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold21 != null">
        #{quantitysold21,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold28 != null">
        #{quantitysold28,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold56 != null">
        #{quantitysold56,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold != null">
        #{quantitysold,jdbcType=DECIMAL},
      </if>
      <if test="quantitysoldavg != null">
        #{quantitysoldavg,jdbcType=DECIMAL},
      </if>
      <if test="hitcount1 != null">
        #{hitcount1,jdbcType=DECIMAL},
      </if>
      <if test="hitcount7 != null">
        #{hitcount7,jdbcType=DECIMAL},
      </if>
      <if test="hitcount14 != null">
        #{hitcount14,jdbcType=DECIMAL},
      </if>
      <if test="hitcount21 != null">
        #{hitcount21,jdbcType=DECIMAL},
      </if>
      <if test="hitcount28 != null">
        #{hitcount28,jdbcType=DECIMAL},
      </if>
      <if test="hitcount56 != null">
        #{hitcount56,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=DECIMAL},
      </if>
      <if test="ebaytitle != null">
        #{ebaytitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebayshopname != null">
        #{ebayshopname,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaylocation != null">
        #{ebaylocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaygalleryurl != null">
        #{ebaygalleryurl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbSalesdata">
    update db_salesdata
    <set>
      <if test="ebayitemid != null">
        EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="ebaysku != null">
        EBAYSKU = #{ebaysku,jdbcType=VARCHAR},
      </if>
      <if test="ebaycategoryid != null">
        EBAYCATEGORYID = #{ebaycategoryid,jdbcType=VARCHAR},
      </if>
      <if test="ebaycategoryname != null">
        EBAYCATEGORYNAME = #{ebaycategoryname,jdbcType=VARCHAR},
      </if>
      <if test="ebayuserid != null">
        EBAYUSERID = #{ebayuserid,jdbcType=VARCHAR},
      </if>
      <if test="ebayshopid != null">
        EBAYSHOPID = #{ebayshopid,jdbcType=VARCHAR},
      </if>
      <if test="hitcount != null">
        HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      </if>
      <if test="ebaystarttimestr != null">
        EBAYSTARTTIMESTR = #{ebaystarttimestr,jdbcType=VARCHAR},
      </if>
      <if test="numoda != null">
        NUMODA = #{numoda,jdbcType=VARCHAR},
      </if>
      <if test="ebaymoneytype != null">
        EBAYMONEYTYPE = #{ebaymoneytype,jdbcType=VARCHAR},
      </if>
      <if test="ebaybuyitnewprice != null">
        EBAYBUYITNEWPRICE = #{ebaybuyitnewprice,jdbcType=DECIMAL},
      </if>
      <if test="selloper != null">
        SELLOPER = #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="quantitysold1 != null">
        QUANTITYSOLD1 = #{quantitysold1,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold7 != null">
        QUANTITYSOLD7 = #{quantitysold7,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold14 != null">
        QUANTITYSOLD14 = #{quantitysold14,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold21 != null">
        QUANTITYSOLD21 = #{quantitysold21,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold28 != null">
        QUANTITYSOLD28 = #{quantitysold28,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold56 != null">
        QUANTITYSOLD56 = #{quantitysold56,jdbcType=DECIMAL},
      </if>
      <if test="quantitysold != null">
        QUANTITYSOLD = #{quantitysold,jdbcType=DECIMAL},
      </if>
      <if test="quantitysoldavg != null">
        QUANTITYSOLDAVG = #{quantitysoldavg,jdbcType=DECIMAL},
      </if>
      <if test="hitcount1 != null">
        HITCOUNT1 = #{hitcount1,jdbcType=DECIMAL},
      </if>
      <if test="hitcount7 != null">
        HITCOUNT7 = #{hitcount7,jdbcType=DECIMAL},
      </if>
      <if test="hitcount14 != null">
        HITCOUNT14 = #{hitcount14,jdbcType=DECIMAL},
      </if>
      <if test="hitcount21 != null">
        HITCOUNT21 = #{hitcount21,jdbcType=DECIMAL},
      </if>
      <if test="hitcount28 != null">
        HITCOUNT28 = #{hitcount28,jdbcType=DECIMAL},
      </if>
      <if test="hitcount56 != null">
        HITCOUNT56 = #{hitcount56,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=DECIMAL},
      </if>
      <if test="ebaytitle != null">
        EBAYTITLE = #{ebaytitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebayshopname != null">
        EBAYSHOPNAME = #{ebayshopname,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaylocation != null">
        EBAYLOCATION = #{ebaylocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebaygalleryurl != null">
        EBAYGALLERYURL = #{ebaygalleryurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbSalesdata">
    update db_salesdata
    set EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      EBAYSKU = #{ebaysku,jdbcType=VARCHAR},
      EBAYCATEGORYID = #{ebaycategoryid,jdbcType=VARCHAR},
      EBAYCATEGORYNAME = #{ebaycategoryname,jdbcType=VARCHAR},
      EBAYUSERID = #{ebayuserid,jdbcType=VARCHAR},
      EBAYSHOPID = #{ebayshopid,jdbcType=VARCHAR},
      HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      EBAYSTARTTIMESTR = #{ebaystarttimestr,jdbcType=VARCHAR},
      NUMODA = #{numoda,jdbcType=VARCHAR},
      EBAYMONEYTYPE = #{ebaymoneytype,jdbcType=VARCHAR},
      EBAYBUYITNEWPRICE = #{ebaybuyitnewprice,jdbcType=DECIMAL},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      QUANTITYSOLD1 = #{quantitysold1,jdbcType=DECIMAL},
      QUANTITYSOLD7 = #{quantitysold7,jdbcType=DECIMAL},
      QUANTITYSOLD14 = #{quantitysold14,jdbcType=DECIMAL},
      QUANTITYSOLD21 = #{quantitysold21,jdbcType=DECIMAL},
      QUANTITYSOLD28 = #{quantitysold28,jdbcType=DECIMAL},
      QUANTITYSOLD56 = #{quantitysold56,jdbcType=DECIMAL},
      QUANTITYSOLD = #{quantitysold,jdbcType=DECIMAL},
      QUANTITYSOLDAVG = #{quantitysoldavg,jdbcType=DECIMAL},
      HITCOUNT1 = #{hitcount1,jdbcType=DECIMAL},
      HITCOUNT7 = #{hitcount7,jdbcType=DECIMAL},
      HITCOUNT14 = #{hitcount14,jdbcType=DECIMAL},
      HITCOUNT21 = #{hitcount21,jdbcType=DECIMAL},
      HITCOUNT28 = #{hitcount28,jdbcType=DECIMAL},
      HITCOUNT56 = #{hitcount56,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      FLAG = #{flag,jdbcType=DECIMAL},
      EBAYTITLE = #{ebaytitle,jdbcType=LONGVARCHAR},
      EBAYSHOPNAME = #{ebayshopname,jdbcType=LONGVARCHAR},
      EBAYLOCATION = #{ebaylocation,jdbcType=LONGVARCHAR},
      EBAYGALLERYURL = #{ebaygalleryurl,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbSalesdata">
    update db_salesdata
    set EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      EBAYSKU = #{ebaysku,jdbcType=VARCHAR},
      EBAYCATEGORYID = #{ebaycategoryid,jdbcType=VARCHAR},
      EBAYCATEGORYNAME = #{ebaycategoryname,jdbcType=VARCHAR},
      EBAYUSERID = #{ebayuserid,jdbcType=VARCHAR},
      EBAYSHOPID = #{ebayshopid,jdbcType=VARCHAR},
      HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      EBAYSTARTTIMESTR = #{ebaystarttimestr,jdbcType=VARCHAR},
      NUMODA = #{numoda,jdbcType=VARCHAR},
      EBAYMONEYTYPE = #{ebaymoneytype,jdbcType=VARCHAR},
      EBAYBUYITNEWPRICE = #{ebaybuyitnewprice,jdbcType=DECIMAL},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      QUANTITYSOLD1 = #{quantitysold1,jdbcType=DECIMAL},
      QUANTITYSOLD7 = #{quantitysold7,jdbcType=DECIMAL},
      QUANTITYSOLD14 = #{quantitysold14,jdbcType=DECIMAL},
      QUANTITYSOLD21 = #{quantitysold21,jdbcType=DECIMAL},
      QUANTITYSOLD28 = #{quantitysold28,jdbcType=DECIMAL},
      QUANTITYSOLD56 = #{quantitysold56,jdbcType=DECIMAL},
      QUANTITYSOLD = #{quantitysold,jdbcType=DECIMAL},
      QUANTITYSOLDAVG = #{quantitysoldavg,jdbcType=DECIMAL},
      HITCOUNT1 = #{hitcount1,jdbcType=DECIMAL},
      HITCOUNT7 = #{hitcount7,jdbcType=DECIMAL},
      HITCOUNT14 = #{hitcount14,jdbcType=DECIMAL},
      HITCOUNT21 = #{hitcount21,jdbcType=DECIMAL},
      HITCOUNT28 = #{hitcount28,jdbcType=DECIMAL},
      HITCOUNT56 = #{hitcount56,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      FLAG = #{flag,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>