<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShiptolocationMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShiptolocation">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYSHIPTO" jdbcType="VARCHAR" property="ebayshipto" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, EBAYITEMID, EBAYSHIPTO, FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_shiptolocation
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_shiptolocation
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbShiptolocation">
    insert into db_shiptolocation (SID, EBAYITEMID, EBAYSHIPTO, 
      FLAG)
    values (#{sid,jdbcType=VARCHAR}, #{ebayitemid,jdbcType=VARCHAR}, #{ebayshipto,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbShiptolocation">
    insert into db_shiptolocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="ebayitemid != null">
        EBAYITEMID,
      </if>
      <if test="ebayshipto != null">
        EBAYSHIPTO,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemid != null">
        #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="ebayshipto != null">
        #{ebayshipto,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbShiptolocation">
    update db_shiptolocation
    <set>
      <if test="ebayitemid != null">
        EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="ebayshipto != null">
        EBAYSHIPTO = #{ebayshipto,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbShiptolocation">
    update db_shiptolocation
    set EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      EBAYSHIPTO = #{ebayshipto,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>