<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTempsavenumMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTempsavenum">
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="NEXTOPER" jdbcType="VARCHAR" property="nextoper" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="PURCHASENUM" jdbcType="DECIMAL" property="purchasenum" />
    <result column="NEXTNUM" jdbcType="VARCHAR" property="nextnum" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="NEXTOPERTIME" jdbcType="TIMESTAMP" property="nextopertime" />
    <result column="PURCHSEOPERTIME" jdbcType="TIMESTAMP" property="purchseopertime" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="CHECKNUM" jdbcType="DECIMAL" property="checknum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbTempsavenum">
    <result column="NEXTDESCR" jdbcType="LONGVARCHAR" property="nextdescr" />
    <result column="PURCHASEDESCR" jdbcType="LONGVARCHAR" property="purchasedescr" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Blob_Column_List">
    NEXTDESCR, PURCHASEDESCR, PRODUCTNAME, DESCR
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbTempsavenum">
    insert into db_tempsavenum (PRODUCTID, OPER, PURCHASEOPER, 
      NEXTOPER, SAVENUM, PURCHASENUM, 
      NEXTNUM, OPERTIME, NEXTOPERTIME, 
      PURCHSEOPERTIME, FLAG, CHECKNUM, 
      NEXTDESCR, PURCHASEDESCR, PRODUCTNAME, 
      DESCR)
    values (#{productid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{purchaseoper,jdbcType=VARCHAR}, 
      #{nextoper,jdbcType=VARCHAR}, #{savenum,jdbcType=DECIMAL}, #{purchasenum,jdbcType=DECIMAL}, 
      #{nextnum,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{nextopertime,jdbcType=TIMESTAMP}, 
      #{purchseopertime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}, #{checknum,jdbcType=DECIMAL}, 
      #{nextdescr,jdbcType=LONGVARCHAR}, #{purchasedescr,jdbcType=LONGVARCHAR}, #{productname,jdbcType=LONGVARCHAR}, 
      #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbTempsavenum">
    insert into db_tempsavenum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="purchaseoper != null">
        PURCHASEOPER,
      </if>
      <if test="nextoper != null">
        NEXTOPER,
      </if>
      <if test="savenum != null">
        SAVENUM,
      </if>
      <if test="purchasenum != null">
        PURCHASENUM,
      </if>
      <if test="nextnum != null">
        NEXTNUM,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="nextopertime != null">
        NEXTOPERTIME,
      </if>
      <if test="purchseopertime != null">
        PURCHSEOPERTIME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="checknum != null">
        CHECKNUM,
      </if>
      <if test="nextdescr != null">
        NEXTDESCR,
      </if>
      <if test="purchasedescr != null">
        PURCHASEDESCR,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseoper != null">
        #{purchaseoper,jdbcType=VARCHAR},
      </if>
      <if test="nextoper != null">
        #{nextoper,jdbcType=VARCHAR},
      </if>
      <if test="savenum != null">
        #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="purchasenum != null">
        #{purchasenum,jdbcType=DECIMAL},
      </if>
      <if test="nextnum != null">
        #{nextnum,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextopertime != null">
        #{nextopertime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchseopertime != null">
        #{purchseopertime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="checknum != null">
        #{checknum,jdbcType=DECIMAL},
      </if>
      <if test="nextdescr != null">
        #{nextdescr,jdbcType=LONGVARCHAR},
      </if>
      <if test="purchasedescr != null">
        #{purchasedescr,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>