<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAddactionMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAddaction">
    <result column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="FUNCTION3" jdbcType="VARCHAR" property="function3" />
    <result column="FUNCTION11" jdbcType="VARCHAR" property="function11" />
    <result column="FUNCTION8" jdbcType="VARCHAR" property="function8" />
    <result column="SEARCHNAME" jdbcType="VARCHAR" property="searchname" />
    <result column="FUNCTION9" jdbcType="VARCHAR" property="function9" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="FUNCTION13" jdbcType="VARCHAR" property="function13" />
    <result column="FUNCTION6" jdbcType="VARCHAR" property="function6" />
    <result column="FUNCTION7" jdbcType="VARCHAR" property="function7" />
    <result column="FUNCTION12" jdbcType="VARCHAR" property="function12" />
    <result column="FUNCTIONNAME" jdbcType="VARCHAR" property="functionname" />
    <result column="FUNCTION2" jdbcType="VARCHAR" property="function2" />
    <result column="FUNCTION4" jdbcType="VARCHAR" property="function4" />
    <result column="FUNCTION14" jdbcType="VARCHAR" property="function14" />
    <result column="FUNCTION1" jdbcType="VARCHAR" property="function1" />
    <result column="FUNCTION10" jdbcType="VARCHAR" property="function10" />
    <result column="SEARCHID" jdbcType="VARCHAR" property="searchid" />
    <result column="FUNCTIONID" jdbcType="VARCHAR" property="functionid" />
    <result column="FUNCTION15" jdbcType="VARCHAR" property="function15" />
    <result column="FUNCTION5" jdbcType="VARCHAR" property="function5" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbAddaction">
    <result column="SQLWHERE" jdbcType="LONGVARCHAR" property="sqlwhere" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Blob_Column_List">
    SQLWHERE, DESCR
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbAddaction">
    insert into db_addaction (SEQUENCEID, FUNCTION3, FUNCTION11, 
      FUNCTION8, SEARCHNAME, FUNCTION9, 
      SORT, FUNCTION13, FUNCTION6, 
      FUNCTION7, FUNCTION12, FUNCTIONNAME, 
      FUNCTION2, FUNCTION4, FUNCTION14, 
      FUNCTION1, FUNCTION10, SEARCHID, 
      FUNCTIONID, FUNCTION15, FUNCTION5, 
      SQLWHERE, DESCR)
    values (#{sequenceid,jdbcType=VARCHAR}, #{function3,jdbcType=VARCHAR}, #{function11,jdbcType=VARCHAR}, 
      #{function8,jdbcType=VARCHAR}, #{searchname,jdbcType=VARCHAR}, #{function9,jdbcType=VARCHAR}, 
      #{sort,jdbcType=DECIMAL}, #{function13,jdbcType=VARCHAR}, #{function6,jdbcType=VARCHAR}, 
      #{function7,jdbcType=VARCHAR}, #{function12,jdbcType=VARCHAR}, #{functionname,jdbcType=VARCHAR}, 
      #{function2,jdbcType=VARCHAR}, #{function4,jdbcType=VARCHAR}, #{function14,jdbcType=VARCHAR}, 
      #{function1,jdbcType=VARCHAR}, #{function10,jdbcType=VARCHAR}, #{searchid,jdbcType=VARCHAR}, 
      #{functionid,jdbcType=VARCHAR}, #{function15,jdbcType=VARCHAR}, #{function5,jdbcType=VARCHAR}, 
      #{sqlwhere,jdbcType=LONGVARCHAR}, #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbAddaction">
    insert into db_addaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="function3 != null">
        FUNCTION3,
      </if>
      <if test="function11 != null">
        FUNCTION11,
      </if>
      <if test="function8 != null">
        FUNCTION8,
      </if>
      <if test="searchname != null">
        SEARCHNAME,
      </if>
      <if test="function9 != null">
        FUNCTION9,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="function13 != null">
        FUNCTION13,
      </if>
      <if test="function6 != null">
        FUNCTION6,
      </if>
      <if test="function7 != null">
        FUNCTION7,
      </if>
      <if test="function12 != null">
        FUNCTION12,
      </if>
      <if test="functionname != null">
        FUNCTIONNAME,
      </if>
      <if test="function2 != null">
        FUNCTION2,
      </if>
      <if test="function4 != null">
        FUNCTION4,
      </if>
      <if test="function14 != null">
        FUNCTION14,
      </if>
      <if test="function1 != null">
        FUNCTION1,
      </if>
      <if test="function10 != null">
        FUNCTION10,
      </if>
      <if test="searchid != null">
        SEARCHID,
      </if>
      <if test="functionid != null">
        FUNCTIONID,
      </if>
      <if test="function15 != null">
        FUNCTION15,
      </if>
      <if test="function5 != null">
        FUNCTION5,
      </if>
      <if test="sqlwhere != null">
        SQLWHERE,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="function3 != null">
        #{function3,jdbcType=VARCHAR},
      </if>
      <if test="function11 != null">
        #{function11,jdbcType=VARCHAR},
      </if>
      <if test="function8 != null">
        #{function8,jdbcType=VARCHAR},
      </if>
      <if test="searchname != null">
        #{searchname,jdbcType=VARCHAR},
      </if>
      <if test="function9 != null">
        #{function9,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="function13 != null">
        #{function13,jdbcType=VARCHAR},
      </if>
      <if test="function6 != null">
        #{function6,jdbcType=VARCHAR},
      </if>
      <if test="function7 != null">
        #{function7,jdbcType=VARCHAR},
      </if>
      <if test="function12 != null">
        #{function12,jdbcType=VARCHAR},
      </if>
      <if test="functionname != null">
        #{functionname,jdbcType=VARCHAR},
      </if>
      <if test="function2 != null">
        #{function2,jdbcType=VARCHAR},
      </if>
      <if test="function4 != null">
        #{function4,jdbcType=VARCHAR},
      </if>
      <if test="function14 != null">
        #{function14,jdbcType=VARCHAR},
      </if>
      <if test="function1 != null">
        #{function1,jdbcType=VARCHAR},
      </if>
      <if test="function10 != null">
        #{function10,jdbcType=VARCHAR},
      </if>
      <if test="searchid != null">
        #{searchid,jdbcType=VARCHAR},
      </if>
      <if test="functionid != null">
        #{functionid,jdbcType=VARCHAR},
      </if>
      <if test="function15 != null">
        #{function15,jdbcType=VARCHAR},
      </if>
      <if test="function5 != null">
        #{function5,jdbcType=VARCHAR},
      </if>
      <if test="sqlwhere != null">
        #{sqlwhere,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>