<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAlibbMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAlibb">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SLEVEL" jdbcType="VARCHAR" property="slevel" />
    <result column="CREDIT1" jdbcType="DECIMAL" property="credit1" />
    <result column="CREDIT2" jdbcType="DECIMAL" property="credit2" />
    <result column="CREDIT3" jdbcType="DECIMAL" property="credit3" />
    <result column="MANAGER" jdbcType="VARCHAR" property="manager" />
    <result column="TELE" jdbcType="VARCHAR" property="tele" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="TEMPLETFILE" jdbcType="VARCHAR" property="templetfile" />
    <result column="TEMPLETCONTENT" jdbcType="VARCHAR" property="templetcontent" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RATE" jdbcType="DECIMAL" property="rate" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="RESERVE11" jdbcType="VARCHAR" property="reserve11" />
    <result column="RESERVE12" jdbcType="VARCHAR" property="reserve12" />
    <result column="RESERVE13" jdbcType="VARCHAR" property="reserve13" />
    <result column="RESERVE14" jdbcType="VARCHAR" property="reserve14" />
    <result column="RESERVE15" jdbcType="DECIMAL" property="reserve15" />
    <result column="RESERVE16" jdbcType="DECIMAL" property="reserve16" />
    <result column="RESERVE17" jdbcType="DECIMAL" property="reserve17" />
    <result column="RESERVE18" jdbcType="DECIMAL" property="reserve18" />
    <result column="RESERVE19" jdbcType="VARCHAR" property="reserve19" />
    <result column="RESERVE20" jdbcType="VARCHAR" property="reserve20" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="TOKENID" jdbcType="VARCHAR" property="tokenid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="TOKENFLAG" jdbcType="VARCHAR" property="tokenflag" />
    <result column="TOKENDESCR" jdbcType="VARCHAR" property="tokendescr" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="CONTACTE" jdbcType="VARCHAR" property="contacte" />
    <result column="STREET" jdbcType="VARCHAR" property="street" />
    <result column="STREETE" jdbcType="VARCHAR" property="streete" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EUBEMAIL" jdbcType="VARCHAR" property="eubemail" />
    <result column="DEVUSERID" jdbcType="VARCHAR" property="devuserid" />
    <result column="EUBTONKEN" jdbcType="VARCHAR" property="eubtonken" />
    <result column="SELLUSERID" jdbcType="VARCHAR" property="selluserid" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="EBAYSITID" jdbcType="VARCHAR" property="ebaysitid" />
    <result column="PROVINCEEN" jdbcType="VARCHAR" property="provinceen" />
    <result column="CITYEN" jdbcType="VARCHAR" property="cityen" />
    <result column="DISTRICTEN" jdbcType="VARCHAR" property="districten" />
    <result column="EBAYFEEMONEYRATE" jdbcType="VARCHAR" property="ebayfeemoneyrate" />
    <result column="ACCESSKEYID" jdbcType="VARCHAR" property="accesskeyid" />
    <result column="SECRETACCESSKEY" jdbcType="VARCHAR" property="secretaccesskey" />
    <result column="APPLICATIONNAME" jdbcType="VARCHAR" property="applicationname" />
    <result column="SELLERID" jdbcType="VARCHAR" property="sellerid" />
    <result column="MARKETPLACEID" jdbcType="VARCHAR" property="marketplaceid" />
    <result column="STARTTIME" jdbcType="VARCHAR" property="starttime" />
    <result column="ENDTIME" jdbcType="VARCHAR" property="endtime" />
    <result column="AMAZON" jdbcType="VARCHAR" property="amazon" />
    <result column="AMAZONFLAG" jdbcType="VARCHAR" property="amazonflag" />
    <result column="SPAYPALNAME" jdbcType="VARCHAR" property="spaypalname" />
    <result column="AMAZONURL" jdbcType="VARCHAR" property="amazonurl" />
    <result column="AMAZONURLNAME" jdbcType="VARCHAR" property="amazonurlname" />
    <result column="EBAYSHOPID" jdbcType="VARCHAR" property="ebayshopid" />
    <result column="EBAYSHOPNAME" jdbcType="VARCHAR" property="ebayshopname" />
    <result column="ORDEROPER" jdbcType="DECIMAL" property="orderoper" />
    <result column="PAYPALEMAIL" jdbcType="VARCHAR" property="paypalemail" />
    <result column="SHOPMANAGER" jdbcType="VARCHAR" property="shopmanager" />
    <result column="CSCARTEMAIL" jdbcType="VARCHAR" property="cscartemail" />
    <result column="TEMPLETCLOB" jdbcType="CLOB" property="templetclob" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, CORPID, NAME, DESCR, PASSWORD, SLEVEL, CREDIT1, CREDIT2, CREDIT3, MANAGER, 
    TELE, FAX, EMAIL, ORDERNUM, TEMPLETFILE, TEMPLETCONTENT, OPER, OPERTIME, RATE, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, 
    RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, 
    RESERVE19, RESERVE20, ITEMID, TOKENID, OPENFLAG, TOKENFLAG, TOKENDESCR, CONTACT, 
    CONTACTE, STREET, STREETE, PROVINCE, CITY, DISTRICT, POSTCODE, MOBILE, PHONE, EUBEMAIL, 
    DEVUSERID, EUBTONKEN, SELLUSERID, VERSION, EBAYSITID, PROVINCEEN, CITYEN, DISTRICTEN, 
    EBAYFEEMONEYRATE, ACCESSKEYID, SECRETACCESSKEY, APPLICATIONNAME, SELLERID, MARKETPLACEID, 
    STARTTIME, ENDTIME, AMAZON, AMAZONFLAG, SPAYPALNAME, AMAZONURL, AMAZONURLNAME, EBAYSHOPID, 
    EBAYSHOPNAME, ORDEROPER, PAYPALEMAIL, SHOPMANAGER, CSCARTEMAIL, TEMPLETCLOB
    from DB_ALIBB
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, CORPID, NAME, DESCR, PASSWORD, SLEVEL, CREDIT1, CREDIT2, CREDIT3, MANAGER, 
    TELE, FAX, EMAIL, ORDERNUM, TEMPLETFILE, TEMPLETCONTENT, OPER, OPERTIME, RATE, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, 
    RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, 
    RESERVE19, RESERVE20, ITEMID, TOKENID, OPENFLAG, TOKENFLAG, TOKENDESCR, CONTACT, 
    CONTACTE, STREET, STREETE, PROVINCE, CITY, DISTRICT, POSTCODE, MOBILE, PHONE, EUBEMAIL, 
    DEVUSERID, EUBTONKEN, SELLUSERID, VERSION, EBAYSITID, PROVINCEEN, CITYEN, DISTRICTEN, 
    EBAYFEEMONEYRATE, ACCESSKEYID, SECRETACCESSKEY, APPLICATIONNAME, SELLERID, MARKETPLACEID, 
    STARTTIME, ENDTIME, AMAZON, AMAZONFLAG, SPAYPALNAME, AMAZONURL, AMAZONURLNAME, EBAYSHOPID, 
    EBAYSHOPNAME, ORDEROPER, PAYPALEMAIL, SHOPMANAGER, CSCARTEMAIL, TEMPLETCLOB
    from DB_ALIBB
  </select>
  <sql id="TableName">
    DB_ALIBB
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{password,jdbcType=VARCHAR} , 
     #{slevel,jdbcType=VARCHAR} , 
     #{credit1,jdbcType=DECIMAL} , 
     #{credit2,jdbcType=DECIMAL} , 
     #{credit3,jdbcType=DECIMAL} , 
     #{manager,jdbcType=VARCHAR} , 
     #{tele,jdbcType=VARCHAR} , 
     #{fax,jdbcType=VARCHAR} , 
     #{email,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{templetfile,jdbcType=VARCHAR} , 
     #{templetcontent,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{rate,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=VARCHAR} , 
     #{reserve11,jdbcType=VARCHAR} , 
     #{reserve12,jdbcType=VARCHAR} , 
     #{reserve13,jdbcType=VARCHAR} , 
     #{reserve14,jdbcType=VARCHAR} , 
     #{reserve15,jdbcType=DECIMAL} , 
     #{reserve16,jdbcType=DECIMAL} , 
     #{reserve17,jdbcType=DECIMAL} , 
     #{reserve18,jdbcType=DECIMAL} , 
     #{reserve19,jdbcType=VARCHAR} , 
     #{reserve20,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{tokenid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{tokenflag,jdbcType=VARCHAR} , 
     #{tokendescr,jdbcType=VARCHAR} , 
     #{contact,jdbcType=VARCHAR} , 
     #{contacte,jdbcType=VARCHAR} , 
     #{street,jdbcType=VARCHAR} , 
     #{streete,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{district,jdbcType=VARCHAR} , 
     #{postcode,jdbcType=VARCHAR} , 
     #{mobile,jdbcType=VARCHAR} , 
     #{phone,jdbcType=VARCHAR} , 
     #{eubemail,jdbcType=VARCHAR} , 
     #{devuserid,jdbcType=VARCHAR} , 
     #{eubtonken,jdbcType=VARCHAR} , 
     #{selluserid,jdbcType=VARCHAR} , 
     #{version,jdbcType=VARCHAR} , 
     #{ebaysitid,jdbcType=VARCHAR} , 
     #{provinceen,jdbcType=VARCHAR} , 
     #{cityen,jdbcType=VARCHAR} , 
     #{districten,jdbcType=VARCHAR} , 
     #{ebayfeemoneyrate,jdbcType=VARCHAR} , 
     #{accesskeyid,jdbcType=VARCHAR} , 
     #{secretaccesskey,jdbcType=VARCHAR} , 
     #{applicationname,jdbcType=VARCHAR} , 
     #{sellerid,jdbcType=VARCHAR} , 
     #{marketplaceid,jdbcType=VARCHAR} , 
     #{starttime,jdbcType=VARCHAR} , 
     #{endtime,jdbcType=VARCHAR} , 
     #{amazon,jdbcType=VARCHAR} , 
     #{amazonflag,jdbcType=VARCHAR} , 
     #{spaypalname,jdbcType=VARCHAR} , 
     #{amazonurl,jdbcType=VARCHAR} , 
     #{amazonurlname,jdbcType=VARCHAR} , 
     #{ebayshopid,jdbcType=VARCHAR} , 
     #{ebayshopname,jdbcType=VARCHAR} , 
     #{orderoper,jdbcType=DECIMAL} , 
     #{paypalemail,jdbcType=VARCHAR} , 
     #{shopmanager,jdbcType=VARCHAR} , 
     #{cscartemail,jdbcType=VARCHAR} , 
     #{templetclob,jdbcType=CLOB} , 
  </sql>
  <sql id="Columns">
    SID , 
    CORPID , 
    NAME , 
    DESCR , 
    PASSWORD , 
    SLEVEL , 
    CREDIT1 , 
    CREDIT2 , 
    CREDIT3 , 
    MANAGER , 
    TELE , 
    FAX , 
    EMAIL , 
    ORDERNUM , 
    TEMPLETFILE , 
    TEMPLETCONTENT , 
    OPER , 
    OPERTIME , 
    RATE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    RESERVE17 , 
    RESERVE18 , 
    RESERVE19 , 
    RESERVE20 , 
    ITEMID , 
    TOKENID , 
    OPENFLAG , 
    TOKENFLAG , 
    TOKENDESCR , 
    CONTACT , 
    CONTACTE , 
    STREET , 
    STREETE , 
    PROVINCE , 
    CITY , 
    DISTRICT , 
    POSTCODE , 
    MOBILE , 
    PHONE , 
    EUBEMAIL , 
    DEVUSERID , 
    EUBTONKEN , 
    SELLUSERID , 
    VERSION , 
    EBAYSITID , 
    PROVINCEEN , 
    CITYEN , 
    DISTRICTEN , 
    EBAYFEEMONEYRATE , 
    ACCESSKEYID , 
    SECRETACCESSKEY , 
    APPLICATIONNAME , 
    SELLERID , 
    MARKETPLACEID , 
    STARTTIME , 
    ENDTIME , 
    AMAZON , 
    AMAZONFLAG , 
    SPAYPALNAME , 
    AMAZONURL , 
    AMAZONURLNAME , 
    EBAYSHOPID , 
    EBAYSHOPNAME , 
    ORDEROPER , 
    PAYPALEMAIL , 
    SHOPMANAGER , 
    CSCARTEMAIL , 
    TEMPLETCLOB , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="password != null">
      password = #{password,jdbcType=VARCHAR} and 
    </if>
    <if test="slevel != null">
      slevel = #{slevel,jdbcType=VARCHAR} and 
    </if>
    <if test="credit1 != null">
      credit1 = #{credit1,jdbcType=DECIMAL} and 
    </if>
    <if test="credit2 != null">
      credit2 = #{credit2,jdbcType=DECIMAL} and 
    </if>
    <if test="credit3 != null">
      credit3 = #{credit3,jdbcType=DECIMAL} and 
    </if>
    <if test="manager != null">
      manager = #{manager,jdbcType=VARCHAR} and 
    </if>
    <if test="tele != null">
      tele = #{tele,jdbcType=VARCHAR} and 
    </if>
    <if test="fax != null">
      fax = #{fax,jdbcType=VARCHAR} and 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="templetfile != null">
      templetfile = #{templetfile,jdbcType=VARCHAR} and 
    </if>
    <if test="templetcontent != null">
      templetcontent = #{templetcontent,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="rate != null">
      rate = #{rate,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="tokenid != null">
      tokenid = #{tokenid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="tokenflag != null">
      tokenflag = #{tokenflag,jdbcType=VARCHAR} and 
    </if>
    <if test="tokendescr != null">
      tokendescr = #{tokendescr,jdbcType=VARCHAR} and 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} and 
    </if>
    <if test="contacte != null">
      contacte = #{contacte,jdbcType=VARCHAR} and 
    </if>
    <if test="street != null">
      street = #{street,jdbcType=VARCHAR} and 
    </if>
    <if test="streete != null">
      streete = #{streete,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} and 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} and 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} and 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} and 
    </if>
    <if test="eubemail != null">
      eubemail = #{eubemail,jdbcType=VARCHAR} and 
    </if>
    <if test="devuserid != null">
      devuserid = #{devuserid,jdbcType=VARCHAR} and 
    </if>
    <if test="eubtonken != null">
      eubtonken = #{eubtonken,jdbcType=VARCHAR} and 
    </if>
    <if test="selluserid != null">
      selluserid = #{selluserid,jdbcType=VARCHAR} and 
    </if>
    <if test="version != null">
      version = #{version,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysitid != null">
      ebaysitid = #{ebaysitid,jdbcType=VARCHAR} and 
    </if>
    <if test="provinceen != null">
      provinceen = #{provinceen,jdbcType=VARCHAR} and 
    </if>
    <if test="cityen != null">
      cityen = #{cityen,jdbcType=VARCHAR} and 
    </if>
    <if test="districten != null">
      districten = #{districten,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayfeemoneyrate != null">
      ebayfeemoneyrate = #{ebayfeemoneyrate,jdbcType=VARCHAR} and 
    </if>
    <if test="accesskeyid != null">
      accesskeyid = #{accesskeyid,jdbcType=VARCHAR} and 
    </if>
    <if test="secretaccesskey != null">
      secretaccesskey = #{secretaccesskey,jdbcType=VARCHAR} and 
    </if>
    <if test="applicationname != null">
      applicationname = #{applicationname,jdbcType=VARCHAR} and 
    </if>
    <if test="sellerid != null">
      sellerid = #{sellerid,jdbcType=VARCHAR} and 
    </if>
    <if test="marketplaceid != null">
      marketplaceid = #{marketplaceid,jdbcType=VARCHAR} and 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=VARCHAR} and 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=VARCHAR} and 
    </if>
    <if test="amazon != null">
      amazon = #{amazon,jdbcType=VARCHAR} and 
    </if>
    <if test="amazonflag != null">
      amazonflag = #{amazonflag,jdbcType=VARCHAR} and 
    </if>
    <if test="spaypalname != null">
      spaypalname = #{spaypalname,jdbcType=VARCHAR} and 
    </if>
    <if test="amazonurl != null">
      amazonurl = #{amazonurl,jdbcType=VARCHAR} and 
    </if>
    <if test="amazonurlname != null">
      amazonurlname = #{amazonurlname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshopid != null">
      ebayshopid = #{ebayshopid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshopname != null">
      ebayshopname = #{ebayshopname,jdbcType=VARCHAR} and 
    </if>
    <if test="orderoper != null">
      orderoper = #{orderoper,jdbcType=DECIMAL} and 
    </if>
    <if test="paypalemail != null">
      paypalemail = #{paypalemail,jdbcType=VARCHAR} and 
    </if>
    <if test="shopmanager != null">
      shopmanager = #{shopmanager,jdbcType=VARCHAR} and 
    </if>
    <if test="cscartemail != null">
      cscartemail = #{cscartemail,jdbcType=VARCHAR} and 
    </if>
    <if test="templetclob != null">
      templetclob = #{templetclob,jdbcType=CLOB} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="password != null">
      password = #{password,jdbcType=VARCHAR} , 
    </if>
    <if test="slevel != null">
      slevel = #{slevel,jdbcType=VARCHAR} , 
    </if>
    <if test="credit1 != null">
      credit1 = #{credit1,jdbcType=DECIMAL} , 
    </if>
    <if test="credit2 != null">
      credit2 = #{credit2,jdbcType=DECIMAL} , 
    </if>
    <if test="credit3 != null">
      credit3 = #{credit3,jdbcType=DECIMAL} , 
    </if>
    <if test="manager != null">
      manager = #{manager,jdbcType=VARCHAR} , 
    </if>
    <if test="tele != null">
      tele = #{tele,jdbcType=VARCHAR} , 
    </if>
    <if test="fax != null">
      fax = #{fax,jdbcType=VARCHAR} , 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="templetfile != null">
      templetfile = #{templetfile,jdbcType=VARCHAR} , 
    </if>
    <if test="templetcontent != null">
      templetcontent = #{templetcontent,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="rate != null">
      rate = #{rate,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="tokenid != null">
      tokenid = #{tokenid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="tokenflag != null">
      tokenflag = #{tokenflag,jdbcType=VARCHAR} , 
    </if>
    <if test="tokendescr != null">
      tokendescr = #{tokendescr,jdbcType=VARCHAR} , 
    </if>
    <if test="contact != null">
      contact = #{contact,jdbcType=VARCHAR} , 
    </if>
    <if test="contacte != null">
      contacte = #{contacte,jdbcType=VARCHAR} , 
    </if>
    <if test="street != null">
      street = #{street,jdbcType=VARCHAR} , 
    </if>
    <if test="streete != null">
      streete = #{streete,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} , 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} , 
    </if>
    <if test="mobile != null">
      mobile = #{mobile,jdbcType=VARCHAR} , 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} , 
    </if>
    <if test="eubemail != null">
      eubemail = #{eubemail,jdbcType=VARCHAR} , 
    </if>
    <if test="devuserid != null">
      devuserid = #{devuserid,jdbcType=VARCHAR} , 
    </if>
    <if test="eubtonken != null">
      eubtonken = #{eubtonken,jdbcType=VARCHAR} , 
    </if>
    <if test="selluserid != null">
      selluserid = #{selluserid,jdbcType=VARCHAR} , 
    </if>
    <if test="version != null">
      version = #{version,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysitid != null">
      ebaysitid = #{ebaysitid,jdbcType=VARCHAR} , 
    </if>
    <if test="provinceen != null">
      provinceen = #{provinceen,jdbcType=VARCHAR} , 
    </if>
    <if test="cityen != null">
      cityen = #{cityen,jdbcType=VARCHAR} , 
    </if>
    <if test="districten != null">
      districten = #{districten,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayfeemoneyrate != null">
      ebayfeemoneyrate = #{ebayfeemoneyrate,jdbcType=VARCHAR} , 
    </if>
    <if test="accesskeyid != null">
      accesskeyid = #{accesskeyid,jdbcType=VARCHAR} , 
    </if>
    <if test="secretaccesskey != null">
      secretaccesskey = #{secretaccesskey,jdbcType=VARCHAR} , 
    </if>
    <if test="applicationname != null">
      applicationname = #{applicationname,jdbcType=VARCHAR} , 
    </if>
    <if test="sellerid != null">
      sellerid = #{sellerid,jdbcType=VARCHAR} , 
    </if>
    <if test="marketplaceid != null">
      marketplaceid = #{marketplaceid,jdbcType=VARCHAR} , 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=VARCHAR} , 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=VARCHAR} , 
    </if>
    <if test="amazon != null">
      amazon = #{amazon,jdbcType=VARCHAR} , 
    </if>
    <if test="amazonflag != null">
      amazonflag = #{amazonflag,jdbcType=VARCHAR} , 
    </if>
    <if test="spaypalname != null">
      spaypalname = #{spaypalname,jdbcType=VARCHAR} , 
    </if>
    <if test="amazonurl != null">
      amazonurl = #{amazonurl,jdbcType=VARCHAR} , 
    </if>
    <if test="amazonurlname != null">
      amazonurlname = #{amazonurlname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshopid != null">
      ebayshopid = #{ebayshopid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshopname != null">
      ebayshopname = #{ebayshopname,jdbcType=VARCHAR} , 
    </if>
    <if test="orderoper != null">
      orderoper = #{orderoper,jdbcType=DECIMAL} , 
    </if>
    <if test="paypalemail != null">
      paypalemail = #{paypalemail,jdbcType=VARCHAR} , 
    </if>
    <if test="shopmanager != null">
      shopmanager = #{shopmanager,jdbcType=VARCHAR} , 
    </if>
    <if test="cscartemail != null">
      cscartemail = #{cscartemail,jdbcType=VARCHAR} , 
    </if>
    <if test="templetclob != null">
      templetclob = #{templetclob,jdbcType=CLOB} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbAlibb" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbAlibb">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbAlibb">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbAlibb">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>