<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbAliskuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbAlisku">
    <id column="SKUID" jdbcType="VARCHAR" property="skuid" />
    <result column="SPUID" jdbcType="VARCHAR" property="spuid" />
    <result column="SELLERID" jdbcType="VARCHAR" property="sellerid" />
    <result column="MABANGSKU" jdbcType="VARCHAR" property="mabangsku" />
    <result column="ALISKU" jdbcType="VARCHAR" property="alisku" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbAlisku">
    <result column="IMGURL" jdbcType="LONGVARCHAR" property="imgurl" />
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="PRODUCTLINK" jdbcType="LONGVARCHAR" property="productlink" />
    <result column="SKUINFO" jdbcType="LONGVARCHAR" property="skuinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    SKUID, SPUID, SELLERID, MABANGSKU, ALISKU
  </sql>
  <sql id="Blob_Column_List">
    IMGURL, 'NAME', PRODUCTLINK, SKUINFO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_alisku
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_alisku
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbAlisku">
    insert into db_alisku (SKUID, SPUID, SELLERID, 
      MABANGSKU, ALISKU, IMGURL, 
      'NAME', PRODUCTLINK, SKUINFO
      )
    values (#{skuid,jdbcType=VARCHAR}, #{spuid,jdbcType=VARCHAR}, #{sellerid,jdbcType=VARCHAR}, 
      #{mabangsku,jdbcType=VARCHAR}, #{alisku,jdbcType=VARCHAR}, #{imgurl,jdbcType=LONGVARCHAR}, 
      #{name,jdbcType=LONGVARCHAR}, #{productlink,jdbcType=LONGVARCHAR}, #{skuinfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbAlisku">
    insert into db_alisku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuid != null">
        SKUID,
      </if>
      <if test="spuid != null">
        SPUID,
      </if>
      <if test="sellerid != null">
        SELLERID,
      </if>
      <if test="mabangsku != null">
        MABANGSKU,
      </if>
      <if test="alisku != null">
        ALISKU,
      </if>
      <if test="imgurl != null">
        IMGURL,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="productlink != null">
        PRODUCTLINK,
      </if>
      <if test="skuinfo != null">
        SKUINFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuid != null">
        #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="spuid != null">
        #{spuid,jdbcType=VARCHAR},
      </if>
      <if test="sellerid != null">
        #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="mabangsku != null">
        #{mabangsku,jdbcType=VARCHAR},
      </if>
      <if test="alisku != null">
        #{alisku,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="productlink != null">
        #{productlink,jdbcType=LONGVARCHAR},
      </if>
      <if test="skuinfo != null">
        #{skuinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbAlisku">
    update db_alisku
    <set>
      <if test="spuid != null">
        SPUID = #{spuid,jdbcType=VARCHAR},
      </if>
      <if test="sellerid != null">
        SELLERID = #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="mabangsku != null">
        MABANGSKU = #{mabangsku,jdbcType=VARCHAR},
      </if>
      <if test="alisku != null">
        ALISKU = #{alisku,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        IMGURL = #{imgurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="productlink != null">
        PRODUCTLINK = #{productlink,jdbcType=LONGVARCHAR},
      </if>
      <if test="skuinfo != null">
        SKUINFO = #{skuinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbAlisku">
    update db_alisku
    set SPUID = #{spuid,jdbcType=VARCHAR},
      SELLERID = #{sellerid,jdbcType=VARCHAR},
      MABANGSKU = #{mabangsku,jdbcType=VARCHAR},
      ALISKU = #{alisku,jdbcType=VARCHAR},
      IMGURL = #{imgurl,jdbcType=LONGVARCHAR},
      'NAME' = #{name,jdbcType=LONGVARCHAR},
      PRODUCTLINK = #{productlink,jdbcType=LONGVARCHAR},
      SKUINFO = #{skuinfo,jdbcType=LONGVARCHAR}
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbAlisku">
    update db_alisku
    set SPUID = #{spuid,jdbcType=VARCHAR},
      SELLERID = #{sellerid,jdbcType=VARCHAR},
      MABANGSKU = #{mabangsku,jdbcType=VARCHAR},
      ALISKU = #{alisku,jdbcType=VARCHAR}
    where SKUID = #{skuid,jdbcType=VARCHAR}
  </update>
</mapper>