<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbBirdproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbBirdproduct">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="BIRDNAME" jdbcType="VARCHAR" property="birdname" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="MABANGSKU" jdbcType="VARCHAR" property="mabangsku" />
    <result column="BIRDSKU" jdbcType="VARCHAR" property="birdsku" />
    <result column="MABANGNAME" jdbcType="VARCHAR" property="mabangname" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, BIRDNAME, DESCR, MABANGSKU, BIRDSKU, MABANGNAME
    from DB_BIRDPRODUCT
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, BIRDNAME, DESCR, MABANGSKU, BIRDSKU, MABANGNAME
    from DB_BIRDPRODUCT
  </select>
  <sql id="TableName">
    DB_BIRDPRODUCT
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{birdname,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{mabangsku,jdbcType=VARCHAR} , 
     #{birdsku,jdbcType=VARCHAR} , 
     #{mabangname,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    BIRDNAME , 
    DESCR , 
    MABANGSKU , 
    BIRDSKU , 
    MABANGNAME , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="birdname != null">
      birdname = #{birdname,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} and 
    </if>
    <if test="birdsku != null">
      birdsku = #{birdsku,jdbcType=VARCHAR} and 
    </if>
    <if test="mabangname != null">
      mabangname = #{mabangname,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="birdname != null">
      birdname = #{birdname,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} , 
    </if>
    <if test="birdsku != null">
      birdsku = #{birdsku,jdbcType=VARCHAR} , 
    </if>
    <if test="mabangname != null">
      mabangname = #{mabangname,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbBirdproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbBirdproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbBirdproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbBirdproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>