<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCaiwulogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCaiwulog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="SOURCEID" jdbcType="VARCHAR" property="sourceid" />
    <result column="MONEYRATE" jdbcType="VARCHAR" property="moneyrate" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbCaiwulog">
    <result column="REMARK" jdbcType="LONGVARCHAR" property="remark" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, 'SOURCE', SOURCEID, MONEYRATE, MONEY, GROUPID, RESERVE4, RESERVE5, CORPID, 
    OPENFLAG, 'STATUS', OPER, OPERTIME
  </sql>
  <sql id="Blob_Column_List">
    REMARK, RESERVE1, RESERVE2, RESERVE3, DESCR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_caiwulog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_caiwulog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbCaiwulog">
    insert into db_caiwulog (SEQUENCEID, 'SOURCE', SOURCEID, 
      MONEYRATE, MONEY, GROUPID, 
      RESERVE4, RESERVE5, CORPID, 
      OPENFLAG, 'STATUS', OPER, 
      OPERTIME, REMARK, RESERVE1, 
      RESERVE2, RESERVE3, DESCR
      )
    values (#{sequenceid,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{sourceid,jdbcType=VARCHAR}, 
      #{moneyrate,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{groupid,jdbcType=VARCHAR}, 
      #{reserve4,jdbcType=DECIMAL}, #{reserve5,jdbcType=DECIMAL}, #{corpid,jdbcType=VARCHAR}, 
      #{openflag,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{remark,jdbcType=LONGVARCHAR}, #{reserve1,jdbcType=LONGVARCHAR}, 
      #{reserve2,jdbcType=LONGVARCHAR}, #{reserve3,jdbcType=LONGVARCHAR}, #{descr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbCaiwulog">
    insert into db_caiwulog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="source != null">
        'SOURCE',
      </if>
      <if test="sourceid != null">
        SOURCEID,
      </if>
      <if test="moneyrate != null">
        MONEYRATE,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="groupid != null">
        GROUPID,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="moneyrate != null">
        #{moneyrate,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbCaiwulog">
    update db_caiwulog
    <set>
      <if test="source != null">
        'SOURCE' = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sourceid != null">
        SOURCEID = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="moneyrate != null">
        MONEYRATE = #{moneyrate,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="groupid != null">
        GROUPID = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="descr != null">
        DESCR = #{descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbCaiwulog">
    update db_caiwulog
    set 'SOURCE' = #{source,jdbcType=VARCHAR},
      SOURCEID = #{sourceid,jdbcType=VARCHAR},
      MONEYRATE = #{moneyrate,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      GROUPID = #{groupid,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      'STATUS' = #{status,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=LONGVARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbCaiwulog">
    update db_caiwulog
    set 'SOURCE' = #{source,jdbcType=VARCHAR},
      SOURCEID = #{sourceid,jdbcType=VARCHAR},
      MONEYRATE = #{moneyrate,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      GROUPID = #{groupid,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      'STATUS' = #{status,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>