<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCalculatconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCalculatconfig">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PAYPALRATEB" jdbcType="DECIMAL" property="paypalrateb" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="FINALVALUEFEERATE" jdbcType="DECIMAL" property="finalvaluefeerate" />
    <result column="POSITION" jdbcType="DECIMAL" property="position" />
    <result column="PUBLISHFEE" jdbcType="DECIMAL" property="publishfee" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="PAYPALRATEL" jdbcType="DECIMAL" property="paypalratel" />
    <result column="EXTRAFEEL" jdbcType="DECIMAL" property="extrafeel" />
    <result column="EXTRAFEEB" jdbcType="DECIMAL" property="extrafeeb" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PAYPALRATEB, OPER, FINALVALUEFEERATE, 'POSITION', PUBLISHFEE, OPERTIME, SITE, 
    PAYPALRATEL, EXTRAFEEL, EXTRAFEEB
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_calculatconfig
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_calculatconfig
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbCalculatconfig">
    insert into db_calculatconfig (ID, PAYPALRATEB, OPER, 
      FINALVALUEFEERATE, 'POSITION', PUBLISHFEE, 
      OPERTIME, SITE, PAYPALRATEL, 
      EXTRAFEEL, EXTRAFEEB)
    values (#{id,jdbcType=DECIMAL}, #{paypalrateb,jdbcType=DECIMAL}, #{oper,jdbcType=VARCHAR}, 
      #{finalvaluefeerate,jdbcType=DECIMAL}, #{position,jdbcType=DECIMAL}, #{publishfee,jdbcType=DECIMAL}, 
      #{opertime,jdbcType=TIMESTAMP}, #{site,jdbcType=VARCHAR}, #{paypalratel,jdbcType=DECIMAL}, 
      #{extrafeel,jdbcType=DECIMAL}, #{extrafeeb,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbCalculatconfig">
    insert into db_calculatconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="paypalrateb != null">
        PAYPALRATEB,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="finalvaluefeerate != null">
        FINALVALUEFEERATE,
      </if>
      <if test="position != null">
        'POSITION',
      </if>
      <if test="publishfee != null">
        PUBLISHFEE,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="paypalratel != null">
        PAYPALRATEL,
      </if>
      <if test="extrafeel != null">
        EXTRAFEEL,
      </if>
      <if test="extrafeeb != null">
        EXTRAFEEB,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="paypalrateb != null">
        #{paypalrateb,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="finalvaluefeerate != null">
        #{finalvaluefeerate,jdbcType=DECIMAL},
      </if>
      <if test="position != null">
        #{position,jdbcType=DECIMAL},
      </if>
      <if test="publishfee != null">
        #{publishfee,jdbcType=DECIMAL},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="paypalratel != null">
        #{paypalratel,jdbcType=DECIMAL},
      </if>
      <if test="extrafeel != null">
        #{extrafeel,jdbcType=DECIMAL},
      </if>
      <if test="extrafeeb != null">
        #{extrafeeb,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbCalculatconfig">
    update db_calculatconfig
    <set>
      <if test="paypalrateb != null">
        PAYPALRATEB = #{paypalrateb,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="finalvaluefeerate != null">
        FINALVALUEFEERATE = #{finalvaluefeerate,jdbcType=DECIMAL},
      </if>
      <if test="position != null">
        'POSITION' = #{position,jdbcType=DECIMAL},
      </if>
      <if test="publishfee != null">
        PUBLISHFEE = #{publishfee,jdbcType=DECIMAL},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null">
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="paypalratel != null">
        PAYPALRATEL = #{paypalratel,jdbcType=DECIMAL},
      </if>
      <if test="extrafeel != null">
        EXTRAFEEL = #{extrafeel,jdbcType=DECIMAL},
      </if>
      <if test="extrafeeb != null">
        EXTRAFEEB = #{extrafeeb,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbCalculatconfig">
    update db_calculatconfig
    set PAYPALRATEB = #{paypalrateb,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      FINALVALUEFEERATE = #{finalvaluefeerate,jdbcType=DECIMAL},
      'POSITION' = #{position,jdbcType=DECIMAL},
      PUBLISHFEE = #{publishfee,jdbcType=DECIMAL},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      SITE = #{site,jdbcType=VARCHAR},
      PAYPALRATEL = #{paypalratel,jdbcType=DECIMAL},
      EXTRAFEEL = #{extrafeel,jdbcType=DECIMAL},
      EXTRAFEEB = #{extrafeeb,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>