<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCompetitorMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCompetitor">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="EVALUATE" jdbcType="VARCHAR" property="evaluate" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="DAYONLINE" jdbcType="DECIMAL" property="dayonline" />
    <result column="YESTONLINE" jdbcType="DECIMAL" property="yestonline" />
    <result column="WEEKONLINE" jdbcType="DECIMAL" property="weekonline" />
    <result column="MONTHONLINE" jdbcType="DECIMAL" property="monthonline" />
    <result column="CREDIT" jdbcType="DECIMAL" property="credit" />
    <result column="KEYFLAG" jdbcType="DECIMAL" property="keyflag" />
    <result column="SALSENUM" jdbcType="DECIMAL" property="salsenum" />
    <result column="SALSEMONEY" jdbcType="DECIMAL" property="salsemoney" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="TRANSLATRATE" jdbcType="DECIMAL" property="translatrate" />
    <result column="FEEDBACKSCORE" jdbcType="DECIMAL" property="feedbackscore" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, USERNAME, SHOPNAME, EVALUATE, LOCATION, DAYONLINE, YESTONLINE, 
    WEEKONLINE, MONTHONLINE, CREDIT, KEYFLAG, SALSENUM, SALSEMONEY, OPER, OPERTIME, CORPID, 
    OPENFLAG, STATUS, SELLPRICE, TRANSLATRATE, FEEDBACKSCORE
    from DB_COMPETITOR
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, USERNAME, SHOPNAME, EVALUATE, LOCATION, DAYONLINE, YESTONLINE, 
    WEEKONLINE, MONTHONLINE, CREDIT, KEYFLAG, SALSENUM, SALSEMONEY, OPER, OPERTIME, CORPID, 
    OPENFLAG, STATUS, SELLPRICE, TRANSLATRATE, FEEDBACKSCORE
    from DB_COMPETITOR
  </select>
  <sql id="TableName">
    DB_COMPETITOR
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{username,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{evaluate,jdbcType=VARCHAR} , 
     #{location,jdbcType=VARCHAR} , 
     #{dayonline,jdbcType=DECIMAL} , 
     #{yestonline,jdbcType=DECIMAL} , 
     #{weekonline,jdbcType=DECIMAL} , 
     #{monthonline,jdbcType=DECIMAL} , 
     #{credit,jdbcType=DECIMAL} , 
     #{keyflag,jdbcType=DECIMAL} , 
     #{salsenum,jdbcType=DECIMAL} , 
     #{salsemoney,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{status,jdbcType=DECIMAL} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{translatrate,jdbcType=DECIMAL} , 
     #{feedbackscore,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    USERNAME , 
    SHOPNAME , 
    EVALUATE , 
    LOCATION , 
    DAYONLINE , 
    YESTONLINE , 
    WEEKONLINE , 
    MONTHONLINE , 
    CREDIT , 
    KEYFLAG , 
    SALSENUM , 
    SALSEMONEY , 
    OPER , 
    OPERTIME , 
    CORPID , 
    OPENFLAG , 
    STATUS , 
    SELLPRICE , 
    TRANSLATRATE , 
    FEEDBACKSCORE , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="username != null">
      username = #{username,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="evaluate != null">
      evaluate = #{evaluate,jdbcType=VARCHAR} and 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} and 
    </if>
    <if test="dayonline != null">
      dayonline = #{dayonline,jdbcType=DECIMAL} and 
    </if>
    <if test="yestonline != null">
      yestonline = #{yestonline,jdbcType=DECIMAL} and 
    </if>
    <if test="weekonline != null">
      weekonline = #{weekonline,jdbcType=DECIMAL} and 
    </if>
    <if test="monthonline != null">
      monthonline = #{monthonline,jdbcType=DECIMAL} and 
    </if>
    <if test="credit != null">
      credit = #{credit,jdbcType=DECIMAL} and 
    </if>
    <if test="keyflag != null">
      keyflag = #{keyflag,jdbcType=DECIMAL} and 
    </if>
    <if test="salsenum != null">
      salsenum = #{salsenum,jdbcType=DECIMAL} and 
    </if>
    <if test="salsemoney != null">
      salsemoney = #{salsemoney,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} and 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="translatrate != null">
      translatrate = #{translatrate,jdbcType=DECIMAL} and 
    </if>
    <if test="feedbackscore != null">
      feedbackscore = #{feedbackscore,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="username != null">
      username = #{username,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="evaluate != null">
      evaluate = #{evaluate,jdbcType=VARCHAR} , 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} , 
    </if>
    <if test="dayonline != null">
      dayonline = #{dayonline,jdbcType=DECIMAL} , 
    </if>
    <if test="yestonline != null">
      yestonline = #{yestonline,jdbcType=DECIMAL} , 
    </if>
    <if test="weekonline != null">
      weekonline = #{weekonline,jdbcType=DECIMAL} , 
    </if>
    <if test="monthonline != null">
      monthonline = #{monthonline,jdbcType=DECIMAL} , 
    </if>
    <if test="credit != null">
      credit = #{credit,jdbcType=DECIMAL} , 
    </if>
    <if test="keyflag != null">
      keyflag = #{keyflag,jdbcType=DECIMAL} , 
    </if>
    <if test="salsenum != null">
      salsenum = #{salsenum,jdbcType=DECIMAL} , 
    </if>
    <if test="salsemoney != null">
      salsemoney = #{salsemoney,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=DECIMAL} , 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="translatrate != null">
      translatrate = #{translatrate,jdbcType=DECIMAL} , 
    </if>
    <if test="feedbackscore != null">
      feedbackscore = #{feedbackscore,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCompetitor" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCompetitor">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCompetitor">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCompetitor">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>