<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCompanyconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCompanyconfig">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="EXPRESSTYPEID" jdbcType="VARCHAR" property="expresstypeid" />
    <result column="EXPRESSTYPENAME" jdbcType="VARCHAR" property="expresstypename" />
    <result column="COMPANYID" jdbcType="VARCHAR" property="companyid" />
    <result column="COMPANYNAME" jdbcType="VARCHAR" property="companyname" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="BASEMONEY" jdbcType="DECIMAL" property="basemoney" />
    <result column="BASEWEIGHT" jdbcType="DECIMAL" property="baseweight" />
    <result column="UNITMONEY" jdbcType="DECIMAL" property="unitmoney" />
    <result column="UNITWEIGHT" jdbcType="DECIMAL" property="unitweight" />
    <result column="DISCOUNT" jdbcType="DECIMAL" property="discount" />
    <result column="OVERWEIGHT" jdbcType="DECIMAL" property="overweight" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, EXPRESSTYPEID, EXPRESSTYPENAME, COMPANYID, COMPANYNAME, DESCR, 
    BASEMONEY, BASEWEIGHT, UNITMONEY, UNITWEIGHT, DISCOUNT, OVERWEIGHT, OPER, OPERTIME, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, 
    RESERVE10
    from DB_COMPANYCONFIG
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, EXPRESSTYPEID, EXPRESSTYPENAME, COMPANYID, COMPANYNAME, DESCR, 
    BASEMONEY, BASEWEIGHT, UNITMONEY, UNITWEIGHT, DISCOUNT, OVERWEIGHT, OPER, OPERTIME, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, 
    RESERVE10
    from DB_COMPANYCONFIG
  </select>
  <sql id="TableName">
    DB_COMPANYCONFIG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{expresstypeid,jdbcType=VARCHAR} , 
     #{expresstypename,jdbcType=VARCHAR} , 
     #{companyid,jdbcType=VARCHAR} , 
     #{companyname,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{basemoney,jdbcType=DECIMAL} , 
     #{baseweight,jdbcType=DECIMAL} , 
     #{unitmoney,jdbcType=DECIMAL} , 
     #{unitweight,jdbcType=DECIMAL} , 
     #{discount,jdbcType=DECIMAL} , 
     #{overweight,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    EXPRESSTYPEID , 
    EXPRESSTYPENAME , 
    COMPANYID , 
    COMPANYNAME , 
    DESCR , 
    BASEMONEY , 
    BASEWEIGHT , 
    UNITMONEY , 
    UNITWEIGHT , 
    DISCOUNT , 
    OVERWEIGHT , 
    OPER , 
    OPERTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstypeid != null">
      expresstypeid = #{expresstypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstypename != null">
      expresstypename = #{expresstypename,jdbcType=VARCHAR} and 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=VARCHAR} and 
    </if>
    <if test="companyname != null">
      companyname = #{companyname,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="basemoney != null">
      basemoney = #{basemoney,jdbcType=DECIMAL} and 
    </if>
    <if test="baseweight != null">
      baseweight = #{baseweight,jdbcType=DECIMAL} and 
    </if>
    <if test="unitmoney != null">
      unitmoney = #{unitmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="unitweight != null">
      unitweight = #{unitweight,jdbcType=DECIMAL} and 
    </if>
    <if test="discount != null">
      discount = #{discount,jdbcType=DECIMAL} and 
    </if>
    <if test="overweight != null">
      overweight = #{overweight,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstypeid != null">
      expresstypeid = #{expresstypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstypename != null">
      expresstypename = #{expresstypename,jdbcType=VARCHAR} , 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=VARCHAR} , 
    </if>
    <if test="companyname != null">
      companyname = #{companyname,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="basemoney != null">
      basemoney = #{basemoney,jdbcType=DECIMAL} , 
    </if>
    <if test="baseweight != null">
      baseweight = #{baseweight,jdbcType=DECIMAL} , 
    </if>
    <if test="unitmoney != null">
      unitmoney = #{unitmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="unitweight != null">
      unitweight = #{unitweight,jdbcType=DECIMAL} , 
    </if>
    <if test="discount != null">
      discount = #{discount,jdbcType=DECIMAL} , 
    </if>
    <if test="overweight != null">
      overweight = #{overweight,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCompanyconfig" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCompanyconfig">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCompanyconfig">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCompanyconfig">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>