<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCompanytypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCompanytype">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="IFPARENT" jdbcType="VARCHAR" property="ifparent" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, 'NAME', IFPARENT, PARENTID, RESERVE1, RESERVE2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_companytype
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_companytype
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbCompanytype">
    insert into db_companytype (SID, 'NAME', IFPARENT, 
      PARENTID, RESERVE1, RESERVE2
      )
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ifparent,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbCompanytype">
    insert into db_companytype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="ifparent != null">
        IFPARENT,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ifparent != null">
        #{ifparent,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbCompanytype">
    update db_companytype
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ifparent != null">
        IFPARENT = #{ifparent,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbCompanytype">
    update db_companytype
    set 'NAME' = #{name,jdbcType=VARCHAR},
      IFPARENT = #{ifparent,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>