<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCompetitorlistMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCompetitorlist">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="DAYONLINENUM" jdbcType="DECIMAL" property="dayonlinenum" />
    <result column="YESTERDAYONLINENUM" jdbcType="DECIMAL" property="yesterdayonlinenum" />
    <result column="WEEKONLINENUM" jdbcType="DECIMAL" property="weekonlinenum" />
    <result column="MONTHONLINENUM" jdbcType="DECIMAL" property="monthonlinenum" />
    <result column="CREATRTIME" jdbcType="TIMESTAMP" property="creatrtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, USERNAME, SHOPNAME, DAYONLINENUM, YESTERDAYONLINENUM, WEEKONLINENUM, 
    MONTHONLINENUM, CREATRTIME, UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_competitorlist
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_competitorlist
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbCompetitorlist">
    insert into db_competitorlist (SEQUENCEID, USERNAME, SHOPNAME, 
      DAYONLINENUM, YESTERDAYONLINENUM, WEEKONLINENUM, 
      MONTHONLINENUM, CREATRTIME, UPDATETIME
      )
    values (#{sequenceid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{shopname,jdbcType=VARCHAR}, 
      #{dayonlinenum,jdbcType=DECIMAL}, #{yesterdayonlinenum,jdbcType=DECIMAL}, #{weekonlinenum,jdbcType=DECIMAL}, 
      #{monthonlinenum,jdbcType=DECIMAL}, #{creatrtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbCompetitorlist">
    insert into db_competitorlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="shopname != null">
        SHOPNAME,
      </if>
      <if test="dayonlinenum != null">
        DAYONLINENUM,
      </if>
      <if test="yesterdayonlinenum != null">
        YESTERDAYONLINENUM,
      </if>
      <if test="weekonlinenum != null">
        WEEKONLINENUM,
      </if>
      <if test="monthonlinenum != null">
        MONTHONLINENUM,
      </if>
      <if test="creatrtime != null">
        CREATRTIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="dayonlinenum != null">
        #{dayonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="yesterdayonlinenum != null">
        #{yesterdayonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="weekonlinenum != null">
        #{weekonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="monthonlinenum != null">
        #{monthonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="creatrtime != null">
        #{creatrtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbCompetitorlist">
    update db_competitorlist
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        SHOPNAME = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="dayonlinenum != null">
        DAYONLINENUM = #{dayonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="yesterdayonlinenum != null">
        YESTERDAYONLINENUM = #{yesterdayonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="weekonlinenum != null">
        WEEKONLINENUM = #{weekonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="monthonlinenum != null">
        MONTHONLINENUM = #{monthonlinenum,jdbcType=DECIMAL},
      </if>
      <if test="creatrtime != null">
        CREATRTIME = #{creatrtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbCompetitorlist">
    update db_competitorlist
    set USERNAME = #{username,jdbcType=VARCHAR},
      SHOPNAME = #{shopname,jdbcType=VARCHAR},
      DAYONLINENUM = #{dayonlinenum,jdbcType=DECIMAL},
      YESTERDAYONLINENUM = #{yesterdayonlinenum,jdbcType=DECIMAL},
      WEEKONLINENUM = #{weekonlinenum,jdbcType=DECIMAL},
      MONTHONLINENUM = #{monthonlinenum,jdbcType=DECIMAL},
      CREATRTIME = #{creatrtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>