<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbCreatetableMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbCreatetable">
    <id column="LASTRUNTIME" jdbcType="DECIMAL" property="lastruntime" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select LASTRUNTIME
    from DB_CREATETABLE
  </select>
  <sql id="TableName">
    DB_CREATETABLE
  </sql>
  <sql id="Values">
     #{lastruntime,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    LASTRUNTIME , 
  </sql>
  <sql id="Criteria">
    <if test="lastruntime != null">
      lastruntime = #{lastruntime,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="lastruntime != null">
      lastruntime = #{lastruntime,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbCreatetable" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where LASTRUNTIME=#{LASTRUNTIME}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbCreatetable">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbCreatetable">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbCreatetable">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>