<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbDeveloperaccountMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbDeveloperaccount">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CLENTID" jdbcType="VARCHAR" property="clentid" />
    <result column="APPSECRETKEY" jdbcType="VARCHAR" property="appsecretkey" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="SHOPIDS" jdbcType="VARCHAR" property="shopids" />
    <result column="PLATFROM" jdbcType="VARCHAR" property="platfrom" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbDeveloperaccount">
    <result column="URL" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
  <sql id="Blob_Column_List">
    URL
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbDeveloperaccount">
    insert into db_developeraccount (ID, 'NAME', CLENTID, 
      APPSECRETKEY, OPENFLAG, SHOPIDS, 
      PLATFROM, CREATETIME, UPDATETIME, 
      URL)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{clentid,jdbcType=VARCHAR}, 
      #{appsecretkey,jdbcType=VARCHAR}, #{openflag,jdbcType=DECIMAL}, #{shopids,jdbcType=VARCHAR}, 
      #{platfrom,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbDeveloperaccount">
    insert into db_developeraccount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="clentid != null">
        CLENTID,
      </if>
      <if test="appsecretkey != null">
        APPSECRETKEY,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="shopids != null">
        SHOPIDS,
      </if>
      <if test="platfrom != null">
        PLATFROM,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="url != null">
        URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="clentid != null">
        #{clentid,jdbcType=VARCHAR},
      </if>
      <if test="appsecretkey != null">
        #{appsecretkey,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=DECIMAL},
      </if>
      <if test="shopids != null">
        #{shopids,jdbcType=VARCHAR},
      </if>
      <if test="platfrom != null">
        #{platfrom,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>