<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbDescraptionMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbDescraption">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbDescraption">
    <result column="PRODUCTCONTENT" jdbcType="LONGVARCHAR" property="productcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    SID
  </sql>
  <sql id="Blob_Column_List">
    PRODUCTCONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_descraption
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_descraption
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbDescraption">
    insert into db_descraption (SID, PRODUCTCONTENT)
    values (#{sid,jdbcType=DECIMAL}, #{productcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbDescraption">
    insert into db_descraption
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="productcontent != null">
        PRODUCTCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="productcontent != null">
        #{productcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbDescraption">
    update db_descraption
    <set>
      <if test="productcontent != null">
        PRODUCTCONTENT = #{productcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbDescraption">
    update db_descraption
    set PRODUCTCONTENT = #{productcontent,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>