<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayidmanagehtmlsourceMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayidmanagehtmlsource">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="EBAYIDMANAGEID" jdbcType="DECIMAL" property="ebayidmanageid" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYIDMANAGEID, DESCR, SORT
    from DB_EBAYIDMANAGEHTMLSOURCE
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, EBAYIDMANAGEID, DESCR, SORT
    from DB_EBAYIDMANAGEHTMLSOURCE
  </select>
  <sql id="TableName">
    DB_EBAYIDMANAGEHTMLSOURCE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{ebayidmanageid,jdbcType=DECIMAL} , 
     #{descr,jdbcType=VARCHAR} , 
     #{sort,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    EBAYIDMANAGEID , 
    DESCR , 
    SORT , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayidmanageid != null">
      ebayidmanageid = #{ebayidmanageid,jdbcType=DECIMAL} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayidmanageid != null">
      ebayidmanageid = #{ebayidmanageid,jdbcType=DECIMAL} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbayidmanagehtmlsource" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbayidmanagehtmlsource">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbayidmanagehtmlsource">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbayidmanagehtmlsource">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>