<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayinquiryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayinquiry">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MESSAGEID" jdbcType="VARCHAR" property="messageid" />
    <result column="INQUIRYID" jdbcType="VARCHAR" property="inquiryid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="ITEMPICTUREURL" jdbcType="VARCHAR" property="itempictureurl" />
    <result column="VIEWPURCHASEDITEMURL" jdbcType="VARCHAR" property="viewpurchaseditemurl" />
    <result column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="CLAIMAMOUNT" jdbcType="VARCHAR" property="claimamount" />
    <result column="BUYER" jdbcType="VARCHAR" property="buyer" />
    <result column="BUYERREQUESTED" jdbcType="VARCHAR" property="buyerrequested" />
    <result column="CREATIONDATE" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="LASTACTION" jdbcType="VARCHAR" property="lastaction" />
    <result column="LASTACTOR" jdbcType="VARCHAR" property="lastactor" />
    <result column="LASTDESCRIPTION" jdbcType="VARCHAR" property="lastdescription" />
    <result column="LASTDATE" jdbcType="TIMESTAMP" property="lastdate" />
    <result column="APISTATUS" jdbcType="DECIMAL" property="apistatus" />
    <result column="APIDATE" jdbcType="TIMESTAMP" property="apidate" />
    <result column="APIDESCR" jdbcType="VARCHAR" property="apidescr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, ID, MESSAGEID, INQUIRYID, SHOPID, STATUS, ITEMID, ITEMPICTUREURL, 
    VIEWPURCHASEDITEMURL, TRANSACTIONID, ORDERID, CLAIMAMOUNT, BUYER, BUYERREQUESTED, 
    CREATIONDATE, LASTACTION, LASTACTOR, LASTDESCRIPTION, LASTDATE, APISTATUS, APIDATE, 
    APIDESCR
    from DB_EBAYINQUIRY
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ID, MESSAGEID, INQUIRYID, SHOPID, STATUS, ITEMID, ITEMPICTUREURL, 
    VIEWPURCHASEDITEMURL, TRANSACTIONID, ORDERID, CLAIMAMOUNT, BUYER, BUYERREQUESTED, 
    CREATIONDATE, LASTACTION, LASTACTOR, LASTDESCRIPTION, LASTDATE, APISTATUS, APIDATE, 
    APIDESCR
    from DB_EBAYINQUIRY
  </select>
  <sql id="TableName">
    DB_EBAYINQUIRY
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{id,jdbcType=DECIMAL} , 
     #{messageid,jdbcType=VARCHAR} , 
     #{inquiryid,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{itempictureurl,jdbcType=VARCHAR} , 
     #{viewpurchaseditemurl,jdbcType=VARCHAR} , 
     #{transactionid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{claimamount,jdbcType=VARCHAR} , 
     #{buyer,jdbcType=VARCHAR} , 
     #{buyerrequested,jdbcType=VARCHAR} , 
     #{creationdate,jdbcType=TIMESTAMP} , 
     #{lastaction,jdbcType=VARCHAR} , 
     #{lastactor,jdbcType=VARCHAR} , 
     #{lastdescription,jdbcType=VARCHAR} , 
     #{lastdate,jdbcType=TIMESTAMP} , 
     #{apistatus,jdbcType=DECIMAL} , 
     #{apidate,jdbcType=TIMESTAMP} , 
     #{apidescr,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ID , 
    MESSAGEID , 
    INQUIRYID , 
    SHOPID , 
    STATUS , 
    ITEMID , 
    ITEMPICTUREURL , 
    VIEWPURCHASEDITEMURL , 
    TRANSACTIONID , 
    ORDERID , 
    CLAIMAMOUNT , 
    BUYER , 
    BUYERREQUESTED , 
    CREATIONDATE , 
    LASTACTION , 
    LASTACTOR , 
    LASTDESCRIPTION , 
    LASTDATE , 
    APISTATUS , 
    APIDATE , 
    APIDESCR , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="messageid != null">
      messageid = #{messageid,jdbcType=VARCHAR} and 
    </if>
    <if test="inquiryid != null">
      inquiryid = #{inquiryid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="itempictureurl != null">
      itempictureurl = #{itempictureurl,jdbcType=VARCHAR} and 
    </if>
    <if test="viewpurchaseditemurl != null">
      viewpurchaseditemurl = #{viewpurchaseditemurl,jdbcType=VARCHAR} and 
    </if>
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="claimamount != null">
      claimamount = #{claimamount,jdbcType=VARCHAR} and 
    </if>
    <if test="buyer != null">
      buyer = #{buyer,jdbcType=VARCHAR} and 
    </if>
    <if test="buyerrequested != null">
      buyerrequested = #{buyerrequested,jdbcType=VARCHAR} and 
    </if>
    <if test="creationdate != null">
      creationdate = #{creationdate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="lastaction != null">
      lastaction = #{lastaction,jdbcType=VARCHAR} and 
    </if>
    <if test="lastactor != null">
      lastactor = #{lastactor,jdbcType=VARCHAR} and 
    </if>
    <if test="lastdescription != null">
      lastdescription = #{lastdescription,jdbcType=VARCHAR} and 
    </if>
    <if test="lastdate != null">
      lastdate = #{lastdate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="apistatus != null">
      apistatus = #{apistatus,jdbcType=DECIMAL} and 
    </if>
    <if test="apidate != null">
      apidate = #{apidate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="apidescr != null">
      apidescr = #{apidescr,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="messageid != null">
      messageid = #{messageid,jdbcType=VARCHAR} , 
    </if>
    <if test="inquiryid != null">
      inquiryid = #{inquiryid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="itempictureurl != null">
      itempictureurl = #{itempictureurl,jdbcType=VARCHAR} , 
    </if>
    <if test="viewpurchaseditemurl != null">
      viewpurchaseditemurl = #{viewpurchaseditemurl,jdbcType=VARCHAR} , 
    </if>
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="claimamount != null">
      claimamount = #{claimamount,jdbcType=VARCHAR} , 
    </if>
    <if test="buyer != null">
      buyer = #{buyer,jdbcType=VARCHAR} , 
    </if>
    <if test="buyerrequested != null">
      buyerrequested = #{buyerrequested,jdbcType=VARCHAR} , 
    </if>
    <if test="creationdate != null">
      creationdate = #{creationdate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="lastaction != null">
      lastaction = #{lastaction,jdbcType=VARCHAR} , 
    </if>
    <if test="lastactor != null">
      lastactor = #{lastactor,jdbcType=VARCHAR} , 
    </if>
    <if test="lastdescription != null">
      lastdescription = #{lastdescription,jdbcType=VARCHAR} , 
    </if>
    <if test="lastdate != null">
      lastdate = #{lastdate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="apistatus != null">
      apistatus = #{apistatus,jdbcType=DECIMAL} , 
    </if>
    <if test="apidate != null">
      apidate = #{apidate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="apidescr != null">
      apidescr = #{apidescr,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbEbayinquiry" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbEbayinquiry">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbEbayinquiry">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbEbayinquiry">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>