<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEbayapiMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEbayapi">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPENAME" jdbcType="VARCHAR" property="shoptypename" />
    <result column="APITIME" jdbcType="VARCHAR" property="apitime" />
    <result column="DAYDIFF" jdbcType="DECIMAL" property="daydiff" />
    <result column="LASTAPITIME" jdbcType="TIMESTAMP" property="lastapitime" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="LASTTIME" jdbcType="VARCHAR" property="lasttime" />
    <result column="APIFLAG" jdbcType="VARCHAR" property="apiflag" />
    <result column="DAYTYPE" jdbcType="VARCHAR" property="daytype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbEbayapi">
    <result column="DESCR" jdbcType="LONGVARCHAR" property="descr" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, 'NAME', OPER, OPERTIME, CORPID, OPENFLAG, SHOPTYPEID, SHOPTYPENAME, APITIME, 
    DAYDIFF, LASTAPITIME, ORDERNUM, RESERVE1, RESERVE2, RESERVE3, RESERVE4, LASTTIME, 
    APIFLAG, DAYTYPE
  </sql>
  <sql id="Blob_Column_List">
    DESCR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_ebayapi
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_ebayapi
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEbayapi">
    insert into db_ebayapi (SEQUENCEID, 'NAME', OPER, 
      OPERTIME, CORPID, OPENFLAG, 
      SHOPTYPEID, SHOPTYPENAME, APITIME, 
      DAYDIFF, LASTAPITIME, ORDERNUM, 
      RESERVE1, RESERVE2, RESERVE3, 
      RESERVE4, LASTTIME, APIFLAG, 
      DAYTYPE, DESCR)
    values (#{sequenceid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, 
      #{shoptypeid,jdbcType=VARCHAR}, #{shoptypename,jdbcType=VARCHAR}, #{apitime,jdbcType=VARCHAR}, 
      #{daydiff,jdbcType=DECIMAL}, #{lastapitime,jdbcType=TIMESTAMP}, #{ordernum,jdbcType=DECIMAL}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, 
      #{reserve4,jdbcType=VARCHAR}, #{lasttime,jdbcType=VARCHAR}, #{apiflag,jdbcType=VARCHAR}, 
      #{daytype,jdbcType=VARCHAR}, #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEbayapi">
    insert into db_ebayapi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID,
      </if>
      <if test="shoptypename != null">
        SHOPTYPENAME,
      </if>
      <if test="apitime != null">
        APITIME,
      </if>
      <if test="daydiff != null">
        DAYDIFF,
      </if>
      <if test="lastapitime != null">
        LASTAPITIME,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="lasttime != null">
        LASTTIME,
      </if>
      <if test="apiflag != null">
        APIFLAG,
      </if>
      <if test="daytype != null">
        DAYTYPE,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="shoptypename != null">
        #{shoptypename,jdbcType=VARCHAR},
      </if>
      <if test="apitime != null">
        #{apitime,jdbcType=VARCHAR},
      </if>
      <if test="daydiff != null">
        #{daydiff,jdbcType=DECIMAL},
      </if>
      <if test="lastapitime != null">
        #{lastapitime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null">
        #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="apiflag != null">
        #{apiflag,jdbcType=VARCHAR},
      </if>
      <if test="daytype != null">
        #{daytype,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbEbayapi">
    update db_ebayapi
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="shoptypename != null">
        SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR},
      </if>
      <if test="apitime != null">
        APITIME = #{apitime,jdbcType=VARCHAR},
      </if>
      <if test="daydiff != null">
        DAYDIFF = #{daydiff,jdbcType=DECIMAL},
      </if>
      <if test="lastapitime != null">
        LASTAPITIME = #{lastapitime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null">
        LASTTIME = #{lasttime,jdbcType=VARCHAR},
      </if>
      <if test="apiflag != null">
        APIFLAG = #{apiflag,jdbcType=VARCHAR},
      </if>
      <if test="daytype != null">
        DAYTYPE = #{daytype,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        DESCR = #{descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbEbayapi">
    update db_ebayapi
    set 'NAME' = #{name,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR},
      APITIME = #{apitime,jdbcType=VARCHAR},
      DAYDIFF = #{daydiff,jdbcType=DECIMAL},
      LASTAPITIME = #{lastapitime,jdbcType=TIMESTAMP},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      LASTTIME = #{lasttime,jdbcType=VARCHAR},
      APIFLAG = #{apiflag,jdbcType=VARCHAR},
      DAYTYPE = #{daytype,jdbcType=VARCHAR},
      DESCR = #{descr,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbEbayapi">
    update db_ebayapi
    set 'NAME' = #{name,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      SHOPTYPENAME = #{shoptypename,jdbcType=VARCHAR},
      APITIME = #{apitime,jdbcType=VARCHAR},
      DAYDIFF = #{daydiff,jdbcType=DECIMAL},
      LASTAPITIME = #{lastapitime,jdbcType=TIMESTAMP},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      LASTTIME = #{lasttime,jdbcType=VARCHAR},
      APIFLAG = #{apiflag,jdbcType=VARCHAR},
      DAYTYPE = #{daytype,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>