<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEdisaddressMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEdisaddress">
    <id column="ADDRESSID" jdbcType="VARCHAR" property="addressid" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="COUNTRYCODE" jdbcType="VARCHAR" property="countrycode" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="STREET1" jdbcType="VARCHAR" property="street1" />
    <result column="STREET2" jdbcType="VARCHAR" property="street2" />
    <result column="STREET3" jdbcType="VARCHAR" property="street3" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ADDRESSID, CITY, COMPANY, CONTACT, COUNTRYCODE, DISTRICT, MOBILE, 'NAME', POSTCODE, 
    PROVINCE, STREET1, STREET2, STREET3, 'TYPE'
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_edisaddress
    where ADDRESSID = #{addressid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_edisaddress
    where ADDRESSID = #{addressid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEdisaddress">
    insert into db_edisaddress (ADDRESSID, CITY, COMPANY, 
      CONTACT, COUNTRYCODE, DISTRICT, 
      MOBILE, 'NAME', POSTCODE, 
      PROVINCE, STREET1, STREET2, 
      STREET3, 'TYPE')
    values (#{addressid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{countrycode,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{street1,jdbcType=VARCHAR}, #{street2,jdbcType=VARCHAR}, 
      #{street3,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEdisaddress">
    insert into db_edisaddress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        ADDRESSID,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="company != null">
        COMPANY,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="countrycode != null">
        COUNTRYCODE,
      </if>
      <if test="district != null">
        DISTRICT,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="postcode != null">
        POSTCODE,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="street1 != null">
        STREET1,
      </if>
      <if test="street2 != null">
        STREET2,
      </if>
      <if test="street3 != null">
        STREET3,
      </if>
      <if test="type != null">
        'TYPE',
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        #{addressid,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="street1 != null">
        #{street1,jdbcType=VARCHAR},
      </if>
      <if test="street2 != null">
        #{street2,jdbcType=VARCHAR},
      </if>
      <if test="street3 != null">
        #{street3,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbEdisaddress">
    update db_edisaddress
    <set>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        COUNTRYCODE = #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        DISTRICT = #{district,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="street1 != null">
        STREET1 = #{street1,jdbcType=VARCHAR},
      </if>
      <if test="street2 != null">
        STREET2 = #{street2,jdbcType=VARCHAR},
      </if>
      <if test="street3 != null">
        STREET3 = #{street3,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        'TYPE' = #{type,jdbcType=DECIMAL},
      </if>
    </set>
    where ADDRESSID = #{addressid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbEdisaddress">
    update db_edisaddress
    set CITY = #{city,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      COUNTRYCODE = #{countrycode,jdbcType=VARCHAR},
      DISTRICT = #{district,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      'NAME' = #{name,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      STREET1 = #{street1,jdbcType=VARCHAR},
      STREET2 = #{street2,jdbcType=VARCHAR},
      STREET3 = #{street3,jdbcType=VARCHAR},
      'TYPE' = #{type,jdbcType=DECIMAL}
    where ADDRESSID = #{addressid,jdbcType=VARCHAR}
  </update>
</mapper>