<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbEncodeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbEncode">
    <id column="CHAR1" jdbcType="VARCHAR" property="char1" />
    <result column="CHAR2" jdbcType="VARCHAR" property="char2" />
  </resultMap>
  <sql id="Base_Column_List">
    CHAR1, CHAR2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_encode
    where CHAR1 = #{char1,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_encode
    where CHAR1 = #{char1,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbEncode">
    insert into db_encode (CHAR1, CHAR2)
    values (#{char1,jdbcType=VARCHAR}, #{char2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbEncode">
    insert into db_encode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="char1 != null">
        CHAR1,
      </if>
      <if test="char2 != null">
        CHAR2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="char1 != null">
        #{char1,jdbcType=VARCHAR},
      </if>
      <if test="char2 != null">
        #{char2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbEncode">
    update db_encode
    <set>
      <if test="char2 != null">
        CHAR2 = #{char2,jdbcType=VARCHAR},
      </if>
    </set>
    where CHAR1 = #{char1,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbEncode">
    update db_encode
    set CHAR2 = #{char2,jdbcType=VARCHAR}
    where CHAR1 = #{char1,jdbcType=VARCHAR}
  </update>
</mapper>