<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbExpresstypeapiMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbExpresstypeapi">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />
    <result column="WAREHOUSECODE" jdbcType="VARCHAR" property="warehousecode" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAMECN" jdbcType="VARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="VARCHAR" property="nameen" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="APIID" jdbcType="DECIMAL" property="apiid" />
    <result column="ORDERTYPE" jdbcType="VARCHAR" property="ordertype" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARENTID, WAREHOUSECODE, RESERVE1, COUNTRY, OPENFLAG, CODE, NAMECN, NAMEEN, RESERVE3, 
    RESERVE2, APIID, ORDERTYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_expresstypeapi
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_expresstypeapi
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbExpresstypeapi">
    insert into db_expresstypeapi (ID, PARENTID, WAREHOUSECODE, 
      RESERVE1, COUNTRY, OPENFLAG, 
      CODE, NAMECN, NAMEEN, 
      RESERVE3, RESERVE2, APIID, 
      ORDERTYPE)
    values (#{id,jdbcType=DECIMAL}, #{parentid,jdbcType=DECIMAL}, #{warehousecode,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{openflag,jdbcType=DECIMAL}, 
      #{code,jdbcType=VARCHAR}, #{namecn,jdbcType=VARCHAR}, #{nameen,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{apiid,jdbcType=DECIMAL}, 
      #{ordertype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbExpresstypeapi">
    insert into db_expresstypeapi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="warehousecode != null">
        WAREHOUSECODE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="namecn != null">
        NAMECN,
      </if>
      <if test="nameen != null">
        NAMEEN,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="apiid != null">
        APIID,
      </if>
      <if test="ordertype != null">
        ORDERTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="warehousecode != null">
        #{warehousecode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="namecn != null">
        #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null">
        #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="apiid != null">
        #{apiid,jdbcType=DECIMAL},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbExpresstypeapi">
    update db_expresstypeapi
    <set>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="warehousecode != null">
        WAREHOUSECODE = #{warehousecode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="namecn != null">
        NAMECN = #{namecn,jdbcType=VARCHAR},
      </if>
      <if test="nameen != null">
        NAMEEN = #{nameen,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="apiid != null">
        APIID = #{apiid,jdbcType=DECIMAL},
      </if>
      <if test="ordertype != null">
        ORDERTYPE = #{ordertype,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbExpresstypeapi">
    update db_expresstypeapi
    set PARENTID = #{parentid,jdbcType=DECIMAL},
      WAREHOUSECODE = #{warehousecode,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      NAMECN = #{namecn,jdbcType=VARCHAR},
      NAMEEN = #{nameen,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      APIID = #{apiid,jdbcType=DECIMAL},
      ORDERTYPE = #{ordertype,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>