<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbFbaproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbFbaproduct">
    <id column="SELLERSKU" jdbcType="VARCHAR" property="sellersku" />
    <result column="ASIN" jdbcType="VARCHAR" property="asin" />
    <result column="FNSKU" jdbcType="VARCHAR" property="fnsku" />
    <result column="TOTALSUPPLYQUANTITY" jdbcType="DECIMAL" property="totalsupplyquantity" />
    <result column="INSTOCKSUPPLYQUANTITY" jdbcType="DECIMAL" property="instocksupplyquantity" />
    <result column="CONDITION" jdbcType="VARCHAR" property="condition" />
    <result column="IMMEDIATELY" jdbcType="VARCHAR" property="immediately" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="FBASKUTITLE" jdbcType="VARCHAR" property="fbaskutitle" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGE" jdbcType="VARCHAR" property="storage" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SELLERSKU, ASIN, FNSKU, TOTALSUPPLYQUANTITY, INSTOCKSUPPLYQUANTITY, CONDITION, 
    IMMEDIATELY, PRODUCTID, FBASKUTITLE, PRODUCTNAME, STORAGEID, STORAGE, LOCATIONID, 
    LOCATION, SHOPID, SHOPNAME, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6
    from DB_FBAPRODUCT
    where SELLERSKU = #{sellersku,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SELLERSKU, ASIN, FNSKU, TOTALSUPPLYQUANTITY, INSTOCKSUPPLYQUANTITY, CONDITION, 
    IMMEDIATELY, PRODUCTID, FBASKUTITLE, PRODUCTNAME, STORAGEID, STORAGE, LOCATIONID, 
    LOCATION, SHOPID, SHOPNAME, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6
    from DB_FBAPRODUCT
  </select>
  <sql id="TableName">
    DB_FBAPRODUCT
  </sql>
  <sql id="Values">
     #{sellersku,jdbcType=VARCHAR} , 
     #{asin,jdbcType=VARCHAR} , 
     #{fnsku,jdbcType=VARCHAR} , 
     #{totalsupplyquantity,jdbcType=DECIMAL} , 
     #{instocksupplyquantity,jdbcType=DECIMAL} , 
     #{condition,jdbcType=VARCHAR} , 
     #{immediately,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{fbaskutitle,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storage,jdbcType=VARCHAR} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{location,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SELLERSKU , 
    ASIN , 
    FNSKU , 
    TOTALSUPPLYQUANTITY , 
    INSTOCKSUPPLYQUANTITY , 
    CONDITION , 
    IMMEDIATELY , 
    PRODUCTID , 
    FBASKUTITLE , 
    PRODUCTNAME , 
    STORAGEID , 
    STORAGE , 
    LOCATIONID , 
    LOCATION , 
    SHOPID , 
    SHOPNAME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
  </sql>
  <sql id="Criteria">
    <if test="sellersku != null">
      sellersku = #{sellersku,jdbcType=VARCHAR} and 
    </if>
    <if test="asin != null">
      asin = #{asin,jdbcType=VARCHAR} and 
    </if>
    <if test="fnsku != null">
      fnsku = #{fnsku,jdbcType=VARCHAR} and 
    </if>
    <if test="totalsupplyquantity != null">
      totalsupplyquantity = #{totalsupplyquantity,jdbcType=DECIMAL} and 
    </if>
    <if test="instocksupplyquantity != null">
      instocksupplyquantity = #{instocksupplyquantity,jdbcType=DECIMAL} and 
    </if>
    <if test="condition != null">
      condition = #{condition,jdbcType=VARCHAR} and 
    </if>
    <if test="immediately != null">
      immediately = #{immediately,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="fbaskutitle != null">
      fbaskutitle = #{fbaskutitle,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storage != null">
      storage = #{storage,jdbcType=VARCHAR} and 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sellersku != null">
      sellersku = #{sellersku,jdbcType=VARCHAR} , 
    </if>
    <if test="asin != null">
      asin = #{asin,jdbcType=VARCHAR} , 
    </if>
    <if test="fnsku != null">
      fnsku = #{fnsku,jdbcType=VARCHAR} , 
    </if>
    <if test="totalsupplyquantity != null">
      totalsupplyquantity = #{totalsupplyquantity,jdbcType=DECIMAL} , 
    </if>
    <if test="instocksupplyquantity != null">
      instocksupplyquantity = #{instocksupplyquantity,jdbcType=DECIMAL} , 
    </if>
    <if test="condition != null">
      condition = #{condition,jdbcType=VARCHAR} , 
    </if>
    <if test="immediately != null">
      immediately = #{immediately,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="fbaskutitle != null">
      fbaskutitle = #{fbaskutitle,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storage != null">
      storage = #{storage,jdbcType=VARCHAR} , 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbFbaproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SELLERSKU=#{SELLERSKU}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbFbaproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbFbaproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbFbaproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>