<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbForumtopicMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbForumtopic">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="TOPICNAME" jdbcType="VARCHAR" property="topicname" />
    <result column="STYPE" jdbcType="VARCHAR" property="stype" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FORUMID" jdbcType="VARCHAR" property="forumid" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="CLICKCOUNT" jdbcType="DECIMAL" property="clickcount" />
    <result column="ANSWERCOUNT" jdbcType="DECIMAL" property="answercount" />
    <result column="ANSWEROPER" jdbcType="VARCHAR" property="answeroper" />
    <result column="ANSWERTIME" jdbcType="TIMESTAMP" property="answertime" />
    <result column="HOTFLAG" jdbcType="VARCHAR" property="hotflag" />
    <result column="PICURL" jdbcType="VARCHAR" property="picurl" />
    <result column="IPADDRESS" jdbcType="VARCHAR" property="ipaddress" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, TOPICNAME, STYPE, CONTENT, OPENFLAG, OPER, OPERTIME, FORUMID, 
    PARENTID, CLICKCOUNT, ANSWERCOUNT, ANSWEROPER, ANSWERTIME, HOTFLAG, PICURL, IPADDRESS, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_FORUMTOPIC
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, TOPICNAME, STYPE, CONTENT, OPENFLAG, OPER, OPERTIME, FORUMID, 
    PARENTID, CLICKCOUNT, ANSWERCOUNT, ANSWEROPER, ANSWERTIME, HOTFLAG, PICURL, IPADDRESS, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_FORUMTOPIC
  </select>
  <sql id="TableName">
    DB_FORUMTOPIC
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{topicname,jdbcType=VARCHAR} , 
     #{stype,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{forumid,jdbcType=VARCHAR} , 
     #{parentid,jdbcType=VARCHAR} , 
     #{clickcount,jdbcType=DECIMAL} , 
     #{answercount,jdbcType=DECIMAL} , 
     #{answeroper,jdbcType=VARCHAR} , 
     #{answertime,jdbcType=TIMESTAMP} , 
     #{hotflag,jdbcType=VARCHAR} , 
     #{picurl,jdbcType=VARCHAR} , 
     #{ipaddress,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    TOPICNAME , 
    STYPE , 
    CONTENT , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
    FORUMID , 
    PARENTID , 
    CLICKCOUNT , 
    ANSWERCOUNT , 
    ANSWEROPER , 
    ANSWERTIME , 
    HOTFLAG , 
    PICURL , 
    IPADDRESS , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="topicname != null">
      topicname = #{topicname,jdbcType=VARCHAR} and 
    </if>
    <if test="stype != null">
      stype = #{stype,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="forumid != null">
      forumid = #{forumid,jdbcType=VARCHAR} and 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=VARCHAR} and 
    </if>
    <if test="clickcount != null">
      clickcount = #{clickcount,jdbcType=DECIMAL} and 
    </if>
    <if test="answercount != null">
      answercount = #{answercount,jdbcType=DECIMAL} and 
    </if>
    <if test="answeroper != null">
      answeroper = #{answeroper,jdbcType=VARCHAR} and 
    </if>
    <if test="answertime != null">
      answertime = #{answertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="hotflag != null">
      hotflag = #{hotflag,jdbcType=VARCHAR} and 
    </if>
    <if test="picurl != null">
      picurl = #{picurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ipaddress != null">
      ipaddress = #{ipaddress,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="topicname != null">
      topicname = #{topicname,jdbcType=VARCHAR} , 
    </if>
    <if test="stype != null">
      stype = #{stype,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="forumid != null">
      forumid = #{forumid,jdbcType=VARCHAR} , 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=VARCHAR} , 
    </if>
    <if test="clickcount != null">
      clickcount = #{clickcount,jdbcType=DECIMAL} , 
    </if>
    <if test="answercount != null">
      answercount = #{answercount,jdbcType=DECIMAL} , 
    </if>
    <if test="answeroper != null">
      answeroper = #{answeroper,jdbcType=VARCHAR} , 
    </if>
    <if test="answertime != null">
      answertime = #{answertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="hotflag != null">
      hotflag = #{hotflag,jdbcType=VARCHAR} , 
    </if>
    <if test="picurl != null">
      picurl = #{picurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ipaddress != null">
      ipaddress = #{ipaddress,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbForumtopic" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbForumtopic">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbForumtopic">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbForumtopic">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>