<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbFpxconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbFpxconfig">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="SHIPPERNAME" jdbcType="VARCHAR" property="shippername" />
    <result column="SHIPPERCOMPANYNAME" jdbcType="VARCHAR" property="shippercompanyname" />
    <result column="SHIPPERADDRESS" jdbcType="VARCHAR" property="shipperaddress" />
    <result column="SHIPPERPOSTCODE" jdbcType="VARCHAR" property="shipperpostcode" />
    <result column="SHIPPERTELEPHONE" jdbcType="VARCHAR" property="shippertelephone" />
    <result column="SHIPPERFAX" jdbcType="VARCHAR" property="shipperfax" />
    <result column="INSURTYPE" jdbcType="VARCHAR" property="insurtype" />
    <result column="CARGOCODE" jdbcType="VARCHAR" property="cargocode" />
    <result column="PAYMENTCODE" jdbcType="VARCHAR" property="paymentcode" />
    <result column="INITIALCOUNTRYCODE" jdbcType="VARCHAR" property="initialcountrycode" />
    <result column="PRODUCTCODE" jdbcType="VARCHAR" property="productcode" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, TOKEN, SHIPPERNAME, SHIPPERCOMPANYNAME, SHIPPERADDRESS, SHIPPERPOSTCODE, SHIPPERTELEPHONE, 
    SHIPPERFAX, INSURTYPE, CARGOCODE, PAYMENTCODE, INITIALCOUNTRYCODE, PRODUCTCODE, RESERVE1, 
    RESERVE2, RESERVE3, OPENFLAG, RESERVE4, RESERVE5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_fpxconfig
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_fpxconfig
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbFpxconfig">
    insert into db_fpxconfig (SID, TOKEN, SHIPPERNAME, 
      SHIPPERCOMPANYNAME, SHIPPERADDRESS, SHIPPERPOSTCODE, 
      SHIPPERTELEPHONE, SHIPPERFAX, INSURTYPE, 
      CARGOCODE, PAYMENTCODE, INITIALCOUNTRYCODE, 
      PRODUCTCODE, RESERVE1, RESERVE2, 
      RESERVE3, OPENFLAG, RESERVE4, 
      RESERVE5)
    values (#{sid,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{shippername,jdbcType=VARCHAR}, 
      #{shippercompanyname,jdbcType=VARCHAR}, #{shipperaddress,jdbcType=VARCHAR}, #{shipperpostcode,jdbcType=VARCHAR}, 
      #{shippertelephone,jdbcType=VARCHAR}, #{shipperfax,jdbcType=VARCHAR}, #{insurtype,jdbcType=VARCHAR}, 
      #{cargocode,jdbcType=VARCHAR}, #{paymentcode,jdbcType=VARCHAR}, #{initialcountrycode,jdbcType=VARCHAR}, 
      #{productcode,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, 
      #{reserve5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbFpxconfig">
    insert into db_fpxconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="shippername != null">
        SHIPPERNAME,
      </if>
      <if test="shippercompanyname != null">
        SHIPPERCOMPANYNAME,
      </if>
      <if test="shipperaddress != null">
        SHIPPERADDRESS,
      </if>
      <if test="shipperpostcode != null">
        SHIPPERPOSTCODE,
      </if>
      <if test="shippertelephone != null">
        SHIPPERTELEPHONE,
      </if>
      <if test="shipperfax != null">
        SHIPPERFAX,
      </if>
      <if test="insurtype != null">
        INSURTYPE,
      </if>
      <if test="cargocode != null">
        CARGOCODE,
      </if>
      <if test="paymentcode != null">
        PAYMENTCODE,
      </if>
      <if test="initialcountrycode != null">
        INITIALCOUNTRYCODE,
      </if>
      <if test="productcode != null">
        PRODUCTCODE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="shippername != null">
        #{shippername,jdbcType=VARCHAR},
      </if>
      <if test="shippercompanyname != null">
        #{shippercompanyname,jdbcType=VARCHAR},
      </if>
      <if test="shipperaddress != null">
        #{shipperaddress,jdbcType=VARCHAR},
      </if>
      <if test="shipperpostcode != null">
        #{shipperpostcode,jdbcType=VARCHAR},
      </if>
      <if test="shippertelephone != null">
        #{shippertelephone,jdbcType=VARCHAR},
      </if>
      <if test="shipperfax != null">
        #{shipperfax,jdbcType=VARCHAR},
      </if>
      <if test="insurtype != null">
        #{insurtype,jdbcType=VARCHAR},
      </if>
      <if test="cargocode != null">
        #{cargocode,jdbcType=VARCHAR},
      </if>
      <if test="paymentcode != null">
        #{paymentcode,jdbcType=VARCHAR},
      </if>
      <if test="initialcountrycode != null">
        #{initialcountrycode,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbFpxconfig">
    update db_fpxconfig
    <set>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="shippername != null">
        SHIPPERNAME = #{shippername,jdbcType=VARCHAR},
      </if>
      <if test="shippercompanyname != null">
        SHIPPERCOMPANYNAME = #{shippercompanyname,jdbcType=VARCHAR},
      </if>
      <if test="shipperaddress != null">
        SHIPPERADDRESS = #{shipperaddress,jdbcType=VARCHAR},
      </if>
      <if test="shipperpostcode != null">
        SHIPPERPOSTCODE = #{shipperpostcode,jdbcType=VARCHAR},
      </if>
      <if test="shippertelephone != null">
        SHIPPERTELEPHONE = #{shippertelephone,jdbcType=VARCHAR},
      </if>
      <if test="shipperfax != null">
        SHIPPERFAX = #{shipperfax,jdbcType=VARCHAR},
      </if>
      <if test="insurtype != null">
        INSURTYPE = #{insurtype,jdbcType=VARCHAR},
      </if>
      <if test="cargocode != null">
        CARGOCODE = #{cargocode,jdbcType=VARCHAR},
      </if>
      <if test="paymentcode != null">
        PAYMENTCODE = #{paymentcode,jdbcType=VARCHAR},
      </if>
      <if test="initialcountrycode != null">
        INITIALCOUNTRYCODE = #{initialcountrycode,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null">
        PRODUCTCODE = #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbFpxconfig">
    update db_fpxconfig
    set TOKEN = #{token,jdbcType=VARCHAR},
      SHIPPERNAME = #{shippername,jdbcType=VARCHAR},
      SHIPPERCOMPANYNAME = #{shippercompanyname,jdbcType=VARCHAR},
      SHIPPERADDRESS = #{shipperaddress,jdbcType=VARCHAR},
      SHIPPERPOSTCODE = #{shipperpostcode,jdbcType=VARCHAR},
      SHIPPERTELEPHONE = #{shippertelephone,jdbcType=VARCHAR},
      SHIPPERFAX = #{shipperfax,jdbcType=VARCHAR},
      INSURTYPE = #{insurtype,jdbcType=VARCHAR},
      CARGOCODE = #{cargocode,jdbcType=VARCHAR},
      PAYMENTCODE = #{paymentcode,jdbcType=VARCHAR},
      INITIALCOUNTRYCODE = #{initialcountrycode,jdbcType=VARCHAR},
      PRODUCTCODE = #{productcode,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>