<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbGeneralTempMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbGeneralTemp">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="PLATFORMID" jdbcType="VARCHAR" property="platformid" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="RESERVE11" jdbcType="VARCHAR" property="reserve11" />
    <result column="RESERVE12" jdbcType="VARCHAR" property="reserve12" />
    <result column="RESERVE13" jdbcType="VARCHAR" property="reserve13" />
    <result column="RESERVE14" jdbcType="VARCHAR" property="reserve14" />
    <result column="RESERVE15" jdbcType="VARCHAR" property="reserve15" />
    <result column="RESERVE16" jdbcType="VARCHAR" property="reserve16" />
    <result column="RESERVE17" jdbcType="VARCHAR" property="reserve17" />
    <result column="RESERVE18" jdbcType="VARCHAR" property="reserve18" />
    <result column="RESERVE19" jdbcType="VARCHAR" property="reserve19" />
    <result column="RESERVE20" jdbcType="VARCHAR" property="reserve20" />
    <result column="RESERVE21" jdbcType="VARCHAR" property="reserve21" />
    <result column="RESERVE22" jdbcType="VARCHAR" property="reserve22" />
    <result column="RESERVE23" jdbcType="VARCHAR" property="reserve23" />
    <result column="RESERVE24" jdbcType="VARCHAR" property="reserve24" />
    <result column="RESERVE25" jdbcType="VARCHAR" property="reserve25" />
    <result column="RESERVE26" jdbcType="VARCHAR" property="reserve26" />
    <result column="RESERVE27" jdbcType="VARCHAR" property="reserve27" />
    <result column="RESERVE28" jdbcType="VARCHAR" property="reserve28" />
    <result column="RESERVE29" jdbcType="VARCHAR" property="reserve29" />
    <result column="RESERVE30" jdbcType="VARCHAR" property="reserve30" />
    <result column="RESERVE31" jdbcType="VARCHAR" property="reserve31" />
    <result column="RESERVE32" jdbcType="VARCHAR" property="reserve32" />
    <result column="RESERVE33" jdbcType="VARCHAR" property="reserve33" />
    <result column="RESERVE34" jdbcType="VARCHAR" property="reserve34" />
    <result column="RESERVE35" jdbcType="VARCHAR" property="reserve35" />
    <result column="RESERVE36" jdbcType="VARCHAR" property="reserve36" />
    <result column="RESERVE37" jdbcType="VARCHAR" property="reserve37" />
    <result column="RESERVE38" jdbcType="VARCHAR" property="reserve38" />
    <result column="RESERVE39" jdbcType="VARCHAR" property="reserve39" />
    <result column="RESERVE40" jdbcType="VARCHAR" property="reserve40" />
    <result column="RESERVE41" jdbcType="VARCHAR" property="reserve41" />
    <result column="RESERVE42" jdbcType="VARCHAR" property="reserve42" />
    <result column="RESERVE43" jdbcType="VARCHAR" property="reserve43" />
    <result column="RESERVE44" jdbcType="VARCHAR" property="reserve44" />
    <result column="RESERVE45" jdbcType="VARCHAR" property="reserve45" />
    <result column="RESERVE46" jdbcType="VARCHAR" property="reserve46" />
    <result column="RESERVE47" jdbcType="VARCHAR" property="reserve47" />
    <result column="RESERVE48" jdbcType="VARCHAR" property="reserve48" />
    <result column="RESERVE49" jdbcType="VARCHAR" property="reserve49" />
    <result column="RESERVE50" jdbcType="VARCHAR" property="reserve50" />
    <result column="RESERVE51" jdbcType="VARCHAR" property="reserve51" />
    <result column="RESERVE52" jdbcType="VARCHAR" property="reserve52" />
    <result column="RESERVE53" jdbcType="VARCHAR" property="reserve53" />
    <result column="RESERVE54" jdbcType="VARCHAR" property="reserve54" />
    <result column="RESERVE55" jdbcType="VARCHAR" property="reserve55" />
    <result column="RESERVE56" jdbcType="VARCHAR" property="reserve56" />
    <result column="RESERVE57" jdbcType="VARCHAR" property="reserve57" />
    <result column="RESERVE58" jdbcType="VARCHAR" property="reserve58" />
    <result column="RESERVE59" jdbcType="VARCHAR" property="reserve59" />
    <result column="RESERVE60" jdbcType="VARCHAR" property="reserve60" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, GROUPID, PLATFORMID, SHOPTYPEID, FLAG, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, 
    RESERVE20, RESERVE21, RESERVE22, RESERVE23, RESERVE24, RESERVE25, RESERVE26, RESERVE27, 
    RESERVE28, RESERVE29, RESERVE30, RESERVE31, RESERVE32, RESERVE33, RESERVE34, RESERVE35, 
    RESERVE36, RESERVE37, RESERVE38, RESERVE39, RESERVE40, RESERVE41, RESERVE42, RESERVE43, 
    RESERVE44, RESERVE45, RESERVE46, RESERVE47, RESERVE48, RESERVE49, RESERVE50, RESERVE51, 
    RESERVE52, RESERVE53, RESERVE54, RESERVE55, RESERVE56, RESERVE57, RESERVE58, RESERVE59, 
    RESERVE60
    from DB_GENERAL_TEMP
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, GROUPID, PLATFORMID, SHOPTYPEID, FLAG, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, 
    RESERVE20, RESERVE21, RESERVE22, RESERVE23, RESERVE24, RESERVE25, RESERVE26, RESERVE27, 
    RESERVE28, RESERVE29, RESERVE30, RESERVE31, RESERVE32, RESERVE33, RESERVE34, RESERVE35, 
    RESERVE36, RESERVE37, RESERVE38, RESERVE39, RESERVE40, RESERVE41, RESERVE42, RESERVE43, 
    RESERVE44, RESERVE45, RESERVE46, RESERVE47, RESERVE48, RESERVE49, RESERVE50, RESERVE51, 
    RESERVE52, RESERVE53, RESERVE54, RESERVE55, RESERVE56, RESERVE57, RESERVE58, RESERVE59, 
    RESERVE60
    from DB_GENERAL_TEMP
  </select>
  <sql id="TableName">
    DB_GENERAL_TEMP
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{platformid,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=VARCHAR} , 
     #{reserve11,jdbcType=VARCHAR} , 
     #{reserve12,jdbcType=VARCHAR} , 
     #{reserve13,jdbcType=VARCHAR} , 
     #{reserve14,jdbcType=VARCHAR} , 
     #{reserve15,jdbcType=VARCHAR} , 
     #{reserve16,jdbcType=VARCHAR} , 
     #{reserve17,jdbcType=VARCHAR} , 
     #{reserve18,jdbcType=VARCHAR} , 
     #{reserve19,jdbcType=VARCHAR} , 
     #{reserve20,jdbcType=VARCHAR} , 
     #{reserve21,jdbcType=VARCHAR} , 
     #{reserve22,jdbcType=VARCHAR} , 
     #{reserve23,jdbcType=VARCHAR} , 
     #{reserve24,jdbcType=VARCHAR} , 
     #{reserve25,jdbcType=VARCHAR} , 
     #{reserve26,jdbcType=VARCHAR} , 
     #{reserve27,jdbcType=VARCHAR} , 
     #{reserve28,jdbcType=VARCHAR} , 
     #{reserve29,jdbcType=VARCHAR} , 
     #{reserve30,jdbcType=VARCHAR} , 
     #{reserve31,jdbcType=VARCHAR} , 
     #{reserve32,jdbcType=VARCHAR} , 
     #{reserve33,jdbcType=VARCHAR} , 
     #{reserve34,jdbcType=VARCHAR} , 
     #{reserve35,jdbcType=VARCHAR} , 
     #{reserve36,jdbcType=VARCHAR} , 
     #{reserve37,jdbcType=VARCHAR} , 
     #{reserve38,jdbcType=VARCHAR} , 
     #{reserve39,jdbcType=VARCHAR} , 
     #{reserve40,jdbcType=VARCHAR} , 
     #{reserve41,jdbcType=VARCHAR} , 
     #{reserve42,jdbcType=VARCHAR} , 
     #{reserve43,jdbcType=VARCHAR} , 
     #{reserve44,jdbcType=VARCHAR} , 
     #{reserve45,jdbcType=VARCHAR} , 
     #{reserve46,jdbcType=VARCHAR} , 
     #{reserve47,jdbcType=VARCHAR} , 
     #{reserve48,jdbcType=VARCHAR} , 
     #{reserve49,jdbcType=VARCHAR} , 
     #{reserve50,jdbcType=VARCHAR} , 
     #{reserve51,jdbcType=VARCHAR} , 
     #{reserve52,jdbcType=VARCHAR} , 
     #{reserve53,jdbcType=VARCHAR} , 
     #{reserve54,jdbcType=VARCHAR} , 
     #{reserve55,jdbcType=VARCHAR} , 
     #{reserve56,jdbcType=VARCHAR} , 
     #{reserve57,jdbcType=VARCHAR} , 
     #{reserve58,jdbcType=VARCHAR} , 
     #{reserve59,jdbcType=VARCHAR} , 
     #{reserve60,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    GROUPID , 
    PLATFORMID , 
    SHOPTYPEID , 
    FLAG , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    RESERVE17 , 
    RESERVE18 , 
    RESERVE19 , 
    RESERVE20 , 
    RESERVE21 , 
    RESERVE22 , 
    RESERVE23 , 
    RESERVE24 , 
    RESERVE25 , 
    RESERVE26 , 
    RESERVE27 , 
    RESERVE28 , 
    RESERVE29 , 
    RESERVE30 , 
    RESERVE31 , 
    RESERVE32 , 
    RESERVE33 , 
    RESERVE34 , 
    RESERVE35 , 
    RESERVE36 , 
    RESERVE37 , 
    RESERVE38 , 
    RESERVE39 , 
    RESERVE40 , 
    RESERVE41 , 
    RESERVE42 , 
    RESERVE43 , 
    RESERVE44 , 
    RESERVE45 , 
    RESERVE46 , 
    RESERVE47 , 
    RESERVE48 , 
    RESERVE49 , 
    RESERVE50 , 
    RESERVE51 , 
    RESERVE52 , 
    RESERVE53 , 
    RESERVE54 , 
    RESERVE55 , 
    RESERVE56 , 
    RESERVE57 , 
    RESERVE58 , 
    RESERVE59 , 
    RESERVE60 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="platformid != null">
      platformid = #{platformid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve21 != null">
      reserve21 = #{reserve21,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve22 != null">
      reserve22 = #{reserve22,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve23 != null">
      reserve23 = #{reserve23,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve24 != null">
      reserve24 = #{reserve24,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve25 != null">
      reserve25 = #{reserve25,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve26 != null">
      reserve26 = #{reserve26,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve27 != null">
      reserve27 = #{reserve27,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve28 != null">
      reserve28 = #{reserve28,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve29 != null">
      reserve29 = #{reserve29,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve30 != null">
      reserve30 = #{reserve30,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve31 != null">
      reserve31 = #{reserve31,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve32 != null">
      reserve32 = #{reserve32,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve33 != null">
      reserve33 = #{reserve33,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve34 != null">
      reserve34 = #{reserve34,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve35 != null">
      reserve35 = #{reserve35,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve36 != null">
      reserve36 = #{reserve36,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve37 != null">
      reserve37 = #{reserve37,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve38 != null">
      reserve38 = #{reserve38,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve39 != null">
      reserve39 = #{reserve39,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve40 != null">
      reserve40 = #{reserve40,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve41 != null">
      reserve41 = #{reserve41,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve42 != null">
      reserve42 = #{reserve42,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve43 != null">
      reserve43 = #{reserve43,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve44 != null">
      reserve44 = #{reserve44,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve45 != null">
      reserve45 = #{reserve45,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve46 != null">
      reserve46 = #{reserve46,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve47 != null">
      reserve47 = #{reserve47,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve48 != null">
      reserve48 = #{reserve48,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve49 != null">
      reserve49 = #{reserve49,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve50 != null">
      reserve50 = #{reserve50,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve51 != null">
      reserve51 = #{reserve51,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve52 != null">
      reserve52 = #{reserve52,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve53 != null">
      reserve53 = #{reserve53,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve54 != null">
      reserve54 = #{reserve54,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve55 != null">
      reserve55 = #{reserve55,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve56 != null">
      reserve56 = #{reserve56,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve57 != null">
      reserve57 = #{reserve57,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve58 != null">
      reserve58 = #{reserve58,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve59 != null">
      reserve59 = #{reserve59,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve60 != null">
      reserve60 = #{reserve60,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="platformid != null">
      platformid = #{platformid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve21 != null">
      reserve21 = #{reserve21,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve22 != null">
      reserve22 = #{reserve22,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve23 != null">
      reserve23 = #{reserve23,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve24 != null">
      reserve24 = #{reserve24,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve25 != null">
      reserve25 = #{reserve25,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve26 != null">
      reserve26 = #{reserve26,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve27 != null">
      reserve27 = #{reserve27,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve28 != null">
      reserve28 = #{reserve28,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve29 != null">
      reserve29 = #{reserve29,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve30 != null">
      reserve30 = #{reserve30,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve31 != null">
      reserve31 = #{reserve31,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve32 != null">
      reserve32 = #{reserve32,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve33 != null">
      reserve33 = #{reserve33,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve34 != null">
      reserve34 = #{reserve34,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve35 != null">
      reserve35 = #{reserve35,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve36 != null">
      reserve36 = #{reserve36,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve37 != null">
      reserve37 = #{reserve37,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve38 != null">
      reserve38 = #{reserve38,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve39 != null">
      reserve39 = #{reserve39,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve40 != null">
      reserve40 = #{reserve40,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve41 != null">
      reserve41 = #{reserve41,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve42 != null">
      reserve42 = #{reserve42,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve43 != null">
      reserve43 = #{reserve43,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve44 != null">
      reserve44 = #{reserve44,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve45 != null">
      reserve45 = #{reserve45,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve46 != null">
      reserve46 = #{reserve46,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve47 != null">
      reserve47 = #{reserve47,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve48 != null">
      reserve48 = #{reserve48,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve49 != null">
      reserve49 = #{reserve49,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve50 != null">
      reserve50 = #{reserve50,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve51 != null">
      reserve51 = #{reserve51,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve52 != null">
      reserve52 = #{reserve52,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve53 != null">
      reserve53 = #{reserve53,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve54 != null">
      reserve54 = #{reserve54,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve55 != null">
      reserve55 = #{reserve55,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve56 != null">
      reserve56 = #{reserve56,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve57 != null">
      reserve57 = #{reserve57,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve58 != null">
      reserve58 = #{reserve58,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve59 != null">
      reserve59 = #{reserve59,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve60 != null">
      reserve60 = #{reserve60,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbGeneralTemp" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbGeneralTemp">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbGeneralTemp">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbGeneralTemp">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>