<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbGiftMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbGift">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="PRODUCTNAMEEN" jdbcType="VARCHAR" property="productnameen" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="OPER2" jdbcType="VARCHAR" property="oper2" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="PICTUREURL" jdbcType="VARCHAR" property="pictureurl" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYSITE" jdbcType="VARCHAR" property="ebaysite" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, PRODUCTNAME, PRODUCTNAMEEN, WEIGHT, COSTPRICE, SELLPRICE, 
    SAVENUM, OPER1, OPER2, SHOPTYPE, SHOPTYPEID, PICTUREURL, EBAYITEMID, EBAYSITE, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, OPER, OPERTIME, CORPID, OPENFLAG, CATEGORYID, 
    CATEGORY, CREATEOPER, CREATETIME
    from DB_GIFT
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, PRODUCTNAME, PRODUCTNAMEEN, WEIGHT, COSTPRICE, SELLPRICE, 
    SAVENUM, OPER1, OPER2, SHOPTYPE, SHOPTYPEID, PICTUREURL, EBAYITEMID, EBAYSITE, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5, OPER, OPERTIME, CORPID, OPENFLAG, CATEGORYID, 
    CATEGORY, CREATEOPER, CREATETIME
    from DB_GIFT
  </select>
  <sql id="TableName">
    DB_GIFT
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{productnameen,jdbcType=VARCHAR} , 
     #{weight,jdbcType=DECIMAL} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{savenum,jdbcType=DECIMAL} , 
     #{oper1,jdbcType=VARCHAR} , 
     #{oper2,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{pictureurl,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{ebaysite,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{category,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTID , 
    PRODUCTNAME , 
    PRODUCTNAMEEN , 
    WEIGHT , 
    COSTPRICE , 
    SELLPRICE , 
    SAVENUM , 
    OPER1 , 
    OPER2 , 
    SHOPTYPE , 
    SHOPTYPEID , 
    PICTUREURL , 
    EBAYITEMID , 
    EBAYSITE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    OPER , 
    OPERTIME , 
    CORPID , 
    OPENFLAG , 
    CATEGORYID , 
    CATEGORY , 
    CREATEOPER , 
    CREATETIME , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="productnameen != null">
      productnameen = #{productnameen,jdbcType=VARCHAR} and 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} and 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} and 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="pictureurl != null">
      pictureurl = #{pictureurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="productnameen != null">
      productnameen = #{productnameen,jdbcType=VARCHAR} , 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} , 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} , 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="pictureurl != null">
      pictureurl = #{pictureurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbGift" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbGift">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbGift">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbGift">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>