<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbIndividualexpressiddataMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbIndividualexpressiddata">
    <id column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbIndividualexpressiddata">
    <result column="EXPRESSTYPEID" jdbcType="LONGVARCHAR" property="expresstypeid" />
    <result column="TARGETORDEIRID" jdbcType="LONGVARCHAR" property="targetordeirid" />
  </resultMap>
  <sql id="Base_Column_List">
    EXPRESSID, EXPRESSTYPE, CORPID, OPENFLAG, OPER, OPERTIME, CREATEOPER, CREATETIME, 
    VERSION
  </sql>
  <sql id="Blob_Column_List">
    EXPRESSTYPEID, TARGETORDEIRID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_individualexpressiddata
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_individualexpressiddata
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbIndividualexpressiddata">
    insert into db_individualexpressiddata (EXPRESSID, EXPRESSTYPE, CORPID, 
      OPENFLAG, OPER, OPERTIME, 
      CREATEOPER, CREATETIME, VERSION, 
      EXPRESSTYPEID, TARGETORDEIRID)
    values (#{expressid,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, 
      #{openflag,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{createoper,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, 
      #{expresstypeid,jdbcType=LONGVARCHAR}, #{targetordeirid,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbIndividualexpressiddata">
    insert into db_individualexpressiddata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expressid != null">
        EXPRESSID,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="createoper != null">
        CREATEOPER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID,
      </if>
      <if test="targetordeirid != null">
        TARGETORDEIRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expressid != null">
        #{expressid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoper != null">
        #{createoper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        #{expresstypeid,jdbcType=LONGVARCHAR},
      </if>
      <if test="targetordeirid != null">
        #{targetordeirid,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbIndividualexpressiddata">
    update db_individualexpressiddata
    <set>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoper != null">
        CREATEOPER = #{createoper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID = #{expresstypeid,jdbcType=LONGVARCHAR},
      </if>
      <if test="targetordeirid != null">
        TARGETORDEIRID = #{targetordeirid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbIndividualexpressiddata">
    update db_individualexpressiddata
    set EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATEOPER = #{createoper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      EXPRESSTYPEID = #{expresstypeid,jdbcType=LONGVARCHAR},
      TARGETORDEIRID = #{targetordeirid,jdbcType=LONGVARCHAR}
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbIndividualexpressiddata">
    update db_individualexpressiddata
    set EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATEOPER = #{createoper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL}
    where EXPRESSID = #{expressid,jdbcType=VARCHAR}
  </update>
</mapper>