<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbKdexpresstypeandcountryMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbKdexpresstypeandcountry">
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="COUNTRYSTATE" jdbcType="VARCHAR" property="countrystate" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbKdexpresstypeandcountry">
    <result column="EXPRESSTYPE" jdbcType="LONGVARCHAR" property="expresstype" />
    <result column="COUNTRY" jdbcType="LONGVARCHAR" property="country" />
    <result column="EXPRESSTYPETWO" jdbcType="LONGVARCHAR" property="expresstypetwo" />
    <result column="OPER" jdbcType="LONGVARCHAR" property="oper" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
  </resultMap>
  <sql id="Blob_Column_List">
    EXPRESSTYPE, COUNTRY, EXPRESSTYPETWO, OPER, RESERVE1, RESERVE2
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbKdexpresstypeandcountry">
    insert into db_kdexpresstypeandcountry (SID, COUNTRYSTATE, OPERTIME, 
      EXPRESSTYPE, COUNTRY, EXPRESSTYPETWO, 
      OPER, RESERVE1, RESERVE2
      )
    values (#{sid,jdbcType=VARCHAR}, #{countrystate,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{expresstype,jdbcType=LONGVARCHAR}, #{country,jdbcType=LONGVARCHAR}, #{expresstypetwo,jdbcType=LONGVARCHAR}, 
      #{oper,jdbcType=LONGVARCHAR}, #{reserve1,jdbcType=LONGVARCHAR}, #{reserve2,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbKdexpresstypeandcountry">
    insert into db_kdexpresstypeandcountry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="countrystate != null">
        COUNTRYSTATE,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="expresstypetwo != null">
        EXPRESSTYPETWO,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="countrystate != null">
        #{countrystate,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=LONGVARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=LONGVARCHAR},
      </if>
      <if test="expresstypetwo != null">
        #{expresstypetwo,jdbcType=LONGVARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>