<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbLabeldateMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbLabeldate">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="CUSTOMERTEL" jdbcType="VARCHAR" property="customertel" />
    <result column="CUSTOMERCOUNTRY" jdbcType="VARCHAR" property="customercountry" />
    <result column="CUSTOMERPROVINCE" jdbcType="VARCHAR" property="customerprovince" />
    <result column="CUSTOMERCITY" jdbcType="VARCHAR" property="customercity" />
    <result column="CUSTOMERADDRESS" jdbcType="VARCHAR" property="customeraddress" />
    <result column="ORDERMONRY" jdbcType="DECIMAL" property="ordermonry" />
    <result column="ORDEREXPRESS" jdbcType="DECIMAL" property="orderexpress" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="CUSTOMEREMAIL" jdbcType="VARCHAR" property="customeremail" />
    <result column="CUSTOMERZIPCODE" jdbcType="VARCHAR" property="customerzipcode" />
    <result column="CUSTOMERREFAX" jdbcType="VARCHAR" property="customerrefax" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="PAYID" jdbcType="VARCHAR" property="payid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="EXPRESSID" jdbcType="VARCHAR" property="expressid" />
    <result column="ORDERWEIGHT" jdbcType="DECIMAL" property="orderweight" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="PRODUCTS" jdbcType="VARCHAR" property="products" />
    <result column="POSTAGESERVICE" jdbcType="VARCHAR" property="postageservice" />
    <result column="SELLINFO" jdbcType="VARCHAR" property="sellinfo" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="RESERVE11" jdbcType="DECIMAL" property="reserve11" />
    <result column="RESERVE12" jdbcType="DECIMAL" property="reserve12" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, CUSTOMERNAME, CUSTOMERTEL, CUSTOMERCOUNTRY, CUSTOMERPROVINCE, 
    CUSTOMERCITY, CUSTOMERADDRESS, ORDERMONRY, ORDEREXPRESS, ORDERTIME, TRADEID, CUSTOMERID, 
    CUSTOMEREMAIL, CUSTOMERZIPCODE, CUSTOMERREFAX, SHOPTYPE, PAYID, EXPRESSTYPE, EXPRESSID, 
    ORDERWEIGHT, CONTENT, PRODUCTS, POSTAGESERVICE, SELLINFO, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12
    from DB_LABELDATE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, CUSTOMERNAME, CUSTOMERTEL, CUSTOMERCOUNTRY, CUSTOMERPROVINCE, 
    CUSTOMERCITY, CUSTOMERADDRESS, ORDERMONRY, ORDEREXPRESS, ORDERTIME, TRADEID, CUSTOMERID, 
    CUSTOMEREMAIL, CUSTOMERZIPCODE, CUSTOMERREFAX, SHOPTYPE, PAYID, EXPRESSTYPE, EXPRESSID, 
    ORDERWEIGHT, CONTENT, PRODUCTS, POSTAGESERVICE, SELLINFO, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12
    from DB_LABELDATE
  </select>
  <sql id="TableName">
    DB_LABELDATE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{customername,jdbcType=VARCHAR} , 
     #{customertel,jdbcType=VARCHAR} , 
     #{customercountry,jdbcType=VARCHAR} , 
     #{customerprovince,jdbcType=VARCHAR} , 
     #{customercity,jdbcType=VARCHAR} , 
     #{customeraddress,jdbcType=VARCHAR} , 
     #{ordermonry,jdbcType=DECIMAL} , 
     #{orderexpress,jdbcType=DECIMAL} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{tradeid,jdbcType=VARCHAR} , 
     #{customerid,jdbcType=VARCHAR} , 
     #{customeremail,jdbcType=VARCHAR} , 
     #{customerzipcode,jdbcType=VARCHAR} , 
     #{customerrefax,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{payid,jdbcType=VARCHAR} , 
     #{expresstype,jdbcType=VARCHAR} , 
     #{expressid,jdbcType=VARCHAR} , 
     #{orderweight,jdbcType=DECIMAL} , 
     #{content,jdbcType=VARCHAR} , 
     #{products,jdbcType=VARCHAR} , 
     #{postageservice,jdbcType=VARCHAR} , 
     #{sellinfo,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{reserve11,jdbcType=DECIMAL} , 
     #{reserve12,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ORDERID , 
    CUSTOMERNAME , 
    CUSTOMERTEL , 
    CUSTOMERCOUNTRY , 
    CUSTOMERPROVINCE , 
    CUSTOMERCITY , 
    CUSTOMERADDRESS , 
    ORDERMONRY , 
    ORDEREXPRESS , 
    ORDERTIME , 
    TRADEID , 
    CUSTOMERID , 
    CUSTOMEREMAIL , 
    CUSTOMERZIPCODE , 
    CUSTOMERREFAX , 
    SHOPTYPE , 
    PAYID , 
    EXPRESSTYPE , 
    EXPRESSID , 
    ORDERWEIGHT , 
    CONTENT , 
    PRODUCTS , 
    POSTAGESERVICE , 
    SELLINFO , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE11 , 
    RESERVE12 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} and 
    </if>
    <if test="customertel != null">
      customertel = #{customertel,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} and 
    </if>
    <if test="customerprovince != null">
      customerprovince = #{customerprovince,jdbcType=VARCHAR} and 
    </if>
    <if test="customercity != null">
      customercity = #{customercity,jdbcType=VARCHAR} and 
    </if>
    <if test="customeraddress != null">
      customeraddress = #{customeraddress,jdbcType=VARCHAR} and 
    </if>
    <if test="ordermonry != null">
      ordermonry = #{ordermonry,jdbcType=DECIMAL} and 
    </if>
    <if test="orderexpress != null">
      orderexpress = #{orderexpress,jdbcType=DECIMAL} and 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} and 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} and 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} and 
    </if>
    <if test="customerzipcode != null">
      customerzipcode = #{customerzipcode,jdbcType=VARCHAR} and 
    </if>
    <if test="customerrefax != null">
      customerrefax = #{customerrefax,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="payid != null">
      payid = #{payid,jdbcType=VARCHAR} and 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} and 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderweight != null">
      orderweight = #{orderweight,jdbcType=DECIMAL} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="products != null">
      products = #{products,jdbcType=VARCHAR} and 
    </if>
    <if test="postageservice != null">
      postageservice = #{postageservice,jdbcType=VARCHAR} and 
    </if>
    <if test="sellinfo != null">
      sellinfo = #{sellinfo,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} , 
    </if>
    <if test="customertel != null">
      customertel = #{customertel,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} , 
    </if>
    <if test="customerprovince != null">
      customerprovince = #{customerprovince,jdbcType=VARCHAR} , 
    </if>
    <if test="customercity != null">
      customercity = #{customercity,jdbcType=VARCHAR} , 
    </if>
    <if test="customeraddress != null">
      customeraddress = #{customeraddress,jdbcType=VARCHAR} , 
    </if>
    <if test="ordermonry != null">
      ordermonry = #{ordermonry,jdbcType=DECIMAL} , 
    </if>
    <if test="orderexpress != null">
      orderexpress = #{orderexpress,jdbcType=DECIMAL} , 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} , 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} , 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} , 
    </if>
    <if test="customerzipcode != null">
      customerzipcode = #{customerzipcode,jdbcType=VARCHAR} , 
    </if>
    <if test="customerrefax != null">
      customerrefax = #{customerrefax,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="payid != null">
      payid = #{payid,jdbcType=VARCHAR} , 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} , 
    </if>
    <if test="expressid != null">
      expressid = #{expressid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderweight != null">
      orderweight = #{orderweight,jdbcType=DECIMAL} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="products != null">
      products = #{products,jdbcType=VARCHAR} , 
    </if>
    <if test="postageservice != null">
      postageservice = #{postageservice,jdbcType=VARCHAR} , 
    </if>
    <if test="sellinfo != null">
      sellinfo = #{sellinfo,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbLabeldate" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbLabeldate">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbLabeldate">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbLabeldate">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>