<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbLazadaorderinfoMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbLazadaorderinfo">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="GROUPID" jdbcType="DECIMAL" property="groupid" />
    <result column="CURRENCYID" jdbcType="VARCHAR" property="currencyid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="PAYMENTMETHOD" jdbcType="VARCHAR" property="paymentmethod" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="GIFTOPTION" jdbcType="VARCHAR" property="giftoption" />
    <result column="GIFTMESSAGE" jdbcType="VARCHAR" property="giftmessage" />
    <result column="CREATEDDATE" jdbcType="TIMESTAMP" property="createddate" />
    <result column="UPDATEDDATE" jdbcType="TIMESTAMP" property="updateddate" />
    <result column="PHONE1" jdbcType="VARCHAR" property="phone1" />
    <result column="PHONE2" jdbcType="VARCHAR" property="phone2" />
    <result column="ADDRESS1" jdbcType="VARCHAR" property="address1" />
    <result column="ADDRESS2" jdbcType="VARCHAR" property="address2" />
    <result column="ADDRESS3" jdbcType="VARCHAR" property="address3" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="WARD" jdbcType="VARCHAR" property="ward" />
    <result column="REGION" jdbcType="VARCHAR" property="region" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="COUNTRYCODE" jdbcType="VARCHAR" property="countrycode" />
    <result column="ORDERITEMID" jdbcType="VARCHAR" property="orderitemid" />
    <result column="IDENTIFYNUM" jdbcType="VARCHAR" property="identifynum" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="SHOPSKU" jdbcType="VARCHAR" property="shopsku" />
    <result column="SHIPPINGTYPE" jdbcType="VARCHAR" property="shippingtype" />
    <result column="ITEMPRICE" jdbcType="DECIMAL" property="itemprice" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="PAIDPRICE" jdbcType="DECIMAL" property="paidprice" />
    <result column="WALLETCREDITS" jdbcType="DECIMAL" property="walletcredits" />
    <result column="TAXAMOUNT" jdbcType="DECIMAL" property="taxamount" />
    <result column="SHIPPINGAMOUNT" jdbcType="DECIMAL" property="shippingamount" />
    <result column="VOUCHERAMOUNT" jdbcType="DECIMAL" property="voucheramount" />
    <result column="VOUCHERCODE" jdbcType="VARCHAR" property="vouchercode" />
    <result column="ITEMSTATUS" jdbcType="VARCHAR" property="itemstatus" />
    <result column="SHIPMENTPROVIDER" jdbcType="VARCHAR" property="shipmentprovider" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="REASONDETAIL" jdbcType="VARCHAR" property="reasondetail" />
    <result column="PURCHASEORDERID" jdbcType="VARCHAR" property="purchaseorderid" />
    <result column="PURCHASEORDERNUMBER" jdbcType="VARCHAR" property="purchaseordernumber" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="CHECKDESCR" jdbcType="VARCHAR" property="checkdescr" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, TRADEID, CORPID, SHOPID, SHOPNAME, GROUPID, CURRENCYID, 
    CUSTOMERID, CUSTOMERNAME, FIRSTNAME, LASTNAME, PAYMENTMETHOD, REMARKS, GIFTOPTION, 
    GIFTMESSAGE, CREATEDDATE, UPDATEDDATE, PHONE1, PHONE2, ADDRESS1, ADDRESS2, ADDRESS3, 
    CITY, PROVINCE, WARD, REGION, POSTCODE, COUNTRY, COUNTRYCODE, ORDERITEMID, IDENTIFYNUM, 
    PRODUCTNAME, SKU, SHOPSKU, SHIPPINGTYPE, ITEMPRICE, QUANTITY, PAIDPRICE, WALLETCREDITS, 
    TAXAMOUNT, SHIPPINGAMOUNT, VOUCHERAMOUNT, VOUCHERCODE, ITEMSTATUS, SHIPMENTPROVIDER, 
    REASON, REASONDETAIL, PURCHASEORDERID, PURCHASEORDERNUMBER, CHECKFLAG, CHECKDESCR
    from DB_LAZADAORDERINFO
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, TRADEID, CORPID, SHOPID, SHOPNAME, GROUPID, CURRENCYID, 
    CUSTOMERID, CUSTOMERNAME, FIRSTNAME, LASTNAME, PAYMENTMETHOD, REMARKS, GIFTOPTION, 
    GIFTMESSAGE, CREATEDDATE, UPDATEDDATE, PHONE1, PHONE2, ADDRESS1, ADDRESS2, ADDRESS3, 
    CITY, PROVINCE, WARD, REGION, POSTCODE, COUNTRY, COUNTRYCODE, ORDERITEMID, IDENTIFYNUM, 
    PRODUCTNAME, SKU, SHOPSKU, SHIPPINGTYPE, ITEMPRICE, QUANTITY, PAIDPRICE, WALLETCREDITS, 
    TAXAMOUNT, SHIPPINGAMOUNT, VOUCHERAMOUNT, VOUCHERCODE, ITEMSTATUS, SHIPMENTPROVIDER, 
    REASON, REASONDETAIL, PURCHASEORDERID, PURCHASEORDERNUMBER, CHECKFLAG, CHECKDESCR
    from DB_LAZADAORDERINFO
  </select>
  <sql id="TableName">
    DB_LAZADAORDERINFO
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{tradeid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shopname,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=DECIMAL} , 
     #{currencyid,jdbcType=VARCHAR} , 
     #{customerid,jdbcType=VARCHAR} , 
     #{customername,jdbcType=VARCHAR} , 
     #{firstname,jdbcType=VARCHAR} , 
     #{lastname,jdbcType=VARCHAR} , 
     #{paymentmethod,jdbcType=VARCHAR} , 
     #{remarks,jdbcType=VARCHAR} , 
     #{giftoption,jdbcType=VARCHAR} , 
     #{giftmessage,jdbcType=VARCHAR} , 
     #{createddate,jdbcType=TIMESTAMP} , 
     #{updateddate,jdbcType=TIMESTAMP} , 
     #{phone1,jdbcType=VARCHAR} , 
     #{phone2,jdbcType=VARCHAR} , 
     #{address1,jdbcType=VARCHAR} , 
     #{address2,jdbcType=VARCHAR} , 
     #{address3,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{ward,jdbcType=VARCHAR} , 
     #{region,jdbcType=VARCHAR} , 
     #{postcode,jdbcType=VARCHAR} , 
     #{country,jdbcType=VARCHAR} , 
     #{countrycode,jdbcType=VARCHAR} , 
     #{orderitemid,jdbcType=VARCHAR} , 
     #{identifynum,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
     #{shopsku,jdbcType=VARCHAR} , 
     #{shippingtype,jdbcType=VARCHAR} , 
     #{itemprice,jdbcType=DECIMAL} , 
     #{quantity,jdbcType=DECIMAL} , 
     #{paidprice,jdbcType=DECIMAL} , 
     #{walletcredits,jdbcType=DECIMAL} , 
     #{taxamount,jdbcType=DECIMAL} , 
     #{shippingamount,jdbcType=DECIMAL} , 
     #{voucheramount,jdbcType=DECIMAL} , 
     #{vouchercode,jdbcType=VARCHAR} , 
     #{itemstatus,jdbcType=VARCHAR} , 
     #{shipmentprovider,jdbcType=VARCHAR} , 
     #{reason,jdbcType=VARCHAR} , 
     #{reasondetail,jdbcType=VARCHAR} , 
     #{purchaseorderid,jdbcType=VARCHAR} , 
     #{purchaseordernumber,jdbcType=VARCHAR} , 
     #{checkflag,jdbcType=DECIMAL} , 
     #{checkdescr,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ORDERID , 
    TRADEID , 
    CORPID , 
    SHOPID , 
    SHOPNAME , 
    GROUPID , 
    CURRENCYID , 
    CUSTOMERID , 
    CUSTOMERNAME , 
    FIRSTNAME , 
    LASTNAME , 
    PAYMENTMETHOD , 
    REMARKS , 
    GIFTOPTION , 
    GIFTMESSAGE , 
    CREATEDDATE , 
    UPDATEDDATE , 
    PHONE1 , 
    PHONE2 , 
    ADDRESS1 , 
    ADDRESS2 , 
    ADDRESS3 , 
    CITY , 
    PROVINCE , 
    WARD , 
    REGION , 
    POSTCODE , 
    COUNTRY , 
    COUNTRYCODE , 
    ORDERITEMID , 
    IDENTIFYNUM , 
    PRODUCTNAME , 
    SKU , 
    SHOPSKU , 
    SHIPPINGTYPE , 
    ITEMPRICE , 
    QUANTITY , 
    PAIDPRICE , 
    WALLETCREDITS , 
    TAXAMOUNT , 
    SHIPPINGAMOUNT , 
    VOUCHERAMOUNT , 
    VOUCHERCODE , 
    ITEMSTATUS , 
    SHIPMENTPROVIDER , 
    REASON , 
    REASONDETAIL , 
    PURCHASEORDERID , 
    PURCHASEORDERNUMBER , 
    CHECKFLAG , 
    CHECKDESCR , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=DECIMAL} and 
    </if>
    <if test="currencyid != null">
      currencyid = #{currencyid,jdbcType=VARCHAR} and 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} and 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} and 
    </if>
    <if test="firstname != null">
      firstname = #{firstname,jdbcType=VARCHAR} and 
    </if>
    <if test="lastname != null">
      lastname = #{lastname,jdbcType=VARCHAR} and 
    </if>
    <if test="paymentmethod != null">
      paymentmethod = #{paymentmethod,jdbcType=VARCHAR} and 
    </if>
    <if test="remarks != null">
      remarks = #{remarks,jdbcType=VARCHAR} and 
    </if>
    <if test="giftoption != null">
      giftoption = #{giftoption,jdbcType=VARCHAR} and 
    </if>
    <if test="giftmessage != null">
      giftmessage = #{giftmessage,jdbcType=VARCHAR} and 
    </if>
    <if test="createddate != null">
      createddate = #{createddate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="updateddate != null">
      updateddate = #{updateddate,jdbcType=TIMESTAMP} and 
    </if>
    <if test="phone1 != null">
      phone1 = #{phone1,jdbcType=VARCHAR} and 
    </if>
    <if test="phone2 != null">
      phone2 = #{phone2,jdbcType=VARCHAR} and 
    </if>
    <if test="address1 != null">
      address1 = #{address1,jdbcType=VARCHAR} and 
    </if>
    <if test="address2 != null">
      address2 = #{address2,jdbcType=VARCHAR} and 
    </if>
    <if test="address3 != null">
      address3 = #{address3,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="ward != null">
      ward = #{ward,jdbcType=VARCHAR} and 
    </if>
    <if test="region != null">
      region = #{region,jdbcType=VARCHAR} and 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} and 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} and 
    </if>
    <if test="orderitemid != null">
      orderitemid = #{orderitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="identifynum != null">
      identifynum = #{identifynum,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="shopsku != null">
      shopsku = #{shopsku,jdbcType=VARCHAR} and 
    </if>
    <if test="shippingtype != null">
      shippingtype = #{shippingtype,jdbcType=VARCHAR} and 
    </if>
    <if test="itemprice != null">
      itemprice = #{itemprice,jdbcType=DECIMAL} and 
    </if>
    <if test="quantity != null">
      quantity = #{quantity,jdbcType=DECIMAL} and 
    </if>
    <if test="paidprice != null">
      paidprice = #{paidprice,jdbcType=DECIMAL} and 
    </if>
    <if test="walletcredits != null">
      walletcredits = #{walletcredits,jdbcType=DECIMAL} and 
    </if>
    <if test="taxamount != null">
      taxamount = #{taxamount,jdbcType=DECIMAL} and 
    </if>
    <if test="shippingamount != null">
      shippingamount = #{shippingamount,jdbcType=DECIMAL} and 
    </if>
    <if test="voucheramount != null">
      voucheramount = #{voucheramount,jdbcType=DECIMAL} and 
    </if>
    <if test="vouchercode != null">
      vouchercode = #{vouchercode,jdbcType=VARCHAR} and 
    </if>
    <if test="itemstatus != null">
      itemstatus = #{itemstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="shipmentprovider != null">
      shipmentprovider = #{shipmentprovider,jdbcType=VARCHAR} and 
    </if>
    <if test="reason != null">
      reason = #{reason,jdbcType=VARCHAR} and 
    </if>
    <if test="reasondetail != null">
      reasondetail = #{reasondetail,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseorderid != null">
      purchaseorderid = #{purchaseorderid,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseordernumber != null">
      purchaseordernumber = #{purchaseordernumber,jdbcType=VARCHAR} and 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} and 
    </if>
    <if test="checkdescr != null">
      checkdescr = #{checkdescr,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shopname != null">
      shopname = #{shopname,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=DECIMAL} , 
    </if>
    <if test="currencyid != null">
      currencyid = #{currencyid,jdbcType=VARCHAR} , 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} , 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} , 
    </if>
    <if test="firstname != null">
      firstname = #{firstname,jdbcType=VARCHAR} , 
    </if>
    <if test="lastname != null">
      lastname = #{lastname,jdbcType=VARCHAR} , 
    </if>
    <if test="paymentmethod != null">
      paymentmethod = #{paymentmethod,jdbcType=VARCHAR} , 
    </if>
    <if test="remarks != null">
      remarks = #{remarks,jdbcType=VARCHAR} , 
    </if>
    <if test="giftoption != null">
      giftoption = #{giftoption,jdbcType=VARCHAR} , 
    </if>
    <if test="giftmessage != null">
      giftmessage = #{giftmessage,jdbcType=VARCHAR} , 
    </if>
    <if test="createddate != null">
      createddate = #{createddate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="updateddate != null">
      updateddate = #{updateddate,jdbcType=TIMESTAMP} , 
    </if>
    <if test="phone1 != null">
      phone1 = #{phone1,jdbcType=VARCHAR} , 
    </if>
    <if test="phone2 != null">
      phone2 = #{phone2,jdbcType=VARCHAR} , 
    </if>
    <if test="address1 != null">
      address1 = #{address1,jdbcType=VARCHAR} , 
    </if>
    <if test="address2 != null">
      address2 = #{address2,jdbcType=VARCHAR} , 
    </if>
    <if test="address3 != null">
      address3 = #{address3,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="ward != null">
      ward = #{ward,jdbcType=VARCHAR} , 
    </if>
    <if test="region != null">
      region = #{region,jdbcType=VARCHAR} , 
    </if>
    <if test="postcode != null">
      postcode = #{postcode,jdbcType=VARCHAR} , 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} , 
    </if>
    <if test="orderitemid != null">
      orderitemid = #{orderitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="identifynum != null">
      identifynum = #{identifynum,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="shopsku != null">
      shopsku = #{shopsku,jdbcType=VARCHAR} , 
    </if>
    <if test="shippingtype != null">
      shippingtype = #{shippingtype,jdbcType=VARCHAR} , 
    </if>
    <if test="itemprice != null">
      itemprice = #{itemprice,jdbcType=DECIMAL} , 
    </if>
    <if test="quantity != null">
      quantity = #{quantity,jdbcType=DECIMAL} , 
    </if>
    <if test="paidprice != null">
      paidprice = #{paidprice,jdbcType=DECIMAL} , 
    </if>
    <if test="walletcredits != null">
      walletcredits = #{walletcredits,jdbcType=DECIMAL} , 
    </if>
    <if test="taxamount != null">
      taxamount = #{taxamount,jdbcType=DECIMAL} , 
    </if>
    <if test="shippingamount != null">
      shippingamount = #{shippingamount,jdbcType=DECIMAL} , 
    </if>
    <if test="voucheramount != null">
      voucheramount = #{voucheramount,jdbcType=DECIMAL} , 
    </if>
    <if test="vouchercode != null">
      vouchercode = #{vouchercode,jdbcType=VARCHAR} , 
    </if>
    <if test="itemstatus != null">
      itemstatus = #{itemstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="shipmentprovider != null">
      shipmentprovider = #{shipmentprovider,jdbcType=VARCHAR} , 
    </if>
    <if test="reason != null">
      reason = #{reason,jdbcType=VARCHAR} , 
    </if>
    <if test="reasondetail != null">
      reasondetail = #{reasondetail,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseorderid != null">
      purchaseorderid = #{purchaseorderid,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseordernumber != null">
      purchaseordernumber = #{purchaseordernumber,jdbcType=VARCHAR} , 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} , 
    </if>
    <if test="checkdescr != null">
      checkdescr = #{checkdescr,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbLazadaorderinfo" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbLazadaorderinfo">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbLazadaorderinfo">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbLazadaorderinfo">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>