<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbManufactureMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbManufacture">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FILED1" jdbcType="VARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="VARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="VARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="VARCHAR" property="filed4" />
    <result column="FILED5" jdbcType="VARCHAR" property="filed5" />
    <result column="FILED6" jdbcType="VARCHAR" property="filed6" />
    <result column="FILED7" jdbcType="VARCHAR" property="filed7" />
    <result column="FILED8" jdbcType="DECIMAL" property="filed8" />
    <result column="FILED9" jdbcType="DECIMAL" property="filed9" />
    <result column="FILED10" jdbcType="DECIMAL" property="filed10" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="SKYPE" jdbcType="VARCHAR" property="skype" />
    <result column="TAKEOPER1" jdbcType="VARCHAR" property="takeoper1" />
    <result column="TAKEOPER2" jdbcType="VARCHAR" property="takeoper2" />
    <result column="TAKEOPER" jdbcType="VARCHAR" property="takeoper" />
    <result column="MANAGEPRODUCT" jdbcType="VARCHAR" property="manageproduct" />
    <result column="PRODUCTCATEGORY" jdbcType="VARCHAR" property="productcategory" />
    <result column="MANUFACTURER" jdbcType="VARCHAR" property="manufacturer" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ONLINECONTACTWAY" jdbcType="VARCHAR" property="onlinecontactway" />
    <result column="PRODUCTCLASS" jdbcType="VARCHAR" property="productclass" />
    <result column="FACTORYECLASS" jdbcType="VARCHAR" property="factoryeclass" />
    <result column="SERVICECLASS" jdbcType="VARCHAR" property="serviceclass" />
    <result column="PRICECLASS" jdbcType="VARCHAR" property="priceclass" />
    <result column="DELIVERYTIME" jdbcType="VARCHAR" property="deliverytime" />
    <result column="CHRISTMASDELIVERYTIME" jdbcType="VARCHAR" property="christmasdeliverytime" />
    <result column="PRODUCTDELIVERYTIME" jdbcType="VARCHAR" property="productdeliverytime" />
    <result column="PRODUCTQUALITY" jdbcType="VARCHAR" property="productquality" />
    <result column="PACKAGING" jdbcType="VARCHAR" property="packaging" />
    <result column="DELIVERTYPE" jdbcType="VARCHAR" property="delivertype" />
    <result column="EMAILE" jdbcType="VARCHAR" property="emaile" />
    <result column="FAXMAILE" jdbcType="VARCHAR" property="faxmaile" />
    <result column="DRAWBACK" jdbcType="VARCHAR" property="drawback" />
    <result column="COLLECTIONOPER" jdbcType="VARCHAR" property="collectionoper" />
    <result column="BANK" jdbcType="VARCHAR" property="bank" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="REMITTANCECOMPANYNAME" jdbcType="VARCHAR" property="remittancecompanyname" />
    <result column="REMITTANCEACCOUNT" jdbcType="VARCHAR" property="remittanceaccount" />
    <result column="COMPANYADDRESS" jdbcType="VARCHAR" property="companyaddress" />
    <result column="BANKNAME" jdbcType="VARCHAR" property="bankname" />
    <result column="SWIFTCODE" jdbcType="VARCHAR" property="swiftcode" />
    <result column="BANKADDRESS" jdbcType="VARCHAR" property="bankaddress" />
    <result column="TRANSFERBANKNAME" jdbcType="VARCHAR" property="transferbankname" />
    <result column="TRANSFERSWIFTCODE" jdbcType="VARCHAR" property="transferswiftcode" />
    <result column="TRANSFERBANKADDRESS" jdbcType="VARCHAR" property="transferbankaddress" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="ARRIVALCYCLE" jdbcType="DECIMAL" property="arrivalcycle" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="ALISUPPLIERID" jdbcType="VARCHAR" property="alisupplierid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, DESCR, OPER, OPERTIME, FILED1, FILED2, FILED3, FILED4, FILED5, 
    FILED6, FILED7, FILED8, FILED9, FILED10, CORPID, OPENFLAG, SKYPE, TAKEOPER1, TAKEOPER2, 
    TAKEOPER, MANAGEPRODUCT, PRODUCTCATEGORY, MANUFACTURER, PHONE, ONLINECONTACTWAY, 
    PRODUCTCLASS, FACTORYECLASS, SERVICECLASS, PRICECLASS, DELIVERYTIME, CHRISTMASDELIVERYTIME, 
    PRODUCTDELIVERYTIME, PRODUCTQUALITY, PACKAGING, DELIVERTYPE, EMAILE, FAXMAILE, DRAWBACK, 
    COLLECTIONOPER, BANK, ACCOUNT, REMITTANCECOMPANYNAME, REMITTANCEACCOUNT, COMPANYADDRESS, 
    BANKNAME, SWIFTCODE, BANKADDRESS, TRANSFERBANKNAME, TRANSFERSWIFTCODE, TRANSFERBANKADDRESS, 
    DISTRICT, ARRIVALCYCLE, CATEGORYID, CATEGORYNAME, ALISUPPLIERID
    from DB_MANUFACTURE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, NAME, DESCR, OPER, OPERTIME, FILED1, FILED2, FILED3, FILED4, FILED5, 
    FILED6, FILED7, FILED8, FILED9, FILED10, CORPID, OPENFLAG, SKYPE, TAKEOPER1, TAKEOPER2, 
    TAKEOPER, MANAGEPRODUCT, PRODUCTCATEGORY, MANUFACTURER, PHONE, ONLINECONTACTWAY, 
    PRODUCTCLASS, FACTORYECLASS, SERVICECLASS, PRICECLASS, DELIVERYTIME, CHRISTMASDELIVERYTIME, 
    PRODUCTDELIVERYTIME, PRODUCTQUALITY, PACKAGING, DELIVERTYPE, EMAILE, FAXMAILE, DRAWBACK, 
    COLLECTIONOPER, BANK, ACCOUNT, REMITTANCECOMPANYNAME, REMITTANCEACCOUNT, COMPANYADDRESS, 
    BANKNAME, SWIFTCODE, BANKADDRESS, TRANSFERBANKNAME, TRANSFERSWIFTCODE, TRANSFERBANKADDRESS, 
    DISTRICT, ARRIVALCYCLE, CATEGORYID, CATEGORYNAME, ALISUPPLIERID
    from DB_MANUFACTURE
  </select>
  <sql id="TableName">
    DB_MANUFACTURE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{filed1,jdbcType=VARCHAR} , 
     #{filed2,jdbcType=VARCHAR} , 
     #{filed3,jdbcType=VARCHAR} , 
     #{filed4,jdbcType=VARCHAR} , 
     #{filed5,jdbcType=VARCHAR} , 
     #{filed6,jdbcType=VARCHAR} , 
     #{filed7,jdbcType=VARCHAR} , 
     #{filed8,jdbcType=DECIMAL} , 
     #{filed9,jdbcType=DECIMAL} , 
     #{filed10,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{skype,jdbcType=VARCHAR} , 
     #{takeoper1,jdbcType=VARCHAR} , 
     #{takeoper2,jdbcType=VARCHAR} , 
     #{takeoper,jdbcType=VARCHAR} , 
     #{manageproduct,jdbcType=VARCHAR} , 
     #{productcategory,jdbcType=VARCHAR} , 
     #{manufacturer,jdbcType=VARCHAR} , 
     #{phone,jdbcType=VARCHAR} , 
     #{onlinecontactway,jdbcType=VARCHAR} , 
     #{productclass,jdbcType=VARCHAR} , 
     #{factoryeclass,jdbcType=VARCHAR} , 
     #{serviceclass,jdbcType=VARCHAR} , 
     #{priceclass,jdbcType=VARCHAR} , 
     #{deliverytime,jdbcType=VARCHAR} , 
     #{christmasdeliverytime,jdbcType=VARCHAR} , 
     #{productdeliverytime,jdbcType=VARCHAR} , 
     #{productquality,jdbcType=VARCHAR} , 
     #{packaging,jdbcType=VARCHAR} , 
     #{delivertype,jdbcType=VARCHAR} , 
     #{emaile,jdbcType=VARCHAR} , 
     #{faxmaile,jdbcType=VARCHAR} , 
     #{drawback,jdbcType=VARCHAR} , 
     #{collectionoper,jdbcType=VARCHAR} , 
     #{bank,jdbcType=VARCHAR} , 
     #{account,jdbcType=VARCHAR} , 
     #{remittancecompanyname,jdbcType=VARCHAR} , 
     #{remittanceaccount,jdbcType=VARCHAR} , 
     #{companyaddress,jdbcType=VARCHAR} , 
     #{bankname,jdbcType=VARCHAR} , 
     #{swiftcode,jdbcType=VARCHAR} , 
     #{bankaddress,jdbcType=VARCHAR} , 
     #{transferbankname,jdbcType=VARCHAR} , 
     #{transferswiftcode,jdbcType=VARCHAR} , 
     #{transferbankaddress,jdbcType=VARCHAR} , 
     #{district,jdbcType=VARCHAR} , 
     #{arrivalcycle,jdbcType=DECIMAL} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{alisupplierid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    NAME , 
    DESCR , 
    OPER , 
    OPERTIME , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
    FILED6 , 
    FILED7 , 
    FILED8 , 
    FILED9 , 
    FILED10 , 
    CORPID , 
    OPENFLAG , 
    SKYPE , 
    TAKEOPER1 , 
    TAKEOPER2 , 
    TAKEOPER , 
    MANAGEPRODUCT , 
    PRODUCTCATEGORY , 
    MANUFACTURER , 
    PHONE , 
    ONLINECONTACTWAY , 
    PRODUCTCLASS , 
    FACTORYECLASS , 
    SERVICECLASS , 
    PRICECLASS , 
    DELIVERYTIME , 
    CHRISTMASDELIVERYTIME , 
    PRODUCTDELIVERYTIME , 
    PRODUCTQUALITY , 
    PACKAGING , 
    DELIVERTYPE , 
    EMAILE , 
    FAXMAILE , 
    DRAWBACK , 
    COLLECTIONOPER , 
    BANK , 
    ACCOUNT , 
    REMITTANCECOMPANYNAME , 
    REMITTANCEACCOUNT , 
    COMPANYADDRESS , 
    BANKNAME , 
    SWIFTCODE , 
    BANKADDRESS , 
    TRANSFERBANKNAME , 
    TRANSFERSWIFTCODE , 
    TRANSFERBANKADDRESS , 
    DISTRICT , 
    ARRIVALCYCLE , 
    CATEGORYID , 
    CATEGORYNAME , 
    ALISUPPLIERID , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} and 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} and 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=VARCHAR} and 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=VARCHAR} and 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=VARCHAR} and 
    </if>
    <if test="filed6 != null">
      filed6 = #{filed6,jdbcType=VARCHAR} and 
    </if>
    <if test="filed7 != null">
      filed7 = #{filed7,jdbcType=VARCHAR} and 
    </if>
    <if test="filed8 != null">
      filed8 = #{filed8,jdbcType=DECIMAL} and 
    </if>
    <if test="filed9 != null">
      filed9 = #{filed9,jdbcType=DECIMAL} and 
    </if>
    <if test="filed10 != null">
      filed10 = #{filed10,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="skype != null">
      skype = #{skype,jdbcType=VARCHAR} and 
    </if>
    <if test="takeoper1 != null">
      takeoper1 = #{takeoper1,jdbcType=VARCHAR} and 
    </if>
    <if test="takeoper2 != null">
      takeoper2 = #{takeoper2,jdbcType=VARCHAR} and 
    </if>
    <if test="takeoper != null">
      takeoper = #{takeoper,jdbcType=VARCHAR} and 
    </if>
    <if test="manageproduct != null">
      manageproduct = #{manageproduct,jdbcType=VARCHAR} and 
    </if>
    <if test="productcategory != null">
      productcategory = #{productcategory,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacturer != null">
      manufacturer = #{manufacturer,jdbcType=VARCHAR} and 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} and 
    </if>
    <if test="onlinecontactway != null">
      onlinecontactway = #{onlinecontactway,jdbcType=VARCHAR} and 
    </if>
    <if test="productclass != null">
      productclass = #{productclass,jdbcType=VARCHAR} and 
    </if>
    <if test="factoryeclass != null">
      factoryeclass = #{factoryeclass,jdbcType=VARCHAR} and 
    </if>
    <if test="serviceclass != null">
      serviceclass = #{serviceclass,jdbcType=VARCHAR} and 
    </if>
    <if test="priceclass != null">
      priceclass = #{priceclass,jdbcType=VARCHAR} and 
    </if>
    <if test="deliverytime != null">
      deliverytime = #{deliverytime,jdbcType=VARCHAR} and 
    </if>
    <if test="christmasdeliverytime != null">
      christmasdeliverytime = #{christmasdeliverytime,jdbcType=VARCHAR} and 
    </if>
    <if test="productdeliverytime != null">
      productdeliverytime = #{productdeliverytime,jdbcType=VARCHAR} and 
    </if>
    <if test="productquality != null">
      productquality = #{productquality,jdbcType=VARCHAR} and 
    </if>
    <if test="packaging != null">
      packaging = #{packaging,jdbcType=VARCHAR} and 
    </if>
    <if test="delivertype != null">
      delivertype = #{delivertype,jdbcType=VARCHAR} and 
    </if>
    <if test="emaile != null">
      emaile = #{emaile,jdbcType=VARCHAR} and 
    </if>
    <if test="faxmaile != null">
      faxmaile = #{faxmaile,jdbcType=VARCHAR} and 
    </if>
    <if test="drawback != null">
      drawback = #{drawback,jdbcType=VARCHAR} and 
    </if>
    <if test="collectionoper != null">
      collectionoper = #{collectionoper,jdbcType=VARCHAR} and 
    </if>
    <if test="bank != null">
      bank = #{bank,jdbcType=VARCHAR} and 
    </if>
    <if test="account != null">
      account = #{account,jdbcType=VARCHAR} and 
    </if>
    <if test="remittancecompanyname != null">
      remittancecompanyname = #{remittancecompanyname,jdbcType=VARCHAR} and 
    </if>
    <if test="remittanceaccount != null">
      remittanceaccount = #{remittanceaccount,jdbcType=VARCHAR} and 
    </if>
    <if test="companyaddress != null">
      companyaddress = #{companyaddress,jdbcType=VARCHAR} and 
    </if>
    <if test="bankname != null">
      bankname = #{bankname,jdbcType=VARCHAR} and 
    </if>
    <if test="swiftcode != null">
      swiftcode = #{swiftcode,jdbcType=VARCHAR} and 
    </if>
    <if test="bankaddress != null">
      bankaddress = #{bankaddress,jdbcType=VARCHAR} and 
    </if>
    <if test="transferbankname != null">
      transferbankname = #{transferbankname,jdbcType=VARCHAR} and 
    </if>
    <if test="transferswiftcode != null">
      transferswiftcode = #{transferswiftcode,jdbcType=VARCHAR} and 
    </if>
    <if test="transferbankaddress != null">
      transferbankaddress = #{transferbankaddress,jdbcType=VARCHAR} and 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} and 
    </if>
    <if test="arrivalcycle != null">
      arrivalcycle = #{arrivalcycle,jdbcType=DECIMAL} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="alisupplierid != null">
      alisupplierid = #{alisupplierid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} , 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} , 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=VARCHAR} , 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=VARCHAR} , 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=VARCHAR} , 
    </if>
    <if test="filed6 != null">
      filed6 = #{filed6,jdbcType=VARCHAR} , 
    </if>
    <if test="filed7 != null">
      filed7 = #{filed7,jdbcType=VARCHAR} , 
    </if>
    <if test="filed8 != null">
      filed8 = #{filed8,jdbcType=DECIMAL} , 
    </if>
    <if test="filed9 != null">
      filed9 = #{filed9,jdbcType=DECIMAL} , 
    </if>
    <if test="filed10 != null">
      filed10 = #{filed10,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="skype != null">
      skype = #{skype,jdbcType=VARCHAR} , 
    </if>
    <if test="takeoper1 != null">
      takeoper1 = #{takeoper1,jdbcType=VARCHAR} , 
    </if>
    <if test="takeoper2 != null">
      takeoper2 = #{takeoper2,jdbcType=VARCHAR} , 
    </if>
    <if test="takeoper != null">
      takeoper = #{takeoper,jdbcType=VARCHAR} , 
    </if>
    <if test="manageproduct != null">
      manageproduct = #{manageproduct,jdbcType=VARCHAR} , 
    </if>
    <if test="productcategory != null">
      productcategory = #{productcategory,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacturer != null">
      manufacturer = #{manufacturer,jdbcType=VARCHAR} , 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} , 
    </if>
    <if test="onlinecontactway != null">
      onlinecontactway = #{onlinecontactway,jdbcType=VARCHAR} , 
    </if>
    <if test="productclass != null">
      productclass = #{productclass,jdbcType=VARCHAR} , 
    </if>
    <if test="factoryeclass != null">
      factoryeclass = #{factoryeclass,jdbcType=VARCHAR} , 
    </if>
    <if test="serviceclass != null">
      serviceclass = #{serviceclass,jdbcType=VARCHAR} , 
    </if>
    <if test="priceclass != null">
      priceclass = #{priceclass,jdbcType=VARCHAR} , 
    </if>
    <if test="deliverytime != null">
      deliverytime = #{deliverytime,jdbcType=VARCHAR} , 
    </if>
    <if test="christmasdeliverytime != null">
      christmasdeliverytime = #{christmasdeliverytime,jdbcType=VARCHAR} , 
    </if>
    <if test="productdeliverytime != null">
      productdeliverytime = #{productdeliverytime,jdbcType=VARCHAR} , 
    </if>
    <if test="productquality != null">
      productquality = #{productquality,jdbcType=VARCHAR} , 
    </if>
    <if test="packaging != null">
      packaging = #{packaging,jdbcType=VARCHAR} , 
    </if>
    <if test="delivertype != null">
      delivertype = #{delivertype,jdbcType=VARCHAR} , 
    </if>
    <if test="emaile != null">
      emaile = #{emaile,jdbcType=VARCHAR} , 
    </if>
    <if test="faxmaile != null">
      faxmaile = #{faxmaile,jdbcType=VARCHAR} , 
    </if>
    <if test="drawback != null">
      drawback = #{drawback,jdbcType=VARCHAR} , 
    </if>
    <if test="collectionoper != null">
      collectionoper = #{collectionoper,jdbcType=VARCHAR} , 
    </if>
    <if test="bank != null">
      bank = #{bank,jdbcType=VARCHAR} , 
    </if>
    <if test="account != null">
      account = #{account,jdbcType=VARCHAR} , 
    </if>
    <if test="remittancecompanyname != null">
      remittancecompanyname = #{remittancecompanyname,jdbcType=VARCHAR} , 
    </if>
    <if test="remittanceaccount != null">
      remittanceaccount = #{remittanceaccount,jdbcType=VARCHAR} , 
    </if>
    <if test="companyaddress != null">
      companyaddress = #{companyaddress,jdbcType=VARCHAR} , 
    </if>
    <if test="bankname != null">
      bankname = #{bankname,jdbcType=VARCHAR} , 
    </if>
    <if test="swiftcode != null">
      swiftcode = #{swiftcode,jdbcType=VARCHAR} , 
    </if>
    <if test="bankaddress != null">
      bankaddress = #{bankaddress,jdbcType=VARCHAR} , 
    </if>
    <if test="transferbankname != null">
      transferbankname = #{transferbankname,jdbcType=VARCHAR} , 
    </if>
    <if test="transferswiftcode != null">
      transferswiftcode = #{transferswiftcode,jdbcType=VARCHAR} , 
    </if>
    <if test="transferbankaddress != null">
      transferbankaddress = #{transferbankaddress,jdbcType=VARCHAR} , 
    </if>
    <if test="district != null">
      district = #{district,jdbcType=VARCHAR} , 
    </if>
    <if test="arrivalcycle != null">
      arrivalcycle = #{arrivalcycle,jdbcType=DECIMAL} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="alisupplierid != null">
      alisupplierid = #{alisupplierid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbManufacture" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbManufacture">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbManufacture">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbManufacture">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>