<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMenufuncBakMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMenufuncBak">
    <result column="FUNID" jdbcType="VARCHAR" property="funid" />
    <result column="FUNNAME" jdbcType="VARCHAR" property="funname" />
    <result column="FUNDESC" jdbcType="VARCHAR" property="fundesc" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="IFWINOPEN" jdbcType="DECIMAL" property="ifwinopen" />
    <result column="IFPARENT" jdbcType="DECIMAL" property="ifparent" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select FUNID, FUNNAME, FUNDESC, URL, IFWINOPEN, IFPARENT, PARENTID, SORT, TYPE, RESERVE1, 
    RESERVE2, RESERVE3, RESERVE4, RESERVE5
    from DB_MENUFUNC_BAK
  </select>
  <sql id="TableName">
    DB_MENUFUNC_BAK
  </sql>
  <sql id="Values">
     #{funid,jdbcType=VARCHAR} , 
     #{funname,jdbcType=VARCHAR} , 
     #{fundesc,jdbcType=VARCHAR} , 
     #{url,jdbcType=VARCHAR} , 
     #{ifwinopen,jdbcType=DECIMAL} , 
     #{ifparent,jdbcType=DECIMAL} , 
     #{parentid,jdbcType=VARCHAR} , 
     #{sort,jdbcType=DECIMAL} , 
     #{type,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    FUNID , 
    FUNNAME , 
    FUNDESC , 
    URL , 
    IFWINOPEN , 
    IFPARENT , 
    PARENTID , 
    SORT , 
    TYPE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
  </sql>
  <sql id="Criteria">
    <if test="funid != null">
      funid = #{funid,jdbcType=VARCHAR} and 
    </if>
    <if test="funname != null">
      funname = #{funname,jdbcType=VARCHAR} and 
    </if>
    <if test="fundesc != null">
      fundesc = #{fundesc,jdbcType=VARCHAR} and 
    </if>
    <if test="url != null">
      url = #{url,jdbcType=VARCHAR} and 
    </if>
    <if test="ifwinopen != null">
      ifwinopen = #{ifwinopen,jdbcType=DECIMAL} and 
    </if>
    <if test="ifparent != null">
      ifparent = #{ifparent,jdbcType=DECIMAL} and 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=VARCHAR} and 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} and 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="funid != null">
      funid = #{funid,jdbcType=VARCHAR} , 
    </if>
    <if test="funname != null">
      funname = #{funname,jdbcType=VARCHAR} , 
    </if>
    <if test="fundesc != null">
      fundesc = #{fundesc,jdbcType=VARCHAR} , 
    </if>
    <if test="url != null">
      url = #{url,jdbcType=VARCHAR} , 
    </if>
    <if test="ifwinopen != null">
      ifwinopen = #{ifwinopen,jdbcType=DECIMAL} , 
    </if>
    <if test="ifparent != null">
      ifparent = #{ifparent,jdbcType=DECIMAL} , 
    </if>
    <if test="parentid != null">
      parentid = #{parentid,jdbcType=VARCHAR} , 
    </if>
    <if test="sort != null">
      sort = #{sort,jdbcType=DECIMAL} , 
    </if>
    <if test="type != null">
      type = #{type,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbMenufuncBak" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where FUNID=#{FUNID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbMenufuncBak">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbMenufuncBak">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbMenufuncBak">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>