<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMymabangMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMymabang">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="ENCRYPTIONKEY" jdbcType="VARCHAR" property="encryptionkey" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="RESERVE11" jdbcType="VARCHAR" property="reserve11" />
    <result column="RESERVE12" jdbcType="VARCHAR" property="reserve12" />
    <result column="RESERVE13" jdbcType="VARCHAR" property="reserve13" />
    <result column="RESERVE14" jdbcType="VARCHAR" property="reserve14" />
    <result column="RESERVE15" jdbcType="VARCHAR" property="reserve15" />
    <result column="RESERVE16" jdbcType="VARCHAR" property="reserve16" />
    <result column="RESERVE17" jdbcType="VARCHAR" property="reserve17" />
    <result column="RESERVE18" jdbcType="VARCHAR" property="reserve18" />
    <result column="RESERVE19" jdbcType="VARCHAR" property="reserve19" />
    <result column="RESERVE20" jdbcType="VARCHAR" property="reserve20" />
    <result column="RESERVE21" jdbcType="DECIMAL" property="reserve21" />
    <result column="RESERVE22" jdbcType="DECIMAL" property="reserve22" />
    <result column="RESERVE23" jdbcType="DECIMAL" property="reserve23" />
    <result column="RESERVE24" jdbcType="DECIMAL" property="reserve24" />
    <result column="RESERVE25" jdbcType="DECIMAL" property="reserve25" />
    <result column="RESERVE26" jdbcType="DECIMAL" property="reserve26" />
    <result column="RESERVE27" jdbcType="DECIMAL" property="reserve27" />
    <result column="RESERVE28" jdbcType="DECIMAL" property="reserve28" />
    <result column="RESERVE29" jdbcType="DECIMAL" property="reserve29" />
    <result column="RESERVE30" jdbcType="DECIMAL" property="reserve30" />
    <result column="RESERVE31" jdbcType="TIMESTAMP" property="reserve31" />
    <result column="RESERVE32" jdbcType="TIMESTAMP" property="reserve32" />
    <result column="RESERVE33" jdbcType="TIMESTAMP" property="reserve33" />
    <result column="RESERVE34" jdbcType="TIMESTAMP" property="reserve34" />
    <result column="RESERVE35" jdbcType="TIMESTAMP" property="reserve35" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, ENCRYPTIONKEY, USERID, PASSWORD, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, 
    RESERVE20, RESERVE21, RESERVE22, RESERVE23, RESERVE24, RESERVE25, RESERVE26, RESERVE27, 
    RESERVE28, RESERVE29, RESERVE30, RESERVE31, RESERVE32, RESERVE33, RESERVE34, RESERVE35, 
    OPENFLAG, OPER, OPERTIME
    from DB_MYMABANG
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ENCRYPTIONKEY, USERID, PASSWORD, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, RESERVE11, 
    RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, RESERVE17, RESERVE18, RESERVE19, 
    RESERVE20, RESERVE21, RESERVE22, RESERVE23, RESERVE24, RESERVE25, RESERVE26, RESERVE27, 
    RESERVE28, RESERVE29, RESERVE30, RESERVE31, RESERVE32, RESERVE33, RESERVE34, RESERVE35, 
    OPENFLAG, OPER, OPERTIME
    from DB_MYMABANG
  </select>
  <sql id="TableName">
    DB_MYMABANG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{encryptionkey,jdbcType=VARCHAR} , 
     #{userid,jdbcType=VARCHAR} , 
     #{password,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=VARCHAR} , 
     #{reserve11,jdbcType=VARCHAR} , 
     #{reserve12,jdbcType=VARCHAR} , 
     #{reserve13,jdbcType=VARCHAR} , 
     #{reserve14,jdbcType=VARCHAR} , 
     #{reserve15,jdbcType=VARCHAR} , 
     #{reserve16,jdbcType=VARCHAR} , 
     #{reserve17,jdbcType=VARCHAR} , 
     #{reserve18,jdbcType=VARCHAR} , 
     #{reserve19,jdbcType=VARCHAR} , 
     #{reserve20,jdbcType=VARCHAR} , 
     #{reserve21,jdbcType=DECIMAL} , 
     #{reserve22,jdbcType=DECIMAL} , 
     #{reserve23,jdbcType=DECIMAL} , 
     #{reserve24,jdbcType=DECIMAL} , 
     #{reserve25,jdbcType=DECIMAL} , 
     #{reserve26,jdbcType=DECIMAL} , 
     #{reserve27,jdbcType=DECIMAL} , 
     #{reserve28,jdbcType=DECIMAL} , 
     #{reserve29,jdbcType=DECIMAL} , 
     #{reserve30,jdbcType=DECIMAL} , 
     #{reserve31,jdbcType=TIMESTAMP} , 
     #{reserve32,jdbcType=TIMESTAMP} , 
     #{reserve33,jdbcType=TIMESTAMP} , 
     #{reserve34,jdbcType=TIMESTAMP} , 
     #{reserve35,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ENCRYPTIONKEY , 
    USERID , 
    PASSWORD , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    RESERVE17 , 
    RESERVE18 , 
    RESERVE19 , 
    RESERVE20 , 
    RESERVE21 , 
    RESERVE22 , 
    RESERVE23 , 
    RESERVE24 , 
    RESERVE25 , 
    RESERVE26 , 
    RESERVE27 , 
    RESERVE28 , 
    RESERVE29 , 
    RESERVE30 , 
    RESERVE31 , 
    RESERVE32 , 
    RESERVE33 , 
    RESERVE34 , 
    RESERVE35 , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="encryptionkey != null">
      encryptionkey = #{encryptionkey,jdbcType=VARCHAR} and 
    </if>
    <if test="userid != null">
      userid = #{userid,jdbcType=VARCHAR} and 
    </if>
    <if test="password != null">
      password = #{password,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve21 != null">
      reserve21 = #{reserve21,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve22 != null">
      reserve22 = #{reserve22,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve23 != null">
      reserve23 = #{reserve23,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve24 != null">
      reserve24 = #{reserve24,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve25 != null">
      reserve25 = #{reserve25,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve26 != null">
      reserve26 = #{reserve26,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve27 != null">
      reserve27 = #{reserve27,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve28 != null">
      reserve28 = #{reserve28,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve29 != null">
      reserve29 = #{reserve29,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve30 != null">
      reserve30 = #{reserve30,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve31 != null">
      reserve31 = #{reserve31,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve32 != null">
      reserve32 = #{reserve32,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve33 != null">
      reserve33 = #{reserve33,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve34 != null">
      reserve34 = #{reserve34,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve35 != null">
      reserve35 = #{reserve35,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="encryptionkey != null">
      encryptionkey = #{encryptionkey,jdbcType=VARCHAR} , 
    </if>
    <if test="userid != null">
      userid = #{userid,jdbcType=VARCHAR} , 
    </if>
    <if test="password != null">
      password = #{password,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve17 != null">
      reserve17 = #{reserve17,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve18 != null">
      reserve18 = #{reserve18,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve19 != null">
      reserve19 = #{reserve19,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve20 != null">
      reserve20 = #{reserve20,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve21 != null">
      reserve21 = #{reserve21,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve22 != null">
      reserve22 = #{reserve22,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve23 != null">
      reserve23 = #{reserve23,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve24 != null">
      reserve24 = #{reserve24,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve25 != null">
      reserve25 = #{reserve25,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve26 != null">
      reserve26 = #{reserve26,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve27 != null">
      reserve27 = #{reserve27,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve28 != null">
      reserve28 = #{reserve28,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve29 != null">
      reserve29 = #{reserve29,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve30 != null">
      reserve30 = #{reserve30,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve31 != null">
      reserve31 = #{reserve31,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve32 != null">
      reserve32 = #{reserve32,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve33 != null">
      reserve33 = #{reserve33,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve34 != null">
      reserve34 = #{reserve34,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve35 != null">
      reserve35 = #{reserve35,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbMymabang" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbMymabang">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbMymabang">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbMymabang">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>