<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbMysqlMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbMysql">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="DBHOST" jdbcType="VARCHAR" property="dbhost" />
    <result column="DBNAME" jdbcType="VARCHAR" property="dbname" />
    <result column="DBUSERNAME" jdbcType="VARCHAR" property="dbusername" />
    <result column="DBPASSWORD" jdbcType="VARCHAR" property="dbpassword" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, DBHOST, DBNAME, DBUSERNAME, DBPASSWORD, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4, RESERVE5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_mysql
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_mysql
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbMysql">
    insert into db_mysql (SEQUENCEID, DBHOST, DBNAME, 
      DBUSERNAME, DBPASSWORD, RESERVE1, 
      RESERVE2, RESERVE3, RESERVE4, 
      RESERVE5)
    values (#{sequenceid,jdbcType=VARCHAR}, #{dbhost,jdbcType=VARCHAR}, #{dbname,jdbcType=VARCHAR}, 
      #{dbusername,jdbcType=VARCHAR}, #{dbpassword,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, 
      #{reserve5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbMysql">
    insert into db_mysql
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="dbhost != null">
        DBHOST,
      </if>
      <if test="dbname != null">
        DBNAME,
      </if>
      <if test="dbusername != null">
        DBUSERNAME,
      </if>
      <if test="dbpassword != null">
        DBPASSWORD,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="dbhost != null">
        #{dbhost,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null">
        #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="dbusername != null">
        #{dbusername,jdbcType=VARCHAR},
      </if>
      <if test="dbpassword != null">
        #{dbpassword,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbMysql">
    update db_mysql
    <set>
      <if test="dbhost != null">
        DBHOST = #{dbhost,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null">
        DBNAME = #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="dbusername != null">
        DBUSERNAME = #{dbusername,jdbcType=VARCHAR},
      </if>
      <if test="dbpassword != null">
        DBPASSWORD = #{dbpassword,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbMysql">
    update db_mysql
    set DBHOST = #{dbhost,jdbcType=VARCHAR},
      DBNAME = #{dbname,jdbcType=VARCHAR},
      DBUSERNAME = #{dbusername,jdbcType=VARCHAR},
      DBPASSWORD = #{dbpassword,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>