<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbNewitemresultMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbNewitemresult">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PRODUCTINDEX" jdbcType="VARCHAR" property="productindex" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="EBAYBUYITNEWPRICE" jdbcType="DECIMAL" property="ebaybuyitnewprice" />
    <result column="EBAYBUYITNEWPRICEMONEYTYPE" jdbcType="VARCHAR" property="ebaybuyitnewpricemoneytype" />
    <result column="EBAYCOUNTRY" jdbcType="VARCHAR" property="ebaycountry" />
    <result column="EBAYDESCRIPTION" jdbcType="VARCHAR" property="ebaydescription" />
    <result column="EBAYHITCOUNT" jdbcType="DECIMAL" property="ebayhitcount" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYSTARTTIME" jdbcType="TIMESTAMP" property="ebaystarttime" />
    <result column="EBAYENDTIME" jdbcType="TIMESTAMP" property="ebayendtime" />
    <result column="EBAYHASRESERVEPRICE" jdbcType="VARCHAR" property="ebayhasreserveprice" />
    <result column="EBAYITEMURL" jdbcType="VARCHAR" property="ebayitemurl" />
    <result column="EBAYLISTDURATION" jdbcType="VARCHAR" property="ebaylistduration" />
    <result column="EBAYLOCATION" jdbcType="VARCHAR" property="ebaylocation" />
    <result column="EBAYGALLERYTYPE" jdbcType="VARCHAR" property="ebaygallerytype" />
    <result column="EBAYGALLERYURL" jdbcType="VARCHAR" property="ebaygalleryurl" />
    <result column="EBAYPHOTODISPLAY" jdbcType="VARCHAR" property="ebayphotodisplay" />
    <result column="EBAYPICTURESOURCE" jdbcType="VARCHAR" property="ebaypicturesource" />
    <result column="EBAYCATEGORYID" jdbcType="VARCHAR" property="ebaycategoryid" />
    <result column="EBAYCATEGORYNAME" jdbcType="VARCHAR" property="ebaycategoryname" />
    <result column="EBAYQUANTITY" jdbcType="DECIMAL" property="ebayquantity" />
    <result column="EBAYQUANTITYSOLD" jdbcType="DECIMAL" property="ebayquantitysold" />
    <result column="EBAYFEEDBACKTATINGSTAR" jdbcType="VARCHAR" property="ebayfeedbacktatingstar" />
    <result column="EBAYFEEDBACKSCORE" jdbcType="DECIMAL" property="ebayfeedbackscore" />
    <result column="EBAYPOSITIVEFEEDBACKPERCENT" jdbcType="DECIMAL" property="ebaypositivefeedbackpercent" />
    <result column="EBAYSELLERBUSINESSTYPE" jdbcType="VARCHAR" property="ebaysellerbusinesstype" />
    <result column="EBAYSTOREFRONT" jdbcType="VARCHAR" property="ebaystorefront" />
    <result column="EBAYSTOREURL" jdbcType="VARCHAR" property="ebaystoreurl" />
    <result column="EBAYSITE" jdbcType="VARCHAR" property="ebaysite" />
    <result column="EBAYSTATUS" jdbcType="VARCHAR" property="ebaystatus" />
    <result column="EBAYUSERID" jdbcType="VARCHAR" property="ebayuserid" />
    <result column="EBAYUSERIDCHANGED" jdbcType="VARCHAR" property="ebayuseridchanged" />
    <result column="EBAYSKU" jdbcType="VARCHAR" property="ebaysku" />
    <result column="EBAYSTARTPRICE" jdbcType="DECIMAL" property="ebaystartprice" />
    <result column="EBAYDDLEFT" jdbcType="DECIMAL" property="ebayddleft" />
    <result column="EBAYHHLEFT" jdbcType="DECIMAL" property="ebayhhleft" />
    <result column="EBAYMMLEFT" jdbcType="DECIMAL" property="ebaymmleft" />
    <result column="EBAYTITLE" jdbcType="VARCHAR" property="ebaytitle" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="PRICEFLAG" jdbcType="DECIMAL" property="priceflag" />
    <result column="TITLEFLAG" jdbcType="DECIMAL" property="titleflag" />
    <result column="PICTRUEFLAG" jdbcType="DECIMAL" property="pictrueflag" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="RESERVE11" jdbcType="TIMESTAMP" property="reserve11" />
    <result column="RESERVE12" jdbcType="TIMESTAMP" property="reserve12" />
    <result column="RESERVE13" jdbcType="TIMESTAMP" property="reserve13" />
    <result column="RESERVE14" jdbcType="DECIMAL" property="reserve14" />
    <result column="RESERVE15" jdbcType="DECIMAL" property="reserve15" />
    <result column="RESERVE16" jdbcType="DECIMAL" property="reserve16" />
    <result column="SHOWFLAG" jdbcType="DECIMAL" property="showflag" />
    <result column="SELLNUMBERAVGONEDAY" jdbcType="DECIMAL" property="sellnumberavgoneday" />
    <result column="SELLNUMBERDAY" jdbcType="DECIMAL" property="sellnumberday" />
    <result column="SELLNUMBERWEEK" jdbcType="DECIMAL" property="sellnumberweek" />
    <result column="SELLNUMBERMONTH" jdbcType="DECIMAL" property="sellnumbermonth" />
    <result column="SELLNUMBERTOTAL" jdbcType="DECIMAL" property="sellnumbertotal" />
    <result column="SELLNUMBERAVG" jdbcType="DECIMAL" property="sellnumberavg" />
    <result column="SELLNUMBERSITE" jdbcType="DECIMAL" property="sellnumbersite" />
    <result column="DOWNCOUNT" jdbcType="DECIMAL" property="downcount" />
    <result column="ENMITYID" jdbcType="VARCHAR" property="enmityid" />
    <result column="THREEDAYSNUM" jdbcType="DECIMAL" property="threedaysnum" />
    <result column="EXPRESSMONEYTYPE1" jdbcType="VARCHAR" property="expressmoneytype1" />
    <result column="EXPRESSMONEYTYPE2" jdbcType="VARCHAR" property="expressmoneytype2" />
    <result column="EXPRESSMONEYTYPE3" jdbcType="VARCHAR" property="expressmoneytype3" />
    <result column="EXPRESSMONEYTYPE4" jdbcType="VARCHAR" property="expressmoneytype4" />
    <result column="INTERNATIONALEXPRESS1" jdbcType="DECIMAL" property="internationalexpress1" />
    <result column="INTERNATIONALEXPRESS2" jdbcType="DECIMAL" property="internationalexpress2" />
    <result column="EXPRESS1" jdbcType="DECIMAL" property="express1" />
    <result column="EXPRESS2" jdbcType="DECIMAL" property="express2" />
    <result column="WEEKHITCOUNTER" jdbcType="DECIMAL" property="weekhitcounter" />
    <result column="MONTHHITCOUNTER" jdbcType="DECIMAL" property="monthhitcounter" />
    <result column="HITCOUNTERALL" jdbcType="DECIMAL" property="hitcounterall" />
    <result column="WEEKTRANSFORMRATE" jdbcType="DECIMAL" property="weektransformrate" />
    <result column="MONTHTRANSFORMRATE" jdbcType="DECIMAL" property="monthtransformrate" />
    <result column="TOTALTTRANSFORMRATE" jdbcType="DECIMAL" property="totalttransformrate" />
    <result column="EXPRESSFLAG1" jdbcType="DECIMAL" property="expressflag1" />
    <result column="EXPRESSFLAG2" jdbcType="DECIMAL" property="expressflag2" />
    <result column="EXPRESSFLAG3" jdbcType="DECIMAL" property="expressflag3" />
    <result column="EXPRESSFLAG4" jdbcType="DECIMAL" property="expressflag4" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="CALCULATEFLAG" jdbcType="VARCHAR" property="calculateflag" />
    <result column="FIXFEE" jdbcType="DECIMAL" property="fixfee" />
    <result column="BIDFEE" jdbcType="DECIMAL" property="bidfee" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, PRODUCTINDEX, ITEMID, EBAYBUYITNEWPRICE, EBAYBUYITNEWPRICEMONEYTYPE, 
    EBAYCOUNTRY, EBAYDESCRIPTION, EBAYHITCOUNT, EBAYITEMID, EBAYSTARTTIME, EBAYENDTIME, 
    EBAYHASRESERVEPRICE, EBAYITEMURL, EBAYLISTDURATION, EBAYLOCATION, EBAYGALLERYTYPE, 
    EBAYGALLERYURL, EBAYPHOTODISPLAY, EBAYPICTURESOURCE, EBAYCATEGORYID, EBAYCATEGORYNAME, 
    EBAYQUANTITY, EBAYQUANTITYSOLD, EBAYFEEDBACKTATINGSTAR, EBAYFEEDBACKSCORE, EBAYPOSITIVEFEEDBACKPERCENT, 
    EBAYSELLERBUSINESSTYPE, EBAYSTOREFRONT, EBAYSTOREURL, EBAYSITE, EBAYSTATUS, EBAYUSERID, 
    EBAYUSERIDCHANGED, EBAYSKU, EBAYSTARTPRICE, EBAYDDLEFT, EBAYHHLEFT, EBAYMMLEFT, EBAYTITLE, 
    FLAG, CORPID, OPER, OPERTIME, UPDATETIME, CREATETIME, PRICEFLAG, TITLEFLAG, PICTRUEFLAG, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, 
    RESERVE10, RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, SHOWFLAG, 
    SELLNUMBERAVGONEDAY, SELLNUMBERDAY, SELLNUMBERWEEK, SELLNUMBERMONTH, SELLNUMBERTOTAL, 
    SELLNUMBERAVG, SELLNUMBERSITE, DOWNCOUNT, ENMITYID, THREEDAYSNUM, EXPRESSMONEYTYPE1, 
    EXPRESSMONEYTYPE2, EXPRESSMONEYTYPE3, EXPRESSMONEYTYPE4, INTERNATIONALEXPRESS1, INTERNATIONALEXPRESS2, 
    EXPRESS1, EXPRESS2, WEEKHITCOUNTER, MONTHHITCOUNTER, HITCOUNTERALL, WEEKTRANSFORMRATE, 
    MONTHTRANSFORMRATE, TOTALTTRANSFORMRATE, EXPRESSFLAG1, EXPRESSFLAG2, EXPRESSFLAG3, 
    EXPRESSFLAG4, CREATEOPER, CALCULATEFLAG, FIXFEE, BIDFEE
    from DB_NEWITEMRESULT
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, PRODUCTINDEX, ITEMID, EBAYBUYITNEWPRICE, EBAYBUYITNEWPRICEMONEYTYPE, 
    EBAYCOUNTRY, EBAYDESCRIPTION, EBAYHITCOUNT, EBAYITEMID, EBAYSTARTTIME, EBAYENDTIME, 
    EBAYHASRESERVEPRICE, EBAYITEMURL, EBAYLISTDURATION, EBAYLOCATION, EBAYGALLERYTYPE, 
    EBAYGALLERYURL, EBAYPHOTODISPLAY, EBAYPICTURESOURCE, EBAYCATEGORYID, EBAYCATEGORYNAME, 
    EBAYQUANTITY, EBAYQUANTITYSOLD, EBAYFEEDBACKTATINGSTAR, EBAYFEEDBACKSCORE, EBAYPOSITIVEFEEDBACKPERCENT, 
    EBAYSELLERBUSINESSTYPE, EBAYSTOREFRONT, EBAYSTOREURL, EBAYSITE, EBAYSTATUS, EBAYUSERID, 
    EBAYUSERIDCHANGED, EBAYSKU, EBAYSTARTPRICE, EBAYDDLEFT, EBAYHHLEFT, EBAYMMLEFT, EBAYTITLE, 
    FLAG, CORPID, OPER, OPERTIME, UPDATETIME, CREATETIME, PRICEFLAG, TITLEFLAG, PICTRUEFLAG, 
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, 
    RESERVE10, RESERVE11, RESERVE12, RESERVE13, RESERVE14, RESERVE15, RESERVE16, SHOWFLAG, 
    SELLNUMBERAVGONEDAY, SELLNUMBERDAY, SELLNUMBERWEEK, SELLNUMBERMONTH, SELLNUMBERTOTAL, 
    SELLNUMBERAVG, SELLNUMBERSITE, DOWNCOUNT, ENMITYID, THREEDAYSNUM, EXPRESSMONEYTYPE1, 
    EXPRESSMONEYTYPE2, EXPRESSMONEYTYPE3, EXPRESSMONEYTYPE4, INTERNATIONALEXPRESS1, INTERNATIONALEXPRESS2, 
    EXPRESS1, EXPRESS2, WEEKHITCOUNTER, MONTHHITCOUNTER, HITCOUNTERALL, WEEKTRANSFORMRATE, 
    MONTHTRANSFORMRATE, TOTALTTRANSFORMRATE, EXPRESSFLAG1, EXPRESSFLAG2, EXPRESSFLAG3, 
    EXPRESSFLAG4, CREATEOPER, CALCULATEFLAG, FIXFEE, BIDFEE
    from DB_NEWITEMRESULT
  </select>
  <sql id="TableName">
    DB_NEWITEMRESULT
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{productindex,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{ebaybuyitnewprice,jdbcType=DECIMAL} , 
     #{ebaybuyitnewpricemoneytype,jdbcType=VARCHAR} , 
     #{ebaycountry,jdbcType=VARCHAR} , 
     #{ebaydescription,jdbcType=VARCHAR} , 
     #{ebayhitcount,jdbcType=DECIMAL} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{ebaystarttime,jdbcType=TIMESTAMP} , 
     #{ebayendtime,jdbcType=TIMESTAMP} , 
     #{ebayhasreserveprice,jdbcType=VARCHAR} , 
     #{ebayitemurl,jdbcType=VARCHAR} , 
     #{ebaylistduration,jdbcType=VARCHAR} , 
     #{ebaylocation,jdbcType=VARCHAR} , 
     #{ebaygallerytype,jdbcType=VARCHAR} , 
     #{ebaygalleryurl,jdbcType=VARCHAR} , 
     #{ebayphotodisplay,jdbcType=VARCHAR} , 
     #{ebaypicturesource,jdbcType=VARCHAR} , 
     #{ebaycategoryid,jdbcType=VARCHAR} , 
     #{ebaycategoryname,jdbcType=VARCHAR} , 
     #{ebayquantity,jdbcType=DECIMAL} , 
     #{ebayquantitysold,jdbcType=DECIMAL} , 
     #{ebayfeedbacktatingstar,jdbcType=VARCHAR} , 
     #{ebayfeedbackscore,jdbcType=DECIMAL} , 
     #{ebaypositivefeedbackpercent,jdbcType=DECIMAL} , 
     #{ebaysellerbusinesstype,jdbcType=VARCHAR} , 
     #{ebaystorefront,jdbcType=VARCHAR} , 
     #{ebaystoreurl,jdbcType=VARCHAR} , 
     #{ebaysite,jdbcType=VARCHAR} , 
     #{ebaystatus,jdbcType=VARCHAR} , 
     #{ebayuserid,jdbcType=VARCHAR} , 
     #{ebayuseridchanged,jdbcType=VARCHAR} , 
     #{ebaysku,jdbcType=VARCHAR} , 
     #{ebaystartprice,jdbcType=DECIMAL} , 
     #{ebayddleft,jdbcType=DECIMAL} , 
     #{ebayhhleft,jdbcType=DECIMAL} , 
     #{ebaymmleft,jdbcType=DECIMAL} , 
     #{ebaytitle,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{priceflag,jdbcType=DECIMAL} , 
     #{titleflag,jdbcType=DECIMAL} , 
     #{pictrueflag,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{reserve11,jdbcType=TIMESTAMP} , 
     #{reserve12,jdbcType=TIMESTAMP} , 
     #{reserve13,jdbcType=TIMESTAMP} , 
     #{reserve14,jdbcType=DECIMAL} , 
     #{reserve15,jdbcType=DECIMAL} , 
     #{reserve16,jdbcType=DECIMAL} , 
     #{showflag,jdbcType=DECIMAL} , 
     #{sellnumberavgoneday,jdbcType=DECIMAL} , 
     #{sellnumberday,jdbcType=DECIMAL} , 
     #{sellnumberweek,jdbcType=DECIMAL} , 
     #{sellnumbermonth,jdbcType=DECIMAL} , 
     #{sellnumbertotal,jdbcType=DECIMAL} , 
     #{sellnumberavg,jdbcType=DECIMAL} , 
     #{sellnumbersite,jdbcType=DECIMAL} , 
     #{downcount,jdbcType=DECIMAL} , 
     #{enmityid,jdbcType=VARCHAR} , 
     #{threedaysnum,jdbcType=DECIMAL} , 
     #{expressmoneytype1,jdbcType=VARCHAR} , 
     #{expressmoneytype2,jdbcType=VARCHAR} , 
     #{expressmoneytype3,jdbcType=VARCHAR} , 
     #{expressmoneytype4,jdbcType=VARCHAR} , 
     #{internationalexpress1,jdbcType=DECIMAL} , 
     #{internationalexpress2,jdbcType=DECIMAL} , 
     #{express1,jdbcType=DECIMAL} , 
     #{express2,jdbcType=DECIMAL} , 
     #{weekhitcounter,jdbcType=DECIMAL} , 
     #{monthhitcounter,jdbcType=DECIMAL} , 
     #{hitcounterall,jdbcType=DECIMAL} , 
     #{weektransformrate,jdbcType=DECIMAL} , 
     #{monthtransformrate,jdbcType=DECIMAL} , 
     #{totalttransformrate,jdbcType=DECIMAL} , 
     #{expressflag1,jdbcType=DECIMAL} , 
     #{expressflag2,jdbcType=DECIMAL} , 
     #{expressflag3,jdbcType=DECIMAL} , 
     #{expressflag4,jdbcType=DECIMAL} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{calculateflag,jdbcType=VARCHAR} , 
     #{fixfee,jdbcType=DECIMAL} , 
     #{bidfee,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SID , 
    PRODUCTINDEX , 
    ITEMID , 
    EBAYBUYITNEWPRICE , 
    EBAYBUYITNEWPRICEMONEYTYPE , 
    EBAYCOUNTRY , 
    EBAYDESCRIPTION , 
    EBAYHITCOUNT , 
    EBAYITEMID , 
    EBAYSTARTTIME , 
    EBAYENDTIME , 
    EBAYHASRESERVEPRICE , 
    EBAYITEMURL , 
    EBAYLISTDURATION , 
    EBAYLOCATION , 
    EBAYGALLERYTYPE , 
    EBAYGALLERYURL , 
    EBAYPHOTODISPLAY , 
    EBAYPICTURESOURCE , 
    EBAYCATEGORYID , 
    EBAYCATEGORYNAME , 
    EBAYQUANTITY , 
    EBAYQUANTITYSOLD , 
    EBAYFEEDBACKTATINGSTAR , 
    EBAYFEEDBACKSCORE , 
    EBAYPOSITIVEFEEDBACKPERCENT , 
    EBAYSELLERBUSINESSTYPE , 
    EBAYSTOREFRONT , 
    EBAYSTOREURL , 
    EBAYSITE , 
    EBAYSTATUS , 
    EBAYUSERID , 
    EBAYUSERIDCHANGED , 
    EBAYSKU , 
    EBAYSTARTPRICE , 
    EBAYDDLEFT , 
    EBAYHHLEFT , 
    EBAYMMLEFT , 
    EBAYTITLE , 
    FLAG , 
    CORPID , 
    OPER , 
    OPERTIME , 
    UPDATETIME , 
    CREATETIME , 
    PRICEFLAG , 
    TITLEFLAG , 
    PICTRUEFLAG , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    RESERVE11 , 
    RESERVE12 , 
    RESERVE13 , 
    RESERVE14 , 
    RESERVE15 , 
    RESERVE16 , 
    SHOWFLAG , 
    SELLNUMBERAVGONEDAY , 
    SELLNUMBERDAY , 
    SELLNUMBERWEEK , 
    SELLNUMBERMONTH , 
    SELLNUMBERTOTAL , 
    SELLNUMBERAVG , 
    SELLNUMBERSITE , 
    DOWNCOUNT , 
    ENMITYID , 
    THREEDAYSNUM , 
    EXPRESSMONEYTYPE1 , 
    EXPRESSMONEYTYPE2 , 
    EXPRESSMONEYTYPE3 , 
    EXPRESSMONEYTYPE4 , 
    INTERNATIONALEXPRESS1 , 
    INTERNATIONALEXPRESS2 , 
    EXPRESS1 , 
    EXPRESS2 , 
    WEEKHITCOUNTER , 
    MONTHHITCOUNTER , 
    HITCOUNTERALL , 
    WEEKTRANSFORMRATE , 
    MONTHTRANSFORMRATE , 
    TOTALTTRANSFORMRATE , 
    EXPRESSFLAG1 , 
    EXPRESSFLAG2 , 
    EXPRESSFLAG3 , 
    EXPRESSFLAG4 , 
    CREATEOPER , 
    CALCULATEFLAG , 
    FIXFEE , 
    BIDFEE , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="productindex != null">
      productindex = #{productindex,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaybuyitnewprice != null">
      ebaybuyitnewprice = #{ebaybuyitnewprice,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaybuyitnewpricemoneytype != null">
      ebaybuyitnewpricemoneytype = #{ebaybuyitnewpricemoneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycountry != null">
      ebaycountry = #{ebaycountry,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaydescription != null">
      ebaydescription = #{ebaydescription,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayhitcount != null">
      ebayhitcount = #{ebayhitcount,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystarttime != null">
      ebaystarttime = #{ebaystarttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="ebayendtime != null">
      ebayendtime = #{ebayendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="ebayhasreserveprice != null">
      ebayhasreserveprice = #{ebayhasreserveprice,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemurl != null">
      ebayitemurl = #{ebayitemurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaylistduration != null">
      ebaylistduration = #{ebaylistduration,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaylocation != null">
      ebaylocation = #{ebaylocation,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaygallerytype != null">
      ebaygallerytype = #{ebaygallerytype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaygalleryurl != null">
      ebaygalleryurl = #{ebaygalleryurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayphotodisplay != null">
      ebayphotodisplay = #{ebayphotodisplay,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaypicturesource != null">
      ebaypicturesource = #{ebaypicturesource,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycategoryid != null">
      ebaycategoryid = #{ebaycategoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycategoryname != null">
      ebaycategoryname = #{ebaycategoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayquantity != null">
      ebayquantity = #{ebayquantity,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayquantitysold != null">
      ebayquantitysold = #{ebayquantitysold,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayfeedbacktatingstar != null">
      ebayfeedbacktatingstar = #{ebayfeedbacktatingstar,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayfeedbackscore != null">
      ebayfeedbackscore = #{ebayfeedbackscore,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaypositivefeedbackpercent != null">
      ebaypositivefeedbackpercent = #{ebaypositivefeedbackpercent,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaysellerbusinesstype != null">
      ebaysellerbusinesstype = #{ebaysellerbusinesstype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystorefront != null">
      ebaystorefront = #{ebaystorefront,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystoreurl != null">
      ebaystoreurl = #{ebaystoreurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystatus != null">
      ebaystatus = #{ebaystatus,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayuserid != null">
      ebayuserid = #{ebayuserid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayuseridchanged != null">
      ebayuseridchanged = #{ebayuseridchanged,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystartprice != null">
      ebaystartprice = #{ebaystartprice,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayddleft != null">
      ebayddleft = #{ebayddleft,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayhhleft != null">
      ebayhhleft = #{ebayhhleft,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaymmleft != null">
      ebaymmleft = #{ebaymmleft,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaytitle != null">
      ebaytitle = #{ebaytitle,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="priceflag != null">
      priceflag = #{priceflag,jdbcType=DECIMAL} and 
    </if>
    <if test="titleflag != null">
      titleflag = #{titleflag,jdbcType=DECIMAL} and 
    </if>
    <if test="pictrueflag != null">
      pictrueflag = #{pictrueflag,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=DECIMAL} and 
    </if>
    <if test="showflag != null">
      showflag = #{showflag,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumberavgoneday != null">
      sellnumberavgoneday = #{sellnumberavgoneday,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumberday != null">
      sellnumberday = #{sellnumberday,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumberweek != null">
      sellnumberweek = #{sellnumberweek,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumbermonth != null">
      sellnumbermonth = #{sellnumbermonth,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumbertotal != null">
      sellnumbertotal = #{sellnumbertotal,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumberavg != null">
      sellnumberavg = #{sellnumberavg,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnumbersite != null">
      sellnumbersite = #{sellnumbersite,jdbcType=DECIMAL} and 
    </if>
    <if test="downcount != null">
      downcount = #{downcount,jdbcType=DECIMAL} and 
    </if>
    <if test="enmityid != null">
      enmityid = #{enmityid,jdbcType=VARCHAR} and 
    </if>
    <if test="threedaysnum != null">
      threedaysnum = #{threedaysnum,jdbcType=DECIMAL} and 
    </if>
    <if test="expressmoneytype1 != null">
      expressmoneytype1 = #{expressmoneytype1,jdbcType=VARCHAR} and 
    </if>
    <if test="expressmoneytype2 != null">
      expressmoneytype2 = #{expressmoneytype2,jdbcType=VARCHAR} and 
    </if>
    <if test="expressmoneytype3 != null">
      expressmoneytype3 = #{expressmoneytype3,jdbcType=VARCHAR} and 
    </if>
    <if test="expressmoneytype4 != null">
      expressmoneytype4 = #{expressmoneytype4,jdbcType=VARCHAR} and 
    </if>
    <if test="internationalexpress1 != null">
      internationalexpress1 = #{internationalexpress1,jdbcType=DECIMAL} and 
    </if>
    <if test="internationalexpress2 != null">
      internationalexpress2 = #{internationalexpress2,jdbcType=DECIMAL} and 
    </if>
    <if test="express1 != null">
      express1 = #{express1,jdbcType=DECIMAL} and 
    </if>
    <if test="express2 != null">
      express2 = #{express2,jdbcType=DECIMAL} and 
    </if>
    <if test="weekhitcounter != null">
      weekhitcounter = #{weekhitcounter,jdbcType=DECIMAL} and 
    </if>
    <if test="monthhitcounter != null">
      monthhitcounter = #{monthhitcounter,jdbcType=DECIMAL} and 
    </if>
    <if test="hitcounterall != null">
      hitcounterall = #{hitcounterall,jdbcType=DECIMAL} and 
    </if>
    <if test="weektransformrate != null">
      weektransformrate = #{weektransformrate,jdbcType=DECIMAL} and 
    </if>
    <if test="monthtransformrate != null">
      monthtransformrate = #{monthtransformrate,jdbcType=DECIMAL} and 
    </if>
    <if test="totalttransformrate != null">
      totalttransformrate = #{totalttransformrate,jdbcType=DECIMAL} and 
    </if>
    <if test="expressflag1 != null">
      expressflag1 = #{expressflag1,jdbcType=DECIMAL} and 
    </if>
    <if test="expressflag2 != null">
      expressflag2 = #{expressflag2,jdbcType=DECIMAL} and 
    </if>
    <if test="expressflag3 != null">
      expressflag3 = #{expressflag3,jdbcType=DECIMAL} and 
    </if>
    <if test="expressflag4 != null">
      expressflag4 = #{expressflag4,jdbcType=DECIMAL} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="calculateflag != null">
      calculateflag = #{calculateflag,jdbcType=VARCHAR} and 
    </if>
    <if test="fixfee != null">
      fixfee = #{fixfee,jdbcType=DECIMAL} and 
    </if>
    <if test="bidfee != null">
      bidfee = #{bidfee,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="productindex != null">
      productindex = #{productindex,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaybuyitnewprice != null">
      ebaybuyitnewprice = #{ebaybuyitnewprice,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaybuyitnewpricemoneytype != null">
      ebaybuyitnewpricemoneytype = #{ebaybuyitnewpricemoneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycountry != null">
      ebaycountry = #{ebaycountry,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaydescription != null">
      ebaydescription = #{ebaydescription,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayhitcount != null">
      ebayhitcount = #{ebayhitcount,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystarttime != null">
      ebaystarttime = #{ebaystarttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="ebayendtime != null">
      ebayendtime = #{ebayendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="ebayhasreserveprice != null">
      ebayhasreserveprice = #{ebayhasreserveprice,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemurl != null">
      ebayitemurl = #{ebayitemurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaylistduration != null">
      ebaylistduration = #{ebaylistduration,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaylocation != null">
      ebaylocation = #{ebaylocation,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaygallerytype != null">
      ebaygallerytype = #{ebaygallerytype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaygalleryurl != null">
      ebaygalleryurl = #{ebaygalleryurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayphotodisplay != null">
      ebayphotodisplay = #{ebayphotodisplay,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaypicturesource != null">
      ebaypicturesource = #{ebaypicturesource,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycategoryid != null">
      ebaycategoryid = #{ebaycategoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycategoryname != null">
      ebaycategoryname = #{ebaycategoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayquantity != null">
      ebayquantity = #{ebayquantity,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayquantitysold != null">
      ebayquantitysold = #{ebayquantitysold,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayfeedbacktatingstar != null">
      ebayfeedbacktatingstar = #{ebayfeedbacktatingstar,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayfeedbackscore != null">
      ebayfeedbackscore = #{ebayfeedbackscore,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaypositivefeedbackpercent != null">
      ebaypositivefeedbackpercent = #{ebaypositivefeedbackpercent,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaysellerbusinesstype != null">
      ebaysellerbusinesstype = #{ebaysellerbusinesstype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystorefront != null">
      ebaystorefront = #{ebaystorefront,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystoreurl != null">
      ebaystoreurl = #{ebaystoreurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystatus != null">
      ebaystatus = #{ebaystatus,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayuserid != null">
      ebayuserid = #{ebayuserid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayuseridchanged != null">
      ebayuseridchanged = #{ebayuseridchanged,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystartprice != null">
      ebaystartprice = #{ebaystartprice,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayddleft != null">
      ebayddleft = #{ebayddleft,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayhhleft != null">
      ebayhhleft = #{ebayhhleft,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaymmleft != null">
      ebaymmleft = #{ebaymmleft,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaytitle != null">
      ebaytitle = #{ebaytitle,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="priceflag != null">
      priceflag = #{priceflag,jdbcType=DECIMAL} , 
    </if>
    <if test="titleflag != null">
      titleflag = #{titleflag,jdbcType=DECIMAL} , 
    </if>
    <if test="pictrueflag != null">
      pictrueflag = #{pictrueflag,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve15 != null">
      reserve15 = #{reserve15,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve16 != null">
      reserve16 = #{reserve16,jdbcType=DECIMAL} , 
    </if>
    <if test="showflag != null">
      showflag = #{showflag,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumberavgoneday != null">
      sellnumberavgoneday = #{sellnumberavgoneday,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumberday != null">
      sellnumberday = #{sellnumberday,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumberweek != null">
      sellnumberweek = #{sellnumberweek,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumbermonth != null">
      sellnumbermonth = #{sellnumbermonth,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumbertotal != null">
      sellnumbertotal = #{sellnumbertotal,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumberavg != null">
      sellnumberavg = #{sellnumberavg,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnumbersite != null">
      sellnumbersite = #{sellnumbersite,jdbcType=DECIMAL} , 
    </if>
    <if test="downcount != null">
      downcount = #{downcount,jdbcType=DECIMAL} , 
    </if>
    <if test="enmityid != null">
      enmityid = #{enmityid,jdbcType=VARCHAR} , 
    </if>
    <if test="threedaysnum != null">
      threedaysnum = #{threedaysnum,jdbcType=DECIMAL} , 
    </if>
    <if test="expressmoneytype1 != null">
      expressmoneytype1 = #{expressmoneytype1,jdbcType=VARCHAR} , 
    </if>
    <if test="expressmoneytype2 != null">
      expressmoneytype2 = #{expressmoneytype2,jdbcType=VARCHAR} , 
    </if>
    <if test="expressmoneytype3 != null">
      expressmoneytype3 = #{expressmoneytype3,jdbcType=VARCHAR} , 
    </if>
    <if test="expressmoneytype4 != null">
      expressmoneytype4 = #{expressmoneytype4,jdbcType=VARCHAR} , 
    </if>
    <if test="internationalexpress1 != null">
      internationalexpress1 = #{internationalexpress1,jdbcType=DECIMAL} , 
    </if>
    <if test="internationalexpress2 != null">
      internationalexpress2 = #{internationalexpress2,jdbcType=DECIMAL} , 
    </if>
    <if test="express1 != null">
      express1 = #{express1,jdbcType=DECIMAL} , 
    </if>
    <if test="express2 != null">
      express2 = #{express2,jdbcType=DECIMAL} , 
    </if>
    <if test="weekhitcounter != null">
      weekhitcounter = #{weekhitcounter,jdbcType=DECIMAL} , 
    </if>
    <if test="monthhitcounter != null">
      monthhitcounter = #{monthhitcounter,jdbcType=DECIMAL} , 
    </if>
    <if test="hitcounterall != null">
      hitcounterall = #{hitcounterall,jdbcType=DECIMAL} , 
    </if>
    <if test="weektransformrate != null">
      weektransformrate = #{weektransformrate,jdbcType=DECIMAL} , 
    </if>
    <if test="monthtransformrate != null">
      monthtransformrate = #{monthtransformrate,jdbcType=DECIMAL} , 
    </if>
    <if test="totalttransformrate != null">
      totalttransformrate = #{totalttransformrate,jdbcType=DECIMAL} , 
    </if>
    <if test="expressflag1 != null">
      expressflag1 = #{expressflag1,jdbcType=DECIMAL} , 
    </if>
    <if test="expressflag2 != null">
      expressflag2 = #{expressflag2,jdbcType=DECIMAL} , 
    </if>
    <if test="expressflag3 != null">
      expressflag3 = #{expressflag3,jdbcType=DECIMAL} , 
    </if>
    <if test="expressflag4 != null">
      expressflag4 = #{expressflag4,jdbcType=DECIMAL} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="calculateflag != null">
      calculateflag = #{calculateflag,jdbcType=VARCHAR} , 
    </if>
    <if test="fixfee != null">
      fixfee = #{fixfee,jdbcType=DECIMAL} , 
    </if>
    <if test="bidfee != null">
      bidfee = #{bidfee,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbNewitemresult" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbNewitemresult">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbNewitemresult">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbNewitemresult">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>