<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbNotonlineproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbNotonlineproduct">
    <id column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="EBAYSKU" jdbcType="VARCHAR" property="ebaysku" />
    <result column="SHOP" jdbcType="VARCHAR" property="shop" />
    <result column="SHOPFLAG" jdbcType="VARCHAR" property="shopflag" />
  </resultMap>
  <sql id="Base_Column_List">
    ITEMID, UPDATETIME, EBAYSKU, SHOP, SHOPFLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_notonlineproduct
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_notonlineproduct
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbNotonlineproduct">
    insert into db_notonlineproduct (ITEMID, UPDATETIME, EBAYSKU, 
      SHOP, SHOPFLAG)
    values (#{itemid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{ebaysku,jdbcType=VARCHAR}, 
      #{shop,jdbcType=VARCHAR}, #{shopflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbNotonlineproduct">
    insert into db_notonlineproduct
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        ITEMID,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="ebaysku != null">
        EBAYSKU,
      </if>
      <if test="shop != null">
        SHOP,
      </if>
      <if test="shopflag != null">
        SHOPFLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ebaysku != null">
        #{ebaysku,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        #{shop,jdbcType=VARCHAR},
      </if>
      <if test="shopflag != null">
        #{shopflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbNotonlineproduct">
    update db_notonlineproduct
    <set>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ebaysku != null">
        EBAYSKU = #{ebaysku,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        SHOP = #{shop,jdbcType=VARCHAR},
      </if>
      <if test="shopflag != null">
        SHOPFLAG = #{shopflag,jdbcType=VARCHAR},
      </if>
    </set>
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbNotonlineproduct">
    update db_notonlineproduct
    set UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      EBAYSKU = #{ebaysku,jdbcType=VARCHAR},
      SHOP = #{shop,jdbcType=VARCHAR},
      SHOPFLAG = #{shopflag,jdbcType=VARCHAR}
    where ITEMID = #{itemid,jdbcType=VARCHAR}
  </update>
</mapper>