<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOpergroupMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOpergroup">
    <id column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERNAME" jdbcType="VARCHAR" property="opername" />
    <result column="OPERIMG" jdbcType="VARCHAR" property="operimg" />
    <result column="OPERGROUP" jdbcType="DECIMAL" property="opergroup" />
    <result column="OPERSTATUS" jdbcType="VARCHAR" property="operstatus" />
    <result column="OPERFLAG" jdbcType="DECIMAL" property="operflag" />
    <result column="SORTTIME" jdbcType="DECIMAL" property="sorttime" />
    <result column="WORKFLAG" jdbcType="DECIMAL" property="workflag" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select OPER, OPERNAME, OPERIMG, OPERGROUP, OPERSTATUS, OPERFLAG, SORTTIME, WORKFLAG, 
    STORAGEID
    from DB_OPERGROUP
    where OPER = #{oper,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select OPER, OPERNAME, OPERIMG, OPERGROUP, OPERSTATUS, OPERFLAG, SORTTIME, WORKFLAG, 
    STORAGEID
    from DB_OPERGROUP
  </select>
  <sql id="TableName">
    DB_OPERGROUP
  </sql>
  <sql id="Values">
     #{oper,jdbcType=VARCHAR} , 
     #{opername,jdbcType=VARCHAR} , 
     #{operimg,jdbcType=VARCHAR} , 
     #{opergroup,jdbcType=DECIMAL} , 
     #{operstatus,jdbcType=VARCHAR} , 
     #{operflag,jdbcType=DECIMAL} , 
     #{sorttime,jdbcType=DECIMAL} , 
     #{workflag,jdbcType=DECIMAL} , 
     #{storageid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    OPER , 
    OPERNAME , 
    OPERIMG , 
    OPERGROUP , 
    OPERSTATUS , 
    OPERFLAG , 
    SORTTIME , 
    WORKFLAG , 
    STORAGEID , 
  </sql>
  <sql id="Criteria">
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opername != null">
      opername = #{opername,jdbcType=VARCHAR} and 
    </if>
    <if test="operimg != null">
      operimg = #{operimg,jdbcType=VARCHAR} and 
    </if>
    <if test="opergroup != null">
      opergroup = #{opergroup,jdbcType=DECIMAL} and 
    </if>
    <if test="operstatus != null">
      operstatus = #{operstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="operflag != null">
      operflag = #{operflag,jdbcType=DECIMAL} and 
    </if>
    <if test="sorttime != null">
      sorttime = #{sorttime,jdbcType=DECIMAL} and 
    </if>
    <if test="workflag != null">
      workflag = #{workflag,jdbcType=DECIMAL} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opername != null">
      opername = #{opername,jdbcType=VARCHAR} , 
    </if>
    <if test="operimg != null">
      operimg = #{operimg,jdbcType=VARCHAR} , 
    </if>
    <if test="opergroup != null">
      opergroup = #{opergroup,jdbcType=DECIMAL} , 
    </if>
    <if test="operstatus != null">
      operstatus = #{operstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="operflag != null">
      operflag = #{operflag,jdbcType=DECIMAL} , 
    </if>
    <if test="sorttime != null">
      sorttime = #{sorttime,jdbcType=DECIMAL} , 
    </if>
    <if test="workflag != null">
      workflag = #{workflag,jdbcType=DECIMAL} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOpergroup" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where OPER=#{OPER}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOpergroup">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOpergroup">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOpergroup">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>