<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOriginaliorderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOriginaliorder">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="COMPANYID" jdbcType="DECIMAL" property="companyid" />
    <result column="BUYERLOGINID" jdbcType="VARCHAR" property="buyerloginid" />
    <result column="BUYERUSERID" jdbcType="VARCHAR" property="buyeruserid" />
    <result column="BUYERNAME" jdbcType="VARCHAR" property="buyername" />
    <result column="SHOPID" jdbcType="DECIMAL" property="shopid" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="ORDERSTATUS" jdbcType="VARCHAR" property="orderstatus" />
    <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="PAIDTIME" jdbcType="TIMESTAMP" property="paidtime" />
    <result column="TIMEOUTLEFTTIME" jdbcType="DECIMAL" property="timeoutlefttime" />
    <result column="CLOSETIME" jdbcType="TIMESTAMP" property="closetime" />
    <result column="FUNDSTATUS" jdbcType="VARCHAR" property="fundstatus" />
    <result column="SALESRECORDNUMBER" jdbcType="VARCHAR" property="salesrecordnumber" />
    <result column="STREET1" jdbcType="VARCHAR" property="street1" />
    <result column="STREET2" jdbcType="VARCHAR" property="street2" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="COUNTRYEN" jdbcType="VARCHAR" property="countryen" />
    <result column="COUNTRYCN" jdbcType="VARCHAR" property="countrycn" />
    <result column="COUNTRYCODE" jdbcType="VARCHAR" property="countrycode" />
    <result column="PHONE1" jdbcType="VARCHAR" property="phone1" />
    <result column="PHONE2" jdbcType="VARCHAR" property="phone2" />
    <result column="POSTALCODE" jdbcType="VARCHAR" property="postalcode" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ITEMTOTALORIGIN" jdbcType="DECIMAL" property="itemtotalorigin" />
    <result column="SHIPPINGCOSTORIGIN" jdbcType="DECIMAL" property="shippingcostorigin" />
    <result column="ORDERTOTALORIGIN" jdbcType="DECIMAL" property="ordertotalorigin" />
    <result column="PLATFORMFEEORIGIN" jdbcType="DECIMAL" property="platformfeeorigin" />
    <result column="INSURANCEFEEORIGIN" jdbcType="DECIMAL" property="insurancefeeorigin" />
    <result column="CURRENCYID" jdbcType="VARCHAR" property="currencyid" />
    <result column="PAYPALFEEORIGIN" jdbcType="DECIMAL" property="paypalfeeorigin" />
    <result column="PAYPALCURRENCYID" jdbcType="VARCHAR" property="paypalcurrencyid" />
    <result column="PAYPALID" jdbcType="VARCHAR" property="paypalid" />
    <result column="SHIPPINGSERVICE" jdbcType="VARCHAR" property="shippingservice" />
    <result column="BUYERCHECKOUTMESSAGE" jdbcType="VARCHAR" property="buyercheckoutmessage" />
    <result column="IMPORTID" jdbcType="DECIMAL" property="importid" />
    <result column="SHIPPINGSERVICETYPE" jdbcType="VARCHAR" property="shippingservicetype" />
    <result column="ISSUESTATUS" jdbcType="VARCHAR" property="issuestatus" />
    <result column="FROZENSTATUS" jdbcType="VARCHAR" property="frozenstatus" />
    <result column="SELLERSIGNERFULLNAME" jdbcType="VARCHAR" property="sellersignerfullname" />
    <result column="PAIDFLAG" jdbcType="DECIMAL" property="paidflag" />
    <result column="ALLIANCEFEE" jdbcType="DECIMAL" property="alliancefee" />
    <result column="LOGISTICSNO" jdbcType="VARCHAR" property="logisticsno" />
    <result column="LOGISTICSSERVICENAME" jdbcType="VARCHAR" property="logisticsservicename" />
    <result column="ISSAVE" jdbcType="DECIMAL" property="issave" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="ITEMJSON" jdbcType="CLOB" property="itemjson" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ID, ORDERID, COMPANYID, BUYERLOGINID, BUYERUSERID, BUYERNAME, SHOPID, CREATEDTIME, 
    ORDERSTATUS, FIRSTNAME, LASTNAME, PAIDTIME, TIMEOUTLEFTTIME, CLOSETIME, FUNDSTATUS, 
    SALESRECORDNUMBER, STREET1, STREET2, CITY, PROVINCE, COUNTRYEN, COUNTRYCN, COUNTRYCODE, 
    PHONE1, PHONE2, POSTALCODE, EMAIL, ITEMTOTALORIGIN, SHIPPINGCOSTORIGIN, ORDERTOTALORIGIN, 
    PLATFORMFEEORIGIN, INSURANCEFEEORIGIN, CURRENCYID, PAYPALFEEORIGIN, PAYPALCURRENCYID, 
    PAYPALID, SHIPPINGSERVICE, BUYERCHECKOUTMESSAGE, IMPORTID, SHIPPINGSERVICETYPE, ISSUESTATUS, 
    FROZENSTATUS, SELLERSIGNERFULLNAME, PAIDFLAG, ALLIANCEFEE, LOGISTICSNO, LOGISTICSSERVICENAME, 
    ISSAVE, OPERTIME, ITEMJSON
    from DB_ORIGINALIORDER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ORDERID, COMPANYID, BUYERLOGINID, BUYERUSERID, BUYERNAME, SHOPID, CREATEDTIME, 
    ORDERSTATUS, FIRSTNAME, LASTNAME, PAIDTIME, TIMEOUTLEFTTIME, CLOSETIME, FUNDSTATUS, 
    SALESRECORDNUMBER, STREET1, STREET2, CITY, PROVINCE, COUNTRYEN, COUNTRYCN, COUNTRYCODE, 
    PHONE1, PHONE2, POSTALCODE, EMAIL, ITEMTOTALORIGIN, SHIPPINGCOSTORIGIN, ORDERTOTALORIGIN, 
    PLATFORMFEEORIGIN, INSURANCEFEEORIGIN, CURRENCYID, PAYPALFEEORIGIN, PAYPALCURRENCYID, 
    PAYPALID, SHIPPINGSERVICE, BUYERCHECKOUTMESSAGE, IMPORTID, SHIPPINGSERVICETYPE, ISSUESTATUS, 
    FROZENSTATUS, SELLERSIGNERFULLNAME, PAIDFLAG, ALLIANCEFEE, LOGISTICSNO, LOGISTICSSERVICENAME, 
    ISSAVE, OPERTIME, ITEMJSON
    from DB_ORIGINALIORDER
  </select>
  <sql id="TableName">
    DB_ORIGINALIORDER
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{companyid,jdbcType=DECIMAL} , 
     #{buyerloginid,jdbcType=VARCHAR} , 
     #{buyeruserid,jdbcType=VARCHAR} , 
     #{buyername,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=DECIMAL} , 
     #{createdtime,jdbcType=TIMESTAMP} , 
     #{orderstatus,jdbcType=VARCHAR} , 
     #{firstname,jdbcType=VARCHAR} , 
     #{lastname,jdbcType=VARCHAR} , 
     #{paidtime,jdbcType=TIMESTAMP} , 
     #{timeoutlefttime,jdbcType=DECIMAL} , 
     #{closetime,jdbcType=TIMESTAMP} , 
     #{fundstatus,jdbcType=VARCHAR} , 
     #{salesrecordnumber,jdbcType=VARCHAR} , 
     #{street1,jdbcType=VARCHAR} , 
     #{street2,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{province,jdbcType=VARCHAR} , 
     #{countryen,jdbcType=VARCHAR} , 
     #{countrycn,jdbcType=VARCHAR} , 
     #{countrycode,jdbcType=VARCHAR} , 
     #{phone1,jdbcType=VARCHAR} , 
     #{phone2,jdbcType=VARCHAR} , 
     #{postalcode,jdbcType=VARCHAR} , 
     #{email,jdbcType=VARCHAR} , 
     #{itemtotalorigin,jdbcType=DECIMAL} , 
     #{shippingcostorigin,jdbcType=DECIMAL} , 
     #{ordertotalorigin,jdbcType=DECIMAL} , 
     #{platformfeeorigin,jdbcType=DECIMAL} , 
     #{insurancefeeorigin,jdbcType=DECIMAL} , 
     #{currencyid,jdbcType=VARCHAR} , 
     #{paypalfeeorigin,jdbcType=DECIMAL} , 
     #{paypalcurrencyid,jdbcType=VARCHAR} , 
     #{paypalid,jdbcType=VARCHAR} , 
     #{shippingservice,jdbcType=VARCHAR} , 
     #{buyercheckoutmessage,jdbcType=VARCHAR} , 
     #{importid,jdbcType=DECIMAL} , 
     #{shippingservicetype,jdbcType=VARCHAR} , 
     #{issuestatus,jdbcType=VARCHAR} , 
     #{frozenstatus,jdbcType=VARCHAR} , 
     #{sellersignerfullname,jdbcType=VARCHAR} , 
     #{paidflag,jdbcType=DECIMAL} , 
     #{alliancefee,jdbcType=DECIMAL} , 
     #{logisticsno,jdbcType=VARCHAR} , 
     #{logisticsservicename,jdbcType=VARCHAR} , 
     #{issave,jdbcType=DECIMAL} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{itemjson,jdbcType=CLOB} , 
  </sql>
  <sql id="Columns">
    ID , 
    ORDERID , 
    COMPANYID , 
    BUYERLOGINID , 
    BUYERUSERID , 
    BUYERNAME , 
    SHOPID , 
    CREATEDTIME , 
    ORDERSTATUS , 
    FIRSTNAME , 
    LASTNAME , 
    PAIDTIME , 
    TIMEOUTLEFTTIME , 
    CLOSETIME , 
    FUNDSTATUS , 
    SALESRECORDNUMBER , 
    STREET1 , 
    STREET2 , 
    CITY , 
    PROVINCE , 
    COUNTRYEN , 
    COUNTRYCN , 
    COUNTRYCODE , 
    PHONE1 , 
    PHONE2 , 
    POSTALCODE , 
    EMAIL , 
    ITEMTOTALORIGIN , 
    SHIPPINGCOSTORIGIN , 
    ORDERTOTALORIGIN , 
    PLATFORMFEEORIGIN , 
    INSURANCEFEEORIGIN , 
    CURRENCYID , 
    PAYPALFEEORIGIN , 
    PAYPALCURRENCYID , 
    PAYPALID , 
    SHIPPINGSERVICE , 
    BUYERCHECKOUTMESSAGE , 
    IMPORTID , 
    SHIPPINGSERVICETYPE , 
    ISSUESTATUS , 
    FROZENSTATUS , 
    SELLERSIGNERFULLNAME , 
    PAIDFLAG , 
    ALLIANCEFEE , 
    LOGISTICSNO , 
    LOGISTICSSERVICENAME , 
    ISSAVE , 
    OPERTIME , 
    ITEMJSON , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=DECIMAL} and 
    </if>
    <if test="buyerloginid != null">
      buyerloginid = #{buyerloginid,jdbcType=VARCHAR} and 
    </if>
    <if test="buyeruserid != null">
      buyeruserid = #{buyeruserid,jdbcType=VARCHAR} and 
    </if>
    <if test="buyername != null">
      buyername = #{buyername,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=DECIMAL} and 
    </if>
    <if test="createdtime != null">
      createdtime = #{createdtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="orderstatus != null">
      orderstatus = #{orderstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="firstname != null">
      firstname = #{firstname,jdbcType=VARCHAR} and 
    </if>
    <if test="lastname != null">
      lastname = #{lastname,jdbcType=VARCHAR} and 
    </if>
    <if test="paidtime != null">
      paidtime = #{paidtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="timeoutlefttime != null">
      timeoutlefttime = #{timeoutlefttime,jdbcType=DECIMAL} and 
    </if>
    <if test="closetime != null">
      closetime = #{closetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="fundstatus != null">
      fundstatus = #{fundstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="salesrecordnumber != null">
      salesrecordnumber = #{salesrecordnumber,jdbcType=VARCHAR} and 
    </if>
    <if test="street1 != null">
      street1 = #{street1,jdbcType=VARCHAR} and 
    </if>
    <if test="street2 != null">
      street2 = #{street2,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} and 
    </if>
    <if test="countryen != null">
      countryen = #{countryen,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycn != null">
      countrycn = #{countrycn,jdbcType=VARCHAR} and 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} and 
    </if>
    <if test="phone1 != null">
      phone1 = #{phone1,jdbcType=VARCHAR} and 
    </if>
    <if test="phone2 != null">
      phone2 = #{phone2,jdbcType=VARCHAR} and 
    </if>
    <if test="postalcode != null">
      postalcode = #{postalcode,jdbcType=VARCHAR} and 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} and 
    </if>
    <if test="itemtotalorigin != null">
      itemtotalorigin = #{itemtotalorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="shippingcostorigin != null">
      shippingcostorigin = #{shippingcostorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="ordertotalorigin != null">
      ordertotalorigin = #{ordertotalorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="platformfeeorigin != null">
      platformfeeorigin = #{platformfeeorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="insurancefeeorigin != null">
      insurancefeeorigin = #{insurancefeeorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="currencyid != null">
      currencyid = #{currencyid,jdbcType=VARCHAR} and 
    </if>
    <if test="paypalfeeorigin != null">
      paypalfeeorigin = #{paypalfeeorigin,jdbcType=DECIMAL} and 
    </if>
    <if test="paypalcurrencyid != null">
      paypalcurrencyid = #{paypalcurrencyid,jdbcType=VARCHAR} and 
    </if>
    <if test="paypalid != null">
      paypalid = #{paypalid,jdbcType=VARCHAR} and 
    </if>
    <if test="shippingservice != null">
      shippingservice = #{shippingservice,jdbcType=VARCHAR} and 
    </if>
    <if test="buyercheckoutmessage != null">
      buyercheckoutmessage = #{buyercheckoutmessage,jdbcType=VARCHAR} and 
    </if>
    <if test="importid != null">
      importid = #{importid,jdbcType=DECIMAL} and 
    </if>
    <if test="shippingservicetype != null">
      shippingservicetype = #{shippingservicetype,jdbcType=VARCHAR} and 
    </if>
    <if test="issuestatus != null">
      issuestatus = #{issuestatus,jdbcType=VARCHAR} and 
    </if>
    <if test="frozenstatus != null">
      frozenstatus = #{frozenstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="sellersignerfullname != null">
      sellersignerfullname = #{sellersignerfullname,jdbcType=VARCHAR} and 
    </if>
    <if test="paidflag != null">
      paidflag = #{paidflag,jdbcType=DECIMAL} and 
    </if>
    <if test="alliancefee != null">
      alliancefee = #{alliancefee,jdbcType=DECIMAL} and 
    </if>
    <if test="logisticsno != null">
      logisticsno = #{logisticsno,jdbcType=VARCHAR} and 
    </if>
    <if test="logisticsservicename != null">
      logisticsservicename = #{logisticsservicename,jdbcType=VARCHAR} and 
    </if>
    <if test="issave != null">
      issave = #{issave,jdbcType=DECIMAL} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="itemjson != null">
      itemjson = #{itemjson,jdbcType=CLOB} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="companyid != null">
      companyid = #{companyid,jdbcType=DECIMAL} , 
    </if>
    <if test="buyerloginid != null">
      buyerloginid = #{buyerloginid,jdbcType=VARCHAR} , 
    </if>
    <if test="buyeruserid != null">
      buyeruserid = #{buyeruserid,jdbcType=VARCHAR} , 
    </if>
    <if test="buyername != null">
      buyername = #{buyername,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=DECIMAL} , 
    </if>
    <if test="createdtime != null">
      createdtime = #{createdtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="orderstatus != null">
      orderstatus = #{orderstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="firstname != null">
      firstname = #{firstname,jdbcType=VARCHAR} , 
    </if>
    <if test="lastname != null">
      lastname = #{lastname,jdbcType=VARCHAR} , 
    </if>
    <if test="paidtime != null">
      paidtime = #{paidtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="timeoutlefttime != null">
      timeoutlefttime = #{timeoutlefttime,jdbcType=DECIMAL} , 
    </if>
    <if test="closetime != null">
      closetime = #{closetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="fundstatus != null">
      fundstatus = #{fundstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="salesrecordnumber != null">
      salesrecordnumber = #{salesrecordnumber,jdbcType=VARCHAR} , 
    </if>
    <if test="street1 != null">
      street1 = #{street1,jdbcType=VARCHAR} , 
    </if>
    <if test="street2 != null">
      street2 = #{street2,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="province != null">
      province = #{province,jdbcType=VARCHAR} , 
    </if>
    <if test="countryen != null">
      countryen = #{countryen,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycn != null">
      countrycn = #{countrycn,jdbcType=VARCHAR} , 
    </if>
    <if test="countrycode != null">
      countrycode = #{countrycode,jdbcType=VARCHAR} , 
    </if>
    <if test="phone1 != null">
      phone1 = #{phone1,jdbcType=VARCHAR} , 
    </if>
    <if test="phone2 != null">
      phone2 = #{phone2,jdbcType=VARCHAR} , 
    </if>
    <if test="postalcode != null">
      postalcode = #{postalcode,jdbcType=VARCHAR} , 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} , 
    </if>
    <if test="itemtotalorigin != null">
      itemtotalorigin = #{itemtotalorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="shippingcostorigin != null">
      shippingcostorigin = #{shippingcostorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="ordertotalorigin != null">
      ordertotalorigin = #{ordertotalorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="platformfeeorigin != null">
      platformfeeorigin = #{platformfeeorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="insurancefeeorigin != null">
      insurancefeeorigin = #{insurancefeeorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="currencyid != null">
      currencyid = #{currencyid,jdbcType=VARCHAR} , 
    </if>
    <if test="paypalfeeorigin != null">
      paypalfeeorigin = #{paypalfeeorigin,jdbcType=DECIMAL} , 
    </if>
    <if test="paypalcurrencyid != null">
      paypalcurrencyid = #{paypalcurrencyid,jdbcType=VARCHAR} , 
    </if>
    <if test="paypalid != null">
      paypalid = #{paypalid,jdbcType=VARCHAR} , 
    </if>
    <if test="shippingservice != null">
      shippingservice = #{shippingservice,jdbcType=VARCHAR} , 
    </if>
    <if test="buyercheckoutmessage != null">
      buyercheckoutmessage = #{buyercheckoutmessage,jdbcType=VARCHAR} , 
    </if>
    <if test="importid != null">
      importid = #{importid,jdbcType=DECIMAL} , 
    </if>
    <if test="shippingservicetype != null">
      shippingservicetype = #{shippingservicetype,jdbcType=VARCHAR} , 
    </if>
    <if test="issuestatus != null">
      issuestatus = #{issuestatus,jdbcType=VARCHAR} , 
    </if>
    <if test="frozenstatus != null">
      frozenstatus = #{frozenstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="sellersignerfullname != null">
      sellersignerfullname = #{sellersignerfullname,jdbcType=VARCHAR} , 
    </if>
    <if test="paidflag != null">
      paidflag = #{paidflag,jdbcType=DECIMAL} , 
    </if>
    <if test="alliancefee != null">
      alliancefee = #{alliancefee,jdbcType=DECIMAL} , 
    </if>
    <if test="logisticsno != null">
      logisticsno = #{logisticsno,jdbcType=VARCHAR} , 
    </if>
    <if test="logisticsservicename != null">
      logisticsservicename = #{logisticsservicename,jdbcType=VARCHAR} , 
    </if>
    <if test="issave != null">
      issave = #{issave,jdbcType=DECIMAL} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="itemjson != null">
      itemjson = #{itemjson,jdbcType=CLOB} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOriginaliorder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOriginaliorder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOriginaliorder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOriginaliorder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>