<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOrderlableTransformMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOrderlableTransform">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="PDFURL" jdbcType="VARCHAR" property="pdfurl" />
    <result column="PARAMDATA" jdbcType="VARCHAR" property="paramdata" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="ERROR" jdbcType="VARCHAR" property="error" />
    <result column="PICNUM" jdbcType="DECIMAL" property="picnum" />
    <result column="DOWNLOADTIME" jdbcType="TIMESTAMP" property="downloadtime" />
    <result column="PICTIME" jdbcType="TIMESTAMP" property="pictime" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, ORDERID, PDFURL, PARAMDATA, FLAG, ERROR, PICNUM, DOWNLOADTIME, PICTIME, 
    EXPRESSTYPE
    from DB_ORDERLABLE_TRANSFORM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ORDERID, PDFURL, PARAMDATA, FLAG, ERROR, PICNUM, DOWNLOADTIME, PICTIME, 
    EXPRESSTYPE
    from DB_ORDERLABLE_TRANSFORM
  </select>
  <sql id="TableName">
    DB_ORDERLABLE_TRANSFORM
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{pdfurl,jdbcType=VARCHAR} , 
     #{paramdata,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{error,jdbcType=VARCHAR} , 
     #{picnum,jdbcType=DECIMAL} , 
     #{downloadtime,jdbcType=TIMESTAMP} , 
     #{pictime,jdbcType=TIMESTAMP} , 
     #{expresstype,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    ORDERID , 
    PDFURL , 
    PARAMDATA , 
    FLAG , 
    ERROR , 
    PICNUM , 
    DOWNLOADTIME , 
    PICTIME , 
    EXPRESSTYPE , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="pdfurl != null">
      pdfurl = #{pdfurl,jdbcType=VARCHAR} and 
    </if>
    <if test="paramdata != null">
      paramdata = #{paramdata,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} and 
    </if>
    <if test="picnum != null">
      picnum = #{picnum,jdbcType=DECIMAL} and 
    </if>
    <if test="downloadtime != null">
      downloadtime = #{downloadtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="pictime != null">
      pictime = #{pictime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="pdfurl != null">
      pdfurl = #{pdfurl,jdbcType=VARCHAR} , 
    </if>
    <if test="paramdata != null">
      paramdata = #{paramdata,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} , 
    </if>
    <if test="picnum != null">
      picnum = #{picnum,jdbcType=DECIMAL} , 
    </if>
    <if test="downloadtime != null">
      downloadtime = #{downloadtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="pictime != null">
      pictime = #{pictime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="expresstype != null">
      expresstype = #{expresstype,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOrderlableTransform" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOrderlableTransform">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOrderlableTransform">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOrderlableTransform">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>