<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOrderlableTransformMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOrderlableTransform">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="PICNUM" jdbcType="DECIMAL" property="picnum" />
    <result column="DOWNLOADTIME" jdbcType="TIMESTAMP" property="downloadtime" />
    <result column="PICTIME" jdbcType="TIMESTAMP" property="pictime" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbOrderlableTransform">
    <result column="PDFURL" jdbcType="LONGVARCHAR" property="pdfurl" />
    <result column="PARAMDATA" jdbcType="LONGVARCHAR" property="paramdata" />
    <result column="ERROR" jdbcType="LONGVARCHAR" property="error" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDERID, FLAG, PICNUM, DOWNLOADTIME, PICTIME, EXPRESSTYPE
  </sql>
  <sql id="Blob_Column_List">
    PDFURL, PARAMDATA, ERROR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_orderlable_transform
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from db_orderlable_transform
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbOrderlableTransform">
    insert into db_orderlable_transform (ID, ORDERID, FLAG, 
      PICNUM, DOWNLOADTIME, PICTIME, 
      EXPRESSTYPE, PDFURL, PARAMDATA, 
      ERROR)
    values (#{id,jdbcType=DECIMAL}, #{orderid,jdbcType=VARCHAR}, #{flag,jdbcType=DECIMAL}, 
      #{picnum,jdbcType=DECIMAL}, #{downloadtime,jdbcType=TIMESTAMP}, #{pictime,jdbcType=TIMESTAMP}, 
      #{expresstype,jdbcType=VARCHAR}, #{pdfurl,jdbcType=LONGVARCHAR}, #{paramdata,jdbcType=LONGVARCHAR}, 
      #{error,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbOrderlableTransform">
    insert into db_orderlable_transform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="picnum != null">
        PICNUM,
      </if>
      <if test="downloadtime != null">
        DOWNLOADTIME,
      </if>
      <if test="pictime != null">
        PICTIME,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="pdfurl != null">
        PDFURL,
      </if>
      <if test="paramdata != null">
        PARAMDATA,
      </if>
      <if test="error != null">
        ERROR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=DECIMAL},
      </if>
      <if test="picnum != null">
        #{picnum,jdbcType=DECIMAL},
      </if>
      <if test="downloadtime != null">
        #{downloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictime != null">
        #{pictime,jdbcType=TIMESTAMP},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="pdfurl != null">
        #{pdfurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="paramdata != null">
        #{paramdata,jdbcType=LONGVARCHAR},
      </if>
      <if test="error != null">
        #{error,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbOrderlableTransform">
    update db_orderlable_transform
    <set>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=DECIMAL},
      </if>
      <if test="picnum != null">
        PICNUM = #{picnum,jdbcType=DECIMAL},
      </if>
      <if test="downloadtime != null">
        DOWNLOADTIME = #{downloadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictime != null">
        PICTIME = #{pictime,jdbcType=TIMESTAMP},
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="pdfurl != null">
        PDFURL = #{pdfurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="paramdata != null">
        PARAMDATA = #{paramdata,jdbcType=LONGVARCHAR},
      </if>
      <if test="error != null">
        ERROR = #{error,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbOrderlableTransform">
    update db_orderlable_transform
    set ORDERID = #{orderid,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=DECIMAL},
      PICNUM = #{picnum,jdbcType=DECIMAL},
      DOWNLOADTIME = #{downloadtime,jdbcType=TIMESTAMP},
      PICTIME = #{pictime,jdbcType=TIMESTAMP},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      PDFURL = #{pdfurl,jdbcType=LONGVARCHAR},
      PARAMDATA = #{paramdata,jdbcType=LONGVARCHAR},
      ERROR = #{error,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbOrderlableTransform">
    update db_orderlable_transform
    set ORDERID = #{orderid,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=DECIMAL},
      PICNUM = #{picnum,jdbcType=DECIMAL},
      DOWNLOADTIME = #{downloadtime,jdbcType=TIMESTAMP},
      PICTIME = #{pictime,jdbcType=TIMESTAMP},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>