<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbOutcategoryorderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbOutcategoryorder">
    <id column="EBAYORDERID" jdbcType="VARCHAR" property="ebayorderid" />
    <result column="DELIVERYWAYID" jdbcType="VARCHAR" property="deliverywayid" />
    <result column="DELIVERYINSURANCETYPEID" jdbcType="VARCHAR" property="deliveryinsurancetypeid" />
    <result column="WAREHOUSEID" jdbcType="VARCHAR" property="warehouseid" />
    <result column="SELLERORDERNO" jdbcType="VARCHAR" property="sellerorderno" />
    <result column="RECORDID" jdbcType="VARCHAR" property="recordid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="POSTAL" jdbcType="VARCHAR" property="postal" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="COUNTRYNAME" jdbcType="VARCHAR" property="countryname" />
    <result column="REGIONNAME" jdbcType="VARCHAR" property="regionname" />
    <result column="ADDRESS1" jdbcType="VARCHAR" property="address1" />
    <result column="ADDRESS2" jdbcType="VARCHAR" property="address2" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="TRACKINGNUM" jdbcType="VARCHAR" property="trackingnum" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="ERROR" jdbcType="VARCHAR" property="error" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select EBAYORDERID, DELIVERYWAYID, DELIVERYINSURANCETYPEID, WAREHOUSEID, SELLERORDERNO, 
    RECORDID, NAME, PHONE, POSTAL, EMAIL, COUNTRYNAME, REGIONNAME, ADDRESS1, ADDRESS2, 
    CITY, FLAG, TRACKINGNUM, CREATETIME, OPERTIME, OPER, UPDATETIME, ERROR
    from DB_OUTCATEGORYORDER
    where EBAYORDERID = #{ebayorderid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EBAYORDERID, DELIVERYWAYID, DELIVERYINSURANCETYPEID, WAREHOUSEID, SELLERORDERNO, 
    RECORDID, NAME, PHONE, POSTAL, EMAIL, COUNTRYNAME, REGIONNAME, ADDRESS1, ADDRESS2, 
    CITY, FLAG, TRACKINGNUM, CREATETIME, OPERTIME, OPER, UPDATETIME, ERROR
    from DB_OUTCATEGORYORDER
  </select>
  <sql id="TableName">
    DB_OUTCATEGORYORDER
  </sql>
  <sql id="Values">
     #{ebayorderid,jdbcType=VARCHAR} , 
     #{deliverywayid,jdbcType=VARCHAR} , 
     #{deliveryinsurancetypeid,jdbcType=VARCHAR} , 
     #{warehouseid,jdbcType=VARCHAR} , 
     #{sellerorderno,jdbcType=VARCHAR} , 
     #{recordid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{phone,jdbcType=VARCHAR} , 
     #{postal,jdbcType=VARCHAR} , 
     #{email,jdbcType=VARCHAR} , 
     #{countryname,jdbcType=VARCHAR} , 
     #{regionname,jdbcType=VARCHAR} , 
     #{address1,jdbcType=VARCHAR} , 
     #{address2,jdbcType=VARCHAR} , 
     #{city,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{trackingnum,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{error,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    EBAYORDERID , 
    DELIVERYWAYID , 
    DELIVERYINSURANCETYPEID , 
    WAREHOUSEID , 
    SELLERORDERNO , 
    RECORDID , 
    NAME , 
    PHONE , 
    POSTAL , 
    EMAIL , 
    COUNTRYNAME , 
    REGIONNAME , 
    ADDRESS1 , 
    ADDRESS2 , 
    CITY , 
    FLAG , 
    TRACKINGNUM , 
    CREATETIME , 
    OPERTIME , 
    OPER , 
    UPDATETIME , 
    ERROR , 
  </sql>
  <sql id="Criteria">
    <if test="ebayorderid != null">
      ebayorderid = #{ebayorderid,jdbcType=VARCHAR} and 
    </if>
    <if test="deliverywayid != null">
      deliverywayid = #{deliverywayid,jdbcType=VARCHAR} and 
    </if>
    <if test="deliveryinsurancetypeid != null">
      deliveryinsurancetypeid = #{deliveryinsurancetypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="warehouseid != null">
      warehouseid = #{warehouseid,jdbcType=VARCHAR} and 
    </if>
    <if test="sellerorderno != null">
      sellerorderno = #{sellerorderno,jdbcType=VARCHAR} and 
    </if>
    <if test="recordid != null">
      recordid = #{recordid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} and 
    </if>
    <if test="postal != null">
      postal = #{postal,jdbcType=VARCHAR} and 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} and 
    </if>
    <if test="countryname != null">
      countryname = #{countryname,jdbcType=VARCHAR} and 
    </if>
    <if test="regionname != null">
      regionname = #{regionname,jdbcType=VARCHAR} and 
    </if>
    <if test="address1 != null">
      address1 = #{address1,jdbcType=VARCHAR} and 
    </if>
    <if test="address2 != null">
      address2 = #{address2,jdbcType=VARCHAR} and 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="trackingnum != null">
      trackingnum = #{trackingnum,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="ebayorderid != null">
      ebayorderid = #{ebayorderid,jdbcType=VARCHAR} , 
    </if>
    <if test="deliverywayid != null">
      deliverywayid = #{deliverywayid,jdbcType=VARCHAR} , 
    </if>
    <if test="deliveryinsurancetypeid != null">
      deliveryinsurancetypeid = #{deliveryinsurancetypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="warehouseid != null">
      warehouseid = #{warehouseid,jdbcType=VARCHAR} , 
    </if>
    <if test="sellerorderno != null">
      sellerorderno = #{sellerorderno,jdbcType=VARCHAR} , 
    </if>
    <if test="recordid != null">
      recordid = #{recordid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="phone != null">
      phone = #{phone,jdbcType=VARCHAR} , 
    </if>
    <if test="postal != null">
      postal = #{postal,jdbcType=VARCHAR} , 
    </if>
    <if test="email != null">
      email = #{email,jdbcType=VARCHAR} , 
    </if>
    <if test="countryname != null">
      countryname = #{countryname,jdbcType=VARCHAR} , 
    </if>
    <if test="regionname != null">
      regionname = #{regionname,jdbcType=VARCHAR} , 
    </if>
    <if test="address1 != null">
      address1 = #{address1,jdbcType=VARCHAR} , 
    </if>
    <if test="address2 != null">
      address2 = #{address2,jdbcType=VARCHAR} , 
    </if>
    <if test="city != null">
      city = #{city,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="trackingnum != null">
      trackingnum = #{trackingnum,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbOutcategoryorder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where EBAYORDERID=#{EBAYORDERID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbOutcategoryorder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>