<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPictureattributeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPictureattribute">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="UPLOADFLAG" jdbcType="VARCHAR" property="uploadflag" />
    <result column="FTPIP" jdbcType="VARCHAR" property="ftpip" />
    <result column="FTPUSERNAME" jdbcType="VARCHAR" property="ftpusername" />
    <result column="FTPPASSWORD" jdbcType="VARCHAR" property="ftppassword" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="ATTRIBUTEID" jdbcType="VARCHAR" property="attributeid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPictureattribute">
    <result column="THISURL" jdbcType="LONGVARCHAR" property="thisurl" />
    <result column="FTPURL" jdbcType="LONGVARCHAR" property="ftpurl" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, 'NAME', UPLOADFLAG, FTPIP, FTPUSERNAME, FTPPASSWORD, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5, CORPID, OPENFLAG, OPER, OPERTIME, ATTRIBUTEID
  </sql>
  <sql id="Blob_Column_List">
    THISURL, FTPURL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_pictureattribute
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_pictureattribute
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbPictureattribute">
    insert into db_pictureattribute (SEQUENCEID, 'NAME', UPLOADFLAG, 
      FTPIP, FTPUSERNAME, FTPPASSWORD, 
      RESERVE1, RESERVE2, RESERVE3, 
      RESERVE4, RESERVE5, CORPID, 
      OPENFLAG, OPER, OPERTIME, 
      ATTRIBUTEID, THISURL, FTPURL
      )
    values (#{sequenceid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{uploadflag,jdbcType=VARCHAR}, 
      #{ftpip,jdbcType=VARCHAR}, #{ftpusername,jdbcType=VARCHAR}, #{ftppassword,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, 
      #{reserve4,jdbcType=DECIMAL}, #{reserve5,jdbcType=DECIMAL}, #{corpid,jdbcType=VARCHAR}, 
      #{openflag,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{attributeid,jdbcType=VARCHAR}, #{thisurl,jdbcType=LONGVARCHAR}, #{ftpurl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPictureattribute">
    insert into db_pictureattribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="uploadflag != null">
        UPLOADFLAG,
      </if>
      <if test="ftpip != null">
        FTPIP,
      </if>
      <if test="ftpusername != null">
        FTPUSERNAME,
      </if>
      <if test="ftppassword != null">
        FTPPASSWORD,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="attributeid != null">
        ATTRIBUTEID,
      </if>
      <if test="thisurl != null">
        THISURL,
      </if>
      <if test="ftpurl != null">
        FTPURL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uploadflag != null">
        #{uploadflag,jdbcType=VARCHAR},
      </if>
      <if test="ftpip != null">
        #{ftpip,jdbcType=VARCHAR},
      </if>
      <if test="ftpusername != null">
        #{ftpusername,jdbcType=VARCHAR},
      </if>
      <if test="ftppassword != null">
        #{ftppassword,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="attributeid != null">
        #{attributeid,jdbcType=VARCHAR},
      </if>
      <if test="thisurl != null">
        #{thisurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="ftpurl != null">
        #{ftpurl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbPictureattribute">
    update db_pictureattribute
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uploadflag != null">
        UPLOADFLAG = #{uploadflag,jdbcType=VARCHAR},
      </if>
      <if test="ftpip != null">
        FTPIP = #{ftpip,jdbcType=VARCHAR},
      </if>
      <if test="ftpusername != null">
        FTPUSERNAME = #{ftpusername,jdbcType=VARCHAR},
      </if>
      <if test="ftppassword != null">
        FTPPASSWORD = #{ftppassword,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="attributeid != null">
        ATTRIBUTEID = #{attributeid,jdbcType=VARCHAR},
      </if>
      <if test="thisurl != null">
        THISURL = #{thisurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="ftpurl != null">
        FTPURL = #{ftpurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbPictureattribute">
    update db_pictureattribute
    set 'NAME' = #{name,jdbcType=VARCHAR},
      UPLOADFLAG = #{uploadflag,jdbcType=VARCHAR},
      FTPIP = #{ftpip,jdbcType=VARCHAR},
      FTPUSERNAME = #{ftpusername,jdbcType=VARCHAR},
      FTPPASSWORD = #{ftppassword,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      ATTRIBUTEID = #{attributeid,jdbcType=VARCHAR},
      THISURL = #{thisurl,jdbcType=LONGVARCHAR},
      FTPURL = #{ftpurl,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbPictureattribute">
    update db_pictureattribute
    set 'NAME' = #{name,jdbcType=VARCHAR},
      UPLOADFLAG = #{uploadflag,jdbcType=VARCHAR},
      FTPIP = #{ftpip,jdbcType=VARCHAR},
      FTPUSERNAME = #{ftpusername,jdbcType=VARCHAR},
      FTPPASSWORD = #{ftppassword,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      ATTRIBUTEID = #{attributeid,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>