<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPostitemMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPostitem">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOPNAME" jdbcType="VARCHAR" property="shopname" />
    <result column="PRICETYPE" jdbcType="DECIMAL" property="pricetype" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="NEWITEMID" jdbcType="VARCHAR" property="newitemid" />
    <result column="OLDSKU" jdbcType="VARCHAR" property="oldsku" />
    <result column="OLDSHOPID" jdbcType="VARCHAR" property="oldshopid" />
    <result column="OLDSHOPNAME" jdbcType="VARCHAR" property="oldshopname" />
    <result column="TEMPLATEID" jdbcType="VARCHAR" property="templateid" />
    <result column="STARTPRICE" jdbcType="DECIMAL" property="startprice" />
    <result column="ENDPRICE" jdbcType="DECIMAL" property="endprice" />
    <result column="PAYPALADDRESS" jdbcType="VARCHAR" property="paypaladdress" />
    <result column="NEWTITLE" jdbcType="VARCHAR" property="newtitle" />
    <result column="OLDTITLE" jdbcType="VARCHAR" property="oldtitle" />
    <result column="ADDRESSFLAG" jdbcType="VARCHAR" property="addressflag" />
    <result column="PHOTONUM" jdbcType="DECIMAL" property="photonum" />
    <result column="PRICESELL" jdbcType="DECIMAL" property="pricesell" />
    <result column="EXPRESSTYPE3" jdbcType="DECIMAL" property="expresstype3" />
    <result column="TITLEFLAG" jdbcType="VARCHAR" property="titleflag" />
    <result column="SELLPRICEFLAG" jdbcType="VARCHAR" property="sellpriceflag" />
    <result column="CUSTOMFLAG" jdbcType="VARCHAR" property="customflag" />
    <result column="SAVENUMFLAG" jdbcType="VARCHAR" property="savenumflag" />
    <result column="CLEARANCEFLAG" jdbcType="VARCHAR" property="clearanceflag" />
    <result column="EXPRESSFLAG" jdbcType="VARCHAR" property="expressflag" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="LISTINGDURATION" jdbcType="DECIMAL" property="listingduration" />
    <result column="PRICEFLAG" jdbcType="VARCHAR" property="priceflag" />
    <result column="EXPRESSTYPE4" jdbcType="DECIMAL" property="expresstype4" />
    <result column="RELISTFLAG" jdbcType="VARCHAR" property="relistflag" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="EXPRESSTYPE5" jdbcType="DECIMAL" property="expresstype5" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="EXPRESSTYPE2" jdbcType="DECIMAL" property="expresstype2" />
    <result column="ITEMFLAG" jdbcType="VARCHAR" property="itemflag" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="SKUFLAG" jdbcType="VARCHAR" property="skuflag" />
    <result column="FREIGHTID" jdbcType="VARCHAR" property="freightid" />
    <result column="PHOTOFLAG" jdbcType="VARCHAR" property="photoflag" />
    <result column="GOODSFLAG" jdbcType="VARCHAR" property="goodsflag" />
    <result column="AUCTIONFLAG" jdbcType="VARCHAR" property="auctionflag" />
    <result column="EXPRESSTYPE1" jdbcType="DECIMAL" property="expresstype1" />
    <result column="DESCRFLAG" jdbcType="VARCHAR" property="descrflag" />
    <result column="EXPRESSTYPE6" jdbcType="DECIMAL" property="expresstype6" />
    <result column="ATTRIBUTESTATUSFLAG" jdbcType="VARCHAR" property="attributestatusflag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPostitem">
    <result column="ERROR" jdbcType="LONGVARCHAR" property="error" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, ITEMID, SHOPID, SHOPNAME, PRICETYPE, SITE, PRICE, SKU, FLAG, OPER, OPERTIME, 
    NEWITEMID, OLDSKU, OLDSHOPID, OLDSHOPNAME, TEMPLATEID, STARTPRICE, ENDPRICE, PAYPALADDRESS, 
    NEWTITLE, OLDTITLE, ADDRESSFLAG, PHOTONUM, PRICESELL, EXPRESSTYPE3, TITLEFLAG, SELLPRICEFLAG, 
    CUSTOMFLAG, SAVENUMFLAG, CLEARANCEFLAG, EXPRESSFLAG, PIC, LISTINGDURATION, PRICEFLAG, 
    EXPRESSTYPE4, RELISTFLAG, SAVENUM, EXPRESSTYPE5, EXPRESSTYPE, EXPRESSTYPE2, ITEMFLAG, 
    SELLPRICE, SKUFLAG, FREIGHTID, PHOTOFLAG, GOODSFLAG, AUCTIONFLAG, EXPRESSTYPE1, DESCRFLAG, 
    EXPRESSTYPE6, ATTRIBUTESTATUSFLAG
  </sql>
  <sql id="Blob_Column_List">
    ERROR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_postitem
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_postitem
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbPostitem">
    insert into db_postitem (SID, ITEMID, SHOPID, 
      SHOPNAME, PRICETYPE, SITE, 
      PRICE, SKU, FLAG, OPER, 
      OPERTIME, NEWITEMID, OLDSKU, 
      OLDSHOPID, OLDSHOPNAME, TEMPLATEID, 
      STARTPRICE, ENDPRICE, PAYPALADDRESS, 
      NEWTITLE, OLDTITLE, ADDRESSFLAG, 
      PHOTONUM, PRICESELL, EXPRESSTYPE3, 
      TITLEFLAG, SELLPRICEFLAG, CUSTOMFLAG, 
      SAVENUMFLAG, CLEARANCEFLAG, EXPRESSFLAG, 
      PIC, LISTINGDURATION, PRICEFLAG, 
      EXPRESSTYPE4, RELISTFLAG, SAVENUM, 
      EXPRESSTYPE5, EXPRESSTYPE, EXPRESSTYPE2, 
      ITEMFLAG, SELLPRICE, SKUFLAG, 
      FREIGHTID, PHOTOFLAG, GOODSFLAG, 
      AUCTIONFLAG, EXPRESSTYPE1, DESCRFLAG, 
      EXPRESSTYPE6, ATTRIBUTESTATUSFLAG, ERROR
      )
    values (#{sid,jdbcType=VARCHAR}, #{itemid,jdbcType=VARCHAR}, #{shopid,jdbcType=VARCHAR}, 
      #{shopname,jdbcType=VARCHAR}, #{pricetype,jdbcType=DECIMAL}, #{site,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{sku,jdbcType=VARCHAR}, #{flag,jdbcType=DECIMAL}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{newitemid,jdbcType=VARCHAR}, #{oldsku,jdbcType=VARCHAR}, 
      #{oldshopid,jdbcType=VARCHAR}, #{oldshopname,jdbcType=VARCHAR}, #{templateid,jdbcType=VARCHAR}, 
      #{startprice,jdbcType=DECIMAL}, #{endprice,jdbcType=DECIMAL}, #{paypaladdress,jdbcType=VARCHAR}, 
      #{newtitle,jdbcType=VARCHAR}, #{oldtitle,jdbcType=VARCHAR}, #{addressflag,jdbcType=VARCHAR}, 
      #{photonum,jdbcType=DECIMAL}, #{pricesell,jdbcType=DECIMAL}, #{expresstype3,jdbcType=DECIMAL}, 
      #{titleflag,jdbcType=VARCHAR}, #{sellpriceflag,jdbcType=VARCHAR}, #{customflag,jdbcType=VARCHAR}, 
      #{savenumflag,jdbcType=VARCHAR}, #{clearanceflag,jdbcType=VARCHAR}, #{expressflag,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{listingduration,jdbcType=DECIMAL}, #{priceflag,jdbcType=VARCHAR}, 
      #{expresstype4,jdbcType=DECIMAL}, #{relistflag,jdbcType=VARCHAR}, #{savenum,jdbcType=DECIMAL}, 
      #{expresstype5,jdbcType=DECIMAL}, #{expresstype,jdbcType=VARCHAR}, #{expresstype2,jdbcType=DECIMAL}, 
      #{itemflag,jdbcType=VARCHAR}, #{sellprice,jdbcType=DECIMAL}, #{skuflag,jdbcType=VARCHAR}, 
      #{freightid,jdbcType=VARCHAR}, #{photoflag,jdbcType=VARCHAR}, #{goodsflag,jdbcType=VARCHAR}, 
      #{auctionflag,jdbcType=VARCHAR}, #{expresstype1,jdbcType=DECIMAL}, #{descrflag,jdbcType=VARCHAR}, 
      #{expresstype6,jdbcType=DECIMAL}, #{attributestatusflag,jdbcType=VARCHAR}, #{error,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPostitem">
    insert into db_postitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="itemid != null">
        ITEMID,
      </if>
      <if test="shopid != null">
        SHOPID,
      </if>
      <if test="shopname != null">
        SHOPNAME,
      </if>
      <if test="pricetype != null">
        PRICETYPE,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="sku != null">
        SKU,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="newitemid != null">
        NEWITEMID,
      </if>
      <if test="oldsku != null">
        OLDSKU,
      </if>
      <if test="oldshopid != null">
        OLDSHOPID,
      </if>
      <if test="oldshopname != null">
        OLDSHOPNAME,
      </if>
      <if test="templateid != null">
        TEMPLATEID,
      </if>
      <if test="startprice != null">
        STARTPRICE,
      </if>
      <if test="endprice != null">
        ENDPRICE,
      </if>
      <if test="paypaladdress != null">
        PAYPALADDRESS,
      </if>
      <if test="newtitle != null">
        NEWTITLE,
      </if>
      <if test="oldtitle != null">
        OLDTITLE,
      </if>
      <if test="addressflag != null">
        ADDRESSFLAG,
      </if>
      <if test="photonum != null">
        PHOTONUM,
      </if>
      <if test="pricesell != null">
        PRICESELL,
      </if>
      <if test="expresstype3 != null">
        EXPRESSTYPE3,
      </if>
      <if test="titleflag != null">
        TITLEFLAG,
      </if>
      <if test="sellpriceflag != null">
        SELLPRICEFLAG,
      </if>
      <if test="customflag != null">
        CUSTOMFLAG,
      </if>
      <if test="savenumflag != null">
        SAVENUMFLAG,
      </if>
      <if test="clearanceflag != null">
        CLEARANCEFLAG,
      </if>
      <if test="expressflag != null">
        EXPRESSFLAG,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="listingduration != null">
        LISTINGDURATION,
      </if>
      <if test="priceflag != null">
        PRICEFLAG,
      </if>
      <if test="expresstype4 != null">
        EXPRESSTYPE4,
      </if>
      <if test="relistflag != null">
        RELISTFLAG,
      </if>
      <if test="savenum != null">
        SAVENUM,
      </if>
      <if test="expresstype5 != null">
        EXPRESSTYPE5,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="expresstype2 != null">
        EXPRESSTYPE2,
      </if>
      <if test="itemflag != null">
        ITEMFLAG,
      </if>
      <if test="sellprice != null">
        SELLPRICE,
      </if>
      <if test="skuflag != null">
        SKUFLAG,
      </if>
      <if test="freightid != null">
        FREIGHTID,
      </if>
      <if test="photoflag != null">
        PHOTOFLAG,
      </if>
      <if test="goodsflag != null">
        GOODSFLAG,
      </if>
      <if test="auctionflag != null">
        AUCTIONFLAG,
      </if>
      <if test="expresstype1 != null">
        EXPRESSTYPE1,
      </if>
      <if test="descrflag != null">
        DESCRFLAG,
      </if>
      <if test="expresstype6 != null">
        EXPRESSTYPE6,
      </if>
      <if test="attributestatusflag != null">
        ATTRIBUTESTATUSFLAG,
      </if>
      <if test="error != null">
        ERROR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=DECIMAL},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="newitemid != null">
        #{newitemid,jdbcType=VARCHAR},
      </if>
      <if test="oldsku != null">
        #{oldsku,jdbcType=VARCHAR},
      </if>
      <if test="oldshopid != null">
        #{oldshopid,jdbcType=VARCHAR},
      </if>
      <if test="oldshopname != null">
        #{oldshopname,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="startprice != null">
        #{startprice,jdbcType=DECIMAL},
      </if>
      <if test="endprice != null">
        #{endprice,jdbcType=DECIMAL},
      </if>
      <if test="paypaladdress != null">
        #{paypaladdress,jdbcType=VARCHAR},
      </if>
      <if test="newtitle != null">
        #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="oldtitle != null">
        #{oldtitle,jdbcType=VARCHAR},
      </if>
      <if test="addressflag != null">
        #{addressflag,jdbcType=VARCHAR},
      </if>
      <if test="photonum != null">
        #{photonum,jdbcType=DECIMAL},
      </if>
      <if test="pricesell != null">
        #{pricesell,jdbcType=DECIMAL},
      </if>
      <if test="expresstype3 != null">
        #{expresstype3,jdbcType=DECIMAL},
      </if>
      <if test="titleflag != null">
        #{titleflag,jdbcType=VARCHAR},
      </if>
      <if test="sellpriceflag != null">
        #{sellpriceflag,jdbcType=VARCHAR},
      </if>
      <if test="customflag != null">
        #{customflag,jdbcType=VARCHAR},
      </if>
      <if test="savenumflag != null">
        #{savenumflag,jdbcType=VARCHAR},
      </if>
      <if test="clearanceflag != null">
        #{clearanceflag,jdbcType=VARCHAR},
      </if>
      <if test="expressflag != null">
        #{expressflag,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="listingduration != null">
        #{listingduration,jdbcType=DECIMAL},
      </if>
      <if test="priceflag != null">
        #{priceflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype4 != null">
        #{expresstype4,jdbcType=DECIMAL},
      </if>
      <if test="relistflag != null">
        #{relistflag,jdbcType=VARCHAR},
      </if>
      <if test="savenum != null">
        #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="expresstype5 != null">
        #{expresstype5,jdbcType=DECIMAL},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="expresstype2 != null">
        #{expresstype2,jdbcType=DECIMAL},
      </if>
      <if test="itemflag != null">
        #{itemflag,jdbcType=VARCHAR},
      </if>
      <if test="sellprice != null">
        #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="skuflag != null">
        #{skuflag,jdbcType=VARCHAR},
      </if>
      <if test="freightid != null">
        #{freightid,jdbcType=VARCHAR},
      </if>
      <if test="photoflag != null">
        #{photoflag,jdbcType=VARCHAR},
      </if>
      <if test="goodsflag != null">
        #{goodsflag,jdbcType=VARCHAR},
      </if>
      <if test="auctionflag != null">
        #{auctionflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype1 != null">
        #{expresstype1,jdbcType=DECIMAL},
      </if>
      <if test="descrflag != null">
        #{descrflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype6 != null">
        #{expresstype6,jdbcType=DECIMAL},
      </if>
      <if test="attributestatusflag != null">
        #{attributestatusflag,jdbcType=VARCHAR},
      </if>
      <if test="error != null">
        #{error,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbPostitem">
    update db_postitem
    <set>
      <if test="itemid != null">
        ITEMID = #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        SHOPID = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        SHOPNAME = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        PRICETYPE = #{pricetype,jdbcType=DECIMAL},
      </if>
      <if test="site != null">
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sku != null">
        SKU = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=DECIMAL},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="newitemid != null">
        NEWITEMID = #{newitemid,jdbcType=VARCHAR},
      </if>
      <if test="oldsku != null">
        OLDSKU = #{oldsku,jdbcType=VARCHAR},
      </if>
      <if test="oldshopid != null">
        OLDSHOPID = #{oldshopid,jdbcType=VARCHAR},
      </if>
      <if test="oldshopname != null">
        OLDSHOPNAME = #{oldshopname,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null">
        TEMPLATEID = #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="startprice != null">
        STARTPRICE = #{startprice,jdbcType=DECIMAL},
      </if>
      <if test="endprice != null">
        ENDPRICE = #{endprice,jdbcType=DECIMAL},
      </if>
      <if test="paypaladdress != null">
        PAYPALADDRESS = #{paypaladdress,jdbcType=VARCHAR},
      </if>
      <if test="newtitle != null">
        NEWTITLE = #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="oldtitle != null">
        OLDTITLE = #{oldtitle,jdbcType=VARCHAR},
      </if>
      <if test="addressflag != null">
        ADDRESSFLAG = #{addressflag,jdbcType=VARCHAR},
      </if>
      <if test="photonum != null">
        PHOTONUM = #{photonum,jdbcType=DECIMAL},
      </if>
      <if test="pricesell != null">
        PRICESELL = #{pricesell,jdbcType=DECIMAL},
      </if>
      <if test="expresstype3 != null">
        EXPRESSTYPE3 = #{expresstype3,jdbcType=DECIMAL},
      </if>
      <if test="titleflag != null">
        TITLEFLAG = #{titleflag,jdbcType=VARCHAR},
      </if>
      <if test="sellpriceflag != null">
        SELLPRICEFLAG = #{sellpriceflag,jdbcType=VARCHAR},
      </if>
      <if test="customflag != null">
        CUSTOMFLAG = #{customflag,jdbcType=VARCHAR},
      </if>
      <if test="savenumflag != null">
        SAVENUMFLAG = #{savenumflag,jdbcType=VARCHAR},
      </if>
      <if test="clearanceflag != null">
        CLEARANCEFLAG = #{clearanceflag,jdbcType=VARCHAR},
      </if>
      <if test="expressflag != null">
        EXPRESSFLAG = #{expressflag,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        PIC = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="listingduration != null">
        LISTINGDURATION = #{listingduration,jdbcType=DECIMAL},
      </if>
      <if test="priceflag != null">
        PRICEFLAG = #{priceflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype4 != null">
        EXPRESSTYPE4 = #{expresstype4,jdbcType=DECIMAL},
      </if>
      <if test="relistflag != null">
        RELISTFLAG = #{relistflag,jdbcType=VARCHAR},
      </if>
      <if test="savenum != null">
        SAVENUM = #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="expresstype5 != null">
        EXPRESSTYPE5 = #{expresstype5,jdbcType=DECIMAL},
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="expresstype2 != null">
        EXPRESSTYPE2 = #{expresstype2,jdbcType=DECIMAL},
      </if>
      <if test="itemflag != null">
        ITEMFLAG = #{itemflag,jdbcType=VARCHAR},
      </if>
      <if test="sellprice != null">
        SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="skuflag != null">
        SKUFLAG = #{skuflag,jdbcType=VARCHAR},
      </if>
      <if test="freightid != null">
        FREIGHTID = #{freightid,jdbcType=VARCHAR},
      </if>
      <if test="photoflag != null">
        PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      </if>
      <if test="goodsflag != null">
        GOODSFLAG = #{goodsflag,jdbcType=VARCHAR},
      </if>
      <if test="auctionflag != null">
        AUCTIONFLAG = #{auctionflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype1 != null">
        EXPRESSTYPE1 = #{expresstype1,jdbcType=DECIMAL},
      </if>
      <if test="descrflag != null">
        DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      </if>
      <if test="expresstype6 != null">
        EXPRESSTYPE6 = #{expresstype6,jdbcType=DECIMAL},
      </if>
      <if test="attributestatusflag != null">
        ATTRIBUTESTATUSFLAG = #{attributestatusflag,jdbcType=VARCHAR},
      </if>
      <if test="error != null">
        ERROR = #{error,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbPostitem">
    update db_postitem
    set ITEMID = #{itemid,jdbcType=VARCHAR},
      SHOPID = #{shopid,jdbcType=VARCHAR},
      SHOPNAME = #{shopname,jdbcType=VARCHAR},
      PRICETYPE = #{pricetype,jdbcType=DECIMAL},
      SITE = #{site,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      SKU = #{sku,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      NEWITEMID = #{newitemid,jdbcType=VARCHAR},
      OLDSKU = #{oldsku,jdbcType=VARCHAR},
      OLDSHOPID = #{oldshopid,jdbcType=VARCHAR},
      OLDSHOPNAME = #{oldshopname,jdbcType=VARCHAR},
      TEMPLATEID = #{templateid,jdbcType=VARCHAR},
      STARTPRICE = #{startprice,jdbcType=DECIMAL},
      ENDPRICE = #{endprice,jdbcType=DECIMAL},
      PAYPALADDRESS = #{paypaladdress,jdbcType=VARCHAR},
      NEWTITLE = #{newtitle,jdbcType=VARCHAR},
      OLDTITLE = #{oldtitle,jdbcType=VARCHAR},
      ADDRESSFLAG = #{addressflag,jdbcType=VARCHAR},
      PHOTONUM = #{photonum,jdbcType=DECIMAL},
      PRICESELL = #{pricesell,jdbcType=DECIMAL},
      EXPRESSTYPE3 = #{expresstype3,jdbcType=DECIMAL},
      TITLEFLAG = #{titleflag,jdbcType=VARCHAR},
      SELLPRICEFLAG = #{sellpriceflag,jdbcType=VARCHAR},
      CUSTOMFLAG = #{customflag,jdbcType=VARCHAR},
      SAVENUMFLAG = #{savenumflag,jdbcType=VARCHAR},
      CLEARANCEFLAG = #{clearanceflag,jdbcType=VARCHAR},
      EXPRESSFLAG = #{expressflag,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      LISTINGDURATION = #{listingduration,jdbcType=DECIMAL},
      PRICEFLAG = #{priceflag,jdbcType=VARCHAR},
      EXPRESSTYPE4 = #{expresstype4,jdbcType=DECIMAL},
      RELISTFLAG = #{relistflag,jdbcType=VARCHAR},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      EXPRESSTYPE5 = #{expresstype5,jdbcType=DECIMAL},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      EXPRESSTYPE2 = #{expresstype2,jdbcType=DECIMAL},
      ITEMFLAG = #{itemflag,jdbcType=VARCHAR},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      SKUFLAG = #{skuflag,jdbcType=VARCHAR},
      FREIGHTID = #{freightid,jdbcType=VARCHAR},
      PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      GOODSFLAG = #{goodsflag,jdbcType=VARCHAR},
      AUCTIONFLAG = #{auctionflag,jdbcType=VARCHAR},
      EXPRESSTYPE1 = #{expresstype1,jdbcType=DECIMAL},
      DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      EXPRESSTYPE6 = #{expresstype6,jdbcType=DECIMAL},
      ATTRIBUTESTATUSFLAG = #{attributestatusflag,jdbcType=VARCHAR},
      ERROR = #{error,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbPostitem">
    update db_postitem
    set ITEMID = #{itemid,jdbcType=VARCHAR},
      SHOPID = #{shopid,jdbcType=VARCHAR},
      SHOPNAME = #{shopname,jdbcType=VARCHAR},
      PRICETYPE = #{pricetype,jdbcType=DECIMAL},
      SITE = #{site,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      SKU = #{sku,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=DECIMAL},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      NEWITEMID = #{newitemid,jdbcType=VARCHAR},
      OLDSKU = #{oldsku,jdbcType=VARCHAR},
      OLDSHOPID = #{oldshopid,jdbcType=VARCHAR},
      OLDSHOPNAME = #{oldshopname,jdbcType=VARCHAR},
      TEMPLATEID = #{templateid,jdbcType=VARCHAR},
      STARTPRICE = #{startprice,jdbcType=DECIMAL},
      ENDPRICE = #{endprice,jdbcType=DECIMAL},
      PAYPALADDRESS = #{paypaladdress,jdbcType=VARCHAR},
      NEWTITLE = #{newtitle,jdbcType=VARCHAR},
      OLDTITLE = #{oldtitle,jdbcType=VARCHAR},
      ADDRESSFLAG = #{addressflag,jdbcType=VARCHAR},
      PHOTONUM = #{photonum,jdbcType=DECIMAL},
      PRICESELL = #{pricesell,jdbcType=DECIMAL},
      EXPRESSTYPE3 = #{expresstype3,jdbcType=DECIMAL},
      TITLEFLAG = #{titleflag,jdbcType=VARCHAR},
      SELLPRICEFLAG = #{sellpriceflag,jdbcType=VARCHAR},
      CUSTOMFLAG = #{customflag,jdbcType=VARCHAR},
      SAVENUMFLAG = #{savenumflag,jdbcType=VARCHAR},
      CLEARANCEFLAG = #{clearanceflag,jdbcType=VARCHAR},
      EXPRESSFLAG = #{expressflag,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      LISTINGDURATION = #{listingduration,jdbcType=DECIMAL},
      PRICEFLAG = #{priceflag,jdbcType=VARCHAR},
      EXPRESSTYPE4 = #{expresstype4,jdbcType=DECIMAL},
      RELISTFLAG = #{relistflag,jdbcType=VARCHAR},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      EXPRESSTYPE5 = #{expresstype5,jdbcType=DECIMAL},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      EXPRESSTYPE2 = #{expresstype2,jdbcType=DECIMAL},
      ITEMFLAG = #{itemflag,jdbcType=VARCHAR},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      SKUFLAG = #{skuflag,jdbcType=VARCHAR},
      FREIGHTID = #{freightid,jdbcType=VARCHAR},
      PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      GOODSFLAG = #{goodsflag,jdbcType=VARCHAR},
      AUCTIONFLAG = #{auctionflag,jdbcType=VARCHAR},
      EXPRESSTYPE1 = #{expresstype1,jdbcType=DECIMAL},
      DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      EXPRESSTYPE6 = #{expresstype6,jdbcType=DECIMAL},
      ATTRIBUTESTATUSFLAG = #{attributestatusflag,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>