<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductHistory2Mapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductHistory2">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="HISTPROFIT" jdbcType="DECIMAL" property="histprofit" />
    <result column="PROFITT" jdbcType="DECIMAL" property="profitt" />
    <result column="PROFITS" jdbcType="DECIMAL" property="profits" />
    <result column="ALLORDERNUM" jdbcType="DECIMAL" property="allordernum" />
    <result column="TODAYORDERNUM" jdbcType="DECIMAL" property="todayordernum" />
    <result column="ONPASSAGEPURCHASE" jdbcType="DECIMAL" property="onpassagepurchase" />
    <result column="OOSLEVEL" jdbcType="DECIMAL" property="ooslevel" />
    <result column="RATEOFPIN" jdbcType="DECIMAL" property="rateofpin" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="ALERTDAY" jdbcType="DECIMAL" property="alertday" />
    <result column="ALERTNUM" jdbcType="DECIMAL" property="alertnum" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="TODAYSAVENUM" jdbcType="DECIMAL" property="todaysavenum" />
    <result column="SINGLEDAYSALES" jdbcType="DECIMAL" property="singledaysales" />
    <result column="DIELIBRARYCOEFFICIENT" jdbcType="DECIMAL" property="dielibrarycoefficient" />
    <result column="TODAYOUTSAVENUM" jdbcType="DECIMAL" property="todayoutsavenum" />
    <result column="MINPURCHASENUM" jdbcType="DECIMAL" property="minpurchasenum" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="STORNGID" jdbcType="VARCHAR" property="storngid" />
    <result column="STRONG" jdbcType="VARCHAR" property="strong" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="OPER2" jdbcType="VARCHAR" property="oper2" />
    <result column="OPER3" jdbcType="VARCHAR" property="oper3" />
    <result column="OPER4" jdbcType="VARCHAR" property="oper4" />
    <result column="OPER5" jdbcType="VARCHAR" property="oper5" />
    <result column="MENUFUNCTORYID" jdbcType="VARCHAR" property="menufunctoryid" />
    <result column="MENUFUNCTORY" jdbcType="VARCHAR" property="menufunctory" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="HISTPAVGROFIT" jdbcType="DECIMAL" property="histpavgrofit" />
    <result column="GSTPRICE" jdbcType="DECIMAL" property="gstprice" />
    <result column="OCEANSHIPPRICE" jdbcType="DECIMAL" property="oceanshipprice" />
    <result column="FOBPRICE" jdbcType="DECIMAL" property="fobprice" />
    <result column="CIFPRICE" jdbcType="DECIMAL" property="cifprice" />
    <result column="EXPRESSPRICE" jdbcType="DECIMAL" property="expressprice" />
    <result column="PROFIT" jdbcType="DECIMAL" property="profit" />
    <result column="BIDPROFIT" jdbcType="DECIMAL" property="bidprofit" />
    <result column="FIXEDPROFIT" jdbcType="DECIMAL" property="fixedprofit" />
    <result column="BIDEBAYPRICE" jdbcType="DECIMAL" property="bidebayprice" />
    <result column="FIXEDEBAYPRICE" jdbcType="DECIMAL" property="fixedebayprice" />
    <result column="BIDNUM" jdbcType="DECIMAL" property="bidnum" />
    <result column="STORERENT" jdbcType="DECIMAL" property="storerent" />
    <result column="ALLPURCHASENUM" jdbcType="DECIMAL" property="allpurchasenum" />
    <result column="MANUFACTUREQUOTE" jdbcType="DECIMAL" property="manufacturequote" />
    <result column="TARIFFPRICE" jdbcType="DECIMAL" property="tariffprice" />
    <result column="PAYPALPRICE" jdbcType="DECIMAL" property="paypalprice" />
    <result column="ALIASKU" jdbcType="VARCHAR" property="aliasku" />
    <result column="VOLUME" jdbcType="DECIMAL" property="volume" />
    <result column="SIZES" jdbcType="VARCHAR" property="sizes" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="LENGTH" jdbcType="DECIMAL" property="length" />
    <result column="WIDTH" jdbcType="DECIMAL" property="width" />
    <result column="HIGH" jdbcType="DECIMAL" property="high" />
    <result column="SALES7" jdbcType="DECIMAL" property="sales7" />
    <result column="SALES30" jdbcType="DECIMAL" property="sales30" />
    <result column="SALES90" jdbcType="DECIMAL" property="sales90" />
    <result column="OUTERLEVEL" jdbcType="VARCHAR" property="outerlevel" />
    <result column="DHNUMBER" jdbcType="DECIMAL" property="dhnumber" />
    <result column="MAINSKU" jdbcType="VARCHAR" property="mainsku" />
    <result column="EBAYPRICE" jdbcType="DECIMAL" property="ebayprice" />
    <result column="BIDAVGPRICE" jdbcType="DECIMAL" property="bidavgprice" />
    <result column="BIDTURNOVERRATE" jdbcType="DECIMAL" property="bidturnoverrate" />
    <result column="BIDTOTALPRICE" jdbcType="DECIMAL" property="bidtotalprice" />
    <result column="BID7DAY" jdbcType="DECIMAL" property="bid7day" />
    <result column="BID30DAY" jdbcType="DECIMAL" property="bid30day" />
    <result column="BID60DAY" jdbcType="DECIMAL" property="bid60day" />
    <result column="HISTORYSAVENUM" jdbcType="DECIMAL" property="historysavenum" />
    <result column="HISTORYCIFPRICE" jdbcType="DECIMAL" property="historycifprice" />
    <result column="HISTORYPROFITAMOUNT" jdbcType="DECIMAL" property="historyprofitamount" />
    <result column="CLASSPROFIT" jdbcType="DECIMAL" property="classprofit" />
    <result column="PRODUCTCONTRIBUTIONS" jdbcType="DECIMAL" property="productcontributions" />
    <result column="MONTHLYPROFITABC" jdbcType="VARCHAR" property="monthlyprofitabc" />
    <result column="FPROFITABC" jdbcType="VARCHAR" property="fprofitabc" />
    <result column="TURNOVERDAY" jdbcType="DECIMAL" property="turnoverday" />
    <result column="MONTHPROFITS" jdbcType="DECIMAL" property="monthprofits" />
    <result column="REFUNDRATE" jdbcType="DECIMAL" property="refundrate" />
    <result column="MONTHCLASSPROFIT" jdbcType="DECIMAL" property="monthclassprofit" />
    <result column="CHANGEAMOUNT" jdbcType="DECIMAL" property="changeamount" />
    <result column="LITERRATIO" jdbcType="DECIMAL" property="literratio" />
    <result column="CLASSCONTRIBUTIONRATIO" jdbcType="DECIMAL" property="classcontributionratio" />
    <result column="MONTHREFUNDRATE" jdbcType="DECIMAL" property="monthrefundrate" />
    <result column="HISTORYAVGPROFITRATIO" jdbcType="DECIMAL" property="historyavgprofitratio" />
    <result column="HISTORYAVGPROFIT" jdbcType="DECIMAL" property="historyavgprofit" />
    <result column="HISTORYNETPROFITAMOUNT" jdbcType="DECIMAL" property="historynetprofitamount" />
    <result column="VOLUMEWEIGHT" jdbcType="DECIMAL" property="volumeweight" />
    <result column="GST" jdbcType="DECIMAL" property="gst" />
    <result column="TARIFF" jdbcType="DECIMAL" property="tariff" />
    <result column="SAVENUMSTATUS" jdbcType="DECIMAL" property="savenumstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, PRODUCTID, HISTPROFIT, PROFITT, PROFITS, ALLORDERNUM, TODAYORDERNUM, 
    ONPASSAGEPURCHASE, OOSLEVEL, RATEOFPIN, SAVENUM, COSTPRICE, ALERTDAY, ALERTNUM, WEIGHT, 
    TODAYSAVENUM, SINGLEDAYSALES, DIELIBRARYCOEFFICIENT, TODAYOUTSAVENUM, MINPURCHASENUM, 
    LOCATIONID, 'LOCATION', STORNGID, STRONG, PRODUCTNAME, OPER1, OPER2, OPER3, OPER4, 
    OPER5, MENUFUNCTORYID, MENUFUNCTORY, 'STATUS', CORPID, CREATETIME, HISTPAVGROFIT, 
    GSTPRICE, OCEANSHIPPRICE, FOBPRICE, CIFPRICE, EXPRESSPRICE, PROFIT, BIDPROFIT, FIXEDPROFIT, 
    BIDEBAYPRICE, FIXEDEBAYPRICE, BIDNUM, STORERENT, ALLPURCHASENUM, MANUFACTUREQUOTE, 
    TARIFFPRICE, PAYPALPRICE, ALIASKU, VOLUME, SIZES, SELLPRICE, 'LENGTH', WIDTH, HIGH, 
    SALES7, SALES30, SALES90, OUTERLEVEL, DHNUMBER, MAINSKU, EBAYPRICE, BIDAVGPRICE, 
    BIDTURNOVERRATE, BIDTOTALPRICE, BID7DAY, BID30DAY, BID60DAY, HISTORYSAVENUM, HISTORYCIFPRICE, 
    HISTORYPROFITAMOUNT, CLASSPROFIT, PRODUCTCONTRIBUTIONS, MONTHLYPROFITABC, FPROFITABC, 
    TURNOVERDAY, MONTHPROFITS, REFUNDRATE, MONTHCLASSPROFIT, CHANGEAMOUNT, LITERRATIO, 
    CLASSCONTRIBUTIONRATIO, MONTHREFUNDRATE, HISTORYAVGPROFITRATIO, HISTORYAVGPROFIT, 
    HISTORYNETPROFITAMOUNT, VOLUMEWEIGHT, GST, TARIFF, SAVENUMSTATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_product_history2
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_product_history2
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductHistory2">
    insert into db_product_history2 (SEQUENCEID, PRODUCTID, HISTPROFIT, 
      PROFITT, PROFITS, ALLORDERNUM, 
      TODAYORDERNUM, ONPASSAGEPURCHASE, OOSLEVEL, 
      RATEOFPIN, SAVENUM, COSTPRICE, 
      ALERTDAY, ALERTNUM, WEIGHT, 
      TODAYSAVENUM, SINGLEDAYSALES, DIELIBRARYCOEFFICIENT, 
      TODAYOUTSAVENUM, MINPURCHASENUM, LOCATIONID, 
      'LOCATION', STORNGID, STRONG, 
      PRODUCTNAME, OPER1, OPER2, 
      OPER3, OPER4, OPER5, 
      MENUFUNCTORYID, MENUFUNCTORY, 'STATUS', 
      CORPID, CREATETIME, HISTPAVGROFIT, 
      GSTPRICE, OCEANSHIPPRICE, FOBPRICE, 
      CIFPRICE, EXPRESSPRICE, PROFIT, 
      BIDPROFIT, FIXEDPROFIT, BIDEBAYPRICE, 
      FIXEDEBAYPRICE, BIDNUM, STORERENT, 
      ALLPURCHASENUM, MANUFACTUREQUOTE, TARIFFPRICE, 
      PAYPALPRICE, ALIASKU, VOLUME, 
      SIZES, SELLPRICE, 'LENGTH', 
      WIDTH, HIGH, SALES7, 
      SALES30, SALES90, OUTERLEVEL, 
      DHNUMBER, MAINSKU, EBAYPRICE, 
      BIDAVGPRICE, BIDTURNOVERRATE, BIDTOTALPRICE, 
      BID7DAY, BID30DAY, BID60DAY, 
      HISTORYSAVENUM, HISTORYCIFPRICE, HISTORYPROFITAMOUNT, 
      CLASSPROFIT, PRODUCTCONTRIBUTIONS, MONTHLYPROFITABC, 
      FPROFITABC, TURNOVERDAY, MONTHPROFITS, 
      REFUNDRATE, MONTHCLASSPROFIT, CHANGEAMOUNT, 
      LITERRATIO, CLASSCONTRIBUTIONRATIO, MONTHREFUNDRATE, 
      HISTORYAVGPROFITRATIO, HISTORYAVGPROFIT, 
      HISTORYNETPROFITAMOUNT, VOLUMEWEIGHT, GST, 
      TARIFF, SAVENUMSTATUS)
    values (#{sequenceid,jdbcType=DECIMAL}, #{productid,jdbcType=VARCHAR}, #{histprofit,jdbcType=DECIMAL}, 
      #{profitt,jdbcType=DECIMAL}, #{profits,jdbcType=DECIMAL}, #{allordernum,jdbcType=DECIMAL}, 
      #{todayordernum,jdbcType=DECIMAL}, #{onpassagepurchase,jdbcType=DECIMAL}, #{ooslevel,jdbcType=DECIMAL}, 
      #{rateofpin,jdbcType=DECIMAL}, #{savenum,jdbcType=DECIMAL}, #{costprice,jdbcType=DECIMAL}, 
      #{alertday,jdbcType=DECIMAL}, #{alertnum,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
      #{todaysavenum,jdbcType=DECIMAL}, #{singledaysales,jdbcType=DECIMAL}, #{dielibrarycoefficient,jdbcType=DECIMAL}, 
      #{todayoutsavenum,jdbcType=DECIMAL}, #{minpurchasenum,jdbcType=DECIMAL}, #{locationid,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{storngid,jdbcType=VARCHAR}, #{strong,jdbcType=VARCHAR}, 
      #{productname,jdbcType=VARCHAR}, #{oper1,jdbcType=VARCHAR}, #{oper2,jdbcType=VARCHAR}, 
      #{oper3,jdbcType=VARCHAR}, #{oper4,jdbcType=VARCHAR}, #{oper5,jdbcType=VARCHAR}, 
      #{menufunctoryid,jdbcType=VARCHAR}, #{menufunctory,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{corpid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{histpavgrofit,jdbcType=DECIMAL}, 
      #{gstprice,jdbcType=DECIMAL}, #{oceanshipprice,jdbcType=DECIMAL}, #{fobprice,jdbcType=DECIMAL}, 
      #{cifprice,jdbcType=DECIMAL}, #{expressprice,jdbcType=DECIMAL}, #{profit,jdbcType=DECIMAL}, 
      #{bidprofit,jdbcType=DECIMAL}, #{fixedprofit,jdbcType=DECIMAL}, #{bidebayprice,jdbcType=DECIMAL}, 
      #{fixedebayprice,jdbcType=DECIMAL}, #{bidnum,jdbcType=DECIMAL}, #{storerent,jdbcType=DECIMAL}, 
      #{allpurchasenum,jdbcType=DECIMAL}, #{manufacturequote,jdbcType=DECIMAL}, #{tariffprice,jdbcType=DECIMAL}, 
      #{paypalprice,jdbcType=DECIMAL}, #{aliasku,jdbcType=VARCHAR}, #{volume,jdbcType=DECIMAL}, 
      #{sizes,jdbcType=VARCHAR}, #{sellprice,jdbcType=DECIMAL}, #{length,jdbcType=DECIMAL}, 
      #{width,jdbcType=DECIMAL}, #{high,jdbcType=DECIMAL}, #{sales7,jdbcType=DECIMAL}, 
      #{sales30,jdbcType=DECIMAL}, #{sales90,jdbcType=DECIMAL}, #{outerlevel,jdbcType=VARCHAR}, 
      #{dhnumber,jdbcType=DECIMAL}, #{mainsku,jdbcType=VARCHAR}, #{ebayprice,jdbcType=DECIMAL}, 
      #{bidavgprice,jdbcType=DECIMAL}, #{bidturnoverrate,jdbcType=DECIMAL}, #{bidtotalprice,jdbcType=DECIMAL}, 
      #{bid7day,jdbcType=DECIMAL}, #{bid30day,jdbcType=DECIMAL}, #{bid60day,jdbcType=DECIMAL}, 
      #{historysavenum,jdbcType=DECIMAL}, #{historycifprice,jdbcType=DECIMAL}, #{historyprofitamount,jdbcType=DECIMAL}, 
      #{classprofit,jdbcType=DECIMAL}, #{productcontributions,jdbcType=DECIMAL}, #{monthlyprofitabc,jdbcType=VARCHAR}, 
      #{fprofitabc,jdbcType=VARCHAR}, #{turnoverday,jdbcType=DECIMAL}, #{monthprofits,jdbcType=DECIMAL}, 
      #{refundrate,jdbcType=DECIMAL}, #{monthclassprofit,jdbcType=DECIMAL}, #{changeamount,jdbcType=DECIMAL}, 
      #{literratio,jdbcType=DECIMAL}, #{classcontributionratio,jdbcType=DECIMAL}, #{monthrefundrate,jdbcType=DECIMAL}, 
      #{historyavgprofitratio,jdbcType=DECIMAL}, #{historyavgprofit,jdbcType=DECIMAL}, 
      #{historynetprofitamount,jdbcType=DECIMAL}, #{volumeweight,jdbcType=DECIMAL}, #{gst,jdbcType=DECIMAL}, 
      #{tariff,jdbcType=DECIMAL}, #{savenumstatus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductHistory2">
    insert into db_product_history2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="histprofit != null">
        HISTPROFIT,
      </if>
      <if test="profitt != null">
        PROFITT,
      </if>
      <if test="profits != null">
        PROFITS,
      </if>
      <if test="allordernum != null">
        ALLORDERNUM,
      </if>
      <if test="todayordernum != null">
        TODAYORDERNUM,
      </if>
      <if test="onpassagepurchase != null">
        ONPASSAGEPURCHASE,
      </if>
      <if test="ooslevel != null">
        OOSLEVEL,
      </if>
      <if test="rateofpin != null">
        RATEOFPIN,
      </if>
      <if test="savenum != null">
        SAVENUM,
      </if>
      <if test="costprice != null">
        COSTPRICE,
      </if>
      <if test="alertday != null">
        ALERTDAY,
      </if>
      <if test="alertnum != null">
        ALERTNUM,
      </if>
      <if test="weight != null">
        WEIGHT,
      </if>
      <if test="todaysavenum != null">
        TODAYSAVENUM,
      </if>
      <if test="singledaysales != null">
        SINGLEDAYSALES,
      </if>
      <if test="dielibrarycoefficient != null">
        DIELIBRARYCOEFFICIENT,
      </if>
      <if test="todayoutsavenum != null">
        TODAYOUTSAVENUM,
      </if>
      <if test="minpurchasenum != null">
        MINPURCHASENUM,
      </if>
      <if test="locationid != null">
        LOCATIONID,
      </if>
      <if test="location != null">
        'LOCATION',
      </if>
      <if test="storngid != null">
        STORNGID,
      </if>
      <if test="strong != null">
        STRONG,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="oper1 != null">
        OPER1,
      </if>
      <if test="oper2 != null">
        OPER2,
      </if>
      <if test="oper3 != null">
        OPER3,
      </if>
      <if test="oper4 != null">
        OPER4,
      </if>
      <if test="oper5 != null">
        OPER5,
      </if>
      <if test="menufunctoryid != null">
        MENUFUNCTORYID,
      </if>
      <if test="menufunctory != null">
        MENUFUNCTORY,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="histpavgrofit != null">
        HISTPAVGROFIT,
      </if>
      <if test="gstprice != null">
        GSTPRICE,
      </if>
      <if test="oceanshipprice != null">
        OCEANSHIPPRICE,
      </if>
      <if test="fobprice != null">
        FOBPRICE,
      </if>
      <if test="cifprice != null">
        CIFPRICE,
      </if>
      <if test="expressprice != null">
        EXPRESSPRICE,
      </if>
      <if test="profit != null">
        PROFIT,
      </if>
      <if test="bidprofit != null">
        BIDPROFIT,
      </if>
      <if test="fixedprofit != null">
        FIXEDPROFIT,
      </if>
      <if test="bidebayprice != null">
        BIDEBAYPRICE,
      </if>
      <if test="fixedebayprice != null">
        FIXEDEBAYPRICE,
      </if>
      <if test="bidnum != null">
        BIDNUM,
      </if>
      <if test="storerent != null">
        STORERENT,
      </if>
      <if test="allpurchasenum != null">
        ALLPURCHASENUM,
      </if>
      <if test="manufacturequote != null">
        MANUFACTUREQUOTE,
      </if>
      <if test="tariffprice != null">
        TARIFFPRICE,
      </if>
      <if test="paypalprice != null">
        PAYPALPRICE,
      </if>
      <if test="aliasku != null">
        ALIASKU,
      </if>
      <if test="volume != null">
        VOLUME,
      </if>
      <if test="sizes != null">
        SIZES,
      </if>
      <if test="sellprice != null">
        SELLPRICE,
      </if>
      <if test="length != null">
        'LENGTH',
      </if>
      <if test="width != null">
        WIDTH,
      </if>
      <if test="high != null">
        HIGH,
      </if>
      <if test="sales7 != null">
        SALES7,
      </if>
      <if test="sales30 != null">
        SALES30,
      </if>
      <if test="sales90 != null">
        SALES90,
      </if>
      <if test="outerlevel != null">
        OUTERLEVEL,
      </if>
      <if test="dhnumber != null">
        DHNUMBER,
      </if>
      <if test="mainsku != null">
        MAINSKU,
      </if>
      <if test="ebayprice != null">
        EBAYPRICE,
      </if>
      <if test="bidavgprice != null">
        BIDAVGPRICE,
      </if>
      <if test="bidturnoverrate != null">
        BIDTURNOVERRATE,
      </if>
      <if test="bidtotalprice != null">
        BIDTOTALPRICE,
      </if>
      <if test="bid7day != null">
        BID7DAY,
      </if>
      <if test="bid30day != null">
        BID30DAY,
      </if>
      <if test="bid60day != null">
        BID60DAY,
      </if>
      <if test="historysavenum != null">
        HISTORYSAVENUM,
      </if>
      <if test="historycifprice != null">
        HISTORYCIFPRICE,
      </if>
      <if test="historyprofitamount != null">
        HISTORYPROFITAMOUNT,
      </if>
      <if test="classprofit != null">
        CLASSPROFIT,
      </if>
      <if test="productcontributions != null">
        PRODUCTCONTRIBUTIONS,
      </if>
      <if test="monthlyprofitabc != null">
        MONTHLYPROFITABC,
      </if>
      <if test="fprofitabc != null">
        FPROFITABC,
      </if>
      <if test="turnoverday != null">
        TURNOVERDAY,
      </if>
      <if test="monthprofits != null">
        MONTHPROFITS,
      </if>
      <if test="refundrate != null">
        REFUNDRATE,
      </if>
      <if test="monthclassprofit != null">
        MONTHCLASSPROFIT,
      </if>
      <if test="changeamount != null">
        CHANGEAMOUNT,
      </if>
      <if test="literratio != null">
        LITERRATIO,
      </if>
      <if test="classcontributionratio != null">
        CLASSCONTRIBUTIONRATIO,
      </if>
      <if test="monthrefundrate != null">
        MONTHREFUNDRATE,
      </if>
      <if test="historyavgprofitratio != null">
        HISTORYAVGPROFITRATIO,
      </if>
      <if test="historyavgprofit != null">
        HISTORYAVGPROFIT,
      </if>
      <if test="historynetprofitamount != null">
        HISTORYNETPROFITAMOUNT,
      </if>
      <if test="volumeweight != null">
        VOLUMEWEIGHT,
      </if>
      <if test="gst != null">
        GST,
      </if>
      <if test="tariff != null">
        TARIFF,
      </if>
      <if test="savenumstatus != null">
        SAVENUMSTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=DECIMAL},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="histprofit != null">
        #{histprofit,jdbcType=DECIMAL},
      </if>
      <if test="profitt != null">
        #{profitt,jdbcType=DECIMAL},
      </if>
      <if test="profits != null">
        #{profits,jdbcType=DECIMAL},
      </if>
      <if test="allordernum != null">
        #{allordernum,jdbcType=DECIMAL},
      </if>
      <if test="todayordernum != null">
        #{todayordernum,jdbcType=DECIMAL},
      </if>
      <if test="onpassagepurchase != null">
        #{onpassagepurchase,jdbcType=DECIMAL},
      </if>
      <if test="ooslevel != null">
        #{ooslevel,jdbcType=DECIMAL},
      </if>
      <if test="rateofpin != null">
        #{rateofpin,jdbcType=DECIMAL},
      </if>
      <if test="savenum != null">
        #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="alertday != null">
        #{alertday,jdbcType=DECIMAL},
      </if>
      <if test="alertnum != null">
        #{alertnum,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="todaysavenum != null">
        #{todaysavenum,jdbcType=DECIMAL},
      </if>
      <if test="singledaysales != null">
        #{singledaysales,jdbcType=DECIMAL},
      </if>
      <if test="dielibrarycoefficient != null">
        #{dielibrarycoefficient,jdbcType=DECIMAL},
      </if>
      <if test="todayoutsavenum != null">
        #{todayoutsavenum,jdbcType=DECIMAL},
      </if>
      <if test="minpurchasenum != null">
        #{minpurchasenum,jdbcType=DECIMAL},
      </if>
      <if test="locationid != null">
        #{locationid,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="storngid != null">
        #{storngid,jdbcType=VARCHAR},
      </if>
      <if test="strong != null">
        #{strong,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="oper1 != null">
        #{oper1,jdbcType=VARCHAR},
      </if>
      <if test="oper2 != null">
        #{oper2,jdbcType=VARCHAR},
      </if>
      <if test="oper3 != null">
        #{oper3,jdbcType=VARCHAR},
      </if>
      <if test="oper4 != null">
        #{oper4,jdbcType=VARCHAR},
      </if>
      <if test="oper5 != null">
        #{oper5,jdbcType=VARCHAR},
      </if>
      <if test="menufunctoryid != null">
        #{menufunctoryid,jdbcType=VARCHAR},
      </if>
      <if test="menufunctory != null">
        #{menufunctory,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="histpavgrofit != null">
        #{histpavgrofit,jdbcType=DECIMAL},
      </if>
      <if test="gstprice != null">
        #{gstprice,jdbcType=DECIMAL},
      </if>
      <if test="oceanshipprice != null">
        #{oceanshipprice,jdbcType=DECIMAL},
      </if>
      <if test="fobprice != null">
        #{fobprice,jdbcType=DECIMAL},
      </if>
      <if test="cifprice != null">
        #{cifprice,jdbcType=DECIMAL},
      </if>
      <if test="expressprice != null">
        #{expressprice,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DECIMAL},
      </if>
      <if test="bidprofit != null">
        #{bidprofit,jdbcType=DECIMAL},
      </if>
      <if test="fixedprofit != null">
        #{fixedprofit,jdbcType=DECIMAL},
      </if>
      <if test="bidebayprice != null">
        #{bidebayprice,jdbcType=DECIMAL},
      </if>
      <if test="fixedebayprice != null">
        #{fixedebayprice,jdbcType=DECIMAL},
      </if>
      <if test="bidnum != null">
        #{bidnum,jdbcType=DECIMAL},
      </if>
      <if test="storerent != null">
        #{storerent,jdbcType=DECIMAL},
      </if>
      <if test="allpurchasenum != null">
        #{allpurchasenum,jdbcType=DECIMAL},
      </if>
      <if test="manufacturequote != null">
        #{manufacturequote,jdbcType=DECIMAL},
      </if>
      <if test="tariffprice != null">
        #{tariffprice,jdbcType=DECIMAL},
      </if>
      <if test="paypalprice != null">
        #{paypalprice,jdbcType=DECIMAL},
      </if>
      <if test="aliasku != null">
        #{aliasku,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DECIMAL},
      </if>
      <if test="sizes != null">
        #{sizes,jdbcType=VARCHAR},
      </if>
      <if test="sellprice != null">
        #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="high != null">
        #{high,jdbcType=DECIMAL},
      </if>
      <if test="sales7 != null">
        #{sales7,jdbcType=DECIMAL},
      </if>
      <if test="sales30 != null">
        #{sales30,jdbcType=DECIMAL},
      </if>
      <if test="sales90 != null">
        #{sales90,jdbcType=DECIMAL},
      </if>
      <if test="outerlevel != null">
        #{outerlevel,jdbcType=VARCHAR},
      </if>
      <if test="dhnumber != null">
        #{dhnumber,jdbcType=DECIMAL},
      </if>
      <if test="mainsku != null">
        #{mainsku,jdbcType=VARCHAR},
      </if>
      <if test="ebayprice != null">
        #{ebayprice,jdbcType=DECIMAL},
      </if>
      <if test="bidavgprice != null">
        #{bidavgprice,jdbcType=DECIMAL},
      </if>
      <if test="bidturnoverrate != null">
        #{bidturnoverrate,jdbcType=DECIMAL},
      </if>
      <if test="bidtotalprice != null">
        #{bidtotalprice,jdbcType=DECIMAL},
      </if>
      <if test="bid7day != null">
        #{bid7day,jdbcType=DECIMAL},
      </if>
      <if test="bid30day != null">
        #{bid30day,jdbcType=DECIMAL},
      </if>
      <if test="bid60day != null">
        #{bid60day,jdbcType=DECIMAL},
      </if>
      <if test="historysavenum != null">
        #{historysavenum,jdbcType=DECIMAL},
      </if>
      <if test="historycifprice != null">
        #{historycifprice,jdbcType=DECIMAL},
      </if>
      <if test="historyprofitamount != null">
        #{historyprofitamount,jdbcType=DECIMAL},
      </if>
      <if test="classprofit != null">
        #{classprofit,jdbcType=DECIMAL},
      </if>
      <if test="productcontributions != null">
        #{productcontributions,jdbcType=DECIMAL},
      </if>
      <if test="monthlyprofitabc != null">
        #{monthlyprofitabc,jdbcType=VARCHAR},
      </if>
      <if test="fprofitabc != null">
        #{fprofitabc,jdbcType=VARCHAR},
      </if>
      <if test="turnoverday != null">
        #{turnoverday,jdbcType=DECIMAL},
      </if>
      <if test="monthprofits != null">
        #{monthprofits,jdbcType=DECIMAL},
      </if>
      <if test="refundrate != null">
        #{refundrate,jdbcType=DECIMAL},
      </if>
      <if test="monthclassprofit != null">
        #{monthclassprofit,jdbcType=DECIMAL},
      </if>
      <if test="changeamount != null">
        #{changeamount,jdbcType=DECIMAL},
      </if>
      <if test="literratio != null">
        #{literratio,jdbcType=DECIMAL},
      </if>
      <if test="classcontributionratio != null">
        #{classcontributionratio,jdbcType=DECIMAL},
      </if>
      <if test="monthrefundrate != null">
        #{monthrefundrate,jdbcType=DECIMAL},
      </if>
      <if test="historyavgprofitratio != null">
        #{historyavgprofitratio,jdbcType=DECIMAL},
      </if>
      <if test="historyavgprofit != null">
        #{historyavgprofit,jdbcType=DECIMAL},
      </if>
      <if test="historynetprofitamount != null">
        #{historynetprofitamount,jdbcType=DECIMAL},
      </if>
      <if test="volumeweight != null">
        #{volumeweight,jdbcType=DECIMAL},
      </if>
      <if test="gst != null">
        #{gst,jdbcType=DECIMAL},
      </if>
      <if test="tariff != null">
        #{tariff,jdbcType=DECIMAL},
      </if>
      <if test="savenumstatus != null">
        #{savenumstatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductHistory2">
    update db_product_history2
    <set>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="histprofit != null">
        HISTPROFIT = #{histprofit,jdbcType=DECIMAL},
      </if>
      <if test="profitt != null">
        PROFITT = #{profitt,jdbcType=DECIMAL},
      </if>
      <if test="profits != null">
        PROFITS = #{profits,jdbcType=DECIMAL},
      </if>
      <if test="allordernum != null">
        ALLORDERNUM = #{allordernum,jdbcType=DECIMAL},
      </if>
      <if test="todayordernum != null">
        TODAYORDERNUM = #{todayordernum,jdbcType=DECIMAL},
      </if>
      <if test="onpassagepurchase != null">
        ONPASSAGEPURCHASE = #{onpassagepurchase,jdbcType=DECIMAL},
      </if>
      <if test="ooslevel != null">
        OOSLEVEL = #{ooslevel,jdbcType=DECIMAL},
      </if>
      <if test="rateofpin != null">
        RATEOFPIN = #{rateofpin,jdbcType=DECIMAL},
      </if>
      <if test="savenum != null">
        SAVENUM = #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        COSTPRICE = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="alertday != null">
        ALERTDAY = #{alertday,jdbcType=DECIMAL},
      </if>
      <if test="alertnum != null">
        ALERTNUM = #{alertnum,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="todaysavenum != null">
        TODAYSAVENUM = #{todaysavenum,jdbcType=DECIMAL},
      </if>
      <if test="singledaysales != null">
        SINGLEDAYSALES = #{singledaysales,jdbcType=DECIMAL},
      </if>
      <if test="dielibrarycoefficient != null">
        DIELIBRARYCOEFFICIENT = #{dielibrarycoefficient,jdbcType=DECIMAL},
      </if>
      <if test="todayoutsavenum != null">
        TODAYOUTSAVENUM = #{todayoutsavenum,jdbcType=DECIMAL},
      </if>
      <if test="minpurchasenum != null">
        MINPURCHASENUM = #{minpurchasenum,jdbcType=DECIMAL},
      </if>
      <if test="locationid != null">
        LOCATIONID = #{locationid,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        'LOCATION' = #{location,jdbcType=VARCHAR},
      </if>
      <if test="storngid != null">
        STORNGID = #{storngid,jdbcType=VARCHAR},
      </if>
      <if test="strong != null">
        STRONG = #{strong,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="oper1 != null">
        OPER1 = #{oper1,jdbcType=VARCHAR},
      </if>
      <if test="oper2 != null">
        OPER2 = #{oper2,jdbcType=VARCHAR},
      </if>
      <if test="oper3 != null">
        OPER3 = #{oper3,jdbcType=VARCHAR},
      </if>
      <if test="oper4 != null">
        OPER4 = #{oper4,jdbcType=VARCHAR},
      </if>
      <if test="oper5 != null">
        OPER5 = #{oper5,jdbcType=VARCHAR},
      </if>
      <if test="menufunctoryid != null">
        MENUFUNCTORYID = #{menufunctoryid,jdbcType=VARCHAR},
      </if>
      <if test="menufunctory != null">
        MENUFUNCTORY = #{menufunctory,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="histpavgrofit != null">
        HISTPAVGROFIT = #{histpavgrofit,jdbcType=DECIMAL},
      </if>
      <if test="gstprice != null">
        GSTPRICE = #{gstprice,jdbcType=DECIMAL},
      </if>
      <if test="oceanshipprice != null">
        OCEANSHIPPRICE = #{oceanshipprice,jdbcType=DECIMAL},
      </if>
      <if test="fobprice != null">
        FOBPRICE = #{fobprice,jdbcType=DECIMAL},
      </if>
      <if test="cifprice != null">
        CIFPRICE = #{cifprice,jdbcType=DECIMAL},
      </if>
      <if test="expressprice != null">
        EXPRESSPRICE = #{expressprice,jdbcType=DECIMAL},
      </if>
      <if test="profit != null">
        PROFIT = #{profit,jdbcType=DECIMAL},
      </if>
      <if test="bidprofit != null">
        BIDPROFIT = #{bidprofit,jdbcType=DECIMAL},
      </if>
      <if test="fixedprofit != null">
        FIXEDPROFIT = #{fixedprofit,jdbcType=DECIMAL},
      </if>
      <if test="bidebayprice != null">
        BIDEBAYPRICE = #{bidebayprice,jdbcType=DECIMAL},
      </if>
      <if test="fixedebayprice != null">
        FIXEDEBAYPRICE = #{fixedebayprice,jdbcType=DECIMAL},
      </if>
      <if test="bidnum != null">
        BIDNUM = #{bidnum,jdbcType=DECIMAL},
      </if>
      <if test="storerent != null">
        STORERENT = #{storerent,jdbcType=DECIMAL},
      </if>
      <if test="allpurchasenum != null">
        ALLPURCHASENUM = #{allpurchasenum,jdbcType=DECIMAL},
      </if>
      <if test="manufacturequote != null">
        MANUFACTUREQUOTE = #{manufacturequote,jdbcType=DECIMAL},
      </if>
      <if test="tariffprice != null">
        TARIFFPRICE = #{tariffprice,jdbcType=DECIMAL},
      </if>
      <if test="paypalprice != null">
        PAYPALPRICE = #{paypalprice,jdbcType=DECIMAL},
      </if>
      <if test="aliasku != null">
        ALIASKU = #{aliasku,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        VOLUME = #{volume,jdbcType=DECIMAL},
      </if>
      <if test="sizes != null">
        SIZES = #{sizes,jdbcType=VARCHAR},
      </if>
      <if test="sellprice != null">
        SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        'LENGTH' = #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        WIDTH = #{width,jdbcType=DECIMAL},
      </if>
      <if test="high != null">
        HIGH = #{high,jdbcType=DECIMAL},
      </if>
      <if test="sales7 != null">
        SALES7 = #{sales7,jdbcType=DECIMAL},
      </if>
      <if test="sales30 != null">
        SALES30 = #{sales30,jdbcType=DECIMAL},
      </if>
      <if test="sales90 != null">
        SALES90 = #{sales90,jdbcType=DECIMAL},
      </if>
      <if test="outerlevel != null">
        OUTERLEVEL = #{outerlevel,jdbcType=VARCHAR},
      </if>
      <if test="dhnumber != null">
        DHNUMBER = #{dhnumber,jdbcType=DECIMAL},
      </if>
      <if test="mainsku != null">
        MAINSKU = #{mainsku,jdbcType=VARCHAR},
      </if>
      <if test="ebayprice != null">
        EBAYPRICE = #{ebayprice,jdbcType=DECIMAL},
      </if>
      <if test="bidavgprice != null">
        BIDAVGPRICE = #{bidavgprice,jdbcType=DECIMAL},
      </if>
      <if test="bidturnoverrate != null">
        BIDTURNOVERRATE = #{bidturnoverrate,jdbcType=DECIMAL},
      </if>
      <if test="bidtotalprice != null">
        BIDTOTALPRICE = #{bidtotalprice,jdbcType=DECIMAL},
      </if>
      <if test="bid7day != null">
        BID7DAY = #{bid7day,jdbcType=DECIMAL},
      </if>
      <if test="bid30day != null">
        BID30DAY = #{bid30day,jdbcType=DECIMAL},
      </if>
      <if test="bid60day != null">
        BID60DAY = #{bid60day,jdbcType=DECIMAL},
      </if>
      <if test="historysavenum != null">
        HISTORYSAVENUM = #{historysavenum,jdbcType=DECIMAL},
      </if>
      <if test="historycifprice != null">
        HISTORYCIFPRICE = #{historycifprice,jdbcType=DECIMAL},
      </if>
      <if test="historyprofitamount != null">
        HISTORYPROFITAMOUNT = #{historyprofitamount,jdbcType=DECIMAL},
      </if>
      <if test="classprofit != null">
        CLASSPROFIT = #{classprofit,jdbcType=DECIMAL},
      </if>
      <if test="productcontributions != null">
        PRODUCTCONTRIBUTIONS = #{productcontributions,jdbcType=DECIMAL},
      </if>
      <if test="monthlyprofitabc != null">
        MONTHLYPROFITABC = #{monthlyprofitabc,jdbcType=VARCHAR},
      </if>
      <if test="fprofitabc != null">
        FPROFITABC = #{fprofitabc,jdbcType=VARCHAR},
      </if>
      <if test="turnoverday != null">
        TURNOVERDAY = #{turnoverday,jdbcType=DECIMAL},
      </if>
      <if test="monthprofits != null">
        MONTHPROFITS = #{monthprofits,jdbcType=DECIMAL},
      </if>
      <if test="refundrate != null">
        REFUNDRATE = #{refundrate,jdbcType=DECIMAL},
      </if>
      <if test="monthclassprofit != null">
        MONTHCLASSPROFIT = #{monthclassprofit,jdbcType=DECIMAL},
      </if>
      <if test="changeamount != null">
        CHANGEAMOUNT = #{changeamount,jdbcType=DECIMAL},
      </if>
      <if test="literratio != null">
        LITERRATIO = #{literratio,jdbcType=DECIMAL},
      </if>
      <if test="classcontributionratio != null">
        CLASSCONTRIBUTIONRATIO = #{classcontributionratio,jdbcType=DECIMAL},
      </if>
      <if test="monthrefundrate != null">
        MONTHREFUNDRATE = #{monthrefundrate,jdbcType=DECIMAL},
      </if>
      <if test="historyavgprofitratio != null">
        HISTORYAVGPROFITRATIO = #{historyavgprofitratio,jdbcType=DECIMAL},
      </if>
      <if test="historyavgprofit != null">
        HISTORYAVGPROFIT = #{historyavgprofit,jdbcType=DECIMAL},
      </if>
      <if test="historynetprofitamount != null">
        HISTORYNETPROFITAMOUNT = #{historynetprofitamount,jdbcType=DECIMAL},
      </if>
      <if test="volumeweight != null">
        VOLUMEWEIGHT = #{volumeweight,jdbcType=DECIMAL},
      </if>
      <if test="gst != null">
        GST = #{gst,jdbcType=DECIMAL},
      </if>
      <if test="tariff != null">
        TARIFF = #{tariff,jdbcType=DECIMAL},
      </if>
      <if test="savenumstatus != null">
        SAVENUMSTATUS = #{savenumstatus,jdbcType=DECIMAL},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductHistory2">
    update db_product_history2
    set PRODUCTID = #{productid,jdbcType=VARCHAR},
      HISTPROFIT = #{histprofit,jdbcType=DECIMAL},
      PROFITT = #{profitt,jdbcType=DECIMAL},
      PROFITS = #{profits,jdbcType=DECIMAL},
      ALLORDERNUM = #{allordernum,jdbcType=DECIMAL},
      TODAYORDERNUM = #{todayordernum,jdbcType=DECIMAL},
      ONPASSAGEPURCHASE = #{onpassagepurchase,jdbcType=DECIMAL},
      OOSLEVEL = #{ooslevel,jdbcType=DECIMAL},
      RATEOFPIN = #{rateofpin,jdbcType=DECIMAL},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      ALERTDAY = #{alertday,jdbcType=DECIMAL},
      ALERTNUM = #{alertnum,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      TODAYSAVENUM = #{todaysavenum,jdbcType=DECIMAL},
      SINGLEDAYSALES = #{singledaysales,jdbcType=DECIMAL},
      DIELIBRARYCOEFFICIENT = #{dielibrarycoefficient,jdbcType=DECIMAL},
      TODAYOUTSAVENUM = #{todayoutsavenum,jdbcType=DECIMAL},
      MINPURCHASENUM = #{minpurchasenum,jdbcType=DECIMAL},
      LOCATIONID = #{locationid,jdbcType=VARCHAR},
      'LOCATION' = #{location,jdbcType=VARCHAR},
      STORNGID = #{storngid,jdbcType=VARCHAR},
      STRONG = #{strong,jdbcType=VARCHAR},
      PRODUCTNAME = #{productname,jdbcType=VARCHAR},
      OPER1 = #{oper1,jdbcType=VARCHAR},
      OPER2 = #{oper2,jdbcType=VARCHAR},
      OPER3 = #{oper3,jdbcType=VARCHAR},
      OPER4 = #{oper4,jdbcType=VARCHAR},
      OPER5 = #{oper5,jdbcType=VARCHAR},
      MENUFUNCTORYID = #{menufunctoryid,jdbcType=VARCHAR},
      MENUFUNCTORY = #{menufunctory,jdbcType=VARCHAR},
      'STATUS' = #{status,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      HISTPAVGROFIT = #{histpavgrofit,jdbcType=DECIMAL},
      GSTPRICE = #{gstprice,jdbcType=DECIMAL},
      OCEANSHIPPRICE = #{oceanshipprice,jdbcType=DECIMAL},
      FOBPRICE = #{fobprice,jdbcType=DECIMAL},
      CIFPRICE = #{cifprice,jdbcType=DECIMAL},
      EXPRESSPRICE = #{expressprice,jdbcType=DECIMAL},
      PROFIT = #{profit,jdbcType=DECIMAL},
      BIDPROFIT = #{bidprofit,jdbcType=DECIMAL},
      FIXEDPROFIT = #{fixedprofit,jdbcType=DECIMAL},
      BIDEBAYPRICE = #{bidebayprice,jdbcType=DECIMAL},
      FIXEDEBAYPRICE = #{fixedebayprice,jdbcType=DECIMAL},
      BIDNUM = #{bidnum,jdbcType=DECIMAL},
      STORERENT = #{storerent,jdbcType=DECIMAL},
      ALLPURCHASENUM = #{allpurchasenum,jdbcType=DECIMAL},
      MANUFACTUREQUOTE = #{manufacturequote,jdbcType=DECIMAL},
      TARIFFPRICE = #{tariffprice,jdbcType=DECIMAL},
      PAYPALPRICE = #{paypalprice,jdbcType=DECIMAL},
      ALIASKU = #{aliasku,jdbcType=VARCHAR},
      VOLUME = #{volume,jdbcType=DECIMAL},
      SIZES = #{sizes,jdbcType=VARCHAR},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      'LENGTH' = #{length,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      HIGH = #{high,jdbcType=DECIMAL},
      SALES7 = #{sales7,jdbcType=DECIMAL},
      SALES30 = #{sales30,jdbcType=DECIMAL},
      SALES90 = #{sales90,jdbcType=DECIMAL},
      OUTERLEVEL = #{outerlevel,jdbcType=VARCHAR},
      DHNUMBER = #{dhnumber,jdbcType=DECIMAL},
      MAINSKU = #{mainsku,jdbcType=VARCHAR},
      EBAYPRICE = #{ebayprice,jdbcType=DECIMAL},
      BIDAVGPRICE = #{bidavgprice,jdbcType=DECIMAL},
      BIDTURNOVERRATE = #{bidturnoverrate,jdbcType=DECIMAL},
      BIDTOTALPRICE = #{bidtotalprice,jdbcType=DECIMAL},
      BID7DAY = #{bid7day,jdbcType=DECIMAL},
      BID30DAY = #{bid30day,jdbcType=DECIMAL},
      BID60DAY = #{bid60day,jdbcType=DECIMAL},
      HISTORYSAVENUM = #{historysavenum,jdbcType=DECIMAL},
      HISTORYCIFPRICE = #{historycifprice,jdbcType=DECIMAL},
      HISTORYPROFITAMOUNT = #{historyprofitamount,jdbcType=DECIMAL},
      CLASSPROFIT = #{classprofit,jdbcType=DECIMAL},
      PRODUCTCONTRIBUTIONS = #{productcontributions,jdbcType=DECIMAL},
      MONTHLYPROFITABC = #{monthlyprofitabc,jdbcType=VARCHAR},
      FPROFITABC = #{fprofitabc,jdbcType=VARCHAR},
      TURNOVERDAY = #{turnoverday,jdbcType=DECIMAL},
      MONTHPROFITS = #{monthprofits,jdbcType=DECIMAL},
      REFUNDRATE = #{refundrate,jdbcType=DECIMAL},
      MONTHCLASSPROFIT = #{monthclassprofit,jdbcType=DECIMAL},
      CHANGEAMOUNT = #{changeamount,jdbcType=DECIMAL},
      LITERRATIO = #{literratio,jdbcType=DECIMAL},
      CLASSCONTRIBUTIONRATIO = #{classcontributionratio,jdbcType=DECIMAL},
      MONTHREFUNDRATE = #{monthrefundrate,jdbcType=DECIMAL},
      HISTORYAVGPROFITRATIO = #{historyavgprofitratio,jdbcType=DECIMAL},
      HISTORYAVGPROFIT = #{historyavgprofit,jdbcType=DECIMAL},
      HISTORYNETPROFITAMOUNT = #{historynetprofitamount,jdbcType=DECIMAL},
      VOLUMEWEIGHT = #{volumeweight,jdbcType=DECIMAL},
      GST = #{gst,jdbcType=DECIMAL},
      TARIFF = #{tariff,jdbcType=DECIMAL},
      SAVENUMSTATUS = #{savenumstatus,jdbcType=DECIMAL}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
</mapper>