<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProject">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="TRANSLATEGROUP" jdbcType="VARCHAR" property="translategroup" />
    <result column="PRICEGROUP" jdbcType="VARCHAR" property="pricegroup" />
    <result column="CONTENTGROUP" jdbcType="VARCHAR" property="contentgroup" />
    <result column="PICGROUP" jdbcType="VARCHAR" property="picgroup" />
    <result column="DESIGNGROUP" jdbcType="VARCHAR" property="designgroup" />
    <result column="CHECKGROUP" jdbcType="VARCHAR" property="checkgroup" />
    <result column="PUBLICGROUP" jdbcType="VARCHAR" property="publicgroup" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="DATEDIFF" jdbcType="DECIMAL" property="datediff" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProject">
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="SHOPTYPE" jdbcType="LONGVARCHAR" property="shoptype" />
    <result column="SALESOURCE" jdbcType="LONGVARCHAR" property="salesource" />
    <result column="PRODUCTID" jdbcType="LONGVARCHAR" property="productid" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
    <result column="PRODUCTSKU" jdbcType="LONGVARCHAR" property="productsku" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, DESCR, FLAG, OPER, OPERTIME, TRANSLATEGROUP, PRICEGROUP, CONTENTGROUP, PICGROUP, 
    DESIGNGROUP, CHECKGROUP, PUBLICGROUP, RESERVE5, ENDTIME, DATEDIFF, CORPID
  </sql>
  <sql id="Blob_Column_List">
    'NAME', SHOPTYPE, SALESOURCE, PRODUCTID, RESERVE1, RESERVE2, RESERVE3, RESERVE4, 
    PRODUCTSKU
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_project
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_project
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProject">
    insert into db_project (SID, DESCR, FLAG, 
      OPER, OPERTIME, TRANSLATEGROUP, 
      PRICEGROUP, CONTENTGROUP, PICGROUP, 
      DESIGNGROUP, CHECKGROUP, PUBLICGROUP, 
      RESERVE5, ENDTIME, DATEDIFF, 
      CORPID, 'NAME', SHOPTYPE, 
      SALESOURCE, PRODUCTID, RESERVE1, 
      RESERVE2, RESERVE3, RESERVE4, 
      PRODUCTSKU)
    values (#{sid,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{translategroup,jdbcType=VARCHAR}, 
      #{pricegroup,jdbcType=VARCHAR}, #{contentgroup,jdbcType=VARCHAR}, #{picgroup,jdbcType=VARCHAR}, 
      #{designgroup,jdbcType=VARCHAR}, #{checkgroup,jdbcType=VARCHAR}, #{publicgroup,jdbcType=VARCHAR}, 
      #{reserve5,jdbcType=VARCHAR}, #{endtime,jdbcType=TIMESTAMP}, #{datediff,jdbcType=DECIMAL}, 
      #{corpid,jdbcType=VARCHAR}, #{name,jdbcType=LONGVARCHAR}, #{shoptype,jdbcType=LONGVARCHAR}, 
      #{salesource,jdbcType=LONGVARCHAR}, #{productid,jdbcType=LONGVARCHAR}, #{reserve1,jdbcType=LONGVARCHAR}, 
      #{reserve2,jdbcType=LONGVARCHAR}, #{reserve3,jdbcType=LONGVARCHAR}, #{reserve4,jdbcType=LONGVARCHAR}, 
      #{productsku,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProject">
    insert into db_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="descr != null">
        DESCR,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="translategroup != null">
        TRANSLATEGROUP,
      </if>
      <if test="pricegroup != null">
        PRICEGROUP,
      </if>
      <if test="contentgroup != null">
        CONTENTGROUP,
      </if>
      <if test="picgroup != null">
        PICGROUP,
      </if>
      <if test="designgroup != null">
        DESIGNGROUP,
      </if>
      <if test="checkgroup != null">
        CHECKGROUP,
      </if>
      <if test="publicgroup != null">
        PUBLICGROUP,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="datediff != null">
        DATEDIFF,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="shoptype != null">
        SHOPTYPE,
      </if>
      <if test="salesource != null">
        SALESOURCE,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="productsku != null">
        PRODUCTSKU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="translategroup != null">
        #{translategroup,jdbcType=VARCHAR},
      </if>
      <if test="pricegroup != null">
        #{pricegroup,jdbcType=VARCHAR},
      </if>
      <if test="contentgroup != null">
        #{contentgroup,jdbcType=VARCHAR},
      </if>
      <if test="picgroup != null">
        #{picgroup,jdbcType=VARCHAR},
      </if>
      <if test="designgroup != null">
        #{designgroup,jdbcType=VARCHAR},
      </if>
      <if test="checkgroup != null">
        #{checkgroup,jdbcType=VARCHAR},
      </if>
      <if test="publicgroup != null">
        #{publicgroup,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datediff != null">
        #{datediff,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="shoptype != null">
        #{shoptype,jdbcType=LONGVARCHAR},
      </if>
      <if test="salesource != null">
        #{salesource,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=LONGVARCHAR},
      </if>
      <if test="productsku != null">
        #{productsku,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProject">
    update db_project
    <set>
      <if test="descr != null">
        DESCR = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="translategroup != null">
        TRANSLATEGROUP = #{translategroup,jdbcType=VARCHAR},
      </if>
      <if test="pricegroup != null">
        PRICEGROUP = #{pricegroup,jdbcType=VARCHAR},
      </if>
      <if test="contentgroup != null">
        CONTENTGROUP = #{contentgroup,jdbcType=VARCHAR},
      </if>
      <if test="picgroup != null">
        PICGROUP = #{picgroup,jdbcType=VARCHAR},
      </if>
      <if test="designgroup != null">
        DESIGNGROUP = #{designgroup,jdbcType=VARCHAR},
      </if>
      <if test="checkgroup != null">
        CHECKGROUP = #{checkgroup,jdbcType=VARCHAR},
      </if>
      <if test="publicgroup != null">
        PUBLICGROUP = #{publicgroup,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datediff != null">
        DATEDIFF = #{datediff,jdbcType=DECIMAL},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="shoptype != null">
        SHOPTYPE = #{shoptype,jdbcType=LONGVARCHAR},
      </if>
      <if test="salesource != null">
        SALESOURCE = #{salesource,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR},
      </if>
      <if test="productsku != null">
        PRODUCTSKU = #{productsku,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProject">
    update db_project
    set DESCR = #{descr,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      TRANSLATEGROUP = #{translategroup,jdbcType=VARCHAR},
      PRICEGROUP = #{pricegroup,jdbcType=VARCHAR},
      CONTENTGROUP = #{contentgroup,jdbcType=VARCHAR},
      PICGROUP = #{picgroup,jdbcType=VARCHAR},
      DESIGNGROUP = #{designgroup,jdbcType=VARCHAR},
      CHECKGROUP = #{checkgroup,jdbcType=VARCHAR},
      PUBLICGROUP = #{publicgroup,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      DATEDIFF = #{datediff,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR},
      'NAME' = #{name,jdbcType=LONGVARCHAR},
      SHOPTYPE = #{shoptype,jdbcType=LONGVARCHAR},
      SALESOURCE = #{salesource,jdbcType=LONGVARCHAR},
      PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR},
      PRODUCTSKU = #{productsku,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProject">
    update db_project
    set DESCR = #{descr,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      TRANSLATEGROUP = #{translategroup,jdbcType=VARCHAR},
      PRICEGROUP = #{pricegroup,jdbcType=VARCHAR},
      CONTENTGROUP = #{contentgroup,jdbcType=VARCHAR},
      PICGROUP = #{picgroup,jdbcType=VARCHAR},
      DESIGNGROUP = #{designgroup,jdbcType=VARCHAR},
      CHECKGROUP = #{checkgroup,jdbcType=VARCHAR},
      PUBLICGROUP = #{publicgroup,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      DATEDIFF = #{datediff,jdbcType=DECIMAL},
      CORPID = #{corpid,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>