<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductdevelopforsonMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductdevelopforson">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="FATHINDEXID" jdbcType="VARCHAR" property="fathindexid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENNAME" jdbcType="VARCHAR" property="enname" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="MANUFACTURENAME" jdbcType="VARCHAR" property="manufacturename" />
    <result column="QUOTE" jdbcType="DECIMAL" property="quote" />
    <result column="MINNUM" jdbcType="DECIMAL" property="minnum" />
    <result column="PHOTOURL" jdbcType="VARCHAR" property="photourl" />
    <result column="CHASEOPER" jdbcType="VARCHAR" property="chaseoper" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, FATHINDEXID, PRODUCTID, NAME, ENNAME, SAVENUM, SELLPRICE, COSTPRICE, 
    WEIGHT, CATEGORYID, CATEGORYNAME, MANUFACTUREID, MANUFACTURENAME, QUOTE, MINNUM, 
    PHOTOURL, CHASEOPER, RESERVE1, RESERVE2, RESERVE3, RESERVE4, TITLE, OPENFLAG, FLAG, 
    OPER, OPERTIME, CORPID, MONEYTYPE, RESERVE5, RESERVE6, RESERVE7, RESERVE8
    from DB_PRODUCTDEVELOPFORSON
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, FATHINDEXID, PRODUCTID, NAME, ENNAME, SAVENUM, SELLPRICE, COSTPRICE, 
    WEIGHT, CATEGORYID, CATEGORYNAME, MANUFACTUREID, MANUFACTURENAME, QUOTE, MINNUM, 
    PHOTOURL, CHASEOPER, RESERVE1, RESERVE2, RESERVE3, RESERVE4, TITLE, OPENFLAG, FLAG, 
    OPER, OPERTIME, CORPID, MONEYTYPE, RESERVE5, RESERVE6, RESERVE7, RESERVE8
    from DB_PRODUCTDEVELOPFORSON
  </select>
  <sql id="TableName">
    DB_PRODUCTDEVELOPFORSON
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{fathindexid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{enname,jdbcType=VARCHAR} , 
     #{savenum,jdbcType=DECIMAL} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{weight,jdbcType=DECIMAL} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
     #{manufactureid,jdbcType=VARCHAR} , 
     #{manufacturename,jdbcType=VARCHAR} , 
     #{quote,jdbcType=DECIMAL} , 
     #{minnum,jdbcType=DECIMAL} , 
     #{photourl,jdbcType=VARCHAR} , 
     #{chaseoper,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=DECIMAL} , 
     #{reserve4,jdbcType=DECIMAL} , 
     #{title,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{flag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=VARCHAR} , 
     #{reserve7,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    FATHINDEXID , 
    PRODUCTID , 
    NAME , 
    ENNAME , 
    SAVENUM , 
    SELLPRICE , 
    COSTPRICE , 
    WEIGHT , 
    CATEGORYID , 
    CATEGORYNAME , 
    MANUFACTUREID , 
    MANUFACTURENAME , 
    QUOTE , 
    MINNUM , 
    PHOTOURL , 
    CHASEOPER , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    TITLE , 
    OPENFLAG , 
    FLAG , 
    OPER , 
    OPERTIME , 
    CORPID , 
    MONEYTYPE , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="fathindexid != null">
      fathindexid = #{fathindexid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="enname != null">
      enname = #{enname,jdbcType=VARCHAR} and 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} and 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="manufactureid != null">
      manufactureid = #{manufactureid,jdbcType=VARCHAR} and 
    </if>
    <if test="manufacturename != null">
      manufacturename = #{manufacturename,jdbcType=VARCHAR} and 
    </if>
    <if test="quote != null">
      quote = #{quote,jdbcType=DECIMAL} and 
    </if>
    <if test="minnum != null">
      minnum = #{minnum,jdbcType=DECIMAL} and 
    </if>
    <if test="photourl != null">
      photourl = #{photourl,jdbcType=VARCHAR} and 
    </if>
    <if test="chaseoper != null">
      chaseoper = #{chaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="fathindexid != null">
      fathindexid = #{fathindexid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="enname != null">
      enname = #{enname,jdbcType=VARCHAR} , 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} , 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="manufactureid != null">
      manufactureid = #{manufactureid,jdbcType=VARCHAR} , 
    </if>
    <if test="manufacturename != null">
      manufacturename = #{manufacturename,jdbcType=VARCHAR} , 
    </if>
    <if test="quote != null">
      quote = #{quote,jdbcType=DECIMAL} , 
    </if>
    <if test="minnum != null">
      minnum = #{minnum,jdbcType=DECIMAL} , 
    </if>
    <if test="photourl != null">
      photourl = #{photourl,jdbcType=VARCHAR} , 
    </if>
    <if test="chaseoper != null">
      chaseoper = #{chaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductdevelopforson" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductdevelopforson">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductdevelopforson">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductdevelopforson">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>