<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectlogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProjectlog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="PROJECTID" jdbcType="VARCHAR" property="projectid" />
    <result column="OPERTYPE" jdbcType="VARCHAR" property="opertype" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProjectlog">
    <result column="PROJECTNAME" jdbcType="LONGVARCHAR" property="projectname" />
    <result column="PRODUCTID" jdbcType="LONGVARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, PROJECTID, OPERTYPE, OPER, OPERTIME, CORPID
  </sql>
  <sql id="Blob_Column_List">
    PROJECTNAME, PRODUCTID, PRODUCTNAME, CONTENT, RESERVE1, RESERVE2, RESERVE3, RESERVE4
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_projectlog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_projectlog
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProjectlog">
    insert into db_projectlog (SEQUENCEID, PROJECTID, OPERTYPE, 
      OPER, OPERTIME, CORPID, 
      PROJECTNAME, PRODUCTID, PRODUCTNAME, 
      CONTENT, RESERVE1, RESERVE2, 
      RESERVE3, RESERVE4)
    values (#{sequenceid,jdbcType=VARCHAR}, #{projectid,jdbcType=VARCHAR}, #{opertype,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, 
      #{projectname,jdbcType=LONGVARCHAR}, #{productid,jdbcType=LONGVARCHAR}, #{productname,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{reserve1,jdbcType=LONGVARCHAR}, #{reserve2,jdbcType=LONGVARCHAR}, 
      #{reserve3,jdbcType=LONGVARCHAR}, #{reserve4,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProjectlog">
    insert into db_projectlog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="projectid != null">
        PROJECTID,
      </if>
      <if test="opertype != null">
        OPERTYPE,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="projectname != null">
        PROJECTNAME,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="opertype != null">
        #{opertype,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null">
        #{projectname,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProjectlog">
    update db_projectlog
    <set>
      <if test="projectid != null">
        PROJECTID = #{projectid,jdbcType=VARCHAR},
      </if>
      <if test="opertype != null">
        OPERTYPE = #{opertype,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null">
        PROJECTNAME = #{projectname,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProjectlog">
    update db_projectlog
    set PROJECTID = #{projectid,jdbcType=VARCHAR},
      OPERTYPE = #{opertype,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      PROJECTNAME = #{projectname,jdbcType=LONGVARCHAR},
      PRODUCTID = #{productid,jdbcType=LONGVARCHAR},
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProjectlog">
    update db_projectlog
    set PROJECTID = #{projectid,jdbcType=VARCHAR},
      OPERTYPE = #{opertype,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>