<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbPrintorderbyskuconfiginfoMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbPrintorderbyskuconfiginfo">
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="PSCID" jdbcType="VARCHAR" property="pscid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="LABELID" jdbcType="VARCHAR" property="labelid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbPrintorderbyskuconfiginfo">
    <result column="EXPRESSTYPEID" jdbcType="LONGVARCHAR" property="expresstypeid" />
    <result column="PRINTER" jdbcType="LONGVARCHAR" property="printer" />
  </resultMap>
  <sql id="Blob_Column_List">
    EXPRESSTYPEID, PRINTER
  </sql>
  <insert id="insert" parameterType="com.bean.model.DbPrintorderbyskuconfiginfo">
    insert into db_printorderbyskuconfiginfo (SID, OPER, CORPID, 
      RESERVE1, PSCID, EXPRESSTYPE, 
      OPERTIME, RESERVE3, RESERVE2, 
      LABELID, EXPRESSTYPEID, PRINTER
      )
    values (#{sid,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=VARCHAR}, #{pscid,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{reserve3,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{labelid,jdbcType=VARCHAR}, #{expresstypeid,jdbcType=LONGVARCHAR}, #{printer,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbPrintorderbyskuconfiginfo">
    insert into db_printorderbyskuconfiginfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="pscid != null">
        PSCID,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="labelid != null">
        LABELID,
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID,
      </if>
      <if test="printer != null">
        PRINTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="pscid != null">
        #{pscid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="labelid != null">
        #{labelid,jdbcType=VARCHAR},
      </if>
      <if test="expresstypeid != null">
        #{expresstypeid,jdbcType=LONGVARCHAR},
      </if>
      <if test="printer != null">
        #{printer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>