<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductHistory2Mapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductHistory2">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="HISTPROFIT" jdbcType="DECIMAL" property="histprofit" />
    <result column="PROFITT" jdbcType="DECIMAL" property="profitt" />
    <result column="PROFITS" jdbcType="DECIMAL" property="profits" />
    <result column="ALLORDERNUM" jdbcType="DECIMAL" property="allordernum" />
    <result column="TODAYORDERNUM" jdbcType="DECIMAL" property="todayordernum" />
    <result column="ONPASSAGEPURCHASE" jdbcType="DECIMAL" property="onpassagepurchase" />
    <result column="OOSLEVEL" jdbcType="DECIMAL" property="ooslevel" />
    <result column="RATEOFPIN" jdbcType="DECIMAL" property="rateofpin" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="ALERTDAY" jdbcType="DECIMAL" property="alertday" />
    <result column="ALERTNUM" jdbcType="DECIMAL" property="alertnum" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="TODAYSAVENUM" jdbcType="DECIMAL" property="todaysavenum" />
    <result column="SINGLEDAYSALES" jdbcType="DECIMAL" property="singledaysales" />
    <result column="DIELIBRARYCOEFFICIENT" jdbcType="DECIMAL" property="dielibrarycoefficient" />
    <result column="TODAYOUTSAVENUM" jdbcType="DECIMAL" property="todayoutsavenum" />
    <result column="MINPURCHASENUM" jdbcType="DECIMAL" property="minpurchasenum" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="STORNGID" jdbcType="VARCHAR" property="storngid" />
    <result column="STRONG" jdbcType="VARCHAR" property="strong" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="OPER2" jdbcType="VARCHAR" property="oper2" />
    <result column="OPER3" jdbcType="VARCHAR" property="oper3" />
    <result column="OPER4" jdbcType="VARCHAR" property="oper4" />
    <result column="OPER5" jdbcType="VARCHAR" property="oper5" />
    <result column="MENUFUNCTORYID" jdbcType="VARCHAR" property="menufunctoryid" />
    <result column="MENUFUNCTORY" jdbcType="VARCHAR" property="menufunctory" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="HISTPAVGROFIT" jdbcType="DECIMAL" property="histpavgrofit" />
    <result column="GSTPRICE" jdbcType="DECIMAL" property="gstprice" />
    <result column="OCEANSHIPPRICE" jdbcType="DECIMAL" property="oceanshipprice" />
    <result column="FOBPRICE" jdbcType="DECIMAL" property="fobprice" />
    <result column="CIFPRICE" jdbcType="DECIMAL" property="cifprice" />
    <result column="EXPRESSPRICE" jdbcType="DECIMAL" property="expressprice" />
    <result column="PROFIT" jdbcType="DECIMAL" property="profit" />
    <result column="BIDPROFIT" jdbcType="DECIMAL" property="bidprofit" />
    <result column="FIXEDPROFIT" jdbcType="DECIMAL" property="fixedprofit" />
    <result column="BIDEBAYPRICE" jdbcType="DECIMAL" property="bidebayprice" />
    <result column="FIXEDEBAYPRICE" jdbcType="DECIMAL" property="fixedebayprice" />
    <result column="BIDNUM" jdbcType="DECIMAL" property="bidnum" />
    <result column="STORERENT" jdbcType="DECIMAL" property="storerent" />
    <result column="ALLPURCHASENUM" jdbcType="DECIMAL" property="allpurchasenum" />
    <result column="MANUFACTUREQUOTE" jdbcType="DECIMAL" property="manufacturequote" />
    <result column="TARIFFPRICE" jdbcType="DECIMAL" property="tariffprice" />
    <result column="PAYPALPRICE" jdbcType="DECIMAL" property="paypalprice" />
    <result column="ALIASKU" jdbcType="VARCHAR" property="aliasku" />
    <result column="VOLUME" jdbcType="DECIMAL" property="volume" />
    <result column="SIZES" jdbcType="VARCHAR" property="sizes" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="LENGTH" jdbcType="DECIMAL" property="length" />
    <result column="WIDTH" jdbcType="DECIMAL" property="width" />
    <result column="HIGH" jdbcType="DECIMAL" property="high" />
    <result column="SALES7" jdbcType="DECIMAL" property="sales7" />
    <result column="SALES30" jdbcType="DECIMAL" property="sales30" />
    <result column="SALES90" jdbcType="DECIMAL" property="sales90" />
    <result column="OUTERLEVEL" jdbcType="VARCHAR" property="outerlevel" />
    <result column="DHNUMBER" jdbcType="DECIMAL" property="dhnumber" />
    <result column="MAINSKU" jdbcType="VARCHAR" property="mainsku" />
    <result column="EBAYPRICE" jdbcType="DECIMAL" property="ebayprice" />
    <result column="BIDAVGPRICE" jdbcType="DECIMAL" property="bidavgprice" />
    <result column="BIDTURNOVERRATE" jdbcType="DECIMAL" property="bidturnoverrate" />
    <result column="BIDTOTALPRICE" jdbcType="DECIMAL" property="bidtotalprice" />
    <result column="BID7DAY" jdbcType="DECIMAL" property="bid7day" />
    <result column="BID30DAY" jdbcType="DECIMAL" property="bid30day" />
    <result column="BID60DAY" jdbcType="DECIMAL" property="bid60day" />
    <result column="HISTORYSAVENUM" jdbcType="DECIMAL" property="historysavenum" />
    <result column="HISTORYCIFPRICE" jdbcType="DECIMAL" property="historycifprice" />
    <result column="HISTORYPROFITAMOUNT" jdbcType="DECIMAL" property="historyprofitamount" />
    <result column="CLASSPROFIT" jdbcType="DECIMAL" property="classprofit" />
    <result column="PRODUCTCONTRIBUTIONS" jdbcType="DECIMAL" property="productcontributions" />
    <result column="MONTHLYPROFITABC" jdbcType="VARCHAR" property="monthlyprofitabc" />
    <result column="FPROFITABC" jdbcType="VARCHAR" property="fprofitabc" />
    <result column="TURNOVERDAY" jdbcType="DECIMAL" property="turnoverday" />
    <result column="MONTHPROFITS" jdbcType="DECIMAL" property="monthprofits" />
    <result column="REFUNDRATE" jdbcType="DECIMAL" property="refundrate" />
    <result column="MONTHCLASSPROFIT" jdbcType="DECIMAL" property="monthclassprofit" />
    <result column="CHANGEAMOUNT" jdbcType="DECIMAL" property="changeamount" />
    <result column="LITERRATIO" jdbcType="DECIMAL" property="literratio" />
    <result column="CLASSCONTRIBUTIONRATIO" jdbcType="DECIMAL" property="classcontributionratio" />
    <result column="MONTHREFUNDRATE" jdbcType="DECIMAL" property="monthrefundrate" />
    <result column="HISTORYAVGPROFITRATIO" jdbcType="DECIMAL" property="historyavgprofitratio" />
    <result column="HISTORYAVGPROFIT" jdbcType="DECIMAL" property="historyavgprofit" />
    <result column="HISTORYNETPROFITAMOUNT" jdbcType="DECIMAL" property="historynetprofitamount" />
    <result column="VOLUMEWEIGHT" jdbcType="DECIMAL" property="volumeweight" />
    <result column="GST" jdbcType="DECIMAL" property="gst" />
    <result column="TARIFF" jdbcType="DECIMAL" property="tariff" />
    <result column="SAVENUMSTATUS" jdbcType="DECIMAL" property="savenumstatus" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, HISTPROFIT, PROFITT, PROFITS, ALLORDERNUM, TODAYORDERNUM, 
    ONPASSAGEPURCHASE, OOSLEVEL, RATEOFPIN, SAVENUM, COSTPRICE, ALERTDAY, ALERTNUM, WEIGHT, 
    TODAYSAVENUM, SINGLEDAYSALES, DIELIBRARYCOEFFICIENT, TODAYOUTSAVENUM, MINPURCHASENUM, 
    LOCATIONID, LOCATION, STORNGID, STRONG, PRODUCTNAME, OPER1, OPER2, OPER3, OPER4, 
    OPER5, MENUFUNCTORYID, MENUFUNCTORY, STATUS, CORPID, CREATETIME, HISTPAVGROFIT, GSTPRICE, 
    OCEANSHIPPRICE, FOBPRICE, CIFPRICE, EXPRESSPRICE, PROFIT, BIDPROFIT, FIXEDPROFIT, 
    BIDEBAYPRICE, FIXEDEBAYPRICE, BIDNUM, STORERENT, ALLPURCHASENUM, MANUFACTUREQUOTE, 
    TARIFFPRICE, PAYPALPRICE, ALIASKU, VOLUME, SIZES, SELLPRICE, LENGTH, WIDTH, HIGH, 
    SALES7, SALES30, SALES90, OUTERLEVEL, DHNUMBER, MAINSKU, EBAYPRICE, BIDAVGPRICE, 
    BIDTURNOVERRATE, BIDTOTALPRICE, BID7DAY, BID30DAY, BID60DAY, HISTORYSAVENUM, HISTORYCIFPRICE, 
    HISTORYPROFITAMOUNT, CLASSPROFIT, PRODUCTCONTRIBUTIONS, MONTHLYPROFITABC, FPROFITABC, 
    TURNOVERDAY, MONTHPROFITS, REFUNDRATE, MONTHCLASSPROFIT, CHANGEAMOUNT, LITERRATIO, 
    CLASSCONTRIBUTIONRATIO, MONTHREFUNDRATE, HISTORYAVGPROFITRATIO, HISTORYAVGPROFIT, 
    HISTORYNETPROFITAMOUNT, VOLUMEWEIGHT, GST, TARIFF, SAVENUMSTATUS
    from DB_PRODUCT_HISTORY2
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PRODUCTID, HISTPROFIT, PROFITT, PROFITS, ALLORDERNUM, TODAYORDERNUM, 
    ONPASSAGEPURCHASE, OOSLEVEL, RATEOFPIN, SAVENUM, COSTPRICE, ALERTDAY, ALERTNUM, WEIGHT, 
    TODAYSAVENUM, SINGLEDAYSALES, DIELIBRARYCOEFFICIENT, TODAYOUTSAVENUM, MINPURCHASENUM, 
    LOCATIONID, LOCATION, STORNGID, STRONG, PRODUCTNAME, OPER1, OPER2, OPER3, OPER4, 
    OPER5, MENUFUNCTORYID, MENUFUNCTORY, STATUS, CORPID, CREATETIME, HISTPAVGROFIT, GSTPRICE, 
    OCEANSHIPPRICE, FOBPRICE, CIFPRICE, EXPRESSPRICE, PROFIT, BIDPROFIT, FIXEDPROFIT, 
    BIDEBAYPRICE, FIXEDEBAYPRICE, BIDNUM, STORERENT, ALLPURCHASENUM, MANUFACTUREQUOTE, 
    TARIFFPRICE, PAYPALPRICE, ALIASKU, VOLUME, SIZES, SELLPRICE, LENGTH, WIDTH, HIGH, 
    SALES7, SALES30, SALES90, OUTERLEVEL, DHNUMBER, MAINSKU, EBAYPRICE, BIDAVGPRICE, 
    BIDTURNOVERRATE, BIDTOTALPRICE, BID7DAY, BID30DAY, BID60DAY, HISTORYSAVENUM, HISTORYCIFPRICE, 
    HISTORYPROFITAMOUNT, CLASSPROFIT, PRODUCTCONTRIBUTIONS, MONTHLYPROFITABC, FPROFITABC, 
    TURNOVERDAY, MONTHPROFITS, REFUNDRATE, MONTHCLASSPROFIT, CHANGEAMOUNT, LITERRATIO, 
    CLASSCONTRIBUTIONRATIO, MONTHREFUNDRATE, HISTORYAVGPROFITRATIO, HISTORYAVGPROFIT, 
    HISTORYNETPROFITAMOUNT, VOLUMEWEIGHT, GST, TARIFF, SAVENUMSTATUS
    from DB_PRODUCT_HISTORY2
  </select>
  <sql id="TableName">
    DB_PRODUCT_HISTORY2
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{productid,jdbcType=VARCHAR} , 
     #{histprofit,jdbcType=DECIMAL} , 
     #{profitt,jdbcType=DECIMAL} , 
     #{profits,jdbcType=DECIMAL} , 
     #{allordernum,jdbcType=DECIMAL} , 
     #{todayordernum,jdbcType=DECIMAL} , 
     #{onpassagepurchase,jdbcType=DECIMAL} , 
     #{ooslevel,jdbcType=DECIMAL} , 
     #{rateofpin,jdbcType=DECIMAL} , 
     #{savenum,jdbcType=DECIMAL} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{alertday,jdbcType=DECIMAL} , 
     #{alertnum,jdbcType=DECIMAL} , 
     #{weight,jdbcType=DECIMAL} , 
     #{todaysavenum,jdbcType=DECIMAL} , 
     #{singledaysales,jdbcType=DECIMAL} , 
     #{dielibrarycoefficient,jdbcType=DECIMAL} , 
     #{todayoutsavenum,jdbcType=DECIMAL} , 
     #{minpurchasenum,jdbcType=DECIMAL} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{location,jdbcType=VARCHAR} , 
     #{storngid,jdbcType=VARCHAR} , 
     #{strong,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{oper1,jdbcType=VARCHAR} , 
     #{oper2,jdbcType=VARCHAR} , 
     #{oper3,jdbcType=VARCHAR} , 
     #{oper4,jdbcType=VARCHAR} , 
     #{oper5,jdbcType=VARCHAR} , 
     #{menufunctoryid,jdbcType=VARCHAR} , 
     #{menufunctory,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{histpavgrofit,jdbcType=DECIMAL} , 
     #{gstprice,jdbcType=DECIMAL} , 
     #{oceanshipprice,jdbcType=DECIMAL} , 
     #{fobprice,jdbcType=DECIMAL} , 
     #{cifprice,jdbcType=DECIMAL} , 
     #{expressprice,jdbcType=DECIMAL} , 
     #{profit,jdbcType=DECIMAL} , 
     #{bidprofit,jdbcType=DECIMAL} , 
     #{fixedprofit,jdbcType=DECIMAL} , 
     #{bidebayprice,jdbcType=DECIMAL} , 
     #{fixedebayprice,jdbcType=DECIMAL} , 
     #{bidnum,jdbcType=DECIMAL} , 
     #{storerent,jdbcType=DECIMAL} , 
     #{allpurchasenum,jdbcType=DECIMAL} , 
     #{manufacturequote,jdbcType=DECIMAL} , 
     #{tariffprice,jdbcType=DECIMAL} , 
     #{paypalprice,jdbcType=DECIMAL} , 
     #{aliasku,jdbcType=VARCHAR} , 
     #{volume,jdbcType=DECIMAL} , 
     #{sizes,jdbcType=VARCHAR} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{length,jdbcType=DECIMAL} , 
     #{width,jdbcType=DECIMAL} , 
     #{high,jdbcType=DECIMAL} , 
     #{sales7,jdbcType=DECIMAL} , 
     #{sales30,jdbcType=DECIMAL} , 
     #{sales90,jdbcType=DECIMAL} , 
     #{outerlevel,jdbcType=VARCHAR} , 
     #{dhnumber,jdbcType=DECIMAL} , 
     #{mainsku,jdbcType=VARCHAR} , 
     #{ebayprice,jdbcType=DECIMAL} , 
     #{bidavgprice,jdbcType=DECIMAL} , 
     #{bidturnoverrate,jdbcType=DECIMAL} , 
     #{bidtotalprice,jdbcType=DECIMAL} , 
     #{bid7day,jdbcType=DECIMAL} , 
     #{bid30day,jdbcType=DECIMAL} , 
     #{bid60day,jdbcType=DECIMAL} , 
     #{historysavenum,jdbcType=DECIMAL} , 
     #{historycifprice,jdbcType=DECIMAL} , 
     #{historyprofitamount,jdbcType=DECIMAL} , 
     #{classprofit,jdbcType=DECIMAL} , 
     #{productcontributions,jdbcType=DECIMAL} , 
     #{monthlyprofitabc,jdbcType=VARCHAR} , 
     #{fprofitabc,jdbcType=VARCHAR} , 
     #{turnoverday,jdbcType=DECIMAL} , 
     #{monthprofits,jdbcType=DECIMAL} , 
     #{refundrate,jdbcType=DECIMAL} , 
     #{monthclassprofit,jdbcType=DECIMAL} , 
     #{changeamount,jdbcType=DECIMAL} , 
     #{literratio,jdbcType=DECIMAL} , 
     #{classcontributionratio,jdbcType=DECIMAL} , 
     #{monthrefundrate,jdbcType=DECIMAL} , 
     #{historyavgprofitratio,jdbcType=DECIMAL} , 
     #{historyavgprofit,jdbcType=DECIMAL} , 
     #{historynetprofitamount,jdbcType=DECIMAL} , 
     #{volumeweight,jdbcType=DECIMAL} , 
     #{gst,jdbcType=DECIMAL} , 
     #{tariff,jdbcType=DECIMAL} , 
     #{savenumstatus,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PRODUCTID , 
    HISTPROFIT , 
    PROFITT , 
    PROFITS , 
    ALLORDERNUM , 
    TODAYORDERNUM , 
    ONPASSAGEPURCHASE , 
    OOSLEVEL , 
    RATEOFPIN , 
    SAVENUM , 
    COSTPRICE , 
    ALERTDAY , 
    ALERTNUM , 
    WEIGHT , 
    TODAYSAVENUM , 
    SINGLEDAYSALES , 
    DIELIBRARYCOEFFICIENT , 
    TODAYOUTSAVENUM , 
    MINPURCHASENUM , 
    LOCATIONID , 
    LOCATION , 
    STORNGID , 
    STRONG , 
    PRODUCTNAME , 
    OPER1 , 
    OPER2 , 
    OPER3 , 
    OPER4 , 
    OPER5 , 
    MENUFUNCTORYID , 
    MENUFUNCTORY , 
    STATUS , 
    CORPID , 
    CREATETIME , 
    HISTPAVGROFIT , 
    GSTPRICE , 
    OCEANSHIPPRICE , 
    FOBPRICE , 
    CIFPRICE , 
    EXPRESSPRICE , 
    PROFIT , 
    BIDPROFIT , 
    FIXEDPROFIT , 
    BIDEBAYPRICE , 
    FIXEDEBAYPRICE , 
    BIDNUM , 
    STORERENT , 
    ALLPURCHASENUM , 
    MANUFACTUREQUOTE , 
    TARIFFPRICE , 
    PAYPALPRICE , 
    ALIASKU , 
    VOLUME , 
    SIZES , 
    SELLPRICE , 
    LENGTH , 
    WIDTH , 
    HIGH , 
    SALES7 , 
    SALES30 , 
    SALES90 , 
    OUTERLEVEL , 
    DHNUMBER , 
    MAINSKU , 
    EBAYPRICE , 
    BIDAVGPRICE , 
    BIDTURNOVERRATE , 
    BIDTOTALPRICE , 
    BID7DAY , 
    BID30DAY , 
    BID60DAY , 
    HISTORYSAVENUM , 
    HISTORYCIFPRICE , 
    HISTORYPROFITAMOUNT , 
    CLASSPROFIT , 
    PRODUCTCONTRIBUTIONS , 
    MONTHLYPROFITABC , 
    FPROFITABC , 
    TURNOVERDAY , 
    MONTHPROFITS , 
    REFUNDRATE , 
    MONTHCLASSPROFIT , 
    CHANGEAMOUNT , 
    LITERRATIO , 
    CLASSCONTRIBUTIONRATIO , 
    MONTHREFUNDRATE , 
    HISTORYAVGPROFITRATIO , 
    HISTORYAVGPROFIT , 
    HISTORYNETPROFITAMOUNT , 
    VOLUMEWEIGHT , 
    GST , 
    TARIFF , 
    SAVENUMSTATUS , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="histprofit != null">
      histprofit = #{histprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="profitt != null">
      profitt = #{profitt,jdbcType=DECIMAL} and 
    </if>
    <if test="profits != null">
      profits = #{profits,jdbcType=DECIMAL} and 
    </if>
    <if test="allordernum != null">
      allordernum = #{allordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="todayordernum != null">
      todayordernum = #{todayordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="onpassagepurchase != null">
      onpassagepurchase = #{onpassagepurchase,jdbcType=DECIMAL} and 
    </if>
    <if test="ooslevel != null">
      ooslevel = #{ooslevel,jdbcType=DECIMAL} and 
    </if>
    <if test="rateofpin != null">
      rateofpin = #{rateofpin,jdbcType=DECIMAL} and 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} and 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="alertday != null">
      alertday = #{alertday,jdbcType=DECIMAL} and 
    </if>
    <if test="alertnum != null">
      alertnum = #{alertnum,jdbcType=DECIMAL} and 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="todaysavenum != null">
      todaysavenum = #{todaysavenum,jdbcType=DECIMAL} and 
    </if>
    <if test="singledaysales != null">
      singledaysales = #{singledaysales,jdbcType=DECIMAL} and 
    </if>
    <if test="dielibrarycoefficient != null">
      dielibrarycoefficient = #{dielibrarycoefficient,jdbcType=DECIMAL} and 
    </if>
    <if test="todayoutsavenum != null">
      todayoutsavenum = #{todayoutsavenum,jdbcType=DECIMAL} and 
    </if>
    <if test="minpurchasenum != null">
      minpurchasenum = #{minpurchasenum,jdbcType=DECIMAL} and 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} and 
    </if>
    <if test="storngid != null">
      storngid = #{storngid,jdbcType=VARCHAR} and 
    </if>
    <if test="strong != null">
      strong = #{strong,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} and 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} and 
    </if>
    <if test="oper3 != null">
      oper3 = #{oper3,jdbcType=VARCHAR} and 
    </if>
    <if test="oper4 != null">
      oper4 = #{oper4,jdbcType=VARCHAR} and 
    </if>
    <if test="oper5 != null">
      oper5 = #{oper5,jdbcType=VARCHAR} and 
    </if>
    <if test="menufunctoryid != null">
      menufunctoryid = #{menufunctoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="menufunctory != null">
      menufunctory = #{menufunctory,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="histpavgrofit != null">
      histpavgrofit = #{histpavgrofit,jdbcType=DECIMAL} and 
    </if>
    <if test="gstprice != null">
      gstprice = #{gstprice,jdbcType=DECIMAL} and 
    </if>
    <if test="oceanshipprice != null">
      oceanshipprice = #{oceanshipprice,jdbcType=DECIMAL} and 
    </if>
    <if test="fobprice != null">
      fobprice = #{fobprice,jdbcType=DECIMAL} and 
    </if>
    <if test="cifprice != null">
      cifprice = #{cifprice,jdbcType=DECIMAL} and 
    </if>
    <if test="expressprice != null">
      expressprice = #{expressprice,jdbcType=DECIMAL} and 
    </if>
    <if test="profit != null">
      profit = #{profit,jdbcType=DECIMAL} and 
    </if>
    <if test="bidprofit != null">
      bidprofit = #{bidprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="fixedprofit != null">
      fixedprofit = #{fixedprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="bidebayprice != null">
      bidebayprice = #{bidebayprice,jdbcType=DECIMAL} and 
    </if>
    <if test="fixedebayprice != null">
      fixedebayprice = #{fixedebayprice,jdbcType=DECIMAL} and 
    </if>
    <if test="bidnum != null">
      bidnum = #{bidnum,jdbcType=DECIMAL} and 
    </if>
    <if test="storerent != null">
      storerent = #{storerent,jdbcType=DECIMAL} and 
    </if>
    <if test="allpurchasenum != null">
      allpurchasenum = #{allpurchasenum,jdbcType=DECIMAL} and 
    </if>
    <if test="manufacturequote != null">
      manufacturequote = #{manufacturequote,jdbcType=DECIMAL} and 
    </if>
    <if test="tariffprice != null">
      tariffprice = #{tariffprice,jdbcType=DECIMAL} and 
    </if>
    <if test="paypalprice != null">
      paypalprice = #{paypalprice,jdbcType=DECIMAL} and 
    </if>
    <if test="aliasku != null">
      aliasku = #{aliasku,jdbcType=VARCHAR} and 
    </if>
    <if test="volume != null">
      volume = #{volume,jdbcType=DECIMAL} and 
    </if>
    <if test="sizes != null">
      sizes = #{sizes,jdbcType=VARCHAR} and 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="length != null">
      length = #{length,jdbcType=DECIMAL} and 
    </if>
    <if test="width != null">
      width = #{width,jdbcType=DECIMAL} and 
    </if>
    <if test="high != null">
      high = #{high,jdbcType=DECIMAL} and 
    </if>
    <if test="sales7 != null">
      sales7 = #{sales7,jdbcType=DECIMAL} and 
    </if>
    <if test="sales30 != null">
      sales30 = #{sales30,jdbcType=DECIMAL} and 
    </if>
    <if test="sales90 != null">
      sales90 = #{sales90,jdbcType=DECIMAL} and 
    </if>
    <if test="outerlevel != null">
      outerlevel = #{outerlevel,jdbcType=VARCHAR} and 
    </if>
    <if test="dhnumber != null">
      dhnumber = #{dhnumber,jdbcType=DECIMAL} and 
    </if>
    <if test="mainsku != null">
      mainsku = #{mainsku,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayprice != null">
      ebayprice = #{ebayprice,jdbcType=DECIMAL} and 
    </if>
    <if test="bidavgprice != null">
      bidavgprice = #{bidavgprice,jdbcType=DECIMAL} and 
    </if>
    <if test="bidturnoverrate != null">
      bidturnoverrate = #{bidturnoverrate,jdbcType=DECIMAL} and 
    </if>
    <if test="bidtotalprice != null">
      bidtotalprice = #{bidtotalprice,jdbcType=DECIMAL} and 
    </if>
    <if test="bid7day != null">
      bid7day = #{bid7day,jdbcType=DECIMAL} and 
    </if>
    <if test="bid30day != null">
      bid30day = #{bid30day,jdbcType=DECIMAL} and 
    </if>
    <if test="bid60day != null">
      bid60day = #{bid60day,jdbcType=DECIMAL} and 
    </if>
    <if test="historysavenum != null">
      historysavenum = #{historysavenum,jdbcType=DECIMAL} and 
    </if>
    <if test="historycifprice != null">
      historycifprice = #{historycifprice,jdbcType=DECIMAL} and 
    </if>
    <if test="historyprofitamount != null">
      historyprofitamount = #{historyprofitamount,jdbcType=DECIMAL} and 
    </if>
    <if test="classprofit != null">
      classprofit = #{classprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="productcontributions != null">
      productcontributions = #{productcontributions,jdbcType=DECIMAL} and 
    </if>
    <if test="monthlyprofitabc != null">
      monthlyprofitabc = #{monthlyprofitabc,jdbcType=VARCHAR} and 
    </if>
    <if test="fprofitabc != null">
      fprofitabc = #{fprofitabc,jdbcType=VARCHAR} and 
    </if>
    <if test="turnoverday != null">
      turnoverday = #{turnoverday,jdbcType=DECIMAL} and 
    </if>
    <if test="monthprofits != null">
      monthprofits = #{monthprofits,jdbcType=DECIMAL} and 
    </if>
    <if test="refundrate != null">
      refundrate = #{refundrate,jdbcType=DECIMAL} and 
    </if>
    <if test="monthclassprofit != null">
      monthclassprofit = #{monthclassprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="changeamount != null">
      changeamount = #{changeamount,jdbcType=DECIMAL} and 
    </if>
    <if test="literratio != null">
      literratio = #{literratio,jdbcType=DECIMAL} and 
    </if>
    <if test="classcontributionratio != null">
      classcontributionratio = #{classcontributionratio,jdbcType=DECIMAL} and 
    </if>
    <if test="monthrefundrate != null">
      monthrefundrate = #{monthrefundrate,jdbcType=DECIMAL} and 
    </if>
    <if test="historyavgprofitratio != null">
      historyavgprofitratio = #{historyavgprofitratio,jdbcType=DECIMAL} and 
    </if>
    <if test="historyavgprofit != null">
      historyavgprofit = #{historyavgprofit,jdbcType=DECIMAL} and 
    </if>
    <if test="historynetprofitamount != null">
      historynetprofitamount = #{historynetprofitamount,jdbcType=DECIMAL} and 
    </if>
    <if test="volumeweight != null">
      volumeweight = #{volumeweight,jdbcType=DECIMAL} and 
    </if>
    <if test="gst != null">
      gst = #{gst,jdbcType=DECIMAL} and 
    </if>
    <if test="tariff != null">
      tariff = #{tariff,jdbcType=DECIMAL} and 
    </if>
    <if test="savenumstatus != null">
      savenumstatus = #{savenumstatus,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="histprofit != null">
      histprofit = #{histprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="profitt != null">
      profitt = #{profitt,jdbcType=DECIMAL} , 
    </if>
    <if test="profits != null">
      profits = #{profits,jdbcType=DECIMAL} , 
    </if>
    <if test="allordernum != null">
      allordernum = #{allordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="todayordernum != null">
      todayordernum = #{todayordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="onpassagepurchase != null">
      onpassagepurchase = #{onpassagepurchase,jdbcType=DECIMAL} , 
    </if>
    <if test="ooslevel != null">
      ooslevel = #{ooslevel,jdbcType=DECIMAL} , 
    </if>
    <if test="rateofpin != null">
      rateofpin = #{rateofpin,jdbcType=DECIMAL} , 
    </if>
    <if test="savenum != null">
      savenum = #{savenum,jdbcType=DECIMAL} , 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="alertday != null">
      alertday = #{alertday,jdbcType=DECIMAL} , 
    </if>
    <if test="alertnum != null">
      alertnum = #{alertnum,jdbcType=DECIMAL} , 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="todaysavenum != null">
      todaysavenum = #{todaysavenum,jdbcType=DECIMAL} , 
    </if>
    <if test="singledaysales != null">
      singledaysales = #{singledaysales,jdbcType=DECIMAL} , 
    </if>
    <if test="dielibrarycoefficient != null">
      dielibrarycoefficient = #{dielibrarycoefficient,jdbcType=DECIMAL} , 
    </if>
    <if test="todayoutsavenum != null">
      todayoutsavenum = #{todayoutsavenum,jdbcType=DECIMAL} , 
    </if>
    <if test="minpurchasenum != null">
      minpurchasenum = #{minpurchasenum,jdbcType=DECIMAL} , 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="location != null">
      location = #{location,jdbcType=VARCHAR} , 
    </if>
    <if test="storngid != null">
      storngid = #{storngid,jdbcType=VARCHAR} , 
    </if>
    <if test="strong != null">
      strong = #{strong,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} , 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} , 
    </if>
    <if test="oper3 != null">
      oper3 = #{oper3,jdbcType=VARCHAR} , 
    </if>
    <if test="oper4 != null">
      oper4 = #{oper4,jdbcType=VARCHAR} , 
    </if>
    <if test="oper5 != null">
      oper5 = #{oper5,jdbcType=VARCHAR} , 
    </if>
    <if test="menufunctoryid != null">
      menufunctoryid = #{menufunctoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="menufunctory != null">
      menufunctory = #{menufunctory,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="histpavgrofit != null">
      histpavgrofit = #{histpavgrofit,jdbcType=DECIMAL} , 
    </if>
    <if test="gstprice != null">
      gstprice = #{gstprice,jdbcType=DECIMAL} , 
    </if>
    <if test="oceanshipprice != null">
      oceanshipprice = #{oceanshipprice,jdbcType=DECIMAL} , 
    </if>
    <if test="fobprice != null">
      fobprice = #{fobprice,jdbcType=DECIMAL} , 
    </if>
    <if test="cifprice != null">
      cifprice = #{cifprice,jdbcType=DECIMAL} , 
    </if>
    <if test="expressprice != null">
      expressprice = #{expressprice,jdbcType=DECIMAL} , 
    </if>
    <if test="profit != null">
      profit = #{profit,jdbcType=DECIMAL} , 
    </if>
    <if test="bidprofit != null">
      bidprofit = #{bidprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="fixedprofit != null">
      fixedprofit = #{fixedprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="bidebayprice != null">
      bidebayprice = #{bidebayprice,jdbcType=DECIMAL} , 
    </if>
    <if test="fixedebayprice != null">
      fixedebayprice = #{fixedebayprice,jdbcType=DECIMAL} , 
    </if>
    <if test="bidnum != null">
      bidnum = #{bidnum,jdbcType=DECIMAL} , 
    </if>
    <if test="storerent != null">
      storerent = #{storerent,jdbcType=DECIMAL} , 
    </if>
    <if test="allpurchasenum != null">
      allpurchasenum = #{allpurchasenum,jdbcType=DECIMAL} , 
    </if>
    <if test="manufacturequote != null">
      manufacturequote = #{manufacturequote,jdbcType=DECIMAL} , 
    </if>
    <if test="tariffprice != null">
      tariffprice = #{tariffprice,jdbcType=DECIMAL} , 
    </if>
    <if test="paypalprice != null">
      paypalprice = #{paypalprice,jdbcType=DECIMAL} , 
    </if>
    <if test="aliasku != null">
      aliasku = #{aliasku,jdbcType=VARCHAR} , 
    </if>
    <if test="volume != null">
      volume = #{volume,jdbcType=DECIMAL} , 
    </if>
    <if test="sizes != null">
      sizes = #{sizes,jdbcType=VARCHAR} , 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="length != null">
      length = #{length,jdbcType=DECIMAL} , 
    </if>
    <if test="width != null">
      width = #{width,jdbcType=DECIMAL} , 
    </if>
    <if test="high != null">
      high = #{high,jdbcType=DECIMAL} , 
    </if>
    <if test="sales7 != null">
      sales7 = #{sales7,jdbcType=DECIMAL} , 
    </if>
    <if test="sales30 != null">
      sales30 = #{sales30,jdbcType=DECIMAL} , 
    </if>
    <if test="sales90 != null">
      sales90 = #{sales90,jdbcType=DECIMAL} , 
    </if>
    <if test="outerlevel != null">
      outerlevel = #{outerlevel,jdbcType=VARCHAR} , 
    </if>
    <if test="dhnumber != null">
      dhnumber = #{dhnumber,jdbcType=DECIMAL} , 
    </if>
    <if test="mainsku != null">
      mainsku = #{mainsku,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayprice != null">
      ebayprice = #{ebayprice,jdbcType=DECIMAL} , 
    </if>
    <if test="bidavgprice != null">
      bidavgprice = #{bidavgprice,jdbcType=DECIMAL} , 
    </if>
    <if test="bidturnoverrate != null">
      bidturnoverrate = #{bidturnoverrate,jdbcType=DECIMAL} , 
    </if>
    <if test="bidtotalprice != null">
      bidtotalprice = #{bidtotalprice,jdbcType=DECIMAL} , 
    </if>
    <if test="bid7day != null">
      bid7day = #{bid7day,jdbcType=DECIMAL} , 
    </if>
    <if test="bid30day != null">
      bid30day = #{bid30day,jdbcType=DECIMAL} , 
    </if>
    <if test="bid60day != null">
      bid60day = #{bid60day,jdbcType=DECIMAL} , 
    </if>
    <if test="historysavenum != null">
      historysavenum = #{historysavenum,jdbcType=DECIMAL} , 
    </if>
    <if test="historycifprice != null">
      historycifprice = #{historycifprice,jdbcType=DECIMAL} , 
    </if>
    <if test="historyprofitamount != null">
      historyprofitamount = #{historyprofitamount,jdbcType=DECIMAL} , 
    </if>
    <if test="classprofit != null">
      classprofit = #{classprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="productcontributions != null">
      productcontributions = #{productcontributions,jdbcType=DECIMAL} , 
    </if>
    <if test="monthlyprofitabc != null">
      monthlyprofitabc = #{monthlyprofitabc,jdbcType=VARCHAR} , 
    </if>
    <if test="fprofitabc != null">
      fprofitabc = #{fprofitabc,jdbcType=VARCHAR} , 
    </if>
    <if test="turnoverday != null">
      turnoverday = #{turnoverday,jdbcType=DECIMAL} , 
    </if>
    <if test="monthprofits != null">
      monthprofits = #{monthprofits,jdbcType=DECIMAL} , 
    </if>
    <if test="refundrate != null">
      refundrate = #{refundrate,jdbcType=DECIMAL} , 
    </if>
    <if test="monthclassprofit != null">
      monthclassprofit = #{monthclassprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="changeamount != null">
      changeamount = #{changeamount,jdbcType=DECIMAL} , 
    </if>
    <if test="literratio != null">
      literratio = #{literratio,jdbcType=DECIMAL} , 
    </if>
    <if test="classcontributionratio != null">
      classcontributionratio = #{classcontributionratio,jdbcType=DECIMAL} , 
    </if>
    <if test="monthrefundrate != null">
      monthrefundrate = #{monthrefundrate,jdbcType=DECIMAL} , 
    </if>
    <if test="historyavgprofitratio != null">
      historyavgprofitratio = #{historyavgprofitratio,jdbcType=DECIMAL} , 
    </if>
    <if test="historyavgprofit != null">
      historyavgprofit = #{historyavgprofit,jdbcType=DECIMAL} , 
    </if>
    <if test="historynetprofitamount != null">
      historynetprofitamount = #{historynetprofitamount,jdbcType=DECIMAL} , 
    </if>
    <if test="volumeweight != null">
      volumeweight = #{volumeweight,jdbcType=DECIMAL} , 
    </if>
    <if test="gst != null">
      gst = #{gst,jdbcType=DECIMAL} , 
    </if>
    <if test="tariff != null">
      tariff = #{tariff,jdbcType=DECIMAL} , 
    </if>
    <if test="savenumstatus != null">
      savenumstatus = #{savenumstatus,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductHistory2" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductHistory2">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductHistory2">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductHistory2">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>