<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductfortitleMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductfortitle">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
    <result column="ONLINENUM" jdbcType="DECIMAL" property="onlinenum" />
    <result column="SELLNUM" jdbcType="DECIMAL" property="sellnum" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="OPERFLAG" jdbcType="VARCHAR" property="operflag" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, LANGUAGE, ONLINENUM, SELLNUM, OPER, OPERTIME, CREATETIME, 
    CORPID, OPERFLAG, TITLE, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, RESERVE9
    from DB_PRODUCTFORTITLE
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, LANGUAGE, ONLINENUM, SELLNUM, OPER, OPERTIME, CREATETIME, 
    CORPID, OPERFLAG, TITLE, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8, RESERVE9
    from DB_PRODUCTFORTITLE
  </select>
  <sql id="TableName">
    DB_PRODUCTFORTITLE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{sellsku,jdbcType=VARCHAR} , 
     #{language,jdbcType=VARCHAR} , 
     #{onlinenum,jdbcType=DECIMAL} , 
     #{sellnum,jdbcType=DECIMAL} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{operflag,jdbcType=VARCHAR} , 
     #{title,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SELLSKU , 
    LANGUAGE , 
    ONLINENUM , 
    SELLNUM , 
    OPER , 
    OPERTIME , 
    CREATETIME , 
    CORPID , 
    OPERFLAG , 
    TITLE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="sellsku != null">
      sellsku = #{sellsku,jdbcType=VARCHAR} and 
    </if>
    <if test="language != null">
      language = #{language,jdbcType=VARCHAR} and 
    </if>
    <if test="onlinenum != null">
      onlinenum = #{onlinenum,jdbcType=DECIMAL} and 
    </if>
    <if test="sellnum != null">
      sellnum = #{sellnum,jdbcType=DECIMAL} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="operflag != null">
      operflag = #{operflag,jdbcType=VARCHAR} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="sellsku != null">
      sellsku = #{sellsku,jdbcType=VARCHAR} , 
    </if>
    <if test="language != null">
      language = #{language,jdbcType=VARCHAR} , 
    </if>
    <if test="onlinenum != null">
      onlinenum = #{onlinenum,jdbcType=DECIMAL} , 
    </if>
    <if test="sellnum != null">
      sellnum = #{sellnum,jdbcType=DECIMAL} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="operflag != null">
      operflag = #{operflag,jdbcType=VARCHAR} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductfortitle" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductfortitle">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductfortitle">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductfortitle">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>