<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductforsellMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductforsell">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="TIMESTAMP" property="reserve8" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="NUMFORSKU" jdbcType="DECIMAL" property="numforsku" />
    <result column="NUMFORONLINEITEM" jdbcType="DECIMAL" property="numforonlineitem" />
    <result column="SODEFORONLINEITEM" jdbcType="DECIMAL" property="sodeforonlineitem" />
    <result column="NUMFORONLINESHOP" jdbcType="DECIMAL" property="numforonlineshop" />
    <result column="NUMFORSHOP" jdbcType="DECIMAL" property="numforshop" />
    <result column="NUMFORDESCR" jdbcType="DECIMAL" property="numfordescr" />
    <result column="ONEWEEKNUM" jdbcType="DECIMAL" property="oneweeknum" />
    <result column="TWOWEEKNUM" jdbcType="DECIMAL" property="twoweeknum" />
    <result column="THREEWEEKNUM" jdbcType="DECIMAL" property="threeweeknum" />
    <result column="FOURWEEKNUM" jdbcType="DECIMAL" property="fourweeknum" />
    <result column="US" jdbcType="VARCHAR" property="us" />
    <result column="AU" jdbcType="VARCHAR" property="au" />
    <result column="UK" jdbcType="VARCHAR" property="uk" />
    <result column="CA" jdbcType="VARCHAR" property="ca" />
    <result column="DE" jdbcType="VARCHAR" property="de" />
    <result column="DESCRFLAG" jdbcType="VARCHAR" property="descrflag" />
    <result column="PHOTOFLAG" jdbcType="VARCHAR" property="photoflag" />
    <result column="STATUS1" jdbcType="VARCHAR" property="status1" />
    <result column="ATTRIBUTE" jdbcType="VARCHAR" property="attribute" />
    <result column="ONESTAGE" jdbcType="VARCHAR" property="onestage" />
    <result column="TWOSTAGE" jdbcType="VARCHAR" property="twostage" />
    <result column="AVGNUM" jdbcType="DECIMAL" property="avgnum" />
    <result column="ONEMONTH" jdbcType="VARCHAR" property="onemonth" />
    <result column="NEWSALL" jdbcType="DECIMAL" property="newsall" />
    <result column="NEWS" jdbcType="DECIMAL" property="news" />
    <result column="TASKNUM" jdbcType="DECIMAL" property="tasknum" />
    <result column="SEASONFLAG" jdbcType="VARCHAR" property="seasonflag" />
    <result column="RESERVE12" jdbcType="DECIMAL" property="reserve12" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="RESERVE11" jdbcType="DECIMAL" property="reserve11" />
    <result column="EXPRESSTYPE1" jdbcType="VARCHAR" property="expresstype1" />
    <result column="EXPRESSTYPE2" jdbcType="VARCHAR" property="expresstype2" />
    <result column="EXPRESSTYPE3" jdbcType="VARCHAR" property="expresstype3" />
    <result column="EXPRESSTYPE4" jdbcType="VARCHAR" property="expresstype4" />
    <result column="EXPRESSTYPE5" jdbcType="VARCHAR" property="expresstype5" />
    <result column="MAOLI" jdbcType="DECIMAL" property="maoli" />
    <result column="RESERVE13" jdbcType="DECIMAL" property="reserve13" />
    <result column="RESERVE14" jdbcType="DECIMAL" property="reserve14" />
    <result column="GROSSPROFIT" jdbcType="DECIMAL" property="grossprofit" />
    <result column="RATEOFMARGIN" jdbcType="DECIMAL" property="rateofmargin" />
    <result column="USITEMID" jdbcType="VARCHAR" property="usitemid" />
    <result column="UKITEMID" jdbcType="VARCHAR" property="ukitemid" />
    <result column="AUITEMID" jdbcType="VARCHAR" property="auitemid" />
    <result column="CAITEMID" jdbcType="VARCHAR" property="caitemid" />
    <result column="DEITEMID" jdbcType="VARCHAR" property="deitemid" />
    <result column="PICTUREID" jdbcType="VARCHAR" property="pictureid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProductforsell">
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="ENNAME" jdbcType="LONGVARCHAR" property="enname" />
    <result column="TITLE" jdbcType="LONGVARCHAR" property="title" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="CATEGORYNAME" jdbcType="LONGVARCHAR" property="categoryname" />
    <result column="PICTURESTR" jdbcType="LONGVARCHAR" property="picturestr" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, SELLSKU, OPER, OPERTIME, OPENFLAG, CORPID, RESERVE2, RESERVE4, RESERVE5, 
    RESERVE6, RESERVE7, RESERVE8, CREATETIME, 'STATUS', CATEGORYID, SELLOPER, PURCHASEOPER, 
    NUMFORSKU, NUMFORONLINEITEM, SODEFORONLINEITEM, NUMFORONLINESHOP, NUMFORSHOP, NUMFORDESCR, 
    ONEWEEKNUM, TWOWEEKNUM, THREEWEEKNUM, FOURWEEKNUM, US, AU, UK, CA, DE, DESCRFLAG, 
    PHOTOFLAG, STATUS1, 'ATTRIBUTE', ONESTAGE, TWOSTAGE, AVGNUM, ONEMONTH, NEWSALL, NEWS, 
    TASKNUM, SEASONFLAG, RESERVE12, RESERVE9, RESERVE10, RESERVE11, EXPRESSTYPE1, EXPRESSTYPE2, 
    EXPRESSTYPE3, EXPRESSTYPE4, EXPRESSTYPE5, MAOLI, RESERVE13, RESERVE14, GROSSPROFIT, 
    RATEOFMARGIN, USITEMID, UKITEMID, AUITEMID, CAITEMID, DEITEMID, PICTUREID
  </sql>
  <sql id="Blob_Column_List">
    'NAME', ENNAME, TITLE, RESERVE1, RESERVE3, CATEGORYNAME, PICTURESTR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_productforsell
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_productforsell
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductforsell">
    insert into db_productforsell (SEQUENCEID, SELLSKU, OPER, 
      OPERTIME, OPENFLAG, CORPID, 
      RESERVE2, RESERVE4, RESERVE5, 
      RESERVE6, RESERVE7, RESERVE8, 
      CREATETIME, 'STATUS', CATEGORYID, 
      SELLOPER, PURCHASEOPER, NUMFORSKU, 
      NUMFORONLINEITEM, SODEFORONLINEITEM, NUMFORONLINESHOP, 
      NUMFORSHOP, NUMFORDESCR, ONEWEEKNUM, 
      TWOWEEKNUM, THREEWEEKNUM, FOURWEEKNUM, 
      US, AU, UK, CA, 
      DE, DESCRFLAG, PHOTOFLAG, 
      STATUS1, 'ATTRIBUTE', ONESTAGE, 
      TWOSTAGE, AVGNUM, ONEMONTH, 
      NEWSALL, NEWS, TASKNUM, 
      SEASONFLAG, RESERVE12, RESERVE9, 
      RESERVE10, RESERVE11, EXPRESSTYPE1, 
      EXPRESSTYPE2, EXPRESSTYPE3, EXPRESSTYPE4, 
      EXPRESSTYPE5, MAOLI, RESERVE13, 
      RESERVE14, GROSSPROFIT, RATEOFMARGIN, 
      USITEMID, UKITEMID, AUITEMID, 
      CAITEMID, DEITEMID, PICTUREID, 
      'NAME', ENNAME, TITLE, 
      RESERVE1, RESERVE3, CATEGORYNAME, 
      PICTURESTR)
    values (#{sequenceid,jdbcType=VARCHAR}, #{sellsku,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, 
      #{opertime,jdbcType=TIMESTAMP}, #{openflag,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR}, #{reserve4,jdbcType=DECIMAL}, #{reserve5,jdbcType=DECIMAL}, 
      #{reserve6,jdbcType=DECIMAL}, #{reserve7,jdbcType=DECIMAL}, #{reserve8,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{categoryid,jdbcType=VARCHAR}, 
      #{selloper,jdbcType=VARCHAR}, #{purchaseoper,jdbcType=VARCHAR}, #{numforsku,jdbcType=DECIMAL}, 
      #{numforonlineitem,jdbcType=DECIMAL}, #{sodeforonlineitem,jdbcType=DECIMAL}, #{numforonlineshop,jdbcType=DECIMAL}, 
      #{numforshop,jdbcType=DECIMAL}, #{numfordescr,jdbcType=DECIMAL}, #{oneweeknum,jdbcType=DECIMAL}, 
      #{twoweeknum,jdbcType=DECIMAL}, #{threeweeknum,jdbcType=DECIMAL}, #{fourweeknum,jdbcType=DECIMAL}, 
      #{us,jdbcType=VARCHAR}, #{au,jdbcType=VARCHAR}, #{uk,jdbcType=VARCHAR}, #{ca,jdbcType=VARCHAR}, 
      #{de,jdbcType=VARCHAR}, #{descrflag,jdbcType=VARCHAR}, #{photoflag,jdbcType=VARCHAR}, 
      #{status1,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, #{onestage,jdbcType=VARCHAR}, 
      #{twostage,jdbcType=VARCHAR}, #{avgnum,jdbcType=DECIMAL}, #{onemonth,jdbcType=VARCHAR}, 
      #{newsall,jdbcType=DECIMAL}, #{news,jdbcType=DECIMAL}, #{tasknum,jdbcType=DECIMAL}, 
      #{seasonflag,jdbcType=VARCHAR}, #{reserve12,jdbcType=DECIMAL}, #{reserve9,jdbcType=DECIMAL}, 
      #{reserve10,jdbcType=DECIMAL}, #{reserve11,jdbcType=DECIMAL}, #{expresstype1,jdbcType=VARCHAR}, 
      #{expresstype2,jdbcType=VARCHAR}, #{expresstype3,jdbcType=VARCHAR}, #{expresstype4,jdbcType=VARCHAR}, 
      #{expresstype5,jdbcType=VARCHAR}, #{maoli,jdbcType=DECIMAL}, #{reserve13,jdbcType=DECIMAL}, 
      #{reserve14,jdbcType=DECIMAL}, #{grossprofit,jdbcType=DECIMAL}, #{rateofmargin,jdbcType=DECIMAL}, 
      #{usitemid,jdbcType=VARCHAR}, #{ukitemid,jdbcType=VARCHAR}, #{auitemid,jdbcType=VARCHAR}, 
      #{caitemid,jdbcType=VARCHAR}, #{deitemid,jdbcType=VARCHAR}, #{pictureid,jdbcType=VARCHAR}, 
      #{name,jdbcType=LONGVARCHAR}, #{enname,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, 
      #{reserve1,jdbcType=LONGVARCHAR}, #{reserve3,jdbcType=LONGVARCHAR}, #{categoryname,jdbcType=LONGVARCHAR}, 
      #{picturestr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductforsell">
    insert into db_productforsell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="sellsku != null">
        SELLSKU,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
      <if test="reserve7 != null">
        RESERVE7,
      </if>
      <if test="reserve8 != null">
        RESERVE8,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="status != null">
        'STATUS',
      </if>
      <if test="categoryid != null">
        CATEGORYID,
      </if>
      <if test="selloper != null">
        SELLOPER,
      </if>
      <if test="purchaseoper != null">
        PURCHASEOPER,
      </if>
      <if test="numforsku != null">
        NUMFORSKU,
      </if>
      <if test="numforonlineitem != null">
        NUMFORONLINEITEM,
      </if>
      <if test="sodeforonlineitem != null">
        SODEFORONLINEITEM,
      </if>
      <if test="numforonlineshop != null">
        NUMFORONLINESHOP,
      </if>
      <if test="numforshop != null">
        NUMFORSHOP,
      </if>
      <if test="numfordescr != null">
        NUMFORDESCR,
      </if>
      <if test="oneweeknum != null">
        ONEWEEKNUM,
      </if>
      <if test="twoweeknum != null">
        TWOWEEKNUM,
      </if>
      <if test="threeweeknum != null">
        THREEWEEKNUM,
      </if>
      <if test="fourweeknum != null">
        FOURWEEKNUM,
      </if>
      <if test="us != null">
        US,
      </if>
      <if test="au != null">
        AU,
      </if>
      <if test="uk != null">
        UK,
      </if>
      <if test="ca != null">
        CA,
      </if>
      <if test="de != null">
        DE,
      </if>
      <if test="descrflag != null">
        DESCRFLAG,
      </if>
      <if test="photoflag != null">
        PHOTOFLAG,
      </if>
      <if test="status1 != null">
        STATUS1,
      </if>
      <if test="attribute != null">
        'ATTRIBUTE',
      </if>
      <if test="onestage != null">
        ONESTAGE,
      </if>
      <if test="twostage != null">
        TWOSTAGE,
      </if>
      <if test="avgnum != null">
        AVGNUM,
      </if>
      <if test="onemonth != null">
        ONEMONTH,
      </if>
      <if test="newsall != null">
        NEWSALL,
      </if>
      <if test="news != null">
        NEWS,
      </if>
      <if test="tasknum != null">
        TASKNUM,
      </if>
      <if test="seasonflag != null">
        SEASONFLAG,
      </if>
      <if test="reserve12 != null">
        RESERVE12,
      </if>
      <if test="reserve9 != null">
        RESERVE9,
      </if>
      <if test="reserve10 != null">
        RESERVE10,
      </if>
      <if test="reserve11 != null">
        RESERVE11,
      </if>
      <if test="expresstype1 != null">
        EXPRESSTYPE1,
      </if>
      <if test="expresstype2 != null">
        EXPRESSTYPE2,
      </if>
      <if test="expresstype3 != null">
        EXPRESSTYPE3,
      </if>
      <if test="expresstype4 != null">
        EXPRESSTYPE4,
      </if>
      <if test="expresstype5 != null">
        EXPRESSTYPE5,
      </if>
      <if test="maoli != null">
        MAOLI,
      </if>
      <if test="reserve13 != null">
        RESERVE13,
      </if>
      <if test="reserve14 != null">
        RESERVE14,
      </if>
      <if test="grossprofit != null">
        GROSSPROFIT,
      </if>
      <if test="rateofmargin != null">
        RATEOFMARGIN,
      </if>
      <if test="usitemid != null">
        USITEMID,
      </if>
      <if test="ukitemid != null">
        UKITEMID,
      </if>
      <if test="auitemid != null">
        AUITEMID,
      </if>
      <if test="caitemid != null">
        CAITEMID,
      </if>
      <if test="deitemid != null">
        DEITEMID,
      </if>
      <if test="pictureid != null">
        PICTUREID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="enname != null">
        ENNAME,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="categoryname != null">
        CATEGORYNAME,
      </if>
      <if test="picturestr != null">
        PICTURESTR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="sellsku != null">
        #{sellsku,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        #{reserve8,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="selloper != null">
        #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseoper != null">
        #{purchaseoper,jdbcType=VARCHAR},
      </if>
      <if test="numforsku != null">
        #{numforsku,jdbcType=DECIMAL},
      </if>
      <if test="numforonlineitem != null">
        #{numforonlineitem,jdbcType=DECIMAL},
      </if>
      <if test="sodeforonlineitem != null">
        #{sodeforonlineitem,jdbcType=DECIMAL},
      </if>
      <if test="numforonlineshop != null">
        #{numforonlineshop,jdbcType=DECIMAL},
      </if>
      <if test="numforshop != null">
        #{numforshop,jdbcType=DECIMAL},
      </if>
      <if test="numfordescr != null">
        #{numfordescr,jdbcType=DECIMAL},
      </if>
      <if test="oneweeknum != null">
        #{oneweeknum,jdbcType=DECIMAL},
      </if>
      <if test="twoweeknum != null">
        #{twoweeknum,jdbcType=DECIMAL},
      </if>
      <if test="threeweeknum != null">
        #{threeweeknum,jdbcType=DECIMAL},
      </if>
      <if test="fourweeknum != null">
        #{fourweeknum,jdbcType=DECIMAL},
      </if>
      <if test="us != null">
        #{us,jdbcType=VARCHAR},
      </if>
      <if test="au != null">
        #{au,jdbcType=VARCHAR},
      </if>
      <if test="uk != null">
        #{uk,jdbcType=VARCHAR},
      </if>
      <if test="ca != null">
        #{ca,jdbcType=VARCHAR},
      </if>
      <if test="de != null">
        #{de,jdbcType=VARCHAR},
      </if>
      <if test="descrflag != null">
        #{descrflag,jdbcType=VARCHAR},
      </if>
      <if test="photoflag != null">
        #{photoflag,jdbcType=VARCHAR},
      </if>
      <if test="status1 != null">
        #{status1,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="onestage != null">
        #{onestage,jdbcType=VARCHAR},
      </if>
      <if test="twostage != null">
        #{twostage,jdbcType=VARCHAR},
      </if>
      <if test="avgnum != null">
        #{avgnum,jdbcType=DECIMAL},
      </if>
      <if test="onemonth != null">
        #{onemonth,jdbcType=VARCHAR},
      </if>
      <if test="newsall != null">
        #{newsall,jdbcType=DECIMAL},
      </if>
      <if test="news != null">
        #{news,jdbcType=DECIMAL},
      </if>
      <if test="tasknum != null">
        #{tasknum,jdbcType=DECIMAL},
      </if>
      <if test="seasonflag != null">
        #{seasonflag,jdbcType=VARCHAR},
      </if>
      <if test="reserve12 != null">
        #{reserve12,jdbcType=DECIMAL},
      </if>
      <if test="reserve9 != null">
        #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="reserve10 != null">
        #{reserve10,jdbcType=DECIMAL},
      </if>
      <if test="reserve11 != null">
        #{reserve11,jdbcType=DECIMAL},
      </if>
      <if test="expresstype1 != null">
        #{expresstype1,jdbcType=VARCHAR},
      </if>
      <if test="expresstype2 != null">
        #{expresstype2,jdbcType=VARCHAR},
      </if>
      <if test="expresstype3 != null">
        #{expresstype3,jdbcType=VARCHAR},
      </if>
      <if test="expresstype4 != null">
        #{expresstype4,jdbcType=VARCHAR},
      </if>
      <if test="expresstype5 != null">
        #{expresstype5,jdbcType=VARCHAR},
      </if>
      <if test="maoli != null">
        #{maoli,jdbcType=DECIMAL},
      </if>
      <if test="reserve13 != null">
        #{reserve13,jdbcType=DECIMAL},
      </if>
      <if test="reserve14 != null">
        #{reserve14,jdbcType=DECIMAL},
      </if>
      <if test="grossprofit != null">
        #{grossprofit,jdbcType=DECIMAL},
      </if>
      <if test="rateofmargin != null">
        #{rateofmargin,jdbcType=DECIMAL},
      </if>
      <if test="usitemid != null">
        #{usitemid,jdbcType=VARCHAR},
      </if>
      <if test="ukitemid != null">
        #{ukitemid,jdbcType=VARCHAR},
      </if>
      <if test="auitemid != null">
        #{auitemid,jdbcType=VARCHAR},
      </if>
      <if test="caitemid != null">
        #{caitemid,jdbcType=VARCHAR},
      </if>
      <if test="deitemid != null">
        #{deitemid,jdbcType=VARCHAR},
      </if>
      <if test="pictureid != null">
        #{pictureid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="enname != null">
        #{enname,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryname != null">
        #{categoryname,jdbcType=LONGVARCHAR},
      </if>
      <if test="picturestr != null">
        #{picturestr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductforsell">
    update db_productforsell
    <set>
      <if test="sellsku != null">
        SELLSKU = #{sellsku,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        RESERVE8 = #{reserve8,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        'STATUS' = #{status,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="selloper != null">
        SELLOPER = #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseoper != null">
        PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      </if>
      <if test="numforsku != null">
        NUMFORSKU = #{numforsku,jdbcType=DECIMAL},
      </if>
      <if test="numforonlineitem != null">
        NUMFORONLINEITEM = #{numforonlineitem,jdbcType=DECIMAL},
      </if>
      <if test="sodeforonlineitem != null">
        SODEFORONLINEITEM = #{sodeforonlineitem,jdbcType=DECIMAL},
      </if>
      <if test="numforonlineshop != null">
        NUMFORONLINESHOP = #{numforonlineshop,jdbcType=DECIMAL},
      </if>
      <if test="numforshop != null">
        NUMFORSHOP = #{numforshop,jdbcType=DECIMAL},
      </if>
      <if test="numfordescr != null">
        NUMFORDESCR = #{numfordescr,jdbcType=DECIMAL},
      </if>
      <if test="oneweeknum != null">
        ONEWEEKNUM = #{oneweeknum,jdbcType=DECIMAL},
      </if>
      <if test="twoweeknum != null">
        TWOWEEKNUM = #{twoweeknum,jdbcType=DECIMAL},
      </if>
      <if test="threeweeknum != null">
        THREEWEEKNUM = #{threeweeknum,jdbcType=DECIMAL},
      </if>
      <if test="fourweeknum != null">
        FOURWEEKNUM = #{fourweeknum,jdbcType=DECIMAL},
      </if>
      <if test="us != null">
        US = #{us,jdbcType=VARCHAR},
      </if>
      <if test="au != null">
        AU = #{au,jdbcType=VARCHAR},
      </if>
      <if test="uk != null">
        UK = #{uk,jdbcType=VARCHAR},
      </if>
      <if test="ca != null">
        CA = #{ca,jdbcType=VARCHAR},
      </if>
      <if test="de != null">
        DE = #{de,jdbcType=VARCHAR},
      </if>
      <if test="descrflag != null">
        DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      </if>
      <if test="photoflag != null">
        PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      </if>
      <if test="status1 != null">
        STATUS1 = #{status1,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        'ATTRIBUTE' = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="onestage != null">
        ONESTAGE = #{onestage,jdbcType=VARCHAR},
      </if>
      <if test="twostage != null">
        TWOSTAGE = #{twostage,jdbcType=VARCHAR},
      </if>
      <if test="avgnum != null">
        AVGNUM = #{avgnum,jdbcType=DECIMAL},
      </if>
      <if test="onemonth != null">
        ONEMONTH = #{onemonth,jdbcType=VARCHAR},
      </if>
      <if test="newsall != null">
        NEWSALL = #{newsall,jdbcType=DECIMAL},
      </if>
      <if test="news != null">
        NEWS = #{news,jdbcType=DECIMAL},
      </if>
      <if test="tasknum != null">
        TASKNUM = #{tasknum,jdbcType=DECIMAL},
      </if>
      <if test="seasonflag != null">
        SEASONFLAG = #{seasonflag,jdbcType=VARCHAR},
      </if>
      <if test="reserve12 != null">
        RESERVE12 = #{reserve12,jdbcType=DECIMAL},
      </if>
      <if test="reserve9 != null">
        RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      </if>
      <if test="reserve10 != null">
        RESERVE10 = #{reserve10,jdbcType=DECIMAL},
      </if>
      <if test="reserve11 != null">
        RESERVE11 = #{reserve11,jdbcType=DECIMAL},
      </if>
      <if test="expresstype1 != null">
        EXPRESSTYPE1 = #{expresstype1,jdbcType=VARCHAR},
      </if>
      <if test="expresstype2 != null">
        EXPRESSTYPE2 = #{expresstype2,jdbcType=VARCHAR},
      </if>
      <if test="expresstype3 != null">
        EXPRESSTYPE3 = #{expresstype3,jdbcType=VARCHAR},
      </if>
      <if test="expresstype4 != null">
        EXPRESSTYPE4 = #{expresstype4,jdbcType=VARCHAR},
      </if>
      <if test="expresstype5 != null">
        EXPRESSTYPE5 = #{expresstype5,jdbcType=VARCHAR},
      </if>
      <if test="maoli != null">
        MAOLI = #{maoli,jdbcType=DECIMAL},
      </if>
      <if test="reserve13 != null">
        RESERVE13 = #{reserve13,jdbcType=DECIMAL},
      </if>
      <if test="reserve14 != null">
        RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      </if>
      <if test="grossprofit != null">
        GROSSPROFIT = #{grossprofit,jdbcType=DECIMAL},
      </if>
      <if test="rateofmargin != null">
        RATEOFMARGIN = #{rateofmargin,jdbcType=DECIMAL},
      </if>
      <if test="usitemid != null">
        USITEMID = #{usitemid,jdbcType=VARCHAR},
      </if>
      <if test="ukitemid != null">
        UKITEMID = #{ukitemid,jdbcType=VARCHAR},
      </if>
      <if test="auitemid != null">
        AUITEMID = #{auitemid,jdbcType=VARCHAR},
      </if>
      <if test="caitemid != null">
        CAITEMID = #{caitemid,jdbcType=VARCHAR},
      </if>
      <if test="deitemid != null">
        DEITEMID = #{deitemid,jdbcType=VARCHAR},
      </if>
      <if test="pictureid != null">
        PICTUREID = #{pictureid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="enname != null">
        ENNAME = #{enname,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryname != null">
        CATEGORYNAME = #{categoryname,jdbcType=LONGVARCHAR},
      </if>
      <if test="picturestr != null">
        PICTURESTR = #{picturestr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProductforsell">
    update db_productforsell
    set SELLSKU = #{sellsku,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      'STATUS' = #{status,jdbcType=VARCHAR},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      NUMFORSKU = #{numforsku,jdbcType=DECIMAL},
      NUMFORONLINEITEM = #{numforonlineitem,jdbcType=DECIMAL},
      SODEFORONLINEITEM = #{sodeforonlineitem,jdbcType=DECIMAL},
      NUMFORONLINESHOP = #{numforonlineshop,jdbcType=DECIMAL},
      NUMFORSHOP = #{numforshop,jdbcType=DECIMAL},
      NUMFORDESCR = #{numfordescr,jdbcType=DECIMAL},
      ONEWEEKNUM = #{oneweeknum,jdbcType=DECIMAL},
      TWOWEEKNUM = #{twoweeknum,jdbcType=DECIMAL},
      THREEWEEKNUM = #{threeweeknum,jdbcType=DECIMAL},
      FOURWEEKNUM = #{fourweeknum,jdbcType=DECIMAL},
      US = #{us,jdbcType=VARCHAR},
      AU = #{au,jdbcType=VARCHAR},
      UK = #{uk,jdbcType=VARCHAR},
      CA = #{ca,jdbcType=VARCHAR},
      DE = #{de,jdbcType=VARCHAR},
      DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      STATUS1 = #{status1,jdbcType=VARCHAR},
      'ATTRIBUTE' = #{attribute,jdbcType=VARCHAR},
      ONESTAGE = #{onestage,jdbcType=VARCHAR},
      TWOSTAGE = #{twostage,jdbcType=VARCHAR},
      AVGNUM = #{avgnum,jdbcType=DECIMAL},
      ONEMONTH = #{onemonth,jdbcType=VARCHAR},
      NEWSALL = #{newsall,jdbcType=DECIMAL},
      NEWS = #{news,jdbcType=DECIMAL},
      TASKNUM = #{tasknum,jdbcType=DECIMAL},
      SEASONFLAG = #{seasonflag,jdbcType=VARCHAR},
      RESERVE12 = #{reserve12,jdbcType=DECIMAL},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      RESERVE10 = #{reserve10,jdbcType=DECIMAL},
      RESERVE11 = #{reserve11,jdbcType=DECIMAL},
      EXPRESSTYPE1 = #{expresstype1,jdbcType=VARCHAR},
      EXPRESSTYPE2 = #{expresstype2,jdbcType=VARCHAR},
      EXPRESSTYPE3 = #{expresstype3,jdbcType=VARCHAR},
      EXPRESSTYPE4 = #{expresstype4,jdbcType=VARCHAR},
      EXPRESSTYPE5 = #{expresstype5,jdbcType=VARCHAR},
      MAOLI = #{maoli,jdbcType=DECIMAL},
      RESERVE13 = #{reserve13,jdbcType=DECIMAL},
      RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      GROSSPROFIT = #{grossprofit,jdbcType=DECIMAL},
      RATEOFMARGIN = #{rateofmargin,jdbcType=DECIMAL},
      USITEMID = #{usitemid,jdbcType=VARCHAR},
      UKITEMID = #{ukitemid,jdbcType=VARCHAR},
      AUITEMID = #{auitemid,jdbcType=VARCHAR},
      CAITEMID = #{caitemid,jdbcType=VARCHAR},
      DEITEMID = #{deitemid,jdbcType=VARCHAR},
      PICTUREID = #{pictureid,jdbcType=VARCHAR},
      'NAME' = #{name,jdbcType=LONGVARCHAR},
      ENNAME = #{enname,jdbcType=LONGVARCHAR},
      TITLE = #{title,jdbcType=LONGVARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      CATEGORYNAME = #{categoryname,jdbcType=LONGVARCHAR},
      PICTURESTR = #{picturestr,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductforsell">
    update db_productforsell
    set SELLSKU = #{sellsku,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      CORPID = #{corpid,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      RESERVE5 = #{reserve5,jdbcType=DECIMAL},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      'STATUS' = #{status,jdbcType=VARCHAR},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      NUMFORSKU = #{numforsku,jdbcType=DECIMAL},
      NUMFORONLINEITEM = #{numforonlineitem,jdbcType=DECIMAL},
      SODEFORONLINEITEM = #{sodeforonlineitem,jdbcType=DECIMAL},
      NUMFORONLINESHOP = #{numforonlineshop,jdbcType=DECIMAL},
      NUMFORSHOP = #{numforshop,jdbcType=DECIMAL},
      NUMFORDESCR = #{numfordescr,jdbcType=DECIMAL},
      ONEWEEKNUM = #{oneweeknum,jdbcType=DECIMAL},
      TWOWEEKNUM = #{twoweeknum,jdbcType=DECIMAL},
      THREEWEEKNUM = #{threeweeknum,jdbcType=DECIMAL},
      FOURWEEKNUM = #{fourweeknum,jdbcType=DECIMAL},
      US = #{us,jdbcType=VARCHAR},
      AU = #{au,jdbcType=VARCHAR},
      UK = #{uk,jdbcType=VARCHAR},
      CA = #{ca,jdbcType=VARCHAR},
      DE = #{de,jdbcType=VARCHAR},
      DESCRFLAG = #{descrflag,jdbcType=VARCHAR},
      PHOTOFLAG = #{photoflag,jdbcType=VARCHAR},
      STATUS1 = #{status1,jdbcType=VARCHAR},
      'ATTRIBUTE' = #{attribute,jdbcType=VARCHAR},
      ONESTAGE = #{onestage,jdbcType=VARCHAR},
      TWOSTAGE = #{twostage,jdbcType=VARCHAR},
      AVGNUM = #{avgnum,jdbcType=DECIMAL},
      ONEMONTH = #{onemonth,jdbcType=VARCHAR},
      NEWSALL = #{newsall,jdbcType=DECIMAL},
      NEWS = #{news,jdbcType=DECIMAL},
      TASKNUM = #{tasknum,jdbcType=DECIMAL},
      SEASONFLAG = #{seasonflag,jdbcType=VARCHAR},
      RESERVE12 = #{reserve12,jdbcType=DECIMAL},
      RESERVE9 = #{reserve9,jdbcType=DECIMAL},
      RESERVE10 = #{reserve10,jdbcType=DECIMAL},
      RESERVE11 = #{reserve11,jdbcType=DECIMAL},
      EXPRESSTYPE1 = #{expresstype1,jdbcType=VARCHAR},
      EXPRESSTYPE2 = #{expresstype2,jdbcType=VARCHAR},
      EXPRESSTYPE3 = #{expresstype3,jdbcType=VARCHAR},
      EXPRESSTYPE4 = #{expresstype4,jdbcType=VARCHAR},
      EXPRESSTYPE5 = #{expresstype5,jdbcType=VARCHAR},
      MAOLI = #{maoli,jdbcType=DECIMAL},
      RESERVE13 = #{reserve13,jdbcType=DECIMAL},
      RESERVE14 = #{reserve14,jdbcType=DECIMAL},
      GROSSPROFIT = #{grossprofit,jdbcType=DECIMAL},
      RATEOFMARGIN = #{rateofmargin,jdbcType=DECIMAL},
      USITEMID = #{usitemid,jdbcType=VARCHAR},
      UKITEMID = #{ukitemid,jdbcType=VARCHAR},
      AUITEMID = #{auitemid,jdbcType=VARCHAR},
      CAITEMID = #{caitemid,jdbcType=VARCHAR},
      DEITEMID = #{deitemid,jdbcType=VARCHAR},
      PICTUREID = #{pictureid,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>