<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductcontentMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductcontent">
    <id column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProductcontent">
    <result column="CLOBCONTENT" jdbcType="LONGVARCHAR" property="clobcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    PRODUCTID
  </sql>
  <sql id="Blob_Column_List">
    CLOBCONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_productcontent
    where PRODUCTID = #{productid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_productcontent
    where PRODUCTID = #{productid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductcontent">
    insert into db_productcontent (PRODUCTID, CLOBCONTENT)
    values (#{productid,jdbcType=VARCHAR}, #{clobcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductcontent">
    insert into db_productcontent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="clobcontent != null">
        CLOBCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="clobcontent != null">
        #{clobcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductcontent">
    update db_productcontent
    <set>
      <if test="clobcontent != null">
        CLOBCONTENT = #{clobcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PRODUCTID = #{productid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProductcontent">
    update db_productcontent
    set CLOBCONTENT = #{clobcontent,jdbcType=LONGVARCHAR}
    where PRODUCTID = #{productid,jdbcType=VARCHAR}
  </update>
</mapper>