<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductdevelopforsonMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductdevelopforson">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="FATHINDEXID" jdbcType="VARCHAR" property="fathindexid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="SAVENUM" jdbcType="DECIMAL" property="savenum" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="MANUFACTURENAME" jdbcType="VARCHAR" property="manufacturename" />
    <result column="QUOTE" jdbcType="DECIMAL" property="quote" />
    <result column="MINNUM" jdbcType="DECIMAL" property="minnum" />
    <result column="CHASEOPER" jdbcType="VARCHAR" property="chaseoper" />
    <result column="RESERVE3" jdbcType="DECIMAL" property="reserve3" />
    <result column="RESERVE4" jdbcType="DECIMAL" property="reserve4" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="VARCHAR" property="reserve6" />
    <result column="RESERVE7" jdbcType="VARCHAR" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProductdevelopforson">
    <result column="NAME" jdbcType="LONGVARCHAR" property="name" />
    <result column="ENNAME" jdbcType="LONGVARCHAR" property="enname" />
    <result column="PHOTOURL" jdbcType="LONGVARCHAR" property="photourl" />
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="TITLE" jdbcType="LONGVARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, FATHINDEXID, PRODUCTID, SAVENUM, SELLPRICE, COSTPRICE, WEIGHT, CATEGORYID, 
    CATEGORYNAME, MANUFACTUREID, MANUFACTURENAME, 'QUOTE', MINNUM, CHASEOPER, RESERVE3, 
    RESERVE4, OPENFLAG, FLAG, OPER, OPERTIME, CORPID, MONEYTYPE, RESERVE5, RESERVE6, 
    RESERVE7, RESERVE8
  </sql>
  <sql id="Blob_Column_List">
    'NAME', ENNAME, PHOTOURL, RESERVE1, RESERVE2, TITLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_productdevelopforson
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_productdevelopforson
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductdevelopforson">
    insert into db_productdevelopforson (SEQUENCEID, FATHINDEXID, PRODUCTID, 
      SAVENUM, SELLPRICE, COSTPRICE, 
      WEIGHT, CATEGORYID, CATEGORYNAME, 
      MANUFACTUREID, MANUFACTURENAME, 'QUOTE', 
      MINNUM, CHASEOPER, RESERVE3, 
      RESERVE4, OPENFLAG, FLAG, 
      OPER, OPERTIME, CORPID, 
      MONEYTYPE, RESERVE5, RESERVE6, 
      RESERVE7, RESERVE8, 'NAME', 
      ENNAME, PHOTOURL, RESERVE1, 
      RESERVE2, TITLE)
    values (#{sequenceid,jdbcType=DECIMAL}, #{fathindexid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, 
      #{savenum,jdbcType=DECIMAL}, #{sellprice,jdbcType=DECIMAL}, #{costprice,jdbcType=DECIMAL}, 
      #{weight,jdbcType=DECIMAL}, #{categoryid,jdbcType=VARCHAR}, #{categoryname,jdbcType=VARCHAR}, 
      #{manufactureid,jdbcType=VARCHAR}, #{manufacturename,jdbcType=VARCHAR}, #{quote,jdbcType=DECIMAL}, 
      #{minnum,jdbcType=DECIMAL}, #{chaseoper,jdbcType=VARCHAR}, #{reserve3,jdbcType=DECIMAL}, 
      #{reserve4,jdbcType=DECIMAL}, #{openflag,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, 
      #{moneytype,jdbcType=VARCHAR}, #{reserve5,jdbcType=VARCHAR}, #{reserve6,jdbcType=VARCHAR}, 
      #{reserve7,jdbcType=VARCHAR}, #{reserve8,jdbcType=VARCHAR}, #{name,jdbcType=LONGVARCHAR}, 
      #{enname,jdbcType=LONGVARCHAR}, #{photourl,jdbcType=LONGVARCHAR}, #{reserve1,jdbcType=LONGVARCHAR}, 
      #{reserve2,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductdevelopforson">
    insert into db_productdevelopforson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="fathindexid != null">
        FATHINDEXID,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="savenum != null">
        SAVENUM,
      </if>
      <if test="sellprice != null">
        SELLPRICE,
      </if>
      <if test="costprice != null">
        COSTPRICE,
      </if>
      <if test="weight != null">
        WEIGHT,
      </if>
      <if test="categoryid != null">
        CATEGORYID,
      </if>
      <if test="categoryname != null">
        CATEGORYNAME,
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID,
      </if>
      <if test="manufacturename != null">
        MANUFACTURENAME,
      </if>
      <if test="quote != null">
        'QUOTE',
      </if>
      <if test="minnum != null">
        MINNUM,
      </if>
      <if test="chaseoper != null">
        CHASEOPER,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="moneytype != null">
        MONEYTYPE,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
      <if test="reserve7 != null">
        RESERVE7,
      </if>
      <if test="reserve8 != null">
        RESERVE8,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="enname != null">
        ENNAME,
      </if>
      <if test="photourl != null">
        PHOTOURL,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="title != null">
        TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=DECIMAL},
      </if>
      <if test="fathindexid != null">
        #{fathindexid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="savenum != null">
        #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="sellprice != null">
        #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="categoryname != null">
        #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="manufactureid != null">
        #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="manufacturename != null">
        #{manufacturename,jdbcType=VARCHAR},
      </if>
      <if test="quote != null">
        #{quote,jdbcType=DECIMAL},
      </if>
      <if test="minnum != null">
        #{minnum,jdbcType=DECIMAL},
      </if>
      <if test="chaseoper != null">
        #{chaseoper,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null">
        #{reserve7,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null">
        #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="enname != null">
        #{enname,jdbcType=LONGVARCHAR},
      </if>
      <if test="photourl != null">
        #{photourl,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductdevelopforson">
    update db_productdevelopforson
    <set>
      <if test="fathindexid != null">
        FATHINDEXID = #{fathindexid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="savenum != null">
        SAVENUM = #{savenum,jdbcType=DECIMAL},
      </if>
      <if test="sellprice != null">
        SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        COSTPRICE = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="categoryid != null">
        CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="categoryname != null">
        CATEGORYNAME = #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="manufacturename != null">
        MANUFACTURENAME = #{manufacturename,jdbcType=VARCHAR},
      </if>
      <if test="quote != null">
        'QUOTE' = #{quote,jdbcType=DECIMAL},
      </if>
      <if test="minnum != null">
        MINNUM = #{minnum,jdbcType=DECIMAL},
      </if>
      <if test="chaseoper != null">
        CHASEOPER = #{chaseoper,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=VARCHAR},
      </if>
      <if test="reserve7 != null">
        RESERVE7 = #{reserve7,jdbcType=VARCHAR},
      </if>
      <if test="reserve8 != null">
        RESERVE8 = #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="enname != null">
        ENNAME = #{enname,jdbcType=LONGVARCHAR},
      </if>
      <if test="photourl != null">
        PHOTOURL = #{photourl,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProductdevelopforson">
    update db_productdevelopforson
    set FATHINDEXID = #{fathindexid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      MANUFACTURENAME = #{manufacturename,jdbcType=VARCHAR},
      'QUOTE' = #{quote,jdbcType=DECIMAL},
      MINNUM = #{minnum,jdbcType=DECIMAL},
      CHASEOPER = #{chaseoper,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      RESERVE6 = #{reserve6,jdbcType=VARCHAR},
      RESERVE7 = #{reserve7,jdbcType=VARCHAR},
      RESERVE8 = #{reserve8,jdbcType=VARCHAR},
      'NAME' = #{name,jdbcType=LONGVARCHAR},
      ENNAME = #{enname,jdbcType=LONGVARCHAR},
      PHOTOURL = #{photourl,jdbcType=LONGVARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      TITLE = #{title,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductdevelopforson">
    update db_productdevelopforson
    set FATHINDEXID = #{fathindexid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      SAVENUM = #{savenum,jdbcType=DECIMAL},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      CATEGORYNAME = #{categoryname,jdbcType=VARCHAR},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      MANUFACTURENAME = #{manufacturename,jdbcType=VARCHAR},
      'QUOTE' = #{quote,jdbcType=DECIMAL},
      MINNUM = #{minnum,jdbcType=DECIMAL},
      CHASEOPER = #{chaseoper,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=DECIMAL},
      RESERVE4 = #{reserve4,jdbcType=DECIMAL},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      RESERVE6 = #{reserve6,jdbcType=VARCHAR},
      RESERVE7 = #{reserve7,jdbcType=VARCHAR},
      RESERVE8 = #{reserve8,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </update>
</mapper>