<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductTitleMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductTitle">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="QTY" jdbcType="VARCHAR" property="qty" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="FILED1" jdbcType="VARCHAR" property="filed1" />
    <result column="FILED2" jdbcType="VARCHAR" property="filed2" />
    <result column="FILED3" jdbcType="VARCHAR" property="filed3" />
    <result column="FILED4" jdbcType="DECIMAL" property="filed4" />
    <result column="FILED5" jdbcType="DECIMAL" property="filed5" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, SID, QTY, OPER, OPERTIME, FILED1, FILED2, FILED3, FILED4, 
    FILED5
    from DB_PRODUCT_TITLE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, SID, QTY, OPER, OPERTIME, FILED1, FILED2, FILED3, FILED4, 
    FILED5
    from DB_PRODUCT_TITLE
  </select>
  <sql id="TableName">
    DB_PRODUCT_TITLE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{title,jdbcType=VARCHAR} , 
     #{sid,jdbcType=VARCHAR} , 
     #{qty,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{filed1,jdbcType=VARCHAR} , 
     #{filed2,jdbcType=VARCHAR} , 
     #{filed3,jdbcType=VARCHAR} , 
     #{filed4,jdbcType=DECIMAL} , 
     #{filed5,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    TITLE , 
    SID , 
    QTY , 
    OPER , 
    OPERTIME , 
    FILED1 , 
    FILED2 , 
    FILED3 , 
    FILED4 , 
    FILED5 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="qty != null">
      qty = #{qty,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} and 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} and 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=VARCHAR} and 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=DECIMAL} and 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="qty != null">
      qty = #{qty,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="filed1 != null">
      filed1 = #{filed1,jdbcType=VARCHAR} , 
    </if>
    <if test="filed2 != null">
      filed2 = #{filed2,jdbcType=VARCHAR} , 
    </if>
    <if test="filed3 != null">
      filed3 = #{filed3,jdbcType=VARCHAR} , 
    </if>
    <if test="filed4 != null">
      filed4 = #{filed4,jdbcType=DECIMAL} , 
    </if>
    <if test="filed5 != null">
      filed5 = #{filed5,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProductTitle" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProductTitle">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProductTitle">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProductTitle">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>