<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductalertMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductalert">
    <id column="SQUENCEID" jdbcType="VARCHAR" property="squenceid" />
    <result column="ALERTSTAR1" jdbcType="DECIMAL" property="alertstar1" />
    <result column="ALERTEND1" jdbcType="DECIMAL" property="alertend1" />
    <result column="ALERTSTATIC1" jdbcType="DECIMAL" property="alertstatic1" />
    <result column="ALERTSTAR2" jdbcType="DECIMAL" property="alertstar2" />
    <result column="ALERTEND2" jdbcType="DECIMAL" property="alertend2" />
    <result column="ALERTSTATIC2" jdbcType="DECIMAL" property="alertstatic2" />
    <result column="ALERTSTAR3" jdbcType="DECIMAL" property="alertstar3" />
    <result column="ALERTEND3" jdbcType="DECIMAL" property="alertend3" />
    <result column="ALERTSTATIC3" jdbcType="DECIMAL" property="alertstatic3" />
  </resultMap>
  <sql id="Base_Column_List">
    SQUENCEID, ALERTSTAR1, ALERTEND1, ALERTSTATIC1, ALERTSTAR2, ALERTEND2, ALERTSTATIC2, 
    ALERTSTAR3, ALERTEND3, ALERTSTATIC3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_productalert
    where SQUENCEID = #{squenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_productalert
    where SQUENCEID = #{squenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductalert">
    insert into db_productalert (SQUENCEID, ALERTSTAR1, ALERTEND1, 
      ALERTSTATIC1, ALERTSTAR2, ALERTEND2, 
      ALERTSTATIC2, ALERTSTAR3, ALERTEND3, 
      ALERTSTATIC3)
    values (#{squenceid,jdbcType=VARCHAR}, #{alertstar1,jdbcType=DECIMAL}, #{alertend1,jdbcType=DECIMAL}, 
      #{alertstatic1,jdbcType=DECIMAL}, #{alertstar2,jdbcType=DECIMAL}, #{alertend2,jdbcType=DECIMAL}, 
      #{alertstatic2,jdbcType=DECIMAL}, #{alertstar3,jdbcType=DECIMAL}, #{alertend3,jdbcType=DECIMAL}, 
      #{alertstatic3,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductalert">
    insert into db_productalert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="squenceid != null">
        SQUENCEID,
      </if>
      <if test="alertstar1 != null">
        ALERTSTAR1,
      </if>
      <if test="alertend1 != null">
        ALERTEND1,
      </if>
      <if test="alertstatic1 != null">
        ALERTSTATIC1,
      </if>
      <if test="alertstar2 != null">
        ALERTSTAR2,
      </if>
      <if test="alertend2 != null">
        ALERTEND2,
      </if>
      <if test="alertstatic2 != null">
        ALERTSTATIC2,
      </if>
      <if test="alertstar3 != null">
        ALERTSTAR3,
      </if>
      <if test="alertend3 != null">
        ALERTEND3,
      </if>
      <if test="alertstatic3 != null">
        ALERTSTATIC3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="squenceid != null">
        #{squenceid,jdbcType=VARCHAR},
      </if>
      <if test="alertstar1 != null">
        #{alertstar1,jdbcType=DECIMAL},
      </if>
      <if test="alertend1 != null">
        #{alertend1,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic1 != null">
        #{alertstatic1,jdbcType=DECIMAL},
      </if>
      <if test="alertstar2 != null">
        #{alertstar2,jdbcType=DECIMAL},
      </if>
      <if test="alertend2 != null">
        #{alertend2,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic2 != null">
        #{alertstatic2,jdbcType=DECIMAL},
      </if>
      <if test="alertstar3 != null">
        #{alertstar3,jdbcType=DECIMAL},
      </if>
      <if test="alertend3 != null">
        #{alertend3,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic3 != null">
        #{alertstatic3,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductalert">
    update db_productalert
    <set>
      <if test="alertstar1 != null">
        ALERTSTAR1 = #{alertstar1,jdbcType=DECIMAL},
      </if>
      <if test="alertend1 != null">
        ALERTEND1 = #{alertend1,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic1 != null">
        ALERTSTATIC1 = #{alertstatic1,jdbcType=DECIMAL},
      </if>
      <if test="alertstar2 != null">
        ALERTSTAR2 = #{alertstar2,jdbcType=DECIMAL},
      </if>
      <if test="alertend2 != null">
        ALERTEND2 = #{alertend2,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic2 != null">
        ALERTSTATIC2 = #{alertstatic2,jdbcType=DECIMAL},
      </if>
      <if test="alertstar3 != null">
        ALERTSTAR3 = #{alertstar3,jdbcType=DECIMAL},
      </if>
      <if test="alertend3 != null">
        ALERTEND3 = #{alertend3,jdbcType=DECIMAL},
      </if>
      <if test="alertstatic3 != null">
        ALERTSTATIC3 = #{alertstatic3,jdbcType=DECIMAL},
      </if>
    </set>
    where SQUENCEID = #{squenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductalert">
    update db_productalert
    set ALERTSTAR1 = #{alertstar1,jdbcType=DECIMAL},
      ALERTEND1 = #{alertend1,jdbcType=DECIMAL},
      ALERTSTATIC1 = #{alertstatic1,jdbcType=DECIMAL},
      ALERTSTAR2 = #{alertstar2,jdbcType=DECIMAL},
      ALERTEND2 = #{alertend2,jdbcType=DECIMAL},
      ALERTSTATIC2 = #{alertstatic2,jdbcType=DECIMAL},
      ALERTSTAR3 = #{alertstar3,jdbcType=DECIMAL},
      ALERTEND3 = #{alertend3,jdbcType=DECIMAL},
      ALERTSTATIC3 = #{alertstatic3,jdbcType=DECIMAL}
    where SQUENCEID = #{squenceid,jdbcType=VARCHAR}
  </update>
</mapper>