<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectskuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProjectsku">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="PROJECTID" jdbcType="DECIMAL" property="projectid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="SKUTYPE" jdbcType="DECIMAL" property="skutype" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="IMGURL" jdbcType="VARCHAR" property="imgurl" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="CHECKFLAG" jdbcType="DECIMAL" property="checkflag" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTID, SKU, SKUTYPE, SID, IMGURL, CHECKTIME, CHECKFLAG, CREATETIME
    from DB_PROJECTSKU
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTID, SKU, SKUTYPE, SID, IMGURL, CHECKTIME, CHECKFLAG, CREATETIME
    from DB_PROJECTSKU
  </select>
  <sql id="TableName">
    DB_PROJECTSKU
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{projectid,jdbcType=DECIMAL} , 
     #{sku,jdbcType=VARCHAR} , 
     #{skutype,jdbcType=DECIMAL} , 
     #{sid,jdbcType=VARCHAR} , 
     #{imgurl,jdbcType=VARCHAR} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{checkflag,jdbcType=DECIMAL} , 
     #{createtime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PROJECTID , 
    SKU , 
    SKUTYPE , 
    SID , 
    IMGURL , 
    CHECKTIME , 
    CHECKFLAG , 
    CREATETIME , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="projectid != null">
      projectid = #{projectid,jdbcType=DECIMAL} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="skutype != null">
      skutype = #{skutype,jdbcType=DECIMAL} and 
    </if>
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="imgurl != null">
      imgurl = #{imgurl,jdbcType=VARCHAR} and 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="projectid != null">
      projectid = #{projectid,jdbcType=DECIMAL} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="skutype != null">
      skutype = #{skutype,jdbcType=DECIMAL} , 
    </if>
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="imgurl != null">
      imgurl = #{imgurl,jdbcType=VARCHAR} , 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="checkflag != null">
      checkflag = #{checkflag,jdbcType=DECIMAL} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProjectsku" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProjectsku">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProjectsku">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProjectsku">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>