<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProjectcollaborativeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProjectcollaborative">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="PROJECTID" jdbcType="DECIMAL" property="projectid" />
    <result column="COPER" jdbcType="VARCHAR" property="coper" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTID, COPER
    from DB_PROJECTCOLLABORATIVE
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, PROJECTID, COPER
    from DB_PROJECTCOLLABORATIVE
  </select>
  <sql id="TableName">
    DB_PROJECTCOLLABORATIVE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{projectid,jdbcType=DECIMAL} , 
     #{coper,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    PROJECTID , 
    COPER , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="projectid != null">
      projectid = #{projectid,jdbcType=DECIMAL} and 
    </if>
    <if test="coper != null">
      coper = #{coper,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="projectid != null">
      projectid = #{projectid,jdbcType=DECIMAL} , 
    </if>
    <if test="coper != null">
      coper = #{coper,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProjectcollaborative" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProjectcollaborative">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProjectcollaborative">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProjectcollaborative">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>