<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProductwytMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProductwyt">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MWAREHOUSEID" jdbcType="VARCHAR" property="mwarehouseid" />
    <result column="QTYONHAND" jdbcType="DECIMAL" property="qtyonhand" />
    <result column="QTYORDERED" jdbcType="DECIMAL" property="qtyordered" />
    <result column="QTYAVAILABLE" jdbcType="DECIMAL" property="qtyavailable" />
    <result column="QTYSELL" jdbcType="DECIMAL" property="qtysell" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbProductwyt">
    <result column="SPECIFICATION" jdbcType="LONGVARCHAR" property="specification" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, 'NAME', MWAREHOUSEID, QTYONHAND, QTYORDERED, QTYAVAILABLE, QTYSELL
  </sql>
  <sql id="Blob_Column_List">
    SPECIFICATION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_productwyt
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_productwyt
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbProductwyt">
    insert into db_productwyt (SID, 'NAME', MWAREHOUSEID, 
      QTYONHAND, QTYORDERED, QTYAVAILABLE, 
      QTYSELL, SPECIFICATION)
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{mwarehouseid,jdbcType=VARCHAR}, 
      #{qtyonhand,jdbcType=DECIMAL}, #{qtyordered,jdbcType=DECIMAL}, #{qtyavailable,jdbcType=DECIMAL}, 
      #{qtysell,jdbcType=DECIMAL}, #{specification,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbProductwyt">
    insert into db_productwyt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="mwarehouseid != null">
        MWAREHOUSEID,
      </if>
      <if test="qtyonhand != null">
        QTYONHAND,
      </if>
      <if test="qtyordered != null">
        QTYORDERED,
      </if>
      <if test="qtyavailable != null">
        QTYAVAILABLE,
      </if>
      <if test="qtysell != null">
        QTYSELL,
      </if>
      <if test="specification != null">
        SPECIFICATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mwarehouseid != null">
        #{mwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="qtyonhand != null">
        #{qtyonhand,jdbcType=DECIMAL},
      </if>
      <if test="qtyordered != null">
        #{qtyordered,jdbcType=DECIMAL},
      </if>
      <if test="qtyavailable != null">
        #{qtyavailable,jdbcType=DECIMAL},
      </if>
      <if test="qtysell != null">
        #{qtysell,jdbcType=DECIMAL},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbProductwyt">
    update db_productwyt
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mwarehouseid != null">
        MWAREHOUSEID = #{mwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="qtyonhand != null">
        QTYONHAND = #{qtyonhand,jdbcType=DECIMAL},
      </if>
      <if test="qtyordered != null">
        QTYORDERED = #{qtyordered,jdbcType=DECIMAL},
      </if>
      <if test="qtyavailable != null">
        QTYAVAILABLE = #{qtyavailable,jdbcType=DECIMAL},
      </if>
      <if test="qtysell != null">
        QTYSELL = #{qtysell,jdbcType=DECIMAL},
      </if>
      <if test="specification != null">
        SPECIFICATION = #{specification,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbProductwyt">
    update db_productwyt
    set 'NAME' = #{name,jdbcType=VARCHAR},
      MWAREHOUSEID = #{mwarehouseid,jdbcType=VARCHAR},
      QTYONHAND = #{qtyonhand,jdbcType=DECIMAL},
      QTYORDERED = #{qtyordered,jdbcType=DECIMAL},
      QTYAVAILABLE = #{qtyavailable,jdbcType=DECIMAL},
      QTYSELL = #{qtysell,jdbcType=DECIMAL},
      SPECIFICATION = #{specification,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbProductwyt">
    update db_productwyt
    set 'NAME' = #{name,jdbcType=VARCHAR},
      MWAREHOUSEID = #{mwarehouseid,jdbcType=VARCHAR},
      QTYONHAND = #{qtyonhand,jdbcType=DECIMAL},
      QTYORDERED = #{qtyordered,jdbcType=DECIMAL},
      QTYAVAILABLE = #{qtyavailable,jdbcType=DECIMAL},
      QTYSELL = #{qtysell,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>