<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbProtocolLogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbProtocolLog">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="ACTIONID" jdbcType="VARCHAR" property="actionid" />
    <result column="WARNTIME" jdbcType="TIMESTAMP" property="warntime" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="PICTURE3" jdbcType="VARCHAR" property="picture3" />
    <result column="BACKTIME" jdbcType="TIMESTAMP" property="backtime" />
    <result column="TIMETYPE" jdbcType="DECIMAL" property="timetype" />
    <result column="REPEATTIME" jdbcType="TIMESTAMP" property="repeattime" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CHECKNOTREASON" jdbcType="VARCHAR" property="checknotreason" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="BACKREASON" jdbcType="VARCHAR" property="backreason" />
    <result column="RESERVE10" jdbcType="TIMESTAMP" property="reserve10" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="PICTURE1" jdbcType="VARCHAR" property="picture1" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="STARTTIME" jdbcType="TIMESTAMP" property="starttime" />
    <result column="URGENT" jdbcType="VARCHAR" property="urgent" />
    <result column="RESERVE11" jdbcType="TIMESTAMP" property="reserve11" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="RESERVE14" jdbcType="VARCHAR" property="reserve14" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="EXECUTOR" jdbcType="VARCHAR" property="executor" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="TYPEFLAG" jdbcType="VARCHAR" property="typeflag" />
    <result column="RESERVE13" jdbcType="TIMESTAMP" property="reserve13" />
    <result column="PICTURE2" jdbcType="VARCHAR" property="picture2" />
    <result column="ACTION" jdbcType="VARCHAR" property="action" />
    <result column="RESERVE12" jdbcType="TIMESTAMP" property="reserve12" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, OPER, ACTIONID, WARNTIME, OPENFLAG, PICTURE3, BACKTIME, TIMETYPE, 
    REPEATTIME, RESERVE3, RESERVE2, CREATEOPER, NAME, CHECKNOTREASON, RESERVE8, BACKREASON, 
    RESERVE10, RESERVE9, RESERVE5, DESCR, PICTURE1, ENDTIME, RESERVE6, CHECKOPER, NOTE, 
    TITLE, STARTTIME, URGENT, RESERVE11, RESERVE7, CHECKTIME, RESERVE14, CREATETIME, 
    RESERVE1, RESERVE4, EXECUTOR, OPERTIME, TYPEFLAG, RESERVE13, PICTURE2, ACTION, RESERVE12, 
    FLAG, STATUS, SKU
    from DB_PROTOCOL_LOG
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, OPER, ACTIONID, WARNTIME, OPENFLAG, PICTURE3, BACKTIME, TIMETYPE, 
    REPEATTIME, RESERVE3, RESERVE2, CREATEOPER, NAME, CHECKNOTREASON, RESERVE8, BACKREASON, 
    RESERVE10, RESERVE9, RESERVE5, DESCR, PICTURE1, ENDTIME, RESERVE6, CHECKOPER, NOTE, 
    TITLE, STARTTIME, URGENT, RESERVE11, RESERVE7, CHECKTIME, RESERVE14, CREATETIME, 
    RESERVE1, RESERVE4, EXECUTOR, OPERTIME, TYPEFLAG, RESERVE13, PICTURE2, ACTION, RESERVE12, 
    FLAG, STATUS, SKU
    from DB_PROTOCOL_LOG
  </select>
  <sql id="TableName">
    DB_PROTOCOL_LOG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{actionid,jdbcType=VARCHAR} , 
     #{warntime,jdbcType=TIMESTAMP} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{picture3,jdbcType=VARCHAR} , 
     #{backtime,jdbcType=TIMESTAMP} , 
     #{timetype,jdbcType=DECIMAL} , 
     #{repeattime,jdbcType=TIMESTAMP} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{checknotreason,jdbcType=VARCHAR} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{backreason,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=TIMESTAMP} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{picture1,jdbcType=VARCHAR} , 
     #{endtime,jdbcType=TIMESTAMP} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{note,jdbcType=VARCHAR} , 
     #{title,jdbcType=VARCHAR} , 
     #{starttime,jdbcType=TIMESTAMP} , 
     #{urgent,jdbcType=VARCHAR} , 
     #{reserve11,jdbcType=TIMESTAMP} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{reserve14,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{executor,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{typeflag,jdbcType=VARCHAR} , 
     #{reserve13,jdbcType=TIMESTAMP} , 
     #{picture2,jdbcType=VARCHAR} , 
     #{action,jdbcType=VARCHAR} , 
     #{reserve12,jdbcType=TIMESTAMP} , 
     #{flag,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    OPER , 
    ACTIONID , 
    WARNTIME , 
    OPENFLAG , 
    PICTURE3 , 
    BACKTIME , 
    TIMETYPE , 
    REPEATTIME , 
    RESERVE3 , 
    RESERVE2 , 
    CREATEOPER , 
    NAME , 
    CHECKNOTREASON , 
    RESERVE8 , 
    BACKREASON , 
    RESERVE10 , 
    RESERVE9 , 
    RESERVE5 , 
    DESCR , 
    PICTURE1 , 
    ENDTIME , 
    RESERVE6 , 
    CHECKOPER , 
    NOTE , 
    TITLE , 
    STARTTIME , 
    URGENT , 
    RESERVE11 , 
    RESERVE7 , 
    CHECKTIME , 
    RESERVE14 , 
    CREATETIME , 
    RESERVE1 , 
    RESERVE4 , 
    EXECUTOR , 
    OPERTIME , 
    TYPEFLAG , 
    RESERVE13 , 
    PICTURE2 , 
    ACTION , 
    RESERVE12 , 
    FLAG , 
    STATUS , 
    SKU , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="actionid != null">
      actionid = #{actionid,jdbcType=VARCHAR} and 
    </if>
    <if test="warntime != null">
      warntime = #{warntime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="picture3 != null">
      picture3 = #{picture3,jdbcType=VARCHAR} and 
    </if>
    <if test="backtime != null">
      backtime = #{backtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="timetype != null">
      timetype = #{timetype,jdbcType=DECIMAL} and 
    </if>
    <if test="repeattime != null">
      repeattime = #{repeattime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="checknotreason != null">
      checknotreason = #{checknotreason,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="backreason != null">
      backreason = #{backreason,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="picture1 != null">
      picture1 = #{picture1,jdbcType=VARCHAR} and 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="note != null">
      note = #{note,jdbcType=VARCHAR} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="urgent != null">
      urgent = #{urgent,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="executor != null">
      executor = #{executor,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="typeflag != null">
      typeflag = #{typeflag,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=TIMESTAMP} and 
    </if>
    <if test="picture2 != null">
      picture2 = #{picture2,jdbcType=VARCHAR} and 
    </if>
    <if test="action != null">
      action = #{action,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="actionid != null">
      actionid = #{actionid,jdbcType=VARCHAR} , 
    </if>
    <if test="warntime != null">
      warntime = #{warntime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="picture3 != null">
      picture3 = #{picture3,jdbcType=VARCHAR} , 
    </if>
    <if test="backtime != null">
      backtime = #{backtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="timetype != null">
      timetype = #{timetype,jdbcType=DECIMAL} , 
    </if>
    <if test="repeattime != null">
      repeattime = #{repeattime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="checknotreason != null">
      checknotreason = #{checknotreason,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="backreason != null">
      backreason = #{backreason,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="picture1 != null">
      picture1 = #{picture1,jdbcType=VARCHAR} , 
    </if>
    <if test="endtime != null">
      endtime = #{endtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="note != null">
      note = #{note,jdbcType=VARCHAR} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="starttime != null">
      starttime = #{starttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="urgent != null">
      urgent = #{urgent,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve11 != null">
      reserve11 = #{reserve11,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve14 != null">
      reserve14 = #{reserve14,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="executor != null">
      executor = #{executor,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="typeflag != null">
      typeflag = #{typeflag,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve13 != null">
      reserve13 = #{reserve13,jdbcType=TIMESTAMP} , 
    </if>
    <if test="picture2 != null">
      picture2 = #{picture2,jdbcType=VARCHAR} , 
    </if>
    <if test="action != null">
      action = #{action,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve12 != null">
      reserve12 = #{reserve12,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbProtocolLog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbProtocolLog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbProtocolLog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbProtocolLog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>