<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbQtwarehousesMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbQtwarehouses">
    <id column="WAREHOUSEID" jdbcType="VARCHAR" property="warehouseid" />
    <result column="WAREHOUSENAME" jdbcType="VARCHAR" property="warehousename" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WAREHOUSEID, WAREHOUSENAME
    from DB_QTWAREHOUSES
    where WAREHOUSEID = #{warehouseid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WAREHOUSEID, WAREHOUSENAME
    from DB_QTWAREHOUSES
  </select>
  <sql id="TableName">
    DB_QTWAREHOUSES
  </sql>
  <sql id="Values">
     #{warehouseid,jdbcType=VARCHAR} , 
     #{warehousename,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    WAREHOUSEID , 
    WAREHOUSENAME , 
  </sql>
  <sql id="Criteria">
    <if test="warehouseid != null">
      warehouseid = #{warehouseid,jdbcType=VARCHAR} and 
    </if>
    <if test="warehousename != null">
      warehousename = #{warehousename,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="warehouseid != null">
      warehouseid = #{warehouseid,jdbcType=VARCHAR} , 
    </if>
    <if test="warehousename != null">
      warehousename = #{warehousename,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbQtwarehouses" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where WAREHOUSEID=#{WAREHOUSEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbQtwarehouses">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbQtwarehouses">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbQtwarehouses">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>