<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbReturnmanagermentLogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbReturnmanagermentLog">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="RETURNID" jdbcType="DECIMAL" property="returnid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="REPLAYSTATUS" jdbcType="DECIMAL" property="replaystatus" />
    <result column="OPENFLAG" jdbcType="DECIMAL" property="openflag" />
    <result column="CREATOPER" jdbcType="VARCHAR" property="creatoper" />
    <result column="CREATTIME" jdbcType="TIMESTAMP" property="creattime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CONTENTID" jdbcType="DECIMAL" property="contentid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="MESSAGEID" jdbcType="VARCHAR" property="messageid" />
    <result column="SHOPTYPEID" jdbcType="DECIMAL" property="shoptypeid" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="CUSTOMERCOUNTRY" jdbcType="VARCHAR" property="customercountry" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="ORDERSTATUS" jdbcType="VARCHAR" property="orderstatus" />
    <result column="ORDERSOURCE" jdbcType="VARCHAR" property="ordersource" />
    <result column="ORDERTIME" jdbcType="DECIMAL" property="ordertime" />
    <result column="OPERTYPE" jdbcType="DECIMAL" property="opertype" />
    <result column="CUSTOMERCOUNTRYID" jdbcType="VARCHAR" property="customercountryid" />
    <result column="CUSTOMERCOUNTRYEN" jdbcType="VARCHAR" property="customercountryen" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="DISPOSEFLAG" jdbcType="DECIMAL" property="disposeflag" />
    <result column="RETURNPROSTATUS" jdbcType="DECIMAL" property="returnprostatus" />
    <result column="RETURNMONEYSTATUS" jdbcType="DECIMAL" property="returnmoneystatus" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, RETURNID, NAME, REPLAYSTATUS, OPENFLAG, CREATOPER, CREATTIME, 
    OPER, OPERTIME, CONTENTID, ORDERID, MESSAGEID, SHOPTYPEID, CUSTOMERNAME, CUSTOMERCOUNTRY, 
    SHOPTYPE, ORDERSTATUS, ORDERSOURCE, ORDERTIME, OPERTYPE, CUSTOMERCOUNTRYID, CUSTOMERCOUNTRYEN, 
    DESCR, DISPOSEFLAG, RETURNPROSTATUS, RETURNMONEYSTATUS
    from DB_RETURNMANAGERMENT_LOG
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, RETURNID, NAME, REPLAYSTATUS, OPENFLAG, CREATOPER, CREATTIME, 
    OPER, OPERTIME, CONTENTID, ORDERID, MESSAGEID, SHOPTYPEID, CUSTOMERNAME, CUSTOMERCOUNTRY, 
    SHOPTYPE, ORDERSTATUS, ORDERSOURCE, ORDERTIME, OPERTYPE, CUSTOMERCOUNTRYID, CUSTOMERCOUNTRYEN, 
    DESCR, DISPOSEFLAG, RETURNPROSTATUS, RETURNMONEYSTATUS
    from DB_RETURNMANAGERMENT_LOG
  </select>
  <sql id="TableName">
    DB_RETURNMANAGERMENT_LOG
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{returnid,jdbcType=DECIMAL} , 
     #{name,jdbcType=VARCHAR} , 
     #{replaystatus,jdbcType=DECIMAL} , 
     #{openflag,jdbcType=DECIMAL} , 
     #{creatoper,jdbcType=VARCHAR} , 
     #{creattime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{contentid,jdbcType=DECIMAL} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{messageid,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=DECIMAL} , 
     #{customername,jdbcType=VARCHAR} , 
     #{customercountry,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{orderstatus,jdbcType=VARCHAR} , 
     #{ordersource,jdbcType=VARCHAR} , 
     #{ordertime,jdbcType=DECIMAL} , 
     #{opertype,jdbcType=DECIMAL} , 
     #{customercountryid,jdbcType=VARCHAR} , 
     #{customercountryen,jdbcType=VARCHAR} , 
     #{descr,jdbcType=VARCHAR} , 
     #{disposeflag,jdbcType=DECIMAL} , 
     #{returnprostatus,jdbcType=DECIMAL} , 
     #{returnmoneystatus,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    RETURNID , 
    NAME , 
    REPLAYSTATUS , 
    OPENFLAG , 
    CREATOPER , 
    CREATTIME , 
    OPER , 
    OPERTIME , 
    CONTENTID , 
    ORDERID , 
    MESSAGEID , 
    SHOPTYPEID , 
    CUSTOMERNAME , 
    CUSTOMERCOUNTRY , 
    SHOPTYPE , 
    ORDERSTATUS , 
    ORDERSOURCE , 
    ORDERTIME , 
    OPERTYPE , 
    CUSTOMERCOUNTRYID , 
    CUSTOMERCOUNTRYEN , 
    DESCR , 
    DISPOSEFLAG , 
    RETURNPROSTATUS , 
    RETURNMONEYSTATUS , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="returnid != null">
      returnid = #{returnid,jdbcType=DECIMAL} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="replaystatus != null">
      replaystatus = #{replaystatus,jdbcType=DECIMAL} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} and 
    </if>
    <if test="creatoper != null">
      creatoper = #{creatoper,jdbcType=VARCHAR} and 
    </if>
    <if test="creattime != null">
      creattime = #{creattime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="contentid != null">
      contentid = #{contentid,jdbcType=DECIMAL} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="messageid != null">
      messageid = #{messageid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=DECIMAL} and 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="orderstatus != null">
      orderstatus = #{orderstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="ordersource != null">
      ordersource = #{ordersource,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=DECIMAL} and 
    </if>
    <if test="opertype != null">
      opertype = #{opertype,jdbcType=DECIMAL} and 
    </if>
    <if test="customercountryid != null">
      customercountryid = #{customercountryid,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountryen != null">
      customercountryen = #{customercountryen,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} and 
    </if>
    <if test="disposeflag != null">
      disposeflag = #{disposeflag,jdbcType=DECIMAL} and 
    </if>
    <if test="returnprostatus != null">
      returnprostatus = #{returnprostatus,jdbcType=DECIMAL} and 
    </if>
    <if test="returnmoneystatus != null">
      returnmoneystatus = #{returnmoneystatus,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="returnid != null">
      returnid = #{returnid,jdbcType=DECIMAL} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="replaystatus != null">
      replaystatus = #{replaystatus,jdbcType=DECIMAL} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=DECIMAL} , 
    </if>
    <if test="creatoper != null">
      creatoper = #{creatoper,jdbcType=VARCHAR} , 
    </if>
    <if test="creattime != null">
      creattime = #{creattime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="contentid != null">
      contentid = #{contentid,jdbcType=DECIMAL} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="messageid != null">
      messageid = #{messageid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=DECIMAL} , 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="orderstatus != null">
      orderstatus = #{orderstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="ordersource != null">
      ordersource = #{ordersource,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=DECIMAL} , 
    </if>
    <if test="opertype != null">
      opertype = #{opertype,jdbcType=DECIMAL} , 
    </if>
    <if test="customercountryid != null">
      customercountryid = #{customercountryid,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountryen != null">
      customercountryen = #{customercountryen,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=VARCHAR} , 
    </if>
    <if test="disposeflag != null">
      disposeflag = #{disposeflag,jdbcType=DECIMAL} , 
    </if>
    <if test="returnprostatus != null">
      returnprostatus = #{returnprostatus,jdbcType=DECIMAL} , 
    </if>
    <if test="returnmoneystatus != null">
      returnmoneystatus = #{returnmoneystatus,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbReturnmanagermentLog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbReturnmanagermentLog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbReturnmanagermentLog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbReturnmanagermentLog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>