<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbRepeatproductlocationMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbRepeatproductlocation">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="ORIGINSTORAGEID" jdbcType="VARCHAR" property="originstorageid" />
    <result column="ORIGINSTORAGENAME" jdbcType="VARCHAR" property="originstoragename" />
    <result column="ORIGINLOCATIONID" jdbcType="VARCHAR" property="originlocationid" />
    <result column="ORIGINLOCATIONNAME" jdbcType="VARCHAR" property="originlocationname" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATIONNAME" jdbcType="VARCHAR" property="locationname" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="ERROR" jdbcType="VARCHAR" property="error" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, PRODUCTID, ORIGINSTORAGEID, ORIGINSTORAGENAME, ORIGINLOCATIONID, ORIGINLOCATIONNAME, 
    STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, FLAG, ERROR, OPER, OPERTIME
    from DB_REPEATPRODUCTLOCATION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, PRODUCTID, ORIGINSTORAGEID, ORIGINSTORAGENAME, ORIGINLOCATIONID, ORIGINLOCATIONNAME, 
    STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, FLAG, ERROR, OPER, OPERTIME
    from DB_REPEATPRODUCTLOCATION
  </select>
  <sql id="TableName">
    DB_REPEATPRODUCTLOCATION
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{productid,jdbcType=VARCHAR} , 
     #{originstorageid,jdbcType=VARCHAR} , 
     #{originstoragename,jdbcType=VARCHAR} , 
     #{originlocationid,jdbcType=VARCHAR} , 
     #{originlocationname,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storagename,jdbcType=VARCHAR} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{locationname,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{error,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
  </sql>
  <sql id="Columns">
    ID , 
    PRODUCTID , 
    ORIGINSTORAGEID , 
    ORIGINSTORAGENAME , 
    ORIGINLOCATIONID , 
    ORIGINLOCATIONNAME , 
    STORAGEID , 
    STORAGENAME , 
    LOCATIONID , 
    LOCATIONNAME , 
    FLAG , 
    ERROR , 
    OPER , 
    OPERTIME , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="originstorageid != null">
      originstorageid = #{originstorageid,jdbcType=VARCHAR} and 
    </if>
    <if test="originstoragename != null">
      originstoragename = #{originstoragename,jdbcType=VARCHAR} and 
    </if>
    <if test="originlocationid != null">
      originlocationid = #{originlocationid,jdbcType=VARCHAR} and 
    </if>
    <if test="originlocationname != null">
      originlocationname = #{originlocationname,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} and 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="originstorageid != null">
      originstorageid = #{originstorageid,jdbcType=VARCHAR} , 
    </if>
    <if test="originstoragename != null">
      originstoragename = #{originstoragename,jdbcType=VARCHAR} , 
    </if>
    <if test="originlocationid != null">
      originlocationid = #{originlocationid,jdbcType=VARCHAR} , 
    </if>
    <if test="originlocationname != null">
      originlocationname = #{originlocationname,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} , 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="error != null">
      error = #{error,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbRepeatproductlocation" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbRepeatproductlocation">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbRepeatproductlocation">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbRepeatproductlocation">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>