<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbResultlistMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbResultlist">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="ITEMID" jdbcType="VARCHAR" property="itemid" />
    <result column="KEYWORDID" jdbcType="VARCHAR" property="keywordid" />
    <result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="SHOP" jdbcType="VARCHAR" property="shop" />
    <result column="EBAYSKU" jdbcType="VARCHAR" property="ebaysku" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="EBAYMONEYTYPE" jdbcType="VARCHAR" property="ebaymoneytype" />
    <result column="EBAYSELLPRICE" jdbcType="DECIMAL" property="ebaysellprice" />
    <result column="EBAYPICTURE1" jdbcType="VARCHAR" property="ebaypicture1" />
    <result column="EBAYPICTURE2" jdbcType="VARCHAR" property="ebaypicture2" />
    <result column="EBAYPICTURE3" jdbcType="VARCHAR" property="ebaypicture3" />
    <result column="EBAYPICTURE4" jdbcType="VARCHAR" property="ebaypicture4" />
    <result column="EBAYVIEWITEMURL" jdbcType="VARCHAR" property="ebayviewitemurl" />
    <result column="EBAYDECSR" jdbcType="VARCHAR" property="ebaydecsr" />
    <result column="EBAYPAYMETHOD" jdbcType="VARCHAR" property="ebaypaymethod" />
    <result column="EBAYCATEGORYID" jdbcType="VARCHAR" property="ebaycategoryid" />
    <result column="EBAYCATEGORYNAME" jdbcType="VARCHAR" property="ebaycategoryname" />
    <result column="EBAYQUANTITY" jdbcType="DECIMAL" property="ebayquantity" />
    <result column="EBAYQUATITYTHRESTHOD" jdbcType="DECIMAL" property="ebayquatitythresthod" />
    <result column="EBAYQUATITYTHOD" jdbcType="DECIMAL" property="ebayquatitythod" />
    <result column="EBAYSITE" jdbcType="VARCHAR" property="ebaysite" />
    <result column="EBAYSHOPNAME" jdbcType="VARCHAR" property="ebayshopname" />
    <result column="EBAYITEMSTATUS" jdbcType="VARCHAR" property="ebayitemstatus" />
    <result column="EBAYTITLE" jdbcType="VARCHAR" property="ebaytitle" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="KEYWORDFLAG" jdbcType="DECIMAL" property="keywordflag" />
    <result column="CATEGORYFLAG" jdbcType="DECIMAL" property="categoryflag" />
    <result column="SHOPFLAG" jdbcType="DECIMAL" property="shopflag" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RESERVE9" jdbcType="DECIMAL" property="reserve9" />
    <result column="RESERVE10" jdbcType="DECIMAL" property="reserve10" />
    <result column="EBAYCOUNTRY" jdbcType="VARCHAR" property="ebaycountry" />
    <result column="EBAYGALLERURL" jdbcType="VARCHAR" property="ebaygallerurl" />
    <result column="EBAYSTARTTIME" jdbcType="TIMESTAMP" property="ebaystarttime" />
    <result column="EBAYENDTIME" jdbcType="TIMESTAMP" property="ebayendtime" />
    <result column="EBAYLOCATION" jdbcType="VARCHAR" property="ebaylocation" />
    <result column="EBAYITEMURL" jdbcType="VARCHAR" property="ebayitemurl" />
    <result column="EBAYSHOPINGTYPE" jdbcType="VARCHAR" property="ebayshopingtype" />
    <result column="EBAYSHOPINGCOST" jdbcType="DECIMAL" property="ebayshopingcost" />
    <result column="EBAYSHOPINGMONEYTYPE" jdbcType="VARCHAR" property="ebayshopingmoneytype" />
    <result column="EBAYCURRENTPRICE" jdbcType="DECIMAL" property="ebaycurrentprice" />
    <result column="EBAYDAYLEFT" jdbcType="DECIMAL" property="ebaydayleft" />
    <result column="EBAYHHLEFT" jdbcType="DECIMAL" property="ebayhhleft" />
    <result column="EBAYMMLEFT" jdbcType="DECIMAL" property="ebaymmleft" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, SKU, ITEMID, KEYWORDID, KEYWORD, CATEGORYID, CATEGORY, SHOPID, SHOP, 
    EBAYSKU, EBAYITEMID, EBAYMONEYTYPE, EBAYSELLPRICE, EBAYPICTURE1, EBAYPICTURE2, EBAYPICTURE3, 
    EBAYPICTURE4, EBAYVIEWITEMURL, EBAYDECSR, EBAYPAYMETHOD, EBAYCATEGORYID, EBAYCATEGORYNAME, 
    EBAYQUANTITY, EBAYQUATITYTHRESTHOD, EBAYQUATITYTHOD, EBAYSITE, EBAYSHOPNAME, EBAYITEMSTATUS, 
    EBAYTITLE, FLAG, OPENFLAG, OPER, OPERTIME, CREATETIME, KEYWORDFLAG, CATEGORYFLAG, 
    SHOPFLAG, CORPID, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, 
    RESERVE8, RESERVE9, RESERVE10, EBAYCOUNTRY, EBAYGALLERURL, EBAYSTARTTIME, EBAYENDTIME, 
    EBAYLOCATION, EBAYITEMURL, EBAYSHOPINGTYPE, EBAYSHOPINGCOST, EBAYSHOPINGMONEYTYPE, 
    EBAYCURRENTPRICE, EBAYDAYLEFT, EBAYHHLEFT, EBAYMMLEFT
    from DB_RESULTLIST
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, SKU, ITEMID, KEYWORDID, KEYWORD, CATEGORYID, CATEGORY, SHOPID, SHOP, 
    EBAYSKU, EBAYITEMID, EBAYMONEYTYPE, EBAYSELLPRICE, EBAYPICTURE1, EBAYPICTURE2, EBAYPICTURE3, 
    EBAYPICTURE4, EBAYVIEWITEMURL, EBAYDECSR, EBAYPAYMETHOD, EBAYCATEGORYID, EBAYCATEGORYNAME, 
    EBAYQUANTITY, EBAYQUATITYTHRESTHOD, EBAYQUATITYTHOD, EBAYSITE, EBAYSHOPNAME, EBAYITEMSTATUS, 
    EBAYTITLE, FLAG, OPENFLAG, OPER, OPERTIME, CREATETIME, KEYWORDFLAG, CATEGORYFLAG, 
    SHOPFLAG, CORPID, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, 
    RESERVE8, RESERVE9, RESERVE10, EBAYCOUNTRY, EBAYGALLERURL, EBAYSTARTTIME, EBAYENDTIME, 
    EBAYLOCATION, EBAYITEMURL, EBAYSHOPINGTYPE, EBAYSHOPINGCOST, EBAYSHOPINGMONEYTYPE, 
    EBAYCURRENTPRICE, EBAYDAYLEFT, EBAYHHLEFT, EBAYMMLEFT
    from DB_RESULTLIST
  </select>
  <sql id="TableName">
    DB_RESULTLIST
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
     #{itemid,jdbcType=VARCHAR} , 
     #{keywordid,jdbcType=VARCHAR} , 
     #{keyword,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{category,jdbcType=VARCHAR} , 
     #{shopid,jdbcType=VARCHAR} , 
     #{shop,jdbcType=VARCHAR} , 
     #{ebaysku,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{ebaymoneytype,jdbcType=VARCHAR} , 
     #{ebaysellprice,jdbcType=DECIMAL} , 
     #{ebaypicture1,jdbcType=VARCHAR} , 
     #{ebaypicture2,jdbcType=VARCHAR} , 
     #{ebaypicture3,jdbcType=VARCHAR} , 
     #{ebaypicture4,jdbcType=VARCHAR} , 
     #{ebayviewitemurl,jdbcType=VARCHAR} , 
     #{ebaydecsr,jdbcType=VARCHAR} , 
     #{ebaypaymethod,jdbcType=VARCHAR} , 
     #{ebaycategoryid,jdbcType=VARCHAR} , 
     #{ebaycategoryname,jdbcType=VARCHAR} , 
     #{ebayquantity,jdbcType=DECIMAL} , 
     #{ebayquatitythresthod,jdbcType=DECIMAL} , 
     #{ebayquatitythod,jdbcType=DECIMAL} , 
     #{ebaysite,jdbcType=VARCHAR} , 
     #{ebayshopname,jdbcType=VARCHAR} , 
     #{ebayitemstatus,jdbcType=VARCHAR} , 
     #{ebaytitle,jdbcType=VARCHAR} , 
     #{flag,jdbcType=DECIMAL} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{keywordflag,jdbcType=DECIMAL} , 
     #{categoryflag,jdbcType=DECIMAL} , 
     #{shopflag,jdbcType=DECIMAL} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{reserve9,jdbcType=DECIMAL} , 
     #{reserve10,jdbcType=DECIMAL} , 
     #{ebaycountry,jdbcType=VARCHAR} , 
     #{ebaygallerurl,jdbcType=VARCHAR} , 
     #{ebaystarttime,jdbcType=TIMESTAMP} , 
     #{ebayendtime,jdbcType=TIMESTAMP} , 
     #{ebaylocation,jdbcType=VARCHAR} , 
     #{ebayitemurl,jdbcType=VARCHAR} , 
     #{ebayshopingtype,jdbcType=VARCHAR} , 
     #{ebayshopingcost,jdbcType=DECIMAL} , 
     #{ebayshopingmoneytype,jdbcType=VARCHAR} , 
     #{ebaycurrentprice,jdbcType=DECIMAL} , 
     #{ebaydayleft,jdbcType=DECIMAL} , 
     #{ebayhhleft,jdbcType=DECIMAL} , 
     #{ebaymmleft,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SID , 
    SKU , 
    ITEMID , 
    KEYWORDID , 
    KEYWORD , 
    CATEGORYID , 
    CATEGORY , 
    SHOPID , 
    SHOP , 
    EBAYSKU , 
    EBAYITEMID , 
    EBAYMONEYTYPE , 
    EBAYSELLPRICE , 
    EBAYPICTURE1 , 
    EBAYPICTURE2 , 
    EBAYPICTURE3 , 
    EBAYPICTURE4 , 
    EBAYVIEWITEMURL , 
    EBAYDECSR , 
    EBAYPAYMETHOD , 
    EBAYCATEGORYID , 
    EBAYCATEGORYNAME , 
    EBAYQUANTITY , 
    EBAYQUATITYTHRESTHOD , 
    EBAYQUATITYTHOD , 
    EBAYSITE , 
    EBAYSHOPNAME , 
    EBAYITEMSTATUS , 
    EBAYTITLE , 
    FLAG , 
    OPENFLAG , 
    OPER , 
    OPERTIME , 
    CREATETIME , 
    KEYWORDFLAG , 
    CATEGORYFLAG , 
    SHOPFLAG , 
    CORPID , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    EBAYCOUNTRY , 
    EBAYGALLERURL , 
    EBAYSTARTTIME , 
    EBAYENDTIME , 
    EBAYLOCATION , 
    EBAYITEMURL , 
    EBAYSHOPINGTYPE , 
    EBAYSHOPINGCOST , 
    EBAYSHOPINGMONEYTYPE , 
    EBAYCURRENTPRICE , 
    EBAYDAYLEFT , 
    EBAYHHLEFT , 
    EBAYMMLEFT , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} and 
    </if>
    <if test="keywordid != null">
      keywordid = #{keywordid,jdbcType=VARCHAR} and 
    </if>
    <if test="keyword != null">
      keyword = #{keyword,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} and 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} and 
    </if>
    <if test="shop != null">
      shop = #{shop,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaymoneytype != null">
      ebaymoneytype = #{ebaymoneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaysellprice != null">
      ebaysellprice = #{ebaysellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaypicture1 != null">
      ebaypicture1 = #{ebaypicture1,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaypicture2 != null">
      ebaypicture2 = #{ebaypicture2,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaypicture3 != null">
      ebaypicture3 = #{ebaypicture3,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaypicture4 != null">
      ebaypicture4 = #{ebaypicture4,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayviewitemurl != null">
      ebayviewitemurl = #{ebayviewitemurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaydecsr != null">
      ebaydecsr = #{ebaydecsr,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaypaymethod != null">
      ebaypaymethod = #{ebaypaymethod,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycategoryid != null">
      ebaycategoryid = #{ebaycategoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycategoryname != null">
      ebaycategoryname = #{ebaycategoryname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayquantity != null">
      ebayquantity = #{ebayquantity,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayquatitythresthod != null">
      ebayquatitythresthod = #{ebayquatitythresthod,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayquatitythod != null">
      ebayquatitythod = #{ebayquatitythod,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshopname != null">
      ebayshopname = #{ebayshopname,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemstatus != null">
      ebayitemstatus = #{ebayitemstatus,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaytitle != null">
      ebaytitle = #{ebaytitle,jdbcType=VARCHAR} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="keywordflag != null">
      keywordflag = #{keywordflag,jdbcType=DECIMAL} and 
    </if>
    <if test="categoryflag != null">
      categoryflag = #{categoryflag,jdbcType=DECIMAL} and 
    </if>
    <if test="shopflag != null">
      shopflag = #{shopflag,jdbcType=DECIMAL} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaycountry != null">
      ebaycountry = #{ebaycountry,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaygallerurl != null">
      ebaygallerurl = #{ebaygallerurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaystarttime != null">
      ebaystarttime = #{ebaystarttime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="ebayendtime != null">
      ebayendtime = #{ebayendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="ebaylocation != null">
      ebaylocation = #{ebaylocation,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemurl != null">
      ebayitemurl = #{ebayitemurl,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshopingtype != null">
      ebayshopingtype = #{ebayshopingtype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayshopingcost != null">
      ebayshopingcost = #{ebayshopingcost,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayshopingmoneytype != null">
      ebayshopingmoneytype = #{ebayshopingmoneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="ebaycurrentprice != null">
      ebaycurrentprice = #{ebaycurrentprice,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaydayleft != null">
      ebaydayleft = #{ebaydayleft,jdbcType=DECIMAL} and 
    </if>
    <if test="ebayhhleft != null">
      ebayhhleft = #{ebayhhleft,jdbcType=DECIMAL} and 
    </if>
    <if test="ebaymmleft != null">
      ebaymmleft = #{ebaymmleft,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="itemid != null">
      itemid = #{itemid,jdbcType=VARCHAR} , 
    </if>
    <if test="keywordid != null">
      keywordid = #{keywordid,jdbcType=VARCHAR} , 
    </if>
    <if test="keyword != null">
      keyword = #{keyword,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="category != null">
      category = #{category,jdbcType=VARCHAR} , 
    </if>
    <if test="shopid != null">
      shopid = #{shopid,jdbcType=VARCHAR} , 
    </if>
    <if test="shop != null">
      shop = #{shop,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysku != null">
      ebaysku = #{ebaysku,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaymoneytype != null">
      ebaymoneytype = #{ebaymoneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaysellprice != null">
      ebaysellprice = #{ebaysellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaypicture1 != null">
      ebaypicture1 = #{ebaypicture1,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaypicture2 != null">
      ebaypicture2 = #{ebaypicture2,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaypicture3 != null">
      ebaypicture3 = #{ebaypicture3,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaypicture4 != null">
      ebaypicture4 = #{ebaypicture4,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayviewitemurl != null">
      ebayviewitemurl = #{ebayviewitemurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaydecsr != null">
      ebaydecsr = #{ebaydecsr,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaypaymethod != null">
      ebaypaymethod = #{ebaypaymethod,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycategoryid != null">
      ebaycategoryid = #{ebaycategoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycategoryname != null">
      ebaycategoryname = #{ebaycategoryname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayquantity != null">
      ebayquantity = #{ebayquantity,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayquatitythresthod != null">
      ebayquatitythresthod = #{ebayquatitythresthod,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayquatitythod != null">
      ebayquatitythod = #{ebayquatitythod,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaysite != null">
      ebaysite = #{ebaysite,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshopname != null">
      ebayshopname = #{ebayshopname,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemstatus != null">
      ebayitemstatus = #{ebayitemstatus,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaytitle != null">
      ebaytitle = #{ebaytitle,jdbcType=VARCHAR} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=DECIMAL} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="keywordflag != null">
      keywordflag = #{keywordflag,jdbcType=DECIMAL} , 
    </if>
    <if test="categoryflag != null">
      categoryflag = #{categoryflag,jdbcType=DECIMAL} , 
    </if>
    <if test="shopflag != null">
      shopflag = #{shopflag,jdbcType=DECIMAL} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaycountry != null">
      ebaycountry = #{ebaycountry,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaygallerurl != null">
      ebaygallerurl = #{ebaygallerurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaystarttime != null">
      ebaystarttime = #{ebaystarttime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="ebayendtime != null">
      ebayendtime = #{ebayendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="ebaylocation != null">
      ebaylocation = #{ebaylocation,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemurl != null">
      ebayitemurl = #{ebayitemurl,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshopingtype != null">
      ebayshopingtype = #{ebayshopingtype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayshopingcost != null">
      ebayshopingcost = #{ebayshopingcost,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayshopingmoneytype != null">
      ebayshopingmoneytype = #{ebayshopingmoneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="ebaycurrentprice != null">
      ebaycurrentprice = #{ebaycurrentprice,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaydayleft != null">
      ebaydayleft = #{ebaydayleft,jdbcType=DECIMAL} , 
    </if>
    <if test="ebayhhleft != null">
      ebayhhleft = #{ebayhhleft,jdbcType=DECIMAL} , 
    </if>
    <if test="ebaymmleft != null">
      ebaymmleft = #{ebaymmleft,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbResultlist" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbResultlist">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbResultlist">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbResultlist">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>