<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSavenumtaskMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSavenumtask">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SOURCEID" jdbcType="VARCHAR" property="sourceid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="QUANTITY" jdbcType="DECIMAL" property="quantity" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHANGE" jdbcType="VARCHAR" property="change" />
    <result column="RELATIONID" jdbcType="VARCHAR" property="relationid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbSavenumtask">
    <result column="ORIGINDESCR" jdbcType="LONGVARCHAR" property="origindescr" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SOURCEID, PRODUCTID, QUANTITY, COSTPRICE, 'TYPE', OPER, CREATETIME, 'CHANGE', 
    RELATIONID
  </sql>
  <sql id="Blob_Column_List">
    ORIGINDESCR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_savenumtask
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_savenumtask
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbSavenumtask">
    insert into db_savenumtask (ID, SOURCEID, PRODUCTID, 
      QUANTITY, COSTPRICE, 'TYPE', 
      OPER, CREATETIME, 'CHANGE', 
      RELATIONID, ORIGINDESCR)
    values (#{id,jdbcType=DECIMAL}, #{sourceid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=DECIMAL}, #{costprice,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{change,jdbcType=VARCHAR}, 
      #{relationid,jdbcType=VARCHAR}, #{origindescr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbSavenumtask">
    insert into db_savenumtask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sourceid != null">
        SOURCEID,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="costprice != null">
        COSTPRICE,
      </if>
      <if test="type != null">
        'TYPE',
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="change != null">
        'CHANGE',
      </if>
      <if test="relationid != null">
        RELATIONID,
      </if>
      <if test="origindescr != null">
        ORIGINDESCR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="change != null">
        #{change,jdbcType=VARCHAR},
      </if>
      <if test="relationid != null">
        #{relationid,jdbcType=VARCHAR},
      </if>
      <if test="origindescr != null">
        #{origindescr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbSavenumtask">
    update db_savenumtask
    <set>
      <if test="sourceid != null">
        SOURCEID = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        COSTPRICE = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        'TYPE' = #{type,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="change != null">
        'CHANGE' = #{change,jdbcType=VARCHAR},
      </if>
      <if test="relationid != null">
        RELATIONID = #{relationid,jdbcType=VARCHAR},
      </if>
      <if test="origindescr != null">
        ORIGINDESCR = #{origindescr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbSavenumtask">
    update db_savenumtask
    set SOURCEID = #{sourceid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      'TYPE' = #{type,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      'CHANGE' = #{change,jdbcType=VARCHAR},
      RELATIONID = #{relationid,jdbcType=VARCHAR},
      ORIGINDESCR = #{origindescr,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbSavenumtask">
    update db_savenumtask
    set SOURCEID = #{sourceid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      'TYPE' = #{type,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      'CHANGE' = #{change,jdbcType=VARCHAR},
      RELATIONID = #{relationid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>