<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSelltostatMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSelltostat">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="CUSTOMEREMAIL" jdbcType="VARCHAR" property="customeremail" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATIONNAME" jdbcType="VARCHAR" property="locationname" />
    <result column="ALERTFLAG" jdbcType="VARCHAR" property="alertflag" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="WEIGHTAMOUNT" jdbcType="DECIMAL" property="weightamount" />
    <result column="PACKAGINGID" jdbcType="VARCHAR" property="packagingid" />
    <result column="PACKAGINGNAME" jdbcType="VARCHAR" property="packagingname" />
    <result column="ENGLISHNAME" jdbcType="VARCHAR" property="englishname" />
    <result column="INSURANCE" jdbcType="DECIMAL" property="insurance" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="PURCHASETIME" jdbcType="TIMESTAMP" property="purchasetime" />
    <result column="EXPRESSTIME" jdbcType="TIMESTAMP" property="expresstime" />
    <result column="INTOTAL" jdbcType="DECIMAL" property="intotal" />
    <result column="INEXPRESS" jdbcType="DECIMAL" property="inexpress" />
    <result column="INOTHER1" jdbcType="DECIMAL" property="inother1" />
    <result column="INOTHER2" jdbcType="DECIMAL" property="inother2" />
    <result column="OUTTOTAL" jdbcType="DECIMAL" property="outtotal" />
    <result column="OUTEXPRESS" jdbcType="DECIMAL" property="outexpress" />
    <result column="OUTEBAYFEE" jdbcType="DECIMAL" property="outebayfee" />
    <result column="OUTPAYPALFEE" jdbcType="DECIMAL" property="outpaypalfee" />
    <result column="OUTOTHER1" jdbcType="DECIMAL" property="outother1" />
    <result column="OUTOTHER2" jdbcType="DECIMAL" property="outother2" />
    <result column="MONEYRATE" jdbcType="DECIMAL" property="moneyrate" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OUTPACKAGINGFEE" jdbcType="DECIMAL" property="outpackagingfee" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, CORPID, ORDERID, PRODUCTID, PRODUCTNAME, ORDERNUM, SELLPRICE, COSTPRICE, 
    CUSTOMERID, CUSTOMERNAME, CUSTOMEREMAIL, STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, 
    ALERTFLAG, SHOPTYPEID, SHOPTYPE, OPER, OPERTIME, SELLOPER, PURCHASEOPER, EBAYITEMID, 
    TRADEID, TRANSACTIONID, MONEYTYPE, WEIGHT, WEIGHTAMOUNT, PACKAGINGID, PACKAGINGNAME, 
    ENGLISHNAME, INSURANCE, ORDERTIME, PURCHASETIME, EXPRESSTIME, INTOTAL, INEXPRESS, 
    INOTHER1, INOTHER2, OUTTOTAL, OUTEXPRESS, OUTEBAYFEE, OUTPAYPALFEE, OUTOTHER1, OUTOTHER2, 
    MONEYRATE, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, 
    RESERVE8, RESERVE9, RESERVE10, SOURCE, CREATETIME, OUTPACKAGINGFEE
    from DB_SELLTOSTAT
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, CORPID, ORDERID, PRODUCTID, PRODUCTNAME, ORDERNUM, SELLPRICE, COSTPRICE, 
    CUSTOMERID, CUSTOMERNAME, CUSTOMEREMAIL, STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, 
    ALERTFLAG, SHOPTYPEID, SHOPTYPE, OPER, OPERTIME, SELLOPER, PURCHASEOPER, EBAYITEMID, 
    TRADEID, TRANSACTIONID, MONEYTYPE, WEIGHT, WEIGHTAMOUNT, PACKAGINGID, PACKAGINGNAME, 
    ENGLISHNAME, INSURANCE, ORDERTIME, PURCHASETIME, EXPRESSTIME, INTOTAL, INEXPRESS, 
    INOTHER1, INOTHER2, OUTTOTAL, OUTEXPRESS, OUTEBAYFEE, OUTPAYPALFEE, OUTOTHER1, OUTOTHER2, 
    MONEYRATE, RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5, RESERVE6, RESERVE7, 
    RESERVE8, RESERVE9, RESERVE10, SOURCE, CREATETIME, OUTPACKAGINGFEE
    from DB_SELLTOSTAT
  </select>
  <sql id="TableName">
    DB_SELLTOSTAT
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{sellprice,jdbcType=DECIMAL} , 
     #{costprice,jdbcType=DECIMAL} , 
     #{customerid,jdbcType=VARCHAR} , 
     #{customername,jdbcType=VARCHAR} , 
     #{customeremail,jdbcType=VARCHAR} , 
     #{storageid,jdbcType=VARCHAR} , 
     #{storagename,jdbcType=VARCHAR} , 
     #{locationid,jdbcType=VARCHAR} , 
     #{locationname,jdbcType=VARCHAR} , 
     #{alertflag,jdbcType=VARCHAR} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{selloper,jdbcType=VARCHAR} , 
     #{purchaseoper,jdbcType=VARCHAR} , 
     #{ebayitemid,jdbcType=VARCHAR} , 
     #{tradeid,jdbcType=VARCHAR} , 
     #{transactionid,jdbcType=VARCHAR} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{weight,jdbcType=DECIMAL} , 
     #{weightamount,jdbcType=DECIMAL} , 
     #{packagingid,jdbcType=VARCHAR} , 
     #{packagingname,jdbcType=VARCHAR} , 
     #{englishname,jdbcType=VARCHAR} , 
     #{insurance,jdbcType=DECIMAL} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{purchasetime,jdbcType=TIMESTAMP} , 
     #{expresstime,jdbcType=TIMESTAMP} , 
     #{intotal,jdbcType=DECIMAL} , 
     #{inexpress,jdbcType=DECIMAL} , 
     #{inother1,jdbcType=DECIMAL} , 
     #{inother2,jdbcType=DECIMAL} , 
     #{outtotal,jdbcType=DECIMAL} , 
     #{outexpress,jdbcType=DECIMAL} , 
     #{outebayfee,jdbcType=DECIMAL} , 
     #{outpaypalfee,jdbcType=DECIMAL} , 
     #{outother1,jdbcType=DECIMAL} , 
     #{outother2,jdbcType=DECIMAL} , 
     #{moneyrate,jdbcType=DECIMAL} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=VARCHAR} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=VARCHAR} , 
     #{reserve9,jdbcType=VARCHAR} , 
     #{reserve10,jdbcType=VARCHAR} , 
     #{source,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{outpackagingfee,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SID , 
    CORPID , 
    ORDERID , 
    PRODUCTID , 
    PRODUCTNAME , 
    ORDERNUM , 
    SELLPRICE , 
    COSTPRICE , 
    CUSTOMERID , 
    CUSTOMERNAME , 
    CUSTOMEREMAIL , 
    STORAGEID , 
    STORAGENAME , 
    LOCATIONID , 
    LOCATIONNAME , 
    ALERTFLAG , 
    SHOPTYPEID , 
    SHOPTYPE , 
    OPER , 
    OPERTIME , 
    SELLOPER , 
    PURCHASEOPER , 
    EBAYITEMID , 
    TRADEID , 
    TRANSACTIONID , 
    MONEYTYPE , 
    WEIGHT , 
    WEIGHTAMOUNT , 
    PACKAGINGID , 
    PACKAGINGNAME , 
    ENGLISHNAME , 
    INSURANCE , 
    ORDERTIME , 
    PURCHASETIME , 
    EXPRESSTIME , 
    INTOTAL , 
    INEXPRESS , 
    INOTHER1 , 
    INOTHER2 , 
    OUTTOTAL , 
    OUTEXPRESS , 
    OUTEBAYFEE , 
    OUTPAYPALFEE , 
    OUTOTHER1 , 
    OUTOTHER2 , 
    MONEYRATE , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RESERVE9 , 
    RESERVE10 , 
    SOURCE , 
    CREATETIME , 
    OUTPACKAGINGFEE , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} and 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} and 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} and 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} and 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} and 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} and 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} and 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} and 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} and 
    </if>
    <if test="alertflag != null">
      alertflag = #{alertflag,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="selloper != null">
      selloper = #{selloper,jdbcType=VARCHAR} and 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} and 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} and 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} and 
    </if>
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} and 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} and 
    </if>
    <if test="weightamount != null">
      weightamount = #{weightamount,jdbcType=DECIMAL} and 
    </if>
    <if test="packagingid != null">
      packagingid = #{packagingid,jdbcType=VARCHAR} and 
    </if>
    <if test="packagingname != null">
      packagingname = #{packagingname,jdbcType=VARCHAR} and 
    </if>
    <if test="englishname != null">
      englishname = #{englishname,jdbcType=VARCHAR} and 
    </if>
    <if test="insurance != null">
      insurance = #{insurance,jdbcType=DECIMAL} and 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="purchasetime != null">
      purchasetime = #{purchasetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="expresstime != null">
      expresstime = #{expresstime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="intotal != null">
      intotal = #{intotal,jdbcType=DECIMAL} and 
    </if>
    <if test="inexpress != null">
      inexpress = #{inexpress,jdbcType=DECIMAL} and 
    </if>
    <if test="inother1 != null">
      inother1 = #{inother1,jdbcType=DECIMAL} and 
    </if>
    <if test="inother2 != null">
      inother2 = #{inother2,jdbcType=DECIMAL} and 
    </if>
    <if test="outtotal != null">
      outtotal = #{outtotal,jdbcType=DECIMAL} and 
    </if>
    <if test="outexpress != null">
      outexpress = #{outexpress,jdbcType=DECIMAL} and 
    </if>
    <if test="outebayfee != null">
      outebayfee = #{outebayfee,jdbcType=DECIMAL} and 
    </if>
    <if test="outpaypalfee != null">
      outpaypalfee = #{outpaypalfee,jdbcType=DECIMAL} and 
    </if>
    <if test="outother1 != null">
      outother1 = #{outother1,jdbcType=DECIMAL} and 
    </if>
    <if test="outother2 != null">
      outother2 = #{outother2,jdbcType=DECIMAL} and 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} and 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="outpackagingfee != null">
      outpackagingfee = #{outpackagingfee,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="sellprice != null">
      sellprice = #{sellprice,jdbcType=DECIMAL} , 
    </if>
    <if test="costprice != null">
      costprice = #{costprice,jdbcType=DECIMAL} , 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} , 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} , 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} , 
    </if>
    <if test="storageid != null">
      storageid = #{storageid,jdbcType=VARCHAR} , 
    </if>
    <if test="storagename != null">
      storagename = #{storagename,jdbcType=VARCHAR} , 
    </if>
    <if test="locationid != null">
      locationid = #{locationid,jdbcType=VARCHAR} , 
    </if>
    <if test="locationname != null">
      locationname = #{locationname,jdbcType=VARCHAR} , 
    </if>
    <if test="alertflag != null">
      alertflag = #{alertflag,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="selloper != null">
      selloper = #{selloper,jdbcType=VARCHAR} , 
    </if>
    <if test="purchaseoper != null">
      purchaseoper = #{purchaseoper,jdbcType=VARCHAR} , 
    </if>
    <if test="ebayitemid != null">
      ebayitemid = #{ebayitemid,jdbcType=VARCHAR} , 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} , 
    </if>
    <if test="transactionid != null">
      transactionid = #{transactionid,jdbcType=VARCHAR} , 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="weight != null">
      weight = #{weight,jdbcType=DECIMAL} , 
    </if>
    <if test="weightamount != null">
      weightamount = #{weightamount,jdbcType=DECIMAL} , 
    </if>
    <if test="packagingid != null">
      packagingid = #{packagingid,jdbcType=VARCHAR} , 
    </if>
    <if test="packagingname != null">
      packagingname = #{packagingname,jdbcType=VARCHAR} , 
    </if>
    <if test="englishname != null">
      englishname = #{englishname,jdbcType=VARCHAR} , 
    </if>
    <if test="insurance != null">
      insurance = #{insurance,jdbcType=DECIMAL} , 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="purchasetime != null">
      purchasetime = #{purchasetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="expresstime != null">
      expresstime = #{expresstime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="intotal != null">
      intotal = #{intotal,jdbcType=DECIMAL} , 
    </if>
    <if test="inexpress != null">
      inexpress = #{inexpress,jdbcType=DECIMAL} , 
    </if>
    <if test="inother1 != null">
      inother1 = #{inother1,jdbcType=DECIMAL} , 
    </if>
    <if test="inother2 != null">
      inother2 = #{inother2,jdbcType=DECIMAL} , 
    </if>
    <if test="outtotal != null">
      outtotal = #{outtotal,jdbcType=DECIMAL} , 
    </if>
    <if test="outexpress != null">
      outexpress = #{outexpress,jdbcType=DECIMAL} , 
    </if>
    <if test="outebayfee != null">
      outebayfee = #{outebayfee,jdbcType=DECIMAL} , 
    </if>
    <if test="outpaypalfee != null">
      outpaypalfee = #{outpaypalfee,jdbcType=DECIMAL} , 
    </if>
    <if test="outother1 != null">
      outother1 = #{outother1,jdbcType=DECIMAL} , 
    </if>
    <if test="outother2 != null">
      outother2 = #{outother2,jdbcType=DECIMAL} , 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve9 != null">
      reserve9 = #{reserve9,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve10 != null">
      reserve10 = #{reserve10,jdbcType=VARCHAR} , 
    </if>
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="outpackagingfee != null">
      outpackagingfee = #{outpackagingfee,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSelltostat" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSelltostat">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSelltostat">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSelltostat">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>