<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSelltostatMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSelltostat">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="SELLPRICE" jdbcType="DECIMAL" property="sellprice" />
    <result column="COSTPRICE" jdbcType="DECIMAL" property="costprice" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="CUSTOMEREMAIL" jdbcType="VARCHAR" property="customeremail" />
    <result column="STORAGEID" jdbcType="VARCHAR" property="storageid" />
    <result column="STORAGENAME" jdbcType="VARCHAR" property="storagename" />
    <result column="LOCATIONID" jdbcType="VARCHAR" property="locationid" />
    <result column="LOCATIONNAME" jdbcType="VARCHAR" property="locationname" />
    <result column="ALERTFLAG" jdbcType="VARCHAR" property="alertflag" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="PURCHASEOPER" jdbcType="VARCHAR" property="purchaseoper" />
    <result column="EBAYITEMID" jdbcType="VARCHAR" property="ebayitemid" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="TRANSACTIONID" jdbcType="VARCHAR" property="transactionid" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="WEIGHTAMOUNT" jdbcType="DECIMAL" property="weightamount" />
    <result column="PACKAGINGID" jdbcType="VARCHAR" property="packagingid" />
    <result column="PACKAGINGNAME" jdbcType="VARCHAR" property="packagingname" />
    <result column="INSURANCE" jdbcType="DECIMAL" property="insurance" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="PURCHASETIME" jdbcType="TIMESTAMP" property="purchasetime" />
    <result column="EXPRESSTIME" jdbcType="TIMESTAMP" property="expresstime" />
    <result column="INTOTAL" jdbcType="DECIMAL" property="intotal" />
    <result column="INEXPRESS" jdbcType="DECIMAL" property="inexpress" />
    <result column="INOTHER1" jdbcType="DECIMAL" property="inother1" />
    <result column="INOTHER2" jdbcType="DECIMAL" property="inother2" />
    <result column="OUTTOTAL" jdbcType="DECIMAL" property="outtotal" />
    <result column="OUTEXPRESS" jdbcType="DECIMAL" property="outexpress" />
    <result column="OUTEBAYFEE" jdbcType="DECIMAL" property="outebayfee" />
    <result column="OUTPAYPALFEE" jdbcType="DECIMAL" property="outpaypalfee" />
    <result column="OUTOTHER1" jdbcType="DECIMAL" property="outother1" />
    <result column="OUTOTHER2" jdbcType="DECIMAL" property="outother2" />
    <result column="MONEYRATE" jdbcType="DECIMAL" property="moneyrate" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="VARCHAR" property="reserve8" />
    <result column="RESERVE9" jdbcType="VARCHAR" property="reserve9" />
    <result column="RESERVE10" jdbcType="VARCHAR" property="reserve10" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OUTPACKAGINGFEE" jdbcType="DECIMAL" property="outpackagingfee" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbSelltostat">
    <result column="PRODUCTNAME" jdbcType="LONGVARCHAR" property="productname" />
    <result column="CUSTOMERNAME" jdbcType="LONGVARCHAR" property="customername" />
    <result column="ENGLISHNAME" jdbcType="LONGVARCHAR" property="englishname" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, CORPID, ORDERID, PRODUCTID, ORDERNUM, SELLPRICE, COSTPRICE, CUSTOMERID, CUSTOMEREMAIL, 
    STORAGEID, STORAGENAME, LOCATIONID, LOCATIONNAME, ALERTFLAG, SHOPTYPEID, SHOPTYPE, 
    OPER, OPERTIME, SELLOPER, PURCHASEOPER, EBAYITEMID, TRADEID, TRANSACTIONID, MONEYTYPE, 
    WEIGHT, WEIGHTAMOUNT, PACKAGINGID, PACKAGINGNAME, INSURANCE, ORDERTIME, PURCHASETIME, 
    EXPRESSTIME, INTOTAL, INEXPRESS, INOTHER1, INOTHER2, OUTTOTAL, OUTEXPRESS, OUTEBAYFEE, 
    OUTPAYPALFEE, OUTOTHER1, OUTOTHER2, MONEYRATE, RESERVE1, RESERVE2, RESERVE3, RESERVE4, 
    RESERVE5, RESERVE6, RESERVE7, RESERVE8, RESERVE9, RESERVE10, 'SOURCE', CREATETIME, 
    OUTPACKAGINGFEE
  </sql>
  <sql id="Blob_Column_List">
    PRODUCTNAME, CUSTOMERNAME, ENGLISHNAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_selltostat
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_selltostat
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbSelltostat">
    insert into db_selltostat (SID, CORPID, ORDERID, 
      PRODUCTID, ORDERNUM, SELLPRICE, 
      COSTPRICE, CUSTOMERID, CUSTOMEREMAIL, 
      STORAGEID, STORAGENAME, LOCATIONID, 
      LOCATIONNAME, ALERTFLAG, SHOPTYPEID, 
      SHOPTYPE, OPER, OPERTIME, 
      SELLOPER, PURCHASEOPER, EBAYITEMID, 
      TRADEID, TRANSACTIONID, MONEYTYPE, 
      WEIGHT, WEIGHTAMOUNT, PACKAGINGID, 
      PACKAGINGNAME, INSURANCE, ORDERTIME, 
      PURCHASETIME, EXPRESSTIME, INTOTAL, 
      INEXPRESS, INOTHER1, INOTHER2, 
      OUTTOTAL, OUTEXPRESS, OUTEBAYFEE, 
      OUTPAYPALFEE, OUTOTHER1, OUTOTHER2, 
      MONEYRATE, RESERVE1, RESERVE2, 
      RESERVE3, RESERVE4, RESERVE5, 
      RESERVE6, RESERVE7, RESERVE8, 
      RESERVE9, RESERVE10, 'SOURCE', 
      CREATETIME, OUTPACKAGINGFEE, PRODUCTNAME, 
      CUSTOMERNAME, ENGLISHNAME)
    values (#{sid,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, 
      #{productid,jdbcType=VARCHAR}, #{ordernum,jdbcType=DECIMAL}, #{sellprice,jdbcType=DECIMAL}, 
      #{costprice,jdbcType=DECIMAL}, #{customerid,jdbcType=VARCHAR}, #{customeremail,jdbcType=VARCHAR}, 
      #{storageid,jdbcType=VARCHAR}, #{storagename,jdbcType=VARCHAR}, #{locationid,jdbcType=VARCHAR}, 
      #{locationname,jdbcType=VARCHAR}, #{alertflag,jdbcType=VARCHAR}, #{shoptypeid,jdbcType=VARCHAR}, 
      #{shoptype,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{selloper,jdbcType=VARCHAR}, #{purchaseoper,jdbcType=VARCHAR}, #{ebayitemid,jdbcType=VARCHAR}, 
      #{tradeid,jdbcType=VARCHAR}, #{transactionid,jdbcType=VARCHAR}, #{moneytype,jdbcType=VARCHAR}, 
      #{weight,jdbcType=DECIMAL}, #{weightamount,jdbcType=DECIMAL}, #{packagingid,jdbcType=VARCHAR}, 
      #{packagingname,jdbcType=VARCHAR}, #{insurance,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{purchasetime,jdbcType=TIMESTAMP}, #{expresstime,jdbcType=TIMESTAMP}, #{intotal,jdbcType=DECIMAL}, 
      #{inexpress,jdbcType=DECIMAL}, #{inother1,jdbcType=DECIMAL}, #{inother2,jdbcType=DECIMAL}, 
      #{outtotal,jdbcType=DECIMAL}, #{outexpress,jdbcType=DECIMAL}, #{outebayfee,jdbcType=DECIMAL}, 
      #{outpaypalfee,jdbcType=DECIMAL}, #{outother1,jdbcType=DECIMAL}, #{outother2,jdbcType=DECIMAL}, 
      #{moneyrate,jdbcType=DECIMAL}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, #{reserve5,jdbcType=VARCHAR}, 
      #{reserve6,jdbcType=DECIMAL}, #{reserve7,jdbcType=DECIMAL}, #{reserve8,jdbcType=VARCHAR}, 
      #{reserve9,jdbcType=VARCHAR}, #{reserve10,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{outpackagingfee,jdbcType=DECIMAL}, #{productname,jdbcType=LONGVARCHAR}, 
      #{customername,jdbcType=LONGVARCHAR}, #{englishname,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbSelltostat">
    insert into db_selltostat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="sellprice != null">
        SELLPRICE,
      </if>
      <if test="costprice != null">
        COSTPRICE,
      </if>
      <if test="customerid != null">
        CUSTOMERID,
      </if>
      <if test="customeremail != null">
        CUSTOMEREMAIL,
      </if>
      <if test="storageid != null">
        STORAGEID,
      </if>
      <if test="storagename != null">
        STORAGENAME,
      </if>
      <if test="locationid != null">
        LOCATIONID,
      </if>
      <if test="locationname != null">
        LOCATIONNAME,
      </if>
      <if test="alertflag != null">
        ALERTFLAG,
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID,
      </if>
      <if test="shoptype != null">
        SHOPTYPE,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="selloper != null">
        SELLOPER,
      </if>
      <if test="purchaseoper != null">
        PURCHASEOPER,
      </if>
      <if test="ebayitemid != null">
        EBAYITEMID,
      </if>
      <if test="tradeid != null">
        TRADEID,
      </if>
      <if test="transactionid != null">
        TRANSACTIONID,
      </if>
      <if test="moneytype != null">
        MONEYTYPE,
      </if>
      <if test="weight != null">
        WEIGHT,
      </if>
      <if test="weightamount != null">
        WEIGHTAMOUNT,
      </if>
      <if test="packagingid != null">
        PACKAGINGID,
      </if>
      <if test="packagingname != null">
        PACKAGINGNAME,
      </if>
      <if test="insurance != null">
        INSURANCE,
      </if>
      <if test="ordertime != null">
        ORDERTIME,
      </if>
      <if test="purchasetime != null">
        PURCHASETIME,
      </if>
      <if test="expresstime != null">
        EXPRESSTIME,
      </if>
      <if test="intotal != null">
        INTOTAL,
      </if>
      <if test="inexpress != null">
        INEXPRESS,
      </if>
      <if test="inother1 != null">
        INOTHER1,
      </if>
      <if test="inother2 != null">
        INOTHER2,
      </if>
      <if test="outtotal != null">
        OUTTOTAL,
      </if>
      <if test="outexpress != null">
        OUTEXPRESS,
      </if>
      <if test="outebayfee != null">
        OUTEBAYFEE,
      </if>
      <if test="outpaypalfee != null">
        OUTPAYPALFEE,
      </if>
      <if test="outother1 != null">
        OUTOTHER1,
      </if>
      <if test="outother2 != null">
        OUTOTHER2,
      </if>
      <if test="moneyrate != null">
        MONEYRATE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
      <if test="reserve6 != null">
        RESERVE6,
      </if>
      <if test="reserve7 != null">
        RESERVE7,
      </if>
      <if test="reserve8 != null">
        RESERVE8,
      </if>
      <if test="reserve9 != null">
        RESERVE9,
      </if>
      <if test="reserve10 != null">
        RESERVE10,
      </if>
      <if test="source != null">
        'SOURCE',
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="outpackagingfee != null">
        OUTPACKAGINGFEE,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="customername != null">
        CUSTOMERNAME,
      </if>
      <if test="englishname != null">
        ENGLISHNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="sellprice != null">
        #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customeremail != null">
        #{customeremail,jdbcType=VARCHAR},
      </if>
      <if test="storageid != null">
        #{storageid,jdbcType=VARCHAR},
      </if>
      <if test="storagename != null">
        #{storagename,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null">
        #{locationid,jdbcType=VARCHAR},
      </if>
      <if test="locationname != null">
        #{locationname,jdbcType=VARCHAR},
      </if>
      <if test="alertflag != null">
        #{alertflag,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="shoptype != null">
        #{shoptype,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="selloper != null">
        #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseoper != null">
        #{purchaseoper,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemid != null">
        #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        #{tradeid,jdbcType=VARCHAR},
      </if>
      <if test="transactionid != null">
        #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightamount != null">
        #{weightamount,jdbcType=DECIMAL},
      </if>
      <if test="packagingid != null">
        #{packagingid,jdbcType=VARCHAR},
      </if>
      <if test="packagingname != null">
        #{packagingname,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        #{insurance,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasetime != null">
        #{purchasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="expresstime != null">
        #{expresstime,jdbcType=TIMESTAMP},
      </if>
      <if test="intotal != null">
        #{intotal,jdbcType=DECIMAL},
      </if>
      <if test="inexpress != null">
        #{inexpress,jdbcType=DECIMAL},
      </if>
      <if test="inother1 != null">
        #{inother1,jdbcType=DECIMAL},
      </if>
      <if test="inother2 != null">
        #{inother2,jdbcType=DECIMAL},
      </if>
      <if test="outtotal != null">
        #{outtotal,jdbcType=DECIMAL},
      </if>
      <if test="outexpress != null">
        #{outexpress,jdbcType=DECIMAL},
      </if>
      <if test="outebayfee != null">
        #{outebayfee,jdbcType=DECIMAL},
      </if>
      <if test="outpaypalfee != null">
        #{outpaypalfee,jdbcType=DECIMAL},
      </if>
      <if test="outother1 != null">
        #{outother1,jdbcType=DECIMAL},
      </if>
      <if test="outother2 != null">
        #{outother2,jdbcType=DECIMAL},
      </if>
      <if test="moneyrate != null">
        #{moneyrate,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null">
        #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null">
        #{reserve9,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null">
        #{reserve10,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="outpackagingfee != null">
        #{outpackagingfee,jdbcType=DECIMAL},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=LONGVARCHAR},
      </if>
      <if test="englishname != null">
        #{englishname,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbSelltostat">
    update db_selltostat
    <set>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="sellprice != null">
        SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        COSTPRICE = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null">
        CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customeremail != null">
        CUSTOMEREMAIL = #{customeremail,jdbcType=VARCHAR},
      </if>
      <if test="storageid != null">
        STORAGEID = #{storageid,jdbcType=VARCHAR},
      </if>
      <if test="storagename != null">
        STORAGENAME = #{storagename,jdbcType=VARCHAR},
      </if>
      <if test="locationid != null">
        LOCATIONID = #{locationid,jdbcType=VARCHAR},
      </if>
      <if test="locationname != null">
        LOCATIONNAME = #{locationname,jdbcType=VARCHAR},
      </if>
      <if test="alertflag != null">
        ALERTFLAG = #{alertflag,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="shoptype != null">
        SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="selloper != null">
        SELLOPER = #{selloper,jdbcType=VARCHAR},
      </if>
      <if test="purchaseoper != null">
        PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      </if>
      <if test="ebayitemid != null">
        EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      </if>
      <if test="tradeid != null">
        TRADEID = #{tradeid,jdbcType=VARCHAR},
      </if>
      <if test="transactionid != null">
        TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightamount != null">
        WEIGHTAMOUNT = #{weightamount,jdbcType=DECIMAL},
      </if>
      <if test="packagingid != null">
        PACKAGINGID = #{packagingid,jdbcType=VARCHAR},
      </if>
      <if test="packagingname != null">
        PACKAGINGNAME = #{packagingname,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        INSURANCE = #{insurance,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        ORDERTIME = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasetime != null">
        PURCHASETIME = #{purchasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="expresstime != null">
        EXPRESSTIME = #{expresstime,jdbcType=TIMESTAMP},
      </if>
      <if test="intotal != null">
        INTOTAL = #{intotal,jdbcType=DECIMAL},
      </if>
      <if test="inexpress != null">
        INEXPRESS = #{inexpress,jdbcType=DECIMAL},
      </if>
      <if test="inother1 != null">
        INOTHER1 = #{inother1,jdbcType=DECIMAL},
      </if>
      <if test="inother2 != null">
        INOTHER2 = #{inother2,jdbcType=DECIMAL},
      </if>
      <if test="outtotal != null">
        OUTTOTAL = #{outtotal,jdbcType=DECIMAL},
      </if>
      <if test="outexpress != null">
        OUTEXPRESS = #{outexpress,jdbcType=DECIMAL},
      </if>
      <if test="outebayfee != null">
        OUTEBAYFEE = #{outebayfee,jdbcType=DECIMAL},
      </if>
      <if test="outpaypalfee != null">
        OUTPAYPALFEE = #{outpaypalfee,jdbcType=DECIMAL},
      </if>
      <if test="outother1 != null">
        OUTOTHER1 = #{outother1,jdbcType=DECIMAL},
      </if>
      <if test="outother2 != null">
        OUTOTHER2 = #{outother2,jdbcType=DECIMAL},
      </if>
      <if test="moneyrate != null">
        MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
      <if test="reserve6 != null">
        RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      </if>
      <if test="reserve7 != null">
        RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      </if>
      <if test="reserve8 != null">
        RESERVE8 = #{reserve8,jdbcType=VARCHAR},
      </if>
      <if test="reserve9 != null">
        RESERVE9 = #{reserve9,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null">
        RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        'SOURCE' = #{source,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="outpackagingfee != null">
        OUTPACKAGINGFEE = #{outpackagingfee,jdbcType=DECIMAL},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="customername != null">
        CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR},
      </if>
      <if test="englishname != null">
        ENGLISHNAME = #{englishname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbSelltostat">
    update db_selltostat
    set CORPID = #{corpid,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      CUSTOMEREMAIL = #{customeremail,jdbcType=VARCHAR},
      STORAGEID = #{storageid,jdbcType=VARCHAR},
      STORAGENAME = #{storagename,jdbcType=VARCHAR},
      LOCATIONID = #{locationid,jdbcType=VARCHAR},
      LOCATIONNAME = #{locationname,jdbcType=VARCHAR},
      ALERTFLAG = #{alertflag,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      TRADEID = #{tradeid,jdbcType=VARCHAR},
      TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      WEIGHTAMOUNT = #{weightamount,jdbcType=DECIMAL},
      PACKAGINGID = #{packagingid,jdbcType=VARCHAR},
      PACKAGINGNAME = #{packagingname,jdbcType=VARCHAR},
      INSURANCE = #{insurance,jdbcType=DECIMAL},
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP},
      PURCHASETIME = #{purchasetime,jdbcType=TIMESTAMP},
      EXPRESSTIME = #{expresstime,jdbcType=TIMESTAMP},
      INTOTAL = #{intotal,jdbcType=DECIMAL},
      INEXPRESS = #{inexpress,jdbcType=DECIMAL},
      INOTHER1 = #{inother1,jdbcType=DECIMAL},
      INOTHER2 = #{inother2,jdbcType=DECIMAL},
      OUTTOTAL = #{outtotal,jdbcType=DECIMAL},
      OUTEXPRESS = #{outexpress,jdbcType=DECIMAL},
      OUTEBAYFEE = #{outebayfee,jdbcType=DECIMAL},
      OUTPAYPALFEE = #{outpaypalfee,jdbcType=DECIMAL},
      OUTOTHER1 = #{outother1,jdbcType=DECIMAL},
      OUTOTHER2 = #{outother2,jdbcType=DECIMAL},
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=VARCHAR},
      RESERVE9 = #{reserve9,jdbcType=VARCHAR},
      RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      'SOURCE' = #{source,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      OUTPACKAGINGFEE = #{outpackagingfee,jdbcType=DECIMAL},
      PRODUCTNAME = #{productname,jdbcType=LONGVARCHAR},
      CUSTOMERNAME = #{customername,jdbcType=LONGVARCHAR},
      ENGLISHNAME = #{englishname,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbSelltostat">
    update db_selltostat
    set CORPID = #{corpid,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      SELLPRICE = #{sellprice,jdbcType=DECIMAL},
      COSTPRICE = #{costprice,jdbcType=DECIMAL},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      CUSTOMEREMAIL = #{customeremail,jdbcType=VARCHAR},
      STORAGEID = #{storageid,jdbcType=VARCHAR},
      STORAGENAME = #{storagename,jdbcType=VARCHAR},
      LOCATIONID = #{locationid,jdbcType=VARCHAR},
      LOCATIONNAME = #{locationname,jdbcType=VARCHAR},
      ALERTFLAG = #{alertflag,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      SELLOPER = #{selloper,jdbcType=VARCHAR},
      PURCHASEOPER = #{purchaseoper,jdbcType=VARCHAR},
      EBAYITEMID = #{ebayitemid,jdbcType=VARCHAR},
      TRADEID = #{tradeid,jdbcType=VARCHAR},
      TRANSACTIONID = #{transactionid,jdbcType=VARCHAR},
      MONEYTYPE = #{moneytype,jdbcType=VARCHAR},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      WEIGHTAMOUNT = #{weightamount,jdbcType=DECIMAL},
      PACKAGINGID = #{packagingid,jdbcType=VARCHAR},
      PACKAGINGNAME = #{packagingname,jdbcType=VARCHAR},
      INSURANCE = #{insurance,jdbcType=DECIMAL},
      ORDERTIME = #{ordertime,jdbcType=TIMESTAMP},
      PURCHASETIME = #{purchasetime,jdbcType=TIMESTAMP},
      EXPRESSTIME = #{expresstime,jdbcType=TIMESTAMP},
      INTOTAL = #{intotal,jdbcType=DECIMAL},
      INEXPRESS = #{inexpress,jdbcType=DECIMAL},
      INOTHER1 = #{inother1,jdbcType=DECIMAL},
      INOTHER2 = #{inother2,jdbcType=DECIMAL},
      OUTTOTAL = #{outtotal,jdbcType=DECIMAL},
      OUTEXPRESS = #{outexpress,jdbcType=DECIMAL},
      OUTEBAYFEE = #{outebayfee,jdbcType=DECIMAL},
      OUTPAYPALFEE = #{outpaypalfee,jdbcType=DECIMAL},
      OUTOTHER1 = #{outother1,jdbcType=DECIMAL},
      OUTOTHER2 = #{outother2,jdbcType=DECIMAL},
      MONEYRATE = #{moneyrate,jdbcType=DECIMAL},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      RESERVE6 = #{reserve6,jdbcType=DECIMAL},
      RESERVE7 = #{reserve7,jdbcType=DECIMAL},
      RESERVE8 = #{reserve8,jdbcType=VARCHAR},
      RESERVE9 = #{reserve9,jdbcType=VARCHAR},
      RESERVE10 = #{reserve10,jdbcType=VARCHAR},
      'SOURCE' = #{source,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      OUTPACKAGINGFEE = #{outpackagingfee,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>