<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSendmessageMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSendmessage">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEOPER" jdbcType="VARCHAR" property="createoper" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CHECKOPER" jdbcType="VARCHAR" property="checkoper" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="RECORDENUM" jdbcType="DECIMAL" property="recordenum" />
    <result column="SUCCESSNUM" jdbcType="DECIMAL" property="successnum" />
    <result column="ERRORNUM" jdbcType="DECIMAL" property="errornum" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="DECIMAL" property="reserve5" />
    <result column="RESERVE6" jdbcType="DECIMAL" property="reserve6" />
    <result column="RESERVE7" jdbcType="DECIMAL" property="reserve7" />
    <result column="RESERVE8" jdbcType="DECIMAL" property="reserve8" />
    <result column="RETURNID" jdbcType="DECIMAL" property="returnid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, GROUPID, CREATETIME, CREATEOPER, STATUS, CHECKOPER, CHECKTIME, 
    RECORDENUM, SUCCESSNUM, ERRORNUM, SENDTIME, RESERVE1, RESERVE2, RESERVE3, RESERVE4, 
    RESERVE5, RESERVE6, RESERVE7, RESERVE8, RETURNID
    from DB_SENDMESSAGE
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, TITLE, GROUPID, CREATETIME, CREATEOPER, STATUS, CHECKOPER, CHECKTIME, 
    RECORDENUM, SUCCESSNUM, ERRORNUM, SENDTIME, RESERVE1, RESERVE2, RESERVE3, RESERVE4, 
    RESERVE5, RESERVE6, RESERVE7, RESERVE8, RETURNID
    from DB_SENDMESSAGE
  </select>
  <sql id="TableName">
    DB_SENDMESSAGE
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{title,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{createoper,jdbcType=VARCHAR} , 
     #{status,jdbcType=VARCHAR} , 
     #{checkoper,jdbcType=VARCHAR} , 
     #{checktime,jdbcType=TIMESTAMP} , 
     #{recordenum,jdbcType=DECIMAL} , 
     #{successnum,jdbcType=DECIMAL} , 
     #{errornum,jdbcType=DECIMAL} , 
     #{sendtime,jdbcType=TIMESTAMP} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
     #{reserve5,jdbcType=DECIMAL} , 
     #{reserve6,jdbcType=DECIMAL} , 
     #{reserve7,jdbcType=DECIMAL} , 
     #{reserve8,jdbcType=DECIMAL} , 
     #{returnid,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    TITLE , 
    GROUPID , 
    CREATETIME , 
    CREATEOPER , 
    STATUS , 
    CHECKOPER , 
    CHECKTIME , 
    RECORDENUM , 
    SUCCESSNUM , 
    ERRORNUM , 
    SENDTIME , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
    RESERVE5 , 
    RESERVE6 , 
    RESERVE7 , 
    RESERVE8 , 
    RETURNID , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} and 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="recordenum != null">
      recordenum = #{recordenum,jdbcType=DECIMAL} and 
    </if>
    <if test="successnum != null">
      successnum = #{successnum,jdbcType=DECIMAL} and 
    </if>
    <if test="errornum != null">
      errornum = #{errornum,jdbcType=DECIMAL} and 
    </if>
    <if test="sendtime != null">
      sendtime = #{sendtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} and 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} and 
    </if>
    <if test="returnid != null">
      returnid = #{returnid,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="title != null">
      title = #{title,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createoper != null">
      createoper = #{createoper,jdbcType=VARCHAR} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="checkoper != null">
      checkoper = #{checkoper,jdbcType=VARCHAR} , 
    </if>
    <if test="checktime != null">
      checktime = #{checktime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="recordenum != null">
      recordenum = #{recordenum,jdbcType=DECIMAL} , 
    </if>
    <if test="successnum != null">
      successnum = #{successnum,jdbcType=DECIMAL} , 
    </if>
    <if test="errornum != null">
      errornum = #{errornum,jdbcType=DECIMAL} , 
    </if>
    <if test="sendtime != null">
      sendtime = #{sendtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve5 != null">
      reserve5 = #{reserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve6 != null">
      reserve6 = #{reserve6,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve7 != null">
      reserve7 = #{reserve7,jdbcType=DECIMAL} , 
    </if>
    <if test="reserve8 != null">
      reserve8 = #{reserve8,jdbcType=DECIMAL} , 
    </if>
    <if test="returnid != null">
      returnid = #{returnid,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSendmessage" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSendmessage">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSendmessage">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSendmessage">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>