<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSellshopdescrMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSellshopdescr">
    <id column="SEQUENCEID" jdbcType="DECIMAL" property="sequenceid" />
    <result column="SELLSKU" jdbcType="VARCHAR" property="sellsku" />
    <result column="SHOPUSERID" jdbcType="VARCHAR" property="shopuserid" />
    <result column="SELLSHOPDESCRID" jdbcType="DECIMAL" property="sellshopdescrid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, SHOPUSERID, SELLSHOPDESCRID
    from DB_SELLSHOPDESCR
    where SEQUENCEID = #{sequenceid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, SELLSKU, SHOPUSERID, SELLSHOPDESCRID
    from DB_SELLSHOPDESCR
  </select>
  <sql id="TableName">
    DB_SELLSHOPDESCR
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=DECIMAL} , 
     #{sellsku,jdbcType=VARCHAR} , 
     #{shopuserid,jdbcType=VARCHAR} , 
     #{sellshopdescrid,jdbcType=DECIMAL} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    SELLSKU , 
    SHOPUSERID , 
    SELLSHOPDESCRID , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} and 
    </if>
    <if test="sellsku != null">
      sellsku = #{sellsku,jdbcType=VARCHAR} and 
    </if>
    <if test="shopuserid != null">
      shopuserid = #{shopuserid,jdbcType=VARCHAR} and 
    </if>
    <if test="sellshopdescrid != null">
      sellshopdescrid = #{sellshopdescrid,jdbcType=DECIMAL} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=DECIMAL} , 
    </if>
    <if test="sellsku != null">
      sellsku = #{sellsku,jdbcType=VARCHAR} , 
    </if>
    <if test="shopuserid != null">
      shopuserid = #{shopuserid,jdbcType=VARCHAR} , 
    </if>
    <if test="sellshopdescrid != null">
      sellshopdescrid = #{sellshopdescrid,jdbcType=DECIMAL} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSellshopdescr" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="BigDecimal">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSellshopdescr">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSellshopdescr">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSellshopdescr">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>