<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSellResultMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSellResult">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="REFUNDTYPE" jdbcType="VARCHAR" property="refundtype" />
    <result column="REFUNDNUM" jdbcType="VARCHAR" property="refundnum" />
    <result column="REFUNDMONEY" jdbcType="VARCHAR" property="refundmoney" />
    <result column="REFUNDTIME" jdbcType="VARCHAR" property="refundtime" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="OPER2" jdbcType="VARCHAR" property="oper2" />
    <result column="RETRYTYPE" jdbcType="VARCHAR" property="retrytype" />
    <result column="RETRYNUM" jdbcType="VARCHAR" property="retrynum" />
    <result column="RETRYTRADEID" jdbcType="VARCHAR" property="retrytradeid" />
    <result column="RETRYTIME" jdbcType="VARCHAR" property="retrytime" />
    <result column="RETRYCAUSE" jdbcType="VARCHAR" property="retrycause" />
    <result column="OPER3" jdbcType="VARCHAR" property="oper3" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, REFUNDTYPE, REFUNDNUM, REFUNDMONEY, REFUNDTIME, OPER1, 
    OPER2, RETRYTYPE, RETRYNUM, RETRYTRADEID, RETRYTIME, RETRYCAUSE, OPER3
    from DB_SELL_RESULT
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, ORDERID, REFUNDTYPE, REFUNDNUM, REFUNDMONEY, REFUNDTIME, OPER1, 
    OPER2, RETRYTYPE, RETRYNUM, RETRYTRADEID, RETRYTIME, RETRYCAUSE, OPER3
    from DB_SELL_RESULT
  </select>
  <sql id="TableName">
    DB_SELL_RESULT
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{orderid,jdbcType=VARCHAR} , 
     #{refundtype,jdbcType=VARCHAR} , 
     #{refundnum,jdbcType=VARCHAR} , 
     #{refundmoney,jdbcType=VARCHAR} , 
     #{refundtime,jdbcType=VARCHAR} , 
     #{oper1,jdbcType=VARCHAR} , 
     #{oper2,jdbcType=VARCHAR} , 
     #{retrytype,jdbcType=VARCHAR} , 
     #{retrynum,jdbcType=VARCHAR} , 
     #{retrytradeid,jdbcType=VARCHAR} , 
     #{retrytime,jdbcType=VARCHAR} , 
     #{retrycause,jdbcType=VARCHAR} , 
     #{oper3,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    ORDERID , 
    REFUNDTYPE , 
    REFUNDNUM , 
    REFUNDMONEY , 
    REFUNDTIME , 
    OPER1 , 
    OPER2 , 
    RETRYTYPE , 
    RETRYNUM , 
    RETRYTRADEID , 
    RETRYTIME , 
    RETRYCAUSE , 
    OPER3 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="refundtype != null">
      refundtype = #{refundtype,jdbcType=VARCHAR} and 
    </if>
    <if test="refundnum != null">
      refundnum = #{refundnum,jdbcType=VARCHAR} and 
    </if>
    <if test="refundmoney != null">
      refundmoney = #{refundmoney,jdbcType=VARCHAR} and 
    </if>
    <if test="refundtime != null">
      refundtime = #{refundtime,jdbcType=VARCHAR} and 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} and 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} and 
    </if>
    <if test="retrytype != null">
      retrytype = #{retrytype,jdbcType=VARCHAR} and 
    </if>
    <if test="retrynum != null">
      retrynum = #{retrynum,jdbcType=VARCHAR} and 
    </if>
    <if test="retrytradeid != null">
      retrytradeid = #{retrytradeid,jdbcType=VARCHAR} and 
    </if>
    <if test="retrytime != null">
      retrytime = #{retrytime,jdbcType=VARCHAR} and 
    </if>
    <if test="retrycause != null">
      retrycause = #{retrycause,jdbcType=VARCHAR} and 
    </if>
    <if test="oper3 != null">
      oper3 = #{oper3,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="refundtype != null">
      refundtype = #{refundtype,jdbcType=VARCHAR} , 
    </if>
    <if test="refundnum != null">
      refundnum = #{refundnum,jdbcType=VARCHAR} , 
    </if>
    <if test="refundmoney != null">
      refundmoney = #{refundmoney,jdbcType=VARCHAR} , 
    </if>
    <if test="refundtime != null">
      refundtime = #{refundtime,jdbcType=VARCHAR} , 
    </if>
    <if test="oper1 != null">
      oper1 = #{oper1,jdbcType=VARCHAR} , 
    </if>
    <if test="oper2 != null">
      oper2 = #{oper2,jdbcType=VARCHAR} , 
    </if>
    <if test="retrytype != null">
      retrytype = #{retrytype,jdbcType=VARCHAR} , 
    </if>
    <if test="retrynum != null">
      retrynum = #{retrynum,jdbcType=VARCHAR} , 
    </if>
    <if test="retrytradeid != null">
      retrytradeid = #{retrytradeid,jdbcType=VARCHAR} , 
    </if>
    <if test="retrytime != null">
      retrytime = #{retrytime,jdbcType=VARCHAR} , 
    </if>
    <if test="retrycause != null">
      retrycause = #{retrycause,jdbcType=VARCHAR} , 
    </if>
    <if test="oper3 != null">
      oper3 = #{oper3,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSellResult" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSellResult">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSellResult">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSellResult">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>