<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShiptaskOrdertypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShiptaskOrdertype">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORDERTYPEID" jdbcType="VARCHAR" property="ordertypeid" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ORDERTYPEID
    from DB_SHIPTASK_ORDERTYPE
  </select>
  <sql id="TableName">
    DB_SHIPTASK_ORDERTYPE
  </sql>
  <sql id="Values">
     #{id,jdbcType=DECIMAL} , 
     #{ordertypeid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ID , 
    ORDERTYPEID , 
  </sql>
  <sql id="Criteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} and 
    </if>
    <if test="ordertypeid != null">
      ordertypeid = #{ordertypeid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="id != null">
      id = #{id,jdbcType=DECIMAL} , 
    </if>
    <if test="ordertypeid != null">
      ordertypeid = #{ordertypeid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbShiptaskOrdertype" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Short">
    delete from <include refid="TableName"/> where ID=#{ID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbShiptaskOrdertype">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbShiptaskOrdertype">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbShiptaskOrdertype">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>