<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbShopifyproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbShopifyproduct">
    <id column="VARIANTID" jdbcType="VARCHAR" property="variantid" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select VARIANTID, SKU, PRODUCTID
    from DB_SHOPIFYPRODUCT
    where VARIANTID = #{variantid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select VARIANTID, SKU, PRODUCTID
    from DB_SHOPIFYPRODUCT
  </select>
  <sql id="TableName">
    DB_SHOPIFYPRODUCT
  </sql>
  <sql id="Values">
     #{variantid,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    VARIANTID , 
    SKU , 
    PRODUCTID , 
  </sql>
  <sql id="Criteria">
    <if test="variantid != null">
      variantid = #{variantid,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="variantid != null">
      variantid = #{variantid,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbShopifyproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where VARIANTID=#{VARIANTID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbShopifyproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbShopifyproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbShopifyproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>