<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSmtexpressolMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSmtexpressol">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAMECN" jdbcType="VARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="VARCHAR" property="nameen" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="WAREHOUSECODE" jdbcType="VARCHAR" property="warehousecode" />
    <result column="ORDERTYPE" jdbcType="VARCHAR" property="ordertype" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select CODE, NAMECN, NAMEEN, COUNTRY, OPENFLAG, ADDRESS, RESERVE1, RESERVE2, RESERVE3, 
    WAREHOUSECODE, ORDERTYPE
    from DB_SMTEXPRESSOL
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CODE, NAMECN, NAMEEN, COUNTRY, OPENFLAG, ADDRESS, RESERVE1, RESERVE2, RESERVE3, 
    WAREHOUSECODE, ORDERTYPE
    from DB_SMTEXPRESSOL
  </select>
  <sql id="TableName">
    DB_SMTEXPRESSOL
  </sql>
  <sql id="Values">
     #{code,jdbcType=VARCHAR} , 
     #{namecn,jdbcType=VARCHAR} , 
     #{nameen,jdbcType=VARCHAR} , 
     #{country,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{address,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{warehousecode,jdbcType=VARCHAR} , 
     #{ordertype,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    CODE , 
    NAMECN , 
    NAMEEN , 
    COUNTRY , 
    OPENFLAG , 
    ADDRESS , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    WAREHOUSECODE , 
    ORDERTYPE , 
  </sql>
  <sql id="Criteria">
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} and 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} and 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} and 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="address != null">
      address = #{address,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="warehousecode != null">
      warehousecode = #{warehousecode,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertype != null">
      ordertype = #{ordertype,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="code != null">
      code = #{code,jdbcType=VARCHAR} , 
    </if>
    <if test="namecn != null">
      namecn = #{namecn,jdbcType=VARCHAR} , 
    </if>
    <if test="nameen != null">
      nameen = #{nameen,jdbcType=VARCHAR} , 
    </if>
    <if test="country != null">
      country = #{country,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="address != null">
      address = #{address,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="warehousecode != null">
      warehousecode = #{warehousecode,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertype != null">
      ordertype = #{ordertype,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSmtexpressol" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where CODE=#{CODE}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSmtexpressol">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSmtexpressol">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSmtexpressol">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>