<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbSmtneworderMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbSmtneworder">
    <id column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="TRADEID" jdbcType="VARCHAR" property="tradeid" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="BUYERID" jdbcType="VARCHAR" property="buyerid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="CUSTOMERNAME" jdbcType="VARCHAR" property="customername" />
    <result column="CUSTOMERTEL1" jdbcType="VARCHAR" property="customertel1" />
    <result column="CUSTOMERTEL2" jdbcType="VARCHAR" property="customertel2" />
    <result column="CUSTOMEREMAIL" jdbcType="VARCHAR" property="customeremail" />
    <result column="CUSTOMERCOUNTRY" jdbcType="VARCHAR" property="customercountry" />
    <result column="CUSTOMERCOUNTRYCN" jdbcType="VARCHAR" property="customercountrycn" />
    <result column="CUSTOMERCOUNTRYJC" jdbcType="VARCHAR" property="customercountryjc" />
    <result column="CUSTOMERPROVINCE" jdbcType="VARCHAR" property="customerprovince" />
    <result column="CUSTOMERCITY" jdbcType="VARCHAR" property="customercity" />
    <result column="CUSTOMERADDRESS" jdbcType="VARCHAR" property="customeraddress" />
    <result column="CUSTOMERZIPCODE" jdbcType="VARCHAR" property="customerzipcode" />
    <result column="CUSTOMERRESERVE1" jdbcType="VARCHAR" property="customerreserve1" />
    <result column="CUSTOMERRESERVE2" jdbcType="VARCHAR" property="customerreserve2" />
    <result column="CUSTOMERRESERVE3" jdbcType="VARCHAR" property="customerreserve3" />
    <result column="CUSTOMERRESERVE4" jdbcType="DECIMAL" property="customerreserve4" />
    <result column="CUSTOMERRESERVE5" jdbcType="DECIMAL" property="customerreserve5" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="MONEYRATE" jdbcType="DECIMAL" property="moneyrate" />
    <result column="ORIGINORDERMONEY" jdbcType="DECIMAL" property="originordermoney" />
    <result column="ORDERMONEY" jdbcType="DECIMAL" property="ordermoney" />
    <result column="COSTMONEY" jdbcType="DECIMAL" property="costmoney" />
    <result column="ORIGINEXPRESSMONEY" jdbcType="DECIMAL" property="originexpressmoney" />
    <result column="EXPRESSMONEY" jdbcType="DECIMAL" property="expressmoney" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="POSTAGESERVICE" jdbcType="VARCHAR" property="postageservice" />
    <result column="ORDERTIME" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="SELLOPER" jdbcType="VARCHAR" property="selloper" />
    <result column="SKU" jdbcType="VARCHAR" property="sku" />
    <result column="PRODUCT" jdbcType="VARCHAR" property="product" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="NOTEINFO" jdbcType="VARCHAR" property="noteinfo" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="MESSAGECOUNT" jdbcType="DECIMAL" property="messagecount" />
    <result column="MESSAGECONTENT" jdbcType="VARCHAR" property="messagecontent" />
    <result column="UPDATEFLAG" jdbcType="DECIMAL" property="updateflag" />
    <result column="UPDATEDESCR" jdbcType="VARCHAR" property="updatedescr" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="FLAGDESCR" jdbcType="VARCHAR" property="flagdescr" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ORDERID, CORPID, TRADEID, GROUPID, BUYERID, CUSTOMERID, CUSTOMERNAME, CUSTOMERTEL1, 
    CUSTOMERTEL2, CUSTOMEREMAIL, CUSTOMERCOUNTRY, CUSTOMERCOUNTRYCN, CUSTOMERCOUNTRYJC, 
    CUSTOMERPROVINCE, CUSTOMERCITY, CUSTOMERADDRESS, CUSTOMERZIPCODE, CUSTOMERRESERVE1, 
    CUSTOMERRESERVE2, CUSTOMERRESERVE3, CUSTOMERRESERVE4, CUSTOMERRESERVE5, SHOPTYPEID, 
    SHOPTYPE, MONEYTYPE, MONEYRATE, ORIGINORDERMONEY, ORDERMONEY, COSTMONEY, ORIGINEXPRESSMONEY, 
    EXPRESSMONEY, STATUS, POSTAGESERVICE, ORDERTIME, CREATETIME, OPER, OPERTIME, SELLOPER, 
    SKU, PRODUCT, CONTENT, NOTEINFO, OPENFLAG, MESSAGECOUNT, MESSAGECONTENT, UPDATEFLAG, 
    UPDATEDESCR, UPDATETIME, FLAG, FLAGDESCR, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_SMTNEWORDER
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORDERID, CORPID, TRADEID, GROUPID, BUYERID, CUSTOMERID, CUSTOMERNAME, CUSTOMERTEL1, 
    CUSTOMERTEL2, CUSTOMEREMAIL, CUSTOMERCOUNTRY, CUSTOMERCOUNTRYCN, CUSTOMERCOUNTRYJC, 
    CUSTOMERPROVINCE, CUSTOMERCITY, CUSTOMERADDRESS, CUSTOMERZIPCODE, CUSTOMERRESERVE1, 
    CUSTOMERRESERVE2, CUSTOMERRESERVE3, CUSTOMERRESERVE4, CUSTOMERRESERVE5, SHOPTYPEID, 
    SHOPTYPE, MONEYTYPE, MONEYRATE, ORIGINORDERMONEY, ORDERMONEY, COSTMONEY, ORIGINEXPRESSMONEY, 
    EXPRESSMONEY, STATUS, POSTAGESERVICE, ORDERTIME, CREATETIME, OPER, OPERTIME, SELLOPER, 
    SKU, PRODUCT, CONTENT, NOTEINFO, OPENFLAG, MESSAGECOUNT, MESSAGECONTENT, UPDATEFLAG, 
    UPDATEDESCR, UPDATETIME, FLAG, FLAGDESCR, RESERVE1, RESERVE2, RESERVE3, RESERVE4
    from DB_SMTNEWORDER
  </select>
  <sql id="TableName">
    DB_SMTNEWORDER
  </sql>
  <sql id="Values">
     #{orderid,jdbcType=VARCHAR} , 
     #{corpid,jdbcType=VARCHAR} , 
     #{tradeid,jdbcType=VARCHAR} , 
     #{groupid,jdbcType=VARCHAR} , 
     #{buyerid,jdbcType=VARCHAR} , 
     #{customerid,jdbcType=VARCHAR} , 
     #{customername,jdbcType=VARCHAR} , 
     #{customertel1,jdbcType=VARCHAR} , 
     #{customertel2,jdbcType=VARCHAR} , 
     #{customeremail,jdbcType=VARCHAR} , 
     #{customercountry,jdbcType=VARCHAR} , 
     #{customercountrycn,jdbcType=VARCHAR} , 
     #{customercountryjc,jdbcType=VARCHAR} , 
     #{customerprovince,jdbcType=VARCHAR} , 
     #{customercity,jdbcType=VARCHAR} , 
     #{customeraddress,jdbcType=VARCHAR} , 
     #{customerzipcode,jdbcType=VARCHAR} , 
     #{customerreserve1,jdbcType=VARCHAR} , 
     #{customerreserve2,jdbcType=VARCHAR} , 
     #{customerreserve3,jdbcType=VARCHAR} , 
     #{customerreserve4,jdbcType=DECIMAL} , 
     #{customerreserve5,jdbcType=DECIMAL} , 
     #{shoptypeid,jdbcType=VARCHAR} , 
     #{shoptype,jdbcType=VARCHAR} , 
     #{moneytype,jdbcType=VARCHAR} , 
     #{moneyrate,jdbcType=DECIMAL} , 
     #{originordermoney,jdbcType=DECIMAL} , 
     #{ordermoney,jdbcType=DECIMAL} , 
     #{costmoney,jdbcType=DECIMAL} , 
     #{originexpressmoney,jdbcType=DECIMAL} , 
     #{expressmoney,jdbcType=DECIMAL} , 
     #{status,jdbcType=VARCHAR} , 
     #{postageservice,jdbcType=VARCHAR} , 
     #{ordertime,jdbcType=TIMESTAMP} , 
     #{createtime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{selloper,jdbcType=VARCHAR} , 
     #{sku,jdbcType=VARCHAR} , 
     #{product,jdbcType=VARCHAR} , 
     #{content,jdbcType=VARCHAR} , 
     #{noteinfo,jdbcType=VARCHAR} , 
     #{openflag,jdbcType=VARCHAR} , 
     #{messagecount,jdbcType=DECIMAL} , 
     #{messagecontent,jdbcType=VARCHAR} , 
     #{updateflag,jdbcType=DECIMAL} , 
     #{updatedescr,jdbcType=VARCHAR} , 
     #{updatetime,jdbcType=TIMESTAMP} , 
     #{flag,jdbcType=VARCHAR} , 
     #{flagdescr,jdbcType=VARCHAR} , 
     #{reserve1,jdbcType=VARCHAR} , 
     #{reserve2,jdbcType=VARCHAR} , 
     #{reserve3,jdbcType=VARCHAR} , 
     #{reserve4,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    ORDERID , 
    CORPID , 
    TRADEID , 
    GROUPID , 
    BUYERID , 
    CUSTOMERID , 
    CUSTOMERNAME , 
    CUSTOMERTEL1 , 
    CUSTOMERTEL2 , 
    CUSTOMEREMAIL , 
    CUSTOMERCOUNTRY , 
    CUSTOMERCOUNTRYCN , 
    CUSTOMERCOUNTRYJC , 
    CUSTOMERPROVINCE , 
    CUSTOMERCITY , 
    CUSTOMERADDRESS , 
    CUSTOMERZIPCODE , 
    CUSTOMERRESERVE1 , 
    CUSTOMERRESERVE2 , 
    CUSTOMERRESERVE3 , 
    CUSTOMERRESERVE4 , 
    CUSTOMERRESERVE5 , 
    SHOPTYPEID , 
    SHOPTYPE , 
    MONEYTYPE , 
    MONEYRATE , 
    ORIGINORDERMONEY , 
    ORDERMONEY , 
    COSTMONEY , 
    ORIGINEXPRESSMONEY , 
    EXPRESSMONEY , 
    STATUS , 
    POSTAGESERVICE , 
    ORDERTIME , 
    CREATETIME , 
    OPER , 
    OPERTIME , 
    SELLOPER , 
    SKU , 
    PRODUCT , 
    CONTENT , 
    NOTEINFO , 
    OPENFLAG , 
    MESSAGECOUNT , 
    MESSAGECONTENT , 
    UPDATEFLAG , 
    UPDATEDESCR , 
    UPDATETIME , 
    FLAG , 
    FLAGDESCR , 
    RESERVE1 , 
    RESERVE2 , 
    RESERVE3 , 
    RESERVE4 , 
  </sql>
  <sql id="Criteria">
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} and 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} and 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} and 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} and 
    </if>
    <if test="buyerid != null">
      buyerid = #{buyerid,jdbcType=VARCHAR} and 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} and 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} and 
    </if>
    <if test="customertel1 != null">
      customertel1 = #{customertel1,jdbcType=VARCHAR} and 
    </if>
    <if test="customertel2 != null">
      customertel2 = #{customertel2,jdbcType=VARCHAR} and 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountrycn != null">
      customercountrycn = #{customercountrycn,jdbcType=VARCHAR} and 
    </if>
    <if test="customercountryjc != null">
      customercountryjc = #{customercountryjc,jdbcType=VARCHAR} and 
    </if>
    <if test="customerprovince != null">
      customerprovince = #{customerprovince,jdbcType=VARCHAR} and 
    </if>
    <if test="customercity != null">
      customercity = #{customercity,jdbcType=VARCHAR} and 
    </if>
    <if test="customeraddress != null">
      customeraddress = #{customeraddress,jdbcType=VARCHAR} and 
    </if>
    <if test="customerzipcode != null">
      customerzipcode = #{customerzipcode,jdbcType=VARCHAR} and 
    </if>
    <if test="customerreserve1 != null">
      customerreserve1 = #{customerreserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="customerreserve2 != null">
      customerreserve2 = #{customerreserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="customerreserve3 != null">
      customerreserve3 = #{customerreserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="customerreserve4 != null">
      customerreserve4 = #{customerreserve4,jdbcType=DECIMAL} and 
    </if>
    <if test="customerreserve5 != null">
      customerreserve5 = #{customerreserve5,jdbcType=DECIMAL} and 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} and 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} and 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} and 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=DECIMAL} and 
    </if>
    <if test="originordermoney != null">
      originordermoney = #{originordermoney,jdbcType=DECIMAL} and 
    </if>
    <if test="ordermoney != null">
      ordermoney = #{ordermoney,jdbcType=DECIMAL} and 
    </if>
    <if test="costmoney != null">
      costmoney = #{costmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="originexpressmoney != null">
      originexpressmoney = #{originexpressmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="expressmoney != null">
      expressmoney = #{expressmoney,jdbcType=DECIMAL} and 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} and 
    </if>
    <if test="postageservice != null">
      postageservice = #{postageservice,jdbcType=VARCHAR} and 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="selloper != null">
      selloper = #{selloper,jdbcType=VARCHAR} and 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} and 
    </if>
    <if test="product != null">
      product = #{product,jdbcType=VARCHAR} and 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} and 
    </if>
    <if test="noteinfo != null">
      noteinfo = #{noteinfo,jdbcType=VARCHAR} and 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} and 
    </if>
    <if test="messagecount != null">
      messagecount = #{messagecount,jdbcType=DECIMAL} and 
    </if>
    <if test="messagecontent != null">
      messagecontent = #{messagecontent,jdbcType=VARCHAR} and 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=DECIMAL} and 
    </if>
    <if test="updatedescr != null">
      updatedescr = #{updatedescr,jdbcType=VARCHAR} and 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} and 
    </if>
    <if test="flagdescr != null">
      flagdescr = #{flagdescr,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} and 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="orderid != null">
      orderid = #{orderid,jdbcType=VARCHAR} , 
    </if>
    <if test="corpid != null">
      corpid = #{corpid,jdbcType=VARCHAR} , 
    </if>
    <if test="tradeid != null">
      tradeid = #{tradeid,jdbcType=VARCHAR} , 
    </if>
    <if test="groupid != null">
      groupid = #{groupid,jdbcType=VARCHAR} , 
    </if>
    <if test="buyerid != null">
      buyerid = #{buyerid,jdbcType=VARCHAR} , 
    </if>
    <if test="customerid != null">
      customerid = #{customerid,jdbcType=VARCHAR} , 
    </if>
    <if test="customername != null">
      customername = #{customername,jdbcType=VARCHAR} , 
    </if>
    <if test="customertel1 != null">
      customertel1 = #{customertel1,jdbcType=VARCHAR} , 
    </if>
    <if test="customertel2 != null">
      customertel2 = #{customertel2,jdbcType=VARCHAR} , 
    </if>
    <if test="customeremail != null">
      customeremail = #{customeremail,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountry != null">
      customercountry = #{customercountry,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountrycn != null">
      customercountrycn = #{customercountrycn,jdbcType=VARCHAR} , 
    </if>
    <if test="customercountryjc != null">
      customercountryjc = #{customercountryjc,jdbcType=VARCHAR} , 
    </if>
    <if test="customerprovince != null">
      customerprovince = #{customerprovince,jdbcType=VARCHAR} , 
    </if>
    <if test="customercity != null">
      customercity = #{customercity,jdbcType=VARCHAR} , 
    </if>
    <if test="customeraddress != null">
      customeraddress = #{customeraddress,jdbcType=VARCHAR} , 
    </if>
    <if test="customerzipcode != null">
      customerzipcode = #{customerzipcode,jdbcType=VARCHAR} , 
    </if>
    <if test="customerreserve1 != null">
      customerreserve1 = #{customerreserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="customerreserve2 != null">
      customerreserve2 = #{customerreserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="customerreserve3 != null">
      customerreserve3 = #{customerreserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="customerreserve4 != null">
      customerreserve4 = #{customerreserve4,jdbcType=DECIMAL} , 
    </if>
    <if test="customerreserve5 != null">
      customerreserve5 = #{customerreserve5,jdbcType=DECIMAL} , 
    </if>
    <if test="shoptypeid != null">
      shoptypeid = #{shoptypeid,jdbcType=VARCHAR} , 
    </if>
    <if test="shoptype != null">
      shoptype = #{shoptype,jdbcType=VARCHAR} , 
    </if>
    <if test="moneytype != null">
      moneytype = #{moneytype,jdbcType=VARCHAR} , 
    </if>
    <if test="moneyrate != null">
      moneyrate = #{moneyrate,jdbcType=DECIMAL} , 
    </if>
    <if test="originordermoney != null">
      originordermoney = #{originordermoney,jdbcType=DECIMAL} , 
    </if>
    <if test="ordermoney != null">
      ordermoney = #{ordermoney,jdbcType=DECIMAL} , 
    </if>
    <if test="costmoney != null">
      costmoney = #{costmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="originexpressmoney != null">
      originexpressmoney = #{originexpressmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="expressmoney != null">
      expressmoney = #{expressmoney,jdbcType=DECIMAL} , 
    </if>
    <if test="status != null">
      status = #{status,jdbcType=VARCHAR} , 
    </if>
    <if test="postageservice != null">
      postageservice = #{postageservice,jdbcType=VARCHAR} , 
    </if>
    <if test="ordertime != null">
      ordertime = #{ordertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="createtime != null">
      createtime = #{createtime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="selloper != null">
      selloper = #{selloper,jdbcType=VARCHAR} , 
    </if>
    <if test="sku != null">
      sku = #{sku,jdbcType=VARCHAR} , 
    </if>
    <if test="product != null">
      product = #{product,jdbcType=VARCHAR} , 
    </if>
    <if test="content != null">
      content = #{content,jdbcType=VARCHAR} , 
    </if>
    <if test="noteinfo != null">
      noteinfo = #{noteinfo,jdbcType=VARCHAR} , 
    </if>
    <if test="openflag != null">
      openflag = #{openflag,jdbcType=VARCHAR} , 
    </if>
    <if test="messagecount != null">
      messagecount = #{messagecount,jdbcType=DECIMAL} , 
    </if>
    <if test="messagecontent != null">
      messagecontent = #{messagecontent,jdbcType=VARCHAR} , 
    </if>
    <if test="updateflag != null">
      updateflag = #{updateflag,jdbcType=DECIMAL} , 
    </if>
    <if test="updatedescr != null">
      updatedescr = #{updatedescr,jdbcType=VARCHAR} , 
    </if>
    <if test="updatetime != null">
      updatetime = #{updatetime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="flag != null">
      flag = #{flag,jdbcType=VARCHAR} , 
    </if>
    <if test="flagdescr != null">
      flagdescr = #{flagdescr,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve1 != null">
      reserve1 = #{reserve1,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve2 != null">
      reserve2 = #{reserve2,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve3 != null">
      reserve3 = #{reserve3,jdbcType=VARCHAR} , 
    </if>
    <if test="reserve4 != null">
      reserve4 = #{reserve4,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbSmtneworder" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where ORDERID=#{ORDERID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbSmtneworder">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbSmtneworder">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbSmtneworder">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>