<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbStatusconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbStatusconfig">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="STATUSID" jdbcType="DECIMAL" property="statusid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="FOLLOWOPER" jdbcType="VARCHAR" property="followoper" />
    <result column="FOLLOWTIME" jdbcType="TIMESTAMP" property="followtime" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, STATUSID, 'NAME', FLAG, FOLLOWOPER, FOLLOWTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_statusconfig
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from db_statusconfig
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbStatusconfig">
    insert into db_statusconfig (SID, STATUSID, 'NAME', 
      FLAG, FOLLOWOPER, FOLLOWTIME
      )
    values (#{sid,jdbcType=DECIMAL}, #{statusid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{flag,jdbcType=DECIMAL}, #{followoper,jdbcType=VARCHAR}, #{followtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbStatusconfig">
    insert into db_statusconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="statusid != null">
        STATUSID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="followoper != null">
        FOLLOWOPER,
      </if>
      <if test="followtime != null">
        FOLLOWTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="statusid != null">
        #{statusid,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=DECIMAL},
      </if>
      <if test="followoper != null">
        #{followoper,jdbcType=VARCHAR},
      </if>
      <if test="followtime != null">
        #{followtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbStatusconfig">
    update db_statusconfig
    <set>
      <if test="statusid != null">
        STATUSID = #{statusid,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=DECIMAL},
      </if>
      <if test="followoper != null">
        FOLLOWOPER = #{followoper,jdbcType=VARCHAR},
      </if>
      <if test="followtime != null">
        FOLLOWTIME = #{followtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbStatusconfig">
    update db_statusconfig
    set STATUSID = #{statusid,jdbcType=DECIMAL},
      'NAME' = #{name,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=DECIMAL},
      FOLLOWOPER = #{followoper,jdbcType=VARCHAR},
      FOLLOWTIME = #{followtime,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>