<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbTaskcatalogMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbTaskcatalog">
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TASKTYPE" jdbcType="VARCHAR" property="tasktype" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="CLASSES" jdbcType="VARCHAR" property="classes" />
    <result column="FATHERSID" jdbcType="VARCHAR" property="fathersid" />
    <result column="DESCR" jdbcType="CLOB" property="descr" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, TASKTYPE, OPERTIME, OPER, CLASSES, FATHERSID, DESCR
    from DB_TASKCATALOG
  </select>
  <sql id="TableName">
    DB_TASKCATALOG
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{tasktype,jdbcType=VARCHAR} , 
     #{opertime,jdbcType=TIMESTAMP} , 
     #{oper,jdbcType=VARCHAR} , 
     #{classes,jdbcType=VARCHAR} , 
     #{fathersid,jdbcType=VARCHAR} , 
     #{descr,jdbcType=CLOB} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    TASKTYPE , 
    OPERTIME , 
    OPER , 
    CLASSES , 
    FATHERSID , 
    DESCR , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="tasktype != null">
      tasktype = #{tasktype,jdbcType=VARCHAR} and 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} and 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} and 
    </if>
    <if test="classes != null">
      classes = #{classes,jdbcType=VARCHAR} and 
    </if>
    <if test="fathersid != null">
      fathersid = #{fathersid,jdbcType=VARCHAR} and 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=CLOB} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="tasktype != null">
      tasktype = #{tasktype,jdbcType=VARCHAR} , 
    </if>
    <if test="opertime != null">
      opertime = #{opertime,jdbcType=TIMESTAMP} , 
    </if>
    <if test="oper != null">
      oper = #{oper,jdbcType=VARCHAR} , 
    </if>
    <if test="classes != null">
      classes = #{classes,jdbcType=VARCHAR} , 
    </if>
    <if test="fathersid != null">
      fathersid = #{fathersid,jdbcType=VARCHAR} , 
    </if>
    <if test="descr != null">
      descr = #{descr,jdbcType=CLOB} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbTaskcatalog" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbTaskcatalog">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbTaskcatalog">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbTaskcatalog">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>