<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbUbisellerMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbUbiseller">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TOKENTYPE" jdbcType="VARCHAR" property="tokentype" />
    <result column="TOKENID" jdbcType="VARCHAR" property="tokenid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="PROVINCEEN" jdbcType="VARCHAR" property="provinceen" />
    <result column="PROVINCEID" jdbcType="VARCHAR" property="provinceid" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="CITYEN" jdbcType="VARCHAR" property="cityen" />
    <result column="CITYID" jdbcType="VARCHAR" property="cityid" />
    <result column="DISTRICTID" jdbcType="VARCHAR" property="districtid" />
    <result column="COUNTRYID" jdbcType="VARCHAR" property="countryid" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="COUNTRYEN" jdbcType="VARCHAR" property="countryen" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="POSTCODE2" jdbcType="VARCHAR" property="postcode2" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbUbiseller">
    <result column="COMPANY" jdbcType="LONGVARCHAR" property="company" />
    <result column="COMPANYEN" jdbcType="LONGVARCHAR" property="companyen" />
    <result column="CONTACT" jdbcType="LONGVARCHAR" property="contact" />
    <result column="CONTACTEN" jdbcType="LONGVARCHAR" property="contacten" />
    <result column="STREET" jdbcType="LONGVARCHAR" property="street" />
    <result column="STREETEN" jdbcType="LONGVARCHAR" property="streeten" />
    <result column="DISTRICT" jdbcType="LONGVARCHAR" property="district" />
    <result column="DISTRICTEN" jdbcType="LONGVARCHAR" property="districten" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, 'NAME', TOKENTYPE, TOKENID, USERNAME, 'PASSWORD', PROVINCE, PROVINCEEN, PROVINCEID, 
    CITY, CITYEN, CITYID, DISTRICTID, COUNTRYID, COUNTRY, COUNTRYEN, POSTCODE, POSTCODE2, 
    MOBILE, PHONE, EMAIL, OPENFLAG, OPER, OPERTIME, CREATETIME, RESERVE1, RESERVE2, RESERVE3, 
    RESERVE4
  </sql>
  <sql id="Blob_Column_List">
    COMPANY, COMPANYEN, CONTACT, CONTACTEN, STREET, STREETEN, DISTRICT, DISTRICTEN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_ubiseller
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_ubiseller
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbUbiseller">
    insert into db_ubiseller (SID, 'NAME', TOKENTYPE, 
      TOKENID, USERNAME, 'PASSWORD', 
      PROVINCE, PROVINCEEN, PROVINCEID, 
      CITY, CITYEN, CITYID, 
      DISTRICTID, COUNTRYID, COUNTRY, 
      COUNTRYEN, POSTCODE, POSTCODE2, 
      MOBILE, PHONE, EMAIL, 
      OPENFLAG, OPER, OPERTIME, 
      CREATETIME, RESERVE1, RESERVE2, 
      RESERVE3, RESERVE4, COMPANY, 
      COMPANYEN, CONTACT, CONTACTEN, 
      STREET, STREETEN, DISTRICT, 
      DISTRICTEN)
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tokentype,jdbcType=VARCHAR}, 
      #{tokenid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{provinceen,jdbcType=VARCHAR}, #{provinceid,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{cityen,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, 
      #{districtid,jdbcType=VARCHAR}, #{countryid,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{countryen,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{postcode2,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{openflag,jdbcType=VARCHAR}, #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR}, #{reserve4,jdbcType=VARCHAR}, #{company,jdbcType=LONGVARCHAR}, 
      #{companyen,jdbcType=LONGVARCHAR}, #{contact,jdbcType=LONGVARCHAR}, #{contacten,jdbcType=LONGVARCHAR}, 
      #{street,jdbcType=LONGVARCHAR}, #{streeten,jdbcType=LONGVARCHAR}, #{district,jdbcType=LONGVARCHAR}, 
      #{districten,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbUbiseller">
    insert into db_ubiseller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="name != null">
        'NAME',
      </if>
      <if test="tokentype != null">
        TOKENTYPE,
      </if>
      <if test="tokenid != null">
        TOKENID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        'PASSWORD',
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="provinceen != null">
        PROVINCEEN,
      </if>
      <if test="provinceid != null">
        PROVINCEID,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="cityen != null">
        CITYEN,
      </if>
      <if test="cityid != null">
        CITYID,
      </if>
      <if test="districtid != null">
        DISTRICTID,
      </if>
      <if test="countryid != null">
        COUNTRYID,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="countryen != null">
        COUNTRYEN,
      </if>
      <if test="postcode != null">
        POSTCODE,
      </if>
      <if test="postcode2 != null">
        POSTCODE2,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="company != null">
        COMPANY,
      </if>
      <if test="companyen != null">
        COMPANYEN,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="contacten != null">
        CONTACTEN,
      </if>
      <if test="street != null">
        STREET,
      </if>
      <if test="streeten != null">
        STREETEN,
      </if>
      <if test="district != null">
        DISTRICT,
      </if>
      <if test="districten != null">
        DISTRICTEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tokentype != null">
        #{tokentype,jdbcType=VARCHAR},
      </if>
      <if test="tokenid != null">
        #{tokenid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceen != null">
        #{provinceen,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null">
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityen != null">
        #{cityen,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="districtid != null">
        #{districtid,jdbcType=VARCHAR},
      </if>
      <if test="countryid != null">
        #{countryid,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="countryen != null">
        #{countryen,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="postcode2 != null">
        #{postcode2,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyen != null">
        #{companyen,jdbcType=LONGVARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=LONGVARCHAR},
      </if>
      <if test="contacten != null">
        #{contacten,jdbcType=LONGVARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=LONGVARCHAR},
      </if>
      <if test="streeten != null">
        #{streeten,jdbcType=LONGVARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=LONGVARCHAR},
      </if>
      <if test="districten != null">
        #{districten,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbUbiseller">
    update db_ubiseller
    <set>
      <if test="name != null">
        'NAME' = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tokentype != null">
        TOKENTYPE = #{tokentype,jdbcType=VARCHAR},
      </if>
      <if test="tokenid != null">
        TOKENID = #{tokenid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        'PASSWORD' = #{password,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceen != null">
        PROVINCEEN = #{provinceen,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null">
        PROVINCEID = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityen != null">
        CITYEN = #{cityen,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        CITYID = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="districtid != null">
        DISTRICTID = #{districtid,jdbcType=VARCHAR},
      </if>
      <if test="countryid != null">
        COUNTRYID = #{countryid,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="countryen != null">
        COUNTRYEN = #{countryen,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="postcode2 != null">
        POSTCODE2 = #{postcode2,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        COMPANY = #{company,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyen != null">
        COMPANYEN = #{companyen,jdbcType=LONGVARCHAR},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=LONGVARCHAR},
      </if>
      <if test="contacten != null">
        CONTACTEN = #{contacten,jdbcType=LONGVARCHAR},
      </if>
      <if test="street != null">
        STREET = #{street,jdbcType=LONGVARCHAR},
      </if>
      <if test="streeten != null">
        STREETEN = #{streeten,jdbcType=LONGVARCHAR},
      </if>
      <if test="district != null">
        DISTRICT = #{district,jdbcType=LONGVARCHAR},
      </if>
      <if test="districten != null">
        DISTRICTEN = #{districten,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbUbiseller">
    update db_ubiseller
    set 'NAME' = #{name,jdbcType=VARCHAR},
      TOKENTYPE = #{tokentype,jdbcType=VARCHAR},
      TOKENID = #{tokenid,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      'PASSWORD' = #{password,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      PROVINCEEN = #{provinceen,jdbcType=VARCHAR},
      PROVINCEID = #{provinceid,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      CITYEN = #{cityen,jdbcType=VARCHAR},
      CITYID = #{cityid,jdbcType=VARCHAR},
      DISTRICTID = #{districtid,jdbcType=VARCHAR},
      COUNTRYID = #{countryid,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      COUNTRYEN = #{countryen,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      POSTCODE2 = #{postcode2,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=LONGVARCHAR},
      COMPANYEN = #{companyen,jdbcType=LONGVARCHAR},
      CONTACT = #{contact,jdbcType=LONGVARCHAR},
      CONTACTEN = #{contacten,jdbcType=LONGVARCHAR},
      STREET = #{street,jdbcType=LONGVARCHAR},
      STREETEN = #{streeten,jdbcType=LONGVARCHAR},
      DISTRICT = #{district,jdbcType=LONGVARCHAR},
      DISTRICTEN = #{districten,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbUbiseller">
    update db_ubiseller
    set 'NAME' = #{name,jdbcType=VARCHAR},
      TOKENTYPE = #{tokentype,jdbcType=VARCHAR},
      TOKENID = #{tokenid,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      'PASSWORD' = #{password,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      PROVINCEEN = #{provinceen,jdbcType=VARCHAR},
      PROVINCEID = #{provinceid,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      CITYEN = #{cityen,jdbcType=VARCHAR},
      CITYID = #{cityid,jdbcType=VARCHAR},
      DISTRICTID = #{districtid,jdbcType=VARCHAR},
      COUNTRYID = #{countryid,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      COUNTRYEN = #{countryen,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      POSTCODE2 = #{postcode2,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>