<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbUspssellerMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbUspsseller">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS1" jdbcType="VARCHAR" property="address1" />
    <result column="ADDRESS2" jdbcType="VARCHAR" property="address2" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="ZIP5" jdbcType="VARCHAR" property="zip5" />
    <result column="ZIP4" jdbcType="VARCHAR" property="zip4" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="OPENFLAG" jdbcType="VARCHAR" property="openflag" />
    <result column="OPER" jdbcType="VARCHAR" property="oper" />
    <result column="OPERTIME" jdbcType="TIMESTAMP" property="opertime" />
    <result column="CORPID" jdbcType="VARCHAR" property="corpid" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="VARCHAR" property="reserve5" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, USERID, USERNAME, 'PASSWORD', FIRSTNAME, LASTNAME, EMAIL, ADDRESS1, ADDRESS2, 
    CITY, 'STATE', ZIP5, ZIP4, PHONE, OPENFLAG, OPER, OPERTIME, CORPID, RESERVE1, RESERVE2, 
    RESERVE3, RESERVE4, RESERVE5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_uspsseller
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_uspsseller
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbUspsseller">
    insert into db_uspsseller (SID, USERID, USERNAME, 
      'PASSWORD', FIRSTNAME, LASTNAME, 
      EMAIL, ADDRESS1, ADDRESS2, 
      CITY, 'STATE', ZIP5, 
      ZIP4, PHONE, OPENFLAG, 
      OPER, OPERTIME, CORPID, 
      RESERVE1, RESERVE2, RESERVE3, 
      RESERVE4, RESERVE5)
    values (#{sid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address1,jdbcType=VARCHAR}, #{address2,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{zip5,jdbcType=VARCHAR}, 
      #{zip4,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{openflag,jdbcType=VARCHAR}, 
      #{oper,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, #{corpid,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, 
      #{reserve4,jdbcType=VARCHAR}, #{reserve5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbUspsseller">
    insert into db_uspsseller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        'PASSWORD',
      </if>
      <if test="firstname != null">
        FIRSTNAME,
      </if>
      <if test="lastname != null">
        LASTNAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address1 != null">
        ADDRESS1,
      </if>
      <if test="address2 != null">
        ADDRESS2,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="state != null">
        'STATE',
      </if>
      <if test="zip5 != null">
        ZIP5,
      </if>
      <if test="zip4 != null">
        ZIP4,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="openflag != null">
        OPENFLAG,
      </if>
      <if test="oper != null">
        OPER,
      </if>
      <if test="opertime != null">
        OPERTIME,
      </if>
      <if test="corpid != null">
        CORPID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address1 != null">
        #{address1,jdbcType=VARCHAR},
      </if>
      <if test="address2 != null">
        #{address2,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="zip5 != null">
        #{zip5,jdbcType=VARCHAR},
      </if>
      <if test="zip4 != null">
        #{zip4,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbUspsseller">
    update db_uspsseller
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        'PASSWORD' = #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        LASTNAME = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address1 != null">
        ADDRESS1 = #{address1,jdbcType=VARCHAR},
      </if>
      <if test="address2 != null">
        ADDRESS2 = #{address2,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        'STATE' = #{state,jdbcType=VARCHAR},
      </if>
      <if test="zip5 != null">
        ZIP5 = #{zip5,jdbcType=VARCHAR},
      </if>
      <if test="zip4 != null">
        ZIP4 = #{zip4,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openflag != null">
        OPENFLAG = #{openflag,jdbcType=VARCHAR},
      </if>
      <if test="oper != null">
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null">
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="corpid != null">
        CORPID = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbUspsseller">
    update db_uspsseller
    set USERID = #{userid,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      'PASSWORD' = #{password,jdbcType=VARCHAR},
      FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      LASTNAME = #{lastname,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS1 = #{address1,jdbcType=VARCHAR},
      ADDRESS2 = #{address2,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      'STATE' = #{state,jdbcType=VARCHAR},
      ZIP5 = #{zip5,jdbcType=VARCHAR},
      ZIP4 = #{zip4,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      OPENFLAG = #{openflag,jdbcType=VARCHAR},
      OPER = #{oper,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      CORPID = #{corpid,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{reserve3,jdbcType=VARCHAR},
      RESERVE4 = #{reserve4,jdbcType=VARCHAR},
      RESERVE5 = #{reserve5,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>