<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbUsershowconfigMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbUsershowconfig">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="APIID" jdbcType="DECIMAL" property="apiid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="COLUMNAME" jdbcType="VARCHAR" property="columname" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="NEEDFLAG" jdbcType="DECIMAL" property="needflag" />
    <result column="LENGTHFLAG" jdbcType="DECIMAL" property="lengthflag" />
    <result column="FILEDLENGTH" jdbcType="DECIMAL" property="filedlength" />
    <result column="EMAILFLAG" jdbcType="DECIMAL" property="emailflag" />
    <result column="TELFLAG" jdbcType="DECIMAL" property="telflag" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="ORDERTYPE" jdbcType="VARCHAR" property="ordertype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbUsershowconfig">
    <result column="VALUE" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APIID, TITLE, COLUMNAME, SORT, NEEDFLAG, LENGTHFLAG, FILEDLENGTH, EMAILFLAG, 
    TELFLAG, CONTENT, ORDERTYPE
  </sql>
  <sql id="Blob_Column_List">
    'VALUE'
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_usershowconfig
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_usershowconfig
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbUsershowconfig">
    insert into db_usershowconfig (ID, APIID, TITLE, 
      COLUMNAME, SORT, NEEDFLAG, 
      LENGTHFLAG, FILEDLENGTH, EMAILFLAG, 
      TELFLAG, CONTENT, ORDERTYPE, 
      'VALUE')
    values (#{id,jdbcType=DECIMAL}, #{apiid,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, 
      #{columname,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{needflag,jdbcType=DECIMAL}, 
      #{lengthflag,jdbcType=DECIMAL}, #{filedlength,jdbcType=DECIMAL}, #{emailflag,jdbcType=DECIMAL}, 
      #{telflag,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{value,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbUsershowconfig">
    insert into db_usershowconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="apiid != null">
        APIID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="columname != null">
        COLUMNAME,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="needflag != null">
        NEEDFLAG,
      </if>
      <if test="lengthflag != null">
        LENGTHFLAG,
      </if>
      <if test="filedlength != null">
        FILEDLENGTH,
      </if>
      <if test="emailflag != null">
        EMAILFLAG,
      </if>
      <if test="telflag != null">
        TELFLAG,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="ordertype != null">
        ORDERTYPE,
      </if>
      <if test="value != null">
        'VALUE',
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="apiid != null">
        #{apiid,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="columname != null">
        #{columname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="needflag != null">
        #{needflag,jdbcType=DECIMAL},
      </if>
      <if test="lengthflag != null">
        #{lengthflag,jdbcType=DECIMAL},
      </if>
      <if test="filedlength != null">
        #{filedlength,jdbcType=DECIMAL},
      </if>
      <if test="emailflag != null">
        #{emailflag,jdbcType=DECIMAL},
      </if>
      <if test="telflag != null">
        #{telflag,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbUsershowconfig">
    update db_usershowconfig
    <set>
      <if test="apiid != null">
        APIID = #{apiid,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="columname != null">
        COLUMNAME = #{columname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="needflag != null">
        NEEDFLAG = #{needflag,jdbcType=DECIMAL},
      </if>
      <if test="lengthflag != null">
        LENGTHFLAG = #{lengthflag,jdbcType=DECIMAL},
      </if>
      <if test="filedlength != null">
        FILEDLENGTH = #{filedlength,jdbcType=DECIMAL},
      </if>
      <if test="emailflag != null">
        EMAILFLAG = #{emailflag,jdbcType=DECIMAL},
      </if>
      <if test="telflag != null">
        TELFLAG = #{telflag,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        ORDERTYPE = #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        'VALUE' = #{value,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbUsershowconfig">
    update db_usershowconfig
    set APIID = #{apiid,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      COLUMNAME = #{columname,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      NEEDFLAG = #{needflag,jdbcType=DECIMAL},
      LENGTHFLAG = #{lengthflag,jdbcType=DECIMAL},
      FILEDLENGTH = #{filedlength,jdbcType=DECIMAL},
      EMAILFLAG = #{emailflag,jdbcType=DECIMAL},
      TELFLAG = #{telflag,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=VARCHAR},
      ORDERTYPE = #{ordertype,jdbcType=VARCHAR},
      'VALUE' = #{value,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbUsershowconfig">
    update db_usershowconfig
    set APIID = #{apiid,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      COLUMNAME = #{columname,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      NEEDFLAG = #{needflag,jdbcType=DECIMAL},
      LENGTHFLAG = #{lengthflag,jdbcType=DECIMAL},
      FILEDLENGTH = #{filedlength,jdbcType=DECIMAL},
      EMAILFLAG = #{emailflag,jdbcType=DECIMAL},
      TELFLAG = #{telflag,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=VARCHAR},
      ORDERTYPE = #{ordertype,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>