<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbWytexpressMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbWytexpress">
    <id column="DELIVERYWAYID" jdbcType="VARCHAR" property="deliverywayid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CATEGROYID" jdbcType="VARCHAR" property="categroyid" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select DELIVERYWAYID, NAME, CATEGROYID, CATEGORYID
    from DB_WYTEXPRESS
    where DELIVERYWAYID = #{deliverywayid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DELIVERYWAYID, NAME, CATEGROYID, CATEGORYID
    from DB_WYTEXPRESS
  </select>
  <sql id="TableName">
    DB_WYTEXPRESS
  </sql>
  <sql id="Values">
     #{deliverywayid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{categroyid,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    DELIVERYWAYID , 
    NAME , 
    CATEGROYID , 
    CATEGORYID , 
  </sql>
  <sql id="Criteria">
    <if test="deliverywayid != null">
      deliverywayid = #{deliverywayid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="categroyid != null">
      categroyid = #{categroyid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="deliverywayid != null">
      deliverywayid = #{deliverywayid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="categroyid != null">
      categroyid = #{categroyid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbWytexpress" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where DELIVERYWAYID=#{DELIVERYWAYID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbWytexpress">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbWytexpress">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbWytexpress">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>