<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbWytproductMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbWytproduct">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MWAREHOUSEID" jdbcType="VARCHAR" property="mwarehouseid" />
    <result column="QTYONHAND" jdbcType="DECIMAL" property="qtyonhand" />
    <result column="QTYORDERED" jdbcType="DECIMAL" property="qtyordered" />
    <result column="SPECIFICATION" jdbcType="VARCHAR" property="specification" />
    <result column="QTYAVAILABLE" jdbcType="DECIMAL" property="qtyavailable" />
    <result column="QTYSELL" jdbcType="DECIMAL" property="qtysell" />
    <result column="MABANGSKU" jdbcType="VARCHAR" property="mabangsku" />
    <result column="WYTSKU" jdbcType="VARCHAR" property="wytsku" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="CATEGORYNAME" jdbcType="VARCHAR" property="categoryname" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SID, NAME, MWAREHOUSEID, QTYONHAND, QTYORDERED, SPECIFICATION, QTYAVAILABLE, 
    QTYSELL, MABANGSKU, WYTSKU, PRODUCTID, CATEGORYID, CATEGORYNAME
    from DB_WYTPRODUCT
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SID, NAME, MWAREHOUSEID, QTYONHAND, QTYORDERED, SPECIFICATION, QTYAVAILABLE, 
    QTYSELL, MABANGSKU, WYTSKU, PRODUCTID, CATEGORYID, CATEGORYNAME
    from DB_WYTPRODUCT
  </select>
  <sql id="TableName">
    DB_WYTPRODUCT
  </sql>
  <sql id="Values">
     #{sid,jdbcType=VARCHAR} , 
     #{name,jdbcType=VARCHAR} , 
     #{mwarehouseid,jdbcType=VARCHAR} , 
     #{qtyonhand,jdbcType=DECIMAL} , 
     #{qtyordered,jdbcType=DECIMAL} , 
     #{specification,jdbcType=VARCHAR} , 
     #{qtyavailable,jdbcType=DECIMAL} , 
     #{qtysell,jdbcType=DECIMAL} , 
     #{mabangsku,jdbcType=VARCHAR} , 
     #{wytsku,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{categoryid,jdbcType=VARCHAR} , 
     #{categoryname,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SID , 
    NAME , 
    MWAREHOUSEID , 
    QTYONHAND , 
    QTYORDERED , 
    SPECIFICATION , 
    QTYAVAILABLE , 
    QTYSELL , 
    MABANGSKU , 
    WYTSKU , 
    PRODUCTID , 
    CATEGORYID , 
    CATEGORYNAME , 
  </sql>
  <sql id="Criteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} and 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} and 
    </if>
    <if test="mwarehouseid != null">
      mwarehouseid = #{mwarehouseid,jdbcType=VARCHAR} and 
    </if>
    <if test="qtyonhand != null">
      qtyonhand = #{qtyonhand,jdbcType=DECIMAL} and 
    </if>
    <if test="qtyordered != null">
      qtyordered = #{qtyordered,jdbcType=DECIMAL} and 
    </if>
    <if test="specification != null">
      specification = #{specification,jdbcType=VARCHAR} and 
    </if>
    <if test="qtyavailable != null">
      qtyavailable = #{qtyavailable,jdbcType=DECIMAL} and 
    </if>
    <if test="qtysell != null">
      qtysell = #{qtysell,jdbcType=DECIMAL} and 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} and 
    </if>
    <if test="wytsku != null">
      wytsku = #{wytsku,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} and 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sid != null">
      sid = #{sid,jdbcType=VARCHAR} , 
    </if>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR} , 
    </if>
    <if test="mwarehouseid != null">
      mwarehouseid = #{mwarehouseid,jdbcType=VARCHAR} , 
    </if>
    <if test="qtyonhand != null">
      qtyonhand = #{qtyonhand,jdbcType=DECIMAL} , 
    </if>
    <if test="qtyordered != null">
      qtyordered = #{qtyordered,jdbcType=DECIMAL} , 
    </if>
    <if test="specification != null">
      specification = #{specification,jdbcType=VARCHAR} , 
    </if>
    <if test="qtyavailable != null">
      qtyavailable = #{qtyavailable,jdbcType=DECIMAL} , 
    </if>
    <if test="qtysell != null">
      qtysell = #{qtysell,jdbcType=DECIMAL} , 
    </if>
    <if test="mabangsku != null">
      mabangsku = #{mabangsku,jdbcType=VARCHAR} , 
    </if>
    <if test="wytsku != null">
      wytsku = #{wytsku,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryid != null">
      categoryid = #{categoryid,jdbcType=VARCHAR} , 
    </if>
    <if test="categoryname != null">
      categoryname = #{categoryname,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.DbWytproduct" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SID=#{SID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.DbWytproduct">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.DbWytproduct">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.DbWytproduct">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>