<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.DbYwexpresstypeMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.DbYwexpresstype">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="DBPACKAGE" jdbcType="VARCHAR" property="dbpackage" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="A4" jdbcType="DECIMAL" property="a4" />
    <result column="A6" jdbcType="DECIMAL" property="a6" />
    <result column="A7" jdbcType="DECIMAL" property="a7" />
    <result column="CNMINIPARCEL10X10" jdbcType="DECIMAL" property="cnminiparcel10x10" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.DbYwexpresstype">
    <result column="LABELSTR" jdbcType="LONGVARCHAR" property="labelstr" />
  </resultMap>
  <sql id="Base_Column_List">
    SID, EXPRESSTYPE, DBPACKAGE, CURRENCY, A4, A6, A7, CNMINIPARCEL10X10
  </sql>
  <sql id="Blob_Column_List">
    LABELSTR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from db_ywexpresstype
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_ywexpresstype
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.DbYwexpresstype">
    insert into db_ywexpresstype (SID, EXPRESSTYPE, DBPACKAGE, 
      CURRENCY, A4, A6, A7, 
      CNMINIPARCEL10X10, LABELSTR)
    values (#{sid,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, #{dbpackage,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{a4,jdbcType=DECIMAL}, #{a6,jdbcType=DECIMAL}, #{a7,jdbcType=DECIMAL}, 
      #{cnminiparcel10x10,jdbcType=DECIMAL}, #{labelstr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.DbYwexpresstype">
    insert into db_ywexpresstype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="dbpackage != null">
        DBPACKAGE,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="a4 != null">
        A4,
      </if>
      <if test="a6 != null">
        A6,
      </if>
      <if test="a7 != null">
        A7,
      </if>
      <if test="cnminiparcel10x10 != null">
        CNMINIPARCEL10X10,
      </if>
      <if test="labelstr != null">
        LABELSTR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="dbpackage != null">
        #{dbpackage,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="a4 != null">
        #{a4,jdbcType=DECIMAL},
      </if>
      <if test="a6 != null">
        #{a6,jdbcType=DECIMAL},
      </if>
      <if test="a7 != null">
        #{a7,jdbcType=DECIMAL},
      </if>
      <if test="cnminiparcel10x10 != null">
        #{cnminiparcel10x10,jdbcType=DECIMAL},
      </if>
      <if test="labelstr != null">
        #{labelstr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.DbYwexpresstype">
    update db_ywexpresstype
    <set>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="dbpackage != null">
        DBPACKAGE = #{dbpackage,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="a4 != null">
        A4 = #{a4,jdbcType=DECIMAL},
      </if>
      <if test="a6 != null">
        A6 = #{a6,jdbcType=DECIMAL},
      </if>
      <if test="a7 != null">
        A7 = #{a7,jdbcType=DECIMAL},
      </if>
      <if test="cnminiparcel10x10 != null">
        CNMINIPARCEL10X10 = #{cnminiparcel10x10,jdbcType=DECIMAL},
      </if>
      <if test="labelstr != null">
        LABELSTR = #{labelstr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.DbYwexpresstype">
    update db_ywexpresstype
    set EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      DBPACKAGE = #{dbpackage,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      A4 = #{a4,jdbcType=DECIMAL},
      A6 = #{a6,jdbcType=DECIMAL},
      A7 = #{a7,jdbcType=DECIMAL},
      CNMINIPARCEL10X10 = #{cnminiparcel10x10,jdbcType=DECIMAL},
      LABELSTR = #{labelstr,jdbcType=LONGVARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.DbYwexpresstype">
    update db_ywexpresstype
    set EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      DBPACKAGE = #{dbpackage,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      A4 = #{a4,jdbcType=DECIMAL},
      A6 = #{a6,jdbcType=DECIMAL},
      A7 = #{a7,jdbcType=DECIMAL},
      CNMINIPARCEL10X10 = #{cnminiparcel10x10,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>