<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.StatProductShopDailyMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.StatProductShopDaily">
    <result column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="YYYY" jdbcType="VARCHAR" property="yyyy" />
    <result column="YYYYMM" jdbcType="VARCHAR" property="yyyymm" />
    <result column="YYYYMMDD" jdbcType="VARCHAR" property="yyyymmdd" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="COST" jdbcType="DECIMAL" property="cost" />
    <result column="NUMBER1" jdbcType="DECIMAL" property="number1" />
    <result column="NUMBER2" jdbcType="DECIMAL" property="number2" />
    <result column="NUMBER3" jdbcType="DECIMAL" property="number3" />
    <result column="COST1" jdbcType="DECIMAL" property="cost1" />
    <result column="COST2" jdbcType="DECIMAL" property="cost2" />
    <result column="COST3" jdbcType="DECIMAL" property="cost3" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="VARCHAR" property="field3" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEQUENCEID, YYYY, YYYYMM, YYYYMMDD, PRODUCTID, PRODUCTNAME, ORDERNUM, AMOUNT, 
    COST, NUMBER1, NUMBER2, NUMBER3, COST1, COST2, COST3, FIELD1, FIELD2, FIELD3
    from STAT_PRODUCT_SHOP_DAILY
  </select>
  <sql id="TableName">
    STAT_PRODUCT_SHOP_DAILY
  </sql>
  <sql id="Values">
     #{sequenceid,jdbcType=VARCHAR} , 
     #{yyyy,jdbcType=VARCHAR} , 
     #{yyyymm,jdbcType=VARCHAR} , 
     #{yyyymmdd,jdbcType=VARCHAR} , 
     #{productid,jdbcType=VARCHAR} , 
     #{productname,jdbcType=VARCHAR} , 
     #{ordernum,jdbcType=DECIMAL} , 
     #{amount,jdbcType=DECIMAL} , 
     #{cost,jdbcType=DECIMAL} , 
     #{number1,jdbcType=DECIMAL} , 
     #{number2,jdbcType=DECIMAL} , 
     #{number3,jdbcType=DECIMAL} , 
     #{cost1,jdbcType=DECIMAL} , 
     #{cost2,jdbcType=DECIMAL} , 
     #{cost3,jdbcType=DECIMAL} , 
     #{field1,jdbcType=VARCHAR} , 
     #{field2,jdbcType=VARCHAR} , 
     #{field3,jdbcType=VARCHAR} , 
  </sql>
  <sql id="Columns">
    SEQUENCEID , 
    YYYY , 
    YYYYMM , 
    YYYYMMDD , 
    PRODUCTID , 
    PRODUCTNAME , 
    ORDERNUM , 
    AMOUNT , 
    COST , 
    NUMBER1 , 
    NUMBER2 , 
    NUMBER3 , 
    COST1 , 
    COST2 , 
    COST3 , 
    FIELD1 , 
    FIELD2 , 
    FIELD3 , 
  </sql>
  <sql id="Criteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} and 
    </if>
    <if test="yyyy != null">
      yyyy = #{yyyy,jdbcType=VARCHAR} and 
    </if>
    <if test="yyyymm != null">
      yyyymm = #{yyyymm,jdbcType=VARCHAR} and 
    </if>
    <if test="yyyymmdd != null">
      yyyymmdd = #{yyyymmdd,jdbcType=VARCHAR} and 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} and 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} and 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} and 
    </if>
    <if test="amount != null">
      amount = #{amount,jdbcType=DECIMAL} and 
    </if>
    <if test="cost != null">
      cost = #{cost,jdbcType=DECIMAL} and 
    </if>
    <if test="number1 != null">
      number1 = #{number1,jdbcType=DECIMAL} and 
    </if>
    <if test="number2 != null">
      number2 = #{number2,jdbcType=DECIMAL} and 
    </if>
    <if test="number3 != null">
      number3 = #{number3,jdbcType=DECIMAL} and 
    </if>
    <if test="cost1 != null">
      cost1 = #{cost1,jdbcType=DECIMAL} and 
    </if>
    <if test="cost2 != null">
      cost2 = #{cost2,jdbcType=DECIMAL} and 
    </if>
    <if test="cost3 != null">
      cost3 = #{cost3,jdbcType=DECIMAL} and 
    </if>
    <if test="field1 != null">
      field1 = #{field1,jdbcType=VARCHAR} and 
    </if>
    <if test="field2 != null">
      field2 = #{field2,jdbcType=VARCHAR} and 
    </if>
    <if test="field3 != null">
      field3 = #{field3,jdbcType=VARCHAR} and 
    </if>
     1=1
  </sql>
  <sql id="UpdateCriteria">
    <if test="sequenceid != null">
      sequenceid = #{sequenceid,jdbcType=VARCHAR} , 
    </if>
    <if test="yyyy != null">
      yyyy = #{yyyy,jdbcType=VARCHAR} , 
    </if>
    <if test="yyyymm != null">
      yyyymm = #{yyyymm,jdbcType=VARCHAR} , 
    </if>
    <if test="yyyymmdd != null">
      yyyymmdd = #{yyyymmdd,jdbcType=VARCHAR} , 
    </if>
    <if test="productid != null">
      productid = #{productid,jdbcType=VARCHAR} , 
    </if>
    <if test="productname != null">
      productname = #{productname,jdbcType=VARCHAR} , 
    </if>
    <if test="ordernum != null">
      ordernum = #{ordernum,jdbcType=DECIMAL} , 
    </if>
    <if test="amount != null">
      amount = #{amount,jdbcType=DECIMAL} , 
    </if>
    <if test="cost != null">
      cost = #{cost,jdbcType=DECIMAL} , 
    </if>
    <if test="number1 != null">
      number1 = #{number1,jdbcType=DECIMAL} , 
    </if>
    <if test="number2 != null">
      number2 = #{number2,jdbcType=DECIMAL} , 
    </if>
    <if test="number3 != null">
      number3 = #{number3,jdbcType=DECIMAL} , 
    </if>
    <if test="cost1 != null">
      cost1 = #{cost1,jdbcType=DECIMAL} , 
    </if>
    <if test="cost2 != null">
      cost2 = #{cost2,jdbcType=DECIMAL} , 
    </if>
    <if test="cost3 != null">
      cost3 = #{cost3,jdbcType=DECIMAL} , 
    </if>
    <if test="field1 != null">
      field1 = #{field1,jdbcType=VARCHAR} , 
    </if>
    <if test="field2 != null">
      field2 = #{field2,jdbcType=VARCHAR} , 
    </if>
    <if test="field3 != null">
      field3 = #{field3,jdbcType=VARCHAR} , 
    </if>
     1=1
  </sql>
  <select id="selectByCriteria" parameterType="com.bean.model.StatProductShopDaily" resultMap="ResultMapWithBLOBs">
    select <include refid="Columns"/> from <include refid="TableName"/> where <include refid="Criteria"/> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from <include refid="TableName"/> where SEQUENCEID=#{SEQUENCEID}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.bean.model.StatProductShopDaily">
    delete from <include refid="TableName"/> where <include refid="Criteria"/>
  </delete>
  <insert id="insertByCriteria" parameterType="com.bean.model.StatProductShopDaily">
    insert into <include refid="TableName"/>(<include refid="Columns"/>) values(<include refid="Values"/>)
  </insert>
  <update id="updateByCriteria" parameterType="com.bean.model.StatProductShopDaily">
    update <include refid="TableName"/> set <include refid="UpdateCriteria"/> where <include refid="Criteria"/>
  </update>
</mapper>