<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.StatProductdetilDailyMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.StatProductdetilDaily">
    <id column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="YYYY" jdbcType="VARCHAR" property="yyyy" />
    <result column="YYYYMM" jdbcType="VARCHAR" property="yyyymm" />
    <result column="YYYYMMDD" jdbcType="VARCHAR" property="yyyymmdd" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname" />
    <result column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="OPER1" jdbcType="VARCHAR" property="oper1" />
    <result column="OPER2" jdbcType="VARCHAR" property="oper2" />
    <result column="OPER3" jdbcType="VARCHAR" property="oper3" />
    <result column="OPER4" jdbcType="VARCHAR" property="oper4" />
    <result column="OPER5" jdbcType="VARCHAR" property="oper5" />
    <result column="OPER6" jdbcType="VARCHAR" property="oper6" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
    <result column="ORDERPRICE" jdbcType="DECIMAL" property="orderprice" />
    <result column="SKUSELLPRICE" jdbcType="DECIMAL" property="skusellprice" />
    <result column="ORDERNUM" jdbcType="DECIMAL" property="ordernum" />
    <result column="SKUALLPRICE" jdbcType="DECIMAL" property="skuallprice" />
    <result column="ORDEREXPRESSRATE" jdbcType="DECIMAL" property="orderexpressrate" />
    <result column="SKUEXPRESSRATE" jdbcType="DECIMAL" property="skuexpressrate" />
    <result column="EBAYORDERRATE" jdbcType="DECIMAL" property="ebayorderrate" />
    <result column="EBAYSKURATE" jdbcType="DECIMAL" property="ebayskurate" />
    <result column="ORDERPAYPALRATE" jdbcType="DECIMAL" property="orderpaypalrate" />
    <result column="SKUPAYPALRATE" jdbcType="DECIMAL" property="skupaypalrate" />
    <result column="ORDERWEIGHT" jdbcType="DECIMAL" property="orderweight" />
    <result column="EXPRESSTYPEID" jdbcType="VARCHAR" property="expresstypeid" />
    <result column="EXPRESSTYPE" jdbcType="VARCHAR" property="expresstype" />
    <result column="ORDEREXPRESSTYPERATE" jdbcType="DECIMAL" property="orderexpresstyperate" />
    <result column="SKUEXPRESSTYPERATE" jdbcType="DECIMAL" property="skuexpresstyperate" />
    <result column="PRODUCTWEIGHT" jdbcType="DECIMAL" property="productweight" />
    <result column="PRODUCTLOCATIONID" jdbcType="VARCHAR" property="productlocationid" />
    <result column="MANUFACTURE" jdbcType="VARCHAR" property="manufacture" />
    <result column="MANUFACTUREID" jdbcType="VARCHAR" property="manufactureid" />
    <result column="PRODUCTSTORAGE" jdbcType="VARCHAR" property="productstorage" />
    <result column="PRODUCTSTATUS" jdbcType="VARCHAR" property="productstatus" />
    <result column="PRODUCTCOSTPRICE" jdbcType="DECIMAL" property="productcostprice" />
    <result column="SHOPTYPE" jdbcType="VARCHAR" property="shoptype" />
    <result column="SHOPTYPEID" jdbcType="VARCHAR" property="shoptypeid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bean.model.StatProductdetilDaily">
    <result column="RESERVE1" jdbcType="LONGVARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="LONGVARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="LONGVARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="LONGVARCHAR" property="reserve4" />
    <result column="RESERVE5" jdbcType="LONGVARCHAR" property="reserve5" />
  </resultMap>
  <sql id="Base_Column_List">
    SEQUENCEID, YYYY, YYYYMM, YYYYMMDD, PRODUCTID, PRODUCTNAME, CATEGORYID, OPER1, OPER2, 
    OPER3, OPER4, OPER5, OPER6, ORDERID, ORDERPRICE, SKUSELLPRICE, ORDERNUM, SKUALLPRICE, 
    ORDEREXPRESSRATE, SKUEXPRESSRATE, EBAYORDERRATE, EBAYSKURATE, ORDERPAYPALRATE, SKUPAYPALRATE, 
    ORDERWEIGHT, EXPRESSTYPEID, EXPRESSTYPE, ORDEREXPRESSTYPERATE, SKUEXPRESSTYPERATE, 
    PRODUCTWEIGHT, PRODUCTLOCATIONID, MANUFACTURE, MANUFACTUREID, PRODUCTSTORAGE, PRODUCTSTATUS, 
    PRODUCTCOSTPRICE, SHOPTYPE, SHOPTYPEID
  </sql>
  <sql id="Blob_Column_List">
    RESERVE1, RESERVE2, RESERVE3, RESERVE4, RESERVE5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stat_productdetil_daily
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stat_productdetil_daily
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bean.model.StatProductdetilDaily">
    insert into stat_productdetil_daily (SEQUENCEID, YYYY, YYYYMM, 
      YYYYMMDD, PRODUCTID, PRODUCTNAME, 
      CATEGORYID, OPER1, OPER2, 
      OPER3, OPER4, OPER5, 
      OPER6, ORDERID, ORDERPRICE, 
      SKUSELLPRICE, ORDERNUM, SKUALLPRICE, 
      ORDEREXPRESSRATE, SKUEXPRESSRATE, EBAYORDERRATE, 
      EBAYSKURATE, ORDERPAYPALRATE, SKUPAYPALRATE, 
      ORDERWEIGHT, EXPRESSTYPEID, EXPRESSTYPE, 
      ORDEREXPRESSTYPERATE, SKUEXPRESSTYPERATE, 
      PRODUCTWEIGHT, PRODUCTLOCATIONID, MANUFACTURE, 
      MANUFACTUREID, PRODUCTSTORAGE, PRODUCTSTATUS, 
      PRODUCTCOSTPRICE, SHOPTYPE, SHOPTYPEID, 
      RESERVE1, RESERVE2, RESERVE3, 
      RESERVE4, RESERVE5)
    values (#{sequenceid,jdbcType=VARCHAR}, #{yyyy,jdbcType=VARCHAR}, #{yyyymm,jdbcType=VARCHAR}, 
      #{yyyymmdd,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR}, 
      #{categoryid,jdbcType=VARCHAR}, #{oper1,jdbcType=VARCHAR}, #{oper2,jdbcType=VARCHAR}, 
      #{oper3,jdbcType=VARCHAR}, #{oper4,jdbcType=VARCHAR}, #{oper5,jdbcType=VARCHAR}, 
      #{oper6,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{orderprice,jdbcType=DECIMAL}, 
      #{skusellprice,jdbcType=DECIMAL}, #{ordernum,jdbcType=DECIMAL}, #{skuallprice,jdbcType=DECIMAL}, 
      #{orderexpressrate,jdbcType=DECIMAL}, #{skuexpressrate,jdbcType=DECIMAL}, #{ebayorderrate,jdbcType=DECIMAL}, 
      #{ebayskurate,jdbcType=DECIMAL}, #{orderpaypalrate,jdbcType=DECIMAL}, #{skupaypalrate,jdbcType=DECIMAL}, 
      #{orderweight,jdbcType=DECIMAL}, #{expresstypeid,jdbcType=VARCHAR}, #{expresstype,jdbcType=VARCHAR}, 
      #{orderexpresstyperate,jdbcType=DECIMAL}, #{skuexpresstyperate,jdbcType=DECIMAL}, 
      #{productweight,jdbcType=DECIMAL}, #{productlocationid,jdbcType=VARCHAR}, #{manufacture,jdbcType=VARCHAR}, 
      #{manufactureid,jdbcType=VARCHAR}, #{productstorage,jdbcType=VARCHAR}, #{productstatus,jdbcType=VARCHAR}, 
      #{productcostprice,jdbcType=DECIMAL}, #{shoptype,jdbcType=VARCHAR}, #{shoptypeid,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=LONGVARCHAR}, #{reserve2,jdbcType=LONGVARCHAR}, #{reserve3,jdbcType=LONGVARCHAR}, 
      #{reserve4,jdbcType=LONGVARCHAR}, #{reserve5,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.StatProductdetilDaily">
    insert into stat_productdetil_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="yyyy != null">
        YYYY,
      </if>
      <if test="yyyymm != null">
        YYYYMM,
      </if>
      <if test="yyyymmdd != null">
        YYYYMMDD,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="productname != null">
        PRODUCTNAME,
      </if>
      <if test="categoryid != null">
        CATEGORYID,
      </if>
      <if test="oper1 != null">
        OPER1,
      </if>
      <if test="oper2 != null">
        OPER2,
      </if>
      <if test="oper3 != null">
        OPER3,
      </if>
      <if test="oper4 != null">
        OPER4,
      </if>
      <if test="oper5 != null">
        OPER5,
      </if>
      <if test="oper6 != null">
        OPER6,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="orderprice != null">
        ORDERPRICE,
      </if>
      <if test="skusellprice != null">
        SKUSELLPRICE,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="skuallprice != null">
        SKUALLPRICE,
      </if>
      <if test="orderexpressrate != null">
        ORDEREXPRESSRATE,
      </if>
      <if test="skuexpressrate != null">
        SKUEXPRESSRATE,
      </if>
      <if test="ebayorderrate != null">
        EBAYORDERRATE,
      </if>
      <if test="ebayskurate != null">
        EBAYSKURATE,
      </if>
      <if test="orderpaypalrate != null">
        ORDERPAYPALRATE,
      </if>
      <if test="skupaypalrate != null">
        SKUPAYPALRATE,
      </if>
      <if test="orderweight != null">
        ORDERWEIGHT,
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID,
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE,
      </if>
      <if test="orderexpresstyperate != null">
        ORDEREXPRESSTYPERATE,
      </if>
      <if test="skuexpresstyperate != null">
        SKUEXPRESSTYPERATE,
      </if>
      <if test="productweight != null">
        PRODUCTWEIGHT,
      </if>
      <if test="productlocationid != null">
        PRODUCTLOCATIONID,
      </if>
      <if test="manufacture != null">
        MANUFACTURE,
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID,
      </if>
      <if test="productstorage != null">
        PRODUCTSTORAGE,
      </if>
      <if test="productstatus != null">
        PRODUCTSTATUS,
      </if>
      <if test="productcostprice != null">
        PRODUCTCOSTPRICE,
      </if>
      <if test="shoptype != null">
        SHOPTYPE,
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="reserve4 != null">
        RESERVE4,
      </if>
      <if test="reserve5 != null">
        RESERVE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="yyyy != null">
        #{yyyy,jdbcType=VARCHAR},
      </if>
      <if test="yyyymm != null">
        #{yyyymm,jdbcType=VARCHAR},
      </if>
      <if test="yyyymmdd != null">
        #{yyyymmdd,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="oper1 != null">
        #{oper1,jdbcType=VARCHAR},
      </if>
      <if test="oper2 != null">
        #{oper2,jdbcType=VARCHAR},
      </if>
      <if test="oper3 != null">
        #{oper3,jdbcType=VARCHAR},
      </if>
      <if test="oper4 != null">
        #{oper4,jdbcType=VARCHAR},
      </if>
      <if test="oper5 != null">
        #{oper5,jdbcType=VARCHAR},
      </if>
      <if test="oper6 != null">
        #{oper6,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="orderprice != null">
        #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="skusellprice != null">
        #{skusellprice,jdbcType=DECIMAL},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="skuallprice != null">
        #{skuallprice,jdbcType=DECIMAL},
      </if>
      <if test="orderexpressrate != null">
        #{orderexpressrate,jdbcType=DECIMAL},
      </if>
      <if test="skuexpressrate != null">
        #{skuexpressrate,jdbcType=DECIMAL},
      </if>
      <if test="ebayorderrate != null">
        #{ebayorderrate,jdbcType=DECIMAL},
      </if>
      <if test="ebayskurate != null">
        #{ebayskurate,jdbcType=DECIMAL},
      </if>
      <if test="orderpaypalrate != null">
        #{orderpaypalrate,jdbcType=DECIMAL},
      </if>
      <if test="skupaypalrate != null">
        #{skupaypalrate,jdbcType=DECIMAL},
      </if>
      <if test="orderweight != null">
        #{orderweight,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        #{expresstypeid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="orderexpresstyperate != null">
        #{orderexpresstyperate,jdbcType=DECIMAL},
      </if>
      <if test="skuexpresstyperate != null">
        #{skuexpresstyperate,jdbcType=DECIMAL},
      </if>
      <if test="productweight != null">
        #{productweight,jdbcType=DECIMAL},
      </if>
      <if test="productlocationid != null">
        #{productlocationid,jdbcType=VARCHAR},
      </if>
      <if test="manufacture != null">
        #{manufacture,jdbcType=VARCHAR},
      </if>
      <if test="manufactureid != null">
        #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="productstorage != null">
        #{productstorage,jdbcType=VARCHAR},
      </if>
      <if test="productstatus != null">
        #{productstatus,jdbcType=VARCHAR},
      </if>
      <if test="productcostprice != null">
        #{productcostprice,jdbcType=DECIMAL},
      </if>
      <if test="shoptype != null">
        #{shoptype,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        #{reserve4,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve5 != null">
        #{reserve5,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.StatProductdetilDaily">
    update stat_productdetil_daily
    <set>
      <if test="yyyy != null">
        YYYY = #{yyyy,jdbcType=VARCHAR},
      </if>
      <if test="yyyymm != null">
        YYYYMM = #{yyyymm,jdbcType=VARCHAR},
      </if>
      <if test="yyyymmdd != null">
        YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        PRODUCTNAME = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="oper1 != null">
        OPER1 = #{oper1,jdbcType=VARCHAR},
      </if>
      <if test="oper2 != null">
        OPER2 = #{oper2,jdbcType=VARCHAR},
      </if>
      <if test="oper3 != null">
        OPER3 = #{oper3,jdbcType=VARCHAR},
      </if>
      <if test="oper4 != null">
        OPER4 = #{oper4,jdbcType=VARCHAR},
      </if>
      <if test="oper5 != null">
        OPER5 = #{oper5,jdbcType=VARCHAR},
      </if>
      <if test="oper6 != null">
        OPER6 = #{oper6,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="orderprice != null">
        ORDERPRICE = #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="skusellprice != null">
        SKUSELLPRICE = #{skusellprice,jdbcType=DECIMAL},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="skuallprice != null">
        SKUALLPRICE = #{skuallprice,jdbcType=DECIMAL},
      </if>
      <if test="orderexpressrate != null">
        ORDEREXPRESSRATE = #{orderexpressrate,jdbcType=DECIMAL},
      </if>
      <if test="skuexpressrate != null">
        SKUEXPRESSRATE = #{skuexpressrate,jdbcType=DECIMAL},
      </if>
      <if test="ebayorderrate != null">
        EBAYORDERRATE = #{ebayorderrate,jdbcType=DECIMAL},
      </if>
      <if test="ebayskurate != null">
        EBAYSKURATE = #{ebayskurate,jdbcType=DECIMAL},
      </if>
      <if test="orderpaypalrate != null">
        ORDERPAYPALRATE = #{orderpaypalrate,jdbcType=DECIMAL},
      </if>
      <if test="skupaypalrate != null">
        SKUPAYPALRATE = #{skupaypalrate,jdbcType=DECIMAL},
      </if>
      <if test="orderweight != null">
        ORDERWEIGHT = #{orderweight,jdbcType=DECIMAL},
      </if>
      <if test="expresstypeid != null">
        EXPRESSTYPEID = #{expresstypeid,jdbcType=VARCHAR},
      </if>
      <if test="expresstype != null">
        EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      </if>
      <if test="orderexpresstyperate != null">
        ORDEREXPRESSTYPERATE = #{orderexpresstyperate,jdbcType=DECIMAL},
      </if>
      <if test="skuexpresstyperate != null">
        SKUEXPRESSTYPERATE = #{skuexpresstyperate,jdbcType=DECIMAL},
      </if>
      <if test="productweight != null">
        PRODUCTWEIGHT = #{productweight,jdbcType=DECIMAL},
      </if>
      <if test="productlocationid != null">
        PRODUCTLOCATIONID = #{productlocationid,jdbcType=VARCHAR},
      </if>
      <if test="manufacture != null">
        MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      </if>
      <if test="manufactureid != null">
        MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      </if>
      <if test="productstorage != null">
        PRODUCTSTORAGE = #{productstorage,jdbcType=VARCHAR},
      </if>
      <if test="productstatus != null">
        PRODUCTSTATUS = #{productstatus,jdbcType=VARCHAR},
      </if>
      <if test="productcostprice != null">
        PRODUCTCOSTPRICE = #{productcostprice,jdbcType=DECIMAL},
      </if>
      <if test="shoptype != null">
        SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      </if>
      <if test="shoptypeid != null">
        SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve2 != null">
        RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve3 != null">
        RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve4 != null">
        RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR},
      </if>
      <if test="reserve5 != null">
        RESERVE5 = #{reserve5,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bean.model.StatProductdetilDaily">
    update stat_productdetil_daily
    set YYYY = #{yyyy,jdbcType=VARCHAR},
      YYYYMM = #{yyyymm,jdbcType=VARCHAR},
      YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      PRODUCTNAME = #{productname,jdbcType=VARCHAR},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      OPER1 = #{oper1,jdbcType=VARCHAR},
      OPER2 = #{oper2,jdbcType=VARCHAR},
      OPER3 = #{oper3,jdbcType=VARCHAR},
      OPER4 = #{oper4,jdbcType=VARCHAR},
      OPER5 = #{oper5,jdbcType=VARCHAR},
      OPER6 = #{oper6,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      ORDERPRICE = #{orderprice,jdbcType=DECIMAL},
      SKUSELLPRICE = #{skusellprice,jdbcType=DECIMAL},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      SKUALLPRICE = #{skuallprice,jdbcType=DECIMAL},
      ORDEREXPRESSRATE = #{orderexpressrate,jdbcType=DECIMAL},
      SKUEXPRESSRATE = #{skuexpressrate,jdbcType=DECIMAL},
      EBAYORDERRATE = #{ebayorderrate,jdbcType=DECIMAL},
      EBAYSKURATE = #{ebayskurate,jdbcType=DECIMAL},
      ORDERPAYPALRATE = #{orderpaypalrate,jdbcType=DECIMAL},
      SKUPAYPALRATE = #{skupaypalrate,jdbcType=DECIMAL},
      ORDERWEIGHT = #{orderweight,jdbcType=DECIMAL},
      EXPRESSTYPEID = #{expresstypeid,jdbcType=VARCHAR},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      ORDEREXPRESSTYPERATE = #{orderexpresstyperate,jdbcType=DECIMAL},
      SKUEXPRESSTYPERATE = #{skuexpresstyperate,jdbcType=DECIMAL},
      PRODUCTWEIGHT = #{productweight,jdbcType=DECIMAL},
      PRODUCTLOCATIONID = #{productlocationid,jdbcType=VARCHAR},
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      PRODUCTSTORAGE = #{productstorage,jdbcType=VARCHAR},
      PRODUCTSTATUS = #{productstatus,jdbcType=VARCHAR},
      PRODUCTCOSTPRICE = #{productcostprice,jdbcType=DECIMAL},
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR},
      RESERVE1 = #{reserve1,jdbcType=LONGVARCHAR},
      RESERVE2 = #{reserve2,jdbcType=LONGVARCHAR},
      RESERVE3 = #{reserve3,jdbcType=LONGVARCHAR},
      RESERVE4 = #{reserve4,jdbcType=LONGVARCHAR},
      RESERVE5 = #{reserve5,jdbcType=LONGVARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.StatProductdetilDaily">
    update stat_productdetil_daily
    set YYYY = #{yyyy,jdbcType=VARCHAR},
      YYYYMM = #{yyyymm,jdbcType=VARCHAR},
      YYYYMMDD = #{yyyymmdd,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      PRODUCTNAME = #{productname,jdbcType=VARCHAR},
      CATEGORYID = #{categoryid,jdbcType=VARCHAR},
      OPER1 = #{oper1,jdbcType=VARCHAR},
      OPER2 = #{oper2,jdbcType=VARCHAR},
      OPER3 = #{oper3,jdbcType=VARCHAR},
      OPER4 = #{oper4,jdbcType=VARCHAR},
      OPER5 = #{oper5,jdbcType=VARCHAR},
      OPER6 = #{oper6,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      ORDERPRICE = #{orderprice,jdbcType=DECIMAL},
      SKUSELLPRICE = #{skusellprice,jdbcType=DECIMAL},
      ORDERNUM = #{ordernum,jdbcType=DECIMAL},
      SKUALLPRICE = #{skuallprice,jdbcType=DECIMAL},
      ORDEREXPRESSRATE = #{orderexpressrate,jdbcType=DECIMAL},
      SKUEXPRESSRATE = #{skuexpressrate,jdbcType=DECIMAL},
      EBAYORDERRATE = #{ebayorderrate,jdbcType=DECIMAL},
      EBAYSKURATE = #{ebayskurate,jdbcType=DECIMAL},
      ORDERPAYPALRATE = #{orderpaypalrate,jdbcType=DECIMAL},
      SKUPAYPALRATE = #{skupaypalrate,jdbcType=DECIMAL},
      ORDERWEIGHT = #{orderweight,jdbcType=DECIMAL},
      EXPRESSTYPEID = #{expresstypeid,jdbcType=VARCHAR},
      EXPRESSTYPE = #{expresstype,jdbcType=VARCHAR},
      ORDEREXPRESSTYPERATE = #{orderexpresstyperate,jdbcType=DECIMAL},
      SKUEXPRESSTYPERATE = #{skuexpresstyperate,jdbcType=DECIMAL},
      PRODUCTWEIGHT = #{productweight,jdbcType=DECIMAL},
      PRODUCTLOCATIONID = #{productlocationid,jdbcType=VARCHAR},
      MANUFACTURE = #{manufacture,jdbcType=VARCHAR},
      MANUFACTUREID = #{manufactureid,jdbcType=VARCHAR},
      PRODUCTSTORAGE = #{productstorage,jdbcType=VARCHAR},
      PRODUCTSTATUS = #{productstatus,jdbcType=VARCHAR},
      PRODUCTCOSTPRICE = #{productcostprice,jdbcType=DECIMAL},
      SHOPTYPE = #{shoptype,jdbcType=VARCHAR},
      SHOPTYPEID = #{shoptypeid,jdbcType=VARCHAR}
    where SEQUENCEID = #{sequenceid,jdbcType=VARCHAR}
  </update>
</mapper>