<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.StatMoneyDailyMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.StatMoneyDaily">
    <result column="SEQUENCEID" jdbcType="VARCHAR" property="sequenceid" />
    <result column="YYYY" jdbcType="VARCHAR" property="yyyy" />
    <result column="YYYYMM" jdbcType="VARCHAR" property="yyyymm" />
    <result column="YYYYMMDD" jdbcType="VARCHAR" property="yyyymmdd" />
    <result column="MONEYTYPE" jdbcType="VARCHAR" property="moneytype" />
    <result column="ALLMONEY" jdbcType="VARCHAR" property="allmoney" />
    <result column="PRODUCTID" jdbcType="VARCHAR" property="productid" />
    <result column="SHOPID" jdbcType="VARCHAR" property="shopid" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="VARCHAR" property="field3" />
  </resultMap>
  <insert id="insert" parameterType="com.bean.model.StatMoneyDaily">
    insert into stat_money_daily (SEQUENCEID, YYYY, YYYYMM, 
      YYYYMMDD, MONEYTYPE, ALLMONEY, 
      PRODUCTID, SHOPID, FIELD1, 
      FIELD2, FIELD3)
    values (#{sequenceid,jdbcType=VARCHAR}, #{yyyy,jdbcType=VARCHAR}, #{yyyymm,jdbcType=VARCHAR}, 
      #{yyyymmdd,jdbcType=VARCHAR}, #{moneytype,jdbcType=VARCHAR}, #{allmoney,jdbcType=VARCHAR}, 
      #{productid,jdbcType=VARCHAR}, #{shopid,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, 
      #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.model.StatMoneyDaily">
    insert into stat_money_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        SEQUENCEID,
      </if>
      <if test="yyyy != null">
        YYYY,
      </if>
      <if test="yyyymm != null">
        YYYYMM,
      </if>
      <if test="yyyymmdd != null">
        YYYYMMDD,
      </if>
      <if test="moneytype != null">
        MONEYTYPE,
      </if>
      <if test="allmoney != null">
        ALLMONEY,
      </if>
      <if test="productid != null">
        PRODUCTID,
      </if>
      <if test="shopid != null">
        SHOPID,
      </if>
      <if test="field1 != null">
        FIELD1,
      </if>
      <if test="field2 != null">
        FIELD2,
      </if>
      <if test="field3 != null">
        FIELD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceid != null">
        #{sequenceid,jdbcType=VARCHAR},
      </if>
      <if test="yyyy != null">
        #{yyyy,jdbcType=VARCHAR},
      </if>
      <if test="yyyymm != null">
        #{yyyymm,jdbcType=VARCHAR},
      </if>
      <if test="yyyymmdd != null">
        #{yyyymmdd,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null">
        #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="allmoney != null">
        #{allmoney,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>